Repository saleor/apps, changes with the labels that .github/labeler.yml gives for each.
All labels: App: Klaviyo, App: Product Feed, App: Search, App: AvaTax, App: CMS, App: SMTP, App: Segment, App Payment: Stripe

Fix eslint in logger pkg
  packages/logger/eslint.config.js
  packages/logger/src/logger-sentry-transport.ts
  packages/logger/src/root-logger.ts
Labels: none

Webhook Secret VO
  apps/stripe/src/__tests__/mocks/app-config-repo.ts
  apps/stripe/src/__tests__/mocks/constants.ts
  apps/stripe/src/app/api/stripe/webhook/use-case.ts
  apps/stripe/src/modules/app-config/file-app-config-repo.test.ts
  apps/stripe/src/modules/app-config/file-app-config-repo.ts
  apps/stripe/src/modules/app-config/stripe-config.test.ts
  apps/stripe/src/modules/app-config/stripe-config.ts
  apps/stripe/src/modules/stripe/errors.ts
  apps/stripe/src/modules/stripe/stripe-webhook-secret.ts
Labels: App Payment: Stripe

tests, cr
  apps/stripe/src/__tests__/mocks/constants.ts
  apps/stripe/src/__tests__/mocks/stripe-webhook-secret.ts
  apps/stripe/src/app/api/saleor/transaction-initialize-session/use-case.ts
  apps/stripe/src/app/api/stripe/webhook/stripe-signature-header.test.ts
  apps/stripe/src/app/api/stripe/webhook/stripe-signature-header.ts
  apps/stripe/src/app/api/stripe/webhook/stripe-webhook-event-parser.ts
  apps/stripe/src/app/api/stripe/webhook/use-case.ts
  apps/stripe/src/app/api/stripe/webhook/webhook-params.test.ts
  apps/stripe/src/app/api/stripe/webhook/webhook-params.ts
  apps/stripe/src/lib/errors.ts
  apps/stripe/src/modules/stripe/errors.ts
  apps/stripe/src/modules/stripe/stripe-webhook-secret.test.ts
  apps/stripe/src/modules/stripe/stripe-webhook-signature-validator.ts
  apps/stripe/src/modules/stripe/types.ts
Labels: App Payment: Stripe

tests
  apps/stripe/src/app/api/stripe/webhook/stripe-webhook-event-parser.test.ts
  apps/stripe/src/app/api/stripe/webhook/stripe-webhook-event-parser.ts
  apps/stripe/src/modules/stripe/types.ts
Labels: App Payment: Stripe

Fix eslint in logger pkg (#1855)
  packages/logger/eslint.config.js
  packages/logger/src/logger-sentry-transport.ts
  packages/logger/src/root-logger.ts
Labels: none

Fix eslint in logger pkg (#1855)
  packages/logger/eslint.config.js
  packages/logger/src/logger-sentry-transport.ts
  packages/logger/src/root-logger.ts
Labels: none

tests
  apps/stripe/src/__tests__/mocks/app-config-repo.ts
  apps/stripe/src/__tests__/mocks/constants.ts
  apps/stripe/src/__tests__/mocks/mock-auth-data.ts
  apps/stripe/src/app/api/stripe/webhook/route.ts
  apps/stripe/src/app/api/stripe/webhook/stripe-webhook-event-parser.test.ts
  apps/stripe/src/app/api/stripe/webhook/stripe-webhook-event-parser.ts
  apps/stripe/src/app/api/stripe/webhook/stripe-webhook-response.ts
  apps/stripe/src/app/api/stripe/webhook/use-case.test.ts
  apps/stripe/src/app/api/stripe/webhook/use-case.ts
  apps/stripe/src/app/api/stripe/webhook/webhook-params.ts
  apps/stripe/src/modules/app-config/file-app-config-repo.test.ts
  apps/stripe/src/modules/app-config/file-app-config-repo.ts
  apps/stripe/src/modules/app-config/stripe-config.test.ts
  apps/stripe/src/modules/stripe/stripe-webhook-signature-validator.ts
  apps/stripe/src/modules/stripe/types.ts
Labels: App Payment: Stripe

fix cr
  apps/stripe/src/modules/app-config/file-app-config-repo.ts
Labels: App Payment: Stripe

Add handlebars-helpers with tests and configuration for text transformation
  .changeset/eight-bottles-drop.md
  apps/products-feed/next.config.ts
  apps/products-feed/package.json
  apps/products-feed/src/modules/handlebarsTemplates/render-handlebars-template.test.ts
  apps/products-feed/src/modules/handlebarsTemplates/render-handlebars-template.ts
  apps/products-feed/src/pages/configuration.tsx
  pnpm-lock.yaml
Labels: App: Product Feed

Stripe webhook: basic implementation (#1854)
  apps/stripe/src/__tests__/mocks/app-config-repo.ts
  apps/stripe/src/__tests__/mocks/constants.ts
  apps/stripe/src/__tests__/mocks/mock-auth-data.ts
  apps/stripe/src/__tests__/mocks/stripe-webhook-secret.ts
  apps/stripe/src/app/api/stripe/webhook/route.ts
  apps/stripe/src/app/api/stripe/webhook/stripe-signature-header.test.ts
  apps/stripe/src/app/api/stripe/webhook/stripe-signature-header.ts
  apps/stripe/src/app/api/stripe/webhook/stripe-webhook-response.ts
  apps/stripe/src/app/api/stripe/webhook/use-case.test.ts
  apps/stripe/src/app/api/stripe/webhook/use-case.ts
  apps/stripe/src/app/api/stripe/webhook/webhook-params.test.ts
  apps/stripe/src/app/api/stripe/webhook/webhook-params.ts
  apps/stripe/src/lib/errors.ts
  apps/stripe/src/modules/app-config/file-app-config-repo.test.ts
  apps/stripe/src/modules/app-config/file-app-config-repo.ts
  apps/stripe/src/modules/app-config/stripe-config.test.ts
  apps/stripe/src/modules/app-config/stripe-config.ts
  apps/stripe/src/modules/stripe/stripe-client.ts
  apps/stripe/src/modules/stripe/stripe-payment-intents-api.ts
  apps/stripe/src/modules/stripe/stripe-webhook-secret.test.ts
  apps/stripe/src/modules/stripe/stripe-webhook-secret.ts
  apps/stripe/src/modules/stripe/stripe-webhook-signature-validator.ts
  apps/stripe/src/modules/stripe/types.ts
Labels: App Payment: Stripe

Stripe webhook: basic implementation (#1854)
  apps/stripe/src/__tests__/mocks/app-config-repo.ts
  apps/stripe/src/__tests__/mocks/constants.ts
  apps/stripe/src/__tests__/mocks/mock-auth-data.ts
  apps/stripe/src/__tests__/mocks/stripe-webhook-secret.ts
  apps/stripe/src/app/api/stripe/webhook/route.ts
  apps/stripe/src/app/api/stripe/webhook/stripe-signature-header.test.ts
  apps/stripe/src/app/api/stripe/webhook/stripe-signature-header.ts
  apps/stripe/src/app/api/stripe/webhook/stripe-webhook-response.ts
  apps/stripe/src/app/api/stripe/webhook/use-case.test.ts
  apps/stripe/src/app/api/stripe/webhook/use-case.ts
  apps/stripe/src/app/api/stripe/webhook/webhook-params.test.ts
  apps/stripe/src/app/api/stripe/webhook/webhook-params.ts
  apps/stripe/src/lib/errors.ts
  apps/stripe/src/modules/app-config/file-app-config-repo.test.ts
  apps/stripe/src/modules/app-config/file-app-config-repo.ts
  apps/stripe/src/modules/app-config/stripe-config.test.ts
  apps/stripe/src/modules/app-config/stripe-config.ts
  apps/stripe/src/modules/stripe/stripe-client.ts
  apps/stripe/src/modules/stripe/stripe-payment-intents-api.ts
  apps/stripe/src/modules/stripe/stripe-webhook-secret.test.ts
  apps/stripe/src/modules/stripe/stripe-webhook-secret.ts
  apps/stripe/src/modules/stripe/stripe-webhook-signature-validator.ts
  apps/stripe/src/modules/stripe/types.ts
Labels: App Payment: Stripe

use configuration id in webhook url
  apps/stripe/src/__tests__/mocks/constants.ts
  apps/stripe/src/app/api/stripe/webhook/webhook-params.test.ts
  apps/stripe/src/app/api/stripe/webhook/webhook-params.ts
  apps/stripe/src/lib/random-id.test.ts
  apps/stripe/src/lib/random-id.ts
Labels: App Payment: Stripe

simplify file config repo
  apps/stripe/src/__tests__/mocks/app-config-repo.ts
  apps/stripe/src/app/api/stripe/webhook/use-case.ts
  apps/stripe/src/modules/app-config/app-config-repo.ts
  apps/stripe/src/modules/app-config/file-app-config-repo.test.ts
  apps/stripe/src/modules/app-config/file-app-config-repo.ts
Labels: App Payment: Stripe

Use config id instead channel id in stripe webhook (#1857)
  apps/stripe/src/__tests__/mocks/app-config-repo.ts
  apps/stripe/src/__tests__/mocks/constants.ts
  apps/stripe/src/app/api/stripe/webhook/use-case.ts
  apps/stripe/src/app/api/stripe/webhook/webhook-params.test.ts
  apps/stripe/src/app/api/stripe/webhook/webhook-params.ts
  apps/stripe/src/lib/random-id.test.ts
  apps/stripe/src/lib/random-id.ts
  apps/stripe/src/modules/app-config/app-config-repo.ts
  apps/stripe/src/modules/app-config/file-app-config-repo.test.ts
  apps/stripe/src/modules/app-config/file-app-config-repo.ts
Labels: App Payment: Stripe

Use config id instead channel id in stripe webhook (#1857)
  apps/stripe/src/__tests__/mocks/app-config-repo.ts
  apps/stripe/src/__tests__/mocks/constants.ts
  apps/stripe/src/app/api/stripe/webhook/use-case.ts
  apps/stripe/src/app/api/stripe/webhook/webhook-params.test.ts
  apps/stripe/src/app/api/stripe/webhook/webhook-params.ts
  apps/stripe/src/lib/random-id.test.ts
  apps/stripe/src/lib/random-id.ts
  apps/stripe/src/modules/app-config/app-config-repo.ts
  apps/stripe/src/modules/app-config/file-app-config-repo.test.ts
  apps/stripe/src/modules/app-config/file-app-config-repo.ts
Labels: App Payment: Stripe

Update .changeset/eight-bottles-drop.md
  .changeset/eight-bottles-drop.md
Labels: none

get config trpc route
  apps/stripe/src/__tests__/mocks/app-config-repo.ts
  apps/stripe/src/__tests__/mocks/mock-stripe-config.ts
  apps/stripe/src/__tests__/mocks/restricted-key.ts
  apps/stripe/src/modules/app-config/app-config-router.test.ts
  apps/stripe/src/modules/app-config/app-config-router.ts
  apps/stripe/src/modules/app-config/stripe-config.test.ts
  apps/stripe/src/modules/app-config/stripe-config.ts
  apps/stripe/src/modules/stripe/stripe-restricted-key.test.ts
  apps/stripe/src/modules/stripe/stripe-restricted-key.ts
  apps/stripe/src/modules/trpc/protected-client-procedure.ts
  apps/stripe/src/modules/trpc/trpc-router.ts
Labels: App Payment: Stripe

Webhook responses
  apps/stripe/src/__tests__/mocks/app-config-repo.ts
  apps/stripe/src/__tests__/mocks/stripe-publishable-key.ts
  apps/stripe/src/app/api/saleor/payment-gateway-initialize-session/response-data-shape.test.ts
  apps/stripe/src/app/api/saleor/payment-gateway-initialize-session/response-data-shape.ts
  apps/stripe/src/app/api/saleor/payment-gateway-initialize-session/response-shape.ts
  apps/stripe/src/app/api/saleor/payment-gateway-initialize-session/route.ts
  apps/stripe/src/app/api/saleor/payment-gateway-initialize-session/use-case-response.test.ts
  apps/stripe/src/app/api/saleor/payment-gateway-initialize-session/use-case-response.ts
  apps/stripe/src/app/api/saleor/payment-gateway-initialize-session/use-case.test.ts
  apps/stripe/src/app/api/saleor/payment-gateway-initialize-session/use-case.ts
  apps/stripe/src/app/api/saleor/transaction-initialize-session/response-data-shape.test.ts
  apps/stripe/src/app/api/saleor/transaction-initialize-session/response-data-shape.ts
  apps/stripe/src/app/api/saleor/transaction-initialize-session/route.ts
  apps/stripe/src/app/api/saleor/transaction-initialize-session/use-case-response.test.ts
  apps/stripe/src/app/api/saleor/transaction-initialize-session/use-case-response.ts
  apps/stripe/src/app/api/saleor/transaction-initialize-session/use-case.test.ts
  apps/stripe/src/app/api/saleor/transaction-initialize-session/use-case.ts
  apps/stripe/src/lib/errors.ts
  apps/stripe/src/modules/app-config/app-config-errors.ts
  apps/stripe/src/modules/saleor/saleor-webhook-responses.test.ts
  apps/stripe/src/modules/saleor/saleor-webhook-responses.ts
Labels: App Payment: Stripe

fix test
  apps/stripe/src/modules/saleor/saleor-webhook-responses.test.ts
Labels: App Payment: Stripe

wip
  apps/stripe/src/modules/app-config/app-config-router.test.ts
  apps/stripe/src/modules/app-config/trpc-handlers/app-config-router.test.ts
  apps/stripe/src/modules/app-config/trpc-handlers/app-config-router.ts
  apps/stripe/src/modules/app-config/trpc-handlers/get-stripe-config-trpc-handler.test.ts
  apps/stripe/src/modules/app-config/trpc-handlers/get-stripe-config-trpc-handler.ts
  apps/stripe/src/modules/app-config/trpc-handlers/save-new-stripe-config-trpc-handler.ts
  apps/stripe/src/modules/trpc/trpc-router.ts
Labels: App Payment: Stripe

fixes after CR
  apps/stripe/src/app/api/saleor/payment-gateway-initialize-session/route.ts
  apps/stripe/src/app/api/saleor/payment-gateway-initialize-session/use-case.ts
  apps/stripe/src/app/api/saleor/transaction-initialize-session/route.ts
  apps/stripe/src/app/api/saleor/transaction-initialize-session/use-case-response.ts
  apps/stripe/src/app/api/saleor/transaction-initialize-session/use-case.ts
  apps/stripe/src/modules/saleor/saleor-webhook-responses.ts
Labels: App Payment: Stripe

fixes after CR
  apps/stripe/src/app/api/saleor/transaction-initialize-session/use-case-response.test.ts
  apps/stripe/src/modules/app-config/app-config-errors.ts
  apps/stripe/src/modules/saleor/saleor-webhook-responses.test.ts
Labels: App Payment: Stripe

trpc test
  apps/stripe/src/__tests__/mocks/app-config-repo.ts
  apps/stripe/src/__tests__/mocks/constants.ts
  apps/stripe/src/__tests__/mocks/graphql-client.ts
  apps/stripe/src/__tests__/mocks/mock-auth-data.ts
  apps/stripe/src/__tests__/trpc-testing-procedure.ts
  apps/stripe/src/modules/app-config/trpc-handlers/app-config-router.ts
  apps/stripe/src/modules/app-config/trpc-handlers/get-stripe-config-trpc-handler.test.ts
  apps/stripe/src/modules/app-config/trpc-handlers/get-stripe-config-trpc-handler.ts
  apps/stripe/src/modules/trpc/protected-client-procedure.ts
  apps/stripe/src/modules/trpc/trpc-server.ts
Labels: App Payment: Stripe

another trpc
  apps/stripe/src/modules/app-config/trpc-handlers/app-config-router.ts
  apps/stripe/src/modules/app-config/trpc-handlers/new-stripe-config-trpc-handler.ts
  apps/stripe/src/modules/app-config/trpc-handlers/save-new-stripe-config-trpc-handler.ts
Labels: App Payment: Stripe

fixes after CR
  apps/stripe/src/app/api/saleor/payment-gateway-initialize-session/response-data-shape.ts
  apps/stripe/src/app/api/saleor/payment-gateway-initialize-session/response-data.test.ts
  apps/stripe/src/app/api/saleor/payment-gateway-initialize-session/response-data.ts
  apps/stripe/src/app/api/saleor/payment-gateway-initialize-session/route.ts
  apps/stripe/src/app/api/saleor/payment-gateway-initialize-session/use-case-response.test.ts
  apps/stripe/src/app/api/saleor/payment-gateway-initialize-session/use-case-response.ts
  apps/stripe/src/app/api/saleor/payment-gateway-initialize-session/use-case.test.ts
  apps/stripe/src/app/api/saleor/payment-gateway-initialize-session/use-case.ts
  apps/stripe/src/app/api/saleor/transaction-initialize-session/response-data-shape.test.ts
  apps/stripe/src/app/api/saleor/transaction-initialize-session/response-data-shape.ts
  apps/stripe/src/app/api/saleor/transaction-initialize-session/response-data.test.ts
  apps/stripe/src/app/api/saleor/transaction-initialize-session/response-data.ts
  apps/stripe/src/app/api/saleor/transaction-initialize-session/route.ts
  apps/stripe/src/app/api/saleor/transaction-initialize-session/use-case-response.test.ts
  apps/stripe/src/app/api/saleor/transaction-initialize-session/use-case-response.ts
  apps/stripe/src/app/api/saleor/transaction-initialize-session/use-case.test.ts
  apps/stripe/src/app/api/saleor/transaction-initialize-session/use-case.ts
  apps/stripe/src/modules/saleor/saleor-webhook-responses.test.ts
  apps/stripe/src/modules/saleor/saleor-webhook-responses.ts
Labels: App Payment: Stripe

renames
  apps/stripe/src/app/api/saleor/payment-gateway-initialize-session/response-params.test.ts
  apps/stripe/src/app/api/saleor/payment-gateway-initialize-session/response-params.ts
  apps/stripe/src/app/api/saleor/payment-gateway-initialize-session/use-case-response.test.ts
  apps/stripe/src/app/api/saleor/payment-gateway-initialize-session/use-case-response.ts
  apps/stripe/src/app/api/saleor/payment-gateway-initialize-session/use-case.ts
  apps/stripe/src/app/api/saleor/transaction-initialize-session/response-params.test.ts
  apps/stripe/src/app/api/saleor/transaction-initialize-session/response-params.ts
  apps/stripe/src/app/api/saleor/transaction-initialize-session/use-case-response.test.ts
  apps/stripe/src/app/api/saleor/transaction-initialize-session/use-case-response.ts
  apps/stripe/src/app/api/saleor/transaction-initialize-session/use-case.ts
  apps/stripe/src/modules/saleor/saleor-webhook-responses.ts
Labels: App Payment: Stripe

Stripe error handling
  apps/stripe/src/app/api/saleor/transaction-initialize-session/use-case.test.ts
  apps/stripe/src/modules/stripe/stripe-payment-intents-api-error.ts
  apps/stripe/src/modules/stripe/stripe-payment-intents-api.test.ts
  apps/stripe/src/modules/stripe/stripe-payment-intents-api.ts
  apps/stripe/src/modules/stripe/types.ts
Labels: App Payment: Stripe

fix test
  apps/stripe/src/modules/saleor/saleor-webhook-responses.test.ts
Labels: App Payment: Stripe

fixes after CR
  apps/stripe/src/app/api/saleor/payment-gateway-initialize-session/response-params.test.ts
  apps/stripe/src/app/api/saleor/payment-gateway-initialize-session/response-params.ts
  apps/stripe/src/app/api/saleor/payment-gateway-initialize-session/use-case-response.test.ts
  apps/stripe/src/app/api/saleor/payment-gateway-initialize-session/use-case-response.ts
  apps/stripe/src/app/api/saleor/payment-gateway-initialize-session/use-case.test.ts
  apps/stripe/src/app/api/saleor/payment-gateway-initialize-session/use-case.ts
  apps/stripe/src/app/api/saleor/transaction-initialize-session/response-params.test.ts
  apps/stripe/src/app/api/saleor/transaction-initialize-session/response-params.ts
  apps/stripe/src/app/api/saleor/transaction-initialize-session/use-case-response.test.ts
  apps/stripe/src/app/api/saleor/transaction-initialize-session/use-case-response.ts
  apps/stripe/src/app/api/saleor/transaction-initialize-session/use-case.test.ts
  apps/stripe/src/app/api/saleor/transaction-initialize-session/use-case.ts
  apps/stripe/src/modules/saleor/saleor-webhook-responses.ts
  apps/stripe/src/modules/stripe/stripe-client-secret.ts
  apps/stripe/src/modules/stripe/stripe-payment-intent-id.ts
Labels: App Payment: Stripe

add unit test
  apps/stripe/src/modules/stripe/stripe-client-secret.test.ts
  apps/stripe/src/modules/stripe/stripe-payment-intent-id.test.ts
  apps/stripe/src/modules/stripe/stripe-payment-intent-id.ts
Labels: App Payment: Stripe

fix context
  apps/stripe/src/app/api/trpc/[trpc]/route.ts
  apps/stripe/src/modules/trpc/context-app-router.ts
  apps/stripe/src/modules/trpc/protected-client-procedure.ts
  apps/stripe/src/modules/trpc/trpc-server.ts
  apps/stripe/tsconfig.json
Labels: App Payment: Stripe

Webhook responses for Stripe use-cases (#1858)
  apps/stripe/src/__tests__/mocks/app-config-repo.ts
  apps/stripe/src/__tests__/mocks/stripe-publishable-key.ts
  apps/stripe/src/app/api/saleor/payment-gateway-initialize-session/response-shape.test.ts
  apps/stripe/src/app/api/saleor/payment-gateway-initialize-session/response-shape.ts
  apps/stripe/src/app/api/saleor/payment-gateway-initialize-session/route.ts
  apps/stripe/src/app/api/saleor/payment-gateway-initialize-session/use-case-response.test.ts
  apps/stripe/src/app/api/saleor/payment-gateway-initialize-session/use-case-response.ts
  apps/stripe/src/app/api/saleor/payment-gateway-initialize-session/use-case.test.ts
  apps/stripe/src/app/api/saleor/payment-gateway-initialize-session/use-case.ts
  apps/stripe/src/app/api/saleor/transaction-initialize-session/route.ts
  apps/stripe/src/app/api/saleor/transaction-initialize-session/use-case-response.test.ts
  apps/stripe/src/app/api/saleor/transaction-initialize-session/use-case-response.ts
  apps/stripe/src/app/api/saleor/transaction-initialize-session/use-case.test.ts
  apps/stripe/src/app/api/saleor/transaction-initialize-session/use-case.ts
  apps/stripe/src/lib/errors.ts
  apps/stripe/src/modules/saleor/saleor-webhook-responses.test.ts
  apps/stripe/src/modules/saleor/saleor-webhook-responses.ts
  apps/stripe/src/modules/stripe/stripe-client-secret.test.ts
  apps/stripe/src/modules/stripe/stripe-client-secret.ts
  apps/stripe/src/modules/stripe/stripe-payment-intent-id.test.ts
  apps/stripe/src/modules/stripe/stripe-payment-intent-id.ts
Labels: App Payment: Stripe

Webhook responses for Stripe use-cases (#1858)
  apps/stripe/src/__tests__/mocks/app-config-repo.ts
  apps/stripe/src/__tests__/mocks/stripe-publishable-key.ts
  apps/stripe/src/app/api/saleor/payment-gateway-initialize-session/response-shape.test.ts
  apps/stripe/src/app/api/saleor/payment-gateway-initialize-session/response-shape.ts
  apps/stripe/src/app/api/saleor/payment-gateway-initialize-session/route.ts
  apps/stripe/src/app/api/saleor/payment-gateway-initialize-session/use-case-response.test.ts
  apps/stripe/src/app/api/saleor/payment-gateway-initialize-session/use-case-response.ts
  apps/stripe/src/app/api/saleor/payment-gateway-initialize-session/use-case.test.ts
  apps/stripe/src/app/api/saleor/payment-gateway-initialize-session/use-case.ts
  apps/stripe/src/app/api/saleor/transaction-initialize-session/route.ts
  apps/stripe/src/app/api/saleor/transaction-initialize-session/use-case-response.test.ts
  apps/stripe/src/app/api/saleor/transaction-initialize-session/use-case-response.ts
  apps/stripe/src/app/api/saleor/transaction-initialize-session/use-case.test.ts
  apps/stripe/src/app/api/saleor/transaction-initialize-session/use-case.ts
  apps/stripe/src/lib/errors.ts
  apps/stripe/src/modules/saleor/saleor-webhook-responses.test.ts
  apps/stripe/src/modules/saleor/saleor-webhook-responses.ts
  apps/stripe/src/modules/stripe/stripe-client-secret.test.ts
  apps/stripe/src/modules/stripe/stripe-client-secret.ts
  apps/stripe/src/modules/stripe/stripe-payment-intent-id.test.ts
  apps/stripe/src/modules/stripe/stripe-payment-intent-id.ts
Labels: App Payment: Stripe

restore tsconfig
  apps/stripe/tsconfig.json
Labels: App Payment: Stripe

remove shared trpc config
  packages/trpc/src/context-app-router.ts
Labels: none

Refactor response tests and types for improved clarity and consistency
  apps/stripe/src/app/api/saleor/payment-gateway-initialize-session/use-case-response.test.ts
  apps/stripe/src/app/api/saleor/payment-gateway-initialize-session/use-case-response.ts
  apps/stripe/src/app/api/saleor/transaction-initialize-session/use-case-response.test.ts
  apps/stripe/src/app/api/saleor/transaction-initialize-session/use-case-response.ts
  apps/stripe/src/app/api/saleor/transaction-initialize-session/use-case.test.ts
  apps/stripe/src/app/api/saleor/transaction-initialize-session/use-case.ts
  apps/stripe/src/modules/saleor/saleor-webhook-responses.test.ts
  apps/stripe/src/modules/saleor/saleor-webhook-responses.ts
  apps/stripe/src/modules/stripe/stripe-client-secret.test.ts
  apps/stripe/src/modules/stripe/stripe-payment-intent-id.test.ts
Labels: App Payment: Stripe

TRPC: get and create stripe config (#1859)
  apps/stripe/package.json
  apps/stripe/src/__tests__/mocks/app-config-repo.ts
  apps/stripe/src/__tests__/mocks/constants.ts
  apps/stripe/src/__tests__/mocks/graphql-client.ts
  apps/stripe/src/__tests__/mocks/mock-auth-data.ts
  apps/stripe/src/__tests__/mocks/mock-stripe-config.ts
  apps/stripe/src/__tests__/mocks/mocked-stripe-publishable-key.ts
  apps/stripe/src/__tests__/mocks/restricted-key.ts
  apps/stripe/src/__tests__/trpc-testing-procedure.ts
  apps/stripe/src/app/api/saleor/payment-gateway-initialize-session/use-case-response.test.ts
  apps/stripe/src/app/api/saleor/payment-gateway-initialize-session/use-case.test.ts
  apps/stripe/src/app/api/trpc/[trpc]/route.ts
  apps/stripe/src/modules/app-config/app-config-repo.ts
  apps/stripe/src/modules/app-config/stripe-config.test.ts
  apps/stripe/src/modules/app-config/stripe-config.ts
  apps/stripe/src/modules/app-config/trpc-handlers/app-config-router.ts
  apps/stripe/src/modules/app-config/trpc-handlers/get-stripe-config-trpc-handler.test.ts
  apps/stripe/src/modules/app-config/trpc-handlers/get-stripe-config-trpc-handler.ts
  apps/stripe/src/modules/app-config/trpc-handlers/new-stripe-config-trpc-handler.test.ts
  apps/stripe/src/modules/app-config/trpc-handlers/new-stripe-config-trpc-handler.ts
  apps/stripe/src/modules/stripe/stripe-restricted-key.test.ts
  apps/stripe/src/modules/stripe/stripe-restricted-key.ts
  apps/stripe/src/modules/trpc/context-app-router.ts
  apps/stripe/src/modules/trpc/protected-client-procedure.ts
  apps/stripe/src/modules/trpc/trpc-router.ts
  apps/stripe/src/modules/trpc/trpc-server.ts
  pnpm-lock.yaml
Labels: App Payment: Stripe

TRPC: get and create stripe config (#1859)
  apps/stripe/package.json
  apps/stripe/src/__tests__/mocks/app-config-repo.ts
  apps/stripe/src/__tests__/mocks/constants.ts
  apps/stripe/src/__tests__/mocks/graphql-client.ts
  apps/stripe/src/__tests__/mocks/mock-auth-data.ts
  apps/stripe/src/__tests__/mocks/mock-stripe-config.ts
  apps/stripe/src/__tests__/mocks/mocked-stripe-publishable-key.ts
  apps/stripe/src/__tests__/mocks/restricted-key.ts
  apps/stripe/src/__tests__/trpc-testing-procedure.ts
  apps/stripe/src/app/api/saleor/payment-gateway-initialize-session/use-case-response.test.ts
  apps/stripe/src/app/api/saleor/payment-gateway-initialize-session/use-case.test.ts
  apps/stripe/src/app/api/trpc/[trpc]/route.ts
  apps/stripe/src/modules/app-config/app-config-repo.ts
  apps/stripe/src/modules/app-config/stripe-config.test.ts
  apps/stripe/src/modules/app-config/stripe-config.ts
  apps/stripe/src/modules/app-config/trpc-handlers/app-config-router.ts
  apps/stripe/src/modules/app-config/trpc-handlers/get-stripe-config-trpc-handler.test.ts
  apps/stripe/src/modules/app-config/trpc-handlers/get-stripe-config-trpc-handler.ts
  apps/stripe/src/modules/app-config/trpc-handlers/new-stripe-config-trpc-handler.test.ts
  apps/stripe/src/modules/app-config/trpc-handlers/new-stripe-config-trpc-handler.ts
  apps/stripe/src/modules/stripe/stripe-restricted-key.test.ts
  apps/stripe/src/modules/stripe/stripe-restricted-key.ts
  apps/stripe/src/modules/trpc/context-app-router.ts
  apps/stripe/src/modules/trpc/protected-client-procedure.ts
  apps/stripe/src/modules/trpc/trpc-router.ts
  apps/stripe/src/modules/trpc/trpc-server.ts
  pnpm-lock.yaml
Labels: App Payment: Stripe

Refactor response tests and types for improved clarity and consistency (#1861)
  apps/stripe/src/app/api/saleor/payment-gateway-initialize-session/use-case-response.test.ts
  apps/stripe/src/app/api/saleor/payment-gateway-initialize-session/use-case-response.ts
  apps/stripe/src/app/api/saleor/transaction-initialize-session/use-case-response.test.ts
  apps/stripe/src/app/api/saleor/transaction-initialize-session/use-case-response.ts
  apps/stripe/src/app/api/saleor/transaction-initialize-session/use-case.test.ts
  apps/stripe/src/app/api/saleor/transaction-initialize-session/use-case.ts
  apps/stripe/src/modules/saleor/saleor-webhook-responses.test.ts
  apps/stripe/src/modules/saleor/saleor-webhook-responses.ts
  apps/stripe/src/modules/stripe/stripe-client-secret.test.ts
  apps/stripe/src/modules/stripe/stripe-payment-intent-id.test.ts
Labels: App Payment: Stripe

Refactor response tests and types for improved clarity and consistency (#1861)
  apps/stripe/src/app/api/saleor/payment-gateway-initialize-session/use-case-response.test.ts
  apps/stripe/src/app/api/saleor/payment-gateway-initialize-session/use-case-response.ts
  apps/stripe/src/app/api/saleor/transaction-initialize-session/use-case-response.test.ts
  apps/stripe/src/app/api/saleor/transaction-initialize-session/use-case-response.ts
  apps/stripe/src/app/api/saleor/transaction-initialize-session/use-case.test.ts
  apps/stripe/src/app/api/saleor/transaction-initialize-session/use-case.ts
  apps/stripe/src/modules/saleor/saleor-webhook-responses.test.ts
  apps/stripe/src/modules/saleor/saleor-webhook-responses.ts
  apps/stripe/src/modules/stripe/stripe-client-secret.test.ts
  apps/stripe/src/modules/stripe/stripe-payment-intent-id.test.ts
Labels: App Payment: Stripe

.github/labeler.yml:

"App: Klaviyo":
  - changed-files:
      - any-glob-to-any-file: "apps/klaviyo/**/*"

"App: Product Feed":
  - changed-files:
      - any-glob-to-any-file: "apps/products-feed/**/*"

"App: Search":
  - changed-files:
      - any-glob-to-any-file: "apps/search/**/*"

"App: AvaTax":
  - changed-files:
      - any-glob-to-any-file: "apps/avatax/**/*"

"App: CMS":
  - changed-files:
      - any-glob-to-any-file: "apps/cms/**/*"

"App: SMTP":
  - changed-files:
      - any-glob-to-any-file: "apps/smtp/**/*"

"App: Segment":
  - changed-files:
      - any-glob-to-any-file: "apps/segment/**/*"

"App Payment: Stripe":
  - changed-files:
      - any-glob-to-any-file: "apps/stripe/**/*"
