Repository saleor/apps, changes with the labels that .github/labeler.yml gives for each.
All labels: App: Klaviyo, App: Product Feed, App: Search, App: AvaTax, App: CMS, App: SMTP, App: Segment, App Payment: Stripe

Update to Node.js 22.14 (#1844)
  .nvmrc
Labels: none

cr fixes
  apps/avatax/vitest.config.ts
  apps/stripe/package.json
  apps/stripe/src/__tests__/setup.integration.ts
  apps/stripe/src/__tests__/setup.units.ts
  apps/stripe/vitest.config.ts
  pnpm-lock.yaml
Labels: App: AvaTax, App Payment: Stripe

restore mistaken file
  apps/avatax/vitest.config.ts
Labels: App: AvaTax

Add integration test for manifest (#1845)
  apps/stripe/package.json
  apps/stripe/src/__tests__/setup.integration.ts
  apps/stripe/src/__tests__/setup.units.ts
  apps/stripe/src/app/api/manifest/route.integration.test.ts
  apps/stripe/src/app/api/manifest/route.ts
  apps/stripe/vitest.config.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: App Payment: Stripe

Add integration test for manifest (#1845)
  apps/stripe/package.json
  apps/stripe/src/__tests__/setup.integration.ts
  apps/stripe/src/__tests__/setup.units.ts
  apps/stripe/src/app/api/manifest/route.integration.test.ts
  apps/stripe/src/app/api/manifest/route.ts
  apps/stripe/vitest.config.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: App Payment: Stripe

Add usecase
  apps/stripe/generated/graphql.ts
  apps/stripe/graphql/subscriptions/transaction-initialize-session.graphql
  apps/stripe/src/__tests__/mocks/stripe-config.ts
  apps/stripe/src/__tests__/mocks/stripe-payment-intents-api.ts
  apps/stripe/src/__tests__/mocks/transaction-initalize-session-event.ts
  apps/stripe/src/app/api/saleor/payment-gateway-initialize/use-case.test.ts
  apps/stripe/src/app/api/saleor/payment-gateway-initialize/use-case.ts
  apps/stripe/src/app/api/saleor/payment-gateway-initialize/webhook-definition.ts
  apps/stripe/src/app/api/saleor/transaction-initialize-session/route.ts
  apps/stripe/src/app/api/saleor/transaction-initialize-session/use-case.test.ts
  apps/stripe/src/app/api/saleor/transaction-initialize-session/use-case.ts
  apps/stripe/src/app/api/saleor/transaction-initialize-session/webhook-definition.ts
  apps/stripe/src/modules/stripe/stripe-payment-intents-api-factory.ts
  apps/stripe/src/modules/stripe/stripe-payment-intents-api.test.ts
  apps/stripe/src/modules/stripe/stripe-payment-intents-api.ts
  apps/stripe/src/modules/stripe/types.ts
Labels: App Payment: Stripe

update snapshot
  apps/stripe/src/app/api/manifest/route.integration.test.ts
Labels: App Payment: Stripe

add graphql
  apps/stripe/generated/graphql.ts
  apps/stripe/graphql/subscriptions/transaction-initialize-session.graphql
Labels: App Payment: Stripe

add new route
  apps/stripe/scripts/run-webhooks-migration.ts
  apps/stripe/src/__tests__/mocks/stripe-config.ts
  apps/stripe/src/__tests__/mocks/stripe-payment-intents-api.ts
  apps/stripe/src/__tests__/mocks/transaction-initalize-session-event.ts
  apps/stripe/src/app/api/manifest/route.integration.test.ts
  apps/stripe/src/app/api/manifest/route.ts
  apps/stripe/src/app/api/saleor/transaction-initialize-session/route.ts
  apps/stripe/src/app/api/saleor/transaction-initialize-session/use-case.test.ts
  apps/stripe/src/app/api/saleor/transaction-initialize-session/use-case.ts
  apps/stripe/src/app/api/saleor/transaction-initialize-session/webhook-definition.ts
  apps/stripe/src/modules/stripe/stripe-payment-intents-api-factory.ts
  apps/stripe/src/modules/stripe/stripe-payment-intents-api.ts
  apps/stripe/src/modules/stripe/types.ts
Labels: App Payment: Stripe

rename route to payment gateway init session
  apps/stripe/src/app/api/manifest/route.ts
  apps/stripe/src/app/api/saleor/payment-gateway-initialize-session/response-shape.test.ts
  apps/stripe/src/app/api/saleor/payment-gateway-initialize-session/response-shape.ts
  apps/stripe/src/app/api/saleor/payment-gateway-initialize-session/route.ts
  apps/stripe/src/app/api/saleor/payment-gateway-initialize-session/use-case.test.ts
  apps/stripe/src/app/api/saleor/payment-gateway-initialize-session/use-case.ts
  apps/stripe/src/app/api/saleor/payment-gateway-initialize-session/webhook-definition.ts
Labels: App Payment: Stripe

rename app config persistor to app config repo
  apps/stripe/src/app/api/saleor/payment-gateway-initialize-session/route.ts
  apps/stripe/src/app/api/saleor/payment-gateway-initialize-session/use-case.test.ts
  apps/stripe/src/app/api/saleor/payment-gateway-initialize-session/use-case.ts
  apps/stripe/src/lib/app-config-persistence.ts
  apps/stripe/src/modules/app-config/app-config-repo.ts
  apps/stripe/src/modules/app-config/file-app-config-repo.test.ts
  apps/stripe/src/modules/app-config/file-app-config-repo.ts
  pnpm-workspace.yaml
Labels: App Payment: Stripe

fix test
  apps/stripe/src/app/api/manifest/route.integration.test.ts
Labels: App Payment: Stripe

Fix broken GraphQL check workflow
  .github/workflows/main.yml
Labels: none

Fixes after CR
  apps/stripe/generated/graphql.ts
  apps/stripe/graphql/subscriptions/transaction-initialize-session.graphql
  apps/stripe/src/__tests__/mocks/app-config-presistor.ts
  apps/stripe/src/__tests__/mocks/constants.ts
  apps/stripe/src/__tests__/mocks/saleor-api-url.ts
  apps/stripe/src/__tests__/mocks/stripe-payment-intents-api.ts
  apps/stripe/src/__tests__/mocks/transaction-initalize-session-event.ts
  apps/stripe/src/app/api/manifest/route.integration.test.ts
  apps/stripe/src/app/api/saleor/transaction-initialize-session/route.ts
  apps/stripe/src/app/api/saleor/transaction-initialize-session/use-case.test.ts
  apps/stripe/src/app/api/saleor/transaction-initialize-session/use-case.ts
  apps/stripe/src/modules/stripe/errors.ts
  apps/stripe/src/modules/stripe/stripe-payment-intents-api.ts
  apps/stripe/src/modules/stripe/types.ts
  apps/stripe/vitest.config.ts
Labels: App Payment: Stripe

regenerate graphql
  apps/stripe/generated/graphql.ts
Labels: App Payment: Stripe

Stripe app: refactor route name & app config presistor (#1849)
  apps/stripe/src/app/api/manifest/route.integration.test.ts
  apps/stripe/src/app/api/manifest/route.ts
  apps/stripe/src/app/api/saleor/payment-gateway-initialize-session/response-shape.test.ts
  apps/stripe/src/app/api/saleor/payment-gateway-initialize-session/response-shape.ts
  apps/stripe/src/app/api/saleor/payment-gateway-initialize-session/route.ts
  apps/stripe/src/app/api/saleor/payment-gateway-initialize-session/use-case.test.ts
  apps/stripe/src/app/api/saleor/payment-gateway-initialize-session/use-case.ts
  apps/stripe/src/app/api/saleor/payment-gateway-initialize-session/webhook-definition.ts
  apps/stripe/src/lib/app-config-persistence.ts
  apps/stripe/src/modules/app-config/app-config-repo.ts
  apps/stripe/src/modules/app-config/file-app-config-repo.test.ts
  apps/stripe/src/modules/app-config/file-app-config-repo.ts
  pnpm-workspace.yaml
Labels: App Payment: Stripe

Stripe app: refactor route name & app config presistor (#1849)
  apps/stripe/src/app/api/manifest/route.integration.test.ts
  apps/stripe/src/app/api/manifest/route.ts
  apps/stripe/src/app/api/saleor/payment-gateway-initialize-session/response-shape.test.ts
  apps/stripe/src/app/api/saleor/payment-gateway-initialize-session/response-shape.ts
  apps/stripe/src/app/api/saleor/payment-gateway-initialize-session/route.ts
  apps/stripe/src/app/api/saleor/payment-gateway-initialize-session/use-case.test.ts
  apps/stripe/src/app/api/saleor/payment-gateway-initialize-session/use-case.ts
  apps/stripe/src/app/api/saleor/payment-gateway-initialize-session/webhook-definition.ts
  apps/stripe/src/lib/app-config-persistence.ts
  apps/stripe/src/modules/app-config/app-config-repo.ts
  apps/stripe/src/modules/app-config/file-app-config-repo.test.ts
  apps/stripe/src/modules/app-config/file-app-config-repo.ts
  pnpm-workspace.yaml
Labels: App Payment: Stripe

fixes after merge
  apps/stripe/scripts/run-webhooks-migration.ts
  apps/stripe/src/__tests__/mocks/app-config-repo.ts
  apps/stripe/src/app/api/saleor/transaction-initialize-session/route.ts
  apps/stripe/src/app/api/saleor/transaction-initialize-session/use-case.test.ts
  apps/stripe/src/app/api/saleor/transaction-initialize-session/use-case.ts
Labels: App Payment: Stripe

Fix broken GraphQL check workflow (#1850)
  .github/workflows/main.yml
Labels: none

Fix broken GraphQL check workflow (#1850)
  .github/workflows/main.yml
Labels: none

Refactor transaction session event mock and error handling
  apps/stripe/src/__tests__/mocks/transaction-initalize-session-event.ts
  apps/stripe/src/app/api/saleor/transaction-initialize-session/use-case.test.ts
  apps/stripe/src/app/api/saleor/transaction-initialize-session/use-case.ts
  apps/stripe/src/modules/stripe/errors.ts
  apps/stripe/vitest.config.ts
Labels: App Payment: Stripe

Handle transaction initialize session for Stripe app (#1848)
  apps/stripe/generated/graphql.ts
  apps/stripe/graphql/subscriptions/transaction-initialize-session.graphql
  apps/stripe/scripts/run-webhooks-migration.ts
  apps/stripe/src/__tests__/mocks/app-config-repo.ts
  apps/stripe/src/__tests__/mocks/constants.ts
  apps/stripe/src/__tests__/mocks/saleor-api-url.ts
  apps/stripe/src/__tests__/mocks/transaction-initalize-session-event.ts
  apps/stripe/src/app/api/manifest/route.integration.test.ts
  apps/stripe/src/app/api/manifest/route.ts
  apps/stripe/src/app/api/saleor/transaction-initialize-session/route.ts
  apps/stripe/src/app/api/saleor/transaction-initialize-session/use-case.test.ts
  apps/stripe/src/app/api/saleor/transaction-initialize-session/use-case.ts
  apps/stripe/src/app/api/saleor/transaction-initialize-session/webhook-definition.ts
  apps/stripe/src/modules/stripe/errors.ts
  apps/stripe/src/modules/stripe/stripe-payment-intents-api-factory.ts
  apps/stripe/src/modules/stripe/stripe-payment-intents-api.ts
  apps/stripe/src/modules/stripe/types.ts
  apps/stripe/vitest.config.ts
Labels: App Payment: Stripe

Handle transaction initialize session for Stripe app (#1848)
  apps/stripe/generated/graphql.ts
  apps/stripe/graphql/subscriptions/transaction-initialize-session.graphql
  apps/stripe/scripts/run-webhooks-migration.ts
  apps/stripe/src/__tests__/mocks/app-config-repo.ts
  apps/stripe/src/__tests__/mocks/constants.ts
  apps/stripe/src/__tests__/mocks/saleor-api-url.ts
  apps/stripe/src/__tests__/mocks/transaction-initalize-session-event.ts
  apps/stripe/src/app/api/manifest/route.integration.test.ts
  apps/stripe/src/app/api/manifest/route.ts
  apps/stripe/src/app/api/saleor/transaction-initialize-session/route.ts
  apps/stripe/src/app/api/saleor/transaction-initialize-session/use-case.test.ts
  apps/stripe/src/app/api/saleor/transaction-initialize-session/use-case.ts
  apps/stripe/src/app/api/saleor/transaction-initialize-session/webhook-definition.ts
  apps/stripe/src/modules/stripe/errors.ts
  apps/stripe/src/modules/stripe/stripe-payment-intents-api-factory.ts
  apps/stripe/src/modules/stripe/stripe-payment-intents-api.ts
  apps/stripe/src/modules/stripe/types.ts
  apps/stripe/vitest.config.ts
Labels: App Payment: Stripe

Add currency handling and validation for Stripe integration
  apps/stripe/package.json
  apps/stripe/src/app/api/manifest/route.integration.test.ts
  apps/stripe/src/app/api/saleor/payment-gateway-initialize-session/webhook-definition.ts
  apps/stripe/src/app/api/saleor/transaction-initialize-session/use-case.test.ts
  apps/stripe/src/app/api/saleor/transaction-initialize-session/use-case.ts
  apps/stripe/src/modules/saleor/saleor-money.test.ts
  apps/stripe/src/modules/saleor/saleor-money.ts
  apps/stripe/src/modules/stripe/stripe-money.test.ts
  apps/stripe/src/modules/stripe/stripe-money.ts
  pnpm-lock.yaml
Labels: App Payment: Stripe

fix typos
  apps/stripe/src/app/api/saleor/transaction-initialize-session/use-case.ts
Labels: App Payment: Stripe

fixes after CR
  apps/stripe/src/app/api/saleor/transaction-initialize-session/use-case.ts
  apps/stripe/src/modules/saleor/saleor-money.ts
  apps/stripe/src/modules/stripe/stripe-money.ts
Labels: App Payment: Stripe

cleanup after CR
  apps/stripe/src/app/api/saleor/transaction-initialize-session/use-case.test.ts
  apps/stripe/src/app/api/saleor/transaction-initialize-session/use-case.ts
  apps/stripe/src/modules/saleor/saleor-money.test.ts
  apps/stripe/src/modules/saleor/saleor-money.ts
  apps/stripe/src/modules/stripe/stripe-money.test.ts
  apps/stripe/src/modules/stripe/stripe-money.ts
Labels: App Payment: Stripe

Add currency handling and validation for Stripe integration (#1851)
  apps/stripe/package.json
  apps/stripe/src/app/api/manifest/route.integration.test.ts
  apps/stripe/src/app/api/saleor/payment-gateway-initialize-session/webhook-definition.ts
  apps/stripe/src/app/api/saleor/transaction-initialize-session/use-case.test.ts
  apps/stripe/src/app/api/saleor/transaction-initialize-session/use-case.ts
  apps/stripe/src/modules/saleor/saleor-money.test.ts
  apps/stripe/src/modules/saleor/saleor-money.ts
  apps/stripe/src/modules/stripe/stripe-money.test.ts
  apps/stripe/src/modules/stripe/stripe-money.ts
  pnpm-lock.yaml
Labels: App Payment: Stripe

Add currency handling and validation for Stripe integration (#1851)
  apps/stripe/package.json
  apps/stripe/src/app/api/manifest/route.integration.test.ts
  apps/stripe/src/app/api/saleor/payment-gateway-initialize-session/webhook-definition.ts
  apps/stripe/src/app/api/saleor/transaction-initialize-session/use-case.test.ts
  apps/stripe/src/app/api/saleor/transaction-initialize-session/use-case.ts
  apps/stripe/src/modules/saleor/saleor-money.test.ts
  apps/stripe/src/modules/saleor/saleor-money.ts
  apps/stripe/src/modules/stripe/stripe-money.test.ts
  apps/stripe/src/modules/stripe/stripe-money.ts
  pnpm-lock.yaml
Labels: App Payment: Stripe

Fix typo in charge request response builder
  apps/stripe/src/app/api/saleor/transaction-initialize-session/use-case.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: App Payment: Stripe

remove msg
  apps/stripe/src/app/api/saleor/transaction-initialize-session/use-case.ts
Labels: App Payment: Stripe

Fix typo in charge request (#1852)
  apps/stripe/src/app/api/saleor/transaction-initialize-session/use-case.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: App Payment: Stripe

Fix typo in charge request (#1852)
  apps/stripe/src/app/api/saleor/transaction-initialize-session/use-case.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: App Payment: Stripe

Webhook Params and stripe webhook route
  apps/stripe/src/app/api/stripe/webhook/route.ts
  apps/stripe/src/app/api/stripe/webhook/use-case.ts
  apps/stripe/src/app/api/stripe/webhook/webhook-params.test.ts
  apps/stripe/src/app/api/stripe/webhook/webhook-params.ts
Labels: App Payment: Stripe

Refactor errors in Stripe
  apps/stripe/src/app/api/saleor/payment-gateway-initialize-session/route.ts
  apps/stripe/src/app/api/saleor/payment-gateway-initialize-session/use-case.test.ts
  apps/stripe/src/app/api/saleor/payment-gateway-initialize-session/use-case.ts
  apps/stripe/src/app/api/saleor/transaction-initialize-session/route.ts
  apps/stripe/src/app/api/saleor/transaction-initialize-session/use-case.test.ts
  apps/stripe/src/app/api/saleor/transaction-initialize-session/use-case.ts
  apps/stripe/src/lib/errors.ts
  apps/stripe/src/modules/app-config/stripe-config.ts
  apps/stripe/src/modules/saleor/saleor-api-url.ts
  apps/stripe/src/modules/saleor/saleor-money.ts
  apps/stripe/src/modules/stripe/errors.ts
  apps/stripe/src/modules/stripe/stripe-money.ts
  apps/stripe/src/modules/stripe/stripe-payment-intents-api.ts
  apps/stripe/src/modules/stripe/stripe-publishable-key.ts
  apps/stripe/src/modules/stripe/stripe-restricted-key.ts
  apps/stripe/src/modules/stripe/types.ts
Labels: App Payment: Stripe

fix eslint rule
  packages/eslint-config/index.js
Labels: none

Add common use case errors (#1853)
  apps/stripe/src/app/api/saleor/payment-gateway-initialize-session/route.ts
  apps/stripe/src/app/api/saleor/payment-gateway-initialize-session/use-case.test.ts
  apps/stripe/src/app/api/saleor/payment-gateway-initialize-session/use-case.ts
  apps/stripe/src/app/api/saleor/transaction-initialize-session/route.ts
  apps/stripe/src/app/api/saleor/transaction-initialize-session/use-case.test.ts
  apps/stripe/src/app/api/saleor/transaction-initialize-session/use-case.ts
  apps/stripe/src/lib/errors.ts
  apps/stripe/src/modules/app-config/stripe-config.ts
  apps/stripe/src/modules/saleor/saleor-api-url.ts
  apps/stripe/src/modules/saleor/saleor-money.ts
  apps/stripe/src/modules/stripe/errors.ts
  apps/stripe/src/modules/stripe/stripe-money.ts
  apps/stripe/src/modules/stripe/stripe-payment-intents-api.ts
  apps/stripe/src/modules/stripe/stripe-publishable-key.ts
  apps/stripe/src/modules/stripe/stripe-restricted-key.ts
  apps/stripe/src/modules/stripe/types.ts
  packages/eslint-config/index.js
Labels: App Payment: Stripe

Add common use case errors (#1853)
  apps/stripe/src/app/api/saleor/payment-gateway-initialize-session/route.ts
  apps/stripe/src/app/api/saleor/payment-gateway-initialize-session/use-case.test.ts
  apps/stripe/src/app/api/saleor/payment-gateway-initialize-session/use-case.ts
  apps/stripe/src/app/api/saleor/transaction-initialize-session/route.ts
  apps/stripe/src/app/api/saleor/transaction-initialize-session/use-case.test.ts
  apps/stripe/src/app/api/saleor/transaction-initialize-session/use-case.ts
  apps/stripe/src/lib/errors.ts
  apps/stripe/src/modules/app-config/stripe-config.ts
  apps/stripe/src/modules/saleor/saleor-api-url.ts
  apps/stripe/src/modules/saleor/saleor-money.ts
  apps/stripe/src/modules/stripe/errors.ts
  apps/stripe/src/modules/stripe/stripe-money.ts
  apps/stripe/src/modules/stripe/stripe-payment-intents-api.ts
  apps/stripe/src/modules/stripe/stripe-publishable-key.ts
  apps/stripe/src/modules/stripe/stripe-restricted-key.ts
  apps/stripe/src/modules/stripe/types.ts
  packages/eslint-config/index.js
Labels: App Payment: Stripe

wip
  apps/stripe/src/app/api/stripe/webhook/route.ts
  apps/stripe/src/app/api/stripe/webhook/stripe-signature-header.ts
  apps/stripe/src/app/api/stripe/webhook/stripe-webhook-event-parser.ts
  apps/stripe/src/app/api/stripe/webhook/stripe-webhook-response.ts
  apps/stripe/src/app/api/stripe/webhook/use-case.ts
  apps/stripe/src/app/api/stripe/webhook/webhook-params.ts
  apps/stripe/src/modules/app-config/stripe-config.ts
  apps/stripe/src/modules/stripe/stripe-client.ts
  apps/stripe/src/modules/stripe/stripe-payment-intents-api.ts
Labels: App Payment: Stripe

fix tests
  apps/stripe/src/__tests__/mocks/app-config-repo.ts
  apps/stripe/src/app/api/saleor/payment-gateway-initialize-session/use-case.test.ts
  apps/stripe/src/app/api/stripe/webhook/route.ts
  apps/stripe/src/app/api/stripe/webhook/stripe-webhook-event-parser.ts
  apps/stripe/src/app/api/stripe/webhook/stripe-webhook-response.ts
  apps/stripe/src/app/api/stripe/webhook/use-case.ts
  apps/stripe/src/app/api/stripe/webhook/webhook-params.ts
  apps/stripe/src/modules/app-config/file-app-config-repo.test.ts
  apps/stripe/src/modules/app-config/file-app-config-repo.ts
  apps/stripe/src/modules/app-config/stripe-config.test.ts
  apps/stripe/src/modules/stripe/errors.ts
  apps/stripe/src/modules/stripe/stripe-webhook-signature-validator.ts
  apps/stripe/src/modules/stripe/types.ts
Labels: App Payment: Stripe

.github/labeler.yml:

"App: Klaviyo":
  - changed-files:
      - any-glob-to-any-file: "apps/klaviyo/**/*"

"App: Product Feed":
  - changed-files:
      - any-glob-to-any-file: "apps/products-feed/**/*"

"App: Search":
  - changed-files:
      - any-glob-to-any-file: "apps/search/**/*"

"App: AvaTax":
  - changed-files:
      - any-glob-to-any-file: "apps/avatax/**/*"

"App: CMS":
  - changed-files:
      - any-glob-to-any-file: "apps/cms/**/*"

"App: SMTP":
  - changed-files:
      - any-glob-to-any-file: "apps/smtp/**/*"

"App: Segment":
  - changed-files:
      - any-glob-to-any-file: "apps/segment/**/*"

"App Payment: Stripe":
  - changed-files:
      - any-glob-to-any-file: "apps/stripe/**/*"
