Repository saleor/apps, changes with the labels that .github/labeler.yml gives for each.
All labels: App: Klaviyo, App: Product Feed, App: Search, App: AvaTax, App: CMS, App: SMTP, App: Segment, App Payment: Stripe

.github/labeler.yml:

"App: Klaviyo":
  - changed-files:
      - any-glob-to-any-file: "apps/klaviyo/**/*"

"App: Product Feed":
  - changed-files:
      - any-glob-to-any-file: "apps/products-feed/**/*"

"App: Search":
  - changed-files:
      - any-glob-to-any-file: "apps/search/**/*"

"App: AvaTax":
  - changed-files:
      - any-glob-to-any-file: "apps/avatax/**/*"

"App: CMS":
  - changed-files:
      - any-glob-to-any-file: "apps/cms/**/*"

"App: SMTP":
  - changed-files:
      - any-glob-to-any-file: "apps/smtp/**/*"

"App: Segment":
  - changed-files:
      - any-glob-to-any-file: "apps/segment/**/*"

"App Payment: Stripe":
  - changed-files:
      - any-glob-to-any-file: "apps/stripe/**/*"

fixes
  apps/stripe/src/app/api/saleor/transaction-initialize-session/use-case.test.ts
  apps/stripe/src/app/api/stripe/webhook/use-case.ts
  apps/stripe/src/modules/transactions-recording/repositories/dynamodb/dynamodb-transaction-recorder-repo.test.ts
  apps/stripe/src/modules/transactions-recording/repositories/dynamodb/dynamodb-transaction-recorder-repo.ts
  apps/stripe/src/modules/transactions-recording/repositories/dynamodb/recorded-transaction-db-model.ts
Labels: App Payment: Stripe

fix tests
  apps/stripe/src/app/api/stripe/webhook/stripe-event-handlers/payment-intent-amount-capturable-updated-handler.ts
  apps/stripe/src/app/api/stripe/webhook/use-case.test.ts
  apps/stripe/src/app/api/stripe/webhook/use-case.ts
Labels: App Payment: Stripe

Update apps/stripe/src/modules/transactions-recording/repositories/dynamodb/dynamodb-transaction-recorder-repo.ts
  apps/stripe/src/modules/transactions-recording/repositories/dynamodb/dynamodb-transaction-recorder-repo.ts
Labels: App Payment: Stripe

Create DynamoDB repository for transaction recording (#1890)
  apps/stripe/.env.example
  apps/stripe/src/__tests__/mocks/mock-auth-data.ts
  apps/stripe/src/__tests__/mocks/mocked-recorded-transaction.ts
  apps/stripe/src/__tests__/mocks/mocked-transaction-recorder.ts
  apps/stripe/src/app/api/saleor/transaction-initialize-session/route.ts
  apps/stripe/src/app/api/saleor/transaction-initialize-session/use-case.test.ts
  apps/stripe/src/app/api/saleor/transaction-initialize-session/use-case.ts
  apps/stripe/src/app/api/saleor/transaction-process-session/route.ts
  apps/stripe/src/app/api/saleor/transaction-process-session/use-case.test.ts
  apps/stripe/src/app/api/saleor/transaction-process-session/use-case.ts
  apps/stripe/src/app/api/stripe/webhook/route.ts
  apps/stripe/src/app/api/stripe/webhook/stripe-event-handlers/payment-intent-amount-capturable-updated-handler.ts
  apps/stripe/src/app/api/stripe/webhook/stripe-event-handlers/payment-intent-succeeded-handler.ts
  apps/stripe/src/app/api/stripe/webhook/use-case.test.ts
  apps/stripe/src/app/api/stripe/webhook/use-case.ts
  apps/stripe/src/modules/transactions-recording/domain/recorded-transaction.ts
  apps/stripe/src/modules/transactions-recording/repositories/dynamodb/dynamodb-transaction-recorder-repo.test.ts
  apps/stripe/src/modules/transactions-recording/repositories/dynamodb/dynamodb-transaction-recorder-repo.ts
  apps/stripe/src/modules/transactions-recording/repositories/dynamodb/recorded-transaction-db-model.test.ts
  apps/stripe/src/modules/transactions-recording/repositories/dynamodb/recorded-transaction-db-model.ts
  apps/stripe/src/modules/transactions-recording/repositories/transaction-recorder-impl.ts
  apps/stripe/src/modules/transactions-recording/repositories/transaction-recorder-repo.ts
  apps/stripe/src/modules/transactions-recording/transaction-recorder-file.ts
  apps/stripe/src/modules/transactions-recording/transaction-recorder-impl.ts
Labels: App Payment: Stripe

Create DynamoDB repository for transaction recording (#1890)
  apps/stripe/.env.example
  apps/stripe/src/__tests__/mocks/mock-auth-data.ts
  apps/stripe/src/__tests__/mocks/mocked-recorded-transaction.ts
  apps/stripe/src/__tests__/mocks/mocked-transaction-recorder.ts
  apps/stripe/src/app/api/saleor/transaction-initialize-session/route.ts
  apps/stripe/src/app/api/saleor/transaction-initialize-session/use-case.test.ts
  apps/stripe/src/app/api/saleor/transaction-initialize-session/use-case.ts
  apps/stripe/src/app/api/saleor/transaction-process-session/route.ts
  apps/stripe/src/app/api/saleor/transaction-process-session/use-case.test.ts
  apps/stripe/src/app/api/saleor/transaction-process-session/use-case.ts
  apps/stripe/src/app/api/stripe/webhook/route.ts
  apps/stripe/src/app/api/stripe/webhook/stripe-event-handlers/payment-intent-amount-capturable-updated-handler.ts
  apps/stripe/src/app/api/stripe/webhook/stripe-event-handlers/payment-intent-succeeded-handler.ts
  apps/stripe/src/app/api/stripe/webhook/use-case.test.ts
  apps/stripe/src/app/api/stripe/webhook/use-case.ts
  apps/stripe/src/modules/transactions-recording/domain/recorded-transaction.ts
  apps/stripe/src/modules/transactions-recording/repositories/dynamodb/dynamodb-transaction-recorder-repo.test.ts
  apps/stripe/src/modules/transactions-recording/repositories/dynamodb/dynamodb-transaction-recorder-repo.ts
  apps/stripe/src/modules/transactions-recording/repositories/dynamodb/recorded-transaction-db-model.test.ts
  apps/stripe/src/modules/transactions-recording/repositories/dynamodb/recorded-transaction-db-model.ts
  apps/stripe/src/modules/transactions-recording/repositories/transaction-recorder-impl.ts
  apps/stripe/src/modules/transactions-recording/repositories/transaction-recorder-repo.ts
  apps/stripe/src/modules/transactions-recording/transaction-recorder-file.ts
  apps/stripe/src/modules/transactions-recording/transaction-recorder-impl.ts
Labels: App Payment: Stripe

Add charge requested support
  apps/stripe/generated/graphql.ts
  apps/stripe/graphql/fragments/event-metadata.graphql
  apps/stripe/graphql/fragments/source-object.graphql
  apps/stripe/graphql/queries/.gitkeep
  apps/stripe/graphql/subscriptions/payment-gateway-initialize-session.graphql
  apps/stripe/graphql/subscriptions/transaction-charge-requested.graphql
  apps/stripe/graphql/subscriptions/transaction-initialize-session.graphql
  apps/stripe/graphql/subscriptions/transaction-process-session.graphql
  apps/stripe/scripts/run-webhooks-migration.ts
  apps/stripe/src/__tests__/mocks/constants.ts
  apps/stripe/src/__tests__/mocks/transaction-charge-requested-event.ts
  apps/stripe/src/app/api/manifest/route.integration.test.ts
  apps/stripe/src/app/api/saleor/transaction-charge-requested/route.ts
  apps/stripe/src/app/api/saleor/transaction-charge-requested/use-case-response.test.ts
  apps/stripe/src/app/api/saleor/transaction-charge-requested/use-case-response.ts
  apps/stripe/src/app/api/saleor/transaction-charge-requested/use-case.test.ts
  apps/stripe/src/app/api/saleor/transaction-charge-requested/use-case.ts
  apps/stripe/src/app/api/saleor/transaction-charge-requested/webhook-definition.ts
  apps/stripe/src/app/api/saleor/transaction-initialize-session/use-case.test.ts
  apps/stripe/src/app/api/saleor/transaction-process-session/use-case-response.test.ts
  apps/stripe/src/app/api/saleor/transaction-process-session/use-case.test.ts
  apps/stripe/src/app/api/stripe/webhook/stripe-event-handlers/payment-intent-succeeded-handler.test.ts
  apps/stripe/src/app/api/stripe/webhook/stripe-event-handlers/payment-intent-succeeded-handler.ts
  apps/stripe/src/app/api/stripe/webhook/transaction-event-report-variables-resolver.test.ts
  apps/stripe/src/app/api/stripe/webhook/transaction-event-report-variables-resolver.ts
  apps/stripe/src/app/api/stripe/webhook/use-case.test.ts
  apps/stripe/src/app/api/stripe/webhook/use-case.ts
  apps/stripe/src/modules/saleor/transaction-event-reporter.test.ts
  apps/stripe/src/modules/saleor/transaction-event-reporter.ts
  apps/stripe/src/modules/stripe/stripe-payment-intent-api-error.ts
  apps/stripe/src/modules/stripe/stripe-payment-intents-api.ts
  apps/stripe/src/modules/stripe/types.ts
  apps/stripe/src/modules/transaction-result/action-required-result.test.ts
  apps/stripe/src/modules/transaction-result/success-result.ts
Labels: App Payment: Stripe

add charge to charge failure
  apps/stripe/src/app/api/saleor/transaction-charge-requested/use-case-response.test.ts
  apps/stripe/src/app/api/saleor/transaction-charge-requested/use-case-response.ts
  apps/stripe/src/app/api/saleor/transaction-process-session/use-case-response.test.ts
  apps/stripe/src/app/api/stripe/webhook/transaction-event-report-variables-resolver.test.ts
  apps/stripe/src/app/api/stripe/webhook/use-case.test.ts
  apps/stripe/src/modules/transaction-result/failure-result.ts
Labels: App Payment: Stripe

fixes after CR
  apps/stripe/src/app/api/saleor/transaction-charge-requested/use-case.ts
  apps/stripe/src/app/api/stripe/webhook/use-case.ts
Labels: App Payment: Stripe

Add charge requested support for Stripe app (#1891)
  apps/stripe/generated/graphql.ts
  apps/stripe/graphql/fragments/event-metadata.graphql
  apps/stripe/graphql/fragments/source-object.graphql
  apps/stripe/graphql/queries/.gitkeep
  apps/stripe/graphql/subscriptions/payment-gateway-initialize-session.graphql
  apps/stripe/graphql/subscriptions/transaction-charge-requested.graphql
  apps/stripe/graphql/subscriptions/transaction-initialize-session.graphql
  apps/stripe/graphql/subscriptions/transaction-process-session.graphql
  apps/stripe/scripts/run-webhooks-migration.ts
  apps/stripe/src/__tests__/mocks/constants.ts
  apps/stripe/src/__tests__/mocks/transaction-charge-requested-event.ts
  apps/stripe/src/app/api/manifest/route.integration.test.ts
  apps/stripe/src/app/api/saleor/transaction-charge-requested/route.ts
  apps/stripe/src/app/api/saleor/transaction-charge-requested/use-case-response.test.ts
  apps/stripe/src/app/api/saleor/transaction-charge-requested/use-case-response.ts
  apps/stripe/src/app/api/saleor/transaction-charge-requested/use-case.test.ts
  apps/stripe/src/app/api/saleor/transaction-charge-requested/use-case.ts
  apps/stripe/src/app/api/saleor/transaction-charge-requested/webhook-definition.ts
  apps/stripe/src/app/api/saleor/transaction-initialize-session/use-case.test.ts
  apps/stripe/src/app/api/saleor/transaction-process-session/use-case-response.test.ts
  apps/stripe/src/app/api/saleor/transaction-process-session/use-case.test.ts
  apps/stripe/src/app/api/stripe/webhook/stripe-event-handlers/payment-intent-succeeded-handler.test.ts
  apps/stripe/src/app/api/stripe/webhook/stripe-event-handlers/payment-intent-succeeded-handler.ts
  apps/stripe/src/app/api/stripe/webhook/transaction-event-report-variables-resolver.test.ts
  apps/stripe/src/app/api/stripe/webhook/transaction-event-report-variables-resolver.ts
  apps/stripe/src/app/api/stripe/webhook/use-case.test.ts
  apps/stripe/src/app/api/stripe/webhook/use-case.ts
  apps/stripe/src/modules/saleor/transaction-event-reporter.test.ts
  apps/stripe/src/modules/saleor/transaction-event-reporter.ts
  apps/stripe/src/modules/stripe/stripe-payment-intent-api-error.ts
  apps/stripe/src/modules/stripe/stripe-payment-intents-api.ts
  apps/stripe/src/modules/stripe/types.ts
  apps/stripe/src/modules/transaction-result/action-required-result.test.ts
  apps/stripe/src/modules/transaction-result/failure-result.ts
  apps/stripe/src/modules/transaction-result/success-result.ts
Labels: App Payment: Stripe

Add charge requested support for Stripe app (#1891)
  apps/stripe/generated/graphql.ts
  apps/stripe/graphql/fragments/event-metadata.graphql
  apps/stripe/graphql/fragments/source-object.graphql
  apps/stripe/graphql/queries/.gitkeep
  apps/stripe/graphql/subscriptions/payment-gateway-initialize-session.graphql
  apps/stripe/graphql/subscriptions/transaction-charge-requested.graphql
  apps/stripe/graphql/subscriptions/transaction-initialize-session.graphql
  apps/stripe/graphql/subscriptions/transaction-process-session.graphql
  apps/stripe/scripts/run-webhooks-migration.ts
  apps/stripe/src/__tests__/mocks/constants.ts
  apps/stripe/src/__tests__/mocks/transaction-charge-requested-event.ts
  apps/stripe/src/app/api/manifest/route.integration.test.ts
  apps/stripe/src/app/api/saleor/transaction-charge-requested/route.ts
  apps/stripe/src/app/api/saleor/transaction-charge-requested/use-case-response.test.ts
  apps/stripe/src/app/api/saleor/transaction-charge-requested/use-case-response.ts
  apps/stripe/src/app/api/saleor/transaction-charge-requested/use-case.test.ts
  apps/stripe/src/app/api/saleor/transaction-charge-requested/use-case.ts
  apps/stripe/src/app/api/saleor/transaction-charge-requested/webhook-definition.ts
  apps/stripe/src/app/api/saleor/transaction-initialize-session/use-case.test.ts
  apps/stripe/src/app/api/saleor/transaction-process-session/use-case-response.test.ts
  apps/stripe/src/app/api/saleor/transaction-process-session/use-case.test.ts
  apps/stripe/src/app/api/stripe/webhook/stripe-event-handlers/payment-intent-succeeded-handler.test.ts
  apps/stripe/src/app/api/stripe/webhook/stripe-event-handlers/payment-intent-succeeded-handler.ts
  apps/stripe/src/app/api/stripe/webhook/transaction-event-report-variables-resolver.test.ts
  apps/stripe/src/app/api/stripe/webhook/transaction-event-report-variables-resolver.ts
  apps/stripe/src/app/api/stripe/webhook/use-case.test.ts
  apps/stripe/src/app/api/stripe/webhook/use-case.ts
  apps/stripe/src/modules/saleor/transaction-event-reporter.test.ts
  apps/stripe/src/modules/saleor/transaction-event-reporter.ts
  apps/stripe/src/modules/stripe/stripe-payment-intent-api-error.ts
  apps/stripe/src/modules/stripe/stripe-payment-intents-api.ts
  apps/stripe/src/modules/stripe/types.ts
  apps/stripe/src/modules/transaction-result/action-required-result.test.ts
  apps/stripe/src/modules/transaction-result/failure-result.ts
  apps/stripe/src/modules/transaction-result/success-result.ts
Labels: App Payment: Stripe

removing config
  apps/stripe/src/__tests__/mocks/app-config-repo.ts
  apps/stripe/src/modules/app-config/repositories/dynamodb/channel-config-mapping-db-model.ts
  apps/stripe/src/modules/app-config/repositories/dynamodb/dynamodb-app-config-repo.ts
  apps/stripe/src/modules/app-config/trpc-handlers/remove-stripe-config-trpc-handler.ts
  apps/stripe/src/modules/ui/stripe-configs/channel-config-section.tsx
  apps/stripe/src/modules/ui/stripe-configs/stripe-configs-list.tsx
Labels: App Payment: Stripe

remove config api
  apps/stripe/src/modules/app-config/repositories/app-config-repo.ts
  apps/stripe/src/modules/app-config/trpc-handlers/app-config-router.ts
  apps/stripe/src/modules/app-config/trpc-handlers/remove-stripe-config-trpc-handler.ts
  apps/stripe/src/modules/stripe/stripe-webhook-manager.ts
Labels: App Payment: Stripe

unbind configs when removing
  apps/stripe/src/modules/app-config/domain/app-root-config.test.ts
  apps/stripe/src/modules/app-config/domain/app-root-config.ts
  apps/stripe/src/modules/app-config/repositories/app-config-repo.ts
  apps/stripe/src/modules/app-config/trpc-handlers/remove-stripe-config-trpc-handler.ts
Labels: App Payment: Stripe

tests
  apps/stripe/src/__tests__/mocks/app-config-repo.ts
  apps/stripe/src/app/api/saleor/payment-gateway-initialize-session/use-case.test.ts
  apps/stripe/src/app/api/saleor/transaction-charge-requested/use-case.test.ts
  apps/stripe/src/app/api/stripe/webhook/use-case.test.ts
  apps/stripe/src/modules/app-config/repositories/dynamodb/dynamodb-app-config-repo.test.ts
  apps/stripe/src/modules/app-config/trpc-handlers/get-stripe-config-trpc-handler.test.ts
  apps/stripe/src/modules/app-config/trpc-handlers/remove-stripe-config-trpc-handler.test.ts
  apps/stripe/src/modules/app-config/trpc-handlers/remove-stripe-config-trpc-handler.ts
  apps/stripe/src/modules/stripe/stripe-webhook-manager.test.ts
  apps/stripe/src/modules/stripe/stripe-webhook-manager.ts
  packages/shared/src/editor-js/editor-js-plaintext-renderer.ts
  packages/shared/src/is-in-iframe.ts
  packages/ui/src/layout.tsx
Labels: App Payment: Stripe

fix search
  apps/search/src/views/configuration/configuration.view.tsx
Labels: App: Search

tests
  apps/stripe/src/__tests__/setup.units.ts
  apps/stripe/src/app/api/saleor/payment-gateway-initialize-session/use-case.test.ts
  apps/stripe/src/app/api/saleor/transaction-charge-requested/use-case.test.ts
  apps/stripe/src/app/api/stripe/webhook/use-case.test.ts
  apps/stripe/src/modules/app-config/trpc-handlers/get-stripe-config-trpc-handler.test.ts
Labels: App Payment: Stripe

Support removing config (#1892)
  apps/search/src/views/configuration/configuration.view.tsx
  apps/stripe/src/__tests__/mocks/app-config-repo.ts
  apps/stripe/src/__tests__/setup.units.ts
  apps/stripe/src/modules/app-config/domain/app-root-config.test.ts
  apps/stripe/src/modules/app-config/domain/app-root-config.ts
  apps/stripe/src/modules/app-config/repositories/app-config-repo.ts
  apps/stripe/src/modules/app-config/repositories/dynamodb/channel-config-mapping-db-model.ts
  apps/stripe/src/modules/app-config/repositories/dynamodb/dynamodb-app-config-repo.test.ts
  apps/stripe/src/modules/app-config/repositories/dynamodb/dynamodb-app-config-repo.ts
  apps/stripe/src/modules/app-config/trpc-handlers/app-config-router.ts
  apps/stripe/src/modules/app-config/trpc-handlers/get-stripe-config-trpc-handler.test.ts
  apps/stripe/src/modules/app-config/trpc-handlers/remove-stripe-config-trpc-handler.test.ts
  apps/stripe/src/modules/app-config/trpc-handlers/remove-stripe-config-trpc-handler.ts
  apps/stripe/src/modules/stripe/stripe-webhook-manager.test.ts
  apps/stripe/src/modules/stripe/stripe-webhook-manager.ts
  apps/stripe/src/modules/ui/stripe-configs/channel-config-section.tsx
  apps/stripe/src/modules/ui/stripe-configs/stripe-configs-list.tsx
  packages/shared/src/editor-js/editor-js-plaintext-renderer.ts
  packages/shared/src/is-in-iframe.ts
  packages/ui/src/layout.tsx
Labels: App: Search, App Payment: Stripe

Support removing config (#1892)
  apps/search/src/views/configuration/configuration.view.tsx
  apps/stripe/src/__tests__/mocks/app-config-repo.ts
  apps/stripe/src/__tests__/setup.units.ts
  apps/stripe/src/modules/app-config/domain/app-root-config.test.ts
  apps/stripe/src/modules/app-config/domain/app-root-config.ts
  apps/stripe/src/modules/app-config/repositories/app-config-repo.ts
  apps/stripe/src/modules/app-config/repositories/dynamodb/channel-config-mapping-db-model.ts
  apps/stripe/src/modules/app-config/repositories/dynamodb/dynamodb-app-config-repo.test.ts
  apps/stripe/src/modules/app-config/repositories/dynamodb/dynamodb-app-config-repo.ts
  apps/stripe/src/modules/app-config/trpc-handlers/app-config-router.ts
  apps/stripe/src/modules/app-config/trpc-handlers/get-stripe-config-trpc-handler.test.ts
  apps/stripe/src/modules/app-config/trpc-handlers/remove-stripe-config-trpc-handler.test.ts
  apps/stripe/src/modules/app-config/trpc-handlers/remove-stripe-config-trpc-handler.ts
  apps/stripe/src/modules/stripe/stripe-webhook-manager.test.ts
  apps/stripe/src/modules/stripe/stripe-webhook-manager.ts
  apps/stripe/src/modules/ui/stripe-configs/channel-config-section.tsx
  apps/stripe/src/modules/ui/stripe-configs/stripe-configs-list.tsx
  packages/shared/src/editor-js/editor-js-plaintext-renderer.ts
  packages/shared/src/is-in-iframe.ts
  packages/ui/src/layout.tsx
Labels: App: Search, App Payment: Stripe

encrypt rk and whsec in config
  apps/stripe/.env.example
  apps/stripe/src/__tests__/mocks/mock-encryptor.ts
  apps/stripe/src/__tests__/mocks/mocked-encryption-key.ts
  apps/stripe/src/lib/encryptor.test.ts
  apps/stripe/src/lib/encryptor.ts
  apps/stripe/src/modules/app-config/repositories/app-config-repo-impl.ts
  apps/stripe/src/modules/app-config/repositories/dynamodb/__tests__/app-config-dynamodb-mocks.ts
  apps/stripe/src/modules/app-config/repositories/dynamodb/dynamodb-app-config-repo.test.ts
  apps/stripe/src/modules/app-config/repositories/dynamodb/dynamodb-app-config-repo.ts
Labels: App Payment: Stripe

print webhook status
  apps/stripe/src/modules/app-config/domain/stripe-config.ts
  apps/stripe/src/modules/app-config/trpc-handlers/app-config-router.ts
  apps/stripe/src/modules/app-config/trpc-handlers/get-stripe-config-trpc-handler.test.ts
  apps/stripe/src/modules/app-config/trpc-handlers/get-stripe-config-trpc-handler.ts
  apps/stripe/src/modules/app-config/trpc-handlers/get-stripe-configs-list-trpc-handler.ts
  apps/stripe/src/modules/stripe/stripe-webhook-manager.ts
  apps/stripe/src/modules/ui/stripe-configs/stripe-configs-list.tsx
Labels: App Payment: Stripe

fix test
  apps/stripe/src/modules/app-config/trpc-handlers/get-stripe-configs-channels-mapping-trpc-handler.test.ts
Labels: App Payment: Stripe

Refactor how we handle Stripe events
  apps/stripe/src/__tests__/mocks/stripe-events/mocked-payment-intent-failed.ts
  apps/stripe/src/__tests__/mocks/stripe-events/mocked-payment-intent-processing.ts
  apps/stripe/src/__tests__/mocks/stripe-events/mocked-payment-intent-requires-action.ts
  apps/stripe/src/app/api/stripe/webhook/stripe-object-handlers/payment-intent-amount-capturable-updated-handler.test.ts
  apps/stripe/src/app/api/stripe/webhook/stripe-object-handlers/payment-intent-amount-capturable-updated-handler.ts
  apps/stripe/src/app/api/stripe/webhook/stripe-object-handlers/payment-intent-succeeded-handler.test.ts
  apps/stripe/src/app/api/stripe/webhook/stripe-object-handlers/payment-intent-succeeded-handler.ts
  apps/stripe/src/app/api/stripe/webhook/stripe-object-handlers/stripe-payment-intent-handler.test.ts
  apps/stripe/src/app/api/stripe/webhook/stripe-object-handlers/stripe-payment-intent-handler.ts
  apps/stripe/src/app/api/stripe/webhook/use-case.test.ts
  apps/stripe/src/app/api/stripe/webhook/use-case.ts
  apps/stripe/src/modules/stripe/stripe-webhook-manager.test.ts
  apps/stripe/src/modules/stripe/supported-stripe-events.ts
Labels: App Payment: Stripe

remove dead code
  apps/stripe/src/app/api/stripe/webhook/stripe-object-handlers/payment-intent-amount-capturable-updated-handler.test.ts
  apps/stripe/src/app/api/stripe/webhook/stripe-object-handlers/payment-intent-amount-capturable-updated-handler.ts
  apps/stripe/src/app/api/stripe/webhook/stripe-object-handlers/payment-intent-succeeded-handler.test.ts
  apps/stripe/src/app/api/stripe/webhook/stripe-object-handlers/payment-intent-succeeded-handler.ts
Labels: App Payment: Stripe

remove todo comments
  apps/stripe/src/app/api/stripe/webhook/use-case.ts
  apps/stripe/src/modules/transactions-recording/domain/recorded-transaction.ts
Labels: App Payment: Stripe

POC integration tests
  apps/stripe/src/__tests__/global-setup.integration-dynamo.ts
  apps/stripe/src/__tests__/integration/dynamodb/config-repo/config-repo.test.ts
  apps/stripe/src/__tests__/setup.integration-dynamo.ts
  apps/stripe/vitest.config.ts
Labels: App Payment: Stripe

Encrypt db & show webhook status (#1893)
  apps/stripe/.env.example
  apps/stripe/src/__tests__/mocks/mock-encryptor.ts
  apps/stripe/src/__tests__/mocks/mocked-encryption-key.ts
  apps/stripe/src/lib/encryptor.test.ts
  apps/stripe/src/lib/encryptor.ts
  apps/stripe/src/modules/app-config/domain/stripe-config.ts
  apps/stripe/src/modules/app-config/repositories/app-config-repo-impl.ts
  apps/stripe/src/modules/app-config/repositories/dynamodb/__tests__/app-config-dynamodb-mocks.ts
  apps/stripe/src/modules/app-config/repositories/dynamodb/dynamodb-app-config-repo.test.ts
  apps/stripe/src/modules/app-config/repositories/dynamodb/dynamodb-app-config-repo.ts
  apps/stripe/src/modules/app-config/trpc-handlers/app-config-router.ts
  apps/stripe/src/modules/app-config/trpc-handlers/get-stripe-config-trpc-handler.test.ts
  apps/stripe/src/modules/app-config/trpc-handlers/get-stripe-config-trpc-handler.ts
  apps/stripe/src/modules/app-config/trpc-handlers/get-stripe-configs-channels-mapping-trpc-handler.test.ts
  apps/stripe/src/modules/app-config/trpc-handlers/get-stripe-configs-list-trpc-handler.ts
  apps/stripe/src/modules/stripe/stripe-webhook-manager.ts
  apps/stripe/src/modules/ui/stripe-configs/stripe-configs-list.tsx
Labels: App Payment: Stripe

Encrypt db & show webhook status (#1893)
  apps/stripe/.env.example
  apps/stripe/src/__tests__/mocks/mock-encryptor.ts
  apps/stripe/src/__tests__/mocks/mocked-encryption-key.ts
  apps/stripe/src/lib/encryptor.test.ts
  apps/stripe/src/lib/encryptor.ts
  apps/stripe/src/modules/app-config/domain/stripe-config.ts
  apps/stripe/src/modules/app-config/repositories/app-config-repo-impl.ts
  apps/stripe/src/modules/app-config/repositories/dynamodb/__tests__/app-config-dynamodb-mocks.ts
  apps/stripe/src/modules/app-config/repositories/dynamodb/dynamodb-app-config-repo.test.ts
  apps/stripe/src/modules/app-config/repositories/dynamodb/dynamodb-app-config-repo.ts
  apps/stripe/src/modules/app-config/trpc-handlers/app-config-router.ts
  apps/stripe/src/modules/app-config/trpc-handlers/get-stripe-config-trpc-handler.test.ts
  apps/stripe/src/modules/app-config/trpc-handlers/get-stripe-config-trpc-handler.ts
  apps/stripe/src/modules/app-config/trpc-handlers/get-stripe-configs-channels-mapping-trpc-handler.test.ts
  apps/stripe/src/modules/app-config/trpc-handlers/get-stripe-configs-list-trpc-handler.ts
  apps/stripe/src/modules/stripe/stripe-webhook-manager.ts
  apps/stripe/src/modules/ui/stripe-configs/stripe-configs-list.tsx
Labels: App Payment: Stripe

better test case
  apps/stripe/src/app/api/saleor/with-recipient-verification.test.ts
Labels: App Payment: Stripe

saleor webhooks recipient verification
  apps/stripe/generated/graphql.ts
  apps/stripe/graphql/fragments/event-metadata.graphql
  apps/stripe/src/app/api/saleor/payment-gateway-initialize-session/route.ts
  apps/stripe/src/app/api/saleor/transaction-charge-requested/route.ts
  apps/stripe/src/app/api/saleor/transaction-initialize-session/route.ts
  apps/stripe/src/app/api/saleor/transaction-process-session/route.ts
  apps/stripe/src/app/api/saleor/with-recipient-verification.test.ts
  apps/stripe/src/app/api/saleor/with-recipient-verification.ts
Labels: App Payment: Stripe

cr fixes
  apps/stripe/src/app/api/saleor/with-recipient-verification.test.ts
  apps/stripe/src/app/api/saleor/with-recipient-verification.ts
Labels: App Payment: Stripe

fix snapshot
  apps/stripe/src/app/api/manifest/route.integration.test.ts
Labels: App Payment: Stripe

saleor webhooks recipient verification (#1894)
  apps/stripe/generated/graphql.ts
  apps/stripe/graphql/fragments/event-metadata.graphql
  apps/stripe/src/app/api/manifest/route.integration.test.ts
  apps/stripe/src/app/api/saleor/payment-gateway-initialize-session/route.ts
  apps/stripe/src/app/api/saleor/transaction-charge-requested/route.ts
  apps/stripe/src/app/api/saleor/transaction-initialize-session/route.ts
  apps/stripe/src/app/api/saleor/transaction-process-session/route.ts
  apps/stripe/src/app/api/saleor/with-recipient-verification.test.ts
  apps/stripe/src/app/api/saleor/with-recipient-verification.ts
Labels: App Payment: Stripe

saleor webhooks recipient verification (#1894)
  apps/stripe/generated/graphql.ts
  apps/stripe/graphql/fragments/event-metadata.graphql
  apps/stripe/src/app/api/manifest/route.integration.test.ts
  apps/stripe/src/app/api/saleor/payment-gateway-initialize-session/route.ts
  apps/stripe/src/app/api/saleor/transaction-charge-requested/route.ts
  apps/stripe/src/app/api/saleor/transaction-initialize-session/route.ts
  apps/stripe/src/app/api/saleor/transaction-process-session/route.ts
  apps/stripe/src/app/api/saleor/with-recipient-verification.test.ts
  apps/stripe/src/app/api/saleor/with-recipient-verification.ts
Labels: App Payment: Stripe

POC: graphql-request in Stripe
  apps/stripe/package.json
  apps/stripe/scripts/run-webhooks-migration.ts
  apps/stripe/src/__tests__/mocks/graphql-client.ts
  apps/stripe/src/lib/graphql-client.ts
  apps/stripe/src/modules/app-config/trpc-handlers/get-saleor-channels-trpc-handler.ts
  apps/stripe/src/modules/saleor/channel-fetcher.test.ts
  apps/stripe/src/modules/saleor/channel-fetcher.ts
  apps/stripe/src/modules/saleor/transaction-event-reporter.test.ts
  apps/stripe/src/modules/saleor/transaction-event-reporter.ts
  apps/stripe/src/modules/trpc/context-app-router.ts
  pnpm-lock.yaml
Labels: App Payment: Stripe

fixes after CR
  apps/stripe/src/app/api/stripe/webhook/stripe-object-handlers/stripe-payment-intent-handler.test.ts
  apps/stripe/src/app/api/stripe/webhook/stripe-object-handlers/stripe-payment-intent-handler.ts
  apps/stripe/src/app/api/stripe/webhook/use-case-error.test.ts
  apps/stripe/src/app/api/stripe/webhook/use-case-success.test.ts
  apps/stripe/src/app/api/stripe/webhook/use-case.test.ts
Labels: App Payment: Stripe

Refactor how we handle Stripe events and add support for more events (#1895)
  apps/stripe/src/__tests__/mocks/stripe-events/mocked-payment-intent-failed.ts
  apps/stripe/src/__tests__/mocks/stripe-events/mocked-payment-intent-processing.ts
  apps/stripe/src/__tests__/mocks/stripe-events/mocked-payment-intent-requires-action.ts
  apps/stripe/src/app/api/stripe/webhook/stripe-event-handlers/payment-intent-amount-capturable-updated-handler.test.ts
  apps/stripe/src/app/api/stripe/webhook/stripe-event-handlers/payment-intent-amount-capturable-updated-handler.ts
  apps/stripe/src/app/api/stripe/webhook/stripe-event-handlers/payment-intent-succeeded-handler.test.ts
  apps/stripe/src/app/api/stripe/webhook/stripe-event-handlers/payment-intent-succeeded-handler.ts
  apps/stripe/src/app/api/stripe/webhook/stripe-object-handlers/stripe-payment-intent-handler.test.ts
  apps/stripe/src/app/api/stripe/webhook/stripe-object-handlers/stripe-payment-intent-handler.ts
  apps/stripe/src/app/api/stripe/webhook/use-case-error.test.ts
  apps/stripe/src/app/api/stripe/webhook/use-case-success.test.ts
  apps/stripe/src/app/api/stripe/webhook/use-case.test.ts
  apps/stripe/src/app/api/stripe/webhook/use-case.ts
  apps/stripe/src/modules/stripe/stripe-webhook-manager.test.ts
  apps/stripe/src/modules/stripe/supported-stripe-events.ts
  apps/stripe/src/modules/transactions-recording/domain/recorded-transaction.ts
Labels: App Payment: Stripe

Refactor how we handle Stripe events and add support for more events (#1895)
  apps/stripe/src/__tests__/mocks/stripe-events/mocked-payment-intent-failed.ts
  apps/stripe/src/__tests__/mocks/stripe-events/mocked-payment-intent-processing.ts
  apps/stripe/src/__tests__/mocks/stripe-events/mocked-payment-intent-requires-action.ts
  apps/stripe/src/app/api/stripe/webhook/stripe-event-handlers/payment-intent-amount-capturable-updated-handler.test.ts
  apps/stripe/src/app/api/stripe/webhook/stripe-event-handlers/payment-intent-amount-capturable-updated-handler.ts
  apps/stripe/src/app/api/stripe/webhook/stripe-event-handlers/payment-intent-succeeded-handler.test.ts
  apps/stripe/src/app/api/stripe/webhook/stripe-event-handlers/payment-intent-succeeded-handler.ts
  apps/stripe/src/app/api/stripe/webhook/stripe-object-handlers/stripe-payment-intent-handler.test.ts
  apps/stripe/src/app/api/stripe/webhook/stripe-object-handlers/stripe-payment-intent-handler.ts
  apps/stripe/src/app/api/stripe/webhook/use-case-error.test.ts
  apps/stripe/src/app/api/stripe/webhook/use-case-success.test.ts
  apps/stripe/src/app/api/stripe/webhook/use-case.test.ts
  apps/stripe/src/app/api/stripe/webhook/use-case.ts
  apps/stripe/src/modules/stripe/stripe-webhook-manager.test.ts
  apps/stripe/src/modules/stripe/supported-stripe-events.ts
  apps/stripe/src/modules/transactions-recording/domain/recorded-transaction.ts
Labels: App Payment: Stripe

Add MCP config
  .cursor/mcp.json
Labels: none

Add MCP config
  .cursor/mcp.json
Labels: none

wip
  apps/stripe/package.json
  apps/stripe/src/__tests__/global-setup.integration-dynamo.ts
  apps/stripe/src/__tests__/integration/dynamodb/delete-dynamodb-table.sh
  apps/stripe/src/__tests__/integration/dynamodb/docker-compose.yml
  apps/stripe/src/__tests__/integration/dynamodb/setup-dynamodb.sh
  apps/stripe/src/__tests__/setup.integration-dynamo.ts
  apps/stripe/vitest.config.ts
Labels: App Payment: Stripe
