Repository saleor/apps, changes with the labels that .github/labeler.yml gives for each.
All labels: App: Klaviyo, App: Product Feed, App: Search, App: AvaTax, App: CMS, App: SMTP, App: Segment, App Payment: Stripe

.github/labeler.yml:

"App: Klaviyo":
  - changed-files:
      - any-glob-to-any-file: "apps/klaviyo/**/*"

"App: Product Feed":
  - changed-files:
      - any-glob-to-any-file: "apps/products-feed/**/*"

"App: Search":
  - changed-files:
      - any-glob-to-any-file: "apps/search/**/*"

"App: AvaTax":
  - changed-files:
      - any-glob-to-any-file: "apps/avatax/**/*"

"App: CMS":
  - changed-files:
      - any-glob-to-any-file: "apps/cms/**/*"

"App: SMTP":
  - changed-files:
      - any-glob-to-any-file: "apps/smtp/**/*"

"App: Segment":
  - changed-files:
      - any-glob-to-any-file: "apps/segment/**/*"

"App Payment: Stripe":
  - changed-files:
      - any-glob-to-any-file: "apps/stripe/**/*"

Fix Stripe app Saleor Charge Failure API response (#1866)
  apps/stripe/src/app/api/saleor/transaction-initialize-session/use-case-response.test.ts
  apps/stripe/src/app/api/saleor/transaction-initialize-session/use-case-response.ts
  apps/stripe/src/app/api/saleor/transaction-initialize-session/use-case.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: App Payment: Stripe

Fix Stripe API request params
  apps/stripe/src/__tests__/mocks/transaction-initalize-session-event.ts
  apps/stripe/src/app/api/saleor/transaction-initialize-session/event-data-parser.test.ts
  apps/stripe/src/app/api/saleor/transaction-initialize-session/event-data-parser.ts
  apps/stripe/src/app/api/saleor/transaction-initialize-session/use-case-response.test.ts
  apps/stripe/src/app/api/saleor/transaction-initialize-session/use-case-response.ts
  apps/stripe/src/app/api/saleor/transaction-initialize-session/use-case.test.ts
  apps/stripe/src/app/api/saleor/transaction-initialize-session/use-case.ts
Labels: App Payment: Stripe

gql
  apps/stripe/generated/graphql.ts
Labels: App Payment: Stripe

comment
  apps/stripe/src/modules/stripe/stripe-webhook-signature-validator.ts
Labels: App Payment: Stripe

Fix Stripe API request params (#1867)
  apps/stripe/src/__tests__/mocks/transaction-initalize-session-event.ts
  apps/stripe/src/app/api/saleor/transaction-initialize-session/event-data-parser.test.ts
  apps/stripe/src/app/api/saleor/transaction-initialize-session/event-data-parser.ts
  apps/stripe/src/app/api/saleor/transaction-initialize-session/use-case-response.test.ts
  apps/stripe/src/app/api/saleor/transaction-initialize-session/use-case-response.ts
  apps/stripe/src/app/api/saleor/transaction-initialize-session/use-case.test.ts
  apps/stripe/src/app/api/saleor/transaction-initialize-session/use-case.ts
Labels: App Payment: Stripe

Fix Stripe API request params (#1867)
  apps/stripe/src/__tests__/mocks/transaction-initalize-session-event.ts
  apps/stripe/src/app/api/saleor/transaction-initialize-session/event-data-parser.test.ts
  apps/stripe/src/app/api/saleor/transaction-initialize-session/event-data-parser.ts
  apps/stripe/src/app/api/saleor/transaction-initialize-session/use-case-response.test.ts
  apps/stripe/src/app/api/saleor/transaction-initialize-session/use-case-response.ts
  apps/stripe/src/app/api/saleor/transaction-initialize-session/use-case.test.ts
  apps/stripe/src/app/api/saleor/transaction-initialize-session/use-case.ts
Labels: App Payment: Stripe

Fix graphql generated types
  apps/avatax/generated/graphql.ts
  apps/avatax/graphql.config.ts
  apps/avatax/lint-staged.config.js
  apps/cms/generated/graphql.ts
  apps/cms/graphql.config.ts
  apps/cms/lint-staged.config.js
  apps/klaviyo/generated/graphql.ts
  apps/klaviyo/graphql.config.ts
  apps/klaviyo/lint-staged.config.js
  apps/products-feed/generated/graphql.ts
  apps/products-feed/graphql.config.ts
  apps/products-feed/lint-staged.config.js
  apps/products-feed/src/modules/google-feed/generate-google-xml-feed.ts
  apps/search/generated/graphql.ts
  apps/search/graphql.config.ts
  apps/search/lint-staged.config.js
  apps/search/src/lib/algolia/algoliaUtils.ts
  apps/search/src/lib/safe-parse-json.ts
  apps/segment/generated/graphql.ts
  apps/segment/graphql.config.ts
  apps/segment/lint-staged.config.js
  apps/smtp/generated/graphql.ts
  apps/smtp/graphql.config.ts
  apps/smtp/lint-staged.config.js
  apps/stripe/generated/graphql.ts
  apps/stripe/graphql.config.ts
  apps/stripe/lint-staged.config.js
  apps/stripe/src/app/api/saleor/transaction-initialize-session/use-case.test.ts
  packages/webhook-utils/generated/graphql.ts
  packages/webhook-utils/graphql.config.ts
  packages/webhook-utils/lint-staged.config.js
Labels: App: Klaviyo, App: Product Feed, App: Search, App: AvaTax, App: CMS, App: SMTP, App: Segment, App Payment: Stripe

Fix graphql generated types
  lint-staged.config.js
Labels: none

commit changed files
  lint-staged.config.js
Labels: none

fix lint-staged
  apps/avatax/generated/graphql.ts
  apps/avatax/lint-staged.config.js
  apps/cms/generated/graphql.ts
  apps/cms/lint-staged.config.js
  apps/klaviyo/generated/graphql.ts
  apps/klaviyo/lint-staged.config.js
  apps/products-feed/generated/graphql.ts
  apps/products-feed/lint-staged.config.js
  apps/search/generated/graphql.ts
  apps/search/lint-staged.config.js
  apps/segment/generated/graphql.ts
  apps/segment/lint-staged.config.js
  apps/smtp/generated/graphql.ts
  apps/smtp/lint-staged.config.js
  apps/stripe/generated/graphql.ts
  apps/stripe/lint-staged.config.js
  lint-staged.config.js
  packages/webhook-utils/generated/graphql.ts
  packages/webhook-utils/lint-staged.config.js
Labels: App: Klaviyo, App: Product Feed, App: Search, App: AvaTax, App: CMS, App: SMTP, App: Segment, App Payment: Stripe

fix workflow
  .github/workflows/main.yml
Labels: none

Fix typo in filename
  apps/stripe/src/__tests__/mocks/transaction-initialize-session-event.ts
  apps/stripe/src/app/api/saleor/transaction-initialize-session/use-case.test.ts
Labels: App Payment: Stripe

Improve GraphQL codegen (#1868)
  .github/workflows/main.yml
  apps/avatax/generated/graphql.ts
  apps/avatax/graphql.config.ts
  apps/avatax/lint-staged.config.js
  apps/cms/generated/graphql.ts
  apps/cms/graphql.config.ts
  apps/cms/lint-staged.config.js
  apps/klaviyo/generated/graphql.ts
  apps/klaviyo/graphql.config.ts
  apps/klaviyo/lint-staged.config.js
  apps/products-feed/generated/graphql.ts
  apps/products-feed/graphql.config.ts
  apps/products-feed/lint-staged.config.js
  apps/products-feed/src/modules/google-feed/generate-google-xml-feed.ts
  apps/search/generated/graphql.ts
  apps/search/graphql.config.ts
  apps/search/lint-staged.config.js
  apps/search/src/lib/algolia/algoliaUtils.ts
  apps/search/src/lib/safe-parse-json.ts
  apps/segment/generated/graphql.ts
  apps/segment/graphql.config.ts
  apps/segment/lint-staged.config.js
  apps/smtp/generated/graphql.ts
  apps/smtp/graphql.config.ts
  apps/smtp/lint-staged.config.js
  apps/stripe/generated/graphql.ts
  apps/stripe/graphql.config.ts
  apps/stripe/lint-staged.config.js
  packages/webhook-utils/generated/graphql.ts
  packages/webhook-utils/graphql.config.ts
  packages/webhook-utils/lint-staged.config.js
Labels: App: Klaviyo, App: Product Feed, App: Search, App: AvaTax, App: CMS, App: SMTP, App: Segment, App Payment: Stripe

Improve GraphQL codegen (#1868)
  .github/workflows/main.yml
  apps/avatax/generated/graphql.ts
  apps/avatax/graphql.config.ts
  apps/avatax/lint-staged.config.js
  apps/cms/generated/graphql.ts
  apps/cms/graphql.config.ts
  apps/cms/lint-staged.config.js
  apps/klaviyo/generated/graphql.ts
  apps/klaviyo/graphql.config.ts
  apps/klaviyo/lint-staged.config.js
  apps/products-feed/generated/graphql.ts
  apps/products-feed/graphql.config.ts
  apps/products-feed/lint-staged.config.js
  apps/products-feed/src/modules/google-feed/generate-google-xml-feed.ts
  apps/search/generated/graphql.ts
  apps/search/graphql.config.ts
  apps/search/lint-staged.config.js
  apps/search/src/lib/algolia/algoliaUtils.ts
  apps/search/src/lib/safe-parse-json.ts
  apps/segment/generated/graphql.ts
  apps/segment/graphql.config.ts
  apps/segment/lint-staged.config.js
  apps/smtp/generated/graphql.ts
  apps/smtp/graphql.config.ts
  apps/smtp/lint-staged.config.js
  apps/stripe/generated/graphql.ts
  apps/stripe/graphql.config.ts
  apps/stripe/lint-staged.config.js
  packages/webhook-utils/generated/graphql.ts
  packages/webhook-utils/graphql.config.ts
  packages/webhook-utils/lint-staged.config.js
Labels: App: Klaviyo, App: Product Feed, App: Search, App: AvaTax, App: CMS, App: SMTP, App: Segment, App Payment: Stripe

Remove __typename from GraphQL types
  apps/avatax/graphql.config.ts
  apps/cms/generated/graphql.ts
  apps/cms/graphql.config.ts
  apps/klaviyo/generated/graphql.ts
  apps/klaviyo/graphql.config.ts
  apps/products-feed/graphql.config.ts
  apps/search/graphql.config.ts
  apps/segment/generated/graphql.ts
  apps/segment/graphql.config.ts
  apps/smtp/generated/graphql.ts
  apps/smtp/graphql.config.ts
  apps/stripe/generated/graphql.ts
  apps/stripe/graphql.config.ts
  apps/stripe/src/__tests__/mocks/transaction-initalize-session-event.ts
  packages/webhook-utils/generated/graphql.ts
  packages/webhook-utils/graphql.config.ts
Labels: App: Klaviyo, App: Product Feed, App: Search, App: AvaTax, App: CMS, App: SMTP, App: Segment, App Payment: Stripe

Fix typo in filename (#1869)
  apps/stripe/src/__tests__/mocks/transaction-initialize-session-event.ts
  apps/stripe/src/app/api/saleor/transaction-initialize-session/use-case.test.ts
Labels: App Payment: Stripe

Fix typo in filename (#1869)
  apps/stripe/src/__tests__/mocks/transaction-initialize-session-event.ts
  apps/stripe/src/app/api/saleor/transaction-initialize-session/use-case.test.ts
Labels: App Payment: Stripe

fix type
  apps/stripe/src/modules/saleor/transaction-event-reporter.ts
Labels: App Payment: Stripe

Stripe webhook: payment success handling (#1862)
  apps/stripe/.gitignore
  apps/stripe/generated/graphql.ts
  apps/stripe/graphql/mutations/transaction-event-report.graphql
  apps/stripe/src/__tests__/mocks/constants.ts
  apps/stripe/src/__tests__/mocks/mocked-recorded-transaction.ts
  apps/stripe/src/__tests__/mocks/mocked-stripe-payment-intent-id.ts
  apps/stripe/src/__tests__/mocks/mocked-transaction-recorder.ts
  apps/stripe/src/__tests__/mocks/stripe-events/mocked-payment-intent-succeeded.ts
  apps/stripe/src/app/api/saleor/payment-gateway-initialize-session/use-case.ts
  apps/stripe/src/app/api/saleor/transaction-initialize-session/use-case.ts
  apps/stripe/src/app/api/stripe/webhook/resolved-webhook-events.test.ts
  apps/stripe/src/app/api/stripe/webhook/resolved-webhook-events.ts
  apps/stripe/src/app/api/stripe/webhook/route.ts
  apps/stripe/src/app/api/stripe/webhook/stripe-event-handlers/payment-intent-succeeded-handler.test.ts
  apps/stripe/src/app/api/stripe/webhook/stripe-event-handlers/payment-intent-succeeded-handler.ts
  apps/stripe/src/app/api/stripe/webhook/stripe-webhook-response.test.ts
  apps/stripe/src/app/api/stripe/webhook/use-case.test.ts
  apps/stripe/src/app/api/stripe/webhook/use-case.ts
  apps/stripe/src/lib/app-config-persistence.ts
  apps/stripe/src/modules/saleor/saleor-money.test.ts
  apps/stripe/src/modules/saleor/saleor-money.ts
  apps/stripe/src/modules/saleor/transaction-event-reporter.test.ts
  apps/stripe/src/modules/saleor/transaction-event-reporter.ts
  apps/stripe/src/modules/stripe/stripe-event-date.test.ts
  apps/stripe/src/modules/stripe/stripe-event-date.ts
  apps/stripe/src/modules/stripe/stripe-webhook-signature-validator.ts
  apps/stripe/src/modules/transaction-flow.ts
  apps/stripe/src/modules/transactions-recording/transaction-recorder-file.ts
  apps/stripe/src/modules/transactions-recording/transaction-recorder-impl.ts
  apps/stripe/src/modules/transactions-recording/transaction-recorder.ts
  packages/otel/src/observability-attributes.ts
Labels: App Payment: Stripe

Stripe webhook: payment success handling (#1862)
  apps/stripe/.gitignore
  apps/stripe/generated/graphql.ts
  apps/stripe/graphql/mutations/transaction-event-report.graphql
  apps/stripe/src/__tests__/mocks/constants.ts
  apps/stripe/src/__tests__/mocks/mocked-recorded-transaction.ts
  apps/stripe/src/__tests__/mocks/mocked-stripe-payment-intent-id.ts
  apps/stripe/src/__tests__/mocks/mocked-transaction-recorder.ts
  apps/stripe/src/__tests__/mocks/stripe-events/mocked-payment-intent-succeeded.ts
  apps/stripe/src/app/api/saleor/payment-gateway-initialize-session/use-case.ts
  apps/stripe/src/app/api/saleor/transaction-initialize-session/use-case.ts
  apps/stripe/src/app/api/stripe/webhook/resolved-webhook-events.test.ts
  apps/stripe/src/app/api/stripe/webhook/resolved-webhook-events.ts
  apps/stripe/src/app/api/stripe/webhook/route.ts
  apps/stripe/src/app/api/stripe/webhook/stripe-event-handlers/payment-intent-succeeded-handler.test.ts
  apps/stripe/src/app/api/stripe/webhook/stripe-event-handlers/payment-intent-succeeded-handler.ts
  apps/stripe/src/app/api/stripe/webhook/stripe-webhook-response.test.ts
  apps/stripe/src/app/api/stripe/webhook/use-case.test.ts
  apps/stripe/src/app/api/stripe/webhook/use-case.ts
  apps/stripe/src/lib/app-config-persistence.ts
  apps/stripe/src/modules/saleor/saleor-money.test.ts
  apps/stripe/src/modules/saleor/saleor-money.ts
  apps/stripe/src/modules/saleor/transaction-event-reporter.test.ts
  apps/stripe/src/modules/saleor/transaction-event-reporter.ts
  apps/stripe/src/modules/stripe/stripe-event-date.test.ts
  apps/stripe/src/modules/stripe/stripe-event-date.ts
  apps/stripe/src/modules/stripe/stripe-webhook-signature-validator.ts
  apps/stripe/src/modules/transaction-flow.ts
  apps/stripe/src/modules/transactions-recording/transaction-recorder-file.ts
  apps/stripe/src/modules/transactions-recording/transaction-recorder-impl.ts
  apps/stripe/src/modules/transactions-recording/transaction-recorder.ts
  packages/otel/src/observability-attributes.ts
Labels: App Payment: Stripe

Change webhook secret to zod brand
  apps/stripe/src/modules/stripe/stripe-webhook-secret.test.ts
  apps/stripe/src/modules/stripe/stripe-webhook-secret.ts
Labels: App Payment: Stripe

Stripe PK VO conversion
  apps/stripe/src/modules/stripe/stripe-publishable-key.test.ts
  apps/stripe/src/modules/stripe/stripe-publishable-key.ts
Labels: App Payment: Stripe

Stripe RK vo
  apps/stripe/src/modules/app-config/stripe-config.ts
  apps/stripe/src/modules/stripe/stripe-publishable-key.ts
  apps/stripe/src/modules/stripe/stripe-restricted-key.test.ts
  apps/stripe/src/modules/stripe/stripe-restricted-key.ts
  apps/stripe/src/modules/stripe/stripe-webhook-signature-validator.ts
Labels: App Payment: Stripe

wip
  apps/stripe/src/app/api/saleor/transaction-initialize-session/use-case-response.test.ts
  apps/stripe/src/app/api/saleor/transaction-initialize-session/use-case-response.ts
  apps/stripe/src/app/api/saleor/transaction-initialize-session/use-case.test.ts
  apps/stripe/src/app/api/saleor/transaction-initialize-session/use-case.ts
  apps/stripe/src/modules/stripe/stripe-payment-intents-api.ts
  apps/stripe/src/modules/stripe/types.ts
Labels: App Payment: Stripe

fix after merge
  apps/stripe/generated/graphql.ts
Labels: App Payment: Stripe

Remove __typename from GraphQL types (#1870)
  apps/avatax/graphql.config.ts
  apps/cms/generated/graphql.ts
  apps/cms/graphql.config.ts
  apps/klaviyo/generated/graphql.ts
  apps/klaviyo/graphql.config.ts
  apps/products-feed/graphql.config.ts
  apps/search/graphql.config.ts
  apps/segment/generated/graphql.ts
  apps/segment/graphql.config.ts
  apps/smtp/generated/graphql.ts
  apps/smtp/graphql.config.ts
  apps/stripe/generated/graphql.ts
  apps/stripe/graphql.config.ts
  apps/stripe/src/__tests__/mocks/transaction-initialize-session-event.ts
  packages/webhook-utils/generated/graphql.ts
  packages/webhook-utils/graphql.config.ts
Labels: App: Klaviyo, App: Product Feed, App: Search, App: AvaTax, App: CMS, App: SMTP, App: Segment, App Payment: Stripe

Remove __typename from GraphQL types (#1870)
  apps/avatax/graphql.config.ts
  apps/cms/generated/graphql.ts
  apps/cms/graphql.config.ts
  apps/klaviyo/generated/graphql.ts
  apps/klaviyo/graphql.config.ts
  apps/products-feed/graphql.config.ts
  apps/search/graphql.config.ts
  apps/segment/generated/graphql.ts
  apps/segment/graphql.config.ts
  apps/smtp/generated/graphql.ts
  apps/smtp/graphql.config.ts
  apps/stripe/generated/graphql.ts
  apps/stripe/graphql.config.ts
  apps/stripe/src/__tests__/mocks/transaction-initialize-session-event.ts
  packages/webhook-utils/generated/graphql.ts
  packages/webhook-utils/graphql.config.ts
Labels: App: Klaviyo, App: Product Feed, App: Search, App: AvaTax, App: CMS, App: SMTP, App: Segment, App Payment: Stripe

refactor PK, RK and WHSEC
  apps/stripe/src/__tests__/mocks/constants.ts
  apps/stripe/src/__tests__/mocks/mock-stripe-config.ts
  apps/stripe/src/__tests__/mocks/mocked-stripe-publishable-key.ts
  apps/stripe/src/__tests__/mocks/mocked-stripe-restricted-key.ts
  apps/stripe/src/__tests__/mocks/restricted-key.ts
  apps/stripe/src/__tests__/mocks/stripe-webhook-secret.ts
  apps/stripe/src/app/api/saleor/payment-gateway-initialize-session/use-case-response.ts
  apps/stripe/src/app/api/saleor/payment-gateway-initialize-session/use-case.test.ts
  apps/stripe/src/modules/app-config/file-app-config-repo.test.ts
  apps/stripe/src/modules/app-config/file-app-config-repo.ts
  apps/stripe/src/modules/app-config/stripe-config.test.ts
  apps/stripe/src/modules/app-config/trpc-handlers/get-stripe-config-trpc-handler.test.ts
  apps/stripe/src/modules/app-config/trpc-handlers/new-stripe-config-trpc-handler.test.ts
  apps/stripe/src/modules/app-config/trpc-handlers/new-stripe-config-trpc-handler.ts
  apps/stripe/src/modules/stripe/stripe-client.ts
  apps/stripe/src/modules/stripe/stripe-payment-intents-api.test.ts
  apps/stripe/src/modules/stripe/stripe-restricted-key.test.ts
Labels: App Payment: Stripe

lint
  apps/stripe/src/modules/stripe/stripe-restricted-key.test.ts
Labels: App Payment: Stripe

Change VOs to be Zod brands instead of classes (#1871)
  apps/stripe/src/__tests__/mocks/constants.ts
  apps/stripe/src/__tests__/mocks/mock-stripe-config.ts
  apps/stripe/src/__tests__/mocks/mocked-stripe-publishable-key.ts
  apps/stripe/src/__tests__/mocks/mocked-stripe-restricted-key.ts
  apps/stripe/src/__tests__/mocks/restricted-key.ts
  apps/stripe/src/__tests__/mocks/stripe-webhook-secret.ts
  apps/stripe/src/app/api/saleor/payment-gateway-initialize-session/use-case-response.ts
  apps/stripe/src/app/api/saleor/payment-gateway-initialize-session/use-case.test.ts
  apps/stripe/src/modules/app-config/file-app-config-repo.test.ts
  apps/stripe/src/modules/app-config/file-app-config-repo.ts
  apps/stripe/src/modules/app-config/stripe-config.test.ts
  apps/stripe/src/modules/app-config/stripe-config.ts
  apps/stripe/src/modules/app-config/trpc-handlers/get-stripe-config-trpc-handler.test.ts
  apps/stripe/src/modules/app-config/trpc-handlers/new-stripe-config-trpc-handler.test.ts
  apps/stripe/src/modules/app-config/trpc-handlers/new-stripe-config-trpc-handler.ts
  apps/stripe/src/modules/stripe/stripe-client.ts
  apps/stripe/src/modules/stripe/stripe-payment-intents-api.test.ts
  apps/stripe/src/modules/stripe/stripe-publishable-key.test.ts
  apps/stripe/src/modules/stripe/stripe-publishable-key.ts
  apps/stripe/src/modules/stripe/stripe-restricted-key.test.ts
  apps/stripe/src/modules/stripe/stripe-restricted-key.ts
  apps/stripe/src/modules/stripe/stripe-webhook-secret.test.ts
  apps/stripe/src/modules/stripe/stripe-webhook-secret.ts
  apps/stripe/src/modules/stripe/stripe-webhook-signature-validator.ts
Labels: App Payment: Stripe

Change VOs to be Zod brands instead of classes (#1871)
  apps/stripe/src/__tests__/mocks/constants.ts
  apps/stripe/src/__tests__/mocks/mock-stripe-config.ts
  apps/stripe/src/__tests__/mocks/mocked-stripe-publishable-key.ts
  apps/stripe/src/__tests__/mocks/mocked-stripe-restricted-key.ts
  apps/stripe/src/__tests__/mocks/restricted-key.ts
  apps/stripe/src/__tests__/mocks/stripe-webhook-secret.ts
  apps/stripe/src/app/api/saleor/payment-gateway-initialize-session/use-case-response.ts
  apps/stripe/src/app/api/saleor/payment-gateway-initialize-session/use-case.test.ts
  apps/stripe/src/modules/app-config/file-app-config-repo.test.ts
  apps/stripe/src/modules/app-config/file-app-config-repo.ts
  apps/stripe/src/modules/app-config/stripe-config.test.ts
  apps/stripe/src/modules/app-config/stripe-config.ts
  apps/stripe/src/modules/app-config/trpc-handlers/get-stripe-config-trpc-handler.test.ts
  apps/stripe/src/modules/app-config/trpc-handlers/new-stripe-config-trpc-handler.test.ts
  apps/stripe/src/modules/app-config/trpc-handlers/new-stripe-config-trpc-handler.ts
  apps/stripe/src/modules/stripe/stripe-client.ts
  apps/stripe/src/modules/stripe/stripe-payment-intents-api.test.ts
  apps/stripe/src/modules/stripe/stripe-publishable-key.test.ts
  apps/stripe/src/modules/stripe/stripe-publishable-key.ts
  apps/stripe/src/modules/stripe/stripe-restricted-key.test.ts
  apps/stripe/src/modules/stripe/stripe-restricted-key.ts
  apps/stripe/src/modules/stripe/stripe-webhook-secret.test.ts
  apps/stripe/src/modules/stripe/stripe-webhook-secret.ts
  apps/stripe/src/modules/stripe/stripe-webhook-signature-validator.ts
Labels: App Payment: Stripe

schema test
  apps/stripe/src/modules/app-config/trpc-handlers/new-stripe-config-input-schema.test.ts
  apps/stripe/src/modules/app-config/trpc-handlers/new-stripe-config-input-schema.ts
Labels: App Payment: Stripe

Fix file config
  apps/stripe/src/modules/app-config/file-app-config-repo.ts
Labels: App Payment: Stripe

Root app config resolving from file
  apps/stripe/src/modules/app-config/app-root-config.ts
  apps/stripe/src/modules/app-config/file-app-config-repo.ts
Labels: App Payment: Stripe

display list of configs
  apps/stripe/src/__tests__/mocks/mock-stripe-config.ts
  apps/stripe/src/__tests__/mocks/mocked-stripe-publishable-key.ts
  apps/stripe/src/__tests__/mocks/mocked-stripe-restricted-key.ts
  apps/stripe/src/modules/app-config/file-app-config-repo.test.ts
  apps/stripe/src/modules/app-config/stripe-config.test.ts
  apps/stripe/src/modules/app-config/stripe-config.ts
  apps/stripe/src/modules/app-config/trpc-handlers/get-stripe-config-trpc-handler.test.ts
  apps/stripe/src/modules/app-config/trpc-handlers/new-stripe-config-trpc-handler.test.ts
  apps/stripe/src/modules/stripe/stripe-webhook-secret.ts
  apps/stripe/src/modules/ui/stripe-configs/channel-config-section.tsx
  apps/stripe/src/modules/ui/stripe-configs/stripe-configs-list.tsx
Labels: App Payment: Stripe

change color
  apps/stripe/src/modules/ui/stripe-configs/stripe-configs-list.tsx
Labels: App Payment: Stripe

Add error handling for Stripe Payment intents API
  apps/stripe/src/app/api/saleor/transaction-initialize-session/event-data-parser.ts
  apps/stripe/src/app/api/saleor/transaction-initialize-session/use-case-response.test.ts
  apps/stripe/src/app/api/saleor/transaction-initialize-session/use-case-response.ts
  apps/stripe/src/app/api/saleor/transaction-initialize-session/use-case.test.ts
  apps/stripe/src/app/api/saleor/transaction-initialize-session/use-case.ts
  apps/stripe/src/modules/stripe/stripe-payment-intent-api-error.test.ts
  apps/stripe/src/modules/stripe/stripe-payment-intent-api-error.ts
  apps/stripe/src/modules/stripe/stripe-payment-intents-api.ts
  apps/stripe/src/modules/stripe/types.ts
Labels: App Payment: Stripe

validate rk in trpc
  apps/stripe/src/modules/app-config/trpc-handlers/new-stripe-config-trpc-handler.ts
  apps/stripe/src/modules/stripe/stripe-auth-validator.ts
Labels: App Payment: Stripe

fix lint
  apps/stripe/src/modules/app-config/trpc-handlers/new-stripe-config-trpc-handler.test.ts
  apps/stripe/src/modules/ui/stripe-configs/new-stripe-config-form.tsx
  apps/stripe/src/modules/ui/stripe-configs/stripe-configs-list.tsx
Labels: App Payment: Stripe

Add handlebars-helpers with tests and configuration (#1856)
  .changeset/eight-bottles-drop.md
  apps/products-feed/next.config.ts
  apps/products-feed/package.json
  apps/products-feed/src/modules/handlebarsTemplates/render-handlebars-template.test.ts
  apps/products-feed/src/modules/handlebarsTemplates/render-handlebars-template.ts
  apps/products-feed/src/pages/configuration.tsx
  pnpm-lock.yaml
Labels: App: Product Feed
