Repository saleor/apps, changes with the labels that .github/labeler.yml gives for each.
All labels: App: Klaviyo, App: Product Feed, App: Search, App: AvaTax, App: CMS, App: SMTP, App: Segment, App Payment: Stripe

.github/labeler.yml:

"App: Klaviyo":
  - changed-files:
      - any-glob-to-any-file: "apps/klaviyo/**/*"

"App: Product Feed":
  - changed-files:
      - any-glob-to-any-file: "apps/products-feed/**/*"

"App: Search":
  - changed-files:
      - any-glob-to-any-file: "apps/search/**/*"

"App: AvaTax":
  - changed-files:
      - any-glob-to-any-file: "apps/avatax/**/*"

"App: CMS":
  - changed-files:
      - any-glob-to-any-file: "apps/cms/**/*"

"App: SMTP":
  - changed-files:
      - any-glob-to-any-file: "apps/smtp/**/*"

"App: Segment":
  - changed-files:
      - any-glob-to-any-file: "apps/segment/**/*"

"App Payment: Stripe":
  - changed-files:
      - any-glob-to-any-file: "apps/stripe/**/*"

Enhance observability by integrating app context in Stripe webhook handler and adding Sentry tags for Saleor API URL in protected client procedure (#1963)
  .changeset/three-bears-sing.md
  apps/stripe/src/app/api/webhooks/stripe/route.ts
  apps/stripe/src/modules/trpc/protected-client-procedure.ts
Labels: App Payment: Stripe

Enhance observability by integrating app context in Stripe webhook handler and adding Sentry tags for Saleor API URL in protected client procedure (#1963)
  .changeset/three-bears-sing.md
  apps/stripe/src/app/api/webhooks/stripe/route.ts
  apps/stripe/src/modules/trpc/protected-client-procedure.ts
Labels: App Payment: Stripe

Add StripeWebhookTransactionMissingResponse and update use case handling
  .changeset/polite-beers-care.md
  apps/stripe/src/app/api/webhooks/stripe/stripe-webhook-responses.ts
  apps/stripe/src/app/api/webhooks/stripe/use-case-error.test.ts
  apps/stripe/src/app/api/webhooks/stripe/use-case.ts
Labels: App Payment: Stripe

Add StripeWebhookTransactionMissingResponse and update use case handling (#1964)
  .changeset/polite-beers-care.md
  apps/stripe/src/app/api/webhooks/stripe/stripe-webhook-responses.ts
  apps/stripe/src/app/api/webhooks/stripe/use-case-error.test.ts
  apps/stripe/src/app/api/webhooks/stripe/use-case.ts
Labels: App Payment: Stripe

Add StripeWebhookTransactionMissingResponse and update use case handling (#1964)
  .changeset/polite-beers-care.md
  apps/stripe/src/app/api/webhooks/stripe/stripe-webhook-responses.ts
  apps/stripe/src/app/api/webhooks/stripe/use-case-error.test.ts
  apps/stripe/src/app/api/webhooks/stripe/use-case.ts
Labels: App Payment: Stripe

fix broken perms for scheduled e2e
  .github/workflows/run-e2e-cron.yml
Labels: none

Release apps (#1961)
  .changeset/polite-beers-care.md
  .changeset/red-donkeys-remain.md
  .changeset/spotty-zebras-agree.md
  .changeset/three-bears-sing.md
  apps/stripe/CHANGELOG.md
  apps/stripe/package.json
Labels: App Payment: Stripe

Release apps (#1961)
  .changeset/polite-beers-care.md
  .changeset/red-donkeys-remain.md
  .changeset/spotty-zebras-agree.md
  .changeset/three-bears-sing.md
  apps/stripe/CHANGELOG.md
  apps/stripe/package.json
Labels: App Payment: Stripe

add better cron
  .github/workflows/run-e2e-cron.yml
Labels: none

Fix broken GHA perms for e2e workflow & schedule (#1965)
  .github/workflows/run-e2e-cron.yml
Labels: none

Fix broken GHA perms for e2e workflow & schedule (#1965)
  .github/workflows/run-e2e-cron.yml
Labels: none

Add Zod branded types adr
  adr/0002-use-zod-branded-types.md
Labels: none

Add Zod branded types adr (#1966)
  adr/0002-use-zod-branded-types.md
Labels: none

Add Zod branded types adr (#1966)
  adr/0002-use-zod-branded-types.md
Labels: none

Refactor Stripe integration tests and add transaction cancellation webhook handling
  .github/workflows/stripe-integration-dynamodb.yml
  apps/stripe/src/__tests__/integration/.env.test
  apps/stripe/src/__tests__/integration/webhooks/fixtures/transaction-cancelation-requested-fixture.ts
  apps/stripe/src/__tests__/integration/webhooks/transaction-cancelation-requested.test.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-cancelation-requested/webhook-definition.ts
Labels: App Payment: Stripe

update workflows / readme
  .github/workflows/stripe-integration-test.yml
  apps/stripe/README.md
  apps/stripe/src/__tests__/integration/.env.test
  apps/stripe/src/__tests__/integration/webhooks/transaction-cancelation-requested.test.ts
  apps/stripe/src/__tests__/integration/webhooks/transaction-initialize-session.test.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-cancelation-requested/route.ts
Labels: App Payment: Stripe

fix env vars
  .github/workflows/stripe-integration-test.yml
  apps/stripe/src/__tests__/integration/.env.test
  apps/stripe/src/__tests__/integration/webhooks/payment-gateway-initialize.test.ts
  apps/stripe/src/__tests__/integration/webhooks/transaction-cancelation-requested.test.ts
  apps/stripe/src/__tests__/integration/webhooks/transaction-initialize-session.test.ts
Labels: App Payment: Stripe

udpdate workflow
  .github/workflows/stripe-integration-test.yml
Labels: none

cleanup
  .gitignore
  apps/stripe/.env.test.example
  apps/stripe/README.md
  apps/stripe/e2e/env.ts
  apps/stripe/package.json
  apps/stripe/playwright.config.ts
  apps/stripe/scripts/run-e2e.ts
  apps/stripe/src/__tests__/integration/.env.test
  apps/stripe/vitest.config.ts
Labels: App Payment: Stripe

fix env vars again
  apps/stripe/e2e/complete-checkout.test.ts
  apps/stripe/e2e/env.ts
  apps/stripe/eslint.config.js
  apps/stripe/playwright.config.ts
  apps/stripe/src/__tests__/integration/env.ts
  apps/stripe/src/__tests__/integration/setup.integration.ts
  apps/stripe/src/__tests__/integration/webhooks/payment-gateway-initialize.test.ts
  apps/stripe/src/__tests__/integration/webhooks/transaction-cancelation-requested.test.ts
  apps/stripe/src/__tests__/integration/webhooks/transaction-initialize-session.test.ts
Labels: App Payment: Stripe

fix reusable workflow
  .github/workflows/e2e.yml
  .github/workflows/run-e2e-cron.yml
  .github/workflows/run-e2e-dispatch.yml
  .github/workflows/run-e2e-label.yml
Labels: none

Add cancelation integration test (#1967)
  .github/workflows/stripe-integration-test.yml
  .gitignore
  apps/stripe/.env.test.example
  apps/stripe/README.md
  apps/stripe/e2e/complete-checkout.test.ts
  apps/stripe/e2e/env.ts
  apps/stripe/eslint.config.js
  apps/stripe/package.json
  apps/stripe/playwright.config.ts
  apps/stripe/scripts/run-e2e.ts
  apps/stripe/src/__tests__/integration/.env.test
  apps/stripe/src/__tests__/integration/env.ts
  apps/stripe/src/__tests__/integration/setup.integration.ts
  apps/stripe/src/__tests__/integration/webhooks/fixtures/transaction-cancelation-requested-fixture.ts
  apps/stripe/src/__tests__/integration/webhooks/payment-gateway-initialize.test.ts
  apps/stripe/src/__tests__/integration/webhooks/transaction-cancelation-requested.test.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-cancelation-requested/route.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-cancelation-requested/webhook-definition.ts
  apps/stripe/vitest.config.ts
Labels: App Payment: Stripe

Add cancelation integration test (#1967)
  .github/workflows/stripe-integration-test.yml
  .gitignore
  apps/stripe/.env.test.example
  apps/stripe/README.md
  apps/stripe/e2e/complete-checkout.test.ts
  apps/stripe/e2e/env.ts
  apps/stripe/eslint.config.js
  apps/stripe/package.json
  apps/stripe/playwright.config.ts
  apps/stripe/scripts/run-e2e.ts
  apps/stripe/src/__tests__/integration/.env.test
  apps/stripe/src/__tests__/integration/env.ts
  apps/stripe/src/__tests__/integration/setup.integration.ts
  apps/stripe/src/__tests__/integration/webhooks/fixtures/transaction-cancelation-requested-fixture.ts
  apps/stripe/src/__tests__/integration/webhooks/payment-gateway-initialize.test.ts
  apps/stripe/src/__tests__/integration/webhooks/transaction-cancelation-requested.test.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-cancelation-requested/route.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-cancelation-requested/webhook-definition.ts
  apps/stripe/vitest.config.ts
Labels: App Payment: Stripe

fix reusable workflow (#1968)
  .github/workflows/e2e.yml
  .github/workflows/run-e2e-cron.yml
  .github/workflows/run-e2e-dispatch.yml
  .github/workflows/run-e2e-label.yml
Labels: none

fix reusable workflow (#1968)
  .github/workflows/e2e.yml
  .github/workflows/run-e2e-cron.yml
  .github/workflows/run-e2e-dispatch.yml
  .github/workflows/run-e2e-label.yml
Labels: none

fix dead links to sdk docs
  apps/avatax/saleor-app.ts
  apps/cms/.env.example
  apps/cms/README.md
  apps/klaviyo/CHANGELOG.md
  apps/klaviyo/README.md
  apps/klaviyo/saleor-app.ts
  apps/klaviyo/src/pages/configuration.tsx
  apps/products-feed/CHANGELOG.md
  apps/products-feed/README.md
  apps/search/CHANGELOG.md
  apps/search/README.md
  apps/search/saleor-app.ts
  apps/smtp/.env.example
  apps/smtp/README.md
  packages/shared/src/create-graphql-client.ts
Labels: App: Klaviyo, App: Product Feed, App: Search, App: AvaTax, App: CMS, App: SMTP

fix dead links to sdk docs (#1969)
  apps/avatax/saleor-app.ts
  apps/cms/.env.example
  apps/cms/README.md
  apps/klaviyo/CHANGELOG.md
  apps/klaviyo/README.md
  apps/klaviyo/saleor-app.ts
  apps/klaviyo/src/pages/configuration.tsx
  apps/products-feed/CHANGELOG.md
  apps/products-feed/README.md
  apps/search/CHANGELOG.md
  apps/search/README.md
  apps/search/saleor-app.ts
  apps/smtp/.env.example
  apps/smtp/README.md
  packages/shared/src/create-graphql-client.ts
Labels: App: Klaviyo, App: Product Feed, App: Search, App: AvaTax, App: CMS, App: SMTP

fix dead links to sdk docs (#1969)
  apps/avatax/saleor-app.ts
  apps/cms/.env.example
  apps/cms/README.md
  apps/klaviyo/CHANGELOG.md
  apps/klaviyo/README.md
  apps/klaviyo/saleor-app.ts
  apps/klaviyo/src/pages/configuration.tsx
  apps/products-feed/CHANGELOG.md
  apps/products-feed/README.md
  apps/search/CHANGELOG.md
  apps/search/README.md
  apps/search/saleor-app.ts
  apps/smtp/.env.example
  apps/smtp/README.md
  packages/shared/src/create-graphql-client.ts
Labels: App: Klaviyo, App: Product Feed, App: Search, App: AvaTax, App: CMS, App: SMTP

validation fix
  .changeset/forty-spies-vanish.md
  apps/stripe/src/modules/app-config/trpc-handlers/new-stripe-config-input-schema.test.ts
  apps/stripe/src/modules/app-config/trpc-handlers/new-stripe-config-input-schema.ts
Labels: App Payment: Stripe

Add integration test for charge requested
  apps/stripe/src/__tests__/integration/webhooks/fixtures/transaction-charge-requested-fixture.ts
  apps/stripe/src/__tests__/integration/webhooks/transaction-charge-requested.test.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-charge-requested/webhook-definition.ts
  apps/stripe/src/modules/stripe/types.ts
Labels: App Payment: Stripe

fix args
  apps/stripe/src/__tests__/integration/webhooks/fixtures/transaction-charge-requested-fixture.ts
  apps/stripe/src/__tests__/integration/webhooks/transaction-charge-requested.test.ts
Labels: App Payment: Stripe

fix imports
  apps/stripe/src/__tests__/integration/webhooks/payment-gateway-initialize.test.ts
  apps/stripe/src/__tests__/integration/webhooks/transaction-cancelation-requested.test.ts
  apps/stripe/src/__tests__/integration/webhooks/transaction-initialize-session.test.ts
Labels: App Payment: Stripe

Add missing return url
  apps/stripe/src/__tests__/integration/webhooks/transaction-charge-requested.test.ts
  apps/stripe/src/modules/stripe/types.ts
Labels: App Payment: Stripe

Add integration test for charge requested (#1971)
  apps/stripe/src/__tests__/integration/webhooks/fixtures/transaction-charge-requested-fixture.ts
  apps/stripe/src/__tests__/integration/webhooks/payment-gateway-initialize.test.ts
  apps/stripe/src/__tests__/integration/webhooks/transaction-charge-requested.test.ts
  apps/stripe/src/__tests__/integration/webhooks/transaction-initialize-session.test.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-charge-requested/webhook-definition.ts
  apps/stripe/src/modules/stripe/types.ts
Labels: App Payment: Stripe

Add integration test for charge requested (#1971)
  apps/stripe/src/__tests__/integration/webhooks/fixtures/transaction-charge-requested-fixture.ts
  apps/stripe/src/__tests__/integration/webhooks/payment-gateway-initialize.test.ts
  apps/stripe/src/__tests__/integration/webhooks/transaction-charge-requested.test.ts
  apps/stripe/src/__tests__/integration/webhooks/transaction-initialize-session.test.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-charge-requested/webhook-definition.ts
  apps/stripe/src/modules/stripe/types.ts
Labels: App Payment: Stripe

fix validation
  apps/stripe/src/modules/app-config/trpc-handlers/new-stripe-config-input-schema.test.ts
  apps/stripe/src/modules/app-config/trpc-handlers/new-stripe-config-input-schema.ts
Labels: App Payment: Stripe

fix test
  apps/stripe/src/modules/app-config/trpc-handlers/new-stripe-config-input-schema.test.ts
Labels: App Payment: Stripe

Update CODEOWNERS
  CODEOWNERS
Labels: none

Update CODEOWNERS
  CODEOWNERS
Labels: none

Fix Stripe validation (#1970)
  .changeset/forty-spies-vanish.md
  apps/stripe/src/modules/app-config/trpc-handlers/new-stripe-config-input-schema.test.ts
  apps/stripe/src/modules/app-config/trpc-handlers/new-stripe-config-input-schema.ts
Labels: App Payment: Stripe
