Repository saleor/apps, changes with the labels that .github/labeler.yml gives for each.
All labels: App: Klaviyo, App: Product Feed, App: Search, App: AvaTax, App: CMS, App: SMTP, App: Segment, App Payment: Stripe

.github/labeler.yml:

"App: Klaviyo":
  - changed-files:
      - any-glob-to-any-file: "apps/klaviyo/**/*"

"App: Product Feed":
  - changed-files:
      - any-glob-to-any-file: "apps/products-feed/**/*"

"App: Search":
  - changed-files:
      - any-glob-to-any-file: "apps/search/**/*"

"App: AvaTax":
  - changed-files:
      - any-glob-to-any-file: "apps/avatax/**/*"

"App: CMS":
  - changed-files:
      - any-glob-to-any-file: "apps/cms/**/*"

"App: SMTP":
  - changed-files:
      - any-glob-to-any-file: "apps/smtp/**/*"

"App: Segment":
  - changed-files:
      - any-glob-to-any-file: "apps/segment/**/*"

"App Payment: Stripe":
  - changed-files:
      - any-glob-to-any-file: "apps/stripe/**/*"

single thread
  apps/stripe/vitest.config.ts
Labels: App Payment: Stripe

fix encryption
  .github/workflows/stripe-integration-dynamodb.yml
  apps/stripe/src/__tests__/integration/dynamodb/create-table.ts
  apps/stripe/src/lib/encryptor.test.ts
  apps/stripe/src/lib/encryptor.ts
Labels: App Payment: Stripe

cleanup
  .github/workflows/stripe-integration-dynamodb.yml
  apps/stripe/src/__tests__/integration/dynamodb/setup.integration-dynamo.ts
  apps/stripe/src/__tests__/integration/dynamodb/webhooks/payment-gateway-initialize.test.ts
  apps/stripe/src/__tests__/integration/dynamodb/webhooks/transaction-initialize-session.test.ts
  apps/stripe/src/__tests__/mocks/mocked-encryption-key.ts
  apps/stripe/src/lib/encryptor.ts
  apps/stripe/src/lib/logger.ts
Labels: App Payment: Stripe

Deploy segment app to AWS - assume role
  .github/workflows/deploy-lamda-dev.yml
Labels: none

change to push
  .github/workflows/deploy-lamda-dev.yml
Labels: none

rename / permission
  .github/workflows/deploy-segment-dev.yml
Labels: none

update workflow
  .github/workflows/deploy-segment-dev.yml
Labels: none

add slash
  .github/workflows/deploy-segment-dev.yml
Labels: none

change echo to cat
  .github/workflows/deploy-segment-dev.yml
Labels: none

print verbose error on gateway initialize
  apps/stripe/src/app/api/webhooks/saleor/payment-gateway-initialize-session/route.ts
  apps/stripe/src/app/api/webhooks/saleor/payment-gateway-initialize-session/use-case.ts
  apps/stripe/src/lib/app-context.ts
  apps/stripe/src/modules/saleor/saleor-webhook-responses.ts
Labels: App Payment: Stripe

wip
  apps/stripe/src/app/api/webhooks/saleor/transaction-initialize-session/route.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-initialize-session/use-case-response.test.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-initialize-session/use-case-response.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-initialize-session/use-case.ts
  apps/stripe/src/modules/saleor/saleor-webhook-responses.ts
Labels: App Payment: Stripe

wip
  .github/workflows/deploy-segment-dev.yml
  apps/segment/next.config.ts
  apps/stripe/src/app/api/webhooks/saleor/payment-gateway-initialize-session/webhook-definition.ts
Labels: App: Segment, App Payment: Stripe

apply changes
  apps/stripe/src/app/api/webhooks/saleor/payment-gateway-initialize-session/use-case-response.test.ts
  apps/stripe/src/app/api/webhooks/saleor/payment-gateway-initialize-session/use-case-response.ts
  apps/stripe/src/app/api/webhooks/saleor/payment-gateway-initialize-session/use-case.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-cancelation-requested/route.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-cancelation-requested/use-case-response.test.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-cancelation-requested/use-case-response.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-cancelation-requested/use-case.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-charge-requested/route.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-charge-requested/use-case-response.test.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-charge-requested/use-case-response.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-charge-requested/use-case.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-initialize-session/use-case.test.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-initialize-session/use-case.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-process-session/route.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-process-session/use-case-response.test.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-process-session/use-case-response.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-process-session/use-case.test.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-process-session/use-case.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-refund-requested/route.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-refund-requested/use-case-response.test.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-refund-requested/use-case-response.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-refund-requested/use-case.ts
  apps/stripe/src/app/api/webhooks/stripe/transaction-event-report-variables-resolver.ts
  apps/stripe/src/app/api/webhooks/stripe/use-case-success.test.ts
  apps/stripe/src/modules/saleor/saleor-webhook-responses.test.ts
  apps/stripe/src/modules/saleor/transaction-event-reporter.ts
  apps/stripe/src/modules/stripe/generate-stripe-dashboard-urls.ts
Labels: App Payment: Stripe

fix tests
  apps/stripe/src/app/api/webhooks/saleor/payment-gateway-initialize-session/route.ts
  apps/stripe/src/app/api/webhooks/saleor/payment-gateway-initialize-session/use-case-response.ts
  apps/stripe/src/app/api/webhooks/saleor/payment-gateway-initialize-session/use-case.test.ts
  apps/stripe/src/app/api/webhooks/saleor/payment-gateway-initialize-session/use-case.ts
  apps/stripe/src/app/api/webhooks/saleor/response-message-formatter.ts
  apps/stripe/src/app/api/webhooks/saleor/saleor-webhook-response-schema.test.ts
  apps/stripe/src/app/api/webhooks/saleor/saleor-webhook-response-schema.ts
  apps/stripe/src/app/api/webhooks/saleor/saleor-webhook-responses.test.ts
  apps/stripe/src/app/api/webhooks/saleor/saleor-webhook-responses.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-cancelation-requested/route.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-cancelation-requested/use-case-response.test.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-cancelation-requested/use-case-response.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-cancelation-requested/use-case.test.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-cancelation-requested/use-case.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-charge-requested/route.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-charge-requested/use-case-response.test.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-charge-requested/use-case-response.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-charge-requested/use-case.test.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-charge-requested/use-case.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-initialize-session/route.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-initialize-session/use-case-response.test.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-initialize-session/use-case-response.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-initialize-session/use-case.test.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-initialize-session/use-case.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-process-session/route.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-process-session/use-case-response.test.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-process-session/use-case-response.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-process-session/use-case.test.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-process-session/use-case.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-refund-requested/route.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-refund-requested/use-case-response.test.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-refund-requested/use-case-response.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-refund-requested/use-case.test.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-refund-requested/use-case.ts
Labels: App Payment: Stripe

eslint
  apps/stripe/src/app/api/webhooks/saleor/transaction-cancelation-requested/use-case-response.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-process-session/use-case-response.ts
Labels: App Payment: Stripe

new tests
  apps/stripe/src/app/api/webhooks/saleor/saleor-webhook-responses.test.ts
  apps/stripe/src/app/api/webhooks/saleor/saleor-webhook-responses.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-initialize-session/use-case-response.test.ts
Labels: App Payment: Stripe

cleanup
  apps/stripe/src/app/api/webhooks/saleor/payment-gateway-initialize-session/use-case-response.test.ts
  apps/stripe/src/app/api/webhooks/saleor/payment-gateway-initialize-session/use-case-response.ts
  apps/stripe/src/app/api/webhooks/saleor/response-message-formatter.test.ts
  apps/stripe/src/app/api/webhooks/saleor/saleor-webhook-responses.test.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-cancelation-requested/route.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-cancelation-requested/use-case-response.test.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-cancelation-requested/use-case-response.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-cancelation-requested/use-case.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-charge-requested/route.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-charge-requested/use-case-response.test.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-charge-requested/use-case-response.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-charge-requested/use-case.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-initialize-session/use-case-response.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-process-session/use-case-response.ts
Labels: App Payment: Stripe

fix tests
  apps/stripe/src/app/api/webhooks/saleor/transaction-charge-requested/use-case-response.test.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-initialize-session/use-case-response.test.ts
Labels: App Payment: Stripe

cleanup and flatten integration
  .github/workflows/stripe-integration-dynamodb.yml
  apps/stripe/package.json
  apps/stripe/src/__tests__/integration/.env.test
  apps/stripe/src/__tests__/integration/config-repo/config-repo.integration.test.ts
  apps/stripe/src/__tests__/integration/create-table.ts
  apps/stripe/src/__tests__/integration/delete-table.ts
  apps/stripe/src/__tests__/integration/docker-compose.yml
  apps/stripe/src/__tests__/integration/global-setup.integration.ts
  apps/stripe/src/__tests__/integration/setup.integration.ts
  apps/stripe/src/__tests__/integration/webhooks/payment-gateway-initialize.test.ts
  apps/stripe/src/__tests__/integration/webhooks/transaction-initialize-session.test.ts
  apps/stripe/vitest.config.ts
Labels: App Payment: Stripe

cleanup
  apps/stripe/src/__tests__/integration/webhooks/fixtures/payment-gateway-initialize-fixture.ts
  apps/stripe/src/__tests__/integration/webhooks/fixtures/transaction-initialize-session-fixture.ts
  apps/stripe/src/__tests__/integration/webhooks/payment-gateway-initialize.test.ts
  apps/stripe/src/__tests__/integration/webhooks/transaction-initialize-session.test.ts
Labels: App Payment: Stripe

fix workflow
  .github/workflows/stripe-integration-dynamodb.yml
Labels: none

move secret to var in workflow
  .github/workflows/stripe-integration-dynamodb.yml
Labels: none

extra comment in env
  apps/stripe/src/__tests__/integration/.env.test
Labels: App Payment: Stripe

refactor stripe env
  apps/stripe/src/app/api/webhooks/saleor/transaction-cancelation-requested/use-case-response.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-cancelation-requested/use-case.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-charge-requested/use-case-response.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-charge-requested/use-case.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-initialize-session/use-case-response.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-initialize-session/use-case.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-process-session/use-case-response.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-process-session/use-case.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-refund-requested/use-case-response.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-refund-requested/use-case.ts
  apps/stripe/src/app/api/webhooks/stripe/transaction-event-report-variables-resolver.ts
  apps/stripe/src/app/api/webhooks/stripe/use-case.ts
  apps/stripe/src/modules/saleor/transaction-event-reporter.ts
  apps/stripe/src/modules/stripe/generate-stripe-dashboard-urls.ts
Labels: App Payment: Stripe

AppContext and verbose logging (#1942)
  apps/stripe/src/app/api/webhooks/saleor/payment-gateway-initialize-session/route.ts
  apps/stripe/src/app/api/webhooks/saleor/payment-gateway-initialize-session/use-case-response.test.ts
  apps/stripe/src/app/api/webhooks/saleor/payment-gateway-initialize-session/use-case-response.ts
  apps/stripe/src/app/api/webhooks/saleor/payment-gateway-initialize-session/use-case.test.ts
  apps/stripe/src/app/api/webhooks/saleor/payment-gateway-initialize-session/use-case.ts
  apps/stripe/src/app/api/webhooks/saleor/response-message-formatter.test.ts
  apps/stripe/src/app/api/webhooks/saleor/response-message-formatter.ts
  apps/stripe/src/app/api/webhooks/saleor/saleor-webhook-response-schema.test.ts
  apps/stripe/src/app/api/webhooks/saleor/saleor-webhook-response-schema.ts
  apps/stripe/src/app/api/webhooks/saleor/saleor-webhook-responses.test.ts
  apps/stripe/src/app/api/webhooks/saleor/saleor-webhook-responses.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-cancelation-requested/route.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-cancelation-requested/use-case-response.test.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-cancelation-requested/use-case-response.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-cancelation-requested/use-case.test.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-cancelation-requested/use-case.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-charge-requested/route.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-charge-requested/use-case-response.test.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-charge-requested/use-case-response.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-charge-requested/use-case.test.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-charge-requested/use-case.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-initialize-session/route.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-initialize-session/use-case-response.test.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-initialize-session/use-case-response.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-initialize-session/use-case.test.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-initialize-session/use-case.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-process-session/route.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-process-session/use-case-response.test.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-process-session/use-case-response.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-process-session/use-case.test.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-process-session/use-case.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-refund-requested/route.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-refund-requested/use-case-response.test.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-refund-requested/use-case-response.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-refund-requested/use-case.test.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-refund-requested/use-case.ts
  apps/stripe/src/app/api/webhooks/stripe/use-case-success.test.ts
  apps/stripe/src/app/api/webhooks/stripe/use-case.ts
  apps/stripe/src/lib/app-context.ts
  apps/stripe/src/modules/saleor/saleor-webhook-responses.test.ts
Labels: App Payment: Stripe

AppContext and verbose logging (#1942)
  apps/stripe/src/app/api/webhooks/saleor/payment-gateway-initialize-session/route.ts
  apps/stripe/src/app/api/webhooks/saleor/payment-gateway-initialize-session/use-case-response.test.ts
  apps/stripe/src/app/api/webhooks/saleor/payment-gateway-initialize-session/use-case-response.ts
  apps/stripe/src/app/api/webhooks/saleor/payment-gateway-initialize-session/use-case.test.ts
  apps/stripe/src/app/api/webhooks/saleor/payment-gateway-initialize-session/use-case.ts
  apps/stripe/src/app/api/webhooks/saleor/response-message-formatter.test.ts
  apps/stripe/src/app/api/webhooks/saleor/response-message-formatter.ts
  apps/stripe/src/app/api/webhooks/saleor/saleor-webhook-response-schema.test.ts
  apps/stripe/src/app/api/webhooks/saleor/saleor-webhook-response-schema.ts
  apps/stripe/src/app/api/webhooks/saleor/saleor-webhook-responses.test.ts
  apps/stripe/src/app/api/webhooks/saleor/saleor-webhook-responses.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-cancelation-requested/route.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-cancelation-requested/use-case-response.test.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-cancelation-requested/use-case-response.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-cancelation-requested/use-case.test.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-cancelation-requested/use-case.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-charge-requested/route.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-charge-requested/use-case-response.test.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-charge-requested/use-case-response.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-charge-requested/use-case.test.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-charge-requested/use-case.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-initialize-session/route.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-initialize-session/use-case-response.test.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-initialize-session/use-case-response.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-initialize-session/use-case.test.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-initialize-session/use-case.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-process-session/route.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-process-session/use-case-response.test.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-process-session/use-case-response.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-process-session/use-case.test.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-process-session/use-case.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-refund-requested/route.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-refund-requested/use-case-response.test.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-refund-requested/use-case-response.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-refund-requested/use-case.test.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-refund-requested/use-case.ts
  apps/stripe/src/app/api/webhooks/stripe/use-case-success.test.ts
  apps/stripe/src/app/api/webhooks/stripe/use-case.ts
  apps/stripe/src/lib/app-context.ts
  apps/stripe/src/modules/saleor/saleor-webhook-responses.test.ts
Labels: App Payment: Stripe

update sdk
  apps/stripe/src/__tests__/integration/delete-table.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: App Payment: Stripe

Loosen eslint for tests
  apps/stripe/eslint.config.js
  apps/stripe/src/__tests__/integration/dynamodb/create-table.ts
  apps/stripe/src/__tests__/integration/dynamodb/delete-table.ts
  apps/stripe/src/__tests__/integration/dynamodb/global-setup.integration-dynamo.ts
  apps/stripe/src/__tests__/integration/dynamodb/setup.integration-dynamo.ts
  apps/stripe/src/__tests__/setup.units.ts
  packages/eslint-config/index.js
Labels: App Payment: Stripe

send metadata to stripe
  apps/stripe/src/app/api/webhooks/saleor/transaction-initialize-session/use-case.test.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-initialize-session/use-case.ts
  apps/stripe/src/modules/stripe/stripe-payment-intents-api.test.ts
  apps/stripe/src/modules/stripe/stripe-payment-intents-api.ts
  apps/stripe/src/modules/stripe/types.ts
Labels: App Payment: Stripe

fix tests
  apps/stripe/src/app/api/webhooks/saleor/transaction-initialize-session/use-case-response.test.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-refund-requested/use-case-response.test.ts
Labels: App Payment: Stripe

cr fixes
  apps/stripe/src/app/api/webhooks/saleor/transaction-initialize-session/use-case.test.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-initialize-session/use-case.ts
  apps/stripe/src/modules/stripe/stripe-payment-intents-api.test.ts
  apps/stripe/src/modules/stripe/types.ts
Labels: App Payment: Stripe

Don't send amounts for failure events in Stripe app (#1937)
  apps/stripe/src/app/api/manifest/route.test.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-cancelation-requested/use-case-response.test.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-cancelation-requested/use-case-response.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-cancelation-requested/use-case.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-charge-requested/use-case-response.test.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-charge-requested/use-case-response.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-charge-requested/use-case.test.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-charge-requested/use-case.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-initialize-session/use-case-response.test.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-initialize-session/use-case-response.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-initialize-session/use-case.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-process-session/use-case-response.test.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-process-session/use-case-response.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-process-session/use-case.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-refund-requested/use-case-response.test.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-refund-requested/use-case-response.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-refund-requested/use-case.test.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-refund-requested/use-case.ts
  apps/stripe/src/modules/saleor/transaction-requested-event-helpers.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: App Payment: Stripe

Update index.js
  packages/eslint-config/index.js
Labels: none

send metadata to stripe (#1945)
  apps/stripe/src/app/api/webhooks/saleor/transaction-initialize-session/use-case.test.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-initialize-session/use-case.ts
  apps/stripe/src/modules/stripe/stripe-payment-intents-api.test.ts
  apps/stripe/src/modules/stripe/stripe-payment-intents-api.ts
  apps/stripe/src/modules/stripe/types.ts
Labels: App Payment: Stripe

send metadata to stripe (#1945)
  apps/stripe/src/app/api/webhooks/saleor/transaction-initialize-session/use-case.test.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-initialize-session/use-case.ts
  apps/stripe/src/modules/stripe/stripe-payment-intents-api.test.ts
  apps/stripe/src/modules/stripe/stripe-payment-intents-api.ts
  apps/stripe/src/modules/stripe/types.ts
Labels: App Payment: Stripe

Loosen eslint for tests (#1944)
  apps/stripe/eslint.config.js
  apps/stripe/src/__tests__/integration/dynamodb/create-table.ts
  apps/stripe/src/__tests__/integration/dynamodb/delete-table.ts
  apps/stripe/src/__tests__/integration/dynamodb/global-setup.integration-dynamo.ts
  apps/stripe/src/__tests__/integration/dynamodb/setup.integration-dynamo.ts
  apps/stripe/src/__tests__/setup.units.ts
  packages/eslint-config/index.js
Labels: App Payment: Stripe

Loosen eslint for tests (#1944)
  apps/stripe/eslint.config.js
  apps/stripe/src/__tests__/integration/dynamodb/create-table.ts
  apps/stripe/src/__tests__/integration/dynamodb/delete-table.ts
  apps/stripe/src/__tests__/integration/dynamodb/global-setup.integration-dynamo.ts
  apps/stripe/src/__tests__/integration/dynamodb/setup.integration-dynamo.ts
  apps/stripe/src/__tests__/setup.units.ts
  packages/eslint-config/index.js
Labels: App Payment: Stripe

update app-sdk
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: none

Bump Stripe to 3.21 (#1935)
  apps/stripe/generated/graphql.ts
  apps/stripe/graphql.config.ts
  apps/stripe/graphql/schema.graphql
  apps/stripe/package.json
  apps/stripe/src/app/api/manifest/route.test.ts
  apps/stripe/src/app/api/manifest/route.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-cancelation-requested/use-case-response.test.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-cancelation-requested/use-case-response.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-cancelation-requested/use-case.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-charge-requested/use-case-response.test.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-charge-requested/use-case-response.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-charge-requested/use-case.test.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-charge-requested/use-case.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-initialize-session/use-case-response.test.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-initialize-session/use-case-response.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-initialize-session/use-case.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-process-session/use-case-response.test.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-process-session/use-case-response.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-process-session/use-case.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-refund-requested/use-case-response.test.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-refund-requested/use-case-response.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-refund-requested/use-case.test.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-refund-requested/use-case.ts
  apps/stripe/src/modules/saleor/transaction-requested-event-helpers.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: App Payment: Stripe

Bump Stripe to 3.21 (#1935)
  apps/stripe/generated/graphql.ts
  apps/stripe/graphql.config.ts
  apps/stripe/graphql/schema.graphql
  apps/stripe/package.json
  apps/stripe/src/app/api/manifest/route.test.ts
  apps/stripe/src/app/api/manifest/route.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-cancelation-requested/use-case-response.test.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-cancelation-requested/use-case-response.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-cancelation-requested/use-case.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-charge-requested/use-case-response.test.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-charge-requested/use-case-response.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-charge-requested/use-case.test.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-charge-requested/use-case.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-initialize-session/use-case-response.test.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-initialize-session/use-case-response.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-initialize-session/use-case.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-process-session/use-case-response.test.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-process-session/use-case-response.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-process-session/use-case.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-refund-requested/use-case-response.test.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-refund-requested/use-case-response.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-refund-requested/use-case.test.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-refund-requested/use-case.ts
  apps/stripe/src/modules/saleor/transaction-requested-event-helpers.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: App Payment: Stripe
