Repository saleor/apps, changes with the labels that .github/labeler.yml gives for each.
All labels: App: Klaviyo, App: Product Feed, App: Search, App: AvaTax, App: CMS, App: SMTP, App: Segment, App Payment: Stripe

.github/labeler.yml:

"App: Klaviyo":
  - changed-files:
      - any-glob-to-any-file: "apps/klaviyo/**/*"

"App: Product Feed":
  - changed-files:
      - any-glob-to-any-file: "apps/products-feed/**/*"

"App: Search":
  - changed-files:
      - any-glob-to-any-file: "apps/search/**/*"

"App: AvaTax":
  - changed-files:
      - any-glob-to-any-file: "apps/avatax/**/*"

"App: CMS":
  - changed-files:
      - any-glob-to-any-file: "apps/cms/**/*"

"App: SMTP":
  - changed-files:
      - any-glob-to-any-file: "apps/smtp/**/*"

"App: Segment":
  - changed-files:
      - any-glob-to-any-file: "apps/segment/**/*"

"App Payment: Stripe":
  - changed-files:
      - any-glob-to-any-file: "apps/stripe/**/*"

Add TypeScript types for Stripe app webhook responses (#1979)
  .changeset/ninety-fans-look.md
  apps/stripe/generated/json-schema/payment-gateway-initialize-session.ts
  apps/stripe/generated/json-schema/transaction-cancelation-requested.ts
  apps/stripe/generated/json-schema/transaction-charge-requested.ts
  apps/stripe/generated/json-schema/transaction-initialize-session.ts
  apps/stripe/generated/json-schema/transaction-process-session.ts
  apps/stripe/generated/json-schema/transaction-refund-requested.ts
  apps/stripe/package.json
  apps/stripe/scripts/generate-app-webhooks-types.ts
  apps/stripe/src/__tests__/integration/webhooks/transaction-initialize-session.test.ts
  apps/stripe/src/app/api/webhooks/saleor/payment-gateway-initialize-session/use-case-response.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-cancelation-requested/use-case-response.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-charge-requested/use-case-response.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-initialize-session/use-case-response.test.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-initialize-session/use-case-response.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-process-session/use-case-response.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-refund-requested/use-case-response.ts
  apps/stripe/src/modules/saleor/transaction-event-reporter.ts
  apps/stripe/src/modules/transaction-result/action-required-result.ts
  apps/stripe/src/modules/transaction-result/cancel-result.ts
  apps/stripe/src/modules/transaction-result/failure-result.ts
  apps/stripe/src/modules/transaction-result/refund-result.ts
  apps/stripe/src/modules/transaction-result/success-result.ts
  pnpm-lock.yaml
Labels: App Payment: Stripe

Update links to examples & remove 3.x from links to docs
  .changeset/gold-dogs-decide.md
  README.md
  apps/avatax/.env.example
  apps/avatax/README.md
  apps/avatax/src/modules/avatax/avatax-customer-code-resolver.ts
  apps/avatax/src/modules/avatax/calculate-taxes/extract-integer-rate-from-tax-details.ts
  apps/avatax/src/modules/provider-connections/ui/providers-section.tsx
  apps/cms/.env.example
  apps/cms/README.md
  apps/cms/src/modules/providers/payloadcms/payloadcms.tsx
  apps/cms/src/pages/api/manifest.ts
  apps/klaviyo/.env.example
  apps/klaviyo/README.md
  apps/products-feed/.env.example
  apps/products-feed/README.md
  apps/search/.env.example
  apps/search/README.md
  apps/search/src/components/MainInstructions.tsx
  apps/search/src/pages/api/manifest.ts
  apps/segment/.env.example
  apps/segment/README.md
  apps/segment/src/modules/ui/app-header.tsx
  apps/smtp/.env.example
  apps/smtp/README.md
  apps/smtp/src/pages/api/manifest.ts
  apps/stripe/.env.example
  apps/stripe/README.md
  packages/shared/src/create-graphql-client.ts
Labels: App: Klaviyo, App: Product Feed, App: Search, App: AvaTax, App: CMS, App: SMTP, App: Segment, App Payment: Stripe

WIP extension with details
  apps/avatax/generated/graphql.ts
  apps/avatax/graphql/queries/GetOrderAvataxId.graphql
  apps/avatax/src/app/api/manifest/route.ts
  apps/avatax/src/app/api/order-details.ts
  apps/avatax/src/app/layout.tsx
  apps/avatax/src/modules/avatax/avatax-transaction-details-fetcher.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: App: AvaTax

Update links to examples & remove 3.x from links to docs (#1980)
  .changeset/gold-dogs-decide.md
  README.md
  apps/avatax/.env.example
  apps/avatax/README.md
  apps/avatax/src/modules/avatax/avatax-customer-code-resolver.ts
  apps/avatax/src/modules/avatax/calculate-taxes/extract-integer-rate-from-tax-details.ts
  apps/avatax/src/modules/provider-connections/ui/providers-section.tsx
  apps/cms/.env.example
  apps/cms/README.md
  apps/cms/src/modules/providers/payloadcms/payloadcms.tsx
  apps/cms/src/pages/api/manifest.ts
  apps/klaviyo/.env.example
  apps/klaviyo/README.md
  apps/products-feed/.env.example
  apps/products-feed/README.md
  apps/search/.env.example
  apps/search/README.md
  apps/search/src/components/MainInstructions.tsx
  apps/search/src/pages/api/manifest.ts
  apps/segment/.env.example
  apps/segment/README.md
  apps/segment/src/modules/ui/app-header.tsx
  apps/smtp/.env.example
  apps/smtp/README.md
  apps/smtp/src/pages/api/manifest.ts
  apps/stripe/.env.example
  apps/stripe/README.md
  packages/shared/src/create-graphql-client.ts
Labels: App: Klaviyo, App: Product Feed, App: Search, App: AvaTax, App: CMS, App: SMTP, App: Segment, App Payment: Stripe

Update links to examples & remove 3.x from links to docs (#1980)
  .changeset/gold-dogs-decide.md
  README.md
  apps/avatax/.env.example
  apps/avatax/README.md
  apps/avatax/src/modules/avatax/avatax-customer-code-resolver.ts
  apps/avatax/src/modules/avatax/calculate-taxes/extract-integer-rate-from-tax-details.ts
  apps/avatax/src/modules/provider-connections/ui/providers-section.tsx
  apps/cms/.env.example
  apps/cms/README.md
  apps/cms/src/modules/providers/payloadcms/payloadcms.tsx
  apps/cms/src/pages/api/manifest.ts
  apps/klaviyo/.env.example
  apps/klaviyo/README.md
  apps/products-feed/.env.example
  apps/products-feed/README.md
  apps/search/.env.example
  apps/search/README.md
  apps/search/src/components/MainInstructions.tsx
  apps/search/src/pages/api/manifest.ts
  apps/segment/.env.example
  apps/segment/README.md
  apps/segment/src/modules/ui/app-header.tsx
  apps/smtp/.env.example
  apps/smtp/README.md
  apps/smtp/src/pages/api/manifest.ts
  apps/stripe/.env.example
  apps/stripe/README.md
  packages/shared/src/create-graphql-client.ts
Labels: App: Klaviyo, App: Product Feed, App: Search, App: AvaTax, App: CMS, App: SMTP, App: Segment, App Payment: Stripe

wi
  apps/avatax/src/app/api/manifest/route.ts
  apps/avatax/src/app/api/order-details.ts
  apps/avatax/src/app/api/order-details/route.ts
  apps/avatax/src/modules/avatax/avatax-transaction-details-fetcher.ts
Labels: App: AvaTax

wip
  apps/avatax/src/app/api/order-details/route.ts
Labels: App: AvaTax

wip
  apps/avatax/src/app/api/order-details/route.ts
Labels: App: AvaTax

wip
  apps/avatax/package.json
  apps/avatax/src/app/api/order-details/route.ts
  pnpm-lock.yaml
Labels: App: AvaTax

working
  apps/avatax/package.json
  apps/avatax/src/app/api/order-details/route.ts
  apps/avatax/src/pages/_app.tsx
  apps/avatax/src/pages/order-details.tsx
  apps/avatax/src/styles/globals.css
  pnpm-lock.yaml
Labels: App: AvaTax

fixes
  .changeset/blue-shirts-grow.md
  apps/avatax/src/app/api/manifest/route.ts
  apps/avatax/src/app/api/order-details/route.ts
  apps/avatax/src/app/layout.tsx
Labels: App: AvaTax

fix css
  apps/avatax/src/modules/ui/app-layout.tsx
Labels: App: AvaTax

add cache
  apps/avatax/src/app/api/order-details/route.ts
Labels: App: AvaTax

remove log
  apps/avatax/src/modules/avatax/avatax-transaction-details-fetcher.ts
Labels: App: AvaTax

Fix workaround
  apps/avatax/src/app/api/order-details/route.ts
Labels: App: AvaTax

Add comment about order details
  apps/avatax/src/pages/order-details.tsx
Labels: App: AvaTax

Add 3.22 extension with transaction details (#1981)
  .changeset/blue-shirts-grow.md
  apps/avatax/generated/graphql.ts
  apps/avatax/graphql/queries/GetOrderAvataxId.graphql
  apps/avatax/src/app/api/manifest/route.ts
  apps/avatax/src/app/api/order-details/route.ts
  apps/avatax/src/modules/avatax/avatax-transaction-details-fetcher.ts
  apps/avatax/src/modules/ui/app-layout.tsx
  apps/avatax/src/pages/_app.tsx
  apps/avatax/src/pages/order-details.tsx
  apps/avatax/src/styles/globals.css
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: App: AvaTax

Add 3.22 extension with transaction details (#1981)
  .changeset/blue-shirts-grow.md
  apps/avatax/generated/graphql.ts
  apps/avatax/graphql/queries/GetOrderAvataxId.graphql
  apps/avatax/src/app/api/manifest/route.ts
  apps/avatax/src/app/api/order-details/route.ts
  apps/avatax/src/modules/avatax/avatax-transaction-details-fetcher.ts
  apps/avatax/src/modules/ui/app-layout.tsx
  apps/avatax/src/pages/_app.tsx
  apps/avatax/src/pages/order-details.tsx
  apps/avatax/src/styles/globals.css
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: App: AvaTax

Add logger.name / logger.version to logger
  .changeset/lovely-dingos-rhyme.md
  packages/logger/src/logger-vercel-runtime-transport.ts
Labels: none

Fix assing PR workflow
  .github/workflows/assign-pr.yml
Labels: none

Add Stripe webhook integration test
  apps/stripe/package.json
  apps/stripe/src/__tests__/integration/msw-server.ts
  apps/stripe/src/__tests__/integration/webhooks/fixtures/charge-refund-updated-event-fixture.ts
  apps/stripe/src/__tests__/integration/webhooks/fixtures/payment-intent-succeeded-event-fixture.ts
  apps/stripe/src/__tests__/integration/webhooks/stripe-webhook.test.ts
  apps/stripe/src/app/api/webhooks/stripe/route.ts
  pnpm-lock.yaml
Labels: App Payment: Stripe

Refactor Stripe tests mocks
  apps/stripe/src/__tests__/integration/webhooks/fixtures/transaction-initialize-session-fixture.ts
  apps/stripe/src/__tests__/integration/webhooks/transaction-cancelation-requested.test.ts
  apps/stripe/src/__tests__/integration/webhooks/transaction-charge-requested.test.ts
  apps/stripe/src/__tests__/integration/webhooks/transaction-process-session.test.ts
  apps/stripe/src/__tests__/integration/webhooks/transaction-refund-requested.test.ts
  apps/stripe/src/__tests__/mocks/constants.ts
  apps/stripe/src/__tests__/mocks/mocked-recorded-transaction.ts
  apps/stripe/src/__tests__/mocks/saleor-events/transaction-cancelation-request-event.ts
  apps/stripe/src/__tests__/mocks/saleor-events/transaction-charge-requested-event.ts
  apps/stripe/src/__tests__/mocks/saleor-events/transaction-initialize-session-event.ts
  apps/stripe/src/__tests__/mocks/saleor-events/transaction-process-session-event.ts
  apps/stripe/src/__tests__/mocks/saleor-events/transaction-refund-request-event.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-cancelation-requested/use-case.test.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-charge-requested/use-case.test.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-initialize-session/use-case.test.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-process-session/use-case.test.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-refund-requested/use-case.test.ts
  apps/stripe/src/app/api/webhooks/stripe/transaction-event-report-variables-resolver.test.ts
  apps/stripe/src/app/api/webhooks/stripe/use-case-error.test.ts
  apps/stripe/src/app/api/webhooks/stripe/use-case-success.test.ts
  apps/stripe/src/modules/stripe/stripe-payment-intents-api.test.ts
  apps/stripe/src/modules/transactions-recording/repositories/dynamodb/dynamodb-transaction-recorder-repo.test.ts
  apps/stripe/src/modules/transactions-recording/repositories/dynamodb/recorded-transaction-db-model.test.ts
Labels: App Payment: Stripe

Fix Products Feed app logging
  .changeset/small-sloths-doubt.md
  apps/products-feed/src/modules/google-feed/fetch-product-data.ts
  apps/products-feed/src/pages/api/feed/[url]/[channel]/google.xml.ts
Labels: App: Product Feed

Refactor Stripe tests mocks (#1985)
  apps/stripe/src/__tests__/integration/webhooks/fixtures/transaction-initialize-session-fixture.ts
  apps/stripe/src/__tests__/integration/webhooks/transaction-cancelation-requested.test.ts
  apps/stripe/src/__tests__/integration/webhooks/transaction-charge-requested.test.ts
  apps/stripe/src/__tests__/integration/webhooks/transaction-process-session.test.ts
  apps/stripe/src/__tests__/integration/webhooks/transaction-refund-requested.test.ts
  apps/stripe/src/__tests__/mocks/constants.ts
  apps/stripe/src/__tests__/mocks/mocked-recorded-transaction.ts
  apps/stripe/src/__tests__/mocks/saleor-events/transaction-cancelation-request-event.ts
  apps/stripe/src/__tests__/mocks/saleor-events/transaction-charge-requested-event.ts
  apps/stripe/src/__tests__/mocks/saleor-events/transaction-initialize-session-event.ts
  apps/stripe/src/__tests__/mocks/saleor-events/transaction-process-session-event.ts
  apps/stripe/src/__tests__/mocks/saleor-events/transaction-refund-request-event.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-cancelation-requested/use-case.test.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-charge-requested/use-case.test.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-initialize-session/use-case.test.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-process-session/use-case.test.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-refund-requested/use-case.test.ts
  apps/stripe/src/app/api/webhooks/stripe/transaction-event-report-variables-resolver.test.ts
  apps/stripe/src/app/api/webhooks/stripe/use-case-error.test.ts
  apps/stripe/src/app/api/webhooks/stripe/use-case-success.test.ts
  apps/stripe/src/modules/stripe/stripe-payment-intents-api.test.ts
  apps/stripe/src/modules/transactions-recording/repositories/dynamodb/dynamodb-transaction-recorder-repo.test.ts
  apps/stripe/src/modules/transactions-recording/repositories/dynamodb/recorded-transaction-db-model.test.ts
Labels: App Payment: Stripe

Refactor Stripe tests mocks (#1985)
  apps/stripe/src/__tests__/integration/webhooks/fixtures/transaction-initialize-session-fixture.ts
  apps/stripe/src/__tests__/integration/webhooks/transaction-cancelation-requested.test.ts
  apps/stripe/src/__tests__/integration/webhooks/transaction-charge-requested.test.ts
  apps/stripe/src/__tests__/integration/webhooks/transaction-process-session.test.ts
  apps/stripe/src/__tests__/integration/webhooks/transaction-refund-requested.test.ts
  apps/stripe/src/__tests__/mocks/constants.ts
  apps/stripe/src/__tests__/mocks/mocked-recorded-transaction.ts
  apps/stripe/src/__tests__/mocks/saleor-events/transaction-cancelation-request-event.ts
  apps/stripe/src/__tests__/mocks/saleor-events/transaction-charge-requested-event.ts
  apps/stripe/src/__tests__/mocks/saleor-events/transaction-initialize-session-event.ts
  apps/stripe/src/__tests__/mocks/saleor-events/transaction-process-session-event.ts
  apps/stripe/src/__tests__/mocks/saleor-events/transaction-refund-request-event.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-cancelation-requested/use-case.test.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-charge-requested/use-case.test.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-initialize-session/use-case.test.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-process-session/use-case.test.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-refund-requested/use-case.test.ts
  apps/stripe/src/app/api/webhooks/stripe/transaction-event-report-variables-resolver.test.ts
  apps/stripe/src/app/api/webhooks/stripe/use-case-error.test.ts
  apps/stripe/src/app/api/webhooks/stripe/use-case-success.test.ts
  apps/stripe/src/modules/stripe/stripe-payment-intents-api.test.ts
  apps/stripe/src/modules/transactions-recording/repositories/dynamodb/dynamodb-transaction-recorder-repo.test.ts
  apps/stripe/src/modules/transactions-recording/repositories/dynamodb/recorded-transaction-db-model.test.ts
Labels: App Payment: Stripe

Fix assing PR workflow (#1983)
  .github/workflows/assign-pr.yml
Labels: none

Fix assing PR workflow (#1983)
  .github/workflows/assign-pr.yml
Labels: none

Fix Products Feed app logging (#1986)
  .changeset/small-sloths-doubt.md
  apps/products-feed/src/modules/google-feed/fetch-product-data.ts
  apps/products-feed/src/pages/api/feed/[url]/[channel]/google.xml.ts
Labels: App: Product Feed

Fix Products Feed app logging (#1986)
  .changeset/small-sloths-doubt.md
  apps/products-feed/src/modules/google-feed/fetch-product-data.ts
  apps/products-feed/src/pages/api/feed/[url]/[channel]/google.xml.ts
Labels: App: Product Feed

Add logger.name / logger.version to logger (#1982)
  .changeset/lovely-dingos-rhyme.md
  packages/logger/src/logger-vercel-runtime-transport.ts
Labels: none

Add logger.name / logger.version to logger (#1982)
  .changeset/lovely-dingos-rhyme.md
  packages/logger/src/logger-vercel-runtime-transport.ts
Labels: none

Release apps (#1972)
  .changeset/angry-dots-jog.md
  .changeset/blue-shirts-grow.md
  .changeset/forty-spies-vanish.md
  .changeset/gold-dogs-decide.md
  .changeset/lovely-dingos-rhyme.md
  .changeset/ninety-fans-look.md
  .changeset/purple-otters-thank.md
  .changeset/small-sloths-doubt.md
  apps/avatax/CHANGELOG.md
  apps/avatax/package.json
  apps/cms/CHANGELOG.md
  apps/cms/package.json
  apps/klaviyo/CHANGELOG.md
  apps/klaviyo/package.json
  apps/products-feed/CHANGELOG.md
  apps/products-feed/package.json
  apps/search/CHANGELOG.md
  apps/search/package.json
  apps/segment/CHANGELOG.md
  apps/segment/package.json
  apps/smtp/CHANGELOG.md
  apps/smtp/package.json
  apps/stripe/CHANGELOG.md
  apps/stripe/package.json
  packages/logger/CHANGELOG.md
  packages/logger/package.json
  packages/otel/CHANGELOG.md
  packages/otel/package.json
Labels: App: Klaviyo, App: Product Feed, App: Search, App: AvaTax, App: CMS, App: SMTP, App: Segment, App Payment: Stripe

Release apps (#1972)
  .changeset/angry-dots-jog.md
  .changeset/blue-shirts-grow.md
  .changeset/forty-spies-vanish.md
  .changeset/gold-dogs-decide.md
  .changeset/lovely-dingos-rhyme.md
  .changeset/ninety-fans-look.md
  .changeset/purple-otters-thank.md
  .changeset/small-sloths-doubt.md
  apps/avatax/CHANGELOG.md
  apps/avatax/package.json
  apps/cms/CHANGELOG.md
  apps/cms/package.json
  apps/klaviyo/CHANGELOG.md
  apps/klaviyo/package.json
  apps/products-feed/CHANGELOG.md
  apps/products-feed/package.json
  apps/search/CHANGELOG.md
  apps/search/package.json
  apps/segment/CHANGELOG.md
  apps/segment/package.json
  apps/smtp/CHANGELOG.md
  apps/smtp/package.json
  apps/stripe/CHANGELOG.md
  apps/stripe/package.json
  packages/logger/CHANGELOG.md
  packages/logger/package.json
  packages/otel/CHANGELOG.md
  packages/otel/package.json
Labels: App: Klaviyo, App: Product Feed, App: Search, App: AvaTax, App: CMS, App: SMTP, App: Segment, App Payment: Stripe

Move generated types from JSON schema to `generated/app-webhooks-types` folder.
  .changeset/khaki-pans-own.md
  apps/stripe/generated/app-webhooks-types/payment-gateway-initialize-session.ts
  apps/stripe/generated/app-webhooks-types/transaction-cancelation-requested.ts
  apps/stripe/generated/app-webhooks-types/transaction-charge-requested.ts
  apps/stripe/generated/app-webhooks-types/transaction-initialize-session.ts
  apps/stripe/generated/app-webhooks-types/transaction-process-session.ts
  apps/stripe/generated/app-webhooks-types/transaction-refund-requested.ts
  apps/stripe/scripts/generate-app-webhooks-types.ts
  apps/stripe/src/app/api/webhooks/saleor/payment-gateway-initialize-session/use-case-response.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-cancelation-requested/use-case-response.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-charge-requested/use-case-response.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-initialize-session/use-case-response.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-process-session/use-case-response.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-refund-requested/use-case-response.ts
  apps/stripe/src/modules/transaction-result/action-required-result.ts
  apps/stripe/src/modules/transaction-result/cancel-result.ts
  apps/stripe/src/modules/transaction-result/failure-result.ts
  apps/stripe/src/modules/transaction-result/refund-result.ts
  apps/stripe/src/modules/transaction-result/success-result.ts
Labels: App Payment: Stripe

Add env var & type GraphQL mutation
  apps/stripe/src/__tests__/integration/env.ts
  apps/stripe/src/__tests__/integration/msw-server.ts
  apps/stripe/src/__tests__/integration/webhooks/stripe-webhook.test.ts
Labels: App Payment: Stripe

wip
  apps/stripe/scripts/fetch-webhook-json-schemas.ts
  apps/stripe/src/__tests__/integration/webhooks/stripe-webhook.test.ts
Labels: App Payment: Stripe

fix tests
  apps/stripe/src/__tests__/integration/webhooks/stripe-webhook.test.ts
Labels: App Payment: Stripe

Generate changes
  apps/stripe/generated/json-schema/transaction-initialize-session.ts
  apps/stripe/generated/json-schema/transaction-process-session.ts
Labels: App Payment: Stripe

Move generated types from JSON schema to `generated/app-webhooks-types` folder. (#1987)
  .changeset/khaki-pans-own.md
  apps/stripe/generated/app-webhooks-types/payment-gateway-initialize-session.ts
  apps/stripe/generated/app-webhooks-types/transaction-cancelation-requested.ts
  apps/stripe/generated/app-webhooks-types/transaction-charge-requested.ts
  apps/stripe/generated/app-webhooks-types/transaction-initialize-session.ts
  apps/stripe/generated/app-webhooks-types/transaction-process-session.ts
  apps/stripe/generated/app-webhooks-types/transaction-refund-requested.ts
  apps/stripe/scripts/generate-app-webhooks-types.ts
  apps/stripe/src/app/api/webhooks/saleor/payment-gateway-initialize-session/use-case-response.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-cancelation-requested/use-case-response.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-charge-requested/use-case-response.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-initialize-session/use-case-response.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-process-session/use-case-response.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-refund-requested/use-case-response.ts
  apps/stripe/src/modules/transaction-result/action-required-result.ts
  apps/stripe/src/modules/transaction-result/cancel-result.ts
  apps/stripe/src/modules/transaction-result/failure-result.ts
  apps/stripe/src/modules/transaction-result/refund-result.ts
  apps/stripe/src/modules/transaction-result/success-result.ts
Labels: App Payment: Stripe

Move generated types from JSON schema to `generated/app-webhooks-types` folder. (#1987)
  .changeset/khaki-pans-own.md
  apps/stripe/generated/app-webhooks-types/payment-gateway-initialize-session.ts
  apps/stripe/generated/app-webhooks-types/transaction-cancelation-requested.ts
  apps/stripe/generated/app-webhooks-types/transaction-charge-requested.ts
  apps/stripe/generated/app-webhooks-types/transaction-initialize-session.ts
  apps/stripe/generated/app-webhooks-types/transaction-process-session.ts
  apps/stripe/generated/app-webhooks-types/transaction-refund-requested.ts
  apps/stripe/scripts/generate-app-webhooks-types.ts
  apps/stripe/src/app/api/webhooks/saleor/payment-gateway-initialize-session/use-case-response.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-cancelation-requested/use-case-response.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-charge-requested/use-case-response.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-initialize-session/use-case-response.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-process-session/use-case-response.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-refund-requested/use-case-response.ts
  apps/stripe/src/modules/transaction-result/action-required-result.ts
  apps/stripe/src/modules/transaction-result/cancel-result.ts
  apps/stripe/src/modules/transaction-result/failure-result.ts
  apps/stripe/src/modules/transaction-result/refund-result.ts
  apps/stripe/src/modules/transaction-result/success-result.ts
Labels: App Payment: Stripe
