Repository saleor/apps, changes with the labels that .github/labeler.yml gives for each.
All labels: App: Klaviyo, App: Product Feed, App: Search, App: AvaTax, App: CMS, App: SMTP, App: Segment, App Payment: Stripe

.github/labeler.yml:

"App: Klaviyo":
  - changed-files:
      - any-glob-to-any-file: "apps/klaviyo/**/*"

"App: Product Feed":
  - changed-files:
      - any-glob-to-any-file: "apps/products-feed/**/*"

"App: Search":
  - changed-files:
      - any-glob-to-any-file: "apps/search/**/*"

"App: AvaTax":
  - changed-files:
      - any-glob-to-any-file: "apps/avatax/**/*"

"App: CMS":
  - changed-files:
      - any-glob-to-any-file: "apps/cms/**/*"

"App: SMTP":
  - changed-files:
      - any-glob-to-any-file: "apps/smtp/**/*"

"App: Segment":
  - changed-files:
      - any-glob-to-any-file: "apps/segment/**/*"

"App Payment: Stripe":
  - changed-files:
      - any-glob-to-any-file: "apps/stripe/**/*"

Add better support for authorization flow (#1878)
  apps/stripe/src/app/api/saleor/transaction-initialize-session/use-case.test.ts
  apps/stripe/src/app/api/saleor/transaction-initialize-session/use-case.ts
  apps/stripe/src/modules/stripe/payment-methods/card.test.ts
  apps/stripe/src/modules/stripe/payment-methods/card.ts
  apps/stripe/src/modules/stripe/payment-methods/types.ts
Labels: App Payment: Stripe

update readme
  apps/avatax/README.md
Labels: App: AvaTax

Create webhook when config is created (#1873)
  apps/stripe/src/__tests__/mocks/mock-stripe-config.ts
  apps/stripe/src/app/api/stripe/webhook/webhook-params.ts
  apps/stripe/src/modules/app-config/file-app-config-repo.ts
  apps/stripe/src/modules/app-config/stripe-config.test.ts
  apps/stripe/src/modules/app-config/stripe-config.ts
  apps/stripe/src/modules/app-config/trpc-handlers/app-config-router.ts
  apps/stripe/src/modules/app-config/trpc-handlers/get-stripe-config-trpc-handler.test.ts
  apps/stripe/src/modules/app-config/trpc-handlers/new-stripe-config-input-schema.ts
  apps/stripe/src/modules/app-config/trpc-handlers/new-stripe-config-trpc-handler.test.ts
  apps/stripe/src/modules/app-config/trpc-handlers/new-stripe-config-trpc-handler.ts
  apps/stripe/src/modules/stripe/stripe-auth-validator.test.ts
  apps/stripe/src/modules/stripe/stripe-auth-validator.ts
  apps/stripe/src/modules/stripe/stripe-client.ts
  apps/stripe/src/modules/stripe/stripe-webhook-manager.test.ts
  apps/stripe/src/modules/stripe/stripe-webhook-manager.ts
  apps/stripe/src/modules/stripe/stripe-webhook-url-builder.test.ts
  apps/stripe/src/modules/stripe/stripe-webhook-url-builder.ts
  apps/stripe/src/modules/stripe/supported-stripe-events.ts
  apps/stripe/src/modules/transactions-recording/transaction-recorder-file.ts
  apps/stripe/src/modules/trpc/context-app-router.ts
  apps/stripe/src/modules/ui/stripe-configs/new-stripe-config-form.tsx
Labels: App Payment: Stripe

Create webhook when config is created (#1873)
  apps/stripe/src/__tests__/mocks/mock-stripe-config.ts
  apps/stripe/src/app/api/stripe/webhook/webhook-params.ts
  apps/stripe/src/modules/app-config/file-app-config-repo.ts
  apps/stripe/src/modules/app-config/stripe-config.test.ts
  apps/stripe/src/modules/app-config/stripe-config.ts
  apps/stripe/src/modules/app-config/trpc-handlers/app-config-router.ts
  apps/stripe/src/modules/app-config/trpc-handlers/get-stripe-config-trpc-handler.test.ts
  apps/stripe/src/modules/app-config/trpc-handlers/new-stripe-config-input-schema.ts
  apps/stripe/src/modules/app-config/trpc-handlers/new-stripe-config-trpc-handler.test.ts
  apps/stripe/src/modules/app-config/trpc-handlers/new-stripe-config-trpc-handler.ts
  apps/stripe/src/modules/stripe/stripe-auth-validator.test.ts
  apps/stripe/src/modules/stripe/stripe-auth-validator.ts
  apps/stripe/src/modules/stripe/stripe-client.ts
  apps/stripe/src/modules/stripe/stripe-webhook-manager.test.ts
  apps/stripe/src/modules/stripe/stripe-webhook-manager.ts
  apps/stripe/src/modules/stripe/stripe-webhook-url-builder.test.ts
  apps/stripe/src/modules/stripe/stripe-webhook-url-builder.ts
  apps/stripe/src/modules/stripe/supported-stripe-events.ts
  apps/stripe/src/modules/transactions-recording/transaction-recorder-file.ts
  apps/stripe/src/modules/trpc/context-app-router.ts
  apps/stripe/src/modules/ui/stripe-configs/new-stripe-config-form.tsx
Labels: App Payment: Stripe

process session route
  apps/stripe/generated/graphql.ts
  apps/stripe/graphql/subscriptions/transaction-process-session.graphql
  apps/stripe/src/app/api/saleor/transaction-initialize-session/use-case.test.ts
  apps/stripe/src/app/api/saleor/transaction-initialize-session/use-case.ts
  apps/stripe/src/app/api/saleor/transaction-process-session/route.ts
  apps/stripe/src/app/api/saleor/transaction-process-session/use-case-response.ts
  apps/stripe/src/app/api/saleor/transaction-process-session/use-case.ts
  apps/stripe/src/app/api/saleor/transaction-process-session/webhook-definition.ts
  apps/stripe/src/modules/stripe/stripe-payment-intents-api.ts
  apps/stripe/src/modules/stripe/types.ts
Labels: App Payment: Stripe

Channels fetcher service and trpc handler
  apps/stripe/generated/graphql.ts
  apps/stripe/graphql/queries/FetchChannels.graphql
  apps/stripe/src/modules/app-config/trpc-handlers/app-config-router.ts
  apps/stripe/src/modules/app-config/trpc-handlers/get-saleor-channels-trpc-handler.ts
  apps/stripe/src/modules/saleor/channel-fetcher.ts
Labels: App Payment: Stripe

UI for chanels picker
  apps/stripe/src/modules/app-config/trpc-handlers/get-saleor-channels-trpc-handler.ts
  apps/stripe/src/modules/saleor/channel-fetcher.ts
  apps/stripe/src/modules/ui/channel-configs/channel-config-mapping-section.tsx
  apps/stripe/src/modules/ui/channel-configs/channels-config-mapping.tsx
  apps/stripe/src/pages/config/index.tsx
Labels: App Payment: Stripe

Save updated config
  apps/stripe/src/__tests__/mocks/app-config-repo.ts
  apps/stripe/src/modules/app-config/app-config-repo.ts
  apps/stripe/src/modules/app-config/file-app-config-repo.ts
  apps/stripe/src/modules/app-config/trpc-handlers/app-config-router.ts
  apps/stripe/src/modules/app-config/trpc-handlers/get-stripe-configs-channels-mapping-trpc-handler.ts
  apps/stripe/src/modules/app-config/trpc-handlers/new-stripe-config-trpc-handler.ts
  apps/stripe/src/modules/app-config/trpc-handlers/update-mapping-trpc-handler.ts
  apps/stripe/src/modules/ui/channel-configs/channel-config-mapping-section.tsx
  apps/stripe/src/modules/ui/channel-configs/channels-config-mapping.tsx
Labels: App Payment: Stripe

channel fetcher test
  apps/stripe/src/modules/saleor/channel-fetcher.test.ts
  apps/stripe/src/modules/saleor/channel-fetcher.ts
Labels: App Payment: Stripe

root config test
  apps/stripe/src/modules/app-config/app-root-config.test.ts
Labels: App Payment: Stripe

UpdateMappingTrpcHandler test
  apps/stripe/src/modules/app-config/trpc-handlers/update-mapping-trpc-handler.test.ts
Labels: App Payment: Stripe

another test
  apps/stripe/src/modules/app-config/trpc-handlers/get-saleor-channels-trpc-handler.test.ts
  apps/stripe/src/modules/app-config/trpc-handlers/get-saleor-channels-trpc-handler.ts
  apps/stripe/src/modules/app-config/trpc-handlers/get-stripe-configs-channels-mapping-trpc-handler.test.ts
Labels: App Payment: Stripe

Add process session webhook for Stripe
  apps/stripe/generated/graphql.ts
  apps/stripe/graphql/subscriptions/transaction-process-session.graphql
  apps/stripe/scripts/run-webhooks-migration.ts
  apps/stripe/src/__tests__/mocks/transaction-process-session-event.ts
  apps/stripe/src/app/api/manifest/route.integration.test.ts
  apps/stripe/src/app/api/manifest/route.ts
  apps/stripe/src/app/api/saleor/transaction-initialize-session/use-case-response.test.ts
  apps/stripe/src/app/api/saleor/transaction-initialize-session/use-case-response.ts
  apps/stripe/src/app/api/saleor/transaction-initialize-session/use-case.test.ts
  apps/stripe/src/app/api/saleor/transaction-process-session/use-case-response.test.ts
  apps/stripe/src/app/api/saleor/transaction-process-session/use-case-response.ts
  apps/stripe/src/app/api/saleor/transaction-process-session/use-case.test.ts
  apps/stripe/src/app/api/saleor/transaction-process-session/use-case.ts
  apps/stripe/src/app/api/saleor/transaction-process-session/webhook-definition.ts
  apps/stripe/src/lib/assert-unreachable.ts
  apps/stripe/src/modules/stripe/stripe-payment-intent-api-error.ts
Labels: App Payment: Stripe

add branded type
  apps/stripe/src/app/api/saleor/transaction-process-session/use-case-response.ts
  apps/stripe/src/app/api/saleor/transaction-process-session/use-case.test.ts
  apps/stripe/src/app/api/saleor/transaction-process-session/use-case.ts
  apps/stripe/src/modules/stripe/stripe-payment-intent.status.ts
Labels: App Payment: Stripe

cr fixes
  apps/stripe/graphql/queries/fetch-channels.graphql
  apps/stripe/src/modules/app-config/trpc-handlers/get-stripe-configs-channels-mapping-trpc-handler.test.ts
Labels: App Payment: Stripe

Store transaction info in DB
  apps/stripe/generated/graphql.ts
  apps/stripe/graphql/subscriptions/transaction-initialize-session.graphql
  apps/stripe/src/__tests__/mocks/transaction-initialize-session-event.ts
  apps/stripe/src/app/api/manifest/route.integration.test.ts
  apps/stripe/src/app/api/saleor/transaction-initialize-session/route.ts
  apps/stripe/src/app/api/saleor/transaction-initialize-session/use-case.test.ts
  apps/stripe/src/app/api/saleor/transaction-initialize-session/use-case.ts
  apps/stripe/src/modules/transactions-recording/transaction-recorder-file.ts
Labels: App Payment: Stripe

autofix
  apps/stripe/src/app/api/saleor/transaction-process-session/use-case-response.ts
  apps/stripe/src/app/api/saleor/transaction-process-session/use-case.ts
Labels: App Payment: Stripe

fix lint
  apps/stripe/generated/graphql.ts
  apps/stripe/graphql/queries/fetch-channels.graphql
  apps/stripe/src/modules/app-config/trpc-handlers/get-saleor-channels-trpc-handler.test.ts
Labels: App Payment: Stripe

frontend: control saving config x channel mapping (#1880)
  apps/stripe/generated/graphql.ts
  apps/stripe/graphql/queries/fetch-channels.graphql
  apps/stripe/src/__tests__/mocks/app-config-repo.ts
  apps/stripe/src/modules/app-config/app-config-repo.ts
  apps/stripe/src/modules/app-config/app-root-config.test.ts
  apps/stripe/src/modules/app-config/file-app-config-repo.ts
  apps/stripe/src/modules/app-config/trpc-handlers/app-config-router.ts
  apps/stripe/src/modules/app-config/trpc-handlers/get-saleor-channels-trpc-handler.test.ts
  apps/stripe/src/modules/app-config/trpc-handlers/get-saleor-channels-trpc-handler.ts
  apps/stripe/src/modules/app-config/trpc-handlers/get-stripe-configs-channels-mapping-trpc-handler.test.ts
  apps/stripe/src/modules/app-config/trpc-handlers/get-stripe-configs-channels-mapping-trpc-handler.ts
  apps/stripe/src/modules/app-config/trpc-handlers/new-stripe-config-trpc-handler.ts
  apps/stripe/src/modules/app-config/trpc-handlers/update-mapping-trpc-handler.test.ts
  apps/stripe/src/modules/app-config/trpc-handlers/update-mapping-trpc-handler.ts
  apps/stripe/src/modules/saleor/channel-fetcher.test.ts
  apps/stripe/src/modules/saleor/channel-fetcher.ts
  apps/stripe/src/modules/ui/channel-configs/channel-config-mapping-section.tsx
  apps/stripe/src/modules/ui/channel-configs/channels-config-mapping.tsx
  apps/stripe/src/pages/config/index.tsx
Labels: App Payment: Stripe

frontend: control saving config x channel mapping (#1880)
  apps/stripe/generated/graphql.ts
  apps/stripe/graphql/queries/fetch-channels.graphql
  apps/stripe/src/__tests__/mocks/app-config-repo.ts
  apps/stripe/src/modules/app-config/app-config-repo.ts
  apps/stripe/src/modules/app-config/app-root-config.test.ts
  apps/stripe/src/modules/app-config/file-app-config-repo.ts
  apps/stripe/src/modules/app-config/trpc-handlers/app-config-router.ts
  apps/stripe/src/modules/app-config/trpc-handlers/get-saleor-channels-trpc-handler.test.ts
  apps/stripe/src/modules/app-config/trpc-handlers/get-saleor-channels-trpc-handler.ts
  apps/stripe/src/modules/app-config/trpc-handlers/get-stripe-configs-channels-mapping-trpc-handler.test.ts
  apps/stripe/src/modules/app-config/trpc-handlers/get-stripe-configs-channels-mapping-trpc-handler.ts
  apps/stripe/src/modules/app-config/trpc-handlers/new-stripe-config-trpc-handler.ts
  apps/stripe/src/modules/app-config/trpc-handlers/update-mapping-trpc-handler.test.ts
  apps/stripe/src/modules/app-config/trpc-handlers/update-mapping-trpc-handler.ts
  apps/stripe/src/modules/saleor/channel-fetcher.test.ts
  apps/stripe/src/modules/saleor/channel-fetcher.ts
  apps/stripe/src/modules/ui/channel-configs/channel-config-mapping-section.tsx
  apps/stripe/src/modules/ui/channel-configs/channels-config-mapping.tsx
  apps/stripe/src/pages/config/index.tsx
Labels: App Payment: Stripe

Fix prettier / lint-staged
  .prettierignore
  apps/avatax/.prettierignore
  apps/avatax/lint-staged.config.js
  apps/cms/.prettierignore
  apps/cms/lint-staged.config.js
  apps/klaviyo/.prettierignore
  apps/klaviyo/lint-staged.config.js
  apps/products-feed/.prettierignore
  apps/products-feed/lint-staged.config.js
  apps/search/.prettierignore
  apps/search/lint-staged.config.js
  apps/segment/.prettierignore
  apps/segment/lint-staged.config.js
  apps/smtp/.prettierignore
  apps/smtp/lint-staged.config.js
  apps/stripe/.prettierignore
  apps/stripe/lint-staged.config.js
  lint-staged.config.js
  packages/react-hook-form-macaw/lint-staged.config.js
  packages/sentry-utils/lint-staged.config.js
  packages/shared/lint-staged.config.js
  packages/trpc/lint-staged.config.js
  packages/ui/lint-staged.config.js
  packages/webhook-utils/.prettierignore
Labels: App: Klaviyo, App: Product Feed, App: Search, App: AvaTax, App: CMS, App: SMTP, App: Segment, App Payment: Stripe

Fix prettier / lint-staged (#1883)
  .prettierignore
  apps/avatax/.prettierignore
  apps/avatax/lint-staged.config.js
  apps/cms/.prettierignore
  apps/cms/lint-staged.config.js
  apps/klaviyo/.prettierignore
  apps/klaviyo/lint-staged.config.js
  apps/products-feed/.prettierignore
  apps/products-feed/lint-staged.config.js
  apps/search/.prettierignore
  apps/search/lint-staged.config.js
  apps/segment/.prettierignore
  apps/segment/lint-staged.config.js
  apps/smtp/.prettierignore
  apps/smtp/lint-staged.config.js
  apps/stripe/.prettierignore
  apps/stripe/lint-staged.config.js
  lint-staged.config.js
  packages/react-hook-form-macaw/lint-staged.config.js
  packages/sentry-utils/lint-staged.config.js
  packages/shared/lint-staged.config.js
  packages/trpc/lint-staged.config.js
  packages/ui/lint-staged.config.js
  packages/webhook-utils/.prettierignore
Labels: App: Klaviyo, App: Product Feed, App: Search, App: AvaTax, App: CMS, App: SMTP, App: Segment, App Payment: Stripe

Fix prettier / lint-staged (#1883)
  .prettierignore
  apps/avatax/.prettierignore
  apps/avatax/lint-staged.config.js
  apps/cms/.prettierignore
  apps/cms/lint-staged.config.js
  apps/klaviyo/.prettierignore
  apps/klaviyo/lint-staged.config.js
  apps/products-feed/.prettierignore
  apps/products-feed/lint-staged.config.js
  apps/search/.prettierignore
  apps/search/lint-staged.config.js
  apps/segment/.prettierignore
  apps/segment/lint-staged.config.js
  apps/smtp/.prettierignore
  apps/smtp/lint-staged.config.js
  apps/stripe/.prettierignore
  apps/stripe/lint-staged.config.js
  lint-staged.config.js
  packages/react-hook-form-macaw/lint-staged.config.js
  packages/sentry-utils/lint-staged.config.js
  packages/shared/lint-staged.config.js
  packages/trpc/lint-staged.config.js
  packages/ui/lint-staged.config.js
  packages/webhook-utils/.prettierignore
Labels: App: Klaviyo, App: Product Feed, App: Search, App: AvaTax, App: CMS, App: SMTP, App: Segment, App Payment: Stripe

add more data into db
  apps/stripe/src/__tests__/mocks/mocked-recorded-transaction.ts
  apps/stripe/src/app/api/saleor/transaction-initialize-session/use-case.ts
  apps/stripe/src/app/api/stripe/webhook/stripe-event-handlers/payment-intent-succeeded-handler.ts
  apps/stripe/src/app/api/stripe/webhook/use-case.test.ts
  apps/stripe/src/modules/stripe/payment-methods/card.ts
  apps/stripe/src/modules/stripe/payment-methods/types.ts
  apps/stripe/src/modules/transactions-recording/transaction-recorder-file.ts
  apps/stripe/src/modules/transactions-recording/transaction-recorder.ts
Labels: App Payment: Stripe

fix tsc
  apps/stripe/src/app/api/saleor/transaction-process-session/use-case-response.test.ts
  apps/stripe/src/app/api/saleor/transaction-process-session/use-case-response.ts
  apps/stripe/src/app/api/saleor/transaction-process-session/use-case.ts
  apps/stripe/src/modules/stripe/stripe-payment-intent-status.ts
Labels: App Payment: Stripe

DynamoAPL implementation
  apps/stripe/package.json
  apps/stripe/src/__tests__/mocks/memory-apl-repository.ts
  apps/stripe/src/lib/env.ts
  apps/stripe/src/lib/errors.ts
  apps/stripe/src/modules/apl/apl-repository.ts
  apps/stripe/src/modules/apl/dyanmodb-apl.test.ts
  apps/stripe/src/modules/apl/dynamodb-apl.ts
  apps/stripe/src/modules/dynamodb/dynamodb-client.ts
  apps/stripe/turbo.json
  apps/stripe/vitest.config.ts
  pnpm-lock.yaml
Labels: App Payment: Stripe

dynamo setup
  .devcontainer/segment/devcontainer.json
  .devcontainer/stripe/devcontainer.json
  .devcontainer/stripe/docker-compose.yml
  apps/stripe/scripts/setup-dynamodb.sh
  apps/stripe/src/lib/env.ts
  apps/stripe/src/modules/apl/dynamodb-apl.ts
Labels: App Payment: Stripe

use neverthrow
  apps/stripe/src/__tests__/mocks/mocked-recorded-transaction.ts
  apps/stripe/src/app/api/saleor/transaction-initialize-session/use-case.ts
  apps/stripe/src/app/api/stripe/webhook/stripe-event-handlers/payment-intent-succeeded-handler.test.ts
  apps/stripe/src/app/api/stripe/webhook/stripe-event-handlers/payment-intent-succeeded-handler.ts
  apps/stripe/src/app/api/stripe/webhook/use-case.test.ts
  apps/stripe/src/modules/resolved-transaction-flow.ts
  apps/stripe/src/modules/saleor/saleor-transaction-flow.ts
  apps/stripe/src/modules/stripe/payment-methods/card.test.ts
  apps/stripe/src/modules/stripe/payment-methods/card.ts
  apps/stripe/src/modules/stripe/payment-methods/errors.ts
  apps/stripe/src/modules/stripe/payment-methods/types.ts
  apps/stripe/src/modules/transaction-flow.ts
  apps/stripe/src/modules/transactions-recording/transaction-recorder.ts
Labels: App Payment: Stripe

fix assert
  apps/stripe/src/lib/assert-unreachable.ts
Labels: App Payment: Stripe

wip
  .devcontainer/stripe/devcontainer.json
  apps/stripe/src/lib/saleor-app.ts
  apps/stripe/src/modules/apl/dynamo-apl-repository.test.ts
  apps/stripe/src/modules/apl/dynamo-apl-repository.ts
Labels: App Payment: Stripe

wip
  apps/stripe/scripts/setup-dynamodb.sh
Labels: App Payment: Stripe

Add support for process session webhook for Stripe (CHARGE only) (#1881)
  apps/stripe/generated/graphql.ts
  apps/stripe/graphql/subscriptions/transaction-process-session.graphql
  apps/stripe/scripts/run-webhooks-migration.ts
  apps/stripe/src/__tests__/mocks/transaction-process-session-event.ts
  apps/stripe/src/app/api/manifest/route.integration.test.ts
  apps/stripe/src/app/api/manifest/route.ts
  apps/stripe/src/app/api/saleor/transaction-initialize-session/use-case-response.test.ts
  apps/stripe/src/app/api/saleor/transaction-initialize-session/use-case-response.ts
  apps/stripe/src/app/api/saleor/transaction-initialize-session/use-case.test.ts
  apps/stripe/src/app/api/saleor/transaction-initialize-session/use-case.ts
  apps/stripe/src/app/api/saleor/transaction-process-session/route.ts
  apps/stripe/src/app/api/saleor/transaction-process-session/use-case-response.test.ts
  apps/stripe/src/app/api/saleor/transaction-process-session/use-case-response.ts
  apps/stripe/src/app/api/saleor/transaction-process-session/use-case.test.ts
  apps/stripe/src/app/api/saleor/transaction-process-session/use-case.ts
  apps/stripe/src/app/api/saleor/transaction-process-session/webhook-definition.ts
  apps/stripe/src/lib/assert-unreachable.ts
  apps/stripe/src/modules/stripe/stripe-payment-intent-api-error.ts
  apps/stripe/src/modules/stripe/stripe-payment-intent-status.ts
  apps/stripe/src/modules/stripe/stripe-payment-intents-api.ts
  apps/stripe/src/modules/stripe/types.ts
Labels: App Payment: Stripe

Add support for process session webhook for Stripe (CHARGE only) (#1881)
  apps/stripe/generated/graphql.ts
  apps/stripe/graphql/subscriptions/transaction-process-session.graphql
  apps/stripe/scripts/run-webhooks-migration.ts
  apps/stripe/src/__tests__/mocks/transaction-process-session-event.ts
  apps/stripe/src/app/api/manifest/route.integration.test.ts
  apps/stripe/src/app/api/manifest/route.ts
  apps/stripe/src/app/api/saleor/transaction-initialize-session/use-case-response.test.ts
  apps/stripe/src/app/api/saleor/transaction-initialize-session/use-case-response.ts
  apps/stripe/src/app/api/saleor/transaction-initialize-session/use-case.test.ts
  apps/stripe/src/app/api/saleor/transaction-initialize-session/use-case.ts
  apps/stripe/src/app/api/saleor/transaction-process-session/route.ts
  apps/stripe/src/app/api/saleor/transaction-process-session/use-case-response.test.ts
  apps/stripe/src/app/api/saleor/transaction-process-session/use-case-response.ts
  apps/stripe/src/app/api/saleor/transaction-process-session/use-case.test.ts
  apps/stripe/src/app/api/saleor/transaction-process-session/use-case.ts
  apps/stripe/src/app/api/saleor/transaction-process-session/webhook-definition.ts
  apps/stripe/src/lib/assert-unreachable.ts
  apps/stripe/src/modules/stripe/stripe-payment-intent-api-error.ts
  apps/stripe/src/modules/stripe/stripe-payment-intent-status.ts
  apps/stripe/src/modules/stripe/stripe-payment-intents-api.ts
  apps/stripe/src/modules/stripe/types.ts
Labels: App Payment: Stripe

Fixes after CR
  apps/stripe/generated/graphql.ts
  apps/stripe/src/__tests__/mocks/constants.ts
  apps/stripe/src/__tests__/mocks/mocked-recorded-transaction.ts
  apps/stripe/src/app/api/saleor/transaction-initialize-session/use-case.test.ts
  apps/stripe/src/app/api/saleor/transaction-initialize-session/use-case.ts
  apps/stripe/src/app/api/stripe/webhook/stripe-event-handlers/payment-intent-succeeded-handler.test.ts
  apps/stripe/src/app/api/stripe/webhook/use-case.test.ts
  apps/stripe/src/modules/resolved-transaction-flow.ts
  apps/stripe/src/modules/saleor/saleor-transaction-flow.ts
  apps/stripe/src/modules/saleor/saleor-transaction-id.ts
  apps/stripe/src/modules/stripe/payment-methods/card.test.ts
  apps/stripe/src/modules/stripe/payment-methods/card.ts
  apps/stripe/src/modules/stripe/payment-methods/types.ts
  apps/stripe/src/modules/transactions-recording/transaction-recorder.ts
Labels: App Payment: Stripe

Store transaction record in DB for transactionInitSession (#1882)
  apps/stripe/generated/graphql.ts
  apps/stripe/graphql/subscriptions/transaction-initialize-session.graphql
  apps/stripe/src/__tests__/mocks/constants.ts
  apps/stripe/src/__tests__/mocks/mocked-recorded-transaction.ts
  apps/stripe/src/__tests__/mocks/transaction-initialize-session-event.ts
  apps/stripe/src/app/api/manifest/route.integration.test.ts
  apps/stripe/src/app/api/saleor/transaction-initialize-session/route.ts
  apps/stripe/src/app/api/saleor/transaction-initialize-session/use-case.test.ts
  apps/stripe/src/app/api/saleor/transaction-initialize-session/use-case.ts
  apps/stripe/src/app/api/stripe/webhook/stripe-event-handlers/payment-intent-succeeded-handler.test.ts
  apps/stripe/src/app/api/stripe/webhook/stripe-event-handlers/payment-intent-succeeded-handler.ts
  apps/stripe/src/app/api/stripe/webhook/use-case.test.ts
  apps/stripe/src/lib/assert-unreachable.ts
  apps/stripe/src/modules/resolved-transaction-flow.ts
  apps/stripe/src/modules/saleor/saleor-transaction-flow.ts
  apps/stripe/src/modules/saleor/saleor-transaction-id.ts
  apps/stripe/src/modules/stripe/payment-methods/card.test.ts
  apps/stripe/src/modules/stripe/payment-methods/card.ts
  apps/stripe/src/modules/stripe/payment-methods/errors.ts
  apps/stripe/src/modules/stripe/payment-methods/types.ts
  apps/stripe/src/modules/transaction-flow.ts
  apps/stripe/src/modules/transactions-recording/transaction-recorder-file.ts
  apps/stripe/src/modules/transactions-recording/transaction-recorder.ts
Labels: App Payment: Stripe

Store transaction record in DB for transactionInitSession (#1882)
  apps/stripe/generated/graphql.ts
  apps/stripe/graphql/subscriptions/transaction-initialize-session.graphql
  apps/stripe/src/__tests__/mocks/constants.ts
  apps/stripe/src/__tests__/mocks/mocked-recorded-transaction.ts
  apps/stripe/src/__tests__/mocks/transaction-initialize-session-event.ts
  apps/stripe/src/app/api/manifest/route.integration.test.ts
  apps/stripe/src/app/api/saleor/transaction-initialize-session/route.ts
  apps/stripe/src/app/api/saleor/transaction-initialize-session/use-case.test.ts
  apps/stripe/src/app/api/saleor/transaction-initialize-session/use-case.ts
  apps/stripe/src/app/api/stripe/webhook/stripe-event-handlers/payment-intent-succeeded-handler.test.ts
  apps/stripe/src/app/api/stripe/webhook/stripe-event-handlers/payment-intent-succeeded-handler.ts
  apps/stripe/src/app/api/stripe/webhook/use-case.test.ts
  apps/stripe/src/lib/assert-unreachable.ts
  apps/stripe/src/modules/resolved-transaction-flow.ts
  apps/stripe/src/modules/saleor/saleor-transaction-flow.ts
  apps/stripe/src/modules/saleor/saleor-transaction-id.ts
  apps/stripe/src/modules/stripe/payment-methods/card.test.ts
  apps/stripe/src/modules/stripe/payment-methods/card.ts
  apps/stripe/src/modules/stripe/payment-methods/errors.ts
  apps/stripe/src/modules/stripe/payment-methods/types.ts
  apps/stripe/src/modules/transaction-flow.ts
  apps/stripe/src/modules/transactions-recording/transaction-recorder-file.ts
  apps/stripe/src/modules/transactions-recording/transaction-recorder.ts
Labels: App Payment: Stripe

Dynamodb apl
  apps/stripe/.env.example
  apps/stripe/package.json
  apps/stripe/scripts/setup-dynamodb.sh
  apps/stripe/src/__tests__/setup.integration.ts
  apps/stripe/src/__tests__/setup.units.ts
  apps/stripe/src/modules/apl/apl-db-model.ts
  apps/stripe/src/modules/apl/dynamo-apl-repository.test.ts
  apps/stripe/src/modules/apl/dynamo-apl-repository.ts
  apps/stripe/src/modules/apl/dynamodb-apl.test.ts
  apps/stripe/src/modules/apl/dynamodb-apl.ts
  apps/stripe/src/modules/dynamodb/dynamo-main-table.ts
  apps/stripe/vitest.config.ts
  pnpm-lock.yaml
Labels: App Payment: Stripe

pretty print env error
  apps/stripe/src/lib/env.ts
  apps/stripe/src/lib/saleor-app.ts
Labels: App Payment: Stripe

Fix env
  apps/stripe/.env.example
  apps/stripe/scripts/setup-dynamodb.sh
Labels: App Payment: Stripe

downgrade dep
  apps/stripe/package.json
  pnpm-lock.yaml
Labels: App Payment: Stripe
