Repository saleor/apps, changes with the labels that .github/labeler.yml gives for each.
All labels: App: Klaviyo, App: Product Feed, App: Search, App: AvaTax, App: CMS, App: SMTP, App: Segment, App Payment: Stripe

.github/labeler.yml:

"App: Klaviyo":
  - changed-files:
      - any-glob-to-any-file: "apps/klaviyo/**/*"

"App: Product Feed":
  - changed-files:
      - any-glob-to-any-file: "apps/products-feed/**/*"

"App: Search":
  - changed-files:
      - any-glob-to-any-file: "apps/search/**/*"

"App: AvaTax":
  - changed-files:
      - any-glob-to-any-file: "apps/avatax/**/*"

"App: CMS":
  - changed-files:
      - any-glob-to-any-file: "apps/cms/**/*"

"App: SMTP":
  - changed-files:
      - any-glob-to-any-file: "apps/smtp/**/*"

"App: Segment":
  - changed-files:
      - any-glob-to-any-file: "apps/segment/**/*"

"App Payment: Stripe":
  - changed-files:
      - any-glob-to-any-file: "apps/stripe/**/*"

Fix Stripe validation (#1970)
  .changeset/forty-spies-vanish.md
  apps/stripe/src/modules/app-config/trpc-handlers/new-stripe-config-input-schema.test.ts
  apps/stripe/src/modules/app-config/trpc-handlers/new-stripe-config-input-schema.ts
Labels: App Payment: Stripe

Add process session integration test
  apps/stripe/src/__tests__/integration/webhooks/fixtures/transaction-process-session-fixture.ts
  apps/stripe/src/__tests__/integration/webhooks/payment-gateway-initialize.test.ts
  apps/stripe/src/__tests__/integration/webhooks/transaction-charge-requested.test.ts
  apps/stripe/src/__tests__/integration/webhooks/transaction-initialize-session.test.ts
  apps/stripe/src/__tests__/integration/webhooks/transaction-process-session.test.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-process-session/route.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-process-session/webhook-definition.ts
Labels: App Payment: Stripe

Add process session integration test (#1973)
  apps/stripe/src/__tests__/integration/webhooks/fixtures/transaction-process-session-fixture.ts
  apps/stripe/src/__tests__/integration/webhooks/payment-gateway-initialize.test.ts
  apps/stripe/src/__tests__/integration/webhooks/transaction-charge-requested.test.ts
  apps/stripe/src/__tests__/integration/webhooks/transaction-initialize-session.test.ts
  apps/stripe/src/__tests__/integration/webhooks/transaction-process-session.test.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-process-session/route.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-process-session/webhook-definition.ts
Labels: App Payment: Stripe

Add process session integration test (#1973)
  apps/stripe/src/__tests__/integration/webhooks/fixtures/transaction-process-session-fixture.ts
  apps/stripe/src/__tests__/integration/webhooks/payment-gateway-initialize.test.ts
  apps/stripe/src/__tests__/integration/webhooks/transaction-charge-requested.test.ts
  apps/stripe/src/__tests__/integration/webhooks/transaction-initialize-session.test.ts
  apps/stripe/src/__tests__/integration/webhooks/transaction-process-session.test.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-process-session/route.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-process-session/webhook-definition.ts
Labels: App Payment: Stripe

Align TENANT_DOMAIN observability attribute key name with Saleor's naming convention
  .changeset/purple-otters-thank.md
  packages/otel/src/observability-attributes.ts
Labels: none

Align TENANT_DOMAIN observability attribute key name with Saleor's naming convention (#1974)
  .changeset/purple-otters-thank.md
  packages/otel/src/observability-attributes.ts
Labels: none

Align TENANT_DOMAIN observability attribute key name with Saleor's naming convention (#1974)
  .changeset/purple-otters-thank.md
  packages/otel/src/observability-attributes.ts
Labels: none

Add integration test for refund requested
  apps/stripe/src/__tests__/integration/webhooks/fixtures/transaction-refund-requested-fixture.ts
  apps/stripe/src/__tests__/integration/webhooks/transaction-refund-requested.test.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-charge-requested/route.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-initialize-session/route.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-refund-requested/route.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-refund-requested/webhook-definition.ts
Labels: App Payment: Stripe

Enable codecov reporting
  codecov.yml
Labels: none

fix codecov
  codecov.yml
Labels: none

add stripe coverage
  apps/stripe/package.json
Labels: App Payment: Stripe

additional ingores
  codecov.yml
Labels: none

another approach
  codecov.yml
Labels: none

add src
  codecov.yml
Labels: none

Add integration test for refund requested (#1975)
  apps/stripe/src/__tests__/integration/webhooks/fixtures/transaction-refund-requested-fixture.ts
  apps/stripe/src/__tests__/integration/webhooks/transaction-refund-requested.test.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-charge-requested/route.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-initialize-session/route.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-refund-requested/route.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-refund-requested/webhook-definition.ts
Labels: App Payment: Stripe

Add integration test for refund requested (#1975)
  apps/stripe/src/__tests__/integration/webhooks/fixtures/transaction-refund-requested-fixture.ts
  apps/stripe/src/__tests__/integration/webhooks/transaction-refund-requested.test.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-charge-requested/route.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-initialize-session/route.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-refund-requested/route.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-refund-requested/webhook-definition.ts
Labels: App Payment: Stripe

update codecov
  codecov.yml
Labels: none

updates
  .github/workflows/main.yml
  codecov.yml
Labels: none

remove src
  codecov.yml
Labels: none

Enable codecov reporting (#1976)
  .github/workflows/main.yml
  apps/stripe/package.json
  codecov.yml
Labels: App Payment: Stripe

Enable codecov reporting (#1976)
  .github/workflows/main.yml
  apps/stripe/package.json
  codecov.yml
Labels: App Payment: Stripe

codecov parallel
  .github/workflows/main.yml
Labels: none

use one step
  .github/workflows/main.yml
Labels: none

update path
  .github/workflows/main.yml
Labels: none

update path again
  .github/workflows/main.yml
Labels: none

upload path
  .github/workflows/main.yml
Labels: none

update paths
  .github/workflows/main.yml
Labels: none

fix additional path
  .github/workflows/main.yml
Labels: none

disable search
  .github/workflows/main.yml
Labels: none

Upload codecov projects one by one (#1977)
  .github/workflows/main.yml
Labels: none

Upload codecov projects one by one (#1977)
  .github/workflows/main.yml
Labels: none

wip
  apps/cms/src/modules/providers/strapi/strapi-client.ts
Labels: App: CMS

Add bulk processing to strapi
  apps/cms/src/modules/bulk-sync/bulk-sync-view.tsx
  apps/cms/src/modules/providers/strapi/strapi-bulk-sync-processor.ts
  apps/cms/src/modules/providers/strapi/strapi-client.ts
  apps/cms/turbo.json
Labels: App: CMS

adjust defaults
  apps/cms/src/modules/providers/strapi/strapi-bulk-sync-processor.ts
Labels: App: CMS

Add changeset
  .changeset/angry-dots-jog.md
Labels: none

Add bulk processing for Strapi CMS provider (#1978)
  .changeset/angry-dots-jog.md
  apps/cms/src/modules/bulk-sync/bulk-sync-view.tsx
  apps/cms/src/modules/providers/strapi/strapi-bulk-sync-processor.ts
  apps/cms/src/modules/providers/strapi/strapi-client.ts
  apps/cms/turbo.json
Labels: App: CMS

Add bulk processing for Strapi CMS provider (#1978)
  .changeset/angry-dots-jog.md
  apps/cms/src/modules/bulk-sync/bulk-sync-view.tsx
  apps/cms/src/modules/providers/strapi/strapi-bulk-sync-processor.ts
  apps/cms/src/modules/providers/strapi/strapi-client.ts
  apps/cms/turbo.json
Labels: App: CMS

Add TypeScript types for Stripe app webhook responses
  .changeset/ninety-fans-look.md
  apps/stripe/generated/json-schema/payment-gateway-initialize-session.ts
  apps/stripe/generated/json-schema/transaction-cancelation-requested.ts
  apps/stripe/generated/json-schema/transaction-charge-requested.ts
  apps/stripe/generated/json-schema/transaction-initialize-session.ts
  apps/stripe/generated/json-schema/transaction-process-session.ts
  apps/stripe/generated/json-schema/transaction-refund-requested.ts
  apps/stripe/package.json
  apps/stripe/scripts/generate-app-webhooks-types.ts
  apps/stripe/src/app/api/webhooks/saleor/payment-gateway-initialize-session/use-case-response.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-cancelation-requested/use-case-response.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-charge-requested/use-case-response.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-initialize-session/use-case-response.test.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-initialize-session/use-case-response.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-process-session/use-case-response.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-refund-requested/use-case-response.ts
  apps/stripe/src/modules/saleor/transaction-event-reporter.ts
  apps/stripe/src/modules/transaction-result/action-required-result.ts
  apps/stripe/src/modules/transaction-result/cancel-result.ts
  apps/stripe/src/modules/transaction-result/failure-result.ts
  apps/stripe/src/modules/transaction-result/refund-result.ts
  apps/stripe/src/modules/transaction-result/success-result.ts
  pnpm-lock.yaml
Labels: App Payment: Stripe

fix integration test
  apps/stripe/src/__tests__/integration/webhooks/transaction-initialize-session.test.ts
Labels: App Payment: Stripe

Add TypeScript types for Stripe app webhook responses (#1979)
  .changeset/ninety-fans-look.md
  apps/stripe/generated/json-schema/payment-gateway-initialize-session.ts
  apps/stripe/generated/json-schema/transaction-cancelation-requested.ts
  apps/stripe/generated/json-schema/transaction-charge-requested.ts
  apps/stripe/generated/json-schema/transaction-initialize-session.ts
  apps/stripe/generated/json-schema/transaction-process-session.ts
  apps/stripe/generated/json-schema/transaction-refund-requested.ts
  apps/stripe/package.json
  apps/stripe/scripts/generate-app-webhooks-types.ts
  apps/stripe/src/__tests__/integration/webhooks/transaction-initialize-session.test.ts
  apps/stripe/src/app/api/webhooks/saleor/payment-gateway-initialize-session/use-case-response.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-cancelation-requested/use-case-response.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-charge-requested/use-case-response.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-initialize-session/use-case-response.test.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-initialize-session/use-case-response.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-process-session/use-case-response.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-refund-requested/use-case-response.ts
  apps/stripe/src/modules/saleor/transaction-event-reporter.ts
  apps/stripe/src/modules/transaction-result/action-required-result.ts
  apps/stripe/src/modules/transaction-result/cancel-result.ts
  apps/stripe/src/modules/transaction-result/failure-result.ts
  apps/stripe/src/modules/transaction-result/refund-result.ts
  apps/stripe/src/modules/transaction-result/success-result.ts
  pnpm-lock.yaml
Labels: App Payment: Stripe
