Repository saleor/apps, changes with the labels that .github/labeler.yml gives for each.
All labels: App: Klaviyo, App: Product Feed, App: Search, App: AvaTax, App: CMS, App: SMTP, App: Segment, App Payment: Stripe

.github/labeler.yml:

"App: Klaviyo":
  - changed-files:
      - any-glob-to-any-file: "apps/klaviyo/**/*"

"App: Product Feed":
  - changed-files:
      - any-glob-to-any-file: "apps/products-feed/**/*"

"App: Search":
  - changed-files:
      - any-glob-to-any-file: "apps/search/**/*"

"App: AvaTax":
  - changed-files:
      - any-glob-to-any-file: "apps/avatax/**/*"

"App: CMS":
  - changed-files:
      - any-glob-to-any-file: "apps/cms/**/*"

"App: SMTP":
  - changed-files:
      - any-glob-to-any-file: "apps/smtp/**/*"

"App: Segment":
  - changed-files:
      - any-glob-to-any-file: "apps/segment/**/*"

"App Payment: Stripe":
  - changed-files:
      - any-glob-to-any-file: "apps/stripe/**/*"

Add GitHub Action to notify Discord on "Help Wanted" issues (#1834)
  .github/workflows/help-wanted-issues-to-discord.yml
Labels: none

wip - stripe payment initialize webhook
  apps/stripe/generated/graphql.ts
  apps/stripe/graphql/subscriptions/PaymentGatewayInitializeSession.graphql
  apps/stripe/src/app/api/pi/gateway-initialize/response-shape.ts
  apps/stripe/src/app/api/pi/gateway-initialize/route.ts
  apps/stripe/src/app/api/pi/gateway-initialize/use-case.ts
  apps/stripe/src/app/api/pi/gateway-initialize/webhook-definition.ts
Labels: App Payment: Stripe

cr fixes
  apps/stripe/src/app/api/gateway-initialize/response-shape.ts
  apps/stripe/src/app/api/gateway-initialize/route.ts
  apps/stripe/src/app/api/gateway-initialize/use-case.ts
  apps/stripe/src/app/api/gateway-initialize/webhook-definition.ts
  apps/stripe/src/app/api/pi/gateway-initialize/route.ts
Labels: App Payment: Stripe

fixes after CR
  apps/stripe/package.json
  apps/stripe/scripts/create-app-config.ts
  apps/stripe/src/lib/env.ts
  apps/stripe/src/modules/app-config/app-config-persistor.ts
  apps/stripe/src/modules/app-config/app-root-config.ts
  apps/stripe/src/modules/app-config/file-app-config-presistor.test.ts
  apps/stripe/src/modules/app-config/file-app-config-presistor.ts
  apps/stripe/src/modules/app-config/stripe-config.ts
  apps/stripe/src/modules/stripe/stripe-payment-intents-api.test.ts
  apps/stripe/src/modules/stripe/stripe-publishable-key.test.ts
  apps/stripe/src/modules/stripe/stripe-publishable-key.ts
  apps/stripe/src/modules/stripe/stripe-restricted-key.test.ts
  apps/stripe/src/modules/stripe/stripe-restricted-key.ts
Labels: App Payment: Stripe

return null if config is not found
  apps/stripe/src/modules/app-config/app-root-config.ts
  apps/stripe/src/modules/app-config/file-app-config-presistor.test.ts
  apps/stripe/src/modules/app-config/file-app-config-presistor.ts
Labels: App Payment: Stripe

remove turbo.json env vars
  apps/stripe/turbo.json
Labels: App Payment: Stripe

Add Stripe AppConfig (#1838)
  apps/stripe/.gitignore
  apps/stripe/src/modules/app-config/app-config-persistor.ts
  apps/stripe/src/modules/app-config/app-root-config.ts
  apps/stripe/src/modules/app-config/file-app-config-presistor.test.ts
  apps/stripe/src/modules/app-config/file-app-config-presistor.ts
  apps/stripe/src/modules/app-config/stripe-config.ts
  apps/stripe/src/modules/stripe/stripe-payment-intents-api.test.ts
  apps/stripe/src/modules/stripe/stripe-publishable-key.test.ts
  apps/stripe/src/modules/stripe/stripe-publishable-key.ts
  apps/stripe/src/modules/stripe/stripe-restricted-key.test.ts
  apps/stripe/src/modules/stripe/stripe-restricted-key.ts
Labels: App Payment: Stripe

Add Stripe AppConfig (#1838)
  apps/stripe/.gitignore
  apps/stripe/src/modules/app-config/app-config-persistor.ts
  apps/stripe/src/modules/app-config/app-root-config.ts
  apps/stripe/src/modules/app-config/file-app-config-presistor.test.ts
  apps/stripe/src/modules/app-config/file-app-config-presistor.ts
  apps/stripe/src/modules/app-config/stripe-config.ts
  apps/stripe/src/modules/stripe/stripe-payment-intents-api.test.ts
  apps/stripe/src/modules/stripe/stripe-publishable-key.test.ts
  apps/stripe/src/modules/stripe/stripe-publishable-key.ts
  apps/stripe/src/modules/stripe/stripe-restricted-key.test.ts
  apps/stripe/src/modules/stripe/stripe-restricted-key.ts
Labels: App Payment: Stripe

wip
  apps/stripe/generated/graphql.ts
  apps/stripe/graphql/fragments/Channel.graphql
  apps/stripe/graphql/subscriptions/PaymentGatewayInitializeSession.graphql
  apps/stripe/src/app/api/gateway-initialize/use-case.test.ts
  apps/stripe/src/app/api/manifest/route.test.ts
  apps/stripe/src/app/api/manifest/route.ts
Labels: App Payment: Stripe

config impl
  apps/stripe/src/app/api/gateway-initialize/use-case.ts
Labels: App Payment: Stripe

Improve Stripe app config
  apps/stripe/src/modules/app-config/app-config-persistor.ts
  apps/stripe/src/modules/app-config/app-root-config.ts
  apps/stripe/src/modules/app-config/file-app-config-presistor.test.ts
  apps/stripe/src/modules/app-config/file-app-config-presistor.ts
  apps/stripe/src/modules/app-config/stripe-config.ts
  apps/stripe/src/modules/saleor/saleor-api-url.test.ts
  apps/stripe/src/modules/saleor/saleor-api-url.ts
  apps/stripe/src/modules/stripe/stripe-payment-intents-api.ts
  apps/stripe/src/modules/stripe/stripe-publishable-key.test.ts
  apps/stripe/src/modules/stripe/stripe-publishable-key.ts
  apps/stripe/src/modules/stripe/stripe-restricted-key.test.ts
  apps/stripe/src/modules/stripe/stripe-restricted-key.ts
  apps/stripe/tsconfig.json
  packages/webhook-utils/src/webhook-migration-runner.ts
  packages/webhook-utils/src/webhook-updater.ts
Labels: App Payment: Stripe

fix typo
  apps/stripe/src/modules/stripe/stripe-publishable-key.ts
Labels: App Payment: Stripe

add tests
  apps/stripe/src/modules/app-config/stripe-config.test.ts
  apps/stripe/src/modules/stripe/stripe-publishable-key.test.ts
  apps/stripe/src/modules/stripe/stripe-restricted-key.test.ts
Labels: App Payment: Stripe

tests
  apps/stripe/src/app-config-persistence.ts
  apps/stripe/src/app/api/gateway-initialize/response-shape.test.ts
  apps/stripe/src/app/api/gateway-initialize/route.ts
  apps/stripe/src/app/api/gateway-initialize/use-case.test.ts
  apps/stripe/src/app/api/gateway-initialize/use-case.ts
  apps/stripe/src/app/api/gateway-initialize/webhook-definition.ts
  apps/stripe/src/modules/app-config/file-app-config-presistor.test.ts
  apps/stripe/src/modules/app-config/file-app-config-presistor.ts
  apps/stripe/src/modules/app-config/stripe-config.ts
Labels: App Payment: Stripe

Fix devcontainer setup
  .devcontainer/avatax/Dockerfile
  .devcontainer/avatax/devcontainer.json
  .devcontainer/cms/Dockerfile
  .devcontainer/cms/devcontainer.json
  .devcontainer/klaviyo/Dockerfile
  .devcontainer/klaviyo/devcontainer.json
  .devcontainer/products-feed/Dockerfile
  .devcontainer/products-feed/devcontainer.json
  .devcontainer/search/Dockerfile
  .devcontainer/search/devcontainer.json
  .devcontainer/segment/Dockerfile
  .devcontainer/segment/devcontainer.json
  .devcontainer/smtp/Dockerfile
  .devcontainer/smtp/devcontainer.json
  .devcontainer/stripe/Dockerfile
  .devcontainer/stripe/devcontainer.json
Labels: none

cr
  apps/stripe/package.json
  apps/stripe/src/__tests__/setup.ts
  apps/stripe/src/app/api/manifest/route.test.ts
  apps/stripe/src/app/api/manifest/route.ts
  apps/stripe/src/app/api/saleor/gateway-initialize/response-shape.test.ts
  apps/stripe/src/app/api/saleor/gateway-initialize/response-shape.ts
  apps/stripe/src/app/api/saleor/gateway-initialize/route.ts
  apps/stripe/src/app/api/saleor/gateway-initialize/use-case.test.ts
  apps/stripe/src/app/api/saleor/gateway-initialize/use-case.ts
  apps/stripe/src/app/api/saleor/gateway-initialize/webhook-definition.ts
  pnpm-lock.yaml
Labels: App Payment: Stripe

stripe payment initialize webhook (#1839)
  apps/stripe/generated/graphql.ts
  apps/stripe/graphql/fragments/Channel.graphql
  apps/stripe/graphql/subscriptions/PaymentGatewayInitializeSession.graphql
  apps/stripe/package.json
  apps/stripe/src/__tests__/setup.ts
  apps/stripe/src/app-config-persistence.ts
  apps/stripe/src/app/api/manifest/route.ts
  apps/stripe/src/app/api/saleor/gateway-initialize/response-shape.test.ts
  apps/stripe/src/app/api/saleor/gateway-initialize/response-shape.ts
  apps/stripe/src/app/api/saleor/gateway-initialize/route.ts
  apps/stripe/src/app/api/saleor/gateway-initialize/use-case.test.ts
  apps/stripe/src/app/api/saleor/gateway-initialize/use-case.ts
  apps/stripe/src/app/api/saleor/gateway-initialize/webhook-definition.ts
  apps/stripe/src/modules/app-config/file-app-config-presistor.test.ts
  apps/stripe/src/modules/app-config/file-app-config-presistor.ts
  apps/stripe/src/modules/app-config/stripe-config.ts
  pnpm-lock.yaml
Labels: App Payment: Stripe

stripe payment initialize webhook (#1839)
  apps/stripe/generated/graphql.ts
  apps/stripe/graphql/fragments/Channel.graphql
  apps/stripe/graphql/subscriptions/PaymentGatewayInitializeSession.graphql
  apps/stripe/package.json
  apps/stripe/src/__tests__/setup.ts
  apps/stripe/src/app-config-persistence.ts
  apps/stripe/src/app/api/manifest/route.ts
  apps/stripe/src/app/api/saleor/gateway-initialize/response-shape.test.ts
  apps/stripe/src/app/api/saleor/gateway-initialize/response-shape.ts
  apps/stripe/src/app/api/saleor/gateway-initialize/route.ts
  apps/stripe/src/app/api/saleor/gateway-initialize/use-case.test.ts
  apps/stripe/src/app/api/saleor/gateway-initialize/use-case.ts
  apps/stripe/src/app/api/saleor/gateway-initialize/webhook-definition.ts
  apps/stripe/src/modules/app-config/file-app-config-presistor.test.ts
  apps/stripe/src/modules/app-config/file-app-config-presistor.ts
  apps/stripe/src/modules/app-config/stripe-config.ts
  pnpm-lock.yaml
Labels: App Payment: Stripe

fixes after merge
  apps/stripe/src/app/api/saleor/gateway-initialize/route.ts
  apps/stripe/src/app/api/saleor/gateway-initialize/use-case.test.ts
  apps/stripe/src/app/api/saleor/gateway-initialize/use-case.ts
  apps/stripe/src/lib/app-config-persistence.ts
  apps/stripe/src/modules/saleor/saleor-api-url.test.ts
  apps/stripe/src/modules/saleor/saleor-api-url.ts
Labels: App Payment: Stripe

add readme
  apps/avatax/README.md
  apps/cms/README.md
  apps/klaviyo/README.md
  apps/products-feed/README.md
  apps/search/README.md
  apps/segment/README.md
  apps/smtp/README.md
  apps/stripe/README.md
Labels: App: Klaviyo, App: Product Feed, App: Search, App: AvaTax, App: CMS, App: SMTP, App: Segment, App Payment: Stripe

renames to graphql files
  apps/stripe/generated/graphql.ts
  apps/stripe/graphql/fragments/.gitkeep
  apps/stripe/graphql/subscriptions/.gitkeep
  apps/stripe/graphql/subscriptions/payment-gateway-initalize-session.graphql
Labels: App Payment: Stripe

rename to lowercase
  apps/stripe/graphql/fragments/channel.graphql
Labels: App Payment: Stripe

Improve Stripe app config (#1841)
  apps/stripe/graphql/fragments/.gitkeep
  apps/stripe/graphql/fragments/channel.graphql
  apps/stripe/graphql/subscriptions/.gitkeep
  apps/stripe/graphql/subscriptions/PaymentGatewayInitializeSession.graphql
  apps/stripe/graphql/subscriptions/payment-gateway-initalize-session.graphql
  apps/stripe/src/app/api/saleor/gateway-initialize/route.ts
  apps/stripe/src/app/api/saleor/gateway-initialize/use-case.test.ts
  apps/stripe/src/app/api/saleor/gateway-initialize/use-case.ts
  apps/stripe/src/lib/app-config-persistence.ts
  apps/stripe/src/modules/app-config/app-config-persistor.ts
  apps/stripe/src/modules/app-config/app-root-config.ts
  apps/stripe/src/modules/app-config/file-app-config-presistor.test.ts
  apps/stripe/src/modules/app-config/file-app-config-presistor.ts
  apps/stripe/src/modules/app-config/stripe-config.test.ts
  apps/stripe/src/modules/app-config/stripe-config.ts
  apps/stripe/src/modules/saleor/saleor-api-url.test.ts
  apps/stripe/src/modules/saleor/saleor-api-url.ts
  apps/stripe/src/modules/stripe/stripe-payment-intents-api.ts
  apps/stripe/src/modules/stripe/stripe-publishable-key.test.ts
  apps/stripe/src/modules/stripe/stripe-publishable-key.ts
  apps/stripe/src/modules/stripe/stripe-restricted-key.test.ts
  apps/stripe/src/modules/stripe/stripe-restricted-key.ts
  apps/stripe/tsconfig.json
  packages/webhook-utils/src/webhook-migration-runner.ts
  packages/webhook-utils/src/webhook-updater.ts
Labels: App Payment: Stripe

Improve Stripe app config (#1841)
  apps/stripe/graphql/fragments/.gitkeep
  apps/stripe/graphql/fragments/channel.graphql
  apps/stripe/graphql/subscriptions/.gitkeep
  apps/stripe/graphql/subscriptions/PaymentGatewayInitializeSession.graphql
  apps/stripe/graphql/subscriptions/payment-gateway-initalize-session.graphql
  apps/stripe/src/app/api/saleor/gateway-initialize/route.ts
  apps/stripe/src/app/api/saleor/gateway-initialize/use-case.test.ts
  apps/stripe/src/app/api/saleor/gateway-initialize/use-case.ts
  apps/stripe/src/lib/app-config-persistence.ts
  apps/stripe/src/modules/app-config/app-config-persistor.ts
  apps/stripe/src/modules/app-config/app-root-config.ts
  apps/stripe/src/modules/app-config/file-app-config-presistor.test.ts
  apps/stripe/src/modules/app-config/file-app-config-presistor.ts
  apps/stripe/src/modules/app-config/stripe-config.test.ts
  apps/stripe/src/modules/app-config/stripe-config.ts
  apps/stripe/src/modules/saleor/saleor-api-url.test.ts
  apps/stripe/src/modules/saleor/saleor-api-url.ts
  apps/stripe/src/modules/stripe/stripe-payment-intents-api.ts
  apps/stripe/src/modules/stripe/stripe-publishable-key.test.ts
  apps/stripe/src/modules/stripe/stripe-publishable-key.ts
  apps/stripe/src/modules/stripe/stripe-restricted-key.test.ts
  apps/stripe/src/modules/stripe/stripe-restricted-key.ts
  apps/stripe/tsconfig.json
  packages/webhook-utils/src/webhook-migration-runner.ts
  packages/webhook-utils/src/webhook-updater.ts
Labels: App Payment: Stripe

Enforce kebab-case naming rules
  apps/avatax/eslint.config.js
  apps/avatax/lint-staged.config.js
  apps/cms/eslint.config.js
  apps/cms/lint-staged.config.js
  apps/cms/src/modules/graphql/graphql-provider.tsx
  apps/cms/src/pages/_app.tsx
  apps/klaviyo/eslint.config.js
  apps/klaviyo/lint-staged.config.js
  apps/klaviyo/src/hooks/use-app-api.tsx
  apps/klaviyo/src/pages/configuration.tsx
  apps/products-feed/eslint.config.js
  apps/products-feed/lint-staged.config.js
  apps/search/eslint.config.js
  apps/search/lint-staged.config.js
  apps/segment/lint-staged.config.js
  apps/segment/src/pages/_app.tsx
  apps/segment/src/providers/graphql-provider.tsx
  apps/smtp/eslint.config.js
  apps/smtp/lint-staged.config.js
  apps/stripe/graphql/subscriptions/payment-gateway-initialize-session.graphql
  apps/stripe/lint-staged.config.js
  cspell.config.js
  lint-staged.config.js
  packages/eslint-config/index.js
  packages/eslint-config/package.json
  packages/react-hook-form-macaw/index.ts
  packages/react-hook-form-macaw/src/components/combobox.tsx
  packages/react-hook-form-macaw/src/components/input.tsx
  packages/react-hook-form-macaw/src/components/multiselect.tsx
  packages/react-hook-form-macaw/src/components/select.tsx
  packages/react-hook-form-macaw/src/components/toggle.tsx
  packages/webhook-utils/graphql/fragments/webhook-details-fragment.graphql
  packages/webhook-utils/graphql/mutations/create-app-webhook.graphql
  packages/webhook-utils/graphql/mutations/modify-app-webhook.graphql
  packages/webhook-utils/graphql/mutations/remove-app-webhook.graphql
  packages/webhook-utils/graphql/queries/get-app-details-and-webhooks-data.graphql
  packages/webhook-utils/graphql/queries/get-saleor-instance-data.graphql
  packages/webhook-utils/lint-staged.config.js
  pnpm-lock.yaml
Labels: App: Klaviyo, App: Product Feed, App: Search, App: AvaTax, App: CMS, App: SMTP, App: Segment, App Payment: Stripe

fixes after rename
  packages/react-hook-form-macaw/index.ts
Labels: none

Fix devcontainer setup (#1842)
  .devcontainer/avatax/Dockerfile
  .devcontainer/avatax/devcontainer.json
  .devcontainer/cms/Dockerfile
  .devcontainer/cms/devcontainer.json
  .devcontainer/klaviyo/Dockerfile
  .devcontainer/klaviyo/devcontainer.json
  .devcontainer/products-feed/Dockerfile
  .devcontainer/products-feed/devcontainer.json
  .devcontainer/search/Dockerfile
  .devcontainer/search/devcontainer.json
  .devcontainer/segment/Dockerfile
  .devcontainer/segment/devcontainer.json
  .devcontainer/smtp/Dockerfile
  .devcontainer/smtp/devcontainer.json
  .devcontainer/stripe/Dockerfile
  .devcontainer/stripe/devcontainer.json
  apps/avatax/README.md
  apps/cms/README.md
  apps/klaviyo/README.md
  apps/products-feed/README.md
  apps/search/README.md
  apps/segment/README.md
  apps/smtp/README.md
  apps/stripe/README.md
Labels: App: Klaviyo, App: Product Feed, App: Search, App: AvaTax, App: CMS, App: SMTP, App: Segment, App Payment: Stripe

Fix devcontainer setup (#1842)
  .devcontainer/avatax/Dockerfile
  .devcontainer/avatax/devcontainer.json
  .devcontainer/cms/Dockerfile
  .devcontainer/cms/devcontainer.json
  .devcontainer/klaviyo/Dockerfile
  .devcontainer/klaviyo/devcontainer.json
  .devcontainer/products-feed/Dockerfile
  .devcontainer/products-feed/devcontainer.json
  .devcontainer/search/Dockerfile
  .devcontainer/search/devcontainer.json
  .devcontainer/segment/Dockerfile
  .devcontainer/segment/devcontainer.json
  .devcontainer/smtp/Dockerfile
  .devcontainer/smtp/devcontainer.json
  .devcontainer/stripe/Dockerfile
  .devcontainer/stripe/devcontainer.json
  apps/avatax/README.md
  apps/cms/README.md
  apps/klaviyo/README.md
  apps/products-feed/README.md
  apps/search/README.md
  apps/segment/README.md
  apps/smtp/README.md
  apps/stripe/README.md
Labels: App: Klaviyo, App: Product Feed, App: Search, App: AvaTax, App: CMS, App: SMTP, App: Segment, App Payment: Stripe

Enforce kebab-case naming rules (#1843)
  apps/avatax/eslint.config.js
  apps/avatax/lint-staged.config.js
  apps/cms/eslint.config.js
  apps/cms/lint-staged.config.js
  apps/cms/src/modules/graphql/graphql-provider.tsx
  apps/cms/src/pages/_app.tsx
  apps/klaviyo/eslint.config.js
  apps/klaviyo/lint-staged.config.js
  apps/klaviyo/src/hooks/use-app-api.tsx
  apps/klaviyo/src/pages/configuration.tsx
  apps/products-feed/eslint.config.js
  apps/products-feed/lint-staged.config.js
  apps/search/eslint.config.js
  apps/search/lint-staged.config.js
  apps/segment/lint-staged.config.js
  apps/segment/src/pages/_app.tsx
  apps/segment/src/providers/graphql-provider.tsx
  apps/smtp/eslint.config.js
  apps/smtp/lint-staged.config.js
  apps/stripe/graphql/subscriptions/payment-gateway-initialize-session.graphql
  apps/stripe/lint-staged.config.js
  cspell.config.js
  lint-staged.config.js
  packages/eslint-config/index.js
  packages/eslint-config/package.json
  packages/react-hook-form-macaw/index.ts
  packages/react-hook-form-macaw/src/components/combobox.tsx
  packages/react-hook-form-macaw/src/components/input.tsx
  packages/react-hook-form-macaw/src/components/multiselect.tsx
  packages/react-hook-form-macaw/src/components/select.tsx
  packages/react-hook-form-macaw/src/components/toggle.tsx
  packages/webhook-utils/graphql/fragments/webhook-details-fragment.graphql
  packages/webhook-utils/graphql/mutations/create-app-webhook.graphql
  packages/webhook-utils/graphql/mutations/modify-app-webhook.graphql
  packages/webhook-utils/graphql/mutations/remove-app-webhook.graphql
  packages/webhook-utils/graphql/queries/get-app-details-and-webhooks-data.graphql
  packages/webhook-utils/graphql/queries/get-saleor-instance-data.graphql
  packages/webhook-utils/lint-staged.config.js
  pnpm-lock.yaml
Labels: App: Klaviyo, App: Product Feed, App: Search, App: AvaTax, App: CMS, App: SMTP, App: Segment, App Payment: Stripe

Enforce kebab-case naming rules (#1843)
  apps/avatax/eslint.config.js
  apps/avatax/lint-staged.config.js
  apps/cms/eslint.config.js
  apps/cms/lint-staged.config.js
  apps/cms/src/modules/graphql/graphql-provider.tsx
  apps/cms/src/pages/_app.tsx
  apps/klaviyo/eslint.config.js
  apps/klaviyo/lint-staged.config.js
  apps/klaviyo/src/hooks/use-app-api.tsx
  apps/klaviyo/src/pages/configuration.tsx
  apps/products-feed/eslint.config.js
  apps/products-feed/lint-staged.config.js
  apps/search/eslint.config.js
  apps/search/lint-staged.config.js
  apps/segment/lint-staged.config.js
  apps/segment/src/pages/_app.tsx
  apps/segment/src/providers/graphql-provider.tsx
  apps/smtp/eslint.config.js
  apps/smtp/lint-staged.config.js
  apps/stripe/graphql/subscriptions/payment-gateway-initialize-session.graphql
  apps/stripe/lint-staged.config.js
  cspell.config.js
  lint-staged.config.js
  packages/eslint-config/index.js
  packages/eslint-config/package.json
  packages/react-hook-form-macaw/index.ts
  packages/react-hook-form-macaw/src/components/combobox.tsx
  packages/react-hook-form-macaw/src/components/input.tsx
  packages/react-hook-form-macaw/src/components/multiselect.tsx
  packages/react-hook-form-macaw/src/components/select.tsx
  packages/react-hook-form-macaw/src/components/toggle.tsx
  packages/webhook-utils/graphql/fragments/webhook-details-fragment.graphql
  packages/webhook-utils/graphql/mutations/create-app-webhook.graphql
  packages/webhook-utils/graphql/mutations/modify-app-webhook.graphql
  packages/webhook-utils/graphql/mutations/remove-app-webhook.graphql
  packages/webhook-utils/graphql/queries/get-app-details-and-webhooks-data.graphql
  packages/webhook-utils/graphql/queries/get-saleor-instance-data.graphql
  packages/webhook-utils/lint-staged.config.js
  pnpm-lock.yaml
Labels: App: Klaviyo, App: Product Feed, App: Search, App: AvaTax, App: CMS, App: SMTP, App: Segment, App Payment: Stripe

Update to Node.js 22.14
  .nvmrc
Labels: none

Add integration test for manifest
  apps/stripe/src/app/api/manifest/route.integration.test.ts
  package.json
  pnpm-lock.yaml
Labels: App Payment: Stripe

setup integration
  apps/stripe/src/app/api/manifest/route.integration.test.ts
  apps/stripe/src/app/api/manifest/route.ts
  package.json
  pnpm-lock.yaml
Labels: App Payment: Stripe

wip webhook
  apps/stripe/generated/graphql.ts
  apps/stripe/graphql/subscriptions/transaction-initialize-session.graphql
  apps/stripe/src/app/api/manifest/route.ts
  apps/stripe/src/app/api/saleor/payment-gateway-initialize-session/response-shape.test.ts
  apps/stripe/src/app/api/saleor/payment-gateway-initialize-session/response-shape.ts
  apps/stripe/src/app/api/saleor/payment-gateway-initialize-session/route.ts
  apps/stripe/src/app/api/saleor/payment-gateway-initialize-session/use-case.test.ts
  apps/stripe/src/app/api/saleor/payment-gateway-initialize-session/use-case.ts
  apps/stripe/src/app/api/saleor/payment-gateway-initialize-session/webhook-definition.ts
  apps/stripe/src/app/api/saleor/transaction-initialize-session/route.ts
  apps/stripe/src/app/api/saleor/transaction-initialize-session/webhook-definition.ts
Labels: App Payment: Stripe

wip webhook
  apps/stripe/generated/graphql.ts
  apps/stripe/graphql/subscriptions/transaction-initialize-session.graphql
  apps/stripe/src/app/api/manifest/route.ts
  apps/stripe/src/app/api/saleor/payment-gateway-initialize-session/response-shape.test.ts
  apps/stripe/src/app/api/saleor/payment-gateway-initialize-session/response-shape.ts
  apps/stripe/src/app/api/saleor/payment-gateway-initialize-session/route.ts
  apps/stripe/src/app/api/saleor/payment-gateway-initialize-session/use-case.test.ts
  apps/stripe/src/app/api/saleor/payment-gateway-initialize-session/use-case.ts
  apps/stripe/src/app/api/saleor/payment-gateway-initialize-session/webhook-definition.ts
  apps/stripe/src/app/api/saleor/transaction-initialize-session/route.ts
  apps/stripe/src/app/api/saleor/transaction-initialize-session/webhook-definition.ts
Labels: App Payment: Stripe

wip
  apps/stripe/src/app/api/manifest/route.ts
Labels: App Payment: Stripe

wip
  apps/stripe/src/app/api/manifest/route.ts
Labels: App Payment: Stripe

renames
  apps/stripe/src/app/api/manifest/route.ts
  apps/stripe/src/app/api/saleor/payment-gateway-initialize/response-shape.test.ts
  apps/stripe/src/app/api/saleor/payment-gateway-initialize/response-shape.ts
  apps/stripe/src/app/api/saleor/payment-gateway-initialize/route.ts
  apps/stripe/src/app/api/saleor/payment-gateway-initialize/use-case.test.ts
  apps/stripe/src/app/api/saleor/payment-gateway-initialize/use-case.ts
  apps/stripe/src/app/api/saleor/payment-gateway-initialize/webhook-definition.ts
  apps/stripe/src/lib/app-config-persistence.ts
  apps/stripe/src/modules/app-config/app-config-persister.ts
  apps/stripe/src/modules/app-config/file-app-config-persister.test.ts
  apps/stripe/src/modules/app-config/file-app-config-persister.ts
Labels: App Payment: Stripe

update snapshot
  apps/stripe/src/app/api/manifest/route.integration.test.ts
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: App Payment: Stripe

Update to Node.js 22.14 (#1844)
  .nvmrc
Labels: none
