Repository saleor/apps, changes with the labels that .github/labeler.yml gives for each.
All labels: App: Klaviyo, App: Product Feed, App: Search, App: AvaTax, App: CMS, App: SMTP, App: Segment, App Payment: Stripe

Update apps readme with new link to Stripe (#1953)
  README.md
Labels: none

Update apps readme with new link to Stripe (#1953)
  README.md
Labels: none

fix merge
  apps/stripe/package.json
  apps/stripe/src/__tests__/integration/delete-table.ts
  apps/stripe/src/__tests__/integration/setup.integration.ts
Labels: App Payment: Stripe

cleanup
  apps/stripe/src/__tests__/integration/webhooks/fixtures/payment-gateway-initialize-fixture.ts
  apps/stripe/src/__tests__/integration/webhooks/fixtures/transaction-initialize-session-fixture.ts
  apps/stripe/src/__tests__/integration/webhooks/payment-gateway-initialize.test.ts
  apps/stripe/src/__tests__/integration/webhooks/transaction-initialize-session.test.ts
Labels: App Payment: Stripe

secrets from 1p
  .github/workflows/stripe-integration-dynamodb.yml
Labels: none

Initial integration tests setup (transaction and gateway initialize) (#1941)
  .github/workflows/stripe-integration-dynamodb.yml
  apps/stripe/package.json
  apps/stripe/src/__tests__/integration/.env.test
  apps/stripe/src/__tests__/integration/config-repo/config-repo.integration.test.ts
  apps/stripe/src/__tests__/integration/create-table.ts
  apps/stripe/src/__tests__/integration/delete-table.ts
  apps/stripe/src/__tests__/integration/docker-compose.yml
  apps/stripe/src/__tests__/integration/dynamodb/setup.integration-dynamo.ts
  apps/stripe/src/__tests__/integration/global-setup.integration.ts
  apps/stripe/src/__tests__/integration/setup.integration.ts
  apps/stripe/src/__tests__/integration/webhooks/fixtures/payment-gateway-initialize-fixture.ts
  apps/stripe/src/__tests__/integration/webhooks/fixtures/transaction-initialize-session-fixture.ts
  apps/stripe/src/__tests__/integration/webhooks/payment-gateway-initialize.test.ts
  apps/stripe/src/__tests__/integration/webhooks/transaction-initialize-session.test.ts
  apps/stripe/src/__tests__/mocks/mocked-encryption-key.ts
  apps/stripe/src/app/api/webhooks/saleor/payment-gateway-initialize-session/webhook-definition.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-initialize-session/webhook-definition.ts
  apps/stripe/src/app/api/webhooks/saleor/verify-signature.ts
  apps/stripe/src/lib/encryptor.test.ts
  apps/stripe/src/lib/encryptor.ts
  apps/stripe/src/modules/app-config/trpc-handlers/new-stripe-config-trpc-handler.test.ts
  apps/stripe/vitest.config.ts
  packages/eslint-config/index.js
  pnpm-lock.yaml
Labels: App Payment: Stripe

Initial integration tests setup (transaction and gateway initialize) (#1941)
  .github/workflows/stripe-integration-dynamodb.yml
  apps/stripe/package.json
  apps/stripe/src/__tests__/integration/.env.test
  apps/stripe/src/__tests__/integration/config-repo/config-repo.integration.test.ts
  apps/stripe/src/__tests__/integration/create-table.ts
  apps/stripe/src/__tests__/integration/delete-table.ts
  apps/stripe/src/__tests__/integration/docker-compose.yml
  apps/stripe/src/__tests__/integration/dynamodb/setup.integration-dynamo.ts
  apps/stripe/src/__tests__/integration/global-setup.integration.ts
  apps/stripe/src/__tests__/integration/setup.integration.ts
  apps/stripe/src/__tests__/integration/webhooks/fixtures/payment-gateway-initialize-fixture.ts
  apps/stripe/src/__tests__/integration/webhooks/fixtures/transaction-initialize-session-fixture.ts
  apps/stripe/src/__tests__/integration/webhooks/payment-gateway-initialize.test.ts
  apps/stripe/src/__tests__/integration/webhooks/transaction-initialize-session.test.ts
  apps/stripe/src/__tests__/mocks/mocked-encryption-key.ts
  apps/stripe/src/app/api/webhooks/saleor/payment-gateway-initialize-session/webhook-definition.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-initialize-session/webhook-definition.ts
  apps/stripe/src/app/api/webhooks/saleor/verify-signature.ts
  apps/stripe/src/lib/encryptor.test.ts
  apps/stripe/src/lib/encryptor.ts
  apps/stripe/src/modules/app-config/trpc-handlers/new-stripe-config-trpc-handler.test.ts
  apps/stripe/vitest.config.ts
  packages/eslint-config/index.js
  pnpm-lock.yaml
Labels: App Payment: Stripe

Wrap DynamoDB building command in try/catch for improved error handling
  .changeset/fast-owls-decide.md
  apps/stripe/src/modules/app-config/repositories/dynamodb/dynamodb-app-config-repo.ts
Labels: App Payment: Stripe

Wrap DynamoDB building command in try/catch for improved error handling (#1954)
  .changeset/fast-owls-decide.md
  apps/stripe/src/modules/app-config/repositories/dynamodb/dynamodb-app-config-repo.ts
Labels: App Payment: Stripe

Wrap DynamoDB building command in try/catch for improved error handling (#1954)
  .changeset/fast-owls-decide.md
  apps/stripe/src/modules/app-config/repositories/dynamodb/dynamodb-app-config-repo.ts
Labels: App Payment: Stripe

comment encryption key
  apps/stripe/.env.example
  apps/stripe/src/__tests__/integration/.env.test
  apps/stripe/src/lib/encryptor.ts
Labels: App Payment: Stripe

Fix e2e for AvaTax
  .github/workflows/e2e.yml
  apps/avatax/e2e/setup.ts
  apps/avatax/e2e/tests/checkout-address-change.spec.ts
  apps/avatax/e2e/tests/checkout-basic-product-with-tax-code.spec.ts
  apps/avatax/e2e/tests/checkout-basic-product-without-tax-code.spec.ts
  apps/avatax/e2e/tests/checkout-order-promotion-subtotal-reward.spec.ts
  apps/avatax/e2e/tests/checkout-with-click-and-collect.spec.ts
  apps/avatax/e2e/tests/checkout-with-customer-metadata.spec.ts
  apps/avatax/e2e/tests/checkout-with-digital-products.spec.ts
  apps/avatax/e2e/tests/checkout-with-entire-voucher.spec.ts
  apps/avatax/e2e/tests/checkout-with-voucher-free-shipping.spec.ts
  apps/avatax/e2e/tests/checkout_with_customer_metadata.spec.ts
  apps/avatax/e2e/tests/draft-order-basic.spec.ts
  apps/avatax/e2e/tests/draft-order-catalog-promotion.spec.ts
  apps/avatax/e2e/tests/draft-order-changing-lines.spec.ts
  apps/avatax/e2e/tests/draft-order-with-entire-voucher.spec.ts
  apps/avatax/e2e/tests/draft-order-with-entity-code.spec.ts
  apps/avatax/e2e/tests/draft-order-with-manual-total-discount.spec.ts
  apps/avatax/e2e/tests/draft-order-with-order-promotion-subtotal.spec.ts
  apps/avatax/e2e/tests/draft_order_changing_lines.spec.ts
  apps/avatax/e2e/utils/money.ts
  apps/avatax/e2e/utils/saleor-version-compatibility.ts
  apps/avatax/src/env.ts
  apps/avatax/turbo.json
  apps/stripe/e2e/helpers.ts
Labels: App: AvaTax, App Payment: Stripe

comment encryption key (#1955)
  apps/stripe/.env.example
  apps/stripe/src/__tests__/integration/.env.test
  apps/stripe/src/lib/encryptor.ts
Labels: App Payment: Stripe

comment encryption key (#1955)
  apps/stripe/.env.example
  apps/stripe/src/__tests__/integration/.env.test
  apps/stripe/src/lib/encryptor.ts
Labels: App Payment: Stripe

add 321 to stripe
  .github/workflows/e2e.yml
Labels: none

update stripe app id
  apps/stripe/e2e/pages/stripe-checkout-form-page.tsx
Labels: App Payment: Stripe

Add cron job
  .github/workflows/e2e.yml
  .github/workflows/run-e2e-cron.yml
Labels: none

add gha perms
  .github/workflows/run-e2e-cron.yml
Labels: none

Fix e2e for AvaTax & run e2e in schedule (#1956)
  .github/workflows/e2e.yml
  .github/workflows/run-e2e-cron.yml
  apps/avatax/e2e/setup.ts
  apps/avatax/e2e/tests/checkout-address-change.spec.ts
  apps/avatax/e2e/tests/checkout-basic-product-with-tax-code.spec.ts
  apps/avatax/e2e/tests/checkout-basic-product-without-tax-code.spec.ts
  apps/avatax/e2e/tests/checkout-order-promotion-subtotal-reward.spec.ts
  apps/avatax/e2e/tests/checkout-with-click-and-collect.spec.ts
  apps/avatax/e2e/tests/checkout-with-customer-metadata.spec.ts
  apps/avatax/e2e/tests/checkout-with-digital-products.spec.ts
  apps/avatax/e2e/tests/checkout-with-entire-voucher.spec.ts
  apps/avatax/e2e/tests/checkout-with-voucher-free-shipping.spec.ts
  apps/avatax/e2e/tests/checkout_with_customer_metadata.spec.ts
  apps/avatax/e2e/tests/draft-order-basic.spec.ts
  apps/avatax/e2e/tests/draft-order-catalog-promotion.spec.ts
  apps/avatax/e2e/tests/draft-order-changing-lines.spec.ts
  apps/avatax/e2e/tests/draft-order-with-entire-voucher.spec.ts
  apps/avatax/e2e/tests/draft-order-with-entity-code.spec.ts
  apps/avatax/e2e/tests/draft-order-with-manual-total-discount.spec.ts
  apps/avatax/e2e/tests/draft-order-with-order-promotion-subtotal.spec.ts
  apps/avatax/e2e/tests/draft_order_changing_lines.spec.ts
  apps/avatax/e2e/utils/money.ts
  apps/avatax/e2e/utils/saleor-version-compatibility.ts
  apps/avatax/src/env.ts
  apps/avatax/turbo.json
  apps/stripe/e2e/helpers.ts
  apps/stripe/e2e/pages/stripe-checkout-form-page.tsx
Labels: App: AvaTax, App Payment: Stripe

Fix e2e for AvaTax & run e2e in schedule (#1956)
  .github/workflows/e2e.yml
  .github/workflows/run-e2e-cron.yml
  apps/avatax/e2e/setup.ts
  apps/avatax/e2e/tests/checkout-address-change.spec.ts
  apps/avatax/e2e/tests/checkout-basic-product-with-tax-code.spec.ts
  apps/avatax/e2e/tests/checkout-basic-product-without-tax-code.spec.ts
  apps/avatax/e2e/tests/checkout-order-promotion-subtotal-reward.spec.ts
  apps/avatax/e2e/tests/checkout-with-click-and-collect.spec.ts
  apps/avatax/e2e/tests/checkout-with-customer-metadata.spec.ts
  apps/avatax/e2e/tests/checkout-with-digital-products.spec.ts
  apps/avatax/e2e/tests/checkout-with-entire-voucher.spec.ts
  apps/avatax/e2e/tests/checkout-with-voucher-free-shipping.spec.ts
  apps/avatax/e2e/tests/checkout_with_customer_metadata.spec.ts
  apps/avatax/e2e/tests/draft-order-basic.spec.ts
  apps/avatax/e2e/tests/draft-order-catalog-promotion.spec.ts
  apps/avatax/e2e/tests/draft-order-changing-lines.spec.ts
  apps/avatax/e2e/tests/draft-order-with-entire-voucher.spec.ts
  apps/avatax/e2e/tests/draft-order-with-entity-code.spec.ts
  apps/avatax/e2e/tests/draft-order-with-manual-total-discount.spec.ts
  apps/avatax/e2e/tests/draft-order-with-order-promotion-subtotal.spec.ts
  apps/avatax/e2e/tests/draft_order_changing_lines.spec.ts
  apps/avatax/e2e/utils/money.ts
  apps/avatax/e2e/utils/saleor-version-compatibility.ts
  apps/avatax/src/env.ts
  apps/avatax/turbo.json
  apps/stripe/e2e/helpers.ts
  apps/stripe/e2e/pages/stripe-checkout-form-page.tsx
Labels: App: AvaTax, App Payment: Stripe

remove avatax info logs
  apps/avatax/src/lib/app-configuration-logger.test.ts
  apps/avatax/src/lib/app-configuration-logger.ts
  apps/avatax/src/modules/avatax/avatax-calculation-date-resolver.ts
  apps/avatax/src/modules/avatax/avatax-customer-code-resolver.ts
  apps/avatax/src/modules/avatax/calculate-taxes/avatax-calculate-taxes-payload-transformer.ts
  apps/avatax/src/modules/avatax/calculate-taxes/avatax-calculate-taxes-response-lines-transformer.ts
  apps/avatax/src/modules/avatax/calculate-taxes/avatax-calculate-taxes-response-shipping-transformer.ts
  apps/avatax/src/modules/avatax/order-confirmed/avatax-order-confirmed-payload-transformer.ts
  apps/avatax/src/modules/avatax/order-confirmed/avatax-order-confirmed-tax-code-matcher.ts
  apps/avatax/src/modules/calculate-taxes/use-case/calculate-taxes.use-case.ts
Labels: App: AvaTax

avatax logs reduce
  .changeset/afraid-items-rhyme.md
Labels: none

feat: add channel listings to product variant fragment
  apps/search/generated/graphql.ts
  apps/search/graphql/fragments/ProductData.graphql
  apps/search/src/lib/algolia/algoliaUtils.ts
Labels: App: Search

changeset added
  .changeset/gorgeous-seals-hang.md
Labels: none

test: add test for filtering inactive variants in otherVariants mapping
  apps/search/src/lib/algolia/algoliaUtils.test.ts
Labels: App: Search

Changed Avatax logs verbosity (#1957)
  .changeset/afraid-items-rhyme.md
  apps/avatax/src/lib/app-configuration-logger.test.ts
  apps/avatax/src/lib/app-configuration-logger.ts
  apps/avatax/src/modules/avatax/avatax-calculation-date-resolver.ts
  apps/avatax/src/modules/avatax/avatax-customer-code-resolver.ts
  apps/avatax/src/modules/avatax/calculate-taxes/avatax-calculate-taxes-payload-transformer.ts
  apps/avatax/src/modules/avatax/calculate-taxes/avatax-calculate-taxes-response-lines-transformer.ts
  apps/avatax/src/modules/avatax/calculate-taxes/avatax-calculate-taxes-response-shipping-transformer.ts
  apps/avatax/src/modules/avatax/order-confirmed/avatax-order-confirmed-payload-transformer.ts
  apps/avatax/src/modules/avatax/order-confirmed/avatax-order-confirmed-tax-code-matcher.ts
  apps/avatax/src/modules/calculate-taxes/use-case/calculate-taxes.use-case.ts
Labels: App: AvaTax

Changed Avatax logs verbosity (#1957)
  .changeset/afraid-items-rhyme.md
  apps/avatax/src/lib/app-configuration-logger.test.ts
  apps/avatax/src/lib/app-configuration-logger.ts
  apps/avatax/src/modules/avatax/avatax-calculation-date-resolver.ts
  apps/avatax/src/modules/avatax/avatax-customer-code-resolver.ts
  apps/avatax/src/modules/avatax/calculate-taxes/avatax-calculate-taxes-payload-transformer.ts
  apps/avatax/src/modules/avatax/calculate-taxes/avatax-calculate-taxes-response-lines-transformer.ts
  apps/avatax/src/modules/avatax/calculate-taxes/avatax-calculate-taxes-response-shipping-transformer.ts
  apps/avatax/src/modules/avatax/order-confirmed/avatax-order-confirmed-payload-transformer.ts
  apps/avatax/src/modules/avatax/order-confirmed/avatax-order-confirmed-tax-code-matcher.ts
  apps/avatax/src/modules/calculate-taxes/use-case/calculate-taxes.use-case.ts
Labels: App: AvaTax

Release apps (#1952)
  .changeset/afraid-items-rhyme.md
  .changeset/fast-owls-decide.md
  .changeset/kind-meals-exercise.md
  apps/avatax/CHANGELOG.md
  apps/avatax/package.json
  apps/stripe/CHANGELOG.md
  apps/stripe/package.json
Labels: App: AvaTax, App Payment: Stripe

Release apps (#1952)
  .changeset/afraid-items-rhyme.md
  .changeset/fast-owls-decide.md
  .changeset/kind-meals-exercise.md
  apps/avatax/CHANGELOG.md
  apps/avatax/package.json
  apps/stripe/CHANGELOG.md
  apps/stripe/package.json
Labels: App: AvaTax, App Payment: Stripe

Algolia filter active (#1958)
  .changeset/gorgeous-seals-hang.md
  apps/search/generated/graphql.ts
  apps/search/graphql/fragments/ProductData.graphql
  apps/search/src/lib/algolia/algoliaUtils.test.ts
  apps/search/src/lib/algolia/algoliaUtils.ts
Labels: App: Search

Algolia filter active (#1958)
  .changeset/gorgeous-seals-hang.md
  apps/search/generated/graphql.ts
  apps/search/graphql/fragments/ProductData.graphql
  apps/search/src/lib/algolia/algoliaUtils.test.ts
  apps/search/src/lib/algolia/algoliaUtils.ts
Labels: App: Search

Release apps (#1959)
  .changeset/gorgeous-seals-hang.md
  apps/search/CHANGELOG.md
  apps/search/package.json
Labels: App: Search

Release apps (#1959)
  .changeset/gorgeous-seals-hang.md
  apps/search/CHANGELOG.md
  apps/search/package.json
Labels: App: Search

fix validation when creating conifg
  .changeset/spotty-zebras-agree.md
  apps/stripe/src/modules/app-config/trpc-handlers/new-stripe-config-input-schema.test.ts
  apps/stripe/src/modules/app-config/trpc-handlers/new-stripe-config-input-schema.ts
Labels: App Payment: Stripe

fix validation when creating conifg (#1960)
  .changeset/spotty-zebras-agree.md
  apps/stripe/src/modules/app-config/trpc-handlers/new-stripe-config-input-schema.test.ts
  apps/stripe/src/modules/app-config/trpc-handlers/new-stripe-config-input-schema.ts
Labels: App Payment: Stripe

fix validation when creating conifg (#1960)
  .changeset/spotty-zebras-agree.md
  apps/stripe/src/modules/app-config/trpc-handlers/new-stripe-config-input-schema.test.ts
  apps/stripe/src/modules/app-config/trpc-handlers/new-stripe-config-input-schema.ts
Labels: App Payment: Stripe

Add observability attributes for Sentry / logs
  .changeset/red-donkeys-remain.md
  apps/stripe/src/app/api/webhooks/saleor/payment-gateway-initialize-session/route.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-cancelation-requested/route.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-charge-requested/route.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-initialize-session/route.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-process-session/route.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-refund-requested/route.ts
  apps/stripe/src/app/api/webhooks/stripe/route.ts
  apps/stripe/src/lib/observability-saleor-api-url.ts
  apps/stripe/src/lib/observability-source-object-id.ts
Labels: App Payment: Stripe

Add observability attributes for Sentry / logs (#1962)
  .changeset/red-donkeys-remain.md
  apps/stripe/src/app/api/webhooks/saleor/payment-gateway-initialize-session/route.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-cancelation-requested/route.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-charge-requested/route.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-initialize-session/route.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-process-session/route.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-refund-requested/route.ts
  apps/stripe/src/app/api/webhooks/stripe/route.ts
  apps/stripe/src/lib/observability-saleor-api-url.ts
  apps/stripe/src/lib/observability-source-object-id.ts
Labels: App Payment: Stripe

Add observability attributes for Sentry / logs (#1962)
  .changeset/red-donkeys-remain.md
  apps/stripe/src/app/api/webhooks/saleor/payment-gateway-initialize-session/route.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-cancelation-requested/route.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-charge-requested/route.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-initialize-session/route.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-process-session/route.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-refund-requested/route.ts
  apps/stripe/src/app/api/webhooks/stripe/route.ts
  apps/stripe/src/lib/observability-saleor-api-url.ts
  apps/stripe/src/lib/observability-source-object-id.ts
Labels: App Payment: Stripe

Enhance observability by integrating app context in Stripe webhook handler and adding Sentry tags for Saleor API URL in protected client procedure
  .changeset/three-bears-sing.md
  apps/stripe/src/app/api/webhooks/stripe/route.ts
  apps/stripe/src/modules/trpc/protected-client-procedure.ts
Labels: App Payment: Stripe

.github/labeler.yml:

"App: Klaviyo":
  - changed-files:
      - any-glob-to-any-file: "apps/klaviyo/**/*"

"App: Product Feed":
  - changed-files:
      - any-glob-to-any-file: "apps/products-feed/**/*"

"App: Search":
  - changed-files:
      - any-glob-to-any-file: "apps/search/**/*"

"App: AvaTax":
  - changed-files:
      - any-glob-to-any-file: "apps/avatax/**/*"

"App: CMS":
  - changed-files:
      - any-glob-to-any-file: "apps/cms/**/*"

"App: SMTP":
  - changed-files:
      - any-glob-to-any-file: "apps/smtp/**/*"

"App: Segment":
  - changed-files:
      - any-glob-to-any-file: "apps/segment/**/*"

"App Payment: Stripe":
  - changed-files:
      - any-glob-to-any-file: "apps/stripe/**/*"
