Repository saleor/apps, changes with the labels that .github/labeler.yml gives for each.
All labels: App: Klaviyo, App: Product Feed, App: Search, App: AvaTax, App: CMS, App: SMTP, App: Segment, App Payment: Stripe

.github/labeler.yml:

"App: Klaviyo":
  - changed-files:
      - any-glob-to-any-file: "apps/klaviyo/**/*"

"App: Product Feed":
  - changed-files:
      - any-glob-to-any-file: "apps/products-feed/**/*"

"App: Search":
  - changed-files:
      - any-glob-to-any-file: "apps/search/**/*"

"App: AvaTax":
  - changed-files:
      - any-glob-to-any-file: "apps/avatax/**/*"

"App: CMS":
  - changed-files:
      - any-glob-to-any-file: "apps/cms/**/*"

"App: SMTP":
  - changed-files:
      - any-glob-to-any-file: "apps/smtp/**/*"

"App: Segment":
  - changed-files:
      - any-glob-to-any-file: "apps/segment/**/*"

"App Payment: Stripe":
  - changed-files:
      - any-glob-to-any-file: "apps/stripe/**/*"

Add handlebars-helpers with tests and configuration (#1856)
  .changeset/eight-bottles-drop.md
  apps/products-feed/next.config.ts
  apps/products-feed/package.json
  apps/products-feed/src/modules/handlebarsTemplates/render-handlebars-template.test.ts
  apps/products-feed/src/modules/handlebarsTemplates/render-handlebars-template.ts
  apps/products-feed/src/pages/configuration.tsx
  pnpm-lock.yaml
Labels: App: Product Feed

Error handling for Stripe API (#1872)
  apps/stripe/src/app/api/saleor/transaction-initialize-session/event-data-parser.ts
  apps/stripe/src/app/api/saleor/transaction-initialize-session/use-case-response.test.ts
  apps/stripe/src/app/api/saleor/transaction-initialize-session/use-case-response.ts
  apps/stripe/src/app/api/saleor/transaction-initialize-session/use-case.test.ts
  apps/stripe/src/app/api/saleor/transaction-initialize-session/use-case.ts
  apps/stripe/src/modules/stripe/stripe-payment-intent-api-error.test.ts
  apps/stripe/src/modules/stripe/stripe-payment-intent-api-error.ts
  apps/stripe/src/modules/stripe/stripe-payment-intents-api.ts
  apps/stripe/src/modules/stripe/types.ts
Labels: App Payment: Stripe

Error handling for Stripe API (#1872)
  apps/stripe/src/app/api/saleor/transaction-initialize-session/event-data-parser.ts
  apps/stripe/src/app/api/saleor/transaction-initialize-session/use-case-response.test.ts
  apps/stripe/src/app/api/saleor/transaction-initialize-session/use-case-response.ts
  apps/stripe/src/app/api/saleor/transaction-initialize-session/use-case.test.ts
  apps/stripe/src/app/api/saleor/transaction-initialize-session/use-case.ts
  apps/stripe/src/modules/stripe/stripe-payment-intent-api-error.test.ts
  apps/stripe/src/modules/stripe/stripe-payment-intent-api-error.ts
  apps/stripe/src/modules/stripe/stripe-payment-intents-api.ts
  apps/stripe/src/modules/stripe/types.ts
Labels: App Payment: Stripe

test
  apps/stripe/src/modules/app-config/trpc-handlers/new-stripe-config-trpc-handler.test.ts
Labels: App Payment: Stripe

Release apps (#1874)
  .changeset/eight-bottles-drop.md
  apps/products-feed/CHANGELOG.md
  apps/products-feed/package.json
Labels: App: Product Feed

Release apps (#1874)
  .changeset/eight-bottles-drop.md
  apps/products-feed/CHANGELOG.md
  apps/products-feed/package.json
Labels: App: Product Feed

fix build
  apps/stripe/src/__tests__/mocks/app-config-repo.ts
Labels: App Payment: Stripe

remove log
  apps/stripe/src/pages/index.tsx
Labels: App Payment: Stripe

webhook manager
  apps/stripe/src/modules/stripe/stripe-webhook-manager.ts
  apps/stripe/src/modules/stripe/supported-stripe-events.ts
Labels: App Payment: Stripe

UI part 1: list of configs, create config (#1865)
  apps/stripe/package.json
  apps/stripe/src/__tests__/mocks/app-config-repo.ts
  apps/stripe/src/__tests__/mocks/mock-stripe-config.ts
  apps/stripe/src/__tests__/mocks/mocked-stripe-publishable-key.ts
  apps/stripe/src/__tests__/mocks/mocked-stripe-restricted-key.ts
  apps/stripe/src/modules/app-config/app-config-repo.ts
  apps/stripe/src/modules/app-config/app-root-config.ts
  apps/stripe/src/modules/app-config/file-app-config-repo.test.ts
  apps/stripe/src/modules/app-config/file-app-config-repo.ts
  apps/stripe/src/modules/app-config/stripe-config.test.ts
  apps/stripe/src/modules/app-config/stripe-config.ts
  apps/stripe/src/modules/app-config/trpc-handlers/app-config-router.ts
  apps/stripe/src/modules/app-config/trpc-handlers/get-stripe-config-trpc-handler.test.ts
  apps/stripe/src/modules/app-config/trpc-handlers/get-stripe-configs-list-trpc-handler.ts
  apps/stripe/src/modules/app-config/trpc-handlers/new-stripe-config-input-schema.test.ts
  apps/stripe/src/modules/app-config/trpc-handlers/new-stripe-config-input-schema.ts
  apps/stripe/src/modules/app-config/trpc-handlers/new-stripe-config-trpc-handler.test.ts
  apps/stripe/src/modules/app-config/trpc-handlers/new-stripe-config-trpc-handler.ts
  apps/stripe/src/modules/stripe/stripe-webhook-secret.ts
  apps/stripe/src/modules/ui/app-breadcrumbs.tsx
  apps/stripe/src/modules/ui/app-header.tsx
  apps/stripe/src/modules/ui/stripe-configs/channel-config-section.tsx
  apps/stripe/src/modules/ui/stripe-configs/empty-configs.tsx
  apps/stripe/src/modules/ui/stripe-configs/new-stripe-config-form.tsx
  apps/stripe/src/modules/ui/stripe-configs/stripe-configs-list.tsx
  apps/stripe/src/pages/config/index.tsx
  apps/stripe/src/pages/config/new.tsx
  apps/stripe/src/pages/index.tsx
  pnpm-lock.yaml
Labels: App Payment: Stripe

UI part 1: list of configs, create config (#1865)
  apps/stripe/package.json
  apps/stripe/src/__tests__/mocks/app-config-repo.ts
  apps/stripe/src/__tests__/mocks/mock-stripe-config.ts
  apps/stripe/src/__tests__/mocks/mocked-stripe-publishable-key.ts
  apps/stripe/src/__tests__/mocks/mocked-stripe-restricted-key.ts
  apps/stripe/src/modules/app-config/app-config-repo.ts
  apps/stripe/src/modules/app-config/app-root-config.ts
  apps/stripe/src/modules/app-config/file-app-config-repo.test.ts
  apps/stripe/src/modules/app-config/file-app-config-repo.ts
  apps/stripe/src/modules/app-config/stripe-config.test.ts
  apps/stripe/src/modules/app-config/stripe-config.ts
  apps/stripe/src/modules/app-config/trpc-handlers/app-config-router.ts
  apps/stripe/src/modules/app-config/trpc-handlers/get-stripe-config-trpc-handler.test.ts
  apps/stripe/src/modules/app-config/trpc-handlers/get-stripe-configs-list-trpc-handler.ts
  apps/stripe/src/modules/app-config/trpc-handlers/new-stripe-config-input-schema.test.ts
  apps/stripe/src/modules/app-config/trpc-handlers/new-stripe-config-input-schema.ts
  apps/stripe/src/modules/app-config/trpc-handlers/new-stripe-config-trpc-handler.test.ts
  apps/stripe/src/modules/app-config/trpc-handlers/new-stripe-config-trpc-handler.ts
  apps/stripe/src/modules/stripe/stripe-webhook-secret.ts
  apps/stripe/src/modules/ui/app-breadcrumbs.tsx
  apps/stripe/src/modules/ui/app-header.tsx
  apps/stripe/src/modules/ui/stripe-configs/channel-config-section.tsx
  apps/stripe/src/modules/ui/stripe-configs/empty-configs.tsx
  apps/stripe/src/modules/ui/stripe-configs/new-stripe-config-form.tsx
  apps/stripe/src/modules/ui/stripe-configs/stripe-configs-list.tsx
  apps/stripe/src/pages/config/index.tsx
  apps/stripe/src/pages/config/new.tsx
  apps/stripe/src/pages/index.tsx
  pnpm-lock.yaml
Labels: App Payment: Stripe

form errors handling
  apps/stripe/src/modules/app-config/trpc-handlers/new-stripe-config-trpc-handler.ts
  apps/stripe/src/modules/ui/stripe-configs/new-stripe-config-form.tsx
Labels: App Payment: Stripe

Build webhook url
  apps/stripe/src/app/api/stripe/webhook/webhook-params.ts
  apps/stripe/src/modules/stripe/stripe-webhook-manager.ts
Labels: App Payment: Stripe

Add support for Authorization flow for transactionInitSession
  apps/stripe/generated/graphql.ts
  apps/stripe/graphql/mutations/.gitkeep
  apps/stripe/graphql/subscriptions/transaction-initialize-session.graphql
  apps/stripe/src/__tests__/mocks/transaction-initialize-session-event.ts
  apps/stripe/src/app/api/manifest/route.integration.test.ts
  apps/stripe/src/app/api/saleor/transaction-initialize-session/event-data-parser.ts
  apps/stripe/src/app/api/saleor/transaction-initialize-session/payment-method-resolver.ts
  apps/stripe/src/app/api/saleor/transaction-initialize-session/use-case-response.test.ts
  apps/stripe/src/app/api/saleor/transaction-initialize-session/use-case-response.ts
  apps/stripe/src/app/api/saleor/transaction-initialize-session/use-case.test.ts
  apps/stripe/src/app/api/saleor/transaction-initialize-session/use-case.ts
  apps/stripe/src/lib/assert-unreachable.ts
  apps/stripe/src/modules/stripe/payment-methods/card.ts
  apps/stripe/src/modules/stripe/payment-methods/types.ts
  apps/stripe/src/modules/stripe/types.ts
  packages/eslint-config/index.js
Labels: App Payment: Stripe

refactor
  apps/stripe/src/app/api/saleor/transaction-initialize-session/use-case.ts
Labels: App Payment: Stripe

refactor again
  apps/stripe/src/app/api/saleor/transaction-initialize-session/use-case-response.ts
Labels: App Payment: Stripe

fix paths
  apps/stripe/src/app/api/saleor/transaction-initialize-session/event-data-parser.test.ts
  apps/stripe/src/app/api/saleor/transaction-initialize-session/route.ts
  apps/stripe/src/app/api/saleor/transaction-initialize-session/use-case-response.ts
  apps/stripe/src/app/api/saleor/transaction-initialize-session/use-case.ts
Labels: App Payment: Stripe

fix lint issue
  apps/stripe/src/lib/assert-unreachable.ts
  packages/eslint-config/index.js
Labels: App Payment: Stripe

sort pkg
  apps/stripe/package.json
Labels: App Payment: Stripe

remove comment
  apps/stripe/src/app/api/saleor/transaction-initialize-session/use-case-response.ts
Labels: App Payment: Stripe

Add eslint rule for unused vars
  apps/klaviyo/src/pages/api/webhooks/customer-created.ts
  apps/klaviyo/src/pages/api/webhooks/fulfillment-created.ts
  apps/klaviyo/src/pages/api/webhooks/order-created.ts
  apps/klaviyo/src/pages/api/webhooks/order-fully-paid.ts
  apps/stripe/src/app/api/saleor/payment-gateway-initialize-session/route.ts
  apps/stripe/src/app/api/saleor/transaction-initialize-session/route.ts
  packages/eslint-config/index.js
Labels: App: Klaviyo, App Payment: Stripe

sort pkg
  apps/stripe/package.json
Labels: App Payment: Stripe

Add fixes after copilot CR
  apps/stripe/src/app/api/saleor/transaction-initialize-session/event-data-parser.ts
  apps/stripe/src/app/api/saleor/transaction-initialize-session/use-case-response.ts
  apps/stripe/src/app/api/saleor/transaction-initialize-session/use-case.test.ts
  apps/stripe/src/modules/stripe/payment-methods/card.ts
Labels: App Payment: Stripe

Add 3ds support
  apps/stripe/src/app/api/saleor/transaction-initialize-session/event-data-parser.test.ts
  apps/stripe/src/app/api/saleor/transaction-initialize-session/event-data-parser.ts
  apps/stripe/src/app/api/saleor/transaction-initialize-session/use-case.test.ts
  apps/stripe/src/app/api/saleor/transaction-initialize-session/use-case.ts
Labels: App Payment: Stripe

sort pkg
  apps/stripe/package.json
Labels: App Payment: Stripe

Create webhook on configuration saving
  apps/stripe/src/modules/app-config/trpc-handlers/new-stripe-config-input-schema.ts
  apps/stripe/src/modules/app-config/trpc-handlers/new-stripe-config-trpc-handler.ts
  apps/stripe/src/modules/stripe/stripe-webhook-manager.ts
Labels: App Payment: Stripe

create add webhook id
  apps/stripe/src/modules/app-config/stripe-config.ts
  apps/stripe/src/modules/app-config/trpc-handlers/new-stripe-config-trpc-handler.ts
Labels: App Payment: Stripe

update tests
  apps/stripe/src/__tests__/mocks/mock-stripe-config.ts
  apps/stripe/src/modules/app-config/file-app-config-repo.ts
  apps/stripe/src/modules/app-config/stripe-config.test.ts
  apps/stripe/src/modules/app-config/trpc-handlers/app-config-router.ts
  apps/stripe/src/modules/app-config/trpc-handlers/new-stripe-config-trpc-handler.test.ts
Labels: App Payment: Stripe

Add support for Authorization flow for transactionInitSession in Stripe (#1875)
  apps/stripe/generated/graphql.ts
  apps/stripe/graphql/mutations/.gitkeep
  apps/stripe/graphql/subscriptions/transaction-initialize-session.graphql
  apps/stripe/package.json
  apps/stripe/src/__tests__/mocks/transaction-initialize-session-event.ts
  apps/stripe/src/app/api/manifest/route.integration.test.ts
  apps/stripe/src/app/api/saleor/transaction-initialize-session/event-data-parser.test.ts
  apps/stripe/src/app/api/saleor/transaction-initialize-session/event-data-parser.ts
  apps/stripe/src/app/api/saleor/transaction-initialize-session/payment-method-resolver.ts
  apps/stripe/src/app/api/saleor/transaction-initialize-session/route.ts
  apps/stripe/src/app/api/saleor/transaction-initialize-session/use-case-response.test.ts
  apps/stripe/src/app/api/saleor/transaction-initialize-session/use-case-response.ts
  apps/stripe/src/app/api/saleor/transaction-initialize-session/use-case.test.ts
  apps/stripe/src/app/api/saleor/transaction-initialize-session/use-case.ts
  apps/stripe/src/lib/assert-unreachable.ts
  apps/stripe/src/modules/stripe/payment-methods/card.ts
  apps/stripe/src/modules/stripe/payment-methods/types.ts
  apps/stripe/src/modules/stripe/types.ts
Labels: App Payment: Stripe

Add support for Authorization flow for transactionInitSession in Stripe (#1875)
  apps/stripe/generated/graphql.ts
  apps/stripe/graphql/mutations/.gitkeep
  apps/stripe/graphql/subscriptions/transaction-initialize-session.graphql
  apps/stripe/package.json
  apps/stripe/src/__tests__/mocks/transaction-initialize-session-event.ts
  apps/stripe/src/app/api/manifest/route.integration.test.ts
  apps/stripe/src/app/api/saleor/transaction-initialize-session/event-data-parser.test.ts
  apps/stripe/src/app/api/saleor/transaction-initialize-session/event-data-parser.ts
  apps/stripe/src/app/api/saleor/transaction-initialize-session/payment-method-resolver.ts
  apps/stripe/src/app/api/saleor/transaction-initialize-session/route.ts
  apps/stripe/src/app/api/saleor/transaction-initialize-session/use-case-response.test.ts
  apps/stripe/src/app/api/saleor/transaction-initialize-session/use-case-response.ts
  apps/stripe/src/app/api/saleor/transaction-initialize-session/use-case.test.ts
  apps/stripe/src/app/api/saleor/transaction-initialize-session/use-case.ts
  apps/stripe/src/lib/assert-unreachable.ts
  apps/stripe/src/modules/stripe/payment-methods/card.ts
  apps/stripe/src/modules/stripe/payment-methods/types.ts
  apps/stripe/src/modules/stripe/types.ts
Labels: App Payment: Stripe

Add eslint rule for unused vars (#1876)
  apps/klaviyo/src/pages/api/webhooks/customer-created.ts
  apps/klaviyo/src/pages/api/webhooks/fulfillment-created.ts
  apps/klaviyo/src/pages/api/webhooks/order-created.ts
  apps/klaviyo/src/pages/api/webhooks/order-fully-paid.ts
  apps/stripe/src/app/api/saleor/payment-gateway-initialize-session/route.ts
  packages/eslint-config/index.js
Labels: App: Klaviyo, App Payment: Stripe

Add eslint rule for unused vars (#1876)
  apps/klaviyo/src/pages/api/webhooks/customer-created.ts
  apps/klaviyo/src/pages/api/webhooks/fulfillment-created.ts
  apps/klaviyo/src/pages/api/webhooks/order-created.ts
  apps/klaviyo/src/pages/api/webhooks/order-fully-paid.ts
  apps/stripe/src/app/api/saleor/payment-gateway-initialize-session/route.ts
  packages/eslint-config/index.js
Labels: App: Klaviyo, App Payment: Stripe

fix url building
  apps/stripe/src/modules/app-config/trpc-handlers/get-stripe-config-trpc-handler.test.ts
  apps/stripe/src/modules/app-config/trpc-handlers/new-stripe-config-trpc-handler.test.ts
  apps/stripe/src/modules/app-config/trpc-handlers/new-stripe-config-trpc-handler.ts
  apps/stripe/src/modules/stripe/stripe-webhook-manager.ts
  apps/stripe/src/modules/transactions-recording/transaction-recorder-file.ts
  apps/stripe/src/modules/trpc/context-app-router.ts
Labels: App Payment: Stripe

Add better support for authorization flow
  apps/stripe/src/app/api/saleor/transaction-initialize-session/use-case.test.ts
  apps/stripe/src/app/api/saleor/transaction-initialize-session/use-case.ts
  apps/stripe/src/modules/stripe/payment-methods/card.test.ts
  apps/stripe/src/modules/stripe/payment-methods/card.ts
  apps/stripe/src/modules/stripe/payment-methods/types.ts
Labels: App Payment: Stripe

Webhook manager tests
  apps/stripe/src/app/api/stripe/webhook/webhook-params.ts
  apps/stripe/src/modules/stripe/stripe-client.ts
  apps/stripe/src/modules/stripe/stripe-webhook-manager.test.ts
  apps/stripe/src/modules/stripe/stripe-webhook-manager.ts
  apps/stripe/src/modules/stripe/stripe-webhook-url-builder.test.ts
  apps/stripe/src/modules/stripe/stripe-webhook-url-builder.ts
Labels: App Payment: Stripe

tests
  apps/stripe/src/modules/stripe/stripe-auth-validator.test.ts
  apps/stripe/src/modules/stripe/stripe-auth-validator.ts
  apps/stripe/src/modules/stripe/stripe-webhook-manager.ts
  apps/stripe/src/modules/ui/stripe-configs/new-stripe-config-form.tsx
Labels: App Payment: Stripe

fix test
  apps/stripe/src/modules/app-config/trpc-handlers/new-stripe-config-trpc-handler.test.ts
Labels: App Payment: Stripe

change supported events
  apps/stripe/src/modules/stripe/supported-stripe-events.ts
Labels: App Payment: Stripe

fix tests
  apps/stripe/src/modules/stripe/stripe-webhook-manager.test.ts
Labels: App Payment: Stripe

Add better support for authorization flow (#1878)
  apps/stripe/src/app/api/saleor/transaction-initialize-session/use-case.test.ts
  apps/stripe/src/app/api/saleor/transaction-initialize-session/use-case.ts
  apps/stripe/src/modules/stripe/payment-methods/card.test.ts
  apps/stripe/src/modules/stripe/payment-methods/card.ts
  apps/stripe/src/modules/stripe/payment-methods/types.ts
Labels: App Payment: Stripe
