Repository saleor/apps, changes with the labels that .github/labeler.yml gives for each.
All labels: App: Klaviyo, App: Product Feed, App: Search, App: AvaTax, App: CMS, App: SMTP, App: Segment, App Payment: Stripe

.github/labeler.yml:

"App: Klaviyo":
  - changed-files:
      - any-glob-to-any-file: "apps/klaviyo/**/*"

"App: Product Feed":
  - changed-files:
      - any-glob-to-any-file: "apps/products-feed/**/*"

"App: Search":
  - changed-files:
      - any-glob-to-any-file: "apps/search/**/*"

"App: AvaTax":
  - changed-files:
      - any-glob-to-any-file: "apps/avatax/**/*"

"App: CMS":
  - changed-files:
      - any-glob-to-any-file: "apps/cms/**/*"

"App: SMTP":
  - changed-files:
      - any-glob-to-any-file: "apps/smtp/**/*"

"App: Segment":
  - changed-files:
      - any-glob-to-any-file: "apps/segment/**/*"

"App Payment: Stripe":
  - changed-files:
      - any-glob-to-any-file: "apps/stripe/**/*"

add race utility test
  packages/shared/src/race.test.ts
Labels: none

fix env example
  apps/avatax/.env.example
Labels: App: AvaTax

Update vite & vitests
  apps/avatax/package.json
  apps/avatax/vitest.config.ts
  apps/avatax/vitest.workspace.ts
  apps/cms/package.json
  apps/cms/vitest.config.ts
  apps/klaviyo/package.json
  apps/products-feed/package.json
  apps/products-feed/vitest.config.ts
  apps/search/package.json
  apps/search/vitest.config.ts
  apps/segment/package.json
  apps/segment/vitest.config.ts
  apps/smtp/package.json
  apps/smtp/src/modules/webhook-management/sync-webhook-status.test.ts
  apps/smtp/vitest.config.ts
  apps/stripe/package.json
  packages/logger/package.json
  packages/shared/package.json
  packages/shared/vitest.config.ts
  packages/webhook-utils/package.json
  packages/webhook-utils/vitest.config.ts
  pnpm-lock.yaml
Labels: App: Klaviyo, App: Product Feed, App: Search, App: AvaTax, App: CMS, App: SMTP, App: Segment, App Payment: Stripe

fix tsc & tests
  apps/avatax/src/modules/calculate-taxes/use-case/calculate-taxes.use-case.test.ts
  apps/products-feed/src/modules/category-mapping/categories-fetcher.test.ts
  apps/search/src/lib/debug.ts
  apps/smtp/src/modules/event-handlers/use-case/send-event-messages.use-case.test.ts
  apps/smtp/src/modules/smtp/services/email-compiler.ts
  apps/smtp/src/modules/webhook-management/sync-webhook-status.test.ts
Labels: App: Product Feed, App: Search, App: AvaTax, App: SMTP

remove leftover from react-hook-form-macaw
  packages/react-hook-form-macaw/next-env.d.ts
  packages/react-hook-form-macaw/package.json
Labels: none

fix lock
  pnpm-lock.yaml
Labels: none

Update vite & vitests (#1831)
  apps/avatax/package.json
  apps/avatax/src/modules/calculate-taxes/use-case/calculate-taxes.use-case.test.ts
  apps/avatax/vitest.config.ts
  apps/avatax/vitest.workspace.ts
  apps/cms/package.json
  apps/cms/vitest.config.ts
  apps/klaviyo/package.json
  apps/products-feed/package.json
  apps/products-feed/src/modules/category-mapping/categories-fetcher.test.ts
  apps/products-feed/vitest.config.ts
  apps/search/package.json
  apps/search/src/lib/debug.ts
  apps/search/vitest.config.ts
  apps/segment/package.json
  apps/segment/vitest.config.ts
  apps/smtp/package.json
  apps/smtp/src/modules/event-handlers/use-case/send-event-messages.use-case.test.ts
  apps/smtp/src/modules/smtp/services/email-compiler.ts
  apps/smtp/src/modules/webhook-management/sync-webhook-status.test.ts
  apps/smtp/vitest.config.ts
  apps/stripe/package.json
  packages/logger/package.json
  packages/react-hook-form-macaw/next-env.d.ts
  packages/react-hook-form-macaw/package.json
  packages/shared/package.json
  packages/shared/vitest.config.ts
  packages/webhook-utils/package.json
  packages/webhook-utils/vitest.config.ts
  pnpm-lock.yaml
Labels: App: Klaviyo, App: Product Feed, App: Search, App: AvaTax, App: CMS, App: SMTP, App: Segment, App Payment: Stripe

Update vite & vitests (#1831)
  apps/avatax/package.json
  apps/avatax/src/modules/calculate-taxes/use-case/calculate-taxes.use-case.test.ts
  apps/avatax/vitest.config.ts
  apps/avatax/vitest.workspace.ts
  apps/cms/package.json
  apps/cms/vitest.config.ts
  apps/klaviyo/package.json
  apps/products-feed/package.json
  apps/products-feed/src/modules/category-mapping/categories-fetcher.test.ts
  apps/products-feed/vitest.config.ts
  apps/search/package.json
  apps/search/src/lib/debug.ts
  apps/search/vitest.config.ts
  apps/segment/package.json
  apps/segment/vitest.config.ts
  apps/smtp/package.json
  apps/smtp/src/modules/event-handlers/use-case/send-event-messages.use-case.test.ts
  apps/smtp/src/modules/smtp/services/email-compiler.ts
  apps/smtp/src/modules/webhook-management/sync-webhook-status.test.ts
  apps/smtp/vitest.config.ts
  apps/stripe/package.json
  packages/logger/package.json
  packages/react-hook-form-macaw/next-env.d.ts
  packages/react-hook-form-macaw/package.json
  packages/shared/package.json
  packages/shared/vitest.config.ts
  packages/webhook-utils/package.json
  packages/webhook-utils/vitest.config.ts
  pnpm-lock.yaml
Labels: App: Klaviyo, App: Product Feed, App: Search, App: AvaTax, App: CMS, App: SMTP, App: Segment, App Payment: Stripe

Release apps (#1826)
  .changeset/chilly-tips-train.md
  .changeset/four-melons-grin.md
  .changeset/green-eels-film.md
  .changeset/modern-eyes-sit.md
  .changeset/rotten-clocks-jump.md
  .changeset/six-apes-camp.md
  .changeset/slow-lions-clap.md
  .changeset/tender-cars-count.md
  apps/avatax/CHANGELOG.md
  apps/avatax/package.json
  apps/cms/CHANGELOG.md
  apps/cms/package.json
  apps/klaviyo/CHANGELOG.md
  apps/klaviyo/package.json
  apps/products-feed/CHANGELOG.md
  apps/products-feed/package.json
  apps/search/CHANGELOG.md
  apps/search/package.json
  apps/segment/CHANGELOG.md
  apps/segment/package.json
  apps/smtp/CHANGELOG.md
  apps/smtp/package.json
  apps/stripe/CHANGELOG.md
  apps/stripe/package.json
  packages/logger/CHANGELOG.md
  packages/logger/package.json
  packages/otel/CHANGELOG.md
  packages/otel/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
Labels: App: Klaviyo, App: Product Feed, App: Search, App: AvaTax, App: CMS, App: SMTP, App: Segment, App Payment: Stripe

Release apps (#1826)
  .changeset/chilly-tips-train.md
  .changeset/four-melons-grin.md
  .changeset/green-eels-film.md
  .changeset/modern-eyes-sit.md
  .changeset/rotten-clocks-jump.md
  .changeset/six-apes-camp.md
  .changeset/slow-lions-clap.md
  .changeset/tender-cars-count.md
  apps/avatax/CHANGELOG.md
  apps/avatax/package.json
  apps/cms/CHANGELOG.md
  apps/cms/package.json
  apps/klaviyo/CHANGELOG.md
  apps/klaviyo/package.json
  apps/products-feed/CHANGELOG.md
  apps/products-feed/package.json
  apps/search/CHANGELOG.md
  apps/search/package.json
  apps/segment/CHANGELOG.md
  apps/segment/package.json
  apps/smtp/CHANGELOG.md
  apps/smtp/package.json
  apps/stripe/CHANGELOG.md
  apps/stripe/package.json
  packages/logger/CHANGELOG.md
  packages/logger/package.json
  packages/otel/CHANGELOG.md
  packages/otel/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
Labels: App: Klaviyo, App: Product Feed, App: Search, App: AvaTax, App: CMS, App: SMTP, App: Segment, App Payment: Stripe

Scripts, tracing, graphql-client
  apps/stripe/package.json
  apps/stripe/scripts/deploy.ts
  apps/stripe/scripts/migration-logger.ts
  apps/stripe/scripts/run-webhooks-migration.ts
  apps/stripe/src/lib/graphql-client.ts
  apps/stripe/src/lib/logger.ts
  apps/stripe/src/lib/tracing.ts
  apps/stripe/vitest.config.ts
  pnpm-lock.yaml
Labels: App Payment: Stripe

add trpc
  apps/stripe/src/app/api/trpc/[trpc]/route.ts
  apps/stripe/src/modules/trpc/protected-client-procedure.ts
Labels: App Payment: Stripe

add codecov & devcontainer
  .devcontainer/stripe/Dockerfile
  .devcontainer/stripe/devcontainer.json
  .devcontainer/stripe/docker-compose.yml
  codecov.yml
Labels: none

add modern errors
  apps/stripe/package.json
  apps/stripe/src/lib/errors.ts
  pnpm-lock.yaml
Labels: App Payment: Stripe

stripe client / key validator
  apps/stripe/package.json
  apps/stripe/src/modules/stripe/stripe-api-client.ts
  apps/stripe/src/modules/stripe/stripe-keys-validator.ts
  packages/eslint-config/index.js
  pnpm-lock.yaml
Labels: App Payment: Stripe

Add stripe apis
  apps/stripe/src/lib/env.ts
  apps/stripe/src/modules/stripe/stripe-client-api.ts
  apps/stripe/src/modules/stripe/stripe-keys-validator.ts
  apps/stripe/src/modules/stripe/stripe-publishable-key.ts
  apps/stripe/src/modules/stripe/stripe-restriced-key.ts
  apps/stripe/src/modules/stripe/stripe-secret-key.ts
  apps/stripe/src/modules/stripe/stripe-server-api.ts
  apps/stripe/turbo.json
Labels: App Payment: Stripe

fix eslint rule
  apps/stripe/src/lib/tracing.ts
  packages/eslint-config/index.js
Labels: App Payment: Stripe

fix typo
  apps/stripe/src/modules/stripe/stripe-restriced-key.ts
Labels: App Payment: Stripe

add comment
  apps/stripe/src/modules/stripe/stripe-publishable-key.ts
Labels: App Payment: Stripe

wip
  apps/stripe/src/modules/app-config/app-config.ts
Labels: App Payment: Stripe

fix typo
  apps/stripe/src/modules/stripe/stripe-restriced-key.ts
Labels: App Payment: Stripe

Add app config
  apps/stripe/src/lib/env.ts
  apps/stripe/src/modules/app-config/app-config.ts
  apps/stripe/src/modules/stripe/stripe-publishable-key.ts
  apps/stripe/src/modules/stripe/stripe-restriced-key.ts
  apps/stripe/src/modules/stripe/stripe-secret-key.ts
  apps/stripe/turbo.json
Labels: App Payment: Stripe

cleanup PR
  apps/stripe/package.json
  apps/stripe/src/modules/stripe/stripe-payment-intents-api.test.ts
  apps/stripe/src/modules/stripe/stripe-payment-intents-api.ts
  apps/stripe/src/modules/stripe/stripe-publishable-key.ts
  apps/stripe/src/modules/stripe/stripe-restricted-key.ts
  apps/stripe/src/modules/stripe/stripe-secret-key.ts
  apps/stripe/src/modules/stripe/stripe-server-api.ts
  apps/stripe/vitest.config.ts
  pnpm-lock.yaml
Labels: App Payment: Stripe

Add GitHub Action to notify Discord on "Help Wanted" issues
  .github/workflows/help-wanted-issues-to-discord.yml
Labels: none

Add scripts, devcontainers & basic Stripe API (#1832)
  .devcontainer/stripe/Dockerfile
  .devcontainer/stripe/devcontainer.json
  .devcontainer/stripe/docker-compose.yml
  apps/stripe/package.json
  apps/stripe/scripts/deploy.ts
  apps/stripe/scripts/migration-logger.ts
  apps/stripe/scripts/run-webhooks-migration.ts
  apps/stripe/src/app/api/trpc/[trpc]/route.ts
  apps/stripe/src/lib/env.ts
  apps/stripe/src/lib/errors.ts
  apps/stripe/src/lib/graphql-client.ts
  apps/stripe/src/lib/logger.ts
  apps/stripe/src/lib/tracing.ts
  apps/stripe/src/modules/stripe/stripe-payment-intents-api.test.ts
  apps/stripe/src/modules/stripe/stripe-payment-intents-api.ts
  apps/stripe/src/modules/stripe/stripe-publishable-key.ts
  apps/stripe/src/modules/stripe/stripe-restricted-key.ts
  apps/stripe/src/modules/trpc/protected-client-procedure.ts
  apps/stripe/turbo.json
  apps/stripe/vitest.config.ts
  codecov.yml
  pnpm-lock.yaml
Labels: App Payment: Stripe

Add scripts, devcontainers & basic Stripe API (#1832)
  .devcontainer/stripe/Dockerfile
  .devcontainer/stripe/devcontainer.json
  .devcontainer/stripe/docker-compose.yml
  apps/stripe/package.json
  apps/stripe/scripts/deploy.ts
  apps/stripe/scripts/migration-logger.ts
  apps/stripe/scripts/run-webhooks-migration.ts
  apps/stripe/src/app/api/trpc/[trpc]/route.ts
  apps/stripe/src/lib/env.ts
  apps/stripe/src/lib/errors.ts
  apps/stripe/src/lib/graphql-client.ts
  apps/stripe/src/lib/logger.ts
  apps/stripe/src/lib/tracing.ts
  apps/stripe/src/modules/stripe/stripe-payment-intents-api.test.ts
  apps/stripe/src/modules/stripe/stripe-payment-intents-api.ts
  apps/stripe/src/modules/stripe/stripe-publishable-key.ts
  apps/stripe/src/modules/stripe/stripe-restricted-key.ts
  apps/stripe/src/modules/trpc/protected-client-procedure.ts
  apps/stripe/turbo.json
  apps/stripe/vitest.config.ts
  codecov.yml
  pnpm-lock.yaml
Labels: App Payment: Stripe

Remove reinstalling corepack from Dockerfile
  .devcontainer/avatax/Dockerfile
  .devcontainer/cms/Dockerfile
  .devcontainer/klaviyo/Dockerfile
  .devcontainer/products-feed/Dockerfile
  .devcontainer/search/Dockerfile
  .devcontainer/segment/Dockerfile
  .devcontainer/smtp/Dockerfile
  .devcontainer/stripe/Dockerfile
Labels: none

Fix NODE_ENV variable typing in AvaTax
  apps/avatax/src/env.ts
Labels: App: AvaTax

Fix NODE_ENV variable typing in AvaTax (#1836)
  apps/avatax/src/env.ts
Labels: App: AvaTax

Fix NODE_ENV variable typing in AvaTax (#1836)
  apps/avatax/src/env.ts
Labels: App: AvaTax

Refactor Stripe key handling: improve validation and add tests for publishable and restricted keys
  apps/stripe/src/modules/stripe/stripe-payment-intents-api.test.ts
  apps/stripe/src/modules/stripe/stripe-publishable-key.test.ts
  apps/stripe/src/modules/stripe/stripe-publishable-key.ts
  apps/stripe/src/modules/stripe/stripe-restricted-key.test.ts
  apps/stripe/src/modules/stripe/stripe-restricted-key.ts
Labels: App Payment: Stripe

Update README.md - contribution and deployment notes (#1806)
  README.md
Labels: none

Update README.md - contribution and deployment notes (#1806)
  README.md
Labels: none

Refactor Stripe key handling: improve validation and add tests for publishable and restricted keys (#1837)
  apps/stripe/src/modules/stripe/stripe-payment-intents-api.test.ts
  apps/stripe/src/modules/stripe/stripe-publishable-key.test.ts
  apps/stripe/src/modules/stripe/stripe-publishable-key.ts
  apps/stripe/src/modules/stripe/stripe-restricted-key.test.ts
  apps/stripe/src/modules/stripe/stripe-restricted-key.ts
Labels: App Payment: Stripe

Refactor Stripe key handling: improve validation and add tests for publishable and restricted keys (#1837)
  apps/stripe/src/modules/stripe/stripe-payment-intents-api.test.ts
  apps/stripe/src/modules/stripe/stripe-publishable-key.test.ts
  apps/stripe/src/modules/stripe/stripe-publishable-key.ts
  apps/stripe/src/modules/stripe/stripe-restricted-key.test.ts
  apps/stripe/src/modules/stripe/stripe-restricted-key.ts
Labels: App Payment: Stripe

Stripe app config - 1
  apps/stripe/.gitignore
  apps/stripe/src/modules/app-config/app-config-persistor.ts
  apps/stripe/src/modules/app-config/app-config.ts
  apps/stripe/src/modules/app-config/file-app-config-presistor.test.ts
  apps/stripe/src/modules/app-config/file-app-config-presistor.ts
  apps/stripe/src/modules/app-config/stripe-config.ts
  apps/stripe/src/modules/stripe/stripe-publishable-key.ts
  apps/stripe/src/modules/stripe/stripe-restricted-key.ts
Labels: App Payment: Stripe

Add unit tests & script
  apps/stripe/package.json
  apps/stripe/scripts/create-app-config.ts
  apps/stripe/src/lib/env.ts
  apps/stripe/src/modules/app-config/file-app-config-presistor.test.ts
  apps/stripe/src/modules/app-config/file-app-config-presistor.ts
  apps/stripe/turbo.json
Labels: App Payment: Stripe

add comment
  apps/stripe/src/modules/app-config/app-config-persistor.ts
Labels: App Payment: Stripe

add addtional tests
  apps/stripe/src/modules/stripe/stripe-publishable-key.test.ts
  apps/stripe/src/modules/stripe/stripe-restricted-key.test.ts
Labels: App Payment: Stripe

Add GitHub Action to notify Discord on "Help Wanted" issues (#1834)
  .github/workflows/help-wanted-issues-to-discord.yml
Labels: none
