Repository saleor/apps, pull requests merged in 2023-10, with the labels that each got.

#1046 refactor: limit Taxes App client side logs to failures
  .changeset/nice-points-allow.md
  apps/taxes/src/modules/avatax/calculate-taxes/avatax-calculate-taxes-adapter.ts
  apps/taxes/src/modules/avatax/order-cancelled/avatax-order-cancelled-adapter.ts
  apps/taxes/src/modules/avatax/order-confirmed/avatax-order-confirmed-adapter.ts
  apps/taxes/src/modules/logs/client-logger.ts
  apps/taxes/src/modules/logs/ui/client-logs-page.tsx
  apps/taxes/src/modules/taxjar/calculate-taxes/taxjar-calculate-taxes-adapter.ts
  apps/taxes/src/modules/taxjar/order-confirmed/taxjar-order-confirmed-adapter.ts
Labels: App: Taxes

#1039 refactor: improve error handling in Taxes App
  .changeset/serious-schools-sin.md
  apps/taxes/package.json
  apps/taxes/src/error.ts
  apps/taxes/src/modules/app/webhook-response.test.ts
  apps/taxes/src/modules/app/webhook-response.ts
  apps/taxes/src/modules/avatax/avatax-error-normalizer.test.ts
  apps/taxes/src/modules/avatax/avatax-error-normalizer.ts
  apps/taxes/src/modules/avatax/calculate-taxes/avatax-calculate-taxes-adapter.ts
  apps/taxes/src/modules/avatax/calculate-taxes/avatax-calculate-taxes-payload-transformer.test.ts
  apps/taxes/src/modules/avatax/calculate-taxes/avatax-calculate-taxes-payload-transformer.ts
  apps/taxes/src/modules/avatax/calculate-taxes/avatax-calculate-taxes-response-lines-transformer.ts
  apps/taxes/src/modules/avatax/calculate-taxes/avatax-calculate-taxes-response-shipping-transformer.ts
  apps/taxes/src/modules/avatax/configuration/avatax-validation-response-resolver.test.ts
  apps/taxes/src/modules/avatax/configuration/avatax-validation-response-resolver.ts
  apps/taxes/src/modules/avatax/order-cancelled/avatax-order-cancelled-adapter.ts
  apps/taxes/src/modules/avatax/order-confirmed/avatax-order-confirmed-adapter.ts
  apps/taxes/src/modules/avatax/order-confirmed/avatax-order-confirmed-payload-transformer.ts
  apps/taxes/src/modules/avatax/order-confirmed/avatax-order-confirmed-response-transformer.ts
  apps/taxes/src/modules/avatax/tax-code/avatax-tax-codes.service.ts
  apps/taxes/src/modules/taxes/tax-error.ts
  apps/taxes/src/modules/taxes/tax-provider-utils.test.ts
  apps/taxes/src/modules/taxes/tax-provider-utils.ts
  apps/taxes/src/modules/taxjar/calculate-taxes/taxjar-calculate-taxes-adapter.ts
  apps/taxes/src/modules/taxjar/calculate-taxes/taxjar-calculate-taxes-response-lines-transformer.ts
  apps/taxes/src/modules/taxjar/order-confirmed/taxjar-order-confirmed-adapter.ts
  apps/taxes/src/modules/taxjar/order-confirmed/taxjar-order-confirmed-payload-transformer.ts
  apps/taxes/src/modules/taxjar/taxjar-error-normalizer.test.ts
  apps/taxes/src/modules/taxjar/taxjar-error-normalizer.ts
  apps/taxes/src/pages/api/webhooks/checkout-calculate-taxes.ts
  apps/taxes/src/pages/api/webhooks/order-calculate-taxes.ts
  cspell.json
  pnpm-lock.yaml
Labels: App: Taxes

#1047 🚀 Release apps
  .changeset/nice-points-allow.md
  .changeset/serious-schools-sin.md
  apps/taxes/CHANGELOG.md
  apps/taxes/package.json
Labels: App: Taxes

#1050 Add vercel json file with lambda execution limits
  .changeset/angry-roses-push.md
  apps/products-feed/src/pages/api/feed/[url]/[channel]/google.xml.ts
  apps/products-feed/vercel.json
Labels: App: Product Feed

#1053 reduce update webhooks memory limits
  .changeset/fast-geese-nail.md
  apps/search/vercel.json
Labels: App: Search

#1057 🚀 Release apps
  .changeset/angry-roses-push.md
  .changeset/fast-geese-nail.md
  apps/products-feed/CHANGELOG.md
  apps/products-feed/package.json
  apps/search/CHANGELOG.md
  apps/search/package.json
Labels: App: Search, App: Product Feed, skip changeset

#1051 feat: improve sentry setup in Taxes App
  .changeset/modern-apricots-hammer.md
  apps/taxes/.env.example
  apps/taxes/.eslintrc
  apps/taxes/.gitignore
  apps/taxes/next.config.js
  apps/taxes/package.json
  apps/taxes/sentry.client.config.ts
  apps/taxes/sentry.edge.config.ts
  apps/taxes/sentry.server.config.ts
  apps/taxes/src/deploy.ts
  apps/taxes/src/error.ts
  apps/taxes/src/modules/app/webhook-response.ts
  apps/taxes/src/modules/taxes/tax-error.ts
  apps/taxes/src/modules/trpc/sentry-middleware.ts
  apps/taxes/src/pages/configuration.tsx
  apps/taxes/src/release-utils.ts
  apps/taxes/src/sentry-utils.ts
  apps/taxes/turbo.json
  pnpm-lock.yaml
Labels: App: Taxes

#1060 🚀 Release apps
  .changeset/modern-apricots-hammer.md
  apps/taxes/CHANGELOG.md
  apps/taxes/package.json
Labels: App: Taxes

#1068 fix: cannot resolve customer code in Taxes App
  .changeset/cold-trainers-help.md
  apps/taxes/graphql/fragments/TaxBase.graphql
  apps/taxes/src/modules/avatax/avatax-customer-code-resolver.test.ts
  apps/taxes/src/modules/avatax/avatax-customer-code-resolver.ts
  apps/taxes/src/modules/avatax/calculate-taxes/avatax-calculate-taxes-mock-generator.ts
  apps/taxes/src/modules/avatax/calculate-taxes/avatax-calculate-taxes-payload-transformer.test.ts
  apps/taxes/src/modules/avatax/calculate-taxes/avatax-calculate-taxes-payload-transformer.ts
  apps/taxes/src/modules/avatax/order-confirmed/avatax-order-confirmed-payload-transformer.ts
  apps/taxes/src/modules/taxjar/calculate-taxes/taxjar-calculate-taxes-mock-generator.ts
  cspell.json
Labels: App: Taxes

#1069 🚀 Release apps
  .changeset/cold-trainers-help.md
  apps/taxes/CHANGELOG.md
  apps/taxes/package.json
Labels: App: Taxes

#1070 Change heading level of "other official apps" in README
  README.md
Labels: skip changeset

#1071 fix: :bug: cannot resolve email
  .changeset/sour-bats-provide.md
  apps/taxes/graphql/subscriptions/OrderConfirmed.graphql
  apps/taxes/src/modules/avatax/order-confirmed/avatax-order-confirmed-payload-transformer.ts
  apps/taxes/src/modules/taxes/tax-provider-utils.ts
Labels: App: Taxes

#1073 🚀 Release apps
  .changeset/sour-bats-provide.md
  apps/taxes/CHANGELOG.md
  apps/taxes/package.json
Labels: App: Taxes, skip changeset

#1074 refactor expected errors
  .changeset/rude-dolls-pump.md
  apps/taxes/sentry.client.config.ts
  apps/taxes/sentry.edge.config.ts
  apps/taxes/sentry.server.config.ts
  apps/taxes/src/error.ts
  apps/taxes/src/modules/app/webhook-response.test.ts
  apps/taxes/src/modules/app/webhook-response.ts
  apps/taxes/src/modules/taxes/get-active-connection-service.ts
  apps/taxes/src/modules/taxes/tax-error.ts
  apps/taxes/src/modules/taxes/tax-provider-utils.test.ts
  apps/taxes/src/modules/taxes/tax-provider-utils.ts
  apps/taxes/src/pages/api/webhooks/order-cancelled.ts
Labels: App: Taxes

#1075 🚀 Release apps
  .changeset/rude-dolls-pump.md
  apps/taxes/CHANGELOG.md
  apps/taxes/package.json
Labels: App: Taxes, skip changeset

#1084 🚀 Release apps
  .changeset/dirty-crabs-count.md
  .changeset/shiny-mails-build.md
  apps/cms-v2/CHANGELOG.md
  apps/cms-v2/package.json
  apps/invoices/CHANGELOG.md
  apps/invoices/package.json
Labels: App: Invoices, App: CMS, skip changeset
