Repository saleor/apps, pull requests merged in 2023-08, with the labels that each got.

#843 feat: Avatax metadata tax calculation date
  .changeset/ninety-lobsters-design.md
  apps/taxes/graphql/subscriptions/OrderConfirmed.graphql
  apps/taxes/src/modules/avatax/order-confirmed/avatax-order-confirmed-calculation-date-resolver.test.ts
  apps/taxes/src/modules/avatax/order-confirmed/avatax-order-confirmed-calculation-date-resolver.ts
  apps/taxes/src/modules/avatax/order-confirmed/avatax-order-confirmed-payload-transformer.ts
Labels: App: Taxes

#845 Update dev dependencies
  .changeset/pink-dolphins-collect.md
  apps/cms-v2/package.json
  apps/crm/package.json
  apps/data-importer/package.json
  apps/emails-and-messages/package.json
  apps/invoices/package.json
  apps/invoices/src/modules/invoices/invoice-file-name/hash-invoice-filename.test.ts
  apps/invoices/vitest.config.ts
  apps/klaviyo/package.json
  apps/products-feed/package.json
  apps/search/package.json
  apps/slack/package.json
  apps/taxes/package.json
  package.json
  packages/eslint-config-saleor/package.json
  packages/react-hook-form-macaw/package.json
  packages/shared/package.json
  packages/ui/package.json
  pnpm-lock.yaml
  syncpack.config.js
Labels: App: Slack, App: Search, App: Emails & Messages, App: Invoices, App: Klaviyo, App: Taxes, App: Data Importer, App: CMS, App: Product Feed, App: CRM

#840 Product feed: Product Pricing update
  .changeset/happy-poets-wait.md
  apps/products-feed/graphql/fragments/GoogleFeedProductVariantFragment.graphql
  apps/products-feed/src/modules/google-feed/generate-google-xml-feed.test.ts
  apps/products-feed/src/modules/google-feed/generate-google-xml-feed.ts
  apps/products-feed/src/modules/google-feed/price-mapping.test.ts
  apps/products-feed/src/modules/google-feed/price-mapping.ts
  apps/products-feed/src/modules/google-feed/product-to-proxy.ts
  apps/products-feed/src/modules/google-feed/types.ts
Labels: App: Product Feed

#842 🚀 Release apps
  .changeset/blue-beans-battle.md
  .changeset/brave-wasps-destroy.md
  .changeset/forty-onions-wash.md
  .changeset/happy-poets-wait.md
  .changeset/nine-dryers-wink.md
  .changeset/pink-dolphins-collect.md
  apps/cms-v2/CHANGELOG.md
  apps/cms-v2/package.json
  apps/crm/CHANGELOG.md
  apps/crm/package.json
  apps/data-importer/CHANGELOG.md
  apps/data-importer/package.json
  apps/emails-and-messages/CHANGELOG.md
  apps/emails-and-messages/package.json
  apps/invoices/CHANGELOG.md
  apps/invoices/package.json
  apps/klaviyo/CHANGELOG.md
  apps/klaviyo/package.json
  apps/products-feed/CHANGELOG.md
  apps/products-feed/package.json
  apps/search/CHANGELOG.md
  apps/search/package.json
  apps/slack/CHANGELOG.md
  apps/slack/package.json
  apps/taxes/CHANGELOG.md
  apps/taxes/package.json
  packages/eslint-config-saleor/CHANGELOG.md
  packages/eslint-config-saleor/package.json
  packages/react-hook-form-macaw/CHANGELOG.md
  packages/react-hook-form-macaw/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
  packages/ui/CHANGELOG.md
  packages/ui/package.json
Labels: App: Slack, App: Search, App: Emails & Messages, App: Invoices, App: Klaviyo, App: Taxes, App: Data Importer, App: CMS, App: Product Feed, App: CRM

#850 feat: :alembic: add AppWebhookMigrator
  .changeset/soft-steaks-know.md
  apps/taxes/.graphqlrc.yml
  apps/taxes/graphql/subscriptions/OrderCreated.graphql
  apps/taxes/scripts/migrations/app-webhook-migrator.test.ts
  apps/taxes/scripts/migrations/app-webhook-migrator.ts
  apps/taxes/scripts/migrations/app-webhook-repository.test.ts
  apps/taxes/scripts/migrations/app-webhook-repository.ts
  apps/taxes/scripts/migrations/migration-utils.ts
  apps/taxes/scripts/migrations/run-migration.ts
  apps/taxes/scripts/migrations/run-report.ts
  apps/taxes/scripts/migrations/taxes-migration.ts
  apps/taxes/src/modules/avatax/avatax-calculation-date-resolver.test.ts
  apps/taxes/src/modules/avatax/avatax-calculation-date-resolver.ts
  apps/taxes/src/modules/avatax/avatax-document-code-resolver.test.ts
  apps/taxes/src/modules/avatax/avatax-document-code-resolver.ts
  apps/taxes/src/modules/avatax/order-confirmed/avatax-order-confirmed-calculation-date-resolver.ts
  apps/taxes/src/modules/avatax/order-confirmed/avatax-order-confirmed-document-code-resolver.test.ts
  apps/taxes/src/modules/avatax/order-confirmed/avatax-order-confirmed-document-code-resolver.ts
  apps/taxes/src/modules/avatax/order-confirmed/avatax-order-confirmed-payload-transformer.ts
  apps/taxes/src/modules/avatax/order-created/avatax-order-created-payload-transformer.ts
Labels: App: Taxes

#865 🚀 Release apps
  .changeset/cold-toes-heal.md
  .changeset/forty-shirts-battle.md
  .changeset/gorgeous-crews-invite.md
  .changeset/ninety-lobsters-design.md
  .changeset/odd-bananas-visit.md
  .changeset/shiny-meals-wait.md
  .changeset/soft-steaks-know.md
  apps/cms-v2/CHANGELOG.md
  apps/cms-v2/package.json
  apps/emails-and-messages/CHANGELOG.md
  apps/emails-and-messages/package.json
  apps/taxes/CHANGELOG.md
  apps/taxes/package.json
Labels: App: Emails & Messages, App: Taxes, App: CMS

#882 Product feed: Fix title template form
  .changeset/nervous-tables-agree.md
  .changeset/poor-mugs-fix.md
  .changeset/tasty-icons-drum.md
  apps/products-feed/src/modules/app-configuration/app-config.test.ts
  apps/products-feed/src/modules/app-configuration/app-config.ts
  apps/products-feed/src/modules/app-configuration/app-configuration.router.ts
  apps/products-feed/src/modules/app-configuration/channels/channels.router.ts
  apps/products-feed/src/modules/app-configuration/title-formatting-form.tsx
  apps/products-feed/src/modules/trpc/middlewares.ts
  apps/products-feed/src/modules/trpc/protected-client-procedure.ts
Labels: App: Product Feed

#883 🚀 Release apps
  .changeset/nervous-tables-agree.md
  .changeset/poor-mugs-fix.md
  .changeset/tasty-icons-drum.md
  apps/products-feed/CHANGELOG.md
  apps/products-feed/package.json
Labels: App: Product Feed

#874 Search: Add media and stock flag
  .changeset/eight-oranges-appear.md
  apps/search/graphql/fragments/OwnWebhook.graphql
  apps/search/graphql/fragments/ProductData.graphql
  apps/search/graphql/fragments/ProductVariantData.graphql
  apps/search/graphql/mutations/CreateWebhook.graphql
  apps/search/graphql/mutations/RemoveWebhook.graphql
  apps/search/graphql/subscriptions/productVariantBackInStock.graphql
  apps/search/graphql/subscriptions/productVariantOutOfStock.graphql
  apps/search/src/components/ImportProductsToAlgolia.tsx
  apps/search/src/components/MainInstructions.tsx
  apps/search/src/components/WebhooksStatus.tsx
  apps/search/src/components/WebhooksStatusInstructions.tsx
  apps/search/src/domain/WebhookActivityToggler.service.ts
  apps/search/src/lib/algolia/algoliaUtils.ts
  apps/search/src/lib/algolia/is-configured.test.ts
  apps/search/src/lib/algolia/is-configured.ts
  apps/search/src/lib/algolia/is-webhook-update-needed.test.ts
  apps/search/src/lib/algolia/is-webhook-update-needed.ts
  apps/search/src/lib/getBaseUrl.ts
  apps/search/src/lib/useWebhooksStatus.tsx
  apps/search/src/lib/useWebhooksUpdate.tsx
  apps/search/src/pages/api/manifest.ts
  apps/search/src/pages/api/recreate-webhooks.ts
  apps/search/src/pages/api/webhooks-status.ts
  apps/search/src/pages/api/webhooks/saleor/product_variant_back_in_stock.ts
  apps/search/src/pages/api/webhooks/saleor/product_variant_out_of_stock.ts
  apps/search/webhooks.ts
Labels: App: Search

#898 update macaw to pre-118
  .changeset/eleven-bears-end.md
  apps/cms-v2/package.json
  apps/crm/package.json
  apps/data-importer/package.json
  apps/emails-and-messages/package.json
  apps/invoices/package.json
  apps/klaviyo/package.json
  apps/products-feed/package.json
  apps/search/package.json
  apps/segment/package.json
  apps/slack/package.json
  apps/taxes/package.json
  packages/react-hook-form-macaw/package.json
  packages/shared/package.json
  packages/ui/package.json
  pnpm-lock.yaml
Labels: App: Slack, App: Search, App: Emails & Messages, App: Invoices, App: Klaviyo, App: Taxes, App: Data Importer, App: CMS, App: Product Feed, App: CRM, App: Segment

#901 add metadata manager to shared package
  .changeset/great-mice-lie.md
  .changeset/itchy-games-hear.md
  apps/cms-v2/src/modules/configuration/metadata-manager.ts
  apps/cms-v2/src/setup-tests.ts
  apps/invoices/src/modules/app-configuration/__mocks__/metadata-manager.ts
  apps/search/src/test/handlers/webhooks-status-handler.test.ts
  apps/segment/src/modules/configuration/metadata-manager.ts
  packages/shared/index.ts
  packages/shared/package.json
  packages/shared/src/metadata-manager.ts
  pnpm-lock.yaml
Labels: App: Search, App: Invoices, App: CMS, App: Segment

#886 chore: split credentials and settings
  .changeset/brown-tools-dance.md
  apps/taxes/src/modules/avatax/avatax-connection-schema.ts
  apps/taxes/src/modules/avatax/avatax-connection.router.ts
  apps/taxes/src/modules/avatax/avatax-document-code-resolver.ts
  apps/taxes/src/modules/avatax/calculate-taxes/avatax-calculate-taxes-adapter.ts
  apps/taxes/src/modules/avatax/calculate-taxes/avatax-calculate-taxes-payload-lines-transformer.ts
  apps/taxes/src/modules/avatax/configuration/avatax-auth-validation.service.ts
  apps/taxes/src/modules/avatax/configuration/avatax-validation-error-resolver.test.ts
  apps/taxes/src/modules/avatax/configuration/avatax-validation-error-resolver.ts
  apps/taxes/src/modules/avatax/configuration/public-avatax-connection.service.ts
  apps/taxes/src/modules/avatax/order-cancelled/avatax-order-cancelled-adapter.ts
  apps/taxes/src/modules/avatax/order-confirmed/avatax-order-confirmed-adapter.ts
  apps/taxes/src/modules/avatax/order-confirmed/avatax-order-confirmed-payload-lines-transformer.ts
  apps/taxes/src/modules/avatax/order-confirmed/avatax-order-confirmed-payload-transformer.ts
  apps/taxes/src/modules/avatax/order-confirmed/avatax-order-confirmed-response-transformer.ts
  apps/taxes/src/modules/avatax/order-created/avatax-order-created-adapter.ts
  apps/taxes/src/modules/avatax/order-created/avatax-order-created-payload-lines-transformer.ts
  apps/taxes/src/modules/avatax/order-created/avatax-order-created-payload-transformer.ts
  apps/taxes/src/modules/avatax/order-created/avatax-order-created-response-transformer.ts
  apps/taxes/src/modules/avatax/order-fulfilled/avatax-order-fulfilled-adapter.ts
  apps/taxes/src/modules/avatax/order-fulfilled/avatax-order-fulfilled-payload-transformer.test.ts
  apps/taxes/src/modules/avatax/ui/avatax-configuration-credentials-fragment.tsx
  apps/taxes/src/modules/avatax/ui/avatax-configuration-form.tsx
  apps/taxes/src/modules/avatax/ui/avatax-configuration-settings-fragment.tsx
  apps/taxes/src/modules/avatax/ui/avatax-configuration-taxes-fragment.tsx
  apps/taxes/src/modules/avatax/ui/avatax-instructions.tsx
  apps/taxes/src/modules/avatax/ui/avatax-tax-code-matcher-table.tsx
  apps/taxes/src/modules/avatax/ui/edit-avatax-configuration.tsx
  apps/taxes/src/modules/avatax/ui/form-section.module.css
  apps/taxes/src/modules/avatax/ui/form-section.tsx
  apps/taxes/src/modules/taxes/get-active-connection-service.ts
  apps/taxes/src/modules/ui/app-breadcrumbs.tsx
  apps/taxes/src/modules/ui/provider-label.tsx
  apps/taxes/src/pages/providers/avatax/[id].tsx
  apps/taxes/src/pages/providers/avatax/index.tsx
  apps/taxes/src/pages/providers/avatax/matcher.tsx
  apps/taxes/src/pages/providers/index.tsx
Labels: App: Taxes

#914 Changed events mapping in Segment
  .changeset/thick-pots-crash.md
  apps/segment/src/modules/tracking-events/tracking-events.ts
Labels: App: Segment

#897 🚀 Release apps
  .changeset/brown-tools-dance.md
  .changeset/eleven-bears-end.md
  .changeset/great-mice-lie.md
  .changeset/itchy-games-hear.md
  .changeset/silly-cows-carry.md
  .changeset/thick-pots-crash.md
  apps/cms-v2/CHANGELOG.md
  apps/cms-v2/package.json
  apps/crm/CHANGELOG.md
  apps/crm/package.json
  apps/data-importer/CHANGELOG.md
  apps/data-importer/package.json
  apps/emails-and-messages/CHANGELOG.md
  apps/emails-and-messages/package.json
  apps/invoices/CHANGELOG.md
  apps/invoices/package.json
  apps/klaviyo/CHANGELOG.md
  apps/klaviyo/package.json
  apps/products-feed/CHANGELOG.md
  apps/products-feed/package.json
  apps/search/CHANGELOG.md
  apps/search/package.json
  apps/segment/CHANGELOG.md
  apps/segment/package.json
  apps/slack/CHANGELOG.md
  apps/slack/package.json
  apps/taxes/CHANGELOG.md
  apps/taxes/package.json
  packages/react-hook-form-macaw/CHANGELOG.md
  packages/react-hook-form-macaw/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
  packages/ui/CHANGELOG.md
  packages/ui/package.json
Labels: App: Segment

#916 Complete migration to OrderConfirmed flow
  .changeset/nice-jobs-ring.md
  apps/taxes/graphql/subscriptions/OrderCreated.graphql
  apps/taxes/graphql/subscriptions/OrderFulfilled.graphql
  apps/taxes/src/modules/avatax/avatax-webhook.service.ts
  apps/taxes/src/modules/avatax/order-created/avatax-order-created-adapter.test.ts
  apps/taxes/src/modules/avatax/order-created/avatax-order-created-adapter.ts
  apps/taxes/src/modules/avatax/order-created/avatax-order-created-mock-generator.ts
  apps/taxes/src/modules/avatax/order-created/avatax-order-created-payload-lines-transformer.test.ts
  apps/taxes/src/modules/avatax/order-created/avatax-order-created-payload-lines-transformer.ts
  apps/taxes/src/modules/avatax/order-created/avatax-order-created-payload-transformer.test.ts
  apps/taxes/src/modules/avatax/order-created/avatax-order-created-payload-transformer.ts
  apps/taxes/src/modules/avatax/order-created/avatax-order-created-payload.service.ts
  apps/taxes/src/modules/avatax/order-created/avatax-order-created-response-transaction-mock.ts
  apps/taxes/src/modules/avatax/order-created/avatax-order-created-response-transformer.test.ts
  apps/taxes/src/modules/avatax/order-created/avatax-order-created-response-transformer.ts
  apps/taxes/src/modules/avatax/order-created/avatax-order-created-tax-code-matcher.test.ts
  apps/taxes/src/modules/avatax/order-created/avatax-order-created-tax-code-matcher.ts
  apps/taxes/src/modules/avatax/order-fulfilled/avatax-order-fulfilled-adapter.ts
  apps/taxes/src/modules/avatax/order-fulfilled/avatax-order-fulfilled-payload-transformer.test.ts
  apps/taxes/src/modules/avatax/order-fulfilled/avatax-order-fulfilled-payload-transformer.ts
  apps/taxes/src/modules/avatax/order-fulfilled/avatax-order-fulfilled-response-transformer.ts
  apps/taxes/src/modules/taxes/get-active-connection-service.ts
  apps/taxes/src/modules/taxes/tax-provider-webhook.ts
  apps/taxes/src/modules/taxjar/order-created/taxjar-order-created-adapter.test.ts
  apps/taxes/src/modules/taxjar/order-created/taxjar-order-created-adapter.ts
  apps/taxes/src/modules/taxjar/order-created/taxjar-order-created-mock-generator.ts
  apps/taxes/src/modules/taxjar/order-created/taxjar-order-created-payload-lines-transformer.test.ts
  apps/taxes/src/modules/taxjar/order-created/taxjar-order-created-payload-lines-transformer.ts
  apps/taxes/src/modules/taxjar/order-created/taxjar-order-created-payload-transformer.test.ts
  apps/taxes/src/modules/taxjar/order-created/taxjar-order-created-payload-transformer.ts
  apps/taxes/src/modules/taxjar/order-created/taxjar-order-created-payload.service.ts
  apps/taxes/src/modules/taxjar/order-created/taxjar-order-created-response-transformer.test.ts
  apps/taxes/src/modules/taxjar/order-created/taxjar-order-created-response-transformer.ts
  apps/taxes/src/modules/taxjar/order-created/taxjar-order-created-tax-code-matcher.test.ts
  apps/taxes/src/modules/taxjar/order-created/taxjar-order-created-tax-code-matcher.ts
  apps/taxes/src/modules/taxjar/taxjar-webhook.service.ts
  apps/taxes/src/pages/api/manifest.ts
  apps/taxes/src/pages/api/webhooks/order-created.ts
  apps/taxes/src/pages/api/webhooks/order-fulfilled.ts
Labels: App: Taxes

#918 feat: :sparkles: improve migration scripts visibility
  apps/taxes/scripts/migrations/1.13-taxes-migration.ts
  apps/taxes/scripts/migrations/app-webhook-migrator.ts
  apps/taxes/scripts/migrations/app-webhook-repository.ts
  apps/taxes/scripts/migrations/run-migration.ts
  apps/taxes/scripts/migrations/run-report.ts
Labels: App: Taxes

#905 Add Payload CMS
  .changeset/light-bobcats-prove.md
  .changeset/strong-pugs-cover.md
  apps/cms-v2/package.json
  apps/cms-v2/src/modules/configuration/metadata-manager.ts
  apps/cms-v2/src/modules/configuration/schemas/payloadcms-provider.schema.ts
  apps/cms-v2/src/modules/configuration/schemas/root-config.schema.ts
  apps/cms-v2/src/modules/providers/builder.io/builder-io-config-form.tsx
  apps/cms-v2/src/modules/providers/contentful/contentful-config-form.tsx
  apps/cms-v2/src/modules/providers/datocms/datocms-config-form.tsx
  apps/cms-v2/src/modules/providers/payloadcms/logo.png
  apps/cms-v2/src/modules/providers/payloadcms/payloadcms-bulk-sync-processor.ts
  apps/cms-v2/src/modules/providers/payloadcms/payloadcms-client.ts
  apps/cms-v2/src/modules/providers/payloadcms/payloadcms-config-form.tsx
  apps/cms-v2/src/modules/providers/payloadcms/payloadcms-webhooks-processor.ts
  apps/cms-v2/src/modules/providers/payloadcms/payloadcms.tsx
  apps/cms-v2/src/modules/providers/providers-registry.ts
  apps/cms-v2/src/modules/providers/providers-resolver.tsx
  apps/cms-v2/src/modules/providers/strapi/strapi-config-form.tsx
  apps/cms-v2/src/modules/theme/styles.css
  apps/cms-v2/src/modules/ui/modal.tsx
  apps/cms-v2/src/pages/add-provider/[type].tsx
  apps/segment/src/modules/configuration/metadata-manager.ts
  pnpm-lock.yaml
Labels: App: CMS, App: Segment

#922 fix customer code calculate taxes
  .changeset/fifty-radios-beam.md
  apps/taxes/graphql/fragments/CalculateTaxesEvent.graphql
  apps/taxes/graphql/fragments/TaxBase.graphql
  apps/taxes/scripts/migrations/1.15-taxes-migration.ts
  apps/taxes/scripts/migrations/app-webhook-migrator.ts
  apps/taxes/scripts/migrations/app-webhook-repository.ts
  apps/taxes/scripts/migrations/run-migration.ts
  apps/taxes/scripts/migrations/run-report.ts
  apps/taxes/src/modules/avatax/calculate-taxes/avatax-calculate-taxes-mock-generator.ts
  apps/taxes/src/modules/avatax/calculate-taxes/avatax-calculate-taxes-payload-transformer.test.ts
  apps/taxes/src/modules/avatax/calculate-taxes/avatax-calculate-taxes-payload-transformer.ts
  apps/taxes/src/modules/taxjar/calculate-taxes/taxjar-calculate-taxes-mock-generator.ts
Labels: App: Taxes

#924 fix payloadcms fields
  .changeset/hungry-clocks-move.md
  apps/cms-v2/src/modules/providers/payloadcms/payloadcms-config-form.tsx
Labels: App: CMS

#917 🚀 Release apps
  .changeset/fifty-radios-beam.md
  .changeset/hungry-clocks-move.md
  .changeset/light-bobcats-prove.md
  .changeset/nice-jobs-ring.md
  .changeset/strong-pugs-cover.md
  .changeset/unlucky-tips-smash.md
  apps/cms-v2/CHANGELOG.md
  apps/cms-v2/package.json
  apps/taxes/CHANGELOG.md
  apps/taxes/package.json
Labels: App: Taxes, App: CMS

#933 Fix typo in Segment
  .changeset/tiny-fireants-work.md
  apps/segment/src/pages/configuration.tsx
Labels: App: Segment

#899 Remove clsx package which is no longer used
  .changeset/silly-balloons-knock.md
  apps/data-importer/package.json
  apps/emails-and-messages/package.json
  apps/invoices/package.json
  apps/klaviyo/package.json
  apps/products-feed/package.json
  apps/search/package.json
  apps/slack/package.json
  apps/taxes/package.json
  packages/shared/package.json
  pnpm-lock.yaml
Labels: App: Slack, App: Search, App: Emails & Messages, App: Invoices, App: Klaviyo, App: Taxes, App: Data Importer, App: Product Feed

#935 Fix CMS modal bg
  .changeset/proud-cheetahs-pay.md
  apps/cms-v2/src/modules/theme/styles.css
Labels: App: CMS

#925 update macaw
  .changeset/popular-mayflies-think.md
  apps/cms-v2/package.json
  apps/crm/package.json
  apps/data-importer/package.json
  apps/emails-and-messages/package.json
  apps/invoices/package.json
  apps/klaviyo/package.json
  apps/products-feed/package.json
  apps/search/package.json
  apps/segment/package.json
  apps/slack/package.json
  apps/taxes/package.json
  packages/react-hook-form-macaw/package.json
  packages/react-hook-form-macaw/src/components/Combobox.tsx
  packages/react-hook-form-macaw/src/components/Multiselect.tsx
  packages/react-hook-form-macaw/src/components/Select.tsx
  packages/shared/package.json
  packages/ui/package.json
  pnpm-lock.yaml
Labels: App: Slack, App: Search, App: Emails & Messages, App: Invoices, App: Klaviyo, App: Taxes, App: Data Importer, App: CMS, App: Product Feed, App: CRM, App: Segment

#932 Search: Fix stale variants after product removal, add indices setup and product descriptions
  .changeset/great-trains-judge.md
  .changeset/grumpy-hairs-sit.md
  .changeset/metal-brooms-cheer.md
  .changeset/moody-frogs-bow.md
  .changeset/pretty-apes-float.md
  apps/products-feed/src/modules/editor-js/readme.md
  apps/products-feed/src/modules/google-feed/generate-google-xml-feed.ts
  apps/search/graphql/fragments/OwnWebhook.graphql
  apps/search/graphql/fragments/ProductVariantData.graphql
  apps/search/graphql/queries/Channels.graphql
  apps/search/graphql/queries/FetchOwnWebhooks.graphql
  apps/search/graphql/subscriptions/productDeleted.graphql
  apps/search/graphql/subscriptions/productVariantDeleted.graphql
  apps/search/package.json
  apps/search/scripts/migrations/README.md
  apps/search/scripts/migrations/migration-utils.ts
  apps/search/scripts/migrations/recreate-webhooks.ts
  apps/search/scripts/migrations/run-webhooks-migration-dry-run.ts
  apps/search/scripts/migrations/run-webhooks-migration.ts
  apps/search/src/components/IndicesSettings.tsx
  apps/search/src/lib/algolia/algoliaSearchProvider.ts
  apps/search/src/lib/algolia/algoliaUtils.ts
  apps/search/src/lib/useIndicesSetup.tsx
  apps/search/src/pages/api/configuration.ts
  apps/search/src/pages/api/setup-indices.ts
  apps/search/src/pages/api/webhooks/saleor/product_created.ts
  apps/search/src/pages/api/webhooks/saleor/product_deleted.ts
  apps/search/src/pages/api/webhooks/saleor/product_updated.ts
  apps/search/src/pages/api/webhooks/saleor/product_variant_back_in_stock.ts
  apps/search/src/pages/api/webhooks/saleor/product_variant_created.ts
  apps/search/src/pages/api/webhooks/saleor/product_variant_deleted.ts
  apps/search/src/pages/api/webhooks/saleor/product_variant_out_of_stock.ts
  apps/search/src/pages/api/webhooks/saleor/product_variant_updated.ts
  apps/search/src/views/configuration/configuration.view.tsx
  apps/search/src/webhooks/definitions/product-created.ts
  apps/search/src/webhooks/definitions/product-deleted.ts
  apps/search/src/webhooks/definitions/product-updated.ts
  apps/search/src/webhooks/definitions/product-variant-back-in-stock.ts
  apps/search/src/webhooks/definitions/product-variant-created.ts
  apps/search/src/webhooks/definitions/product-variant-deleted.ts
  apps/search/src/webhooks/definitions/product-variant-out-of-stock.ts
  apps/search/src/webhooks/definitions/product-variant-updated.ts
  apps/search/webhooks.ts
  packages/shared/index.ts
  packages/shared/src/editor-js/editor-js-plaintext-renderer.test.ts
  packages/shared/src/editor-js/editor-js-plaintext-renderer.ts
  pnpm-lock.yaml
Labels: App: Search, App: Product Feed

#940 Add tRPC to search app
  .changeset/sixty-ligers-fold.md
  apps/search/package.json
  apps/search/src/components/AlgoliaConfigurationForm.tsx
  apps/search/src/components/ImportProductsToAlgolia.tsx
  apps/search/src/components/IndicesSettings.tsx
  apps/search/src/lib/algolia/getAlgoliaConfiguration.ts
  apps/search/src/lib/configuration.ts
  apps/search/src/lib/metadata.ts
  apps/search/src/modules/configuration/configuration.router.ts
  apps/search/src/modules/trpc/protected-client-procedure.ts
  apps/search/src/modules/trpc/trpc-app-router.ts
  apps/search/src/modules/trpc/trpc-client.ts
  apps/search/src/modules/trpc/trpc-context.ts
  apps/search/src/modules/trpc/trpc-server.ts
  apps/search/src/pages/_app.tsx
  apps/search/src/pages/api/configuration.ts
  apps/search/src/pages/api/recreate-webhooks.ts
  apps/search/src/pages/api/setup-indices.ts
  apps/search/src/pages/api/trpc/[trpc].ts
  apps/search/src/pages/api/webhooks-status.ts
  apps/search/src/test/handlers/webhooks-status-handler.test.ts
  apps/search/turbo.json
  packages/shared/src/metadata-manager.ts
  pnpm-lock.yaml
Labels: App: Search

#934 🚀 Release apps
  .changeset/great-trains-judge.md
  .changeset/grumpy-hairs-sit.md
  .changeset/metal-brooms-cheer.md
  .changeset/moody-frogs-bow.md
  .changeset/popular-mayflies-think.md
  .changeset/pretty-apes-float.md
  .changeset/proud-cheetahs-pay.md
  .changeset/silly-balloons-knock.md
  .changeset/sixty-ligers-fold.md
  .changeset/tiny-fireants-work.md
  apps/cms-v2/CHANGELOG.md
  apps/cms-v2/package.json
  apps/crm/CHANGELOG.md
  apps/crm/package.json
  apps/data-importer/CHANGELOG.md
  apps/data-importer/package.json
  apps/emails-and-messages/CHANGELOG.md
  apps/emails-and-messages/package.json
  apps/invoices/CHANGELOG.md
  apps/invoices/package.json
  apps/klaviyo/CHANGELOG.md
  apps/klaviyo/package.json
  apps/products-feed/CHANGELOG.md
  apps/products-feed/package.json
  apps/search/CHANGELOG.md
  apps/search/package.json
  apps/segment/CHANGELOG.md
  apps/segment/package.json
  apps/slack/CHANGELOG.md
  apps/slack/package.json
  apps/taxes/CHANGELOG.md
  apps/taxes/package.json
  packages/react-hook-form-macaw/CHANGELOG.md
  packages/react-hook-form-macaw/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
  packages/ui/CHANGELOG.md
  packages/ui/package.json
Labels: App: Slack, App: Search, App: Emails & Messages, App: Invoices, App: Klaviyo, App: Taxes, App: Data Importer, App: CMS, App: Product Feed, App: CRM, App: Segment

#941 Refactors: webhooks, config
  .changeset/happy-colts-cough.md
  .changeset/kind-wombats-beg.md
  .changeset/metal-worms-double.md
  apps/search/src/components/AlgoliaConfigurationForm.tsx
  apps/search/src/domain/configuration.ts
  apps/search/src/lib/algolia/getAlgoliaConfiguration.ts
  apps/search/src/lib/algolia/is-configured.ts
  apps/search/src/modules/configuration/app-config-metadata-manager.ts
  apps/search/src/modules/configuration/configuration.router.ts
  apps/search/src/modules/configuration/configuration.ts
  apps/search/src/modules/configuration/legacy-configuration.ts
  apps/search/src/pages/api/manifest.ts
  apps/search/src/pages/api/webhooks/saleor/product_created.ts
  apps/search/src/pages/api/webhooks/saleor/product_deleted.ts
  apps/search/src/pages/api/webhooks/saleor/product_updated.ts
  apps/search/src/pages/api/webhooks/saleor/product_variant_back_in_stock.ts
  apps/search/src/pages/api/webhooks/saleor/product_variant_created.ts
  apps/search/src/pages/api/webhooks/saleor/product_variant_deleted.ts
  apps/search/src/pages/api/webhooks/saleor/product_variant_out_of_stock.ts
  apps/search/src/pages/api/webhooks/saleor/product_variant_updated.ts
  apps/search/src/webhooks/webhook-context.ts
Labels: App: Search
