Repository saleor/apps, pull requests merged in 2023-11, with the labels that each got.

#1088 Update contentful client to use system id
  .changeset/twenty-garlics-count.md
  apps/cms-v2/src/modules/providers/contentful/contentful-bulk-sync-processor.ts
  apps/cms-v2/src/modules/providers/contentful/contentful-client.test.ts
  apps/cms-v2/src/modules/providers/contentful/contentful-client.ts
  apps/cms-v2/src/modules/providers/contentful/contentful-webhooks-processor.ts
  apps/cms-v2/src/modules/providers/contentful/contentful.tsx
  apps/cms-v2/src/modules/webhooks-operations/webhooks-processors-delegator.ts
Labels: App: CMS

#1091 🚀 Release apps
  .changeset/twenty-garlics-count.md
  apps/cms-v2/CHANGELOG.md
  apps/cms-v2/package.json
Labels: App: CMS, skip changeset

#1093 Update sentry to 7.77.0
  .changeset/old-cobras-greet.md
  apps/cms-v2/package.json
  apps/crm/package.json
  apps/data-importer/package.json
  apps/emails-and-messages/package.json
  apps/invoices/package.json
  apps/klaviyo/package.json
  apps/products-feed/package.json
  apps/search/package.json
  apps/segment/package.json
  apps/slack/package.json
  apps/taxes/package.json
  pnpm-lock.yaml
Labels: App: Slack, App: Search, App: Emails & Messages, App: Invoices, App: Klaviyo, App: Taxes, App: Data Importer, App: CMS, App: Product Feed, App: CRM, App: Segment

#1096 Update and unify deps to fix app-bridge resolution
  .changeset/four-beans-trade.md
  apps/cms-v2/package.json
  apps/crm/package.json
  apps/data-importer/package.json
  apps/emails-and-messages/package.json
  apps/invoices/package.json
  apps/klaviyo/package.json
  apps/products-feed/package.json
  apps/search/package.json
  apps/segment/package.json
  apps/slack/package.json
  apps/taxes/package.json
  package.json
  packages/e2e/package.json
  packages/shared/package.json
  packages/trpc/package.json
  packages/ui/package.json
  packages/webhook-utils/package.json
  pnpm-lock.yaml
Labels: App: Slack, App: Search, App: Emails & Messages, App: Invoices, App: Klaviyo, App: Taxes, App: Data Importer, App: CMS, App: Product Feed, App: CRM, App: Segment

#1099 🚀 Release apps
  .changeset/four-beans-trade.md
  apps/cms-v2/CHANGELOG.md
  apps/cms-v2/package.json
  apps/crm/CHANGELOG.md
  apps/crm/package.json
  apps/data-importer/CHANGELOG.md
  apps/data-importer/package.json
  apps/emails-and-messages/CHANGELOG.md
  apps/emails-and-messages/package.json
  apps/invoices/CHANGELOG.md
  apps/invoices/package.json
  apps/klaviyo/CHANGELOG.md
  apps/klaviyo/package.json
  apps/products-feed/CHANGELOG.md
  apps/products-feed/package.json
  apps/search/CHANGELOG.md
  apps/search/package.json
  apps/segment/CHANGELOG.md
  apps/segment/package.json
  apps/slack/CHANGELOG.md
  apps/slack/package.json
  apps/taxes/CHANGELOG.md
  apps/taxes/package.json
  packages/e2e/CHANGELOG.md
  packages/e2e/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
  packages/trpc/CHANGELOG.md
  packages/trpc/package.json
  packages/ui/CHANGELOG.md
  packages/ui/package.json
  packages/webhook-utils/CHANGELOG.md
  packages/webhook-utils/package.json
Labels: App: Slack, App: Search, App: Emails & Messages, App: Invoices, App: Klaviyo, App: Taxes, App: Data Importer, App: CMS, App: Product Feed, App: CRM, App: Segment, skip changeset

#1107 Add product pricing to Algolia index
  .changeset/silent-bats-grow.md
  apps/search/graphql/fragments/ProductData.graphql
  apps/search/graphql/fragments/ProductVariantData.graphql
  apps/search/package.json
  apps/search/src/lib/algolia/algoliaUtils.ts
  package.json
Labels: App: Search

#1113 Reduced Sentry sampling
  .changeset/empty-beers-design.md
  apps/cms-v2/sentry.client.config.ts
  apps/cms-v2/sentry.edge.config.ts
  apps/cms-v2/sentry.server.config.ts
  apps/crm/sentry.client.config.ts
  apps/crm/sentry.edge.config.ts
  apps/crm/sentry.server.config.ts
  apps/data-importer/sentry.client.config.ts
  apps/data-importer/sentry.edge.config.ts
  apps/data-importer/sentry.server.config.ts
  apps/emails-and-messages/sentry.client.config.ts
  apps/emails-and-messages/sentry.edge.config.ts
  apps/emails-and-messages/sentry.server.config.ts
  apps/invoices/sentry.client.config.ts
  apps/invoices/sentry.edge.config.ts
  apps/invoices/sentry.server.config.ts
  apps/klaviyo/sentry.client.config.ts
  apps/klaviyo/sentry.edge.config.ts
  apps/klaviyo/sentry.server.config.ts
  apps/products-feed/sentry.client.config.ts
  apps/products-feed/sentry.edge.config.ts
  apps/products-feed/sentry.server.config.ts
  apps/search/sentry.client.config.ts
  apps/search/sentry.edge.config.ts
  apps/search/sentry.server.config.ts
  apps/segment/sentry.client.config.ts
  apps/segment/sentry.edge.config.ts
  apps/segment/sentry.server.config.ts
  apps/slack/sentry.client.config.ts
  apps/slack/sentry.edge.config.ts
  apps/slack/sentry.server.config.ts
  apps/taxes/sentry.client.config.ts
  apps/taxes/sentry.edge.config.ts
  apps/taxes/sentry.server.config.ts
Labels: App: Slack, App: Search, App: Emails & Messages, App: Invoices, App: Klaviyo, App: Taxes, App: Data Importer, App: CMS, App: Product Feed, App: CRM, App: Segment

#1106 🚀 Release apps
  .changeset/empty-beers-design.md
  .changeset/purple-olives-add.md
  .changeset/serious-apples-bake.md
  .changeset/silent-bats-grow.md
  apps/cms-v2/CHANGELOG.md
  apps/cms-v2/package.json
  apps/crm/CHANGELOG.md
  apps/crm/package.json
  apps/data-importer/CHANGELOG.md
  apps/data-importer/package.json
  apps/emails-and-messages/CHANGELOG.md
  apps/emails-and-messages/package.json
  apps/invoices/CHANGELOG.md
  apps/invoices/package.json
  apps/klaviyo/CHANGELOG.md
  apps/klaviyo/package.json
  apps/products-feed/CHANGELOG.md
  apps/products-feed/package.json
  apps/search/CHANGELOG.md
  apps/search/package.json
  apps/segment/CHANGELOG.md
  apps/segment/package.json
  apps/slack/CHANGELOG.md
  apps/slack/package.json
  apps/taxes/CHANGELOG.md
  apps/taxes/package.json
Labels: App: Slack, App: Search, App: Emails & Messages, App: Invoices, App: Klaviyo, App: Taxes, App: Data Importer, App: CMS, App: Product Feed, App: CRM, App: Segment, skip changeset

#1118 feat: add SKU field in Search
  .changeset/tidy-colts-dress.md
  apps/search/src/lib/algolia/algoliaUtils.ts
Labels: App: Search

#1119 🚀 Release apps
  .changeset/tidy-colts-dress.md
  apps/search/CHANGELOG.md
  apps/search/package.json
Labels: App: Search, skip changeset

#1120 Add weight attribute to the product feed
  .changeset/young-papayas-sin.md
  apps/products-feed/graphql/fragments/GoogleFeedProductVariantFragment.graphql
  apps/products-feed/src/modules/app-configuration/example-variant-data.ts
  apps/products-feed/src/modules/google-feed/generate-google-xml-feed.test.ts
  apps/products-feed/src/modules/google-feed/generate-google-xml-feed.ts
  apps/products-feed/src/modules/google-feed/get-weight-attribute-value.test.ts
  apps/products-feed/src/modules/google-feed/get-weight-attribute-value.ts
  apps/products-feed/src/modules/google-feed/product-to-proxy.ts
  apps/products-feed/src/modules/google-feed/types.ts
Labels: App: Product Feed
