Repository saleor/apps, pull requests merged in 2023-05, with the labels that each got.

#438 Fix tests
  apps/cms/.env.example
  apps/cms/src/lib/cms/client/clients-operations.test.ts
  apps/cms/src/lib/cms/client/clients-operations.ts
  apps/cms/src/lib/logger.ts
Labels: App: CMS

#430 Release apps
  .changeset/grumpy-suits-sing.md
  .changeset/healthy-spies-camp.md
  .changeset/heavy-pens-shop.md
  .changeset/perfect-lies-float.md
  .changeset/poor-dots-play.md
  .changeset/six-laws-do.md
  .changeset/spicy-bottles-sort.md
  apps/cms/CHANGELOG.md
  apps/cms/package.json
  apps/crm/CHANGELOG.md
  apps/crm/package.json
  apps/data-importer/CHANGELOG.md
  apps/data-importer/package.json
  apps/emails-and-messages/CHANGELOG.md
  apps/emails-and-messages/package.json
  apps/invoices/CHANGELOG.md
  apps/invoices/package.json
  apps/klaviyo/CHANGELOG.md
  apps/klaviyo/package.json
  apps/monitoring/CHANGELOG.md
  apps/monitoring/package.json
  apps/products-feed/CHANGELOG.md
  apps/products-feed/package.json
  apps/search/CHANGELOG.md
  apps/search/package.json
  apps/slack/CHANGELOG.md
  apps/slack/package.json
  apps/taxes/CHANGELOG.md
  apps/taxes/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
Labels: App: Taxes

#452 Fix logs
  .changeset/sour-dingos-roll.md
  apps/cms/package.json
  apps/crm/.env.example
  apps/crm/package.json
  apps/data-importer/.env.example
  apps/data-importer/package.json
  apps/emails-and-messages/.env.example
  apps/emails-and-messages/package.json
  apps/invoices/.env.example
  apps/invoices/package.json
  apps/klaviyo/.env.example
  apps/klaviyo/package.json
  apps/monitoring/package.json
  apps/products-feed/package.json
  apps/search/.env.example
  apps/search/package.json
  apps/search/src/lib/logger.ts
  apps/slack/.env.example
  apps/slack/package.json
  apps/taxes/.env.example
  apps/taxes/package.json
  apps/taxes/src/lib/logger.ts
  packages/shared/package.json
  pnpm-lock.yaml
Labels: App: Slack, App: Search, App: Emails & Messages, App: Invoices, App: Klaviyo, App: Taxes, App: Data Importer, App: CMS, App: Monitoring, App: Product Feed, App: CRM

#458 feat: :sparkles: make companyCode optional
  .changeset/tasty-moose-obey.md
  apps/taxes/src/modules/avatax/avatax-config.ts
  apps/taxes/src/modules/avatax/maps/avatax-order-fulfilled-map.ts
  apps/taxes/src/modules/avatax/ui/avatax-configuration-form.tsx
Labels: App: Taxes

#460 fix: quantity not respected
  .changeset/afraid-ladybugs-carry.md
  apps/taxes/graphql/subscriptions/OrderCreated.graphql
  apps/taxes/graphql/subscriptions/OrderFulfilled.graphql
  apps/taxes/src/modules/avatax/maps/avatax-calculate-taxes-map.test.ts
  apps/taxes/src/modules/avatax/maps/avatax-calculate-taxes-map.ts
  apps/taxes/src/modules/avatax/maps/avatax-order-created-map.test.ts
  apps/taxes/src/modules/avatax/maps/avatax-order-created-map.ts
  apps/taxes/src/modules/avatax/maps/avatax-order-fulfilled-map.test.ts
  apps/taxes/src/modules/taxjar/maps/taxjar-order-created-map.test.ts
  apps/taxes/src/modules/taxjar/maps/taxjar-order-created-map.ts
Labels: App: Taxes

#437 Change test script to be "test" instead "test:ci" so all tests are executed properly
  .github/workflows/unit-tests.yml
  apps/data-importer/package.json
  apps/invoices/package.json
  package.json
Labels: App: Invoices, App: Data Importer

#462 replace failureRetry/failureNoRetry webhook response with failure
  .changeset/hot-numbers-hide.md
  apps/taxes/src/modules/app/webhook-response.ts
  apps/taxes/src/pages/api/webhooks/checkout-calculate-taxes.ts
  apps/taxes/src/pages/api/webhooks/order-calculate-taxes.ts
  apps/taxes/src/pages/api/webhooks/order-created.ts
  apps/taxes/src/pages/api/webhooks/order-fulfilled.ts
Labels: App: Taxes

#466 fix: charge taxes setting
  .changeset/silly-grapes-double.md
  apps/taxes/graphql/fragments/TaxBase.graphql
  apps/taxes/src/modules/avatax/maps/avatax-calculate-taxes-map.test.ts
  apps/taxes/src/modules/avatax/maps/avatax-calculate-taxes-map.ts
  apps/taxes/src/modules/avatax/maps/avatax-order-created-map.test.ts
  apps/taxes/src/modules/avatax/maps/avatax-order-created-map.ts
  apps/taxes/src/modules/taxjar/maps/taxjar-calculate-taxes-map.ts
Labels: App: Taxes

#463 Release apps
  .changeset/hot-numbers-hide.md
  .changeset/silly-grapes-double.md
  apps/taxes/CHANGELOG.md
  apps/taxes/package.json
Labels: App: Taxes

#472 build: :arrow_up: unify next macaw-ui version in apps
  .changeset/tricky-islands-remember.md
  apps/crm/package.json
  apps/invoices/package.json
  apps/search/package.json
  apps/search/src/components/WebhooksStatus.tsx
  pnpm-lock.yaml
Labels: App: Search, App: Invoices, App: CRM

#467 Add packages/ui shared package - root branch
  .changeset/tricky-islands-remember.md
  apps/crm/package.json
  apps/invoices/package.json
  apps/search/package.json
  apps/search/src/components/WebhooksStatus.tsx
  apps/taxes/next.config.js
  packages/ui/.eslintrc
  packages/ui/index.ts
  packages/ui/package.json
  packages/ui/tsconfig.json
  pnpm-lock.yaml
Labels: App: Search, App: Invoices, App: Taxes, App: CRM

#471 Add SemanticChip shared component
  .changeset/afraid-eagles-enjoy.md
  .changeset/new-readers-teach.md
  apps/search/package.json
  apps/search/src/components/WebhooksStatus.tsx
  packages/ui/index.ts
  packages/ui/src/semantic-chip.tsx
  pnpm-lock.yaml
Labels: App: Search

#468 Add TextLink component
  .changeset/mighty-eels-live.md
  .changeset/quick-rules-doubt.md
  apps/search/next.config.js
  apps/search/src/components/MainInstructions.tsx
  apps/search/src/views/configuration/configuration.view.tsx
  packages/ui/index.ts
  packages/ui/src/text-link.tsx
Labels: App: Search, Hackathon

#476 fix: returning 0 for line price if item is not taxable
  .changeset/thin-owls-beg.md
  apps/taxes/src/modules/avatax/maps/avatax-calculate-taxes-map.test.ts
  apps/taxes/src/modules/avatax/maps/avatax-calculate-taxes-map.ts
  apps/taxes/src/modules/avatax/maps/mocks.ts
Labels: App: Taxes

#465 Parallel products feed data fetching
  .changeset/strong-peas-begin.md
  apps/products-feed/graphql/queries/FetchProductCursors.graphql
  apps/products-feed/src/lib/google-feed/fetch-product-data.ts
Labels: App: Product Feed

#464 Update app-sdk to 0.38.0
  .changeset/giant-lions-reply.md
  apps/cms/package.json
  apps/crm/package.json
  apps/data-importer/package.json
  apps/emails-and-messages/package.json
  apps/invoices/package.json
  apps/klaviyo/package.json
  apps/monitoring/package.json
  apps/products-feed/package.json
  apps/search/package.json
  apps/slack/package.json
  apps/taxes/package.json
  packages/shared/package.json
  pnpm-lock.yaml
Labels: App: Slack, App: Search, App: Emails & Messages, App: Invoices, App: Klaviyo, App: Taxes, App: Data Importer, App: CMS, App: Monitoring, App: Product Feed, App: CRM

#470 feat: :sparkles: add basic breadcrumbs component
  .changeset/curvy-pugs-retire.md
  apps/taxes/next.config.js
  apps/taxes/package.json
  apps/taxes/turbo.json
  packages/ui/index.ts
  packages/ui/package.json
  packages/ui/src/breadcrumbs.module.css
  packages/ui/src/breadcrumbs.tsx
  packages/ui/src/example.tsx
  pnpm-lock.yaml
Labels: App: Taxes

#473 Release apps
  .changeset/afraid-eagles-enjoy.md
  .changeset/curvy-pugs-retire.md
  .changeset/dry-pears-camp.md
  .changeset/giant-lions-reply.md
  .changeset/little-bats-wonder.md
  .changeset/mighty-eels-live.md
  .changeset/new-readers-teach.md
  .changeset/quick-rules-doubt.md
  .changeset/strong-peas-begin.md
  .changeset/thin-owls-beg.md
  .changeset/tricky-islands-remember.md
  .changeset/weak-avocados-care.md
  apps/cms/CHANGELOG.md
  apps/cms/package.json
  apps/crm/CHANGELOG.md
  apps/crm/package.json
  apps/data-importer/CHANGELOG.md
  apps/data-importer/package.json
  apps/emails-and-messages/CHANGELOG.md
  apps/emails-and-messages/package.json
  apps/invoices/CHANGELOG.md
  apps/invoices/package.json
  apps/klaviyo/CHANGELOG.md
  apps/klaviyo/package.json
  apps/monitoring/CHANGELOG.md
  apps/monitoring/package.json
  apps/products-feed/CHANGELOG.md
  apps/products-feed/package.json
  apps/search/CHANGELOG.md
  apps/search/package.json
  apps/slack/CHANGELOG.md
  apps/slack/package.json
  apps/taxes/CHANGELOG.md
  apps/taxes/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
  packages/ui/CHANGELOG.md
  packages/ui/package.json
Labels: App: Slack, App: Search, App: Emails & Messages, App: Invoices, App: Klaviyo, App: Taxes, App: Data Importer, App: CMS, App: Monitoring, App: Product Feed, App: CRM

#480 refactor: use resolveOptionalOrThrow
  .changeset/thin-ravens-begin.md
  apps/taxes/src/modules/avatax/maps/avatax-calculate-taxes-map.test.ts
  apps/taxes/src/modules/avatax/maps/avatax-calculate-taxes-map.ts
  apps/taxes/src/modules/avatax/maps/mocks.ts
  apps/taxes/src/modules/taxes/tax-line-resolver.ts
  apps/taxes/src/modules/taxes/tax-provider-utils-test.ts
  apps/taxes/src/modules/taxes/tax-provider-utils.ts
  apps/taxes/src/modules/taxjar/maps/taxjar-calculate-taxes-map.ts
  apps/taxes/src/modules/taxjar/maps/taxjar-order-created-map.ts
  apps/taxes/src/pages/api/webhooks/checkout-calculate-taxes.ts
  apps/taxes/src/pages/api/webhooks/order-calculate-taxes.ts
Labels: App: Taxes

#481 Sentry missing config
  .changeset/sweet-suns-repair.md
  apps/crm/.gitignore
  apps/crm/next.config.js
  apps/crm/package.json
  apps/crm/sentry.client.config.ts
  apps/crm/sentry.edge.config.ts
  apps/crm/sentry.server.config.ts
  apps/crm/turbo.json
  apps/emails-and-messages/.gitignore
  apps/emails-and-messages/next.config.js
  apps/emails-and-messages/package.json
  apps/emails-and-messages/sentry.client.config.ts
  apps/emails-and-messages/sentry.edge.config.ts
  apps/emails-and-messages/sentry.server.config.ts
  apps/emails-and-messages/turbo.json
  apps/products-feed/.gitignore
  apps/products-feed/next.config.js
  apps/products-feed/package.json
  apps/products-feed/sentry.client.config.ts
  apps/products-feed/sentry.edge.config.ts
  apps/products-feed/sentry.server.config.ts
  apps/products-feed/turbo.json
  pnpm-lock.yaml
Labels: App: Emails & Messages, App: Product Feed, App: CRM

#478 Cache query cursors for the product feed and support s3
  apps/products-feed/package.json
  apps/products-feed/src/lib/google-feed/fetch-product-data.ts
  apps/products-feed/src/lib/google-feed/get-google-feed-settings.ts
  apps/products-feed/src/lib/metadata-manager.ts
  apps/products-feed/src/modules/app-configuration/app-config-container.ts
  apps/products-feed/src/modules/app-configuration/app-config-input-schema.ts
  apps/products-feed/src/modules/app-configuration/app-config.ts
  apps/products-feed/src/modules/app-configuration/app-configuration.router.ts
  apps/products-feed/src/modules/app-configuration/get-app-configuration.service.ts
  apps/products-feed/src/modules/app-configuration/ui/channels-configuration.tsx
  apps/products-feed/src/modules/app-configuration/ui/s3-configuration-form.tsx
  apps/products-feed/src/modules/file-storage/s3/const.ts
  apps/products-feed/src/modules/file-storage/s3/create-s3-client-from-configuration.ts
  apps/products-feed/src/modules/file-storage/s3/get-file-details.ts
  apps/products-feed/src/modules/file-storage/s3/upload-file.ts
  apps/products-feed/src/modules/file-storage/s3/upload-multi-part.ts
  apps/products-feed/src/modules/file-storage/s3/upload-single-part.ts
  apps/products-feed/src/modules/file-storage/s3/urls-and-names.ts
  apps/products-feed/src/modules/metadata-cache/cache-configurator.ts
  apps/products-feed/src/modules/metadata-cache/update-cache-for-configurations.ts
  apps/products-feed/src/pages/api/feed/[url]/[channel]/google.xml.ts
  pnpm-lock.yaml
Labels: App: Product Feed

#495 refactor: taxjar maps to adapters
  apps/taxes/src/modules/avatax/maps/avatax-calculate-taxes-map.test.ts
  apps/taxes/src/modules/avatax/maps/avatax-mock-factory.ts
  apps/taxes/src/modules/avatax/maps/avatax-order-created-map.test.ts
  apps/taxes/src/modules/avatax/maps/mocks.ts
  apps/taxes/src/modules/taxes/distribute-discount.test.ts
  apps/taxes/src/modules/taxes/distribute-discount.ts
  apps/taxes/src/modules/taxes/tax-webhook-adapter.ts
  apps/taxes/src/modules/taxjar/address-factory.test.ts
  apps/taxes/src/modules/taxjar/address-factory.ts
  apps/taxes/src/modules/taxjar/maps/mocks.ts
  apps/taxes/src/modules/taxjar/maps/taxjar-calculate-taxes-map.test.ts
  apps/taxes/src/modules/taxjar/maps/taxjar-calculate-taxes-map.ts
  apps/taxes/src/modules/taxjar/maps/taxjar-order-created-map.test.ts
  apps/taxes/src/modules/taxjar/maps/taxjar-order-created-map.ts
  apps/taxes/src/modules/taxjar/taxjar-calculate-taxes/taxjar-calculate-taxes-adapter.test.ts
  apps/taxes/src/modules/taxjar/taxjar-calculate-taxes/taxjar-calculate-taxes-adapter.ts
  apps/taxes/src/modules/taxjar/taxjar-calculate-taxes/taxjar-calculate-taxes-payload-transformer.test.ts
  apps/taxes/src/modules/taxjar/taxjar-calculate-taxes/taxjar-calculate-taxes-payload-transformer.ts
  apps/taxes/src/modules/taxjar/taxjar-calculate-taxes/taxjar-calculate-taxes-response-shipping-transformer.test.ts
  apps/taxes/src/modules/taxjar/taxjar-calculate-taxes/taxjar-calculate-taxes-response-shipping-transformer.ts
  apps/taxes/src/modules/taxjar/taxjar-calculate-taxes/taxjar-calculate-taxes-response-transformer.test.ts
  apps/taxes/src/modules/taxjar/taxjar-calculate-taxes/taxjar-calculate-taxes-response-transformer.ts
  apps/taxes/src/modules/taxjar/taxjar-mock-factory.ts
  apps/taxes/src/modules/taxjar/taxjar-order-created-adapter.test.ts
  apps/taxes/src/modules/taxjar/taxjar-order-created-adapter.ts
  apps/taxes/src/modules/taxjar/taxjar-order-created-payload-transformer.test.ts
  apps/taxes/src/modules/taxjar/taxjar-order-created-payload-transformer.ts
  apps/taxes/src/modules/taxjar/taxjar-order-created-response-transformer.test.ts
  apps/taxes/src/modules/taxjar/taxjar-order-created-response-transformer.ts
  apps/taxes/src/modules/taxjar/taxjar-webhook.service.ts
Labels: App: Taxes

#488 Extract part of Semver compatibility logic to shared package and implement in Invoices and Taxes
  .changeset/chatty-melons-cover.md
  .changeset/famous-onions-jam.md
  .changeset/purple-pots-sparkle.md
  apps/invoices/package.json
  apps/invoices/src/pages/api/register.ts
  apps/taxes/saleor-app.ts
  apps/taxes/src/pages/api/manifest.ts
  apps/taxes/src/pages/api/register.ts
  packages/shared/index.ts
  packages/shared/package.json
  packages/shared/src/saleor-version-compatibility-validator.test.ts
  packages/shared/src/saleor-version-compatibility-validator.ts
  packages/shared/src/setup-tests.ts
  packages/shared/vitest.config.ts
  pnpm-lock.yaml
Labels: App: Invoices, App: Taxes

#506 refactor: avatax maps to adapters
  apps/taxes/src/modules/avatax/address-factory.test.ts
  apps/taxes/src/modules/avatax/address-factory.ts
  apps/taxes/src/modules/avatax/avatax-mock-factory.ts
  apps/taxes/src/modules/avatax/avatax-webhook.service.ts
  apps/taxes/src/modules/avatax/calculate-taxes/avatax-calculate-taxes-adapter.ts
  apps/taxes/src/modules/avatax/calculate-taxes/avatax-calculate-taxes-payload-transformer.test.ts
  apps/taxes/src/modules/avatax/calculate-taxes/avatax-calculate-taxes-payload-transformer.ts
  apps/taxes/src/modules/avatax/calculate-taxes/avatax-calculate-taxes-response-lines-transformer.test.ts
  apps/taxes/src/modules/avatax/calculate-taxes/avatax-calculate-taxes-response-lines-transformer.ts
  apps/taxes/src/modules/avatax/calculate-taxes/avatax-calculate-taxes-response-shipping-transformer.test.ts
  apps/taxes/src/modules/avatax/calculate-taxes/avatax-calculate-taxes-response-shipping-transformer.ts
  apps/taxes/src/modules/avatax/calculate-taxes/avatax-calculate-taxes-response-transformer.ts
  apps/taxes/src/modules/avatax/maps/avatax-calculate-taxes-map.test.ts
  apps/taxes/src/modules/avatax/maps/avatax-calculate-taxes-map.ts
  apps/taxes/src/modules/avatax/maps/avatax-order-created-map.test.ts
  apps/taxes/src/modules/avatax/maps/avatax-order-created-map.ts
  apps/taxes/src/modules/avatax/maps/avatax-order-fulfilled-map.test.ts
  apps/taxes/src/modules/avatax/maps/avatax-order-fulfilled-map.ts
  apps/taxes/src/modules/avatax/mocks.ts
  apps/taxes/src/modules/avatax/order-created/avatax-order-created-adapter.test.ts
  apps/taxes/src/modules/avatax/order-created/avatax-order-created-adapter.ts
  apps/taxes/src/modules/avatax/order-created/avatax-order-created-payload-transformer.test.ts
  apps/taxes/src/modules/avatax/order-created/avatax-order-created-payload-transformer.ts
  apps/taxes/src/modules/avatax/order-created/avatax-order-created-response-transformer.test.ts
  apps/taxes/src/modules/avatax/order-created/avatax-order-created-response-transformer.ts
  apps/taxes/src/modules/avatax/order-fulfilled/avatax-order-fulfilled-adapter.ts
  apps/taxes/src/modules/avatax/order-fulfilled/avatax-order-fulfilled-payload-transformer.test.ts
  apps/taxes/src/modules/avatax/order-fulfilled/avatax-order-fulfilled-payload-transformer.ts
  apps/taxes/src/modules/avatax/order-fulfilled/avatax-order-fulfilled-response-transformer.ts
  apps/taxes/src/modules/taxes/tax-mock-factory.ts
  apps/taxes/src/modules/taxjar/calculate-taxes/taxjar-calculate-taxes-adapter.test.ts
  apps/taxes/src/modules/taxjar/calculate-taxes/taxjar-calculate-taxes-adapter.ts
  apps/taxes/src/modules/taxjar/calculate-taxes/taxjar-calculate-taxes-payload-transformer.test.ts
  apps/taxes/src/modules/taxjar/calculate-taxes/taxjar-calculate-taxes-payload-transformer.ts
  apps/taxes/src/modules/taxjar/calculate-taxes/taxjar-calculate-taxes-response-shipping-transformer.test.ts
  apps/taxes/src/modules/taxjar/calculate-taxes/taxjar-calculate-taxes-response-shipping-transformer.ts
  apps/taxes/src/modules/taxjar/calculate-taxes/taxjar-calculate-taxes-response-transformer.test.ts
  apps/taxes/src/modules/taxjar/calculate-taxes/taxjar-calculate-taxes-response-transformer.ts
  apps/taxes/src/modules/taxjar/order-created/taxjar-order-created-adapter.test.ts
  apps/taxes/src/modules/taxjar/order-created/taxjar-order-created-adapter.ts
  apps/taxes/src/modules/taxjar/order-created/taxjar-order-created-payload-transformer.test.ts
  apps/taxes/src/modules/taxjar/order-created/taxjar-order-created-payload-transformer.ts
  apps/taxes/src/modules/taxjar/order-created/taxjar-order-created-response-transformer.test.ts
  apps/taxes/src/modules/taxjar/order-created/taxjar-order-created-response-transformer.ts
  apps/taxes/src/modules/taxjar/taxjar-mock-factory.ts
  apps/taxes/src/modules/taxjar/taxjar-webhook.service.ts
  apps/taxes/src/pages/api/webhooks/order-created.ts
Labels: App: Taxes

#507 Add removing metadata in CRM app
  .changeset/happy-rocks-draw.md
  .changeset/swift-boxes-drop.md
  apps/cms/package.json
  apps/crm/package.json
  apps/crm/src/lib/metadata-manager.ts
  apps/crm/src/modules/mailchimp/mailchimp-audience.router.ts
  apps/crm/src/modules/mailchimp/mailchimp-config-settings-manager.test.ts
  apps/crm/src/modules/mailchimp/mailchimp-config-settings-manager.ts
  apps/crm/src/modules/mailchimp/mailchimp-config.router.ts
  apps/crm/src/pages/api/webhooks/customer-created.ts
  apps/crm/src/pages/api/webhooks/customer-updated.ts
  apps/data-importer/package.json
  apps/emails-and-messages/package.json
  apps/invoices/package.json
  apps/klaviyo/package.json
  apps/monitoring/package.json
  apps/products-feed/package.json
  apps/search/package.json
  apps/slack/package.json
  apps/taxes/package.json
  packages/eslint-config-saleor/package.json
  packages/shared/package.json
  packages/ui/package.json
  pnpm-lock.yaml
Labels: App: Slack, App: Search, App: Emails & Messages, App: Invoices, App: Klaviyo, App: Taxes, App: Data Importer, App: CMS, App: Monitoring, App: Product Feed, App: CRM

#508 Use macaw input bindings
  apps/emails-and-messages/next.config.js
  apps/emails-and-messages/package.json
  apps/emails-and-messages/src/components/react-hook-form-macaw/Combobox.tsx
  apps/emails-and-messages/src/components/react-hook-form-macaw/Input.tsx
  apps/emails-and-messages/src/components/react-hook-form-macaw/Multiselect.tsx
  apps/emails-and-messages/src/components/react-hook-form-macaw/README.md
  apps/emails-and-messages/src/modules/channels/ui/universal-channels-section.tsx
  apps/emails-and-messages/src/modules/sendgrid/ui/api-connection-section.tsx
  apps/emails-and-messages/src/modules/sendgrid/ui/sendgrid-basic-information-section.tsx
  apps/emails-and-messages/src/modules/sendgrid/ui/sendgrid-events-section.tsx
  apps/emails-and-messages/src/modules/sendgrid/ui/sendgrid-sender-section.tsx
  apps/emails-and-messages/src/modules/smtp/ui/event-form.tsx
  apps/emails-and-messages/src/modules/smtp/ui/smtp-basic-information-section.tsx
  apps/emails-and-messages/src/modules/smtp/ui/smtp-section.tsx
  apps/emails-and-messages/src/modules/smtp/ui/smtp-sender-section.tsx
  apps/emails-and-messages/src/pages/configuration/smtp/new.tsx
  pnpm-lock.yaml
Labels: App: Emails & Messages

#511 Emails and messages: use App UI package
  apps/emails-and-messages/next.config.js
  apps/emails-and-messages/package.json
  apps/emails-and-messages/src/components/basic-layout.tsx
  apps/emails-and-messages/src/components/breadcrumbs.tsx
  apps/emails-and-messages/src/components/chip-text.tsx
  apps/emails-and-messages/src/components/text-link.tsx
  apps/emails-and-messages/src/modules/app-configuration/ui/messaging-providers-box.tsx
  apps/emails-and-messages/src/pages/configuration/choose-provider.tsx
  apps/emails-and-messages/src/pages/configuration/index.tsx
  apps/emails-and-messages/src/pages/configuration/smtp/[configurationId]/event/[eventType].tsx
  pnpm-lock.yaml
Labels: App: Emails & Messages

#509 feat: add tests for taxjar
  apps/taxes/src/mocks.ts
  apps/taxes/src/modules/app/get-app-config.test.ts
  apps/taxes/src/modules/app/webhook-response.test.ts
  apps/taxes/src/modules/app/webhook-response.ts
  apps/taxes/src/modules/avatax/avatax-mock-factory.ts
  apps/taxes/src/modules/avatax/calculate-taxes/avatax-calculate-taxes-mock-generator.ts
  apps/taxes/src/modules/avatax/calculate-taxes/avatax-calculate-taxes-payload-transformer.test.ts
  apps/taxes/src/modules/avatax/order-created/avatax-order-created-adapter.test.ts
  apps/taxes/src/modules/avatax/order-created/avatax-order-created-mock-generator.ts
  apps/taxes/src/modules/avatax/order-created/avatax-order-created-payload-transformer.test.ts
  apps/taxes/src/modules/avatax/order-created/avatax-order-created-payload-transformer.ts
  apps/taxes/src/modules/avatax/order-created/avatax-order-created-response-transaction-mock.ts
  apps/taxes/src/modules/avatax/order-created/avatax-order-created-response-transformer.test.ts
  apps/taxes/src/modules/avatax/order-fulfilled/avatax-order-fulfilled-payload-transformer.test.ts
  apps/taxes/src/modules/taxes/active-tax-provider.test.ts
  apps/taxes/src/modules/taxes/active-tax-provider.ts
  apps/taxes/src/modules/taxes/distribute-discount.test.ts
  apps/taxes/src/modules/taxes/tax-mock-factory.ts
  apps/taxes/src/modules/taxes/tax-provider-error.ts
  apps/taxes/src/modules/taxes/tax-provider-utils.test.ts
  apps/taxes/src/modules/taxjar/calculate-taxes/taxjar-calculate-taxes-adapter.ts
  apps/taxes/src/modules/taxjar/calculate-taxes/taxjar-calculate-taxes-mock-generator.ts
  apps/taxes/src/modules/taxjar/calculate-taxes/taxjar-calculate-taxes-payload-transformer.test.ts
  apps/taxes/src/modules/taxjar/calculate-taxes/taxjar-calculate-taxes-payload-transformer.ts
  apps/taxes/src/modules/taxjar/calculate-taxes/taxjar-calculate-taxes-response-lines-transformer.test.ts
  apps/taxes/src/modules/taxjar/calculate-taxes/taxjar-calculate-taxes-response-lines-transformer.ts
  apps/taxes/src/modules/taxjar/calculate-taxes/taxjar-calculate-taxes-response-shipping-transformer.test.ts
  apps/taxes/src/modules/taxjar/calculate-taxes/taxjar-calculate-taxes-response-shipping-transformer.ts
  apps/taxes/src/modules/taxjar/calculate-taxes/taxjar-calculate-taxes-response-transformer.test.ts
  apps/taxes/src/modules/taxjar/calculate-taxes/taxjar-calculate-taxes-response-transformer.ts
  apps/taxes/src/modules/taxjar/order-created/taxjar-order-created-mock-generator.ts
  apps/taxes/src/modules/taxjar/order-created/taxjar-order-created-payload-transformer.test.ts
  apps/taxes/src/modules/taxjar/order-created/taxjar-order-created-response-transformer.test.ts
  apps/taxes/src/modules/taxjar/taxjar-mock-factory.ts
  apps/taxes/src/pages/api/webhooks/checkout-calculate-taxes.ts
  apps/taxes/src/pages/api/webhooks/order-calculate-taxes.ts
  apps/taxes/src/pages/api/webhooks/order-created.ts
  apps/taxes/src/pages/api/webhooks/order-fulfilled.ts
Labels: App: Taxes

#516 Emails and messages: Move logic to the configuration services
  apps/emails-and-messages/src/lib/metadata-manager.ts
  apps/emails-and-messages/src/modules/event-handlers/send-event-messages.ts
  apps/emails-and-messages/src/modules/sendgrid/configuration/get-sendgrid-configuration.service.ts
  apps/emails-and-messages/src/modules/sendgrid/configuration/sendgrid-config-container.ts
  apps/emails-and-messages/src/modules/sendgrid/configuration/sendgrid-configuration.router.ts
  apps/emails-and-messages/src/modules/sendgrid/configuration/sendgrid-configuration.service.test.ts
  apps/emails-and-messages/src/modules/sendgrid/configuration/sendgrid-configuration.service.ts
  apps/emails-and-messages/src/modules/sendgrid/configuration/sendgrid-default-empty-configurations.ts
  apps/emails-and-messages/src/modules/sendgrid/configuration/sendgrid-metadata-manager.ts
  apps/emails-and-messages/src/modules/smtp/configuration/get-smtp-configuration.service.ts
  apps/emails-and-messages/src/modules/smtp/configuration/smtp-config-container.ts
  apps/emails-and-messages/src/modules/smtp/configuration/smtp-configuration.router.ts
  apps/emails-and-messages/src/modules/smtp/configuration/smtp-configuration.service.test.ts
  apps/emails-and-messages/src/modules/smtp/configuration/smtp-configuration.service.ts
  apps/emails-and-messages/src/modules/smtp/configuration/smtp-default-empty-configurations.ts
  apps/emails-and-messages/src/modules/smtp/configuration/smtp-metadata-manager.ts
  apps/emails-and-messages/src/modules/smtp/ui/event-form.tsx
Labels: App: Emails & Messages

#510 Release apps
  .changeset/chilled-rats-love.md
  .changeset/happy-rocks-draw.md
  .changeset/swift-boxes-drop.md
  apps/cms/CHANGELOG.md
  apps/cms/package.json
  apps/crm/CHANGELOG.md
  apps/crm/package.json
  apps/data-importer/CHANGELOG.md
  apps/data-importer/package.json
  apps/emails-and-messages/CHANGELOG.md
  apps/emails-and-messages/package.json
  apps/invoices/CHANGELOG.md
  apps/invoices/package.json
  apps/klaviyo/CHANGELOG.md
  apps/klaviyo/package.json
  apps/monitoring/CHANGELOG.md
  apps/monitoring/package.json
  apps/products-feed/CHANGELOG.md
  apps/products-feed/package.json
  apps/search/CHANGELOG.md
  apps/search/package.json
  apps/slack/CHANGELOG.md
  apps/slack/package.json
  apps/taxes/CHANGELOG.md
  apps/taxes/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
Labels: App: Slack, App: Search, App: Emails & Messages, App: Invoices, App: Klaviyo, App: Taxes, App: Data Importer, App: CMS, App: Monitoring, App: Product Feed, App: CRM

#519 Upgrade cryptography to latest
  apps/monitoring/backend/poetry.lock
Labels: dependencies
