Repository saleor/apps, pull requests merged in 2023-09, with the labels that each got.

#915 Product Feed: Add configurable image size and additional photos
  .changeset/quiet-cups-kneel.md
  .changeset/sharp-buses-reflect.md
  apps/products-feed/graphql/fragments/GoogleFeedProductVariantFragment.graphql
  apps/products-feed/graphql/queries/FetchProductDataForFeed.graphql
  apps/products-feed/src/lib/create-graphql-client.ts
  apps/products-feed/src/modules/app-configuration/app-config.test.ts
  apps/products-feed/src/modules/app-configuration/app-config.ts
  apps/products-feed/src/modules/app-configuration/app-configuration.router.ts
  apps/products-feed/src/modules/app-configuration/image-configuration-form.tsx
  apps/products-feed/src/modules/google-feed/fetch-product-data.ts
  apps/products-feed/src/modules/google-feed/generate-google-xml-feed.ts
  apps/products-feed/src/modules/google-feed/get-google-feed-settings.test.ts
  apps/products-feed/src/modules/google-feed/get-google-feed-settings.ts
  apps/products-feed/src/modules/google-feed/get-related-media.test.ts
  apps/products-feed/src/modules/google-feed/get-related-media.ts
  apps/products-feed/src/modules/google-feed/product-to-proxy.test.ts
  apps/products-feed/src/modules/google-feed/product-to-proxy.ts
  apps/products-feed/src/modules/google-feed/types.ts
  apps/products-feed/src/modules/metadata-cache/update-cache-on-webhook.ts
  apps/products-feed/src/modules/trpc/protected-client-procedure.ts
  apps/products-feed/src/pages/api/feed/[url]/[channel]/google.xml.ts
  apps/products-feed/src/pages/configuration.tsx
  cspell.json
Labels: App: Product Feed

#950 Product Feed: Fix save button label
  .changeset/hot-eagles-cheer.md
  apps/products-feed/src/modules/app-configuration/image-configuration-form.tsx
Labels: App: Product Feed

#946 Algolia fields filtering
  .changeset/angry-ravens-enjoy.md
  apps/search/src/components/AlgoliaConfigurationForm.tsx
  apps/search/src/components/AlgoliaFieldsSelectionForm.tsx
  apps/search/src/components/ImportProductsToAlgolia.tsx
  apps/search/src/components/IndicesSettings.tsx
  apps/search/src/domain/WebhookActivityToggler.service.test.ts
  apps/search/src/lib/algolia-fields.ts
  apps/search/src/lib/algolia/algoliaSearchProvider.ts
  apps/search/src/lib/algolia/algoliaUtils.ts
  apps/search/src/modules/configuration/configuration.router.ts
  apps/search/src/modules/configuration/configuration.ts
  apps/search/src/pages/api/setup-indices.ts
  apps/search/src/pages/api/webhooks-status.ts
  apps/search/src/views/configuration/configuration.view.tsx
  apps/search/src/webhooks/webhook-context.ts
  cspell.json
Labels: App: Search

#959 Improved some spellings and add some words to allow list
  .changeset/hot-mugs-tap.md
  apps/cms-v2/src/modules/providers/builder.io/builder-io-config-form.tsx
  apps/klaviyo/README.md
  apps/klaviyo/docs/connect-with-klaviyo.md
  apps/taxes/src/modules/avatax/order-cancelled/avatax-order-cancelled-adapter.ts
  apps/taxes/src/pages/api/webhooks/order-calculate-taxes.ts
  cspell.json
Labels: App: Klaviyo, App: Taxes, App: CMS

#961 Fix Search webhooks toggling
  apps/search/src/pages/api/recreate-webhooks.ts
  apps/search/src/pages/api/webhooks-status.ts
  apps/search/src/test/handlers/webhooks-status-handler.test.ts
Labels: App: Search

#942 🚀 Release apps
  .changeset/afraid-eagles-joke.md
  .changeset/afraid-wolves-shave.md
  .changeset/angry-ravens-enjoy.md
  .changeset/dull-lobsters-relate.md
  .changeset/dull-mayflies-arrive.md
  .changeset/fast-bobcats-sip.md
  .changeset/flat-apples-divide.md
  .changeset/happy-colts-cough.md
  .changeset/hot-eagles-cheer.md
  .changeset/hot-mugs-tap.md
  .changeset/kind-wombats-beg.md
  .changeset/late-cherries-sparkle.md
  .changeset/metal-worms-double.md
  .changeset/olive-ducks-grow.md
  .changeset/polite-cobras-relax.md
  .changeset/quiet-cups-kneel.md
  .changeset/sharp-buses-reflect.md
  .changeset/sharp-ducks-peel.md
  .changeset/silly-geese-shout.md
  .changeset/slow-bears-own.md
  .changeset/small-vans-rhyme.md
  .changeset/tender-cycles-float.md
  .changeset/wet-moles-admire.md
  apps/cms-v2/CHANGELOG.md
  apps/cms-v2/package.json
  apps/crm/CHANGELOG.md
  apps/crm/package.json
  apps/data-importer/CHANGELOG.md
  apps/data-importer/package.json
  apps/emails-and-messages/CHANGELOG.md
  apps/emails-and-messages/package.json
  apps/invoices/CHANGELOG.md
  apps/invoices/package.json
  apps/klaviyo/CHANGELOG.md
  apps/klaviyo/package.json
  apps/products-feed/CHANGELOG.md
  apps/products-feed/package.json
  apps/search/CHANGELOG.md
  apps/search/package.json
  apps/segment/CHANGELOG.md
  apps/segment/package.json
  apps/slack/CHANGELOG.md
  apps/slack/package.json
  apps/taxes/CHANGELOG.md
  apps/taxes/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
  packages/trpc/CHANGELOG.md
  packages/trpc/package.json
  packages/ui/CHANGELOG.md
  packages/ui/package.json
Labels: App: Slack, App: Search, App: Emails & Messages, App: Invoices, App: Klaviyo, App: Taxes, App: Data Importer, App: CMS, App: Product Feed, App: CRM, App: Segment

#986 Update sentry and add Sentry CLI to the workspace
  .changeset/mighty-tips-hug.md
  apps/cms-v2/package.json
  apps/crm/package.json
  apps/data-importer/package.json
  apps/emails-and-messages/package.json
  apps/invoices/package.json
  apps/klaviyo/package.json
  apps/products-feed/package.json
  apps/search/package.json
  apps/segment/package.json
  apps/slack/package.json
  apps/taxes/package.json
  package.json
  pnpm-lock.yaml
Labels: App: Slack, App: Search, App: Emails & Messages, App: Invoices, App: Klaviyo, App: Taxes, App: Data Importer, App: CMS, App: Product Feed, App: CRM, App: Segment

#989 Invoices, Klaviyo: Refactor to shared components
  .changeset/nine-rivers-flow.md
  .changeset/real-pigs-promise.md
  .changeset/twelve-pianos-relate.md
  .changeset/wicked-llamas-talk.md
  apps/invoices/next.config.js
  apps/invoices/package.json
  apps/invoices/src/lib/theme-synchronizer.tsx
  apps/invoices/src/modules/app-configuration/app-configuration-router.test.ts
  apps/invoices/src/modules/app-configuration/ui/address-form.tsx
  apps/invoices/src/modules/app-configuration/views/app-config.view.tsx
  apps/invoices/src/modules/app-configuration/views/channel-config.view.tsx
  apps/invoices/src/modules/channels/ui/per-channel-config-list.tsx
  apps/invoices/src/modules/shop-info/ui/default-shop-address.tsx
  apps/invoices/src/modules/trpc/trpc-client.ts
  apps/invoices/src/modules/trpc/trpc-context.ts
  apps/invoices/src/modules/trpc/trpc-server.ts
  apps/invoices/src/modules/ui/AppSection.tsx
  apps/invoices/src/pages/_app.tsx
  apps/invoices/src/pages/api/trpc/[trpc].ts
  apps/invoices/src/public/favicon.ico
  apps/invoices/src/public/vercel.svg
  apps/invoices/src/styles/globals.css
  apps/klaviyo/package.json
  apps/klaviyo/src/hooks/theme-synchronizer.tsx
  apps/klaviyo/src/lib/ui/app-columns-layout.tsx
  apps/klaviyo/src/pages/_app.tsx
  apps/klaviyo/src/pages/_document.tsx
  apps/klaviyo/src/pages/api/configuration.ts
  apps/klaviyo/src/pages/api/manifest.ts
  apps/klaviyo/src/pages/configuration.tsx
  apps/klaviyo/turbo.json
  cspell.json
  package.json
  pnpm-lock.yaml
Labels: App: Invoices, App: Klaviyo

#956 Update app-sdk to 0.43.1
  apps/cms-v2/package.json
  apps/crm/package.json
  apps/data-importer/package.json
  apps/emails-and-messages/package.json
  apps/invoices/package.json
  apps/klaviyo/package.json
  apps/products-feed/package.json
  apps/search/package.json
  apps/segment/package.json
  apps/slack/package.json
  apps/taxes/package.json
  package.json
  packages/e2e/package.json
  packages/shared/package.json
  packages/ui/package.json
  pnpm-lock.yaml
Labels: App: Slack, App: Search, App: Emails & Messages, App: Invoices, App: Klaviyo, App: Taxes, App: Data Importer, App: CMS, App: Product Feed, App: CRM, App: Segment

#944 feat: taxes client logs
  .changeset/honest-geese-crash.md
  apps/taxes/src/modules/avatax/avatax-webhook.service.ts
  apps/taxes/src/modules/avatax/calculate-taxes/avatax-calculate-taxes-adapter.ts
  apps/taxes/src/modules/avatax/order-cancelled/avatax-order-cancelled-adapter.ts
  apps/taxes/src/modules/avatax/order-confirmed/avatax-order-confirmed-adapter.ts
  apps/taxes/src/modules/logs/client-logger.router.ts
  apps/taxes/src/modules/logs/client-logger.ts
  apps/taxes/src/modules/logs/client-logs-metadata-repository.test.ts
  apps/taxes/src/modules/logs/client-logs-metadata-repository.ts
  apps/taxes/src/modules/logs/log-utils.test.ts
  apps/taxes/src/modules/logs/log-utils.ts
  apps/taxes/src/modules/logs/ui/client-logs-page.tsx
  apps/taxes/src/modules/logs/ui/client-logs-table.tsx
  apps/taxes/src/modules/logs/ui/client-logs.tsx
  apps/taxes/src/modules/taxes/get-active-connection-service.ts
  apps/taxes/src/modules/taxjar/calculate-taxes/taxjar-calculate-taxes-adapter.ts
  apps/taxes/src/modules/taxjar/configuration/taxjar-validation.service.ts
  apps/taxes/src/modules/taxjar/order-confirmed/taxjar-order-confirmed-adapter.ts
  apps/taxes/src/modules/taxjar/taxjar-client.ts
  apps/taxes/src/modules/taxjar/taxjar-webhook.service.ts
  apps/taxes/src/modules/trpc/trpc-app-router.ts
  apps/taxes/src/modules/ui/app-breadcrumbs.tsx
  apps/taxes/src/modules/ui/app-layout.tsx
  apps/taxes/src/modules/ui/app-page-layout.tsx
  apps/taxes/src/modules/ui/app-section.tsx
  apps/taxes/src/modules/ui/providers-table.tsx
  apps/taxes/src/modules/ui/table.tsx
  apps/taxes/src/pages/api/webhooks/checkout-calculate-taxes.ts
  apps/taxes/src/pages/api/webhooks/order-calculate-taxes.ts
  apps/taxes/src/pages/configuration.tsx
  apps/taxes/src/pages/providers/avatax/[id].tsx
  apps/taxes/src/pages/providers/avatax/[id]/index.tsx
  apps/taxes/src/pages/providers/avatax/[id]/logs.tsx
  apps/taxes/src/pages/providers/avatax/index.tsx
  apps/taxes/src/pages/providers/index.tsx
  apps/taxes/src/pages/providers/taxjar/[id].tsx
  apps/taxes/src/pages/providers/taxjar/[id]/index.tsx
  apps/taxes/src/pages/providers/taxjar/[id]/logs.tsx
  apps/taxes/src/pages/providers/taxjar/index.tsx
Labels: App: Taxes

#949 Webhook helpers
  .changeset/orange-actors-eat.md
  .changeset/silver-windows-accept.md
  apps/search/next.config.js
  apps/search/package.json
  apps/search/scripts/migrations/recreate-webhooks.ts
  apps/search/scripts/migrations/run-webhooks-migration-dry-run.ts
  apps/search/scripts/migrations/run-webhooks-migration.ts
  apps/search/scripts/migrations/update-webhooks.ts
  cspell.json
  package.json
  packages/webhook-utils/.eslintrc
  packages/webhook-utils/.graphqlrc.yml
  packages/webhook-utils/generated/graphql.ts
  packages/webhook-utils/generated/schema.graphql
  packages/webhook-utils/graphql/fragments/AppDetails.graphql
  packages/webhook-utils/graphql/fragments/ChannelDetails.graphql
  packages/webhook-utils/graphql/fragments/ShopDetails.graphql
  packages/webhook-utils/graphql/fragments/WebhookDetails.graphql
  packages/webhook-utils/graphql/mutations/CreateAppWebhook.graphql
  packages/webhook-utils/graphql/mutations/ModifyAppWebhook.graphql
  packages/webhook-utils/graphql/mutations/RemoveAppWebhook.graphql
  packages/webhook-utils/graphql/queries/GetAppDetailsAndWebhooksData.graphql
  packages/webhook-utils/graphql/queries/GetSaleorInstanceData.graphql
  packages/webhook-utils/graphql/schema.graphql
  packages/webhook-utils/index.ts
  packages/webhook-utils/package.json
  packages/webhook-utils/src/create-app-webhook-from-manifest.ts
  packages/webhook-utils/src/create-app-webhook-from-webhook-details-fragment.ts
  packages/webhook-utils/src/disable-webhook.ts
  packages/webhook-utils/src/enable-webhook.ts
  packages/webhook-utils/src/filters/get-webhook-ids-and-manifests-to-update.test.ts
  packages/webhook-utils/src/filters/get-webhook-ids-and-manifests-to-update.ts
  packages/webhook-utils/src/filters/webhooks-to-add.test.ts
  packages/webhook-utils/src/filters/webhooks-to-add.ts
  packages/webhook-utils/src/filters/webhooks-to-remove.test.ts
  packages/webhook-utils/src/filters/webhooks-to-remove.ts
  packages/webhook-utils/src/modify-app-webhook-from-manifest.ts
  packages/webhook-utils/src/modify-app-webhook-from-webhook-details.ts
  packages/webhook-utils/src/operations/create-app-webhook.ts
  packages/webhook-utils/src/operations/get-app-details-and-webhooks-data.ts
  packages/webhook-utils/src/operations/get-saleor-instance-details.ts
  packages/webhook-utils/src/operations/modify-app-webhook.ts
  packages/webhook-utils/src/operations/remove-app-webhook.ts
  packages/webhook-utils/src/setup-tests.ts
  packages/webhook-utils/src/update-webhooks.ts
  packages/webhook-utils/src/webhook-migration-runner.ts
  packages/webhook-utils/tsconfig.json
  packages/webhook-utils/vitest.config.ts
  pnpm-lock.yaml
Labels: App: Search

#998 Extend pricing data in Algolia
  .changeset/selfish-kids-heal.md
  apps/search/graphql/fragments/ProductVariantData.graphql
  apps/search/src/lib/algolia/algoliaSearchProvider.ts
  apps/search/src/lib/algolia/algoliaUtils.ts
Labels: App: Search

#988 🚀 Release apps
  .changeset/honest-geese-crash.md
  .changeset/itchy-pants-chew.md
  .changeset/lazy-bugs-marry.md
  .changeset/mighty-tips-hug.md
  .changeset/nine-rivers-flow.md
  .changeset/orange-actors-eat.md
  .changeset/real-pigs-promise.md
  .changeset/selfish-kids-heal.md
  .changeset/silver-windows-accept.md
  .changeset/tiny-terms-check.md
  .changeset/twelve-pianos-relate.md
  .changeset/wicked-llamas-talk.md
  apps/cms-v2/CHANGELOG.md
  apps/cms-v2/package.json
  apps/crm/CHANGELOG.md
  apps/crm/package.json
  apps/data-importer/CHANGELOG.md
  apps/data-importer/package.json
  apps/emails-and-messages/CHANGELOG.md
  apps/emails-and-messages/package.json
  apps/invoices/CHANGELOG.md
  apps/invoices/package.json
  apps/klaviyo/CHANGELOG.md
  apps/klaviyo/package.json
  apps/products-feed/CHANGELOG.md
  apps/products-feed/package.json
  apps/search/CHANGELOG.md
  apps/search/package.json
  apps/segment/CHANGELOG.md
  apps/segment/package.json
  apps/slack/CHANGELOG.md
  apps/slack/package.json
  apps/taxes/CHANGELOG.md
  apps/taxes/package.json
  packages/webhook-utils/CHANGELOG.md
  packages/webhook-utils/package.json
Labels: App: Slack, App: Search, App: Emails & Messages, App: Invoices, App: Klaviyo, App: Taxes, App: Data Importer, App: CMS, App: Product Feed, App: CRM, App: Segment

#1036 Remove cache update on product webhooks
  .changeset/breezy-carrots-reply.md
  .changeset/tender-seas-hunt.md
  apps/products-feed/graphql/fragments/ProductVariantWebhookPayload.graphql
  apps/products-feed/graphql/fragments/ProductWebhookPayload.graphql
  apps/products-feed/graphql/subscriptions/productCreated.graphql
  apps/products-feed/graphql/subscriptions/productDeleted.graphql
  apps/products-feed/graphql/subscriptions/productUpdated.graphql
  apps/products-feed/graphql/subscriptions/productVariantCreated.graphql
  apps/products-feed/graphql/subscriptions/productVariantDeleted.graphql
  apps/products-feed/graphql/subscriptions/productVariantUpdated.graphql
  apps/products-feed/next.config.js
  apps/products-feed/package.json
  apps/products-feed/scripts/migrations/README.md
  apps/products-feed/scripts/migrations/migration-utils.ts
  apps/products-feed/scripts/migrations/run-webhooks-migration-dry-run.ts
  apps/products-feed/scripts/migrations/run-webhooks-migration.ts
  apps/products-feed/scripts/migrations/update-webhooks.ts
  apps/products-feed/src/modules/app-configuration/app-configuration.router.ts
  apps/products-feed/src/modules/metadata-cache/cache-configurator.ts
  apps/products-feed/src/modules/metadata-cache/update-cache-for-configurations.ts
  apps/products-feed/src/modules/metadata-cache/update-cache-on-webhook.ts
  apps/products-feed/src/pages/api/feed/[url]/[channel]/google.xml.ts
  apps/products-feed/src/pages/api/manifest.ts
  apps/products-feed/src/pages/api/webhooks/product_created.ts
  apps/products-feed/src/pages/api/webhooks/product_deleted.ts
  apps/products-feed/src/pages/api/webhooks/product_updated.ts
  apps/products-feed/src/pages/api/webhooks/product_variant_created.ts
  apps/products-feed/src/pages/api/webhooks/product_variant_deleted.ts
  apps/products-feed/src/pages/api/webhooks/product_variant_updated.ts
  pnpm-lock.yaml
Labels: App: Product Feed

#1041 🚀 Release apps
  .changeset/breezy-carrots-reply.md
  .changeset/tender-seas-hunt.md
  apps/products-feed/CHANGELOG.md
  apps/products-feed/package.json
Labels: App: Product Feed
