Repository saleor/apps, pull requests merged in 2023-04, with the labels that each got.

#349 Improve CMS app UX & UI
  .changeset/rare-crews-guess.md
  apps/cms/next.config.js
  apps/cms/package.json
  apps/cms/src/lib/cms/client/clients-operations.ts
  apps/cms/src/lib/cms/client/metadata-execution.ts
  apps/cms/src/lib/cms/client/settings.ts
  apps/cms/src/lib/metadata.ts
  apps/cms/src/modules/channels/ui/channel-configuration-form.tsx
  apps/cms/src/modules/channels/ui/channel-configuration.tsx
  apps/cms/src/modules/channels/ui/channels-list-items.tsx
  apps/cms/src/modules/channels/ui/channels-list.tsx
  apps/cms/src/modules/channels/ui/channels-select.tsx
  apps/cms/src/modules/channels/ui/channels.tsx
  apps/cms/src/modules/channels/ui/hooks/useChannels.ts
  apps/cms/src/modules/channels/ui/hooks/useChannelsFetch.ts
  apps/cms/src/modules/provider-instances/ui/hooks/useProviderInstances.ts
  apps/cms/src/modules/provider-instances/ui/hooks/useProviderInstancesFetch.ts
  apps/cms/src/modules/provider-instances/ui/provider-instance-configuration-form.tsx
  apps/cms/src/modules/provider-instances/ui/provider-instance-configuration.tsx
  apps/cms/src/modules/provider-instances/ui/provider-instances-list-items.tsx
  apps/cms/src/modules/provider-instances/ui/provider-instances-list.tsx
  apps/cms/src/modules/provider-instances/ui/provider-instances.tsx
  apps/cms/src/modules/providers/config.ts
  apps/cms/src/modules/ui/app-container.tsx
  apps/cms/src/modules/ui/app-grid.tsx
  apps/cms/src/modules/ui/app-paper.tsx
  apps/cms/src/modules/ui/app-tabs.tsx
  apps/cms/src/modules/ui/instructions.tsx
  apps/cms/src/pages/api/webhooks/product-variant-deleted.ts
  apps/cms/src/pages/channels.tsx
  apps/cms/src/pages/home.tsx
  apps/cms/src/pages/index.tsx
  apps/cms/src/pages/providers.tsx
  apps/cms/src/styles/globals.css
  pnpm-lock.yaml
Labels: App: CMS

#351 Bulk product export to CMS providers
  apps/cms/CONTRIBUTING.md
  apps/cms/docs/contentful.md
  apps/cms/graphql/queries/ProductsData.graphql
  apps/cms/package.json
  apps/cms/src/lib/cms/client/clients-execution.ts
  apps/cms/src/lib/cms/client/clients-operations.ts
  apps/cms/src/lib/cms/client/index.ts
  apps/cms/src/lib/cms/client/metadata-execution.ts
  apps/cms/src/lib/cms/config/channels.ts
  apps/cms/src/lib/cms/config/providers.ts
  apps/cms/src/lib/cms/data-sync.ts
  apps/cms/src/lib/cms/providers/contentful.ts
  apps/cms/src/lib/cms/providers/datocms.ts
  apps/cms/src/lib/cms/providers/strapi.ts
  apps/cms/src/lib/cms/types.ts
  apps/cms/src/lib/graphql.ts
  apps/cms/src/modules/channels/ui/channel-configuration-form.tsx
  apps/cms/src/modules/channels/ui/channel-configuration.tsx
  apps/cms/src/modules/channels/ui/channels-list.tsx
  apps/cms/src/modules/channels/ui/channels.tsx
  apps/cms/src/modules/channels/ui/hooks/useChannels.ts
  apps/cms/src/modules/channels/ui/hooks/useChannelsFetch.ts
  apps/cms/src/modules/channels/ui/types.ts
  apps/cms/src/modules/cms/hooks/useProductsVariantsSync.ts
  apps/cms/src/modules/cms/hooks/useQueryAllProducts.tsx
  apps/cms/src/pages/api/sync-products-variants.ts
  apps/cms/src/pages/api/webhooks/product-updated.ts
  apps/cms/src/pages/api/webhooks/product-variant-created.ts
  apps/cms/src/pages/api/webhooks/product-variant-deleted.ts
  apps/cms/src/pages/api/webhooks/product-variant-updated.ts
Labels: App: CMS

#371 CRM: Add dark mode
  .changeset/fresh-guests-report.md
  apps/crm/src/assets/mailchimp-dark.png
  apps/crm/src/assets/rudderstack.png
  apps/crm/src/lib/theme-synchronizer.tsx
  apps/crm/src/modules/providers/providers-list/providers-list.module.css
  apps/crm/src/modules/providers/providers-list/providers-list.tsx
  apps/crm/src/pages/_app.tsx
  apps/crm/src/styles/globals.css
Labels: App: CRM

#353 Change turborepo config to use local turbo.json
  apps/cms/turbo.json
  apps/crm/turbo.json
  apps/data-importer/turbo.json
  apps/emails-and-messages/turbo.json
  apps/invoices/turbo.json
  apps/klaviyo/turbo.json
  apps/monitoring/turbo.json
  apps/products-feed/turbo.json
  apps/search/turbo.json
  apps/slack/turbo.json
  apps/taxes/turbo.json
  package.json
  packages/eslint-config-saleor/package.json
  pnpm-lock.yaml
  turbo.json
Labels: App: Slack, App: Search, App: Emails & Messages, App: Invoices, App: Klaviyo, App: Taxes, App: Data Importer, App: CMS, App: Monitoring, App: Product Feed, App: CRM

#374 Provider configurations UI fixes
  .changeset/nice-donkeys-stare.md
  apps/cms/package.json
  apps/cms/src/modules/channels/ui/channel-configuration-form.tsx
  apps/cms/src/modules/provider-instances/ui/provider-icon.tsx
  apps/cms/src/modules/provider-instances/ui/provider-instance-configuration-form.tsx
  apps/cms/src/modules/provider-instances/ui/provider-instance-configuration.tsx
  apps/cms/src/modules/provider-instances/ui/provider-instances-list.tsx
  apps/cms/src/modules/provider-instances/ui/provider-instances.tsx
  pnpm-lock.yaml
Labels: App: CMS

#375 Update app-sdk to 0.37.3
  .changeset/large-knives-vanish.md
  apps/cms/package.json
  apps/crm/package.json
  apps/crm/src/pages/api/auth/mailchimp/oauth.ts
  apps/data-importer/package.json
  apps/emails-and-messages/package.json
  apps/invoices/package.json
  apps/klaviyo/package.json
  apps/monitoring/package.json
  apps/products-feed/package.json
  apps/search/package.json
  apps/slack/package.json
  apps/taxes/package.json
  packages/eslint-config-saleor/package.json
  packages/shared/package.json
  pnpm-lock.yaml
Labels: App: Slack, App: Search, App: Emails & Messages, App: Invoices, App: Klaviyo, App: Taxes, App: Data Importer, App: CMS, App: Monitoring, App: Product Feed, App: CRM

#362 Extract useDashboardNotification
  .changeset/lazy-seas-hope.md
  .changeset/proud-laws-live.md
  .changeset/spicy-jokes-count.md
  .changeset/tasty-badgers-remain.md
  apps/cms/src/modules/channels/ui/hooks/useChannels.ts
  apps/cms/src/modules/provider-instances/ui/provider-instances.tsx
  apps/crm/pnpm-lock.yaml
  apps/crm/src/lib/use-dashboard-notification.ts
  apps/crm/src/modules/mailchimp/config-sections/webhook-configuration/webhook-configuration.tsx
  apps/crm/src/modules/saleor-customers-sync/saleor-customers-sync.tsx
  apps/data-importer/pnpm-lock.yaml
  apps/emails-and-messages/next.config.js
  apps/emails-and-messages/pnpm-lock.yaml
  apps/emails-and-messages/src/modules/app-configuration/ui/channels-configuration-tab.tsx
  apps/emails-and-messages/src/modules/mjml/configuration/ui/mjml-configuration-form.tsx
  apps/emails-and-messages/src/modules/mjml/configuration/ui/mjml-configuration-tab.tsx
  apps/emails-and-messages/src/modules/mjml/configuration/ui/mjml-event-configuration-form.tsx
  apps/emails-and-messages/src/modules/mjml/configuration/ui/mjml-templates-card.tsx
  apps/emails-and-messages/src/modules/sendgrid/configuration/ui/sendgrid-configuration-form.tsx
  apps/emails-and-messages/src/modules/sendgrid/configuration/ui/sendgrid-configuration-tab.tsx
  apps/emails-and-messages/src/modules/sendgrid/configuration/ui/sendgrid-event-configuration-form.tsx
  apps/emails-and-messages/src/modules/sendgrid/configuration/ui/sendgrid-templates-card.tsx
  apps/invoices/pnpm-lock.yaml
  apps/invoices/src/modules/app-configuration/ui/channels-configuration.tsx
  apps/klaviyo/next.config.js
  apps/klaviyo/pnpm-lock.yaml
  apps/klaviyo/src/pages/configuration.tsx
  apps/klaviyo/src/utils/useDashboardNotifier.ts
  apps/monitoring/next.config.js
  apps/monitoring/pnpm-lock.yaml
  apps/monitoring/src/lib/use-dashboard-notifications.ts
  apps/monitoring/src/ui/datadog/datadog-config.tsx
  apps/products-feed/next.config.js
  apps/products-feed/pnpm-lock.yaml
  apps/products-feed/src/modules/app-configuration/ui/channels-configuration.tsx
  apps/products-feed/src/modules/category-mapping/ui/category-mapping-form.tsx
  apps/search/pnpm-lock.yaml
  apps/slack/pnpm-lock.yaml
  apps/slack/src/pages/configuration.tsx
  apps/slack/src/utils/useDashboardNotifier.ts
  apps/taxes/pnpm-lock.yaml
  apps/taxes/src/modules/avatax/ui/avatax-configuration-form.tsx
  apps/taxes/src/modules/channels/ui/channel-tax-provider-form.tsx
  apps/taxes/src/modules/taxjar/ui/taxjar-configuration-form.tsx
  packages/shared/index.ts
  packages/shared/src/use-dashboard-notification.ts
Labels: App: Slack, App: Search, App: Emails & Messages, App: Invoices, App: Klaviyo, App: Taxes, App: Data Importer, App: CMS, App: Monitoring, App: Product Feed, App: CRM

#390 Improves how Saleor version is validated during installation (Invoices)
  .changeset/loud-taxis-end.md
  .changeset/rare-tigers-agree.md
  apps/invoices/package.json
  apps/invoices/src/lib/saleor-version-compatibility-validator.test.ts
  apps/invoices/src/lib/saleor-version-compatibility-validator.ts
  apps/invoices/src/modules/trpc/protected-client-procedure.ts
  apps/invoices/src/pages/api/manifest.ts
  apps/invoices/src/pages/api/register.ts
  apps/invoices/src/pages/api/webhooks/invoice-requested.ts
  apps/invoices/src/saleor-app.ts
  apps/invoices/turbo.json
  pnpm-lock.yaml
Labels: App: Invoices

#399 Update manifests to contain up to date author, homepage, support and privacy fields
  .changeset/friendly-pumas-agree.md
  apps/cms/src/pages/api/manifest.ts
  apps/crm/src/pages/api/manifest.ts
  apps/data-importer/src/pages/api/manifest.ts
  apps/emails-and-messages/src/pages/api/manifest.ts
  apps/invoices/src/pages/api/manifest.ts
  apps/klaviyo/src/pages/api/manifest.ts
  apps/monitoring/backend/monitoring/saleor/common.py
  apps/monitoring/backend/monitoring/settings.py
  apps/products-feed/src/pages/api/manifest.ts
  apps/search/src/pages/api/manifest.ts
  apps/slack/src/pages/api/manifest.ts
  apps/taxes/src/pages/api/manifest.ts
Labels: App: Slack, App: Search, App: Emails & Messages, App: Invoices, App: Klaviyo, App: Taxes, App: Data Importer, App: CMS, App: Monitoring, App: Product Feed, App: CRM

#386 Fix CMS app issues
  .changeset/old-dingos-hide.md
  apps/cms/package.json
  apps/cms/src/lib/cms/client/clients-execution.ts
  apps/cms/src/lib/cms/config/providers.ts
  apps/cms/src/lib/cms/providers/contentful.ts
  apps/cms/src/lib/cms/providers/datocms.ts
  apps/cms/src/lib/cms/providers/strapi.ts
  apps/cms/src/lib/cms/types.ts
  apps/cms/src/modules/channels/ui/channels.tsx
  apps/cms/src/modules/cms/hooks/useProductsVariantsSync.ts
  apps/cms/src/modules/provider-instances/ui/hooks/usePingProviderInstance.ts
  apps/cms/src/modules/provider-instances/ui/provider-instance-configuration-form.tsx
  apps/cms/src/modules/provider-instances/ui/provider-instance-configuration.tsx
  apps/cms/src/modules/provider-instances/ui/provider-instance-ping.tsx
  apps/cms/src/modules/provider-instances/ui/provider-instances.tsx
  apps/cms/src/pages/api/ping-provider-instance.ts
  apps/cms/src/pages/api/sync-products-variants.ts
  apps/cms/src/pages/api/webhooks/_utils.ts
  apps/cms/src/pages/api/webhooks/product-updated.ts
  apps/cms/src/pages/api/webhooks/product-variant-updated.ts
  pnpm-lock.yaml
Labels: App: CMS

#410 feat: add country select
  .changeset/healthy-mayflies-hang.md
  apps/taxes/src/modules/avatax/avatax-client.ts
  apps/taxes/src/modules/avatax/maps/address-factory.ts
  apps/taxes/src/modules/channels/ui/channel-tax-provider-form.tsx
  apps/taxes/src/modules/taxjar/maps/address-factory.test.ts
  apps/taxes/src/modules/taxjar/maps/address-factory.ts
  apps/taxes/src/modules/taxjar/taxjar-client.ts
  apps/taxes/src/modules/ui/country-select/countries.ts
  apps/taxes/src/modules/ui/country-select/country-select.tsx
Labels: App: Taxes

#389 Release apps
  .changeset/chilly-crabs-promise.md
  .changeset/eight-plums-matter.md
  .changeset/friendly-pumas-agree.md
  .changeset/healthy-mayflies-hang.md
  .changeset/large-knives-vanish.md
  .changeset/lazy-seas-hope.md
  .changeset/loud-taxis-end.md
  .changeset/old-dingos-hide.md
  .changeset/polite-mugs-perform.md
  .changeset/proud-laws-live.md
  .changeset/rare-tigers-agree.md
  .changeset/spicy-jokes-count.md
  .changeset/tasty-badgers-remain.md
  .changeset/tender-monkeys-deny.md
  apps/cms/CHANGELOG.md
  apps/cms/package.json
  apps/crm/CHANGELOG.md
  apps/crm/package.json
  apps/data-importer/CHANGELOG.md
  apps/data-importer/package.json
  apps/emails-and-messages/CHANGELOG.md
  apps/emails-and-messages/package.json
  apps/invoices/CHANGELOG.md
  apps/invoices/package.json
  apps/klaviyo/CHANGELOG.md
  apps/klaviyo/package.json
  apps/monitoring/CHANGELOG.md
  apps/monitoring/package.json
  apps/products-feed/CHANGELOG.md
  apps/products-feed/package.json
  apps/search/CHANGELOG.md
  apps/search/package.json
  apps/slack/CHANGELOG.md
  apps/slack/package.json
  apps/taxes/CHANGELOG.md
  apps/taxes/package.json
  packages/eslint-config-saleor/CHANGELOG.md
  packages/eslint-config-saleor/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
Labels: App: Slack, App: Search, App: Emails & Messages, App: Invoices, App: Klaviyo, App: Taxes, App: Data Importer, App: CMS, App: Monitoring, App: Product Feed, App: CRM

#412 fix: tax not calculating
  .changeset/dull-planets-dance.md
  apps/taxes/src/modules/app/webhook-response.ts
  apps/taxes/src/modules/ui/country-select/country-select.tsx
  apps/taxes/src/pages/api/webhooks/order-calculate-taxes.ts
Labels: App: Taxes

#417 CMS visual fixes
  .changeset/sour-deers-camp.md
  apps/cms/src/lib/cms/config/providers.ts
  apps/cms/src/pages/api/sync-products-variants.ts
Labels: App: CMS

#413 Release apps
  .changeset/dull-planets-dance.md
  .changeset/sour-deers-camp.md
  apps/cms/CHANGELOG.md
  apps/cms/package.json
  apps/taxes/CHANGELOG.md
  apps/taxes/package.json
Labels: App: Taxes, App: CMS

#420 Search redesign to Macaw 2.0
  .changeset/curly-jars-doubt.md
  apps/cms/package.json
  apps/crm/package.json
  apps/crm/src/lib/theme-synchronizer.tsx
  apps/data-importer/package.json
  apps/emails-and-messages/package.json
  apps/invoices/package.json
  apps/klaviyo/package.json
  apps/monitoring/package.json
  apps/products-feed/package.json
  apps/search/package.json
  apps/search/src/components/AlgoliaConfigurationCard.tsx
  apps/search/src/components/AlgoliaConfigurationForm.tsx
  apps/search/src/components/AppColumnsLayout.tsx
  apps/search/src/components/AppSection.tsx
  apps/search/src/components/ConfigurationView.tsx
  apps/search/src/components/Hits.tsx
  apps/search/src/components/ImportProductsToAlgolia.tsx
  apps/search/src/components/Instructions.tsx
  apps/search/src/components/SearchBox.tsx
  apps/search/src/domain/configuration.ts
  apps/search/src/lib/algolia/algoliaSearchProvider.ts
  apps/search/src/lib/algolia/algoliaUtils.test.ts
  apps/search/src/lib/algolia/algoliaUtils.ts
  apps/search/src/lib/algolia/types.ts
  apps/search/src/lib/configuration.ts
  apps/search/src/lib/debug.ts
  apps/search/src/lib/graphql.ts
  apps/search/src/lib/logger.ts
  apps/search/src/lib/metadata.ts
  apps/search/src/lib/no-ssr-wrapper.tsx
  apps/search/src/lib/searchProvider.ts
  apps/search/src/lib/theme-synchronizer.tsx
  apps/search/src/pages/_app.tsx
  apps/search/src/pages/_error.js
  apps/search/src/pages/api/configuration.ts
  apps/search/src/pages/index.tsx
  apps/search/src/setup-tests.ts
  apps/search/src/styles/globals.css
  apps/search/src/styles/search.module.css
  apps/search/src/views/configuration/configuration.view.tsx
  apps/search/vitest.config.ts
  apps/slack/package.json
  apps/taxes/package.json
  pnpm-lock.yaml
Labels: App: Slack, App: Search, App: Emails & Messages, App: Invoices, App: Klaviyo, App: Taxes, App: Data Importer, App: CMS, App: Monitoring, App: Product Feed, App: CRM

#422 Add test for CUSTOMER_CREATED webhook in CRM app
  apps/crm/package.json
  apps/crm/src/modules/mailchimp/mailchimp-config-settings-manager.ts
  apps/crm/src/pages/api/webhooks/customer-created.ts
  apps/crm/src/test/webhooks/customer-created-webhook.test.ts
  pnpm-lock.yaml
Labels: App: CRM

#423 Release apps
  .changeset/curly-jars-doubt.md
  apps/search/CHANGELOG.md
  apps/search/package.json
Labels: App: Search

#428 Improve copy in Search app
  .changeset/shaggy-pumas-develop.md
  apps/search/src/views/configuration/configuration.view.tsx
Labels: App: Search

#424 feat: add shipping tax code
  .changeset/perfect-lies-float.md
  apps/taxes/src/modules/app/get-app-config.test.ts
  apps/taxes/src/modules/avatax/avatax-config.ts
  apps/taxes/src/modules/avatax/maps/avatax-calculate-taxes-map.test.ts
  apps/taxes/src/modules/avatax/maps/avatax-calculate-taxes-map.ts
  apps/taxes/src/modules/avatax/maps/avatax-order-created-map.test.ts
  apps/taxes/src/modules/avatax/maps/avatax-order-created-map.ts
  apps/taxes/src/modules/avatax/maps/avatax-order-fulfilled-map.test.ts
  apps/taxes/src/modules/avatax/ui/avatax-configuration-form.tsx
  apps/taxes/src/modules/taxes/active-tax-provider.test.ts
  apps/taxes/src/modules/taxjar/ui/taxjar-configuration-form.tsx
Labels: App: Taxes

#434 Webhooks optimization
  .changeset/grumpy-suits-sing.md
  apps/search/graphql/fragments/OwnWebhook.graphql
  apps/search/graphql/mutations/DisableWebhook.graphql
  apps/search/graphql/mutations/EnableWebhook.graphql
  apps/search/graphql/queries/FetchOwnWebhooks.graphql
  apps/search/graphql/subscriptions/productCreated.graphql
  apps/search/graphql/subscriptions/productDeleted.graphql
  apps/search/graphql/subscriptions/productUpdated.graphql
  apps/search/graphql/subscriptions/productVariantCreated.graphql
  apps/search/graphql/subscriptions/productVariantDeleted.graphql
  apps/search/graphql/subscriptions/productVariantUpdated.graphql
  apps/search/package.json
  apps/search/src/components/AlgoliaConfigurationForm.tsx
  apps/search/src/components/ImportProductsToAlgolia.tsx
  apps/search/src/components/MainInstructions.tsx
  apps/search/src/components/WebhooksStatus.tsx
  apps/search/src/components/WebhooksStatusInstructions.tsx
  apps/search/src/domain/WebhookActivityToggler.service.test.ts
  apps/search/src/domain/WebhookActivityToggler.service.ts
  apps/search/src/lib/algolia/algoliaSearchProvider.ts
  apps/search/src/lib/graphql.ts
  apps/search/src/lib/metadata.ts
  apps/search/src/lib/searchProvider.ts
  apps/search/src/lib/useWebhooksStatus.tsx
  apps/search/src/pages/api/configuration.ts
  apps/search/src/pages/api/webhooks-status.ts
  apps/search/src/pages/api/webhooks/saleor/product_created.ts
  apps/search/src/pages/api/webhooks/saleor/product_deleted.ts
  apps/search/src/pages/api/webhooks/saleor/product_updated.ts
  apps/search/src/pages/api/webhooks/saleor/product_variant_created.ts
  apps/search/src/pages/api/webhooks/saleor/product_variant_deleted.ts
  apps/search/src/pages/api/webhooks/saleor/product_variant_updated.ts
  apps/search/src/test/handlers/webhooks-status-handler.test.ts
  apps/search/src/views/configuration/configuration.view.tsx
  pnpm-lock.yaml
Labels: App: Search
