Repository saleor/apps, pull requests merged in 2023-07, with the labels that each got.

#695 Update menifests to reflect dynamic urls from env
  .changeset/yellow-badgers-promise.md
  apps/cms/.env.example
  apps/cms/src/pages/api/manifest.ts
  apps/cms/turbo.json
  apps/crm/.env.example
  apps/crm/src/pages/api/manifest.ts
  apps/crm/turbo.json
  apps/data-importer/.env.example
  apps/data-importer/src/pages/api/manifest.ts
  apps/data-importer/turbo.json
  apps/emails-and-messages/.env.example
  apps/emails-and-messages/src/pages/api/manifest.ts
  apps/emails-and-messages/turbo.json
  apps/invoices/.env.example
  apps/invoices/src/pages/api/manifest.ts
  apps/invoices/turbo.json
  apps/klaviyo/.env.example
  apps/monitoring/turbo.json
  apps/products-feed/.env.example
  apps/products-feed/src/pages/api/manifest.ts
  apps/products-feed/turbo.json
  apps/search/.env.example
  apps/search/src/pages/api/manifest.ts
  apps/search/turbo.json
  apps/slack/.env.example
  apps/slack/src/pages/api/manifest.ts
  apps/slack/turbo.json
  apps/taxes/.env.example
  apps/taxes/src/pages/api/manifest.ts
  apps/taxes/turbo.json
Labels: App: Slack, App: Search, App: Emails & Messages, App: Invoices, App: Taxes, App: Data Importer, App: CMS, App: Monitoring, App: Product Feed, App: CRM

#693 feat: tax code create order
  .changeset/light-rocks-count.md
  apps/taxes/graphql/subscriptions/OrderCreated.graphql
  apps/taxes/graphql/subscriptions/OrderFulfilled.graphql
  apps/taxes/src/modules/avatax/avatax-webhook.service.ts
  apps/taxes/src/modules/avatax/calculate-taxes/avatax-calculate-taxes-payload-lines-transformer.ts
  apps/taxes/src/modules/avatax/calculate-taxes/avatax-calculate-taxes-tax-code-matcher.test.ts
  apps/taxes/src/modules/avatax/calculate-taxes/avatax-calculate-taxes-tax-code-matcher.ts
  apps/taxes/src/modules/avatax/order-created/avatax-order-created-adapter.ts
  apps/taxes/src/modules/avatax/order-created/avatax-order-created-payload-lines-transformer.test.ts
  apps/taxes/src/modules/avatax/order-created/avatax-order-created-payload-lines-transformer.ts
  apps/taxes/src/modules/avatax/order-created/avatax-order-created-payload-transformer.test.ts
  apps/taxes/src/modules/avatax/order-created/avatax-order-created-payload-transformer.ts
  apps/taxes/src/modules/avatax/order-created/avatax-order-created-payload.service.ts
  apps/taxes/src/modules/avatax/order-created/avatax-order-created-tax-code-matcher.test.ts
  apps/taxes/src/modules/avatax/order-created/avatax-order-created-tax-code-matcher.ts
  apps/taxes/src/modules/taxjar/calculate-taxes/taxjar-calculate-taxes-payload-lines-transformer.ts
  apps/taxes/src/modules/taxjar/calculate-taxes/taxjar-calculate-taxes-tax-code-matcher.test.ts
  apps/taxes/src/modules/taxjar/calculate-taxes/taxjar-calculate-taxes-tax-code-matcher.ts
  apps/taxes/src/modules/taxjar/order-created/taxjar-order-created-adapter.ts
  apps/taxes/src/modules/taxjar/order-created/taxjar-order-created-payload-lines-transformer.test.ts
  apps/taxes/src/modules/taxjar/order-created/taxjar-order-created-payload-lines-transformer.ts
  apps/taxes/src/modules/taxjar/order-created/taxjar-order-created-payload-transformer.test.ts
  apps/taxes/src/modules/taxjar/order-created/taxjar-order-created-payload-transformer.ts
  apps/taxes/src/modules/taxjar/order-created/taxjar-order-created-payload.service.ts
  apps/taxes/src/modules/taxjar/order-created/taxjar-order-created-tax-code-matcher.test.ts
  apps/taxes/src/modules/taxjar/order-created/taxjar-order-created-tax-code-matcher.ts
  apps/taxes/src/modules/taxjar/taxjar-webhook.service.ts
Labels: App: Taxes

#720 Update nextjs to 13.4.8
  .changeset/neat-queens-draw.md
  apps/cms/package.json
  apps/crm/package.json
  apps/data-importer/package.json
  apps/emails-and-messages/package.json
  apps/invoices/package.json
  apps/klaviyo/package.json
  apps/monitoring/package.json
  apps/products-feed/package.json
  apps/search/package.json
  apps/slack/package.json
  apps/taxes/package.json
  package.json
  packages/eslint-config-saleor/package.json
  packages/shared/package.json
  packages/ui/package.json
  pnpm-lock.yaml
Labels: App: Slack, App: Search, App: Emails & Messages, App: Invoices, App: Klaviyo, App: Taxes, App: Data Importer, App: CMS, App: Monitoring, App: Product Feed, App: CRM

#723 📧 Fix for setting up SMTP transport
  .changeset/tough-dingos-rule.md
  apps/emails-and-messages/src/modules/event-handlers/send-event-messages.ts
  apps/emails-and-messages/src/modules/sendgrid/send-sendgrid.ts
  apps/emails-and-messages/src/modules/smtp/send-email-with-smtp.ts
  apps/emails-and-messages/src/modules/smtp/send-smtp.ts
Labels: App: Emails & Messages

#722 📧 Prevent users from enabling events without the template
  .changeset/rare-spiders-argue.md
  apps/emails-and-messages/src/components/box-footer.tsx
  apps/emails-and-messages/src/modules/sendgrid/configuration/sendgrid-config-input-schema.test.ts
  apps/emails-and-messages/src/modules/sendgrid/configuration/sendgrid-config-input-schema.ts
  apps/emails-and-messages/src/modules/sendgrid/ui/sendgrid-events-section.tsx
Labels: App: Emails & Messages

#730 Add metadata and privateMetadata to webhook payloads
  .changeset/healthy-bobcats-confess.md
  apps/emails-and-messages/graphql/fragments/OrderDetails.graphql
  apps/emails-and-messages/src/modules/event-handlers/default-payloads.ts
  apps/emails-and-messages/src/modules/webhook-management/webhook-management-service.test.ts
  apps/emails-and-messages/src/pages/api/webhooks/gift-card-sent.ts
  apps/emails-and-messages/src/pages/api/webhooks/invoice-sent.ts
Labels: App: Emails & Messages

#690 🚀 Release apps
  .changeset/chilled-kiwis-type.md
  .changeset/healthy-bobcats-confess.md
  .changeset/light-rocks-count.md
  .changeset/neat-queens-draw.md
  .changeset/popular-clouds-play.md
  .changeset/rare-spiders-argue.md
  .changeset/three-timers-glow.md
  .changeset/tough-dingos-rule.md
  .changeset/witty-plants-stare.md
  .changeset/yellow-badgers-promise.md
  apps/cms/CHANGELOG.md
  apps/cms/package.json
  apps/crm/CHANGELOG.md
  apps/crm/package.json
  apps/data-importer/CHANGELOG.md
  apps/data-importer/package.json
  apps/emails-and-messages/CHANGELOG.md
  apps/emails-and-messages/package.json
  apps/invoices/CHANGELOG.md
  apps/invoices/package.json
  apps/klaviyo/CHANGELOG.md
  apps/klaviyo/package.json
  apps/monitoring/CHANGELOG.md
  apps/monitoring/package.json
  apps/products-feed/CHANGELOG.md
  apps/products-feed/package.json
  apps/search/CHANGELOG.md
  apps/search/package.json
  apps/slack/CHANGELOG.md
  apps/slack/package.json
  apps/taxes/CHANGELOG.md
  apps/taxes/package.json
  packages/eslint-config-saleor/CHANGELOG.md
  packages/eslint-config-saleor/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
  packages/ui/CHANGELOG.md
  packages/ui/package.json
Labels: App: Slack, App: Search, App: Emails & Messages, App: Invoices, App: Klaviyo, App: Taxes, App: Data Importer, App: CMS, App: Monitoring, App: Product Feed, App: CRM

#734 Update TS and ESLint
  .changeset/four-walls-rhyme.md
  apps/cms/package.json
  apps/crm/package.json
  apps/data-importer/package.json
  apps/emails-and-messages/package.json
  apps/invoices/package.json
  apps/klaviyo/package.json
  apps/monitoring/package.json
  apps/products-feed/package.json
  apps/search/package.json
  apps/slack/package.json
  apps/taxes/package.json
  package.json
  packages/eslint-config-saleor/package.json
  packages/react-hook-form-macaw/package.json
  packages/shared/package.json
  packages/ui/package.json
  pnpm-lock.yaml
Labels: App: Slack, App: Search, App: Emails & Messages, App: Invoices, App: Klaviyo, App: Taxes, App: Data Importer, App: CMS, App: Monitoring, App: Product Feed, App: CRM

#748 Update tRPC and React-query
  .changeset/rude-fans-enjoy.md
  .changeset/tame-walls-compete.md
  apps/crm/package.json
  apps/emails-and-messages/package.json
  apps/emails-and-messages/src/modules/sendgrid/configuration/sendgrid-configuration.router.ts
  apps/emails-and-messages/src/modules/smtp/configuration/smtp-configuration.router.ts
  apps/emails-and-messages/src/modules/trpc/trpc-client.ts
  apps/invoices/package.json
  apps/products-feed/package.json
  apps/products-feed/src/pages/_app.tsx
  apps/search/package.json
  apps/search/src/components/AlgoliaConfigurationForm.tsx
  apps/search/src/lib/configuration.ts
  apps/search/src/lib/useWebhooksStatus.tsx
  apps/search/src/pages/_app.tsx
  apps/taxes/package.json
  pnpm-lock.yaml
Labels: App: Search, App: Emails & Messages, App: Invoices, App: Taxes, App: Product Feed, App: CRM, check dependencies

#754 Update the app sdk package
  .changeset/nasty-mugs-divide.md
  apps/cms/package.json
  apps/crm/package.json
  apps/data-importer/package.json
  apps/emails-and-messages/package.json
  apps/invoices/package.json
  apps/klaviyo/package.json
  apps/monitoring/package.json
  apps/products-feed/package.json
  apps/search/package.json
  apps/slack/package.json
  apps/taxes/package.json
  packages/e2e/package.json
  packages/shared/package.json
  packages/ui/package.json
  pnpm-lock.yaml
Labels: App: Slack, App: Search, App: Emails & Messages, App: Invoices, App: Klaviyo, App: Taxes, App: Data Importer, App: CMS, App: Monitoring, App: Product Feed, App: CRM, check dependencies

#782 CMS v2 quality improvements
  .changeset/chilly-donuts-allow.md
  .changeset/few-hornets-argue.md
  .changeset/three-yaks-attack.md
  apps/cms-v2/src/modules/bulk-sync/bulk-sync-section.tsx
  apps/cms-v2/src/modules/bulk-sync/bulk-sync-view.tsx
  apps/cms-v2/src/modules/bulk-sync/use-bulk-sync-products-state.ts
  apps/cms-v2/src/modules/channel-provider-connection/add-connection-form.tsx
  apps/cms-v2/src/modules/channel-provider-connection/add-connection-modal.tsx
  apps/cms-v2/src/modules/channel-provider-connection/channel-provider-connection.router.ts
  apps/cms-v2/src/modules/channel-provider-connection/channels-provider-connection-list.tsx
  apps/cms-v2/src/modules/channel-provider-connection/connections-list.tsx
  apps/cms-v2/src/modules/configuration/app-config.ts
  apps/cms-v2/src/modules/configuration/schemas/contentful-provider.schema.ts
  apps/cms-v2/src/modules/configuration/schemas/datocms-provider.schema.ts
  apps/cms-v2/src/modules/configuration/schemas/root-config.schema.ts
  apps/cms-v2/src/modules/configuration/schemas/strapi-provider.schema.ts
  apps/cms-v2/src/modules/providers-listing/providers-list.tsx
  apps/cms-v2/src/modules/providers/builder.io/builder-io-config-form.tsx
  apps/cms-v2/src/modules/providers/builder.io/builder-io.client.ts
  apps/cms-v2/src/modules/providers/contentful/contentful-client.ts
  apps/cms-v2/src/modules/providers/contentful/contentful-config-form.tsx
  apps/cms-v2/src/modules/providers/contentful/contentful-webhooks-processor.ts
  apps/cms-v2/src/modules/providers/contentful/contentful.router.ts
  apps/cms-v2/src/modules/providers/datocms/datocms-bulk-sync-processor.ts
  apps/cms-v2/src/modules/providers/datocms/datocms-client.ts
  apps/cms-v2/src/modules/providers/datocms/datocms-config-form.tsx
  apps/cms-v2/src/modules/providers/datocms/datocms-webhooks-processor.ts
  apps/cms-v2/src/modules/providers/datocms/datocms.router.ts
  apps/cms-v2/src/modules/providers/fields-mapper.test.ts
  apps/cms-v2/src/modules/providers/fields-mapper.ts
  apps/cms-v2/src/modules/providers/strapi/strapi-client.ts
  apps/cms-v2/src/modules/providers/strapi/strapi-config-form.tsx
  apps/cms-v2/src/modules/providers/strapi/strapi-webhooks-processor.ts
  apps/cms-v2/src/modules/ui/skeleton.tsx
  apps/cms-v2/src/modules/webhooks-operations/webhooks-processors-delegator.ts
  apps/cms-v2/src/pages/bulk-sync/[connection-id].tsx
  apps/cms-v2/src/pages/configuration.tsx
  apps/cms-v2/src/pages/edit-provider/[configId].tsx
Labels: App: CMS

#787 cms v1 - notice about deprecation
  .changeset/eleven-students-cheer.md
  apps/cms/README.md
  apps/cms/src/modules/ui/error-no-longer-maintained.tsx
  apps/cms/src/pages/home.tsx
  apps/cms/src/pages/index.tsx
Labels: App: CMS

#749 🚀 Release apps
  .changeset/chilly-donuts-allow.md
  .changeset/cyan-pianos-hide.md
  .changeset/eleven-students-cheer.md
  .changeset/fair-cats-lick.md
  .changeset/few-hornets-argue.md
  .changeset/four-walls-rhyme.md
  .changeset/nasty-mugs-divide.md
  .changeset/rude-fans-enjoy.md
  .changeset/tame-walls-compete.md
  .changeset/three-yaks-attack.md
  apps/cms-v2/CHANGELOG.md
  apps/cms-v2/package.json
  apps/cms/CHANGELOG.md
  apps/cms/package.json
  apps/crm/CHANGELOG.md
  apps/crm/package.json
  apps/data-importer/CHANGELOG.md
  apps/data-importer/package.json
  apps/emails-and-messages/CHANGELOG.md
  apps/emails-and-messages/package.json
  apps/invoices/CHANGELOG.md
  apps/invoices/package.json
  apps/klaviyo/CHANGELOG.md
  apps/klaviyo/package.json
  apps/products-feed/CHANGELOG.md
  apps/products-feed/package.json
  apps/search/CHANGELOG.md
  apps/search/package.json
  apps/slack/CHANGELOG.md
  apps/slack/package.json
  apps/taxes/CHANGELOG.md
  apps/taxes/package.json
  packages/e2e/CHANGELOG.md
  packages/e2e/package.json
  packages/eslint-config-saleor/CHANGELOG.md
  packages/eslint-config-saleor/package.json
  packages/react-hook-form-macaw/CHANGELOG.md
  packages/react-hook-form-macaw/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
  packages/ui/CHANGELOG.md
  packages/ui/package.json
Labels: App: Slack, App: Search, App: Emails & Messages, App: Invoices, App: Klaviyo, App: Taxes, App: Data Importer, App: CMS, App: Monitoring, App: Product Feed, App: CRM

#792 CMS: mask api key inputs in builder io form
  .changeset/rare-snails-press.md
  apps/cms-v2/src/modules/providers/builder.io/builder-io-config-form.tsx
Labels: App: CMS

#801 Update graphql codegen related packages
  .changeset/early-bobcats-relax.md
  apps/cms-v2/package.json
  apps/crm/package.json
  apps/data-importer/package.json
  apps/emails-and-messages/package.json
  apps/invoices/package.json
  apps/klaviyo/package.json
  apps/products-feed/package.json
  apps/search/package.json
  apps/slack/package.json
  apps/taxes/package.json
  pnpm-lock.yaml
Labels: App: Slack, App: Search, App: Emails & Messages, App: Invoices, App: Klaviyo, App: Taxes, App: Data Importer, App: CMS, App: Product Feed, App: CRM

#802 feat: address validation suggestions
  .changeset/many-parrots-sleep.md
  apps/taxes/src/lib/error-utils.ts
  apps/taxes/src/modules/avatax/avatax-client.ts
  apps/taxes/src/modules/avatax/avatax-connection-schema.ts
  apps/taxes/src/modules/avatax/avatax-connection.router.ts
  apps/taxes/src/modules/avatax/avatax-obfuscator.test.ts
  apps/taxes/src/modules/avatax/avatax-obfuscator.ts
  apps/taxes/src/modules/avatax/configuration/avatax-address-validation.service.ts
  apps/taxes/src/modules/avatax/configuration/avatax-auth-validation.service.ts
  apps/taxes/src/modules/avatax/configuration/avatax-connection.service.ts
  apps/taxes/src/modules/avatax/configuration/avatax-edit-address-validation.service.ts
  apps/taxes/src/modules/avatax/configuration/avatax-edit-auth-validation.service.ts
  apps/taxes/src/modules/avatax/configuration/avatax-patch-input-transformer.ts
  apps/taxes/src/modules/avatax/configuration/avatax-validation.service.ts
  apps/taxes/src/modules/avatax/configuration/public-avatax-connection.service.ts
  apps/taxes/src/modules/avatax/tax-code/avatax-tax-codes.router.ts
  apps/taxes/src/modules/avatax/ui/avatax-address-resolution-processor.test.ts
  apps/taxes/src/modules/avatax/ui/avatax-address-resolution-processor.ts
  apps/taxes/src/modules/avatax/ui/avatax-configuration-address-fragment.tsx
  apps/taxes/src/modules/avatax/ui/avatax-configuration-credentials-fragment.tsx
  apps/taxes/src/modules/avatax/ui/avatax-configuration-form.tsx
  apps/taxes/src/modules/avatax/ui/avatax-configuration-taxes-fragment.tsx
  apps/taxes/src/modules/avatax/ui/avatax-instructions.tsx
  apps/taxes/src/modules/avatax/ui/configuration-status.ts
  apps/taxes/src/modules/avatax/ui/create-avatax-configuration.tsx
  apps/taxes/src/modules/avatax/ui/edit-avatax-configuration.tsx
  apps/taxes/src/modules/avatax/ui/form-helper-text.tsx
  apps/taxes/src/modules/avatax/ui/form-section.tsx
  apps/taxes/src/modules/provider-connections/provider-connections.router.ts
  apps/taxes/src/modules/provider-connections/public-provider-connections.service.ts
  apps/taxes/src/modules/taxjar/configuration/public-taxjar-connection.service.ts
  apps/taxes/src/modules/taxjar/configuration/taxjar-connection.service.ts
  apps/taxes/src/modules/taxjar/tax-code/taxjar-tax-codes.router.ts
  apps/taxes/src/modules/taxjar/taxjar-connection.router.ts
  apps/taxes/src/modules/ui/app-section.tsx
  apps/taxes/src/pages/providers/avatax/[id].tsx
  apps/taxes/src/pages/providers/avatax/index.tsx
Labels: App: Taxes

#793 🚀 Release apps
  .changeset/bright-ladybugs-guess.md
  .changeset/early-bobcats-relax.md
  .changeset/eleven-geese-agree.md
  .changeset/lucky-islands-love.md
  .changeset/many-parrots-sleep.md
  .changeset/rare-snails-press.md
  .changeset/stale-readers-smash.md
  apps/cms-v2/CHANGELOG.md
  apps/cms-v2/package.json
  apps/crm/CHANGELOG.md
  apps/crm/package.json
  apps/data-importer/CHANGELOG.md
  apps/data-importer/package.json
  apps/emails-and-messages/CHANGELOG.md
  apps/emails-and-messages/package.json
  apps/invoices/CHANGELOG.md
  apps/invoices/package.json
  apps/klaviyo/CHANGELOG.md
  apps/klaviyo/package.json
  apps/products-feed/CHANGELOG.md
  apps/products-feed/package.json
  apps/search/CHANGELOG.md
  apps/search/package.json
  apps/slack/CHANGELOG.md
  apps/slack/package.json
  apps/taxes/CHANGELOG.md
  apps/taxes/package.json
  packages/react-hook-form-macaw/CHANGELOG.md
  packages/react-hook-form-macaw/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
  packages/ui/CHANGELOG.md
  packages/ui/package.json
Labels: App: CMS

#810 EAM: Fulfillment updated event
  .changeset/eight-windows-turn.md
  apps/emails-and-messages/src/lib/notify-event-types.ts
  apps/emails-and-messages/src/modules/event-handlers/default-payloads.ts
  apps/emails-and-messages/src/modules/event-handlers/message-event-types.ts
  apps/emails-and-messages/src/modules/smtp/default-templates.ts
  apps/emails-and-messages/src/modules/webhook-management/webhook-management-service.ts
  apps/emails-and-messages/src/modules/webhook-management/webhook-status-dict.ts
  apps/emails-and-messages/src/pages/api/webhooks/notify.ts
Labels: App: Emails & Messages

#808 feat: taxes map entity type
  .changeset/chatty-mugs-accept.md
  apps/taxes/graphql/fragments/TaxBase.graphql
  apps/taxes/graphql/subscriptions/OrderCreated.graphql
  apps/taxes/src/mocks.ts
  apps/taxes/src/modules/avatax/avatax-client.ts
  apps/taxes/src/modules/avatax/avatax-entity-type-matcher.test.ts
  apps/taxes/src/modules/avatax/avatax-entity-type-matcher.ts
  apps/taxes/src/modules/avatax/calculate-taxes/avatax-calculate-taxes-mock-generator.ts
  apps/taxes/src/modules/avatax/calculate-taxes/avatax-calculate-taxes-payload-transformer.test.ts
  apps/taxes/src/modules/avatax/calculate-taxes/avatax-calculate-taxes-payload-transformer.ts
  apps/taxes/src/modules/avatax/order-created/avatax-order-created-payload-transformer.test.ts
  apps/taxes/src/modules/avatax/order-created/avatax-order-created-payload-transformer.ts
  apps/taxes/src/modules/channel-configuration/ui/channel-section.tsx
  apps/taxes/src/modules/provider-connections/ui/providers-section.tsx
  apps/taxes/src/modules/taxjar/calculate-taxes/taxjar-calculate-taxes-mock-generator.ts
  apps/taxes/src/modules/taxjar/ui/taxjar-instructions.tsx
Labels: App: Taxes

#816 Eam: Extend order payload
  .changeset/stale-pigs-type.md
  apps/emails-and-messages/graphql/fragments/OrderDetails.graphql
  apps/emails-and-messages/src/modules/event-handlers/default-payloads.ts
  apps/emails-and-messages/src/modules/webhook-management/webhook-management-service.test.ts
Labels: App: Emails & Messages

#821 EAM: Add AWS credentials validation
  .changeset/mean-ghosts-beam.md
  apps/products-feed/src/modules/app-configuration/app-configuration.router.ts
  apps/products-feed/src/modules/app-configuration/s3-configuration-form.tsx
  apps/products-feed/src/modules/file-storage/s3/check-bucket-access.ts
Labels: App: Product Feed

#823 Use select input for AWS region selection
  .changeset/eight-fans-repair.md
  apps/products-feed/src/modules/app-configuration/s3-configuration-form.tsx
  apps/products-feed/src/modules/file-storage/s3/aws-region-list.ts
Labels: App: Product Feed

#819 🚀 Release apps
  .changeset/chatty-mugs-accept.md
  .changeset/eight-fans-repair.md
  .changeset/eight-windows-turn.md
  .changeset/mean-ghosts-beam.md
  .changeset/stale-pigs-type.md
  apps/emails-and-messages/CHANGELOG.md
  apps/emails-and-messages/package.json
  apps/products-feed/CHANGELOG.md
  apps/products-feed/package.json
  apps/taxes/CHANGELOG.md
  apps/taxes/package.json
Labels: App: Emails & Messages

#827 Improve Search/Algolia mappings
  .changeset/friendly-planets-care.md
  apps/search/graphql/fragments/ProductData.graphql
  apps/search/graphql/fragments/ProductVariantData.graphql
  apps/search/src/lib/algolia/algoliaUtils.ts
  apps/search/src/lib/algolia/metadata-to-algolia-attribute.test.ts
  apps/search/src/lib/algolia/metadata-to-algolia-attribute.ts
  apps/search/src/lib/safe-parse-json.ts
  apps/search/src/pages/api/webhooks/saleor/product_variant_updated.ts
Labels: App: Search

#835 🚀 Release apps
  .changeset/friendly-planets-care.md
  apps/search/CHANGELOG.md
  apps/search/package.json
Labels: App: Search
