Repository saleor/apps, pull requests merged in 2023-06, with the labels that each got.

#524 Update Vite and Vitest across packages
  .changeset/beige-hairs-teach.md
  apps/cms/package.json
  apps/crm/package.json
  apps/data-importer/package.json
  apps/emails-and-messages/package.json
  apps/invoices/package.json
  apps/klaviyo/package.json
  apps/monitoring/package.json
  apps/products-feed/graphql/queries/FetchProductDataForFeed.graphql
  apps/products-feed/package.json
  apps/search/package.json
  apps/slack/package.json
  apps/taxes/package.json
  packages/react-hook-form-macaw/package.json
  packages/shared/package.json
  pnpm-lock.yaml
Labels: App: Slack, App: Search, App: Emails & Messages, App: Invoices, App: Klaviyo, App: Taxes, App: Data Importer, App: CMS, App: Monitoring, App: Product Feed, App: CRM

#533 feat: redesign provider forms
  apps/taxes/next.config.js
  apps/taxes/package.json
  apps/taxes/src/modules/avatax/avatax-configuration.router.ts
  apps/taxes/src/modules/avatax/avatax-configuration.service.ts
  apps/taxes/src/modules/avatax/avatax-validation.service.test.ts
  apps/taxes/src/modules/avatax/avatax-validation.service.ts
  apps/taxes/src/modules/avatax/ui/avatax-configuration-form.tsx
  apps/taxes/src/modules/avatax/ui/avatax-instructions.tsx
  apps/taxes/src/modules/avatax/ui/create-avatax-configuration.tsx
  apps/taxes/src/modules/avatax/ui/edit-avatax-configuration.tsx
  apps/taxes/src/modules/taxjar/address-factory.test.ts
  apps/taxes/src/modules/taxjar/address-factory.ts
  apps/taxes/src/modules/taxjar/calculate-taxes/taxjar-calculate-taxes-payload-transformer.ts
  apps/taxes/src/modules/taxjar/taxjar-client.ts
  apps/taxes/src/modules/taxjar/taxjar-configuration.service.ts
  apps/taxes/src/modules/taxjar/taxjar-validation.service.test.ts
  apps/taxes/src/modules/taxjar/taxjar-validation.service.ts
  apps/taxes/src/modules/taxjar/ui/create-taxjar-configuration.tsx
  apps/taxes/src/modules/taxjar/ui/edit-taxjar-configuration.tsx
  apps/taxes/src/modules/taxjar/ui/taxjar-configuration-form.tsx
  apps/taxes/src/modules/taxjar/ui/taxjar-instructions.tsx
  apps/taxes/src/modules/ui/app-breadcrumbs.tsx
  apps/taxes/src/modules/ui/app-section.tsx
  apps/taxes/src/modules/ui/app-toggle.tsx
  apps/taxes/src/modules/ui/countries.ts
  apps/taxes/src/modules/ui/country-select.tsx
  apps/taxes/src/modules/ui/provider-label.tsx
  apps/taxes/src/modules/ui/providers-table.tsx
  apps/taxes/src/modules/ui/providers.tsx
  apps/taxes/src/pages/configuration.tsx
  apps/taxes/src/pages/providers/avatax.tsx
  apps/taxes/src/pages/providers/avatax/[id].tsx
  apps/taxes/src/pages/providers/avatax/index.tsx
  apps/taxes/src/pages/providers/index.tsx
  apps/taxes/src/pages/providers/taxjar.tsx
  apps/taxes/src/pages/providers/taxjar/[id].tsx
  apps/taxes/src/pages/providers/taxjar/index.tsx
  packages/react-hook-form-macaw/index.ts
  packages/react-hook-form-macaw/src/components/Toggle.tsx
  pnpm-lock.yaml
Labels: App: Taxes

#536 📧 Migration script to schema V2
  apps/emails-and-messages/package.json
  apps/emails-and-messages/scripts/migrations/README.md
  apps/emails-and-messages/scripts/migrations/migration-utils.ts
  apps/emails-and-messages/scripts/migrations/run-migration.ts
  apps/emails-and-messages/scripts/migrations/run-report.ts
  pnpm-lock.yaml
Labels: App: Emails & Messages

#535 📧 Add runtime migrations to schema v2
  apps/emails-and-messages/package.json
  apps/emails-and-messages/scripts/migrations/README.md
  apps/emails-and-messages/scripts/migrations/migration-utils.ts
  apps/emails-and-messages/scripts/migrations/run-migration.ts
  apps/emails-and-messages/scripts/migrations/run-report.ts
  apps/emails-and-messages/src/modules/app-configuration/app-config-metadata-manager.ts
  apps/emails-and-messages/src/modules/app-configuration/app-config-schema.ts
  apps/emails-and-messages/src/modules/app-configuration/migrations/get-channels-assigned-to-config-id.test.ts
  apps/emails-and-messages/src/modules/app-configuration/migrations/get-channels-assigned-to-config-id.ts
  apps/emails-and-messages/src/modules/sendgrid/configuration/migrations/sendgrid-config-migration-v1-to-v2.ts
  apps/emails-and-messages/src/modules/sendgrid/configuration/migrations/sendgrid-config-schema-v1.ts
  apps/emails-and-messages/src/modules/sendgrid/configuration/migrations/sendgrid-config-schema-v2.ts
  apps/emails-and-messages/src/modules/sendgrid/configuration/migrations/sendgrid-transform-v1-to-v2.test.ts
  apps/emails-and-messages/src/modules/sendgrid/configuration/migrations/sendgrid-transform-v1-to-v2.ts
  apps/emails-and-messages/src/modules/sendgrid/configuration/sendgrid-config-schema.ts
  apps/emails-and-messages/src/modules/sendgrid/configuration/sendgrid-configuration.service.ts
  apps/emails-and-messages/src/modules/sendgrid/configuration/sendgrid-metadata-manager-v1.ts
  apps/emails-and-messages/src/modules/sendgrid/configuration/sendgrid-metadata-manager-v2.ts
  apps/emails-and-messages/src/modules/sendgrid/configuration/sendgrid-metadata-manager.ts
  apps/emails-and-messages/src/modules/smtp/configuration/migrations/mjml-config-schema-v1.ts
  apps/emails-and-messages/src/modules/smtp/configuration/migrations/smtp-config-migration-v1-to-v2.ts
  apps/emails-and-messages/src/modules/smtp/configuration/migrations/smtp-config-schema-v2.ts
  apps/emails-and-messages/src/modules/smtp/configuration/migrations/smtp-transform-v1-to-v2.test.ts
  apps/emails-and-messages/src/modules/smtp/configuration/migrations/smtp-transform-v1-to-v2.ts
  apps/emails-and-messages/src/modules/smtp/configuration/mjml-metadata-manager.ts
  apps/emails-and-messages/src/modules/smtp/configuration/smtp-config-schema.ts
  apps/emails-and-messages/src/modules/smtp/configuration/smtp-metadata-manager-v2.ts
  apps/emails-and-messages/src/modules/smtp/configuration/smtp-metadata-manager.ts
  pnpm-lock.yaml
Labels: App: Emails & Messages

#520 🚀 Release apps
  .changeset/beige-hairs-teach.md
  .changeset/plenty-dolls-arrive.md
  .changeset/slimy-students-switch.md
  .changeset/wet-points-deny.md
  apps/cms/CHANGELOG.md
  apps/cms/package.json
  apps/crm/CHANGELOG.md
  apps/crm/package.json
  apps/data-importer/CHANGELOG.md
  apps/data-importer/package.json
  apps/emails-and-messages/CHANGELOG.md
  apps/emails-and-messages/package.json
  apps/invoices/CHANGELOG.md
  apps/invoices/package.json
  apps/klaviyo/CHANGELOG.md
  apps/klaviyo/package.json
  apps/monitoring/CHANGELOG.md
  apps/monitoring/package.json
  apps/products-feed/CHANGELOG.md
  apps/products-feed/package.json
  apps/search/CHANGELOG.md
  apps/search/package.json
  apps/slack/CHANGELOG.md
  apps/slack/package.json
  apps/taxes/CHANGELOG.md
  apps/taxes/package.json
  packages/react-hook-form-macaw/CHANGELOG.md
  packages/react-hook-form-macaw/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
Labels: App: Slack, App: Search, App: Emails & Messages, App: Invoices, App: Klaviyo, App: Taxes, App: Data Importer, App: CMS, App: Monitoring, App: Product Feed, App: CRM

#540 Update dev dependencies
  .changeset/funny-oranges-provide.md
  .changeset/giant-pets-brush.md
  .changeset/polite-geese-punch.md
  .changeset/purple-adults-report.md
  .changeset/silent-countries-drum.md
  .changeset/silent-otters-cover.md
  .changeset/witty-icons-help.md
  .husky/pre-commit
  .syncpackrc
  apps/cms/package.json
  apps/crm/package.json
  apps/data-importer/package.json
  apps/emails-and-messages/package.json
  apps/invoices/next.config.js
  apps/invoices/package.json
  apps/klaviyo/next.config.js
  apps/klaviyo/package.json
  apps/monitoring/package.json
  apps/products-feed/package.json
  apps/search/package.json
  apps/slack/next.config.js
  apps/slack/package.json
  apps/taxes/package.json
  package.json
  packages/eslint-config-saleor/package.json
  packages/react-hook-form-macaw/package.json
  packages/shared/package.json
  packages/ui/package.json
  pnpm-lock.yaml
  syncpack.config.js
Labels: App: Slack, App: Search, App: Emails & Messages, App: Invoices, App: Klaviyo, App: Taxes, App: Data Importer, App: CMS, App: Monitoring, App: Product Feed, App: CRM, check dependencies

#546 📧 Improve layout and white-space
  .changeset/odd-berries-think.md
  apps/emails-and-messages/src/components/box-footer.tsx
  apps/emails-and-messages/src/components/section-with-description.tsx
  apps/emails-and-messages/src/modules/app-configuration/ui/messaging-providers-box.tsx
  apps/emails-and-messages/src/modules/app-configuration/ui/provider-selection-box.tsx
  apps/emails-and-messages/src/modules/sendgrid/ui/sendgrid-dangerous-section.tsx
  apps/emails-and-messages/src/modules/sendgrid/ui/sendgrid-logo.tsx
  apps/emails-and-messages/src/modules/smtp/ui/smtp-dangerous-section.tsx
  apps/emails-and-messages/src/modules/smtp/ui/smtp-logo.tsx
  apps/emails-and-messages/src/pages/configuration/choose-provider.tsx
  apps/emails-and-messages/src/pages/configuration/sendgrid/[configurationId].tsx
  apps/emails-and-messages/src/pages/configuration/smtp/[configurationId].tsx
  apps/search/src/views/configuration/configuration.view.tsx
Labels: App: Search, App: Emails & Messages

#542 🚀 Release apps
  .changeset/funny-oranges-provide.md
  .changeset/giant-pets-brush.md
  .changeset/odd-berries-think.md
  .changeset/polite-badgers-relate.md
  .changeset/polite-geese-punch.md
  .changeset/popular-comics-sniff.md
  .changeset/purple-adults-report.md
  .changeset/silent-countries-drum.md
  .changeset/silent-otters-cover.md
  .changeset/three-hats-attack.md
  .changeset/witty-icons-help.md
  apps/cms/CHANGELOG.md
  apps/cms/package.json
  apps/crm/CHANGELOG.md
  apps/crm/package.json
  apps/data-importer/CHANGELOG.md
  apps/data-importer/package.json
  apps/emails-and-messages/CHANGELOG.md
  apps/emails-and-messages/package.json
  apps/invoices/CHANGELOG.md
  apps/invoices/package.json
  apps/klaviyo/CHANGELOG.md
  apps/klaviyo/package.json
  apps/monitoring/CHANGELOG.md
  apps/monitoring/package.json
  apps/products-feed/CHANGELOG.md
  apps/products-feed/package.json
  apps/search/CHANGELOG.md
  apps/search/package.json
  apps/slack/CHANGELOG.md
  apps/slack/package.json
  apps/taxes/CHANGELOG.md
  apps/taxes/package.json
  packages/eslint-config-saleor/CHANGELOG.md
  packages/eslint-config-saleor/package.json
  packages/react-hook-form-macaw/CHANGELOG.md
  packages/react-hook-form-macaw/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
  packages/ui/CHANGELOG.md
  packages/ui/package.json
Labels: App: Slack, App: Search, App: Emails & Messages, App: Invoices, App: Klaviyo, App: Taxes, App: Data Importer, App: CMS, App: Monitoring, App: Product Feed, App: CRM

#555 feat: shipping tax code
  apps/taxes/src/modules/avatax/avatax-connection-schema.ts
  apps/taxes/src/modules/avatax/ui/avatax-configuration-form.tsx
  apps/taxes/src/modules/channel-configuration/ui/channel-table.tsx
  apps/taxes/src/modules/ui/provider-label.tsx
  apps/taxes/src/pages/providers/index.tsx
  packages/react-hook-form-macaw/src/components/Toggle.tsx
Labels: App: Taxes

#553 Changed index prefix in algolia to be optional
  .changeset/tricky-rings-beam.md
  apps/search/src/components/AlgoliaConfigurationForm.tsx
Labels: App: Search

#545 Taxes 💸: Add runtime migrations to schema v2
  apps/taxes/package.json
  apps/taxes/scripts/migrations/channels-config-schema-v1.ts
  apps/taxes/scripts/migrations/channels-config-schema-v2.ts
  apps/taxes/scripts/migrations/dummy-utils.ts
  apps/taxes/scripts/migrations/migration-utils.ts
  apps/taxes/scripts/migrations/run-migration.ts
  apps/taxes/scripts/migrations/run-report.ts
  apps/taxes/scripts/migrations/tax-channels-metadata-manager-v1.ts
  apps/taxes/scripts/migrations/tax-channels-metadata-manager-v2.ts
  apps/taxes/scripts/migrations/tax-channels-migration-v1-to-v2.ts
  apps/taxes/scripts/migrations/tax-channels-transform-v1-to-v2.test.ts
  apps/taxes/scripts/migrations/tax-channels-transform-v1-to-v2.ts
  apps/taxes/scripts/migrations/tax-providers-config-schema-v1.ts
  apps/taxes/scripts/migrations/tax-providers-config-schema-v2.ts
  apps/taxes/scripts/migrations/tax-providers-metadata-manager-v1.ts
  apps/taxes/scripts/migrations/tax-providers-metadata-manager-v2.ts
  apps/taxes/scripts/migrations/tax-providers-migration-v1-to-v2.ts
  apps/taxes/scripts/migrations/tax-providers-transform-v1-to-v2.test.ts
  apps/taxes/scripts/migrations/tax-providers-transform-v1-to-v2.ts
  apps/taxes/src/modules/app/metadata-manager.ts
  apps/taxes/src/modules/avatax/avatax-connection.router.ts
  apps/taxes/src/modules/avatax/configuration/avatax-connection-repository.ts
  apps/taxes/src/modules/avatax/configuration/avatax-connection.service.ts
  apps/taxes/src/modules/avatax/configuration/public-avatax-connection.service.ts
  apps/taxes/src/modules/channel-configuration/channel-configuration-settings.ts
  apps/taxes/src/modules/channel-configuration/channel-configuration.router.ts
  apps/taxes/src/modules/channel-configuration/channel-configuration.service.ts
  apps/taxes/src/modules/provider-connections/provider-connections.router.ts
  apps/taxes/src/modules/provider-connections/provider-connections.ts
  apps/taxes/src/modules/provider-connections/public-provider-connections.service.ts
  apps/taxes/src/modules/taxjar/configuration/public-taxjar-connection.service.ts
  apps/taxes/src/modules/taxjar/configuration/taxjar-connection-repository.ts
  apps/taxes/src/modules/taxjar/configuration/taxjar-connection.service.ts
  apps/taxes/src/modules/taxjar/taxjar-connection.router.ts
  pnpm-lock.yaml
Labels: App: Taxes

#563 fix: creating & updating a provider
  apps/taxes/scripts/migrations/run-generate-dummy-data.ts
  apps/taxes/scripts/migrations/tax-channels-transform-v1-to-v2.test.ts
  apps/taxes/scripts/migrations/tax-providers-transform-v1-to-v2.test.ts
  apps/taxes/src/modules/app/app-configurator.ts
  apps/taxes/src/modules/avatax/avatax-connection.router.ts
  apps/taxes/src/modules/avatax/ui/avatax-configuration-form.tsx
  apps/taxes/src/modules/crud-settings/crud-settings.service.test.ts
  apps/taxes/src/modules/crud-settings/crud-settings.service.ts
  apps/taxes/src/modules/taxjar/configuration/taxjar-connection.service.ts
  apps/taxes/src/modules/taxjar/taxjar-connection.router.ts
  apps/taxes/src/modules/ui/table.tsx
Labels: App: Taxes

#552 Add logo to apps
  .changeset/blue-wasps-cover.md
  .changeset/lemon-maps-grow.md
  apps/cms/package.json
  apps/cms/public/logo.png
  apps/cms/src/pages/api/manifest.ts
  apps/crm/package.json
  apps/crm/public/logo.png
  apps/crm/src/pages/api/manifest.ts
  apps/data-importer/package.json
  apps/data-importer/public/logo.png
  apps/data-importer/public/logo.svg
  apps/data-importer/src/pages/api/manifest.ts
  apps/emails-and-messages/package.json
  apps/emails-and-messages/public/logo.png
  apps/emails-and-messages/src/pages/api/manifest.ts
  apps/invoices/package.json
  apps/invoices/public/logo.png
  apps/klaviyo/package.json
  apps/klaviyo/public/favicon.ico
  apps/klaviyo/public/logo.png
  apps/klaviyo/public/vercel.svg
  apps/klaviyo/src/pages/api/manifest.ts
  apps/monitoring/backend/monitoring/settings.py
  apps/monitoring/package.json
  apps/monitoring/src/public/favicon.ico
  apps/monitoring/src/public/logo.png
  apps/monitoring/src/public/vercel.svg
  apps/products-feed/package.json
  apps/products-feed/public/logo.png
  apps/products-feed/src/pages/api/manifest.ts
  apps/search/package.json
  apps/search/public/logo.png
  apps/search/src/pages/api/manifest.ts
  apps/slack/package.json
  apps/slack/public/favicon.ico
  apps/slack/public/logo.png
  apps/slack/public/vercel.svg
  apps/slack/src/pages/api/manifest.ts
  apps/taxes/package.json
  apps/taxes/public/logo.png
  apps/taxes/src/pages/api/manifest.ts
  packages/shared/package.json
  packages/ui/package.json
  pnpm-lock.yaml
Labels: App: Slack, App: Search, App: Emails & Messages, App: Invoices, App: Klaviyo, App: Taxes, App: Data Importer, App: CMS, App: Monitoring, App: Product Feed, App: CRM

#568 Update dependencies
  .changeset/spicy-seahorses-shake.md
  apps/cms/package.json
  apps/crm/package.json
  apps/data-importer/package.json
  apps/emails-and-messages/package.json
  apps/invoices/package.json
  apps/klaviyo/package.json
  apps/monitoring/package.json
  apps/products-feed/package.json
  apps/search/package.json
  apps/slack/package.json
  apps/taxes/package.json
  package.json
  packages/eslint-config-saleor/package.json
  packages/react-hook-form-macaw/package.json
  packages/shared/package.json
  packages/ui/package.json
  pnpm-lock.yaml
Labels: App: Slack, App: Search, App: Emails & Messages, App: Invoices, App: Klaviyo, App: Taxes, App: Data Importer, App: CMS, App: Monitoring, App: Product Feed, App: CRM

#646 📧 Dynamic webhook management
  .changeset/two-dingos-notice.md
  apps/emails-and-messages/src/lib/register-notify-webhook.ts
  apps/emails-and-messages/src/modules/sendgrid/configuration/sendgrid-configuration.router.ts
  apps/emails-and-messages/src/modules/smtp/configuration/smtp-configuration.router.ts
  apps/emails-and-messages/src/modules/trpc/protected-client-procedure-with-services.ts
  apps/emails-and-messages/src/modules/trpc/trpc-context.ts
  apps/emails-and-messages/src/modules/trpc/trpc-server.ts
  apps/emails-and-messages/src/modules/webhook-management/api-operations.ts
  apps/emails-and-messages/src/modules/webhook-management/get-webhook-statuses-from-configurations.test.ts
  apps/emails-and-messages/src/modules/webhook-management/get-webhook-statuses-from-configurations.ts
  apps/emails-and-messages/src/modules/webhook-management/sync-webhook-status.test.ts
  apps/emails-and-messages/src/modules/webhook-management/sync-webhook-status.ts
  apps/emails-and-messages/src/modules/webhook-management/webhook-management-service.test.ts
  apps/emails-and-messages/src/modules/webhook-management/webhook-management-service.ts
  apps/emails-and-messages/src/pages/api/manifest.ts
  apps/emails-and-messages/src/pages/api/register.ts
Labels: App: Emails & Messages

#660 Update helper text for PF app - S3->region field
  .changeset/eighty-boxes-exist.md
  apps/products-feed/src/modules/app-configuration/s3-configuration-form.tsx
Labels: App: Product Feed

#662 fix: :bug: not being able to update one credential
  .changeset/wild-pears-swim.md
  apps/taxes/src/modules/avatax/configuration/avatax-connection.service.ts
  apps/taxes/src/modules/avatax/ui/edit-avatax-configuration.tsx
  apps/taxes/src/modules/provider-connections/patch-input-transformer.ts
  apps/taxes/src/modules/taxjar/configuration/taxjar-connection.service.ts
Labels: App: Taxes

#666 📧 Improve descriptions
  .changeset/poor-needles-burn.md
  apps/emails-and-messages/src/modules/sendgrid/ui/api-connection-section.tsx
  apps/emails-and-messages/src/modules/sendgrid/ui/sendgrid-events-section.tsx
  apps/emails-and-messages/src/pages/configuration/sendgrid/new.tsx
Labels: App: Emails & Messages

#671 Redesign Slack app to use new Macaw / next
  .changeset/plenty-mayflies-enjoy.md
  apps/slack/package.json
  apps/slack/src/components/AccessWarning/AccessWarning.tsx
  apps/slack/src/components/AppColumnsLayout/AppColumnsLayout.tsx
  apps/slack/src/components/LoadingPage/LoadingPage.tsx
  apps/slack/src/components/LoadingPage/styles.ts
  apps/slack/src/hooks/theme-synchronizer.tsx
  apps/slack/src/pages/_app.tsx
  apps/slack/src/pages/_error.js
  apps/slack/src/pages/configuration.tsx
  apps/slack/src/pages/index.tsx
  pnpm-lock.yaml
Labels: App: Slack, Hackathon

#669 Add test-ids to product feed
  .changeset/ninety-plums-look.md
  .changeset/poor-hounds-move.md
  apps/products-feed/src/modules/category-mapping/construct-category-breadcrumbs.tsx
  apps/products-feed/src/modules/category-mapping/ui/category-mapping-form.tsx
  apps/products-feed/src/modules/category-mapping/ui/category-mapping.tsx
  apps/products-feed/src/pages/categories.tsx
  apps/products-feed/src/pages/configuration.tsx
Labels: App: Product Feed

#664 Improve errors handling in Invoices app
  .changeset/famous-trees-work.md
  apps/invoices/next.config.js
  apps/invoices/sentry.client.config.ts
  apps/invoices/sentry.edge.config.ts
  apps/invoices/sentry.server.config.ts
  apps/invoices/src/modules/app-configuration/app-configuration-router.ts
  apps/invoices/src/modules/app-configuration/ui/address-form.tsx
  apps/invoices/src/pages/api/webhooks/invoice-requested.ts
Labels: App: Invoices

#677 Monitoring app UI
  .changeset/twenty-apricots-own.md
  apps/monitoring/.env.example
  apps/monitoring/README.md
  apps/monitoring/docker-compose.yml
  apps/monitoring/next.config.js
  apps/monitoring/package.json
  apps/monitoring/src/datadog-urls.ts
  apps/monitoring/src/graphql-provider.tsx
  apps/monitoring/src/lib/is-in-iframe.ts
  apps/monitoring/src/lib/no-ssr-wrapper.tsx
  apps/monitoring/src/lib/theme-synchronizer.test.tsx
  apps/monitoring/src/lib/theme-synchronizer.tsx
  apps/monitoring/src/pages/_app.tsx
  apps/monitoring/src/pages/configuration/[[...path]].tsx
  apps/monitoring/src/pages/index.tsx
  apps/monitoring/src/style.css
  apps/monitoring/src/styles/globals.css
  apps/monitoring/src/ui/app-columns-layout.tsx
  apps/monitoring/src/ui/datadog/datadog-config.tsx
  apps/monitoring/src/ui/no-providers-configured.tsx
  apps/monitoring/src/ui/providers-list.tsx
  apps/monitoring/src/ui/sections.tsx
  apps/slack/package.json
  pnpm-lock.yaml
Labels: App: Slack, App: Monitoring

#670 update macaw in klaviyo
  .changeset/proud-phones-change.md
  apps/klaviyo/next.config.js
  apps/klaviyo/package.json
  apps/klaviyo/src/components/AccessWarning/AccessWarning.tsx
  apps/klaviyo/src/components/LoadingPage/LoadingPage.tsx
  apps/klaviyo/src/components/LoadingPage/styles.ts
  apps/klaviyo/src/hooks/theme-synchronizer.tsx
  apps/klaviyo/src/lib/ui/app-columns-layout.tsx
  apps/klaviyo/src/pages/_app.tsx
  apps/klaviyo/src/pages/configuration.tsx
  apps/klaviyo/src/pages/index.tsx
  pnpm-lock.yaml
Labels: App: Klaviyo, Hackathon

#681 chore: :card_file_box: modify migration scripts to overwrite
  apps/taxes/scripts/migrations/tax-channels-migration-v1-to-v2.ts
  apps/taxes/scripts/migrations/tax-providers-migration-v1-to-v2.ts
Labels: App: Taxes

#680 fix: tax code matcher QA
  apps/taxes/TESTING.md
  apps/taxes/src/modules/avatax/avatax-connection.router.ts
  apps/taxes/src/modules/avatax/configuration/public-avatax-connection.service.ts
  apps/taxes/src/modules/avatax/ui/avatax-configuration-form.tsx
  apps/taxes/src/modules/avatax/ui/avatax-tax-code-matcher-table.tsx
  apps/taxes/src/modules/avatax/ui/create-avatax-configuration.tsx
  apps/taxes/src/modules/avatax/ui/edit-avatax-configuration.tsx
  apps/taxes/src/modules/channel-configuration/ui/channel-list.tsx
  apps/taxes/src/modules/channel-configuration/ui/channel-section.tsx
  apps/taxes/src/modules/provider-connections/ui/providers-list.tsx
  apps/taxes/src/modules/provider-connections/ui/providers-section.tsx
  apps/taxes/src/modules/taxes/get-active-connection-service.test.ts
  apps/taxes/src/modules/taxes/get-active-connection-service.ts
  apps/taxes/src/modules/taxjar/configuration/public-taxjar-connection.service.ts
  apps/taxes/src/modules/taxjar/taxjar-client.ts
  apps/taxes/src/modules/taxjar/taxjar-connection.router.ts
  apps/taxes/src/modules/taxjar/ui/create-taxjar-configuration.tsx
  apps/taxes/src/modules/taxjar/ui/edit-taxjar-configuration.tsx
  apps/taxes/src/modules/taxjar/ui/taxjar-configuration-form.tsx
  apps/taxes/src/modules/taxjar/ui/taxjar-tax-code-matcher-table.tsx
  apps/taxes/src/modules/ui/app-section.tsx
  apps/taxes/src/modules/ui/app-toggle.tsx
  apps/taxes/src/modules/ui/matcher-section.tsx
  apps/taxes/src/modules/ui/providers-table.tsx
  apps/taxes/src/pages/api/webhooks/checkout-calculate-taxes.ts
  apps/taxes/src/pages/api/webhooks/order-calculate-taxes.ts
  apps/taxes/src/pages/api/webhooks/order-created.ts
  apps/taxes/src/pages/api/webhooks/order-fulfilled.ts
  apps/taxes/src/pages/configuration.tsx
  apps/taxes/src/pages/providers/avatax/matcher.tsx
  apps/taxes/src/pages/providers/index.tsx
  apps/taxes/src/pages/providers/taxjar/matcher.tsx
Labels: App: Taxes

#556 🚀 Release apps
  .changeset/blue-lies-enjoy.md
  .changeset/blue-wasps-cover.md
  .changeset/cold-candles-fly.md
  .changeset/cool-turtles-reflect.md
  .changeset/eight-toes-kneel.md
  .changeset/eighty-boxes-exist.md
  .changeset/famous-trees-work.md
  .changeset/few-boxes-doubt.md
  .changeset/gorgeous-hats-learn.md
  .changeset/lemon-maps-grow.md
  .changeset/ninety-plums-look.md
  .changeset/plenty-mayflies-enjoy.md
  .changeset/poor-chairs-reflect.md
  .changeset/poor-hounds-move.md
  .changeset/poor-needles-burn.md
  .changeset/proud-phones-change.md
  .changeset/real-years-return.md
  .changeset/short-ligers-dance.md
  .changeset/spicy-seahorses-shake.md
  .changeset/stupid-insects-smash.md
  .changeset/tricky-rings-beam.md
  .changeset/twenty-apricots-own.md
  .changeset/two-dingos-notice.md
  .changeset/wild-pears-swim.md
  .changeset/young-tigers-provide.md
  apps/cms/CHANGELOG.md
  apps/cms/package.json
  apps/crm/CHANGELOG.md
  apps/crm/package.json
  apps/data-importer/CHANGELOG.md
  apps/data-importer/package.json
  apps/emails-and-messages/CHANGELOG.md
  apps/emails-and-messages/package.json
  apps/invoices/CHANGELOG.md
  apps/invoices/package.json
  apps/klaviyo/CHANGELOG.md
  apps/klaviyo/package.json
  apps/monitoring/CHANGELOG.md
  apps/monitoring/package.json
  apps/products-feed/CHANGELOG.md
  apps/products-feed/package.json
  apps/search/CHANGELOG.md
  apps/search/package.json
  apps/slack/CHANGELOG.md
  apps/slack/package.json
  apps/taxes/CHANGELOG.md
  apps/taxes/package.json
  packages/eslint-config-saleor/CHANGELOG.md
  packages/eslint-config-saleor/package.json
  packages/react-hook-form-macaw/CHANGELOG.md
  packages/react-hook-form-macaw/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
  packages/ui/CHANGELOG.md
  packages/ui/package.json
Labels: App: Slack, App: Search, App: Emails & Messages, App: Invoices, App: Klaviyo, App: Taxes, App: Data Importer, App: CMS, App: Monitoring, App: Product Feed, App: CRM

#684 Disabled Klaviyo ssr
  .changeset/heavy-dragons-promise.md
  apps/klaviyo/src/pages/_app.tsx
Labels: App: Klaviyo

#668 E2E tests
  packages/e2e/.env.example
  packages/e2e/.eslintrc
  packages/e2e/.gitignore
  packages/e2e/package.json
  packages/e2e/playwright.config.ts
  packages/e2e/setup/configuration.ts
  packages/e2e/setup/routing.ts
  packages/e2e/tests/apps-installation.spec.ts
  packages/e2e/tests/apps/klaviyo/klaviyo-configuration.spec.ts
  packages/e2e/tests/apps/product-feed/assertions/assert-app-render.ts
  packages/e2e/tests/apps/product-feed/operations/fill-aws-s3-form.ts
  packages/e2e/tests/apps/product-feed/operations/fill-channel-config.ts
  packages/e2e/tests/apps/product-feed/operations/navigate-to-category-mapping.ts
  packages/e2e/tests/apps/product-feed/operations/set-category-mapping.ts
  packages/e2e/tests/apps/product-feed/product-feed-configuration.spec.ts
  packages/e2e/tests/apps/taxes/assertions/assert-app-render.ts
  packages/e2e/tests/apps/taxes/taxes-configuration.spec.ts
  packages/e2e/tests/assertions/assert-app-available.ts
  packages/e2e/tests/operations/install-app.ts
  packages/e2e/tests/operations/log-in-to-dashboard.ts
  packages/e2e/tests/operations/open-app.ts
  packages/e2e/turbo.json
  pnpm-lock.yaml
  turbo.json
Labels: Hackathon

#672 Update app-sdk
  .changeset/three-timers-glow.md
  apps/cms/package.json
  apps/crm/package.json
  apps/data-importer/package.json
  apps/emails-and-messages/package.json
  apps/invoices/package.json
  apps/klaviyo/package.json
  apps/monitoring/package.json
  apps/products-feed/package.json
  apps/search/package.json
  apps/search/src/views/configuration/configuration.view.tsx
  apps/slack/package.json
  apps/taxes/package.json
  packages/shared/package.json
  packages/ui/package.json
  pnpm-lock.yaml
Labels: App: Slack, App: Search, App: Emails & Messages, App: Invoices, App: Klaviyo, App: Taxes, App: Data Importer, App: CMS, App: Monitoring, App: Product Feed, App: CRM

#691 Add about field in manifest of all apps. Sorted fields
  .changeset/chilled-kiwis-type.md
  apps/cms/src/pages/api/manifest.ts
  apps/crm/src/pages/api/manifest.ts
  apps/data-importer/src/pages/api/manifest.ts
  apps/emails-and-messages/src/pages/api/manifest.ts
  apps/invoices/src/pages/api/manifest.ts
  apps/klaviyo/src/pages/api/manifest.ts
  apps/products-feed/src/pages/api/manifest.ts
  apps/search/src/pages/api/manifest.ts
  apps/slack/src/pages/api/manifest.ts
  apps/taxes/src/pages/api/manifest.ts
Labels: App: Slack, App: Search, App: Emails & Messages, App: Invoices, App: Klaviyo, App: Taxes, App: Data Importer, App: CMS, App: Product Feed, App: CRM
