Repository saleor/apps, pull requests merged in 2023-12, with the labels that each got.

#1131 Disable Sentry tracing and replay plugin
  .changeset/serious-papayas-repair.md
  apps/cms-v2/sentry.client.config.ts
  apps/cms-v2/sentry.edge.config.ts
  apps/cms-v2/sentry.server.config.ts
  apps/crm/sentry.client.config.ts
  apps/crm/sentry.edge.config.ts
  apps/crm/sentry.server.config.ts
  apps/data-importer/sentry.client.config.ts
  apps/data-importer/sentry.edge.config.ts
  apps/data-importer/sentry.server.config.ts
  apps/emails-and-messages/sentry.client.config.ts
  apps/emails-and-messages/sentry.edge.config.ts
  apps/emails-and-messages/sentry.server.config.ts
  apps/invoices/sentry.client.config.ts
  apps/invoices/sentry.edge.config.ts
  apps/invoices/sentry.server.config.ts
  apps/klaviyo/sentry.client.config.ts
  apps/klaviyo/sentry.edge.config.ts
  apps/klaviyo/sentry.server.config.ts
  apps/products-feed/sentry.client.config.ts
  apps/products-feed/sentry.edge.config.ts
  apps/products-feed/sentry.server.config.ts
  apps/search/sentry.client.config.ts
  apps/search/sentry.edge.config.ts
  apps/search/sentry.server.config.ts
  apps/segment/sentry.client.config.ts
  apps/segment/sentry.edge.config.ts
  apps/segment/sentry.server.config.ts
  apps/slack/sentry.client.config.ts
  apps/slack/sentry.edge.config.ts
  apps/slack/sentry.server.config.ts
  apps/taxes/sentry.client.config.ts
  apps/taxes/sentry.edge.config.ts
  apps/taxes/sentry.server.config.ts
Labels: App: Slack, App: Search, App: Emails & Messages, App: Invoices, App: Klaviyo, App: Taxes, App: Data Importer, App: CMS, App: Product Feed, App: CRM, App: Segment

#1133 🚀 Release apps
  .changeset/serious-papayas-repair.md
  apps/cms-v2/CHANGELOG.md
  apps/cms-v2/package.json
  apps/crm/CHANGELOG.md
  apps/crm/package.json
  apps/data-importer/CHANGELOG.md
  apps/data-importer/package.json
  apps/emails-and-messages/CHANGELOG.md
  apps/emails-and-messages/package.json
  apps/invoices/CHANGELOG.md
  apps/invoices/package.json
  apps/klaviyo/CHANGELOG.md
  apps/klaviyo/package.json
  apps/products-feed/CHANGELOG.md
  apps/products-feed/package.json
  apps/search/CHANGELOG.md
  apps/search/package.json
  apps/segment/CHANGELOG.md
  apps/segment/package.json
  apps/slack/CHANGELOG.md
  apps/slack/package.json
  apps/taxes/CHANGELOG.md
  apps/taxes/package.json
Labels: App: Slack, App: Search, App: Emails & Messages, App: Invoices, App: Klaviyo, App: Taxes, App: Data Importer, App: CMS, App: Product Feed, App: CRM, App: Segment, skip changeset

#1142 feat: :sparkles: add autocomplete and tax codes filtering
  .changeset/five-cherries-juggle.md
  apps/taxes/src/modules/avatax/avatax-client-tax-code.service.ts
  apps/taxes/src/modules/avatax/avatax-client.ts
  apps/taxes/src/modules/avatax/tax-code/avatax-tax-codes.router.ts
  apps/taxes/src/modules/avatax/tax-code/avatax-tax-codes.service.ts
  apps/taxes/src/modules/avatax/ui/avatax-tax-code-matcher-table.tsx
  apps/taxes/src/modules/avatax/ui/tax-code-select.tsx
  pnpm-lock.yaml
Labels: App: Taxes

#1139 🚀 Release apps
  .changeset/five-cherries-juggle.md
  .changeset/loud-spies-jump.md
  apps/cms-v2/CHANGELOG.md
  apps/cms-v2/package.json
  apps/crm/CHANGELOG.md
  apps/crm/package.json
  apps/data-importer/CHANGELOG.md
  apps/data-importer/package.json
  apps/emails-and-messages/CHANGELOG.md
  apps/emails-and-messages/package.json
  apps/invoices/CHANGELOG.md
  apps/invoices/package.json
  apps/klaviyo/CHANGELOG.md
  apps/klaviyo/package.json
  apps/products-feed/CHANGELOG.md
  apps/products-feed/package.json
  apps/search/CHANGELOG.md
  apps/search/package.json
  apps/segment/CHANGELOG.md
  apps/segment/package.json
  apps/slack/CHANGELOG.md
  apps/slack/package.json
  apps/taxes/CHANGELOG.md
  apps/taxes/package.json
Labels: App: Slack, App: Search, App: Emails & Messages, App: Invoices, App: Klaviyo, App: Taxes, App: Data Importer, App: CMS, App: Product Feed, App: CRM, App: Segment, skip changeset

#1145 reduce slack app memory
  .changeset/modern-ducks-count.md
  apps/slack/vercel.json
Labels: App: Slack

#1146 🚀 Release apps
  .changeset/modern-ducks-count.md
  apps/slack/CHANGELOG.md
  apps/slack/package.json
Labels: App: Slack

#1147 reduce cms ram limit in vercel
  .changeset/odd-crabs-care.md
  apps/cms-v2/vercel.json
Labels: App: CMS

#1148 🚀 Release apps
  .changeset/odd-crabs-care.md
  apps/cms-v2/CHANGELOG.md
  apps/cms-v2/package.json
Labels: App: CMS
