Repository saleor/apps, pull requests merged in 2023-02, with the labels that each got.

#133 Add forking & development readme
  README.md
  docs/forking.md
Labels: documentation

#143 Remove firstName and lastName from billing address of the company and form
  .changeset/new-walls-appear.md
  apps/invoices/src/fixtures/mock-address.ts
  apps/invoices/src/modules/app-configuration/address.ts
  apps/invoices/src/modules/app-configuration/app-config-container.test.ts
  apps/invoices/src/modules/app-configuration/app-config-container.ts
  apps/invoices/src/modules/app-configuration/app-config-input-schema.test.ts
  apps/invoices/src/modules/app-configuration/app-config-input-schema.ts
  apps/invoices/src/modules/app-configuration/app-config.ts
  apps/invoices/src/modules/app-configuration/fallback-app-config.ts
  apps/invoices/src/modules/app-configuration/ui/address-form.tsx
  apps/invoices/src/modules/invoice-generator/microinvoice/microinvoice-invoice-generator.ts
  apps/invoices/src/modules/shop-info/shop-info-fetcher.ts
Labels: App: Invoices

#148 Make content cards not sticky, for better support of smaller screens
  .changeset/thick-singers-mate.md
  .gitignore
  apps/invoices/src/modules/app-configuration/ui/channels-configuration.tsx
  apps/invoices/src/modules/ui/loader.tsx
  apps/invoices/src/pages/index.tsx
Labels: App: Invoices

#147 Fix missing attribute values in products
  .changeset/wet-dogs-warn.md
  apps/search/src/lib/algolia/algoliaUtils.ts
Labels: App: Search

#151 Search: Split webhook subscription query
  .changeset/nasty-avocados-drive.md
  apps/search/graphql/subscriptions/productCreated.graphql
  apps/search/graphql/subscriptions/productDeleted.graphql
  apps/search/graphql/subscriptions/productEdited.graphql
  apps/search/graphql/subscriptions/productUpdated.graphql
  apps/search/graphql/subscriptions/productVariantCreated.graphql
  apps/search/graphql/subscriptions/productVariantDeleted.graphql
  apps/search/graphql/subscriptions/productVariantUpdated.graphql
  apps/search/src/lib/algolia/getAlgoliaConfiguration.ts
  apps/search/src/pages/api/webhooks/saleor/_index.ts
  apps/search/src/pages/api/webhooks/saleor/product_created.ts
  apps/search/src/pages/api/webhooks/saleor/product_deleted.ts
  apps/search/src/pages/api/webhooks/saleor/product_updated.ts
  apps/search/src/pages/api/webhooks/saleor/product_variant_created.ts
  apps/search/src/pages/api/webhooks/saleor/product_variant_deleted.ts
  apps/search/src/pages/api/webhooks/saleor/product_variant_updated.ts
Labels: App: Search

#138 Update UI to match new dashboard style
  .changeset/shy-gorillas-shop.md
  .eslintignore
  .gitignore
  README.md
  apps/data-importer/src/pages/_app.tsx
  apps/data-importer/src/pages/importer.tsx
  apps/invoices/src/modules/app-configuration/ui/channels-list.tsx
  apps/invoices/src/pages/_app.tsx
  apps/klaviyo/pages/_app.tsx
  apps/search/package.json
  apps/search/src/pages/_app.tsx
  apps/slack/src/pages/_app.tsx
  docs/forking.md
  packages/shared/index.ts
  packages/shared/next-env.d.ts
  packages/shared/package.json
  packages/shared/src/globals.css
  packages/shared/src/macaw-theme-provider/macaw-theme-provider.tsx
  packages/shared/src/no-ssr-wrapper.tsx
  packages/shared/src/title-bar/title-bar.module.css
  packages/shared/src/title-bar/title-bar.tsx
  packages/shared/tsconfig.json
  pnpm-lock.yaml
Labels: App: Slack, App: Search, App: Emails & Messages, App: Invoices, App: Klaviyo, App: Data Importer

#181 Improve css and remove unused search components
  .changeset/tasty-items-build.md
  apps/search/src/components/ConfigurationView.tsx
  apps/search/src/pages/search/index.tsx
  apps/search/src/styles/globals.css
Labels: App: Search

#182 Improve Invoices App UI
  .changeset/clean-onions-sparkle.md
  apps/invoices/src/modules/app-configuration/ui/address-form.tsx
  apps/invoices/src/modules/app-configuration/ui/channels-configuration.tsx
  apps/invoices/src/modules/app-configuration/ui/channels-list.tsx
  apps/invoices/src/pages/_app.tsx
  apps/invoices/src/styles/globals.css
Labels: App: Invoices

#145 Prepare Data Importer app for production
  .changeset/eleven-cycles-warn.md
  .changeset/stale-rockets-change.md
  .changeset/thirty-poets-collect.md
  apps/data-importer/.env.example
  apps/data-importer/public/logo.svg
  apps/data-importer/saleor-app.ts
  apps/data-importer/src/modules/authorization/use-authorized-token.ts
  apps/data-importer/src/modules/customers/customers-importer-nuvo/customers-importer-view.tsx
  apps/data-importer/src/modules/customers/customers-results/customers-importing-results.tsx
  apps/data-importer/src/pages/_app.tsx
  apps/data-importer/src/pages/api/register.ts
  apps/data-importer/src/pages/importer.tsx
  apps/data-importer/src/public/favicon.ico
  apps/data-importer/src/public/vercel.svg
  apps/data-importer/src/styles/globals.css
  apps/monitoring/README.md
  apps/monitoring/src/setup-tests.ts
  apps/slack/src/pages/_app.tsx
  package.json
  packages/shared/src/app-icon/app-icon.tsx
  packages/shared/src/title-bar/title-bar.tsx
  pnpm-lock.yaml
  turbo.json
Labels: App: Data Importer

#202 Inverting colors dark mode in Data Importer
  .changeset/olive-tips-train.md
  apps/data-importer/package.json
  apps/data-importer/src/modules/customers/customers-importer-nuvo/customers-importer-view.tsx
  pnpm-lock.yaml
Labels: App: Data Importer

#196 Safely parse first channel from the list, if no channels exist
  .changeset/dull-items-bake.md
  apps/invoices/src/modules/app-configuration/ui/channels-configuration.tsx
  apps/products-feed/src/modules/app-configuration/ui/channels-configuration.tsx
Labels: App: Invoices, App: Products Feed

#219 Slack: Fallback missing user name and last name in message
  .changeset/kind-sheep-jog.md
  .changeset/seven-frogs-return.md
  apps/slack/src/lib/slack.ts
  apps/slack/src/pages/api/webhooks/order-created.ts
Labels: App: Slack

#220 Invoices: validate Saleor version and fail if lower than declared
  .changeset/good-camels-pull.md
  apps/invoices/package.json
  apps/invoices/src/pages/api/register.ts
  pnpm-lock.yaml
Labels: App: Invoices

#222 Invoices: Bump sdk to 0.33 and update register handler errors
  apps/invoices/package.json
  apps/invoices/src/pages/api/register.ts
  pnpm-lock.yaml
Labels: App: Invoices
