Repository saleor/apps, pull requests merged in 2023-03, with the labels that each got.

#264 refactor: :truck: split avatax & taxjar into separate services
  .changeset/nervous-toys-lay.md
  apps/taxes/src/lib/utils.ts
  apps/taxes/src/modules/avatax/avatax-calculate.ts
  apps/taxes/src/modules/avatax/avatax-client.ts
  apps/taxes/src/modules/avatax/avatax-config.ts
  apps/taxes/src/modules/avatax/avatax-configuration.router.ts
  apps/taxes/src/modules/avatax/avatax-configuration.service.ts
  apps/taxes/src/modules/avatax/avatax-provider.ts
  apps/taxes/src/modules/avatax/ui/avatax-configuration-form.tsx
  apps/taxes/src/modules/avatax/ui/avatax-configuration.tsx
  apps/taxes/src/modules/channels/ui/channel-tax-provider-form.tsx
  apps/taxes/src/modules/crud-settings/crud-settings.service.ts
  apps/taxes/src/modules/providers-configuration/get-providers-configuration.service.ts
  apps/taxes/src/modules/providers-configuration/providers-config.ts
  apps/taxes/src/modules/providers-configuration/providers-configuration-service.ts
  apps/taxes/src/modules/providers-configuration/providers-configuration.router.ts
  apps/taxes/src/modules/providers-configuration/providers-configurator.ts
  apps/taxes/src/modules/providers-configuration/ui/configuration.tsx
  apps/taxes/src/modules/providers-configuration/ui/providers-instances-list.tsx
  apps/taxes/src/modules/taxes/active-tax-provider.ts
  apps/taxes/src/modules/taxes/providers/avatax/avatax-config.ts
  apps/taxes/src/modules/taxes/providers/config.ts
  apps/taxes/src/modules/taxes/providers/taxjar/taxjar-config.ts
  apps/taxes/src/modules/taxes/tax-common-schema.ts
  apps/taxes/src/modules/taxes/tax-provider.ts
  apps/taxes/src/modules/taxjar/taxjar-calculate.ts
  apps/taxes/src/modules/taxjar/taxjar-client.ts
  apps/taxes/src/modules/taxjar/taxjar-config.ts
  apps/taxes/src/modules/taxjar/taxjar-configuration.router.ts
  apps/taxes/src/modules/taxjar/taxjar-configuration.service.ts
  apps/taxes/src/modules/taxjar/taxjar-provider.ts
  apps/taxes/src/modules/taxjar/ui/taxjar-configuration-form.tsx
  apps/taxes/src/modules/taxjar/ui/taxjar-configuration.tsx
  apps/taxes/src/modules/trpc/trpc-app-router.ts
  apps/taxes/src/pages/api/webhooks/checkout-calculate-taxes.ts
  apps/taxes/src/pages/api/webhooks/order-calculate-taxes.ts
Labels: App: Taxes

#271 fix/split providers
  .changeset/yellow-bottles-jog.md
  apps/taxes/src/modules/avatax/avatax-config.ts
  apps/taxes/src/modules/avatax/avatax-configuration.router.ts
  apps/taxes/src/modules/avatax/avatax-configuration.service.ts
  apps/taxes/src/modules/avatax/ui/avatax-configuration-form.tsx
  apps/taxes/src/modules/providers-configuration/private-providers-configuration-service.ts
  apps/taxes/src/modules/providers-configuration/providers-configuration.router.ts
  apps/taxes/src/modules/providers-configuration/public-providers-configuration-service.ts
  apps/taxes/src/modules/taxjar/taxjar-config.ts
  apps/taxes/src/modules/taxjar/taxjar-configuration.router.ts
  apps/taxes/src/modules/taxjar/taxjar-configuration.service.ts
  apps/taxes/src/modules/taxjar/ui/taxjar-configuration-form.tsx
  apps/taxes/src/pages/api/webhooks/checkout-calculate-taxes.ts
  apps/taxes/src/pages/api/webhooks/order-calculate-taxes.ts
Labels: App: Taxes

#270 Release apps
  .changeset/nervous-toys-lay.md
  .changeset/yellow-bottles-jog.md
  apps/taxes/CHANGELOG.md
  apps/taxes/package.json
Labels: App: Taxes

#265 Invoices: Add debug logs and better temp pdf location
  .changeset/olive-singers-promise.md
  .gitignore
  apps/invoices/.env.test
  apps/invoices/.gitignore
  apps/invoices/package.json
  apps/invoices/src/modules/invoice-file-name/resolve-temp-pdf-file-location.test.ts
  apps/invoices/src/modules/invoice-file-name/resolve-temp-pdf-file-location.ts
  apps/invoices/src/modules/invoice-generator/microinvoice/microinvoice-invoice-generator.test.ts
  apps/invoices/src/modules/invoice-uploader/saleor-invoice-uploader.ts
  apps/invoices/src/pages/api/webhooks/invoice-requested.ts
  apps/invoices/src/setup-tests.ts
  pnpm-lock.yaml
Labels: App: Invoices

#284 Fix the blinking of the forms and wrong redirection after removing the conf
  apps/emails-and-messages/src/modules/mjml/configuration/get-mjml-configuration.service.ts
  apps/emails-and-messages/src/modules/mjml/configuration/mjml-config-container.ts
  apps/emails-and-messages/src/modules/mjml/configuration/mjml-config-input-schema.ts
  apps/emails-and-messages/src/modules/mjml/configuration/mjml-configuration.router.ts
  apps/emails-and-messages/src/modules/mjml/configuration/ui/mjml-configuration-form.tsx
  apps/emails-and-messages/src/modules/mjml/configuration/ui/mjml-configuration-tab.tsx
Labels: App: Emails & Messages

#291 Update the codegen version
  .changeset/strange-jeans-fly.md
  apps/data-importer/package.json
  apps/emails-and-messages/graphql/queries/FetchAppDetails.graphql
  apps/emails-and-messages/package.json
  apps/emails-and-messages/src/modules/app-configuration/get-app-configuration.service.ts
  apps/emails-and-messages/src/modules/app-configuration/metadata-manager.ts
  apps/emails-and-messages/src/modules/mjml/configuration/get-mjml-configuration.service.ts
  apps/emails-and-messages/src/modules/sendgrid/configuration/get-sendgrid-configuration.service.ts
  apps/emails-and-messages/src/modules/sendgrid/configuration/sendgrid-configuration.router.ts
  apps/invoices/package.json
  apps/klaviyo/package.json
  apps/monitoring/package.json
  apps/products-feed/package.json
  apps/search/package.json
  apps/slack/package.json
  apps/taxes/package.json
  pnpm-lock.yaml
Labels: App: Slack, App: Search, App: Emails & Messages, App: Invoices, App: Klaviyo, App: Taxes, App: Data Importer, App: Monitoring, App: Product Feed

#294 CMS setup tests fix
  apps/cms/package.json
  apps/cms/src/setup-tests.ts
  apps/cms/vitest.config.ts
  pnpm-lock.yaml
Labels: App: CMS

#289 Release apps
  .changeset/eight-eagles-sin.md
  .changeset/olive-singers-promise.md
  .changeset/strange-jeans-fly.md
  apps/data-importer/CHANGELOG.md
  apps/data-importer/package.json
  apps/emails-and-messages/CHANGELOG.md
  apps/emails-and-messages/package.json
  apps/invoices/CHANGELOG.md
  apps/invoices/package.json
  apps/klaviyo/CHANGELOG.md
  apps/klaviyo/package.json
  apps/monitoring/CHANGELOG.md
  apps/monitoring/package.json
  apps/products-feed/CHANGELOG.md
  apps/products-feed/package.json
  apps/search/CHANGELOG.md
  apps/search/package.json
  apps/slack/CHANGELOG.md
  apps/slack/package.json
  apps/taxes/CHANGELOG.md
  apps/taxes/package.json
Labels: App: Emails & Messages

#300 Add SMTP server auth
  .changeset/seven-sheep-watch.md
  apps/emails-and-messages/src/modules/mjml/configuration/mjml-config-container.ts
  apps/emails-and-messages/src/modules/mjml/configuration/mjml-config-input-schema.ts
  apps/emails-and-messages/src/modules/mjml/configuration/mjml-config.ts
  apps/emails-and-messages/src/modules/mjml/configuration/ui/mjml-configuration-form.tsx
  apps/emails-and-messages/src/modules/mjml/send-email-with-smtp.ts
  apps/emails-and-messages/src/modules/mjml/send-mjml.ts
Labels: App: Emails & Messages

#299 Author field in manifests
  .changeset/few-tips-shake.md
  .changeset/purple-avocados-sip.md
  .changeset/tough-badgers-argue.md
  apps/cms/package.json
  apps/cms/src/pages/api/manifest.ts
  apps/data-importer/package.json
  apps/data-importer/src/pages/api/manifest.ts
  apps/emails-and-messages/package.json
  apps/emails-and-messages/src/modules/trpc/trpc-server.ts
  apps/emails-and-messages/src/pages/api/manifest.ts
  apps/invoices/package.json
  apps/invoices/src/modules/trpc/trpc-server.ts
  apps/invoices/src/pages/api/manifest.ts
  apps/klaviyo/package.json
  apps/monitoring/package.json
  apps/products-feed/package.json
  apps/products-feed/src/modules/trpc/trpc-server.ts
  apps/products-feed/src/pages/api/manifest.ts
  apps/search/package.json
  apps/search/src/pages/api/configuration.ts
  apps/search/src/pages/api/manifest.ts
  apps/slack/package.json
  apps/slack/src/lib/slack.ts
  apps/slack/src/pages/api/manifest.ts
  apps/slack/src/pages/api/webhooks/order-created.ts
  apps/taxes/package.json
  apps/taxes/src/modules/trpc/trpc-server.ts
  apps/taxes/src/pages/api/manifest.ts
  pnpm-lock.yaml
Labels: App: Slack, App: Search, App: Emails & Messages, App: Invoices, App: Klaviyo, App: Taxes, App: Data Importer, App: CMS, App: Monitoring, App: Product Feed

#303 chore/replace taxes readme
  .changeset/soft-bulldogs-stare.md
  README.md
  apps/taxes/README.md
Labels: App: Taxes

#311 Add Sentry setup
  .changeset/cuddly-cats-hang.md
  apps/cms/next.config.js
  apps/cms/package.json
  apps/cms/sentry.client.config.js
  apps/cms/sentry.edge.config.js
  apps/cms/sentry.server.config.js
  apps/cms/src/pages/_error.js
  pnpm-lock.yaml
Labels: App: CMS

#309 CMS providers update
  apps/cms/CONTRIBUTING.md
  apps/cms/README.md
  apps/cms/docs/datocms.md
  apps/cms/docs/strapi.md
  apps/cms/package.json
  apps/cms/src/lib/cms/client/clients-operations.test.ts
  apps/cms/src/lib/cms/client/clients-operations.ts
  apps/cms/src/lib/cms/client/metadata.ts
  apps/cms/src/lib/cms/config/providers.ts
  apps/cms/src/lib/cms/providers/contentful.ts
  apps/cms/src/lib/cms/providers/datocms.ts
  apps/cms/src/lib/cms/providers/strapi.ts
  apps/cms/src/modules/provider-instances/ui/provider-instance-configuration-form.tsx
  apps/cms/src/modules/ui/app-markdown-text.tsx
  pnpm-lock.yaml
Labels: App: CMS

#318 Update README.md
  apps/cms/README.md
Labels: App: CMS

#319 CMS UI and webhook updates
  apps/cms/graphql/queries/FetchProductVariantMetadata.graphql
  apps/cms/src/lib/cms/client/clients-operations.test.ts
  apps/cms/src/lib/cms/client/clients-operations.ts
  apps/cms/src/lib/cms/config/providers.ts
  apps/cms/src/lib/metadata.ts
  apps/cms/src/modules/channels/ui/channel-configuration-form.tsx
  apps/cms/src/modules/channels/ui/channel-configuration.tsx
  apps/cms/src/modules/provider-instances/ui/provider-instance-configuration-form.tsx
  apps/cms/src/modules/provider-instances/ui/provider-instance-configuration.tsx
  apps/cms/src/modules/provider-instances/ui/provider-instances-list-items.tsx
  apps/cms/src/modules/provider-instances/ui/provider-instances-list.tsx
  apps/cms/src/modules/ui/instructions.tsx
  apps/cms/src/pages/api/webhooks/product-variant-created.ts
  apps/cms/src/pages/api/webhooks/product-variant-deleted.ts
  apps/cms/src/pages/api/webhooks/product-variant-updated.ts
Labels: App: CMS

#324 Product data updates in CMS product variant objects
  apps/cms/graphql/fragments/WebhookProduct.graphql
  apps/cms/src/pages/api/manifest.ts
  apps/cms/src/pages/api/webhooks/product-updated.ts
Labels: App: CMS

#323 Update Feed App UI
  .changeset/pretty-months-mix.md
  apps/products-feed/src/modules/app-configuration/ui/channels-configuration.tsx
  apps/products-feed/src/modules/app-configuration/ui/channels-list.tsx
  apps/products-feed/src/modules/app-configuration/ui/feed-preview-card.tsx
  apps/products-feed/src/modules/app-configuration/ui/side-menu.tsx
  apps/products-feed/src/modules/app-configuration/ui/url-configuration-form.tsx
  apps/products-feed/src/modules/ui/app-columns-layout.tsx
  apps/products-feed/src/pages/_app.tsx
  apps/products-feed/src/pages/configuration.tsx
  apps/products-feed/src/pages/index.tsx
  apps/products-feed/src/styles/globals.css
Labels: App: Product Feed

#321 Update the sendgrid support
  .changeset/large-seals-study.md
  apps/emails-and-messages/src/modules/app-configuration/ui/channels-configuration-tab.tsx
  apps/emails-and-messages/src/modules/event-handlers/send-event-messages.ts
  apps/emails-and-messages/src/modules/sendgrid/configuration/get-sendgrid-configuration.service.ts
  apps/emails-and-messages/src/modules/sendgrid/configuration/sendgrid-config-container.ts
  apps/emails-and-messages/src/modules/sendgrid/configuration/sendgrid-config-input-schema.ts
  apps/emails-and-messages/src/modules/sendgrid/configuration/sendgrid-config.ts
  apps/emails-and-messages/src/modules/sendgrid/configuration/sendgrid-configuration.router.ts
  apps/emails-and-messages/src/modules/sendgrid/configuration/ui/fetch-templates.ts
  apps/emails-and-messages/src/modules/sendgrid/configuration/ui/sendgrid-configuration-form.tsx
  apps/emails-and-messages/src/modules/sendgrid/configuration/ui/sendgrid-configuration-tab.tsx
  apps/emails-and-messages/src/modules/sendgrid/configuration/ui/sendgrid-event-configuration-form.tsx
  apps/emails-and-messages/src/modules/sendgrid/configuration/ui/sendgrid-templates-card.tsx
  apps/emails-and-messages/src/modules/sendgrid/get-sendgrid-settings.ts
  apps/emails-and-messages/src/modules/sendgrid/send-sendgrid.ts
  apps/emails-and-messages/src/modules/sendgrid/sendgrid-api.ts
  apps/emails-and-messages/src/modules/sendgrid/urls.ts
  apps/emails-and-messages/src/modules/ui/configuration-page-base-layout.tsx
  apps/emails-and-messages/src/pages/configuration/sendgrid/[[...configurationId]].tsx
  apps/emails-and-messages/src/pages/configuration/sendgrid/[configurationId]/event/[eventType].tsx
Labels: App: Emails & Messages

#326 Release apps
  .changeset/cold-bugs-remember.md
  .changeset/large-seals-study.md
  .changeset/pretty-months-mix.md
  .changeset/small-parrots-listen.md
  apps/emails-and-messages/CHANGELOG.md
  apps/emails-and-messages/package.json
  apps/products-feed/CHANGELOG.md
  apps/products-feed/package.json
Labels: App: Emails & Messages, App: Product Feed

#327 Add cache to products feed
  .changeset/clean-dragons-jump.md
  apps/products-feed/README.md
  apps/products-feed/src/pages/api/feed/[url]/[channel]/google.xml.ts
  turbo.json
Labels: App: Product Feed

#337 fix/331 no provider available
  .changeset/five-hounds-play.md
  apps/taxes/src/modules/avatax/ui/avatax-configuration-form.tsx
  apps/taxes/src/modules/crud-settings/crud-settings.service.ts
  apps/taxes/src/modules/taxjar/taxjar-configuration.service.ts
  apps/taxes/src/modules/taxjar/ui/taxjar-configuration-form.tsx
Labels: App: Taxes

#344 Move the development docs to docs.saleor.io
  README.md
  docs/forking.md
Labels: documentation

#343 Setup Sentry for Taxes App
  .changeset/gold-pigs-knock.md
  apps/taxes/.gitignore
  apps/taxes/next.config.js
  apps/taxes/package.json
  apps/taxes/sentry.client.config.js
  apps/taxes/sentry.edge.config.js
  apps/taxes/sentry.server.config.js
  apps/taxes/src/pages/_error.js
  pnpm-lock.yaml
Labels: App: Taxes

#345 fix/333 taxes not calculated
  .changeset/many-numbers-smile.md
  apps/taxes/graphql/fragments/CalculateTaxesEvent.graphql
  apps/taxes/src/lib/logger.ts
  apps/taxes/src/lib/saleor/schema.ts
  apps/taxes/src/modules/app-configuration/get-app-config.ts
  apps/taxes/src/modules/app-configuration/metadata-manager.ts
  apps/taxes/src/modules/avatax/avatax-client.ts
  apps/taxes/src/modules/avatax/avatax-configuration.router.ts
  apps/taxes/src/modules/avatax/avatax-configuration.service.ts
  apps/taxes/src/modules/avatax/avatax-provider.ts
  apps/taxes/src/modules/channels-configuration/channels-config.ts
  apps/taxes/src/modules/channels-configuration/channels-configuration.router.ts
  apps/taxes/src/modules/channels-configuration/get-channels-configuration.service.ts
  apps/taxes/src/modules/crud-settings/crud-settings.service.ts
  apps/taxes/src/modules/providers-configuration/providers-configuration.router.ts
  apps/taxes/src/modules/taxes/active-tax-provider.ts
  apps/taxes/src/modules/taxes/tax-provider.ts
  apps/taxes/src/modules/taxjar/taxjar-client.ts
  apps/taxes/src/modules/taxjar/taxjar-configuration.router.ts
  apps/taxes/src/modules/taxjar/taxjar-configuration.service.ts
  apps/taxes/src/modules/taxjar/taxjar-provider.ts
  apps/taxes/src/pages/api/webhooks/checkout-calculate-taxes.ts
  apps/taxes/src/pages/api/webhooks/order-calculate-taxes.ts
Labels: App: Taxes

#346 Release apps
  .changeset/many-numbers-smile.md
  apps/taxes/CHANGELOG.md
  apps/taxes/package.json
Labels: App: Taxes
