Repository saleor/apps, pull requests merged in 2024-08, with the labels that each got.

#1497 SMTP: Add `event` information to logs
  .changeset/wet-timers-help.md
  apps/smtp/src/pages/api/webhooks/notify.ts
Labels: App: SMTP

#1505 SMTP: Fix Changeset
  .changeset/wet-timers-help.md
Labels: skip changeset

#1500 Fix deprecated husky config & update husky
  .husky/pre-commit
  package.json
  pnpm-lock.yaml
Labels: skip changeset

#1507 Update Avatax to AvaTax
  .github/labeler.yml
  .github/workflows/prepare-release.yml
  README.md
  apps/avatax/.env.example
  apps/avatax/README.md
  apps/avatax/bruno/bruno.json
  apps/avatax/src/modules/avatax/avatax-errors-parser.ts
  apps/avatax/src/modules/avatax/order-confirmed/avatax-order-confirmed-tax-code-matcher.test.ts
  apps/avatax/src/modules/calculate-taxes/use-case/calculate-taxes.use-case.ts
  apps/avatax/src/modules/provider-connections/ui/providers-section.tsx
  apps/avatax/src/modules/taxes/tax-error.ts
  apps/avatax/src/pages/api/manifest.ts
  apps/avatax/src/pages/api/register.ts
  apps/avatax/src/pages/configuration.tsx
  apps/avatax/src/pages/index.tsx
Labels: skip changeset, App: Avatax

#1501 Remove not used AvaTax app deps
  .changeset/soft-ligers-add.md
  apps/avatax/package.json
  pnpm-lock.yaml
Labels: App: AvaTax

#1508 Remove AvaTax order calc taxes log
  .changeset/loud-spoons-attend.md
  apps/avatax/src/pages/api/webhooks/order-calculate-taxes.ts
Labels: App: AvaTax

#1504 🚀 Release apps
  .changeset/loud-spoons-attend.md
  .changeset/soft-ligers-add.md
  .changeset/wet-timers-help.md
  apps/avatax/CHANGELOG.md
  apps/avatax/package.json
  apps/smtp/CHANGELOG.md
  apps/smtp/package.json
Labels: App: AvaTax, run e2e, App: SMTP

#1509 Prevent variant duplication
  .changeset/old-impalas-dress.md
  apps/products-feed/src/modules/google-feed/fetch-product-data.test.ts
  apps/products-feed/src/modules/google-feed/fetch-product-data.ts
Labels: App: Product Feed

#1512 Add logger for limit status
  .changeset/thin-hairs-smoke.md
  apps/products-feed/src/modules/google-feed/fetch-product-data.ts
  apps/products-feed/src/modules/google-feed/product-processing-limit.test.ts
  apps/products-feed/src/modules/google-feed/product-processing-limit.ts
Labels: App: Product Feed

#1513 Add logs around tax code matcher
  .changeset/shaggy-baboons-sell.md
  apps/avatax/src/modules/avatax/avatax-client-tax-code.service.ts
  apps/avatax/src/modules/avatax/tax-code/avatax-tax-codes.router.ts
  apps/avatax/src/modules/avatax/tax-code/avatax-tax-codes.service.ts
  apps/avatax/src/modules/tax-classes/tax-classes.router.ts
Labels: App: AvaTax

#1510 🚀 Release apps
  .changeset/old-impalas-dress.md
  .changeset/shaggy-baboons-sell.md
  .changeset/thin-hairs-smoke.md
  apps/avatax/CHANGELOG.md
  apps/avatax/package.json
  apps/products-feed/CHANGELOG.md
  apps/products-feed/package.json
Labels: App: Product Feed, App: AvaTax

#1511 Add bruno collection for draft orders in AvaTax app
  apps/avatax/bruno/.env.example
  apps/avatax/bruno/Draft Orders/01_Create_staff_token.bru
  apps/avatax/bruno/Draft Orders/02_Get_channel_id.bru
  apps/avatax/bruno/Draft Orders/03_Create_draft_order.bru
  apps/avatax/bruno/Draft Orders/04_Fetch_products.bru
  apps/avatax/bruno/Draft Orders/05_Add_lines_to_draft_order.bru
  apps/avatax/bruno/Draft Orders/06_Update_addresses_on_draft_order.bru
  apps/avatax/bruno/Draft Orders/07_Update_shipping_method_on_draft_order.bru
  apps/avatax/bruno/Draft Orders/08_Update_lines_on_draft_order.bru
  apps/avatax/bruno/Draft Orders/09_Remove_lines_on_draft_order.bru
  apps/avatax/bruno/Draft Orders/10_Add_voucher_to_draft_order.bru
  apps/avatax/bruno/Draft Orders/11_Complete_draft_order.bru
  apps/avatax/e2e/tests/checkout_address_change_with_product_tax.spec.ts
  apps/avatax/e2e/tests/checkout_with_product_tax.spec.ts
  apps/avatax/e2e/tests/entire_voucher_product_without_tax_class.spec.ts
  apps/avatax/e2e/tests/order_with_product_tax.spec.ts
  apps/avatax/e2e/tests/product_without_tax_class.spec.ts
Labels: skip changeset, App: AvaTax

#1514 Add sort imports plugin for AvaTax
  packages/eslint-config-saleor/index.js
  packages/eslint-config-saleor/package.json
  pnpm-lock.yaml
Labels: skip changeset

#1516 avatax: fallback behavior for taxcode matcher missing hints
  .changeset/dry-kangaroos-live.md
  apps/avatax/src/modules/avatax/ui/avatax-tax-code-matcher-table.tsx
  apps/avatax/src/modules/avatax/ui/tax-code-select.tsx
  apps/avatax/src/pages/providers/avatax/matcher.tsx
Labels: App: AvaTax

#1519 Add logs to AvaTax logic
  .changeset/modern-spies-behave.md
  apps/avatax/src/modules/avatax/calculate-taxes/avatax-calculate-taxes-adapter.ts
  apps/avatax/src/modules/avatax/calculate-taxes/avatax-calculate-taxes-payload-lines-transformer.test.ts
  apps/avatax/src/modules/avatax/calculate-taxes/avatax-calculate-taxes-response-lines-transformer.ts
  apps/avatax/src/modules/avatax/calculate-taxes/avatax-calculate-taxes-response-shipping-transformer.ts
  apps/avatax/src/modules/avatax/calculate-taxes/avatax-shipping-line.ts
  apps/avatax/src/modules/avatax/order-confirmed/avatax-order-confirmed-adapter.ts
Labels: App: AvaTax

#1518 🚀 Release apps
  .changeset/dry-kangaroos-live.md
  .changeset/modern-spies-behave.md
  apps/avatax/CHANGELOG.md
  apps/avatax/package.json
Labels: App: AvaTax, run e2e

#1515 Handle PermissionRequired error from avatax in tax codes fetcher
  .changeset/nasty-queens-ring.md
  apps/avatax/src/modules/avatax/avatax-client-tax-code.service.test.ts
  apps/avatax/src/modules/avatax/avatax-client-tax-code.service.ts
  apps/avatax/src/modules/avatax/tax-code/avatax-tax-codes.router.ts
  apps/avatax/src/modules/avatax/tax-code/avatax-tax-codes.service.ts
Labels: App: AvaTax

#1522 Fix AvaTax app discounts reporting to Saleor
  .changeset/dirty-dragons-cheer.md
  apps/avatax/src/modules/avatax/avatax-mock-transaction-factory.ts
  apps/avatax/src/modules/avatax/calculate-taxes/avatax-calculate-taxes-response-lines-transformer.test.ts
  apps/avatax/src/modules/avatax/calculate-taxes/avatax-calculate-taxes-response-lines-transformer.ts
  apps/avatax/src/modules/avatax/calculate-taxes/avatax-calculate-taxes-response-shipping-transformer.test.ts
  apps/avatax/src/modules/avatax/calculate-taxes/avatax-calculate-taxes-response-shipping-transformer.ts
Labels: App: AvaTax

#1523 Add support for AvataxEntityNotFoundError
  .changeset/sour-windows-taste.md
  apps/avatax/src/modules/avatax/avatax-errors-parser.ts
  apps/avatax/src/modules/taxes/tax-error.ts
  apps/avatax/src/pages/api/webhooks/order-calculate-taxes.ts
  apps/avatax/src/pages/api/webhooks/order-confirmed.ts
Labels: App: AvaTax

#1520 🚀 Release apps
  .changeset/dirty-dragons-cheer.md
  .changeset/nasty-queens-ring.md
  .changeset/sour-windows-taste.md
  .changeset/tough-lobsters-look.md
  apps/avatax/CHANGELOG.md
  apps/avatax/package.json
Labels: App: AvaTax, run e2e

#1517 [SMTP] Catch and log error when compile template failed
  .changeset/kind-ducks-learn.md
  apps/smtp/src/modules/smtp/configuration/smtp-configuration.router.ts
Labels: App: SMTP

#1528 Update TypeScript to 5.5.4
  apps/avatax/package.json
  apps/cms-v2/package.json
  apps/data-importer/package.json
  apps/emails-and-messages/package.json
  apps/klaviyo/package.json
  apps/products-feed/package.json
  apps/search/package.json
  apps/smtp/package.json
  packages/e2e/package.json
  packages/eslint-config-saleor/package.json
  packages/logger/package.json
  packages/otel/package.json
  packages/otel/src/instrumentation.ts
  packages/react-hook-form-macaw/package.json
  packages/sentry-utils/package.json
  packages/shared/package.json
  packages/trpc/package.json
  packages/ui/package.json
  packages/webhook-utils/package.json
  pnpm-lock.yaml
Labels: App: Search, App: Emails & Messages, App: Klaviyo, App: Data Importer, App: CMS, App: Product Feed, skip changeset, App: AvaTax, App: SMTP

#1525 Add timeout for pulling settings from saleor
  .changeset/spicy-bulldogs-pretend.md
  apps/smtp/.env.example
  apps/smtp/src/modules/smtp/configuration/smtp-metadata-manager.test.ts
  apps/smtp/src/modules/smtp/configuration/smtp-metadata-manager.ts
Labels: App: SMTP

#1527 Fix decimal places raporting in AvaTax
  .changeset/old-deers-beg.md
  apps/avatax/src/modules/avatax/calculate-taxes/avatax-calculate-taxes-response-lines-transformer.ts
  apps/avatax/src/modules/avatax/calculate-taxes/avatax-calculate-taxes-response-shipping-transformer.ts
  apps/avatax/src/modules/avatax/calculate-taxes/extract-integer-rate-from-tax-details.ts
  apps/avatax/src/modules/avatax/calculate-taxes/extract-rate-from-tax-details.test.ts
Labels: App: AvaTax

#1529 Remove recreate-webhooks feature
  .changeset/dry-swans-pump.md
  apps/search/src/components/WebhooksStatus.tsx
  apps/search/src/domain/WebhookActivityToggler.service.ts
  apps/search/src/lib/algolia/is-configured.test.ts
  apps/search/src/lib/algolia/is-configured.ts
  apps/search/src/lib/algolia/is-webhook-update-needed.test.ts
  apps/search/src/lib/algolia/is-webhook-update-needed.ts
  apps/search/src/pages/api/recreate-webhooks.ts
  apps/search/src/pages/api/webhooks-status.ts
  apps/search/src/test/handlers/webhooks-status-handler.test.ts
Labels: App: Search

#1524 🚀 Release apps
  .changeset/dry-swans-pump.md
  .changeset/kind-ducks-learn.md
  .changeset/old-deers-beg.md
  .changeset/spicy-bulldogs-pretend.md
  apps/avatax/CHANGELOG.md
  apps/avatax/package.json
  apps/search/CHANGELOG.md
  apps/search/package.json
  apps/smtp/CHANGELOG.md
  apps/smtp/package.json
Labels: App: Search, App: AvaTax, run e2e, App: SMTP

#1530 install knip
  knip.json
  package.json
  pnpm-lock.yaml
Labels: skip changeset

#1531 Add bundle externals flag
  .changeset/stale-boats-smash.md
  apps/smtp/next.config.js
Labels: App: SMTP

#1532 [CMS] Show alias in environment dropdown
  .changeset/sharp-glasses-act.md
  apps/cms-v2/src/modules/providers/contentful/contentful-config-form.tsx
Labels: App: CMS

#1533 🚀 Release apps
  .changeset/sharp-glasses-act.md
  .changeset/stale-boats-smash.md
  apps/cms-v2/CHANGELOG.md
  apps/cms-v2/package.json
  apps/smtp/CHANGELOG.md
  apps/smtp/package.json
Labels: App: CMS, App: SMTP

#1534 [Search] Improve logs
  .changeset/purple-suits-peel.md
  apps/search/src/modules/trpc/protected-client-procedure.ts
  apps/search/src/pages/api/webhooks/saleor/product_created.ts
  apps/search/src/pages/api/webhooks/saleor/product_deleted.ts
  apps/search/src/pages/api/webhooks/saleor/product_updated.ts
  apps/search/src/pages/api/webhooks/saleor/product_variant_back_in_stock.ts
  apps/search/src/pages/api/webhooks/saleor/product_variant_created.ts
  apps/search/src/pages/api/webhooks/saleor/product_variant_deleted.ts
  apps/search/src/pages/api/webhooks/saleor/product_variant_out_of_stock.ts
  apps/search/src/pages/api/webhooks/saleor/product_variant_updated.ts
Labels: App: Search

#1538 Replace "require" with import
  .changeset/selfish-scissors-shop.md
  apps/smtp/src/modules/smtp/services/mjml-compiler.ts
Labels: App: SMTP

#1537 🚀 Release apps
  .changeset/purple-suits-peel.md
  .changeset/selfish-scissors-shop.md
  apps/search/CHANGELOG.md
  apps/search/package.json
  apps/smtp/CHANGELOG.md
  apps/smtp/package.json
Labels: App: Search, App: SMTP

#1541 🚀 Release apps
  .changeset/lazy-cups-wait.md
  apps/smtp/CHANGELOG.md
  apps/smtp/package.json
Labels: App: SMTP

#1542 [Search] Handle record too big error
  .changeset/breezy-bags-sell.md
  apps/search/src/lib/algolia/algolia-error-parser.test.ts
  apps/search/src/lib/algolia/algolia-error-parser.ts
  apps/search/src/pages/api/webhooks/saleor/product_created.ts
  apps/search/src/pages/api/webhooks/saleor/product_updated.ts
  apps/search/src/pages/api/webhooks/saleor/product_variant_created.ts
  apps/search/src/pages/api/webhooks/saleor/product_variant_updated.ts
Labels: App: Search

#1544 Stringify attributes passed to console transport
  packages/logger/src/logger-console-transport.ts
  packages/logger/src/logger.test.ts
Labels: skip changeset

#1536 Bruno collection updates
  apps/avatax/README.md
  apps/avatax/bruno/.env.example
  apps/avatax/bruno/Checkout/1_Create_storefront_user.bru
  apps/avatax/bruno/Checkout/2_Create_storefront_token.bru
  apps/avatax/bruno/Checkout/3_Fetch_product.bru
  apps/avatax/bruno/Checkout/4_Create_checkout_US.bru
  apps/avatax/bruno/Checkout/5._Update_checkout_metadata.bru
  apps/avatax/bruno/Checkout/6_Update_delivery_method.bru
  apps/avatax/bruno/Checkout/7_Add_promo_code_checkout.bru
  apps/avatax/bruno/Checkout/8_Complete_checkout.bru
  apps/avatax/bruno/Draft Orders/01_Create_staff_token.bru
  apps/avatax/bruno/environments/staging.bru
Labels: skip changeset, App: AvaTax
