Repository saleor/apps, pull requests merged in 2024-01, with the labels that each got.

#1153 disable slack webhooks if app is not configured
  .changeset/tiny-lobsters-complain.md
  apps/slack/graphql/fragments/OwnWebhook.graphql
  apps/slack/graphql/mutations/DisableWebhook.graphql
  apps/slack/graphql/mutations/EnableWebhook.graphql
  apps/slack/graphql/queries/FetchOwnWebhooks.graphql
  apps/slack/src/lib/WebhookActivityToggler.service.ts
  apps/slack/src/lib/is-valid-url.ts
  apps/slack/src/pages/api/configuration.ts
  apps/slack/src/pages/api/webhooks/order-created.ts
Labels: App: Slack

#1155 fix url validation and configuration setting
  .changeset/tough-mails-care.md
  apps/slack/src/lib/is-valid-url.test.ts
  apps/slack/src/lib/is-valid-url.ts
  apps/slack/src/pages/api/configuration.ts
  apps/slack/src/pages/configuration.tsx
Labels: App: Slack

#1154 🚀 Release apps
  .changeset/tiny-lobsters-complain.md
  .changeset/tough-mails-care.md
  apps/slack/CHANGELOG.md
  apps/slack/package.json
Labels: App: Slack, skip changeset

#1158 Otel for CMS app
  .changeset/heavy-planets-call.md
  .changeset/hip-dryers-design.md
  apps/cms-v2/.env.example
  apps/cms-v2/package.json
  apps/cms-v2/src/logger-utils/logger-otel-transport.ts
  apps/cms-v2/src/logger-utils/logger-sentry-transport.ts
  apps/cms-v2/src/logger.ts
  apps/cms-v2/src/modules/configuration/app-config.test.ts
  apps/cms-v2/src/modules/configuration/app-config.ts
  apps/cms-v2/src/modules/providers/builder.io/builder-io-webhooks-processor.ts
  apps/cms-v2/src/modules/providers/builder.io/builder-io.client.ts
  apps/cms-v2/src/modules/providers/contentful/contentful-bulk-sync-processor.ts
  apps/cms-v2/src/modules/providers/contentful/contentful-client.ts
  apps/cms-v2/src/modules/providers/contentful/contentful-webhooks-processor.ts
  apps/cms-v2/src/modules/providers/contentful/contentful.router.ts
  apps/cms-v2/src/modules/providers/datocms/datocms-bulk-sync-processor.ts
  apps/cms-v2/src/modules/providers/datocms/datocms-client.ts
  apps/cms-v2/src/modules/providers/datocms/datocms-webhooks-processor.ts
  apps/cms-v2/src/modules/providers/payloadcms/payloadcms-bulk-sync-processor.ts
  apps/cms-v2/src/modules/providers/payloadcms/payloadcms-client.ts
  apps/cms-v2/src/modules/providers/payloadcms/payloadcms-webhooks-processor.ts
  apps/cms-v2/src/modules/providers/strapi/strapi-client.ts
  apps/cms-v2/src/modules/providers/strapi/strapi-webhooks-processor.ts
  apps/cms-v2/src/modules/trpc/protected-client-procedure.ts
  apps/cms-v2/src/modules/webhooks-operations/webhooks-processors-delegator.ts
  apps/cms-v2/src/pages/api/manifest.ts
  apps/cms-v2/src/pages/api/register.ts
  apps/cms-v2/src/pages/api/trpc/[trpc].ts
  apps/cms-v2/src/pages/api/webhooks/product-updated.ts
  apps/cms-v2/src/pages/api/webhooks/product-variant-created.ts
  apps/cms-v2/src/pages/api/webhooks/product-variant-deleted.ts
  apps/cms-v2/src/pages/api/webhooks/product-variant-updated.ts
  apps/cms-v2/turbo.json
  cspell.json
  package.json
  packages/otel/index.ts
  packages/otel/package.json
  packages/otel/src/get-attributes-from-request.ts
  packages/otel/src/instrumentation.ts
  packages/otel/src/lib/race.ts
  packages/otel/src/otel-logs-setup.ts
  packages/otel/src/otel-tracer.ts
  packages/otel/src/otel-traces-setup.ts
  packages/otel/src/otel-wrapper.ts
  packages/otel/src/shared-config.ts
  packages/otel/tsconfig.json
  pnpm-lock.yaml
Labels: App: CMS

#1162 🚀 Release apps
  .changeset/dry-files-tickle.md
  .changeset/heavy-planets-call.md
  .changeset/hip-dryers-design.md
  .changeset/moody-sheep-mate.md
  .changeset/polite-eyes-unite.md
  apps/cms-v2/CHANGELOG.md
  apps/cms-v2/package.json
  apps/taxes/CHANGELOG.md
  apps/taxes/package.json
  packages/logger/CHANGELOG.md
  packages/logger/package.json
  packages/otel/CHANGELOG.md
  packages/otel/package.json
Labels: App: Taxes, App: CMS, skip changeset

#1165 Improve OTEL logger in apps, instrumented Search
  .changeset/grumpy-files-tease.md
  .changeset/nervous-parrots-buy.md
  .changeset/tame-coats-roll.md
  apps/cms-v2/next.config.js
  apps/cms-v2/src/logger.ts
  apps/cms-v2/src/pages/api/manifest.ts
  apps/cms-v2/src/pages/api/webhooks/product-updated.ts
  apps/cms-v2/src/pages/api/webhooks/product-variant-created.ts
  apps/cms-v2/src/pages/api/webhooks/product-variant-deleted.ts
  apps/cms-v2/src/pages/api/webhooks/product-variant-updated.ts
  apps/search/next.config.js
  apps/search/package.json
  apps/search/src/domain/WebhookActivityToggler.service.ts
  apps/search/src/lib/algolia/algoliaSearchProvider.ts
  apps/search/src/lib/algolia/getAlgoliaConfiguration.ts
  apps/search/src/lib/logger.ts
  apps/search/src/modules/configuration/configuration.router.ts
  apps/search/src/pages/api/manifest.ts
  apps/search/src/pages/api/recreate-webhooks.ts
  apps/search/src/pages/api/register.ts
  apps/search/src/pages/api/setup-indices.ts
  apps/search/src/pages/api/trpc/[trpc].ts
  apps/search/src/pages/api/webhooks-status.ts
  apps/search/src/pages/api/webhooks/saleor/product_created.ts
  apps/search/src/pages/api/webhooks/saleor/product_deleted.ts
  apps/search/src/pages/api/webhooks/saleor/product_updated.ts
  apps/search/src/pages/api/webhooks/saleor/product_variant_back_in_stock.ts
  apps/search/src/pages/api/webhooks/saleor/product_variant_created.ts
  apps/search/src/pages/api/webhooks/saleor/product_variant_deleted.ts
  apps/search/src/pages/api/webhooks/saleor/product_variant_out_of_stock.ts
  apps/search/src/pages/api/webhooks/saleor/product_variant_updated.ts
  apps/taxes/next.config.js
  apps/taxes/src/logger.ts
  packages/logger/src/logger-console-transport.ts
  packages/logger/src/logger-otel-transport.ts
  packages/logger/src/logger-sentry-transport.ts
  packages/logger/src/logger.ts
  packages/otel/src/otel-wrapper.ts
  pnpm-lock.yaml
Labels: App: Search, App: Taxes, App: CMS

#1168 🚀 Release apps
  .changeset/grumpy-files-tease.md
  .changeset/nervous-parrots-buy.md
  .changeset/tame-coats-roll.md
  apps/cms-v2/CHANGELOG.md
  apps/cms-v2/package.json
  apps/search/CHANGELOG.md
  apps/search/package.json
  apps/taxes/CHANGELOG.md
  apps/taxes/package.json
  packages/logger/CHANGELOG.md
  packages/logger/package.json
Labels: App: Search, App: Taxes, App: CMS

#1170 tests for shared logger
  .changeset/hot-chairs-perform.md
  apps/search/package.json
  packages/logger/package.json
  packages/logger/src/logger.test.ts
  packages/logger/test-globals.ts
  packages/logger/vitest.config.ts
  packages/shared/package.json
  pnpm-lock.yaml
Labels: App: Search

#1173 Open taxjar docs link in the new tab
  .changeset/tricky-dolls-drop.md
  apps/taxes/src/modules/taxjar/ui/taxjar-configuration-form.tsx
Labels: App: Taxes

#1180 Fix test for e&m app
  apps/emails-and-messages/src/modules/webhook-management/webhook-management-service.test.ts
Labels: App: Emails & Messages, skip changeset

#1171 🚀 Release apps
  .changeset/hot-chairs-perform.md
  .changeset/three-dryers-kneel.md
  .changeset/tricky-dolls-drop.md
  apps/cms-v2/CHANGELOG.md
  apps/cms-v2/package.json
  apps/emails-and-messages/CHANGELOG.md
  apps/emails-and-messages/package.json
  apps/search/CHANGELOG.md
  apps/search/package.json
  apps/taxes/CHANGELOG.md
  apps/taxes/package.json
  packages/logger/CHANGELOG.md
  packages/logger/package.json
Labels: App: Search, App: Emails & Messages, App: Taxes, App: CMS, skip changeset

#1182 Fix search-app deploy
  apps/search/package.json
  apps/search/scripts/deploy.ts
Labels: App: Search, skip changeset

#1184 Fix vercel deploys of apps
  apps/cms-v2/package.json
  apps/cms-v2/sentry.client.config.ts
  apps/cms-v2/sentry.edge.config.ts
  apps/cms-v2/sentry.server.config.ts
  apps/crm/package.json
  apps/crm/sentry.client.config.ts
  apps/crm/sentry.edge.config.ts
  apps/crm/sentry.server.config.ts
  apps/data-importer/package.json
  apps/data-importer/sentry.client.config.ts
  apps/data-importer/sentry.edge.config.ts
  apps/data-importer/sentry.server.config.ts
  apps/emails-and-messages/package.json
  apps/emails-and-messages/sentry.client.config.ts
  apps/emails-and-messages/sentry.edge.config.ts
  apps/emails-and-messages/sentry.server.config.ts
  apps/invoices/package.json
  apps/invoices/sentry.client.config.ts
  apps/invoices/sentry.edge.config.ts
  apps/invoices/sentry.server.config.ts
  apps/klaviyo/package.json
  apps/klaviyo/sentry.client.config.ts
  apps/klaviyo/sentry.edge.config.ts
  apps/klaviyo/sentry.server.config.ts
  apps/products-feed/package.json
  apps/products-feed/sentry.client.config.ts
  apps/products-feed/sentry.edge.config.ts
  apps/products-feed/sentry.server.config.ts
  apps/search/package.json
  apps/search/sentry.client.config.ts
  apps/search/sentry.edge.config.ts
  apps/search/sentry.server.config.ts
  apps/segment/package.json
  apps/segment/sentry.client.config.ts
  apps/segment/sentry.edge.config.ts
  apps/segment/sentry.server.config.ts
  apps/slack/package.json
  apps/slack/sentry.client.config.ts
  apps/slack/sentry.edge.config.ts
  apps/slack/sentry.server.config.ts
  apps/taxes/package.json
Labels: App: Slack, App: Search, App: Emails & Messages, App: Invoices, App: Klaviyo, App: Taxes, App: Data Importer, App: CMS, App: Product Feed, App: CRM, App: Segment, skip changeset
