Repository saleor/apps, pull requests merged in 2024-09, with the labels that each got.

#1543 🚀 Release apps
  .changeset/breezy-bags-sell.md
  .changeset/bright-apples-build.md
  apps/avatax/CHANGELOG.md
  apps/avatax/package.json
  apps/cms-v2/CHANGELOG.md
  apps/cms-v2/package.json
  apps/data-importer/CHANGELOG.md
  apps/data-importer/package.json
  apps/klaviyo/CHANGELOG.md
  apps/klaviyo/package.json
  apps/products-feed/CHANGELOG.md
  apps/products-feed/package.json
  apps/search/CHANGELOG.md
  apps/search/package.json
  apps/smtp/CHANGELOG.md
  apps/smtp/package.json
  packages/react-hook-form-macaw/CHANGELOG.md
  packages/react-hook-form-macaw/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
  packages/trpc/CHANGELOG.md
  packages/trpc/package.json
  packages/ui/CHANGELOG.md
  packages/ui/package.json
Labels: App: Search, App: Klaviyo, App: Data Importer, App: CMS, App: Product Feed, App: AvaTax, run e2e, App: SMTP

#1548 Refactor - Avatax: Extract services dependencies
  .changeset/tidy-spiders-compare.md
  apps/avatax/src/modules/avatax/avatax-connection.router.ts
  apps/avatax/src/modules/avatax/avatax-entity-type-matcher.test.ts
  apps/avatax/src/modules/avatax/avatax-entity-type-matcher.ts
  apps/avatax/src/modules/avatax/avatax-webhook.service.ts
  apps/avatax/src/modules/avatax/calculate-taxes/avatax-calculate-taxes-adapter.ts
  apps/avatax/src/modules/avatax/calculate-taxes/avatax-calculate-taxes-payload-lines-transformer.test.ts
  apps/avatax/src/modules/avatax/calculate-taxes/avatax-calculate-taxes-payload-lines-transformer.ts
  apps/avatax/src/modules/avatax/calculate-taxes/avatax-calculate-taxes-payload-transformer.test.ts
  apps/avatax/src/modules/avatax/calculate-taxes/avatax-calculate-taxes-payload-transformer.ts
  apps/avatax/src/modules/avatax/configuration/avatax-connection-repository.ts
  apps/avatax/src/modules/avatax/configuration/avatax-connection.service.ts
  apps/avatax/src/modules/avatax/configuration/avatax-edit-address-validation.service.ts
  apps/avatax/src/modules/avatax/configuration/avatax-edit-auth-validation.service.ts
  apps/avatax/src/modules/avatax/configuration/avatax-patch-input-transformer.ts
  apps/avatax/src/modules/avatax/configuration/public-avatax-connection.service.ts
  apps/avatax/src/modules/avatax/order-cancelled/avatax-order-cancelled-adapter.ts
  apps/avatax/src/modules/avatax/order-confirmed/avatax-order-confirmed-adapter.ts
  apps/avatax/src/modules/avatax/order-confirmed/avatax-order-confirmed-payload-transformer.test.ts
  apps/avatax/src/modules/avatax/order-confirmed/avatax-order-confirmed-payload-transformer.ts
  apps/avatax/src/modules/avatax/order-confirmed/avatax-order-confirmed-payload.service.ts
  apps/avatax/src/modules/avatax/tax-code/avatax-tax-code-match-repository.ts
  apps/avatax/src/modules/avatax/tax-code/avatax-tax-code-matches.service.ts
  apps/avatax/src/modules/avatax/tax-code/avatax-tax-codes.router.ts
  apps/avatax/src/modules/calculate-taxes/use-case/calculate-taxes.use-case.ts
  apps/avatax/src/modules/channel-configuration/channel-configuration-repository.ts
  apps/avatax/src/modules/channel-configuration/channel-configuration.router.ts
  apps/avatax/src/modules/channel-configuration/channel-configuration.service.ts
  apps/avatax/src/modules/crud-settings/crud-settings.service.test.ts
  apps/avatax/src/modules/crud-settings/crud-settings.service.ts
  apps/avatax/src/modules/provider-connections/provider-connections.router.ts
  apps/avatax/src/modules/provider-connections/public-provider-connections.service.ts
  apps/avatax/src/modules/taxes/avatax-webhook-service-factory.ts
  apps/avatax/src/modules/taxes/tax-provider-webhook.ts
Labels: App: AvaTax

#1553 Fix initial algolia import + refactor the import component
  .changeset/eleven-boats-count.md
  apps/search/package.json
  apps/search/src/components/AlgoliaFieldsSelectionForm.tsx
  apps/search/src/components/ImportProductsToAlgolia.tsx
  apps/search/src/components/ImportProductsToAlgolia/index.tsx
  apps/search/src/components/ImportProductsToAlgolia/useAlgoliaConfiguration.test.ts
  apps/search/src/components/ImportProductsToAlgolia/useAlgoliaConfiguration.ts
  apps/search/src/components/ImportProductsToAlgolia/useBatchUpload.test.ts
  apps/search/src/components/ImportProductsToAlgolia/useBatchUpload.ts
  apps/search/src/components/ImportProductsToAlgolia/useSearchProvider.ts
  apps/search/src/components/useQueryAllProducts.tsx
  pnpm-lock.yaml
Labels: App: Search

#1554 Fix Bruno create checkout api url variable
  apps/avatax/bruno/checkout/04-create-checkout.bru
Labels: skip changeset, App: AvaTax

#1555 Use country combobox in AvaTax
  .changeset/eight-months-jam.md
  apps/avatax/src/modules/avatax/ui/avatax-configuration-address-fragment.tsx
  apps/avatax/src/modules/ui/country-combobox.tsx
  apps/avatax/src/modules/ui/country-select.tsx
Labels: App: AvaTax

#1557 Set Avatax e2e tests to print DEBUG level logs
  apps/avatax/e2e/setup.ts
Labels: skip changeset, App: AvaTax

#1558 Add bundle externals for search app
  .changeset/brown-countries-kiss.md
  apps/search/next.config.js
Labels: App: Search

#1559 Stop self-disabling active webhooks
  .changeset/smooth-peaches-call.md
  apps/search/saleor-app.ts
  apps/search/scripts/migrations/migration-utils.ts
  apps/search/scripts/migrations/run-webhooks-migration-dry-run.ts
  apps/search/scripts/migrations/run-webhooks-migration.ts
  apps/search/scripts/migrations/update-webhooks.ts
Labels: App: Search

#1551 🚀 Release apps
  .changeset/brown-countries-kiss.md
  .changeset/eight-months-jam.md
  .changeset/eleven-boats-count.md
  .changeset/smooth-peaches-call.md
  .changeset/tidy-spiders-compare.md
  .changeset/witty-coins-notice.md
  apps/avatax/CHANGELOG.md
  apps/avatax/package.json
  apps/cms-v2/CHANGELOG.md
  apps/cms-v2/package.json
  apps/data-importer/CHANGELOG.md
  apps/data-importer/package.json
  apps/klaviyo/CHANGELOG.md
  apps/klaviyo/package.json
  apps/products-feed/CHANGELOG.md
  apps/products-feed/package.json
  apps/search/CHANGELOG.md
  apps/search/package.json
  apps/smtp/CHANGELOG.md
  apps/smtp/package.json
Labels: App: Search, App: Klaviyo, App: Data Importer, App: CMS, App: Product Feed, App: AvaTax, App: SMTP

#1552 Apply new discounts strategy (2nd PR)
  .changeset/.changeset/pink-olives-judge.md
  apps/avatax/graphql/fragments/TaxBase.graphql
  apps/avatax/graphql/schema.graphql
  apps/avatax/package.json
  apps/avatax/src/modules/avatax/avatax-webhook.service.ts
  apps/avatax/src/modules/avatax/calculate-taxes/avatax-calculate-taxes-mock-generator.ts
  apps/avatax/src/modules/avatax/calculate-taxes/avatax-calculate-taxes-payload-lines-transformer.test.ts
  apps/avatax/src/modules/avatax/calculate-taxes/avatax-calculate-taxes-payload-lines-transformer.ts
  apps/avatax/src/modules/avatax/calculate-taxes/avatax-calculate-taxes-payload-transformer.test.ts
  apps/avatax/src/modules/avatax/calculate-taxes/avatax-calculate-taxes-payload-transformer.ts
  apps/avatax/src/modules/avatax/calculate-taxes/avatax-calculate-taxes-payload.service.ts
  apps/avatax/src/modules/avatax/calculate-taxes/avatax-calculate-taxes-response-lines-transformer.ts
  apps/avatax/src/modules/avatax/calculate-taxes/avatax-calculate-taxes-response-shipping-transformer.ts
  apps/avatax/src/modules/avatax/calculate-taxes/extract-integer-rate-from-tax-details.ts
  apps/avatax/src/modules/avatax/calculate-taxes/extract-rate-from-tax-details.test.ts
  apps/avatax/src/modules/avatax/discounts/automatically-distributed.test.ts
  apps/avatax/src/modules/avatax/discounts/automatically-distributed.ts
  apps/avatax/src/modules/calculate-taxes/use-case/calculate-taxes.use-case.test.ts
  apps/avatax/src/modules/calculate-taxes/use-case/calculate-taxes.use-case.ts
  apps/avatax/src/modules/taxes/numbers.test.ts
  apps/avatax/src/modules/taxes/numbers.ts
  apps/avatax/src/modules/taxes/tax-webhook-adapter.ts
  apps/avatax/src/pages/api/webhooks/order-calculate-taxes.ts
  pnpm-lock.yaml
Labels: App: AvaTax

#1564 Bump avatax minimum saleor version to 3.19
  .changeset/sixty-toes-beg.md
  apps/avatax/saleor-app.ts
Labels: App: AvaTax

#1561 Enable bundlePagesExternals for rest of apps
  .changeset/three-pans-hug.md
  apps/cms-v2/next.config.js
  apps/data-importer/next.config.js
  apps/klaviyo/next.config.js
  apps/products-feed/next.config.js
Labels: App: Klaviyo, App: Data Importer, App: CMS, App: Product Feed

#1560 fix error with finding channels in config
  .changeset/chatty-ants-brake.md
  apps/avatax/src/lib/app-config.ts
Labels: App: AvaTax

#1562 🚀 Release apps
  .changeset/chatty-ants-brake.md
  .changeset/good-kangaroos-type.md
  .changeset/pink-olives-judge.md
  .changeset/shiny-bottles-pull.md
  .changeset/sixty-toes-beg.md
  .changeset/three-pans-hug.md
  apps/avatax/CHANGELOG.md
  apps/avatax/package.json
  apps/cms-v2/CHANGELOG.md
  apps/cms-v2/package.json
  apps/data-importer/CHANGELOG.md
  apps/data-importer/package.json
  apps/klaviyo/CHANGELOG.md
  apps/klaviyo/package.json
  apps/products-feed/CHANGELOG.md
  apps/products-feed/package.json
Labels: App: Klaviyo, App: Data Importer, App: CMS, App: Product Feed, App: AvaTax, run e2e

#1567 add more semantic attributes to avatax order webhooks
  .changeset/tasty-sloths-invent.md
  apps/avatax/src/modules/avatax/order-confirmed/avatax-order-confirmed-adapter.ts
  apps/avatax/src/pages/api/webhooks/checkout-calculate-taxes.ts
  apps/avatax/src/pages/api/webhooks/order-confirmed.ts
  packages/otel/src/lib/observability-attributes.ts
Labels: App: AvaTax

#1570 Restore sequential migration script
  apps/avatax/scripts/run-webhooks-migration.ts
Labels: skip changeset, App: AvaTax

#1568 🚀 Release apps
  .changeset/stale-baboons-matter.md
  .changeset/tasty-sloths-invent.md
  apps/avatax/CHANGELOG.md
  apps/avatax/package.json
  apps/cms-v2/CHANGELOG.md
  apps/cms-v2/package.json
  apps/data-importer/CHANGELOG.md
  apps/data-importer/package.json
  apps/klaviyo/CHANGELOG.md
  apps/klaviyo/package.json
  apps/products-feed/CHANGELOG.md
  apps/products-feed/package.json
  apps/search/CHANGELOG.md
  apps/search/package.json
  apps/smtp/CHANGELOG.md
  apps/smtp/package.json
Labels: App: Search, App: Klaviyo, App: Data Importer, App: CMS, App: Product Feed, App: AvaTax, App: SMTP

#1573 handle document not found error in avatax during cancel
  .changeset/shiny-wombats-melt.md
  apps/avatax/src/modules/avatax/order-cancelled/avatax-order-cancelled-adapter.test.ts
  apps/avatax/src/modules/avatax/order-cancelled/avatax-order-cancelled-adapter.ts
  apps/avatax/src/pages/api/webhooks/order-cancelled.ts
Labels: App: AvaTax

#1575 Improve error parser constructor
  .changeset/early-kangaroos-boil.md
  apps/avatax/src/modules/avatax/avatax-errors-parser.test.ts
  apps/avatax/src/modules/avatax/avatax-errors-parser.ts
  apps/avatax/src/modules/avatax/calculate-taxes/avatax-calculate-taxes-adapter.ts
  apps/avatax/src/modules/avatax/configuration/avatax-address-validation.service.ts
  apps/avatax/src/modules/avatax/order-cancelled/avatax-order-cancelled-adapter.ts
Labels: App: AvaTax

#1580 Fix AvaTax app eslint errors
  .changeset/afraid-dancers-cross.md
  apps/avatax/.eslintrc
  apps/avatax/.eslintrc.cjs
  apps/avatax/scripts/run-webhooks-migration.ts
  apps/avatax/src/modules/avatax/ui/tax-code-select.tsx
  apps/avatax/src/pages/api/webhooks/order-calculate-taxes.ts
  apps/avatax/src/pages/api/webhooks/order-confirmed.ts
  apps/avatax/tsconfig.json
  cspell.json
Labels: App: AvaTax

#1577 Fix visibility of logs send to OTEL
  .changeset/many-tigers-crash.md
  .changeset/thick-poets-invite.md
  apps/avatax/src/lib/app-config-extractor.ts
  apps/avatax/src/lib/app-configuration-logger.test.ts
  apps/avatax/src/lib/app-configuration-logger.ts
  apps/avatax/src/modules/app/order-metadata-manager.ts
  apps/avatax/src/modules/avatax/avatax-client-tax-code.service.ts
  apps/avatax/src/modules/avatax/extract-transaction-redacted-log-properties.ts
  apps/avatax/src/modules/avatax/tax-code/avatax-tax-codes.router.ts
  apps/avatax/src/modules/avatax/tax-code/avatax-tax-codes.service.ts
  apps/avatax/src/modules/calculate-taxes/use-case/calculate-taxes.use-case.ts
  apps/avatax/src/modules/crud-settings/crud-settings.service.ts
  apps/avatax/src/modules/tax-classes/tax-classes.router.ts
  apps/avatax/src/pages/api/webhooks/checkout-calculate-taxes.ts
  apps/avatax/src/pages/api/webhooks/order-calculate-taxes.ts
  cspell.json
  package.json
  packages/logger/src/logger-otel-transport.ts
  packages/logger/src/logger.test.ts
  patches/@opentelemetry__otlp-transformer@0.45.1.patch
  patches/@opentelemetry__otlp-transformer@0.46.0.patch
  pnpm-lock.yaml
Labels: App: AvaTax

#1583 Revert JSON stringify for error in OTEL transport
  .changeset/thick-poets-invite.md
  packages/logger/.eslintrc
  packages/logger/.eslintrc.cjs
  packages/logger/src/logger-otel-transport.ts
  packages/logger/src/logger.test.ts
Labels: skip changeset

#1584 Migrate to `.eslintrc.cjs` Eslint config files
  apps/cms-v2/.eslintrc.cjs
  apps/cms-v2/.eslintrc.json
  apps/data-importer/.eslintrc
  apps/data-importer/.eslintrc.cjs
  apps/klaviyo/.eslintrc
  apps/klaviyo/.eslintrc.cjs
  apps/search/.eslintrc
  apps/search/.eslintrc.cjs
  apps/smtp/.eslintrc
  apps/smtp/.eslintrc.cjs
  packages/e2e/.eslintrc
  packages/e2e/.eslintrc.cjs
  packages/react-hook-form-macaw/.eslintrc
  packages/react-hook-form-macaw/.eslintrc.cjs
  packages/sentry-utils/.eslintrc
  packages/sentry-utils/.eslintrc.cjs
  packages/shared/.eslintrc
  packages/shared/.eslintrc.cjs
  packages/trpc/.eslintrc
  packages/trpc/.eslintrc.cjs
  packages/ui/.eslintrc
  packages/ui/.eslintrc.cjs
  packages/webhook-utils/.eslintrc
  packages/webhook-utils/.eslintrc.cjs
Labels: skip changeset

#1586 fix logs querying
  apps/avatax/src/modules/client-logs/logs-repository.ts
Labels: skip changeset, App: AvaTax

#1574 🚀 Release apps
  .changeset/afraid-dancers-cross.md
  .changeset/early-kangaroos-boil.md
  .changeset/many-tigers-crash.md
  .changeset/seven-radios-appear.md
  .changeset/shiny-wombats-melt.md
  apps/avatax/CHANGELOG.md
  apps/avatax/package.json
  apps/cms-v2/CHANGELOG.md
  apps/cms-v2/package.json
  apps/klaviyo/CHANGELOG.md
  apps/klaviyo/package.json
  apps/products-feed/CHANGELOG.md
  apps/products-feed/package.json
  apps/search/CHANGELOG.md
  apps/search/package.json
  apps/smtp/CHANGELOG.md
  apps/smtp/package.json
  packages/otel/CHANGELOG.md
  packages/otel/package.json
Labels: App: Search, App: Klaviyo, App: CMS, App: Product Feed, App: AvaTax, run e2e, App: SMTP

#1587 Add serverExternalPackages to AvaTax
  .changeset/stupid-maps-raise.md
  apps/avatax/next.config.js
  apps/avatax/package.json
  pnpm-lock.yaml
Labels: App: AvaTax

#1588 🚀 Release apps
  .changeset/stupid-maps-raise.md
  apps/avatax/CHANGELOG.md
  apps/avatax/package.json
Labels: App: AvaTax, run e2e

#1590 Add metadata cache to all webhooks
  .changeset/red-years-drive.md
  apps/avatax/src/pages/api/webhooks/checkout-calculate-taxes.ts
  apps/avatax/src/pages/api/webhooks/order-calculate-taxes.ts
  apps/avatax/src/pages/api/webhooks/order-cancelled.ts
Labels: App: AvaTax

#1592 Remove version checking on AvaTax register endpoint
  .changeset/silent-melons-yawn.md
  apps/avatax/saleor-app.ts
  apps/avatax/src/pages/api/manifest.ts
  apps/avatax/src/pages/api/register.ts
Labels: App: AvaTax

#1596 Add support for TransactionAlreadyCancelled to AvaTax
  .changeset/tiny-trains-film.md
  apps/avatax/src/modules/avatax/avatax-errors-parser.ts
  apps/avatax/src/modules/taxes/tax-error.ts
  apps/avatax/src/pages/api/webhooks/order-cancelled.ts
Labels: App: AvaTax

#1597 Update pnpm to 9.11.0
  .npmrc
  package.json
Labels: skip changeset

#1598 refactor: flatten webhooks
  apps/avatax/src/pages/api/webhooks/checkout-calculate-taxes.ts
  apps/avatax/src/pages/api/webhooks/order-calculate-taxes.ts
  apps/avatax/src/pages/api/webhooks/order-cancelled.ts
  apps/avatax/src/pages/api/webhooks/order-confirmed.ts
Labels: skip changeset, App: AvaTax

#1599 [E2E] Add money utils and fix manual discount values
  apps/avatax/e2e/tests/checkout_address_change.spec.ts
  apps/avatax/e2e/tests/checkout_basic_product_with_tax_code.spec.ts
  apps/avatax/e2e/tests/checkout_basic_product_without_tax_code.spec.ts
  apps/avatax/e2e/tests/checkout_order_promotion_subtotal_reward.spec.ts
  apps/avatax/e2e/tests/checkout_with_entire_voucher.spec.ts
  apps/avatax/e2e/tests/checkout_with_voucher_free_shipping.spec.ts
  apps/avatax/e2e/tests/draft_order_basic.spec.ts
  apps/avatax/e2e/tests/draft_order_with_manual_total_discount.spec.ts
  apps/avatax/e2e/utils/moneyUtils.ts
Labels: skip changeset, App: AvaTax
