Repository saleor/apps, pull requests merged in 2024-02, with the labels that each got.

#1186 feat: add gtin attribute to the google feed app
  .changeset/soft-shoes-flash.md
  apps/products-feed/src/modules/app-configuration/app-config.test.ts
  apps/products-feed/src/modules/app-configuration/app-config.ts
  apps/products-feed/src/modules/app-configuration/attribute-mapping-form.tsx
  apps/products-feed/src/modules/google-feed/attribute-mapping.test.ts
  apps/products-feed/src/modules/google-feed/attribute-mapping.ts
  apps/products-feed/src/modules/google-feed/generate-google-xml-feed.ts
  apps/products-feed/src/modules/google-feed/product-to-proxy.ts
  apps/products-feed/src/modules/google-feed/types.ts
  cspell.json
Labels: App: Product Feed

#1187 🚀 Release apps
  .changeset/soft-shoes-flash.md
  apps/products-feed/CHANGELOG.md
  apps/products-feed/package.json
Labels: App: Product Feed, skip changeset

#1189 Map customer code to a metadata field in the Taxes App
  .changeset/silly-trainers-carry.md
  apps/taxes/graphql/fragments/TaxBase.graphql
  apps/taxes/graphql/fragments/User.graphql
  apps/taxes/graphql/subscriptions/OrderConfirmed.graphql
  apps/taxes/src/modules/avatax/avatax-customer-code-resolver.test.ts
  apps/taxes/src/modules/avatax/avatax-customer-code-resolver.ts
  apps/taxes/src/modules/avatax/avatax-entity-type-matcher.ts
  apps/taxes/src/modules/avatax/calculate-taxes/avatax-calculate-taxes-mock-generator.ts
  apps/taxes/src/modules/avatax/calculate-taxes/avatax-calculate-taxes-payload-transformer.ts
  apps/taxes/src/modules/avatax/order-confirmed/avatax-order-confirmed-payload-transformer.ts
  apps/taxes/src/modules/taxjar/calculate-taxes/taxjar-calculate-taxes-mock-generator.ts
Labels: App: Taxes

#1192 🚀 Release apps
  .changeset/silly-trainers-carry.md
  apps/taxes/CHANGELOG.md
  apps/taxes/package.json
Labels: App: Taxes, skip changeset

#1185 Update README with search app deployment problem
  .github/PULL_REQUEST_TEMPLATE.md
Labels: skip changeset

#1197 Apply withOtel to api routes
  .changeset/clean-comics-share.md
  apps/emails-and-messages/next.config.js
  apps/emails-and-messages/package.json
  apps/emails-and-messages/src/lib/fetch-app-permissions.ts
  apps/emails-and-messages/src/logger.ts
  apps/emails-and-messages/src/modules/app-configuration/app-configuration.router.ts
  apps/emails-and-messages/src/modules/event-handlers/send-event-messages.ts
  apps/emails-and-messages/src/modules/feature-flag-service/feature-flag-service.ts
  apps/emails-and-messages/src/modules/sendgrid/configuration/migrations/sendgrid-config-migration-v1-to-v2.ts
  apps/emails-and-messages/src/modules/sendgrid/configuration/sendgrid-configuration.router.ts
  apps/emails-and-messages/src/modules/sendgrid/configuration/sendgrid-configuration.service.ts
  apps/emails-and-messages/src/modules/sendgrid/configuration/sendgrid-metadata-manager.ts
  apps/emails-and-messages/src/modules/sendgrid/send-sendgrid.ts
  apps/emails-and-messages/src/modules/smtp/compile-handlebars-template.ts
  apps/emails-and-messages/src/modules/smtp/compile-mjml.ts
  apps/emails-and-messages/src/modules/smtp/configuration/migrations/smtp-config-migration-v1-to-v2.ts
  apps/emails-and-messages/src/modules/smtp/configuration/smtp-configuration.router.ts
  apps/emails-and-messages/src/modules/smtp/configuration/smtp-configuration.service.ts
  apps/emails-and-messages/src/modules/smtp/configuration/smtp-metadata-manager.ts
  apps/emails-and-messages/src/modules/smtp/html-to-plaintext.ts
  apps/emails-and-messages/src/modules/smtp/send-email-with-smtp.ts
  apps/emails-and-messages/src/modules/smtp/send-smtp.ts
  apps/emails-and-messages/src/modules/trpc/protected-client-procedure-with-services.ts
  apps/emails-and-messages/src/modules/webhook-management/sync-webhook-status.ts
  apps/emails-and-messages/src/modules/webhook-management/webhook-management-service.ts
  apps/emails-and-messages/src/pages/api/manifest.ts
  apps/emails-and-messages/src/pages/api/register.ts
  apps/emails-and-messages/src/pages/api/trpc/[trpc].ts
  apps/emails-and-messages/src/pages/api/webhooks/gift-card-sent.ts
  apps/emails-and-messages/src/pages/api/webhooks/invoice-sent.ts
  apps/emails-and-messages/src/pages/api/webhooks/notify.ts
  apps/emails-and-messages/src/pages/api/webhooks/order-cancelled.ts
  apps/emails-and-messages/src/pages/api/webhooks/order-confirmed.ts
  apps/emails-and-messages/src/pages/api/webhooks/order-created.ts
  apps/emails-and-messages/src/pages/api/webhooks/order-fulfilled.ts
  apps/emails-and-messages/src/pages/api/webhooks/order-fully-paid.ts
  apps/emails-and-messages/src/pages/api/webhooks/order-refunded.ts
  pnpm-lock.yaml
Labels: App: Emails & Messages

#1198 🚀 Release apps
  .changeset/clean-comics-share.md
  apps/emails-and-messages/CHANGELOG.md
  apps/emails-and-messages/package.json
Labels: App: Emails & Messages, skip changeset

#1200 remove TESTING.md
  apps/taxes/README.md
  apps/taxes/TESTING.md
Labels: App: Taxes, skip changeset

#1205 🚀 Release apps
  .changeset/funny-llamas-suffer.md
  .changeset/itchy-points-give.md
  .changeset/stupid-buses-taste.md
  .changeset/unlucky-sloths-guess.md
  apps/avatax/CHANGELOG.md
  apps/avatax/package.json
  apps/taxes/CHANGELOG.md
  apps/taxes/package.json
  apps/taxjar/CHANGELOG.md
  apps/taxjar/package.json
Labels: App: Taxes, skip changeset

#1166 refactor: data resolvers in Taxes App
  apps/taxes/src/modules/avatax/avatax-calculation-date-resolver.test.ts
  apps/taxes/src/modules/avatax/avatax-calculation-date-resolver.ts
  apps/taxes/src/modules/avatax/avatax-customer-code-resolver.test.ts
  apps/taxes/src/modules/avatax/avatax-customer-code-resolver.ts
  apps/taxes/src/modules/avatax/avatax-data-resolver.test.ts
  apps/taxes/src/modules/avatax/avatax-data-resolver.ts
  apps/taxes/src/modules/avatax/avatax-document-code-resolver.test.ts
  apps/taxes/src/modules/avatax/avatax-document-code-resolver.ts
  apps/taxes/src/modules/avatax/calculate-taxes/avatax-calculate-taxes-payload-lines-transformer.test.ts
  apps/taxes/src/modules/avatax/calculate-taxes/avatax-calculate-taxes-payload-lines-transformer.ts
  apps/taxes/src/modules/avatax/calculate-taxes/avatax-calculate-taxes-payload-transformer.ts
  apps/taxes/src/modules/avatax/order-confirmed/avatax-address-resolver.ts
  apps/taxes/src/modules/avatax/order-confirmed/avatax-order-confirmed-adapter.ts
  apps/taxes/src/modules/avatax/order-confirmed/avatax-order-confirmed-payload-lines-transformer.test.ts
  apps/taxes/src/modules/avatax/order-confirmed/avatax-order-confirmed-payload-lines-transformer.ts
  apps/taxes/src/modules/avatax/order-confirmed/avatax-order-confirmed-payload-transformer.test.ts
  apps/taxes/src/modules/avatax/order-confirmed/avatax-order-confirmed-payload-transformer.ts
  apps/taxes/src/modules/avatax/order-confirmed/avatax-order-confirmed-payload.service.ts
  apps/taxes/src/modules/avatax/order-confirmed/avatax-order-confirmed-response-transformer.test.ts
  apps/taxes/src/modules/avatax/order-confirmed/avatax-order-confirmed-response-transformer.ts
  apps/taxes/src/modules/avatax/order-fully-refunded/avatax-order-fully-refunded-payload-transformer.ts
Labels: App: Taxes

#1212 Update cspell dict with shopex
  cspell.json
Labels: skip changeset

#1209 Add bruno requests to Avatax App
  apps/avatax/README.md
  apps/avatax/bruno/0_Fetch_product.bru
  apps/avatax/bruno/1_Create_checkout_US.bru
  apps/avatax/bruno/2_Update_delivery_method.bru
  apps/avatax/bruno/3_Complete_checkout.bru
  apps/avatax/bruno/bruno.json
  apps/avatax/bruno/collection.bru
  apps/avatax/bruno/environments/localhost.bru
  apps/avatax/bruno/environments/staging.bru
  apps/avatax/bruno/package.json
  cspell.json
Labels: skip changeset

#1214 🚀 Release apps
  .changeset/dull-apes-attend.md
  .changeset/new-drinks-wave.md
  .changeset/odd-ads-love.md
  .changeset/three-tools-kneel.md
  apps/avatax/CHANGELOG.md
  apps/avatax/package.json
  apps/cms-v2/CHANGELOG.md
  apps/cms-v2/package.json
  apps/crm/CHANGELOG.md
  apps/crm/package.json
  apps/data-importer/CHANGELOG.md
  apps/data-importer/package.json
  apps/emails-and-messages/CHANGELOG.md
  apps/emails-and-messages/package.json
  apps/invoices/CHANGELOG.md
  apps/invoices/package.json
  apps/klaviyo/CHANGELOG.md
  apps/klaviyo/package.json
  apps/products-feed/CHANGELOG.md
  apps/products-feed/package.json
  apps/search/CHANGELOG.md
  apps/search/package.json
  apps/segment/CHANGELOG.md
  apps/segment/package.json
  apps/slack/CHANGELOG.md
  apps/slack/package.json
  apps/taxes/CHANGELOG.md
  apps/taxes/package.json
  apps/taxjar/CHANGELOG.md
  apps/taxjar/package.json
  packages/otel/CHANGELOG.md
  packages/otel/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
  packages/trpc/CHANGELOG.md
  packages/trpc/package.json
  packages/webhook-utils/CHANGELOG.md
  packages/webhook-utils/package.json
Labels: App: Slack, App: Search, App: Emails & Messages, App: Invoices, App: Klaviyo, App: Taxes, App: Data Importer, App: CMS, App: Product Feed, App: CRM, App: Segment, skip changeset

#1219 Improved error handling in cases with missing address and lines
  .changeset/lazy-hornets-dream.md
  apps/avatax/src/modules/app/webhook-response.ts
  apps/avatax/src/modules/taxes/tax-error.ts
  apps/avatax/src/modules/webhooks/calculate-taxes-payload.ts
  apps/avatax/src/modules/webhooks/validate-webhook-payload.test.ts
  apps/avatax/src/modules/webhooks/validate-webhook-payload.ts
  apps/avatax/src/pages/api/webhooks/checkout-calculate-taxes.ts
  apps/avatax/src/pages/api/webhooks/order-calculate-taxes.ts
  pnpm-lock.yaml
Labels: App: Avatax

#1227 Fix avatax build
  apps/avatax/src/modules/avatax/avatax-webhook.service.ts
  apps/avatax/src/modules/avatax/calculate-taxes/avatax-calculate-taxes-adapter.ts
  apps/avatax/src/modules/avatax/calculate-taxes/avatax-calculate-taxes-payload-transformer.test.ts
  apps/avatax/src/modules/avatax/calculate-taxes/avatax-calculate-taxes-payload-transformer.ts
  apps/avatax/src/modules/avatax/calculate-taxes/avatax-calculate-taxes-payload.service.ts
  apps/avatax/src/modules/taxes/tax-provider-webhook.ts
Labels: skip changeset, App: Avatax

#1226 Fix turborepo warnings
  apps/crm/package.json
  apps/data-importer/package.json
  apps/invoices/package.json
  apps/klaviyo/package.json
  apps/products-feed/package.json
  apps/segment/package.json
  apps/slack/package.json
  package.json
  pnpm-lock.yaml
Labels: App: Slack, App: Invoices, App: Klaviyo, App: Data Importer, App: Product Feed, App: CRM, App: Segment, skip changeset

#1225 Avatax: Improve errors handling and logs context
  .changeset/happy-glasses-hammer.md
  .changeset/loud-feet-jog.md
  apps/avatax/src/logger-context.ts
  apps/avatax/src/logger.ts
  apps/avatax/src/modules/avatax/avatax-webhook.service.ts
  apps/avatax/src/modules/webhooks/calculate-taxes-errors-strategy.ts
  apps/avatax/src/pages/api/manifest.ts
  apps/avatax/src/pages/api/register.ts
  apps/avatax/src/pages/api/trpc/[trpc].ts
  apps/avatax/src/pages/api/webhooks/checkout-calculate-taxes.ts
  apps/avatax/src/pages/api/webhooks/order-calculate-taxes.ts
  apps/avatax/src/pages/api/webhooks/order-cancelled.ts
  apps/avatax/src/pages/api/webhooks/order-confirmed.ts
  apps/cms-v2/src/logger.ts
  apps/emails-and-messages/src/logger.ts
  apps/search/src/lib/logger.ts
  apps/taxes/src/logger.ts
  apps/taxjar/src/logger.ts
  packages/logger/index.ts
  packages/logger/node.ts
  packages/logger/package.json
  packages/logger/src/logger-context.test.ts
  packages/logger/src/logger-context.ts
  packages/logger/src/logger-otel-transport.ts
  packages/logger/src/logger.ts
Labels: App: Search, App: Emails & Messages, App: Taxes, App: CMS, App: Avatax, App: Taxjar

#1218 Add more integration tests to AvaTax app
  apps/avatax/.graphqlrc.ts
  apps/avatax/.graphqlrc.yml
  apps/avatax/README.md
  apps/avatax/e2e/data/maps/channel.json
  apps/avatax/e2e/data/maps/product.json
  apps/avatax/e2e/data/maps/voucher.json
  apps/avatax/e2e/data/templates/addVoucher.json
  apps/avatax/e2e/graphql/fragments/CheckoutDetails.graphql
  apps/avatax/e2e/graphql/fragments/CheckoutError.graphql
  apps/avatax/e2e/graphql/fragments/Money.graphql
  apps/avatax/e2e/graphql/mutations/CheckoutAddVoucher.graphql
  apps/avatax/e2e/graphql/mutations/CheckoutUpdateDeliveryMethod.graphql
  apps/avatax/e2e/graphql/mutations/CompleteCheckout.graphql
  apps/avatax/e2e/graphql/mutations/CreateCheckout.graphql
  apps/avatax/e2e/setup.ts
  apps/avatax/e2e/tests/entire_voucher_product_without_tax_class.spec.ts
  apps/avatax/e2e/tests/product_without_tax_class.spec.ts
  apps/avatax/package.json
  apps/avatax/vitest.workspace.ts
  apps/cms-v2/package.json
  apps/crm/package.json
  apps/data-importer/package.json
  apps/emails-and-messages/package.json
  apps/invoices/package.json
  apps/klaviyo/package.json
  apps/products-feed/package.json
  apps/search/package.json
  apps/segment/package.json
  apps/slack/package.json
  apps/taxes/package.json
  apps/taxjar/package.json
  packages/webhook-utils/package.json
  pnpm-lock.yaml
Labels: App: Slack, App: Search, App: Emails & Messages, App: Invoices, App: Klaviyo, App: Taxes, App: Data Importer, App: CMS, App: Product Feed, App: CRM, App: Segment, skip changeset, App: Avatax, App: Taxjar

#1231 Add `CheckoutError` fragment to CheckoutAddVoucher mutation
  apps/avatax/e2e/graphql/mutations/CheckoutAddVoucher.graphql
Labels: skip changeset, App: Avatax

#1233 Update timeouts for e2e tests in PactumJS
  apps/avatax/e2e/setup.ts
  apps/avatax/vitest.workspace.ts
Labels: skip changeset, App: Avatax

#1230 Avatax app e2e workflow
  .github/workflows/e2e.yml
  apps/avatax/package.json
  apps/avatax/vitest.workspace.ts
Labels: skip changeset, App: Avatax

#1220 🚀 Release apps
  .changeset/happy-glasses-hammer.md
  .changeset/lazy-hornets-dream.md
  .changeset/loud-feet-jog.md
  .changeset/rare-cups-argue.md
  apps/avatax/CHANGELOG.md
  apps/avatax/package.json
  apps/cms-v2/CHANGELOG.md
  apps/cms-v2/package.json
  apps/emails-and-messages/CHANGELOG.md
  apps/emails-and-messages/package.json
  apps/search/CHANGELOG.md
  apps/search/package.json
  apps/taxes/CHANGELOG.md
  apps/taxes/package.json
  apps/taxjar/CHANGELOG.md
  apps/taxjar/package.json
  packages/logger/CHANGELOG.md
  packages/logger/package.json
Labels: App: Search, App: Emails & Messages, App: Taxes, App: CMS, App: Avatax, App: Taxjar

#1236 Update e2e to use 1pass
  .github/workflows/e2e.yml
Labels: skip changeset

#1235 limit avatax app vercel resources
  .changeset/forty-balloons-do.md
  apps/avatax/vercel.json
Labels: App: Avatax

#1240 Fix paths to webhooks vercel.json
  apps/avatax/vercel.json
Labels: skip changeset, App: Avatax
