Repository saleor/apps, pull requests merged in 2024-11, with the labels that each got.

#1643 Update PNPM to 9.12.3
  package.json
Labels: skip changeset

#1646 Update GHA actions based on actionlint
  .github/labeler.yml
  .github/workflows/labeler.yml
  .github/workflows/prepare-release.yml
Labels: skip changeset

#1644 Added support for `itemCode` when handling order/checkout calc taxes in AvaTax
  .changeset/hungry-panthers-yawn.md
  apps/avatax/graphql/fragments/TaxBase.graphql
  apps/avatax/src/modules/avatax/calculate-taxes/avatax-calculate-taxes-payload-lines-transformer.test.ts
  apps/avatax/src/modules/avatax/calculate-taxes/avatax-calculate-taxes-payload-lines-transformer.ts
  apps/avatax/src/modules/avatax/calculate-taxes/avatax-product-line-calculate-taxes-factory.test.ts
  apps/avatax/src/modules/avatax/calculate-taxes/avatax-product-line-calculate-taxes-factory.ts
  apps/avatax/src/modules/avatax/calculate-taxes/avatax-product-line.ts
  apps/avatax/src/modules/calculate-taxes/use-case/calculate-taxes.use-case.test.ts
Labels: App: AvaTax

#1640 🚀 Release apps
  .changeset/green-jokes-burn.md
  .changeset/hungry-panthers-yawn.md
  .changeset/rare-crews-end.md
  apps/avatax/CHANGELOG.md
  apps/avatax/package.json
  apps/cms-v2/CHANGELOG.md
  apps/cms-v2/package.json
  apps/klaviyo/CHANGELOG.md
  apps/klaviyo/package.json
  apps/products-feed/CHANGELOG.md
  apps/products-feed/package.json
  apps/search/CHANGELOG.md
  apps/search/package.json
  apps/smtp/CHANGELOG.md
  apps/smtp/package.json
  packages/logger/CHANGELOG.md
  packages/logger/package.json
Labels: App: Search, App: Klaviyo, App: CMS, App: Product Feed, App: AvaTax, run e2e, App: SMTP

#1648 Fix logs that exceeds Vercel limit
  .changeset/fuzzy-pets-explode.md
  .changeset/new-hornets-build.md
  apps/avatax/package.json
  apps/avatax/src/error.ts
  apps/avatax/src/modules/avatax/extract-transaction-redacted-log-properties.ts
  apps/avatax/src/modules/calculate-taxes/use-case/calculate-taxes.use-case.ts
  apps/avatax/src/pages/api/webhooks/checkout-calculate-taxes.ts
  apps/avatax/src/pages/api/webhooks/order-calculate-taxes.ts
  apps/smtp/package.json
  packages/logger/package.json
  packages/webhook-utils/package.json
  pnpm-lock.yaml
Labels: App: AvaTax, App: SMTP

#1649 🚀 Release apps
  .changeset/fuzzy-pets-explode.md
  .changeset/new-hornets-build.md
  apps/avatax/CHANGELOG.md
  apps/avatax/package.json
  apps/cms-v2/CHANGELOG.md
  apps/cms-v2/package.json
  apps/klaviyo/CHANGELOG.md
  apps/klaviyo/package.json
  apps/products-feed/CHANGELOG.md
  apps/products-feed/package.json
  apps/search/CHANGELOG.md
  apps/search/package.json
  apps/smtp/CHANGELOG.md
  apps/smtp/package.json
  packages/logger/CHANGELOG.md
  packages/logger/package.json
  packages/webhook-utils/CHANGELOG.md
  packages/webhook-utils/package.json
Labels: App: Search, App: Klaviyo, App: CMS, App: Product Feed, App: AvaTax, run e2e, App: SMTP

#1642 Commit graphql generated artifacts
  .cspell.json
  .gitattributes
  .github/workflows/e2e.yml
  .github/workflows/main.yml
  .gitignore
  apps/avatax/e2e/generated/graphql.ts
  apps/avatax/e2e/generated/types.ts
  apps/avatax/generated/graphql.ts
  apps/avatax/package.json
  apps/cms-v2/generated/graphql.ts
  apps/cms-v2/generated/schema.graphql
  apps/cms-v2/package.json
  apps/klaviyo/generated/graphql.ts
  apps/klaviyo/generated/schema.graphql
  apps/klaviyo/package.json
  apps/products-feed/generated/graphql.ts
  apps/products-feed/generated/schema.graphql
  apps/products-feed/package.json
  apps/search/generated/graphql.ts
  apps/search/generated/schema.graphql
  apps/search/package.json
  apps/smtp/generated/graphql.ts
  apps/smtp/generated/schema.graphql
  apps/smtp/package.json
Labels: App: Search, App: Klaviyo, App: CMS, App: Product Feed, skip changeset, App: AvaTax, App: SMTP

#1651 🚀 Release apps
  .changeset/eighty-brooms-help.md
  .changeset/tender-timers-exercise.md
  apps/avatax/CHANGELOG.md
  apps/avatax/package.json
  apps/cms-v2/CHANGELOG.md
  apps/cms-v2/package.json
  apps/klaviyo/CHANGELOG.md
  apps/klaviyo/package.json
  apps/products-feed/CHANGELOG.md
  apps/products-feed/package.json
  apps/search/CHANGELOG.md
  apps/search/package.json
  apps/smtp/CHANGELOG.md
  apps/smtp/package.json
  packages/e2e/CHANGELOG.md
  packages/e2e/package.json
  packages/eslint-config-saleor/CHANGELOG.md
  packages/eslint-config-saleor/package.json
  packages/logger/CHANGELOG.md
  packages/logger/package.json
  packages/otel/CHANGELOG.md
  packages/otel/package.json
  packages/react-hook-form-macaw/CHANGELOG.md
  packages/react-hook-form-macaw/package.json
  packages/sentry-utils/CHANGELOG.md
  packages/sentry-utils/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
  packages/trpc/CHANGELOG.md
  packages/trpc/package.json
  packages/ui/CHANGELOG.md
  packages/ui/package.json
  packages/webhook-utils/CHANGELOG.md
  packages/webhook-utils/package.json
Labels: App: Search, App: Klaviyo, App: CMS, App: Product Feed, App: AvaTax, run e2e, App: SMTP

#1653 Add more information about size of the generated payload
  .changeset/little-zoos-tan.md
  apps/products-feed/src/pages/api/feed/[url]/[channel]/google.xml.ts
Labels: App: Product Feed

#1654 🚀 Release apps
  .changeset/little-zoos-tan.md
  apps/products-feed/CHANGELOG.md
  apps/products-feed/package.json
Labels: App: Product Feed

#1655 Install Vitest eslint plugin
  apps/avatax/src/modules/avatax/address-factory.test.ts
  packages/eslint-config-saleor/index.js
  packages/eslint-config-saleor/package.json
  pnpm-lock.yaml
Labels: skip changeset, App: AvaTax
