Repository saleor/apps, pull requests merged in 2024-03, with the labels that each got.

#1232 Add Otl to product feed app
  .changeset/light-donuts-heal.md
  apps/products-feed/next.config.js
  apps/products-feed/package.json
  apps/products-feed/src/lib/create-graphql-client.ts
  apps/products-feed/src/lib/create-instrumented-graphql-client.ts
  apps/products-feed/src/logger-context.ts
  apps/products-feed/src/logger.ts
  apps/products-feed/src/modules/app-configuration/app-config.ts
  apps/products-feed/src/modules/app-configuration/app-configuration.router.ts
  apps/products-feed/src/modules/file-storage/s3/upload-multi-part.ts
  apps/products-feed/src/modules/google-feed/fetch-product-data.ts
  apps/products-feed/src/modules/google-feed/fetch-shop-data.ts
  apps/products-feed/src/modules/google-feed/get-google-feed-settings.ts
  apps/products-feed/src/modules/handlebarsTemplates/render-handlebars-template.ts
  apps/products-feed/src/modules/trpc/middlewares.ts
  apps/products-feed/src/modules/trpc/protected-client-procedure.ts
  apps/products-feed/src/pages/api/feed/[url]/[channel]/google.xml.ts
  apps/products-feed/src/pages/api/manifest.ts
  apps/products-feed/src/pages/api/register.ts
  apps/products-feed/src/pages/api/trpc/[trpc].ts
  pnpm-lock.yaml
Labels: App: Product Feed

#1229 Update Next to 14
  .changeset/red-cherries-brake.md
  .github/workflows/changeset-checker.yml
  .github/workflows/check-deps.yml
  .github/workflows/prepare-release.yml
  .github/workflows/unit-tests.yml
  .nvmrc
  apps/avatax/package.json
  apps/cms-v2/package.json
  apps/crm/package.json
  apps/data-importer/package.json
  apps/emails-and-messages/package.json
  apps/invoices/package.json
  apps/klaviyo/package.json
  apps/products-feed/package.json
  apps/search/package.json
  apps/segment/package.json
  apps/slack/package.json
  apps/taxes/package.json
  apps/taxjar/package.json
  cspell.json
  package.json
  packages/eslint-config-saleor/package.json
  packages/shared/package.json
  packages/trpc/package.json
  packages/ui/package.json
  pnpm-lock.yaml
Labels: App: Slack, App: Search, App: Emails & Messages, App: Invoices, App: Klaviyo, App: Taxes, App: Data Importer, App: CMS, App: Product Feed, App: CRM, App: Segment, App: Avatax, App: Taxjar

#1244 Change some debug logs to info, add extra metadata
  .changeset/perfect-rice-warn.md
  apps/avatax/src/modules/avatax/calculate-taxes/avatax-calculate-taxes-adapter.ts
  apps/avatax/src/pages/api/webhooks/checkout-calculate-taxes.ts
  apps/avatax/src/pages/api/webhooks/order-calculate-taxes.ts
Labels: App: Avatax

#1245 SHOPX-332 Add Algolia parsing boolean attribute type
  .changeset/three-roses-hide.md
  apps/search/graphql/fragments/ProductAttributesData.graphql
  apps/search/src/lib/algolia/algoliaUtils.test.ts
  apps/search/src/lib/algolia/algoliaUtils.ts
Labels: App: Search

#1242 🚀 Release apps
  .changeset/perfect-rice-warn.md
  .changeset/red-cherries-brake.md
  .changeset/three-roses-hide.md
  apps/avatax/CHANGELOG.md
  apps/avatax/package.json
  apps/cms-v2/CHANGELOG.md
  apps/cms-v2/package.json
  apps/crm/CHANGELOG.md
  apps/crm/package.json
  apps/data-importer/CHANGELOG.md
  apps/data-importer/package.json
  apps/emails-and-messages/CHANGELOG.md
  apps/emails-and-messages/package.json
  apps/invoices/CHANGELOG.md
  apps/invoices/package.json
  apps/klaviyo/CHANGELOG.md
  apps/klaviyo/package.json
  apps/products-feed/CHANGELOG.md
  apps/products-feed/package.json
  apps/search/CHANGELOG.md
  apps/search/package.json
  apps/segment/CHANGELOG.md
  apps/segment/package.json
  apps/slack/CHANGELOG.md
  apps/slack/package.json
  apps/taxes/CHANGELOG.md
  apps/taxes/package.json
  apps/taxjar/CHANGELOG.md
  apps/taxjar/package.json
  packages/eslint-config-saleor/CHANGELOG.md
  packages/eslint-config-saleor/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
  packages/trpc/CHANGELOG.md
  packages/trpc/package.json
  packages/ui/CHANGELOG.md
  packages/ui/package.json
  packages/webhook-utils/CHANGELOG.md
  packages/webhook-utils/package.json
Labels: App: Slack, App: Search, App: Emails & Messages, App: Invoices, App: Klaviyo, App: Taxes, App: Data Importer, App: CMS, App: Product Feed, App: CRM, App: Segment, App: Avatax, App: Taxjar

#1247 Update tsx dependency to work with node 18.19
  apps/search/package.json
  pnpm-lock.yaml
Labels: App: Search, skip changeset

#1249 Update CI/CD workflows
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/main.yml
  .github/workflows/unit-tests.yml
  .gitignore
  apps/avatax/package.json
  apps/cms-v2/package.json
  apps/crm/package.json
  apps/data-importer/package.json
  apps/emails-and-messages/package.json
  apps/emails-and-messages/src/modules/webhook-management/sync-webhook-status.test.ts
  apps/invoices/package.json
  apps/klaviyo/package.json
  apps/products-feed/package.json
  apps/products-feed/src/modules/google-feed/attribute-mapping.test.ts
  apps/search/package.json
  apps/search/src/test/handlers/webhooks-status-handler.test.ts
  apps/segment/package.json
  apps/slack/package.json
  apps/taxes/package.json
  apps/taxjar/package.json
  package.json
  packages/e2e/package.json
  packages/e2e/tests/apps-installation.spec.ts
  packages/e2e/tsconfig.json
  packages/e2e/turbo.json
  packages/logger/package.json
  packages/otel/package.json
  packages/otel/src/shared-config.ts
  packages/otel/turbo.json
  packages/react-hook-form-macaw/package.json
  packages/shared/package.json
  packages/trpc/package.json
  packages/trpc/tsconfig.json
  packages/ui/module.css.d.ts
  packages/ui/package.json
  packages/webhook-utils/package.json
  pnpm-lock.yaml
  turbo.json
Labels: App: Slack, App: Search, App: Emails & Messages, App: Invoices, App: Klaviyo, App: Taxes, App: Data Importer, App: CMS, App: Product Feed, App: CRM, App: Segment, skip changeset, App: Avatax, App: Taxjar

#1251 Add version & issuedAt fields to Avatax app
  .changeset/cold-shirts-drive.md
  apps/avatax/graphql/fragments/CalculateTaxesEvent.graphql
  apps/avatax/graphql/fragments/WebhookMetadata.graphql
  apps/avatax/graphql/subscriptions/OrderCancelled.graphql
  apps/avatax/graphql/subscriptions/OrderConfirmed.graphql
  apps/avatax/src/pages/api/webhooks/checkout-calculate-taxes.ts
  apps/avatax/src/pages/api/webhooks/order-calculate-taxes.ts
  apps/avatax/src/pages/api/webhooks/order-cancelled.ts
  apps/avatax/src/pages/api/webhooks/order-confirmed.ts
Labels: App: Avatax

#1252 Protect apps using MANAGE_APPS permissions
  .changeset/famous-masks-mate.md
  apps/avatax/src/modules/trpc/protected-client-procedure.ts
  apps/avatax/src/pages/configuration.tsx
  apps/cms-v2/src/modules/trpc/protected-client-procedure.ts
  apps/cms-v2/src/pages/configuration.tsx
  apps/crm/src/modules/mailchimp/mailchimp-config.router.ts
  apps/crm/src/modules/trpc/protected-client-procedure.ts
  apps/crm/src/pages/api/auth/mailchimp/callback.ts
  apps/crm/src/pages/api/auth/mailchimp/oauth.ts
  apps/crm/src/pages/configuration/providers/[[...provider]].tsx
  apps/data-importer/src/pages/importer.tsx
  apps/emails-and-messages/src/modules/sendgrid/configuration/sendgrid-configuration.router.ts
  apps/emails-and-messages/src/modules/smtp/configuration/smtp-configuration.router.ts
  apps/emails-and-messages/src/modules/trpc/protected-client-procedure.ts
  apps/emails-and-messages/src/pages/configuration/index.tsx
  apps/invoices/src/modules/app-configuration/app-configuration-router.ts
  apps/invoices/src/modules/trpc/protected-client-procedure.ts
  apps/invoices/src/pages/configuration.tsx
  apps/klaviyo/src/pages/configuration.tsx
  apps/products-feed/src/modules/app-configuration/app-configuration.router.ts
  apps/products-feed/src/modules/category-mapping/category-mapping.router.ts
  apps/products-feed/src/modules/trpc/protected-client-procedure.ts
  apps/products-feed/src/pages/api/trpc/[trpc].ts
  apps/products-feed/src/pages/configuration.tsx
  apps/search/src/modules/configuration/configuration.router.ts
  apps/search/src/modules/trpc/protected-client-procedure.ts
  apps/search/src/pages/api/recreate-webhooks.ts
  apps/search/src/pages/api/setup-indices.ts
  apps/search/src/pages/api/webhooks-status.ts
  apps/search/src/pages/index.tsx
  apps/segment/src/modules/configuration/configuration.router.ts
  apps/segment/src/modules/trpc/protected-client-procedure.ts
  apps/slack/src/pages/configuration.tsx
  apps/taxes/src/modules/trpc/protected-client-procedure.ts
  apps/taxes/src/pages/configuration.tsx
  apps/taxjar/src/modules/trpc/protected-client-procedure.ts
  apps/taxjar/src/pages/configuration.tsx
  packages/shared/index.ts
  packages/shared/src/permissions.ts
Labels: App: Slack, App: Search, App: Emails & Messages, App: Invoices, App: Klaviyo, App: Taxes, App: Data Importer, App: CMS, App: Product Feed, App: CRM, App: Segment, App: Avatax, App: Taxjar

#1246 Use shipping address in `order-confirmed`
  .changeset/violet-keys-help.md
  apps/avatax/src/modules/avatax/order-confirmed/avatax-order-confirmed-payload-transformer.ts
  apps/avatax/src/pages/api/webhooks/order-confirmed.ts
Labels: App: Avatax

#1256 Increase vercel duration for async webhooks
  apps/avatax/vercel.json
Labels: skip changeset, App: Avatax

#1258 Fix migration script for avatax
  apps/avatax/scripts/migrations/run-webhooks-migration.ts
Labels: skip changeset, App: Avatax

#1254 🚀 Release apps
  .changeset/cold-shirts-drive.md
  .changeset/famous-masks-mate.md
  .changeset/flat-peas-check.md
  .changeset/violet-keys-help.md
  apps/avatax/CHANGELOG.md
  apps/avatax/package.json
  apps/cms-v2/CHANGELOG.md
  apps/cms-v2/package.json
  apps/crm/CHANGELOG.md
  apps/crm/package.json
  apps/data-importer/CHANGELOG.md
  apps/data-importer/package.json
  apps/emails-and-messages/CHANGELOG.md
  apps/emails-and-messages/package.json
  apps/invoices/CHANGELOG.md
  apps/invoices/package.json
  apps/klaviyo/CHANGELOG.md
  apps/klaviyo/package.json
  apps/products-feed/CHANGELOG.md
  apps/products-feed/package.json
  apps/search/CHANGELOG.md
  apps/search/package.json
  apps/segment/CHANGELOG.md
  apps/segment/package.json
  apps/slack/CHANGELOG.md
  apps/slack/package.json
  apps/taxes/CHANGELOG.md
  apps/taxes/package.json
  apps/taxjar/CHANGELOG.md
  apps/taxjar/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
  packages/trpc/CHANGELOG.md
  packages/trpc/package.json
  packages/webhook-utils/CHANGELOG.md
  packages/webhook-utils/package.json
Labels: App: Slack, App: Search, App: Emails & Messages, App: Invoices, App: Klaviyo, App: Taxes, App: Data Importer, App: CMS, App: Product Feed, App: CRM, App: Segment, App: Avatax, App: Taxjar

#1259 Update turbo configuration for avatax
  apps/avatax/turbo.json
Labels: skip changeset, App: Avatax

#1261 Update e2e workflow to run on label for Avatax
  .github/workflows/e2e.yml
Labels: skip changeset

#1260 Fix Sentry error logging for Avatax
  .changeset/little-ears-talk.md
  apps/avatax/src/modules/app/webhook-response.ts
  apps/avatax/src/pages/api/webhooks/order-cancelled.ts
  apps/avatax/src/pages/api/webhooks/order-confirmed.ts
Labels: App: Avatax

#1257 Increased timeout for avatax client
  .changeset/popular-geckos-jog.md
  apps/avatax/.env.example
  apps/avatax/src/modules/avatax/avatax-client.ts
  apps/avatax/turbo.json
Labels: App: Avatax

#1262 Remove clients logs feature from avatax app
  .changeset/five-news-cry.md
  apps/avatax/src/modules/avatax/avatax-webhook.service.ts
  apps/avatax/src/modules/avatax/calculate-taxes/avatax-calculate-taxes-adapter.ts
  apps/avatax/src/modules/avatax/order-cancelled/avatax-order-cancelled-adapter.ts
  apps/avatax/src/modules/avatax/order-confirmed/avatax-order-confirmed-adapter.ts
  apps/avatax/src/modules/logs/client-logger.router.ts
  apps/avatax/src/modules/logs/client-logger.ts
  apps/avatax/src/modules/logs/client-logs-metadata-repository.test.ts
  apps/avatax/src/modules/logs/client-logs-metadata-repository.ts
  apps/avatax/src/modules/logs/log-utils.test.ts
  apps/avatax/src/modules/logs/log-utils.ts
  apps/avatax/src/modules/logs/ui/client-logs-page.tsx
  apps/avatax/src/modules/logs/ui/client-logs-table.tsx
  apps/avatax/src/modules/logs/ui/client-logs.tsx
  apps/avatax/src/modules/taxes/get-active-connection-service.ts
  apps/avatax/src/modules/trpc/trpc-app-router.ts
  apps/avatax/src/modules/ui/providers-table.tsx
  apps/avatax/src/pages/providers/avatax/[id]/logs.tsx
Labels: App: Avatax

#1263 🚀 Release apps
  .changeset/five-news-cry.md
  .changeset/little-ears-talk.md
  .changeset/popular-geckos-jog.md
  apps/avatax/CHANGELOG.md
  apps/avatax/package.json
Labels: App: Avatax, run e2e

#1265 add metadata cache for webhooks
  .changeset/two-adults-repair.md
  apps/avatax/bruno/package-lock.json
  apps/avatax/src/lib/app-metadata-cache.ts
  apps/avatax/src/modules/app/metadata-manager.test.ts
  apps/avatax/src/modules/app/metadata-manager.ts
  apps/avatax/src/modules/avatax/configuration/avatax-connection-repository.ts
  apps/avatax/src/modules/avatax/configuration/avatax-connection.service.ts
  apps/avatax/src/modules/avatax/tax-code/avatax-tax-code-matches.service.ts
  apps/avatax/src/modules/channel-configuration/channel-configuration.service.ts
  apps/avatax/src/pages/api/webhooks/checkout-calculate-taxes.ts
  apps/avatax/src/pages/api/webhooks/order-calculate-taxes.ts
  apps/avatax/src/pages/api/webhooks/order-cancelled.ts
  apps/avatax/src/pages/api/webhooks/order-confirmed.ts
Labels: App: Avatax

#1267 🚀 Release apps
  .changeset/two-adults-repair.md
  apps/avatax/CHANGELOG.md
  apps/avatax/package.json
Labels: App: Avatax, run e2e

#1268 Add migration script to e2e workflow
  .github/workflows/e2e.yml
  apps/avatax/package.json
  apps/avatax/scripts/migrations/run-webhooks-migration.ts
  apps/avatax/scripts/migrations/update-webhooks.ts
Labels: skip changeset, App: Avatax, run e2e

#1270 Split e2e workflow into two: one for label second for dispatch
  .github/workflows/e2e.yml
  .github/workflows/run-e2e-dispatch.yml
  .github/workflows/run-e2e-label.yml
Labels: skip changeset, run e2e

#1264 Add `path` and `project_name` to OTEL logs
  .changeset/rotten-coins-study.md
  apps/products-feed/turbo.json
  packages/logger/src/logger-context.ts
  turbo.json
Labels: App: Product Feed

#1271 Avatax: Add handling of TaxExternalError related to invalid zip code
  .changeset/witty-ravens-tie.md
  apps/avatax/src/modules/avatax/calculate-taxes/avatax-calculate-taxes-adapter.ts
  apps/avatax/src/modules/taxes/tax-error.ts
  apps/avatax/src/pages/api/webhooks/checkout-calculate-taxes.ts
  apps/avatax/src/pages/api/webhooks/order-calculate-taxes.ts
Labels: App: Avatax

#1275 Send information if taxes are included in prices for Avatax app
  .changeset/spicy-radios-nail.md
  apps/avatax/graphql/schema.graphql
  apps/avatax/graphql/subscriptions/OrderConfirmed.graphql
  apps/avatax/src/mocks.ts
  apps/avatax/src/modules/avatax/avatax-webhook.service.ts
  apps/avatax/src/modules/avatax/order-confirmed/avatax-order-confirmed-adapter.ts
  apps/avatax/src/modules/avatax/order-confirmed/avatax-order-confirmed-payload-lines-transformer.test.ts
  apps/avatax/src/modules/avatax/order-confirmed/avatax-order-confirmed-payload-lines-transformer.ts
  apps/avatax/src/modules/avatax/order-confirmed/avatax-order-confirmed-payload-transformer.test.ts
  apps/avatax/src/modules/avatax/order-confirmed/avatax-order-confirmed-payload-transformer.ts
  apps/avatax/src/modules/avatax/order-confirmed/avatax-order-confirmed-payload.service.ts
  apps/avatax/src/modules/saleor/index.ts
  apps/avatax/src/modules/saleor/mock-order-factory.ts
  apps/avatax/src/modules/saleor/order-line.ts
  apps/avatax/src/modules/saleor/order-parser.ts
  apps/avatax/src/modules/saleor/order.ts
  apps/avatax/src/modules/saleor/shipping-line.ts
  apps/avatax/src/modules/saleor/types.ts
  apps/avatax/src/modules/taxes/tax-provider-webhook.ts
  apps/avatax/src/pages/api/webhooks/order-confirmed.ts
Labels: App: Avatax

#1278 Send noop response for checkout without address
  .changeset/red-carrots-care.md
  apps/avatax/src/modules/app/webhook-response.test.ts
  apps/avatax/src/modules/avatax/calculate-taxes/missing-address-avatax-webhook-service.ts
  apps/avatax/src/modules/taxes/tax-error.ts
  apps/avatax/src/modules/webhooks/validate-webhook-payload.test.ts
  apps/avatax/src/modules/webhooks/validate-webhook-payload.ts
  apps/avatax/src/pages/api/webhooks/checkout-calculate-taxes.ts
Labels: App: Avatax

#1272 Order and checkout E2E tests for products entered with tax
  .changeset/curvy-penguins-cheat.md
  .github/workflows/e2e.yml
  apps/avatax/.env.example
  apps/avatax/README.md
  apps/avatax/e2e/data/maps/address.json
  apps/avatax/e2e/data/maps/channel.json
  apps/avatax/e2e/data/templates/checkout.json
  apps/avatax/e2e/data/templates/order.json
  apps/avatax/e2e/graphql/fragments/Address.graphql
  apps/avatax/e2e/graphql/fragments/OrderDetails.graphql
  apps/avatax/e2e/graphql/fragments/OrderError.graphql
  apps/avatax/e2e/graphql/mutations/CheckoutAddBillingAddress.graphql
  apps/avatax/e2e/graphql/mutations/CheckoutAddShippingAddress.graphql
  apps/avatax/e2e/graphql/mutations/CompleteCheckout.graphql
  apps/avatax/e2e/graphql/mutations/CreateCheckoutNoAddress.graphql
  apps/avatax/e2e/graphql/mutations/CreateDraftOrder.graphql
  apps/avatax/e2e/graphql/mutations/CreateOrderLines.graphql
  apps/avatax/e2e/graphql/mutations/DraftOrderComplete.graphql
  apps/avatax/e2e/graphql/mutations/DraftOrderUpdateAddress.graphql
  apps/avatax/e2e/graphql/mutations/DraftOrderUpdateShippingMethod.graphql
  apps/avatax/e2e/graphql/mutations/TokenCreate.graphql
  apps/avatax/e2e/graphql/queries/OrderDetails.graphql
  apps/avatax/e2e/setup.ts
  apps/avatax/e2e/tests/checkout_address_change_with_product_tax.spec.ts
  apps/avatax/e2e/tests/checkout_with_product_tax.spec.ts
  apps/avatax/e2e/tests/order_with_product_tax.spec.ts
  apps/avatax/package.json
  apps/avatax/turbo.json
Labels: App: Avatax, run e2e

#1274 🚀 Release apps
  .changeset/curvy-penguins-cheat.md
  .changeset/new-bugs-mate.md
  .changeset/red-carrots-care.md
  .changeset/rotten-coins-study.md
  .changeset/silent-games-protect.md
  .changeset/spicy-radios-nail.md
  .changeset/witty-ravens-tie.md
  apps/avatax/CHANGELOG.md
  apps/avatax/package.json
  apps/cms-v2/CHANGELOG.md
  apps/cms-v2/package.json
  apps/emails-and-messages/CHANGELOG.md
  apps/emails-and-messages/package.json
  apps/products-feed/CHANGELOG.md
  apps/products-feed/package.json
  apps/search/CHANGELOG.md
  apps/search/package.json
  apps/taxjar/CHANGELOG.md
  apps/taxjar/package.json
  packages/logger/CHANGELOG.md
  packages/logger/package.json
Labels: App: Search, App: Emails & Messages, App: Taxes, App: CMS, App: Product Feed, App: Avatax, App: Taxjar, run e2e

#1279 Fix store logs & sentry pkg.json
  apps/avatax/sentry.client.config.ts
  apps/avatax/sentry.edge.config.ts
  apps/avatax/sentry.server.config.ts
  apps/avatax/src/lib/app-metadata-cache.ts
  apps/avatax/src/release-utils.ts
  apps/avatax/turbo.json
  packages/logger/src/logger-context.ts
  turbo.json
Labels: skip changeset, App: Avatax

#1286 Refactor webhook-response utility - removed it
  apps/avatax/src/modules/app/webhook-response.test.ts
  apps/avatax/src/modules/app/webhook-response.ts
  apps/avatax/src/pages/api/webhooks/checkout-calculate-taxes.ts
  apps/avatax/src/pages/api/webhooks/order-calculate-taxes.ts
  apps/avatax/src/pages/api/webhooks/order-cancelled.ts
  apps/avatax/src/pages/api/webhooks/order-confirmed.ts
Labels: skip changeset, App: Avatax
