Repository saleor/apps, pull requests merged in 2024-07, with the labels that each got.

#1457 Log when webhook is skip due to lack of connection or provider in cms app
  .changeset/selfish-forks-exercise.md
  apps/cms-v2/src/modules/webhooks-operations/webhooks-processors-delegator.ts
Labels: App: CMS

#1460 Add AvaTax string length error handling
  .changeset/loud-buckets-melt.md
  apps/avatax/src/modules/avatax/avatax-errors-parser.ts
  apps/avatax/src/modules/taxes/tax-error.ts
  apps/avatax/src/pages/api/webhooks/order-confirmed.ts
Labels: App: Avatax

#1458 🚀 Release apps
  .changeset/chilled-zoos-appear.md
  .changeset/loud-buckets-melt.md
  .changeset/pretty-dodos-explain.md
  .changeset/selfish-forks-exercise.md
  apps/avatax/CHANGELOG.md
  apps/avatax/package.json
  apps/cms-v2/CHANGELOG.md
  apps/cms-v2/package.json
Labels: App: CMS, App: Avatax, run e2e

#1461 Update typescript to 5.4.5
  .changeset/honest-goats-repair.md
  apps/avatax/package.json
  apps/avatax/src/pages/api/webhooks/order-confirmed.ts
  apps/cms-v2/package.json
  apps/crm/package.json
  apps/data-importer/package.json
  apps/emails-and-messages/package.json
  apps/invoices/package.json
  apps/klaviyo/package.json
  apps/products-feed/package.json
  apps/search/package.json
  apps/segment/package.json
  apps/slack/package.json
  apps/smtp/package.json
  apps/taxjar/package.json
  packages/e2e/package.json
  packages/eslint-config-saleor/package.json
  packages/logger/package.json
  packages/otel/package.json
  packages/react-hook-form-macaw/package.json
  packages/sentry-utils/package.json
  packages/shared/package.json
  packages/trpc/package.json
  packages/ui/package.json
  packages/webhook-utils/package.json
  pnpm-lock.yaml
Labels: App: Slack, App: Search, App: Emails & Messages, App: Invoices, App: Klaviyo, App: Data Importer, App: CMS, App: Product Feed, App: CRM, App: Segment, skip changeset, App: Avatax, App: Taxjar, App: SMTP

#1462 Add support for AvataxStringLengthError to order calc taxes
  .changeset/happy-turtles-do.md
  .changeset/mean-walls-mix.md
  apps/avatax/src/modules/avatax/avatax-errors-parser.ts
  apps/avatax/src/modules/taxes/tax-error.ts
  apps/avatax/src/pages/api/webhooks/order-calculate-taxes.ts
  apps/avatax/src/pages/api/webhooks/order-confirmed.ts
Labels: App: Avatax

#1465 Use PR diff instead of pnpm action for changesets
  .github/workflows/changeset-checker.yml
Labels: skip changeset

#1466 Pin pnpm version for release workflow
  .github/workflows/prepare-release.yml
Labels: skip changeset

#1467 🚀 Release apps
  .changeset/happy-turtles-do.md
  .changeset/honest-goats-repair.md
  .changeset/mean-walls-mix.md
  apps/avatax/CHANGELOG.md
  apps/avatax/package.json
  apps/cms-v2/CHANGELOG.md
  apps/cms-v2/package.json
  apps/crm/CHANGELOG.md
  apps/crm/package.json
  apps/data-importer/CHANGELOG.md
  apps/data-importer/package.json
  apps/emails-and-messages/CHANGELOG.md
  apps/emails-and-messages/package.json
  apps/invoices/CHANGELOG.md
  apps/invoices/package.json
  apps/klaviyo/CHANGELOG.md
  apps/klaviyo/package.json
  apps/products-feed/CHANGELOG.md
  apps/products-feed/package.json
  apps/search/CHANGELOG.md
  apps/search/package.json
  apps/segment/CHANGELOG.md
  apps/segment/package.json
  apps/slack/CHANGELOG.md
  apps/slack/package.json
  apps/smtp/CHANGELOG.md
  apps/smtp/package.json
  apps/taxjar/CHANGELOG.md
  apps/taxjar/package.json
  packages/e2e/CHANGELOG.md
  packages/e2e/package.json
  packages/eslint-config-saleor/CHANGELOG.md
  packages/eslint-config-saleor/package.json
  packages/logger/CHANGELOG.md
  packages/logger/package.json
  packages/otel/CHANGELOG.md
  packages/otel/package.json
  packages/react-hook-form-macaw/CHANGELOG.md
  packages/react-hook-form-macaw/package.json
  packages/sentry-utils/CHANGELOG.md
  packages/sentry-utils/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
  packages/trpc/CHANGELOG.md
  packages/trpc/package.json
  packages/ui/CHANGELOG.md
  packages/ui/package.json
  packages/webhook-utils/CHANGELOG.md
  packages/webhook-utils/package.json
Labels: App: Slack, App: Search, App: Emails & Messages, App: Invoices, App: Klaviyo, App: Data Importer, App: CMS, App: Product Feed, App: CRM, App: Segment, App: Avatax, App: Taxjar, run e2e, App: SMTP

#1468 Update migration webhooks - use parallelism
  .changeset/polite-wasps-press.md
  apps/avatax/scripts/migration-logger.ts
  apps/avatax/scripts/run-webhooks-migration.ts
  apps/avatax/turbo.json
Labels: App: Avatax

#1470 Add pkg linter & fix one rule
  .github/workflows/check-deps.yml
  .github/workflows/main.yml
  .husky/pre-commit
  cspell.json
  package.json
  pnpm-lock.yaml
  syncpack.config.js
Labels: skip changeset

#1471 Update eslint to add full support for TS 5.4.x
  apps/avatax/package.json
  apps/cms-v2/package.json
  apps/crm/package.json
  apps/data-importer/package.json
  apps/emails-and-messages/package.json
  apps/invoices/package.json
  apps/klaviyo/package.json
  apps/products-feed/package.json
  apps/search/package.json
  apps/segment/package.json
  apps/slack/package.json
  apps/smtp/package.json
  apps/taxjar/package.json
  package.json
  packages/eslint-config-saleor/index.js
  packages/eslint-config-saleor/package.json
  packages/logger/package.json
  packages/otel/package.json
  packages/react-hook-form-macaw/package.json
  packages/shared/package.json
  packages/trpc/package.json
  packages/ui/package.json
  packages/webhook-utils/package.json
  pnpm-lock.yaml
Labels: App: Slack, App: Search, App: Emails & Messages, App: Invoices, App: Klaviyo, App: Data Importer, App: CMS, App: Product Feed, App: CRM, App: Segment, skip changeset, App: Avatax, App: Taxjar, App: SMTP

#1472 Update vite & vitests
  apps/avatax/package.json
  apps/cms-v2/package.json
  apps/cms-v2/vitest.config.ts
  apps/crm/package.json
  apps/data-importer/package.json
  apps/emails-and-messages/package.json
  apps/invoices/package.json
  apps/invoices/src/modules/app-configuration/schema-v2/app-config.test.ts
  apps/invoices/src/modules/app-configuration/schema-v2/config-v1-to-v2-transformer.test.ts
  apps/klaviyo/package.json
  apps/products-feed/package.json
  apps/products-feed/src/modules/category-mapping/categories-fetcher.test.ts
  apps/products-feed/src/modules/google-feed/generate-google-xml-feed.test.ts
  apps/search/package.json
  apps/segment/package.json
  apps/slack/package.json
  apps/smtp/package.json
  apps/smtp/src/modules/smtp/services/mjml-compiler.test.ts
  apps/taxjar/package.json
  packages/logger/package.json
  packages/react-hook-form-macaw/package.json
  packages/shared/package.json
  packages/shared/src/editor-js/editor-js-plaintext-renderer.test.ts
  packages/webhook-utils/package.json
  pnpm-lock.yaml
Labels: App: Slack, App: Search, App: Emails & Messages, App: Invoices, App: Klaviyo, App: Data Importer, App: CMS, App: Product Feed, App: CRM, App: Segment, skip changeset, App: Avatax, App: Taxjar, App: SMTP

#1474 Add env variable for file APL
  .changeset/lovely-toys-crash.md
  Dockerfile.avatax.dev
  apps/avatax/.env.example
  apps/avatax/saleor-app.ts
  apps/avatax/turbo.json
Labels: App: Avatax

#1475 Remove not needed dockerfile folder creation
  Dockerfile.avatax.dev
Labels: skip changeset

#1473 Fix sherif rule - types in deps
  apps/search/package.json
  package.json
  pnpm-lock.yaml
Labels: App: Search, skip changeset

#1477 Fix sherif rules that don't require bumping deps
  apps/avatax/package.json
  apps/cms-v2/package.json
  apps/crm/package.json
  apps/data-importer/package.json
  apps/emails-and-messages/package.json
  apps/invoices/package.json
  apps/klaviyo/package.json
  apps/products-feed/package.json
  apps/search/package.json
  apps/segment/package.json
  apps/smtp/package.json
  apps/taxjar/package.json
  packages/e2e/package.json
  packages/otel/package.json
  packages/shared/package.json
  packages/trpc/package.json
  packages/webhook-utils/package.json
  pnpm-lock.yaml
Labels: App: Slack, App: Search, App: Emails & Messages, App: Invoices, App: Klaviyo, App: Data Importer, App: CMS, App: Product Feed, App: CRM, App: Segment, skip changeset, App: Avatax, App: Taxjar, App: SMTP

#1480 Cleanup codeowners file after recent updates
  CODEOWNERS
Labels: skip changeset

#1469 🚀 Release apps
  .changeset/lovely-toys-crash.md
  .changeset/polite-wasps-press.md
  apps/avatax/CHANGELOG.md
  apps/avatax/package.json
Labels: App: Avatax, run e2e

#1481 Change log in webhook migration from error to warn
  apps/avatax/scripts/run-webhooks-migration.ts
Labels: skip changeset, App: Avatax

#1485 Improve AvaTax functions cold-starts
  .changeset/tame-hairs-punch.md
  apps/avatax/next.config.js
  apps/avatax/vercel.json
Labels: App: Avatax

#1487 Remove vercel.json file
  apps/avatax/vercel.json
Labels: skip changeset, App: Avatax

#1486 🚀 Release apps
  .changeset/tame-hairs-punch.md
  apps/avatax/CHANGELOG.md
  apps/avatax/package.json
Labels: App: Avatax, run e2e

#1492 Add env 320 to e2e matrix
  .github/workflows/e2e.yml
Labels: skip changeset

#1494 Handle Sentry getTaxError
  .changeset/stale-flies-grin.md
  apps/avatax/src/pages/api/webhooks/order-calculate-taxes.ts
Labels: App: Avatax

#1495 Update depenendencies for Avatax & SMTP
  .changeset/cool-lamps-knock.md
  apps/avatax/package.json
  apps/smtp/package.json
  package.json
  pnpm-lock.yaml
Labels: App: Avatax, App: SMTP

#1490 🚀 Release apps
  .changeset/cool-lamps-knock.md
  .changeset/flat-gorillas-destroy.md
  .changeset/hungry-points-judge.md
  .changeset/stale-flies-grin.md
  apps/avatax/CHANGELOG.md
  apps/avatax/package.json
  apps/cms-v2/CHANGELOG.md
  apps/cms-v2/package.json
  apps/data-importer/CHANGELOG.md
  apps/data-importer/package.json
  apps/emails-and-messages/CHANGELOG.md
  apps/emails-and-messages/package.json
  apps/klaviyo/CHANGELOG.md
  apps/klaviyo/package.json
  apps/products-feed/CHANGELOG.md
  apps/products-feed/package.json
  apps/search/CHANGELOG.md
  apps/search/package.json
  apps/smtp/CHANGELOG.md
  apps/smtp/package.json
Labels: App: Search, App: Emails & Messages, App: Klaviyo, App: Data Importer, App: CMS, App: Product Feed, App: Avatax, run e2e, App: SMTP
