Repository saleor/apps, pull requests merged in 2024-05, with the labels that each got.

#1321 Introduce CALCULATE_TAXES usecase for checkout_calculate_taxes
  apps/avatax/src/lib/app-config-extractor.ts
  apps/avatax/src/modules/calculate-taxes/use-case/calculate-taxes.use-case.test.ts
  apps/avatax/src/modules/calculate-taxes/use-case/calculate-taxes.use-case.ts
  apps/avatax/src/pages/api/webhooks/checkout-calculate-taxes.ts
Labels: skip changeset, App: Avatax

#1328 Log subscription payload errors
  .changeset/great-turkeys-shake.md
  apps/avatax/src/lib/error-utils.test.ts
  apps/avatax/src/lib/error-utils.ts
  apps/avatax/src/modules/avatax/ui/avatax-configuration-address-fragment.tsx
  apps/avatax/src/modules/avatax/ui/avatax-configuration-credentials-fragment.tsx
  apps/avatax/src/pages/api/webhooks/checkout-calculate-taxes.ts
  apps/avatax/src/pages/api/webhooks/order-calculate-taxes.ts
  apps/avatax/src/pages/api/webhooks/order-cancelled.ts
  apps/avatax/src/pages/api/webhooks/order-confirmed.ts
Labels: App: Avatax

#1318 Improve webhook migration script
  .changeset/tidy-jobs-mix.md
  .changeset/tricky-ads-smile.md
  .github/workflows/e2e.yml
  apps/avatax/README.md
  apps/avatax/package.json
  apps/avatax/scripts/logger.ts
  apps/avatax/scripts/migrations/migration-utils.ts
  apps/avatax/scripts/migrations/run-webhooks-migration.ts
  apps/avatax/scripts/migrations/update-webhooks.ts
  apps/avatax/scripts/run-webhooks-migration.ts
  apps/avatax/src/logger.ts
  apps/avatax/turbo.json
  apps/products-feed/scripts/migrations/update-webhooks.ts
  apps/search/scripts/migrations/update-webhooks.ts
  cspell.json
  packages/otel/index.ts
  packages/otel/src/instrumentation.ts
  packages/otel/src/otel-wrapper.ts
  packages/otel/turbo.json
  packages/webhook-utils/.graphqlrc.ts
  packages/webhook-utils/generated/graphql.ts
  packages/webhook-utils/generated/schema.graphql
  packages/webhook-utils/graphql/fragments/AppDetails.graphql
  packages/webhook-utils/graphql/fragments/ChannelDetails.graphql
  packages/webhook-utils/graphql/fragments/ShopDetails.graphql
  packages/webhook-utils/graphql/mutations/CreateAppWebhook.graphql
  packages/webhook-utils/graphql/mutations/RemoveAppWebhook.graphql
  packages/webhook-utils/graphql/queries/GetAppDetailsAndWebhooksData.graphql
  packages/webhook-utils/graphql/queries/GetSaleorInstanceData.graphql
  packages/webhook-utils/graphql/schema.graphql
  packages/webhook-utils/index.ts
  packages/webhook-utils/package.json
  packages/webhook-utils/src/create-app-webhook-from-manifest.ts
  packages/webhook-utils/src/create-app-webhook-from-webhook-details-fragment.ts
  packages/webhook-utils/src/errors.ts
  packages/webhook-utils/src/filters/get-webhook-ids-and-manifests-to-update.test.ts
  packages/webhook-utils/src/filters/get-webhook-ids-and-manifests-to-update.ts
  packages/webhook-utils/src/filters/webhooks-to-add.test.ts
  packages/webhook-utils/src/filters/webhooks-to-add.ts
  packages/webhook-utils/src/filters/webhooks-to-remove.test.ts
  packages/webhook-utils/src/filters/webhooks-to-remove.ts
  packages/webhook-utils/src/logger-context.ts
  packages/webhook-utils/src/modify-app-webhook-from-manifest.ts
  packages/webhook-utils/src/modify-app-webhook-from-webhook-details.ts
  packages/webhook-utils/src/operations/create-app-webhook.ts
  packages/webhook-utils/src/operations/get-app-details-and-webhooks-data.ts
  packages/webhook-utils/src/operations/get-saleor-instance-details.ts
  packages/webhook-utils/src/operations/modify-app-webhook.ts
  packages/webhook-utils/src/operations/remove-app-webhook.ts
  packages/webhook-utils/src/parse-schema-version.ts
  packages/webhook-utils/src/types.ts
  packages/webhook-utils/src/update-webhooks.ts
  packages/webhook-utils/src/webhook-migration-runner.ts
  packages/webhook-utils/src/webhook-updater.ts
  pnpm-lock.yaml
Labels: App: Search, App: Product Feed, App: Avatax

#1334 Remove double webhook migration log
  packages/webhook-utils/src/webhook-migration-runner.ts
  packages/webhook-utils/src/webhook-updater.ts
Labels: skip changeset

#1322 Tech debt: refactor OrderLine to include more fields
  .changeset/empty-queens-fail.md
  apps/avatax/src/modules/avatax/avatax-webhook.service.ts
  apps/avatax/src/modules/avatax/order-confirmed/avatax-order-confirmed-adapter.ts
  apps/avatax/src/modules/avatax/order-confirmed/avatax-order-confirmed-payload-lines-transformer.test.ts
  apps/avatax/src/modules/avatax/order-confirmed/avatax-order-confirmed-payload-lines-transformer.ts
  apps/avatax/src/modules/avatax/order-confirmed/avatax-order-confirmed-payload-transformer.test.ts
  apps/avatax/src/modules/avatax/order-confirmed/avatax-order-confirmed-payload-transformer.ts
  apps/avatax/src/modules/avatax/order-confirmed/avatax-order-confirmed-payload.service.ts
  apps/avatax/src/modules/avatax/order-confirmed/avatax-order-confirmed-tax-code-matcher.test.ts
  apps/avatax/src/modules/avatax/order-confirmed/avatax-order-confirmed-tax-code-matcher.ts
  apps/avatax/src/modules/avatax/order-confirmed/saleor-order-to-avatax-lines-transformer.test.ts
  apps/avatax/src/modules/avatax/order-confirmed/saleor-order-to-avatax-lines-transformer.ts
  apps/avatax/src/modules/saleor/index.ts
  apps/avatax/src/modules/saleor/mock-order-factory.ts
  apps/avatax/src/modules/saleor/order-cancelled/errors.ts
  apps/avatax/src/modules/saleor/order-cancelled/event.test.ts
  apps/avatax/src/modules/saleor/order-cancelled/event.ts
  apps/avatax/src/modules/saleor/order-cancelled/index.ts
  apps/avatax/src/modules/saleor/order-confirmed/event.test.ts
  apps/avatax/src/modules/saleor/order-confirmed/event.ts
  apps/avatax/src/modules/saleor/order-confirmed/index.ts
  apps/avatax/src/modules/saleor/order-confirmed/mocks.ts
  apps/avatax/src/modules/saleor/order-line-mocks.ts
  apps/avatax/src/modules/saleor/order-line.test.ts
  apps/avatax/src/modules/saleor/order-line.ts
  apps/avatax/src/modules/saleor/order-parser.ts
  apps/avatax/src/modules/saleor/shipping-line.ts
  apps/avatax/src/modules/saleor/types.ts
  apps/avatax/src/modules/taxes/tax-provider-webhook.ts
  apps/avatax/src/pages/api/webhooks/order-cancelled.ts
  apps/avatax/src/pages/api/webhooks/order-confirmed.ts
Labels: App: Avatax

#1327 🚀 Release apps
  .changeset/chatty-roses-fold.md
  .changeset/empty-queens-fail.md
  .changeset/great-turkeys-shake.md
  .changeset/tidy-jobs-mix.md
  .changeset/tricky-ads-smile.md
  apps/avatax/CHANGELOG.md
  apps/avatax/package.json
  apps/cms-v2/CHANGELOG.md
  apps/cms-v2/package.json
  apps/emails-and-messages/CHANGELOG.md
  apps/emails-and-messages/package.json
  apps/products-feed/CHANGELOG.md
  apps/products-feed/package.json
  apps/search/CHANGELOG.md
  apps/search/package.json
  apps/smtp/CHANGELOG.md
  apps/smtp/package.json
  apps/taxjar/CHANGELOG.md
  apps/taxjar/package.json
  packages/logger/CHANGELOG.md
  packages/logger/package.json
  packages/webhook-utils/CHANGELOG.md
  packages/webhook-utils/package.json
Labels: App: Search, App: Emails & Messages, App: CMS, App: Product Feed, App: Avatax, App: Taxjar, run e2e

#1336 Cleanup and refactor SMTP app
  apps/smtp/src/const.ts
  apps/smtp/src/lib/create-instrumented-graphql-client.ts
  apps/smtp/src/lib/get-event-form-status.test.ts
  apps/smtp/src/lib/metadata-manager.ts
  apps/smtp/src/logger.ts
  apps/smtp/src/modules/app-configuration/app-config-metadata-manager.ts
  apps/smtp/src/modules/app-configuration/app-config-schema.ts
  apps/smtp/src/modules/app-configuration/filter-configurations.test.ts
  apps/smtp/src/modules/app-configuration/migrations/get-channels-assigned-to-config-id.test.ts
  apps/smtp/src/modules/app-configuration/migrations/get-channels-assigned-to-config-id.ts
  apps/smtp/src/modules/app-configuration/ui/messaging-providers-box.tsx
  apps/smtp/src/modules/app-configuration/urls.ts
  apps/smtp/src/modules/channels/is-available-in-channel.test.ts
  apps/smtp/src/modules/event-handlers/default-payloads.ts
  apps/smtp/src/modules/event-handlers/send-event-messages.ts
  apps/smtp/src/modules/event-handlers/send-event-messages.use-case.ts
  apps/smtp/src/modules/feature-flag-service/feature-flag-service.test.ts
  apps/smtp/src/modules/feature-flag-service/get-feature-flags.test.ts
  apps/smtp/src/modules/smtp/configuration/migrations/mjml-config-schema-v1.ts
  apps/smtp/src/modules/smtp/configuration/migrations/smtp-config-migration-v1-to-v2.ts
  apps/smtp/src/modules/smtp/configuration/migrations/smtp-config-schema-v2.ts
  apps/smtp/src/modules/smtp/configuration/migrations/smtp-transform-v1-to-v2.test.ts
  apps/smtp/src/modules/smtp/configuration/migrations/smtp-transform-v1-to-v2.ts
  apps/smtp/src/modules/smtp/configuration/mjml-metadata-manager.ts
  apps/smtp/src/modules/smtp/configuration/smtp-config-schema.ts
  apps/smtp/src/modules/smtp/configuration/smtp-configuration.service.test.ts
  apps/smtp/src/modules/smtp/configuration/smtp-configuration.service.ts
  apps/smtp/src/modules/smtp/configuration/smtp-default-empty-configurations.ts
  apps/smtp/src/modules/smtp/configuration/smtp-metadata-manager-v2.ts
  apps/smtp/src/modules/smtp/configuration/smtp-metadata-manager.ts
  apps/smtp/src/modules/smtp/email-compiler.ts
  apps/smtp/src/modules/smtp/html-to-plaintext.ts
  apps/smtp/src/modules/smtp/send-email-with-smtp.ts
  apps/smtp/src/modules/smtp/send-smtp.ts
  apps/smtp/src/modules/smtp/smtp-email-sender.ts
  apps/smtp/src/modules/smtp/ui/event-form.tsx
  apps/smtp/src/modules/trpc/protected-client-procedure-with-services.ts
  apps/smtp/src/modules/trpc/protected-client-procedure.ts
  apps/smtp/src/modules/trpc/trpc-context.ts
  apps/smtp/src/modules/webhook-management/get-webhook-statuses-from-configurations.test.ts
  apps/smtp/src/modules/webhook-management/sync-webhook-status.test.ts
  apps/smtp/src/modules/webhook-management/sync-webhook-status.ts
  apps/smtp/src/modules/webhook-management/webhook-management-service.test.ts
  apps/smtp/src/pages/api/manifest.ts
  apps/smtp/src/pages/api/webhooks/gift-card-sent.ts
  apps/smtp/src/pages/api/webhooks/invoice-sent.ts
  apps/smtp/src/pages/api/webhooks/notify.ts
  apps/smtp/src/pages/api/webhooks/order-cancelled.ts
  apps/smtp/src/pages/api/webhooks/order-confirmed.ts
  apps/smtp/src/pages/api/webhooks/order-created.ts
  apps/smtp/src/pages/api/webhooks/order-fulfilled.ts
  apps/smtp/src/pages/api/webhooks/order-fully-paid.ts
  apps/smtp/src/pages/api/webhooks/order-refunded.ts
  apps/smtp/src/pages/configuration/choose-provider.tsx
  apps/smtp/src/pages/configuration/index.tsx
  apps/smtp/src/pages/configuration/smtp/new.tsx
  apps/smtp/src/pages/index.tsx
Labels: skip changeset

#1337 Check algolia errors and disable webhooks only if auth error occured
  .changeset/hungry-beers-sip.md
  .changeset/lemon-drinks-cross.md
  apps/search/src/domain/WebhookActivityToggler.service.ts
  apps/search/src/lib/algolia/algolia-error-parser.test.ts
  apps/search/src/lib/algolia/algolia-error-parser.ts
  apps/search/src/lib/algolia/algoliaSearchProvider.ts
  apps/search/src/modules/trpc/protected-client-procedure.ts
  apps/search/src/pages/api/webhooks/saleor/product_created.ts
  apps/search/src/pages/api/webhooks/saleor/product_deleted.ts
  apps/search/src/pages/api/webhooks/saleor/product_updated.ts
  apps/search/src/pages/api/webhooks/saleor/product_variant_back_in_stock.ts
  apps/search/src/pages/api/webhooks/saleor/product_variant_created.ts
  apps/search/src/pages/api/webhooks/saleor/product_variant_deleted.ts
  apps/search/src/pages/api/webhooks/saleor/product_variant_out_of_stock.ts
  apps/search/src/pages/api/webhooks/saleor/product_variant_updated.ts
Labels: App: Search

#1341 Fix SMTP app deploy
  apps/smtp/package.json
  apps/smtp/scripts/deploy.ts
  apps/smtp/src/release-utils.ts
  apps/smtp/turbo.json
  pnpm-lock.yaml
Labels: skip changeset

#1340 Introduce error handling in SmtpConfigProviderService
  apps/smtp/package.json
  apps/smtp/src/components/manage-permissions-text-link.tsx
  apps/smtp/src/errors.ts
  apps/smtp/src/modules/app-configuration/ui/messaging-providers-box.tsx
  apps/smtp/src/modules/event-handlers/send-event-messages.use-case.ts
  apps/smtp/src/modules/feature-flag-service/feature-flag-service.ts
  apps/smtp/src/modules/smtp/configuration/smtp-configuration.router.ts
  apps/smtp/src/modules/smtp/configuration/smtp-configuration.service.test.ts
  apps/smtp/src/modules/smtp/configuration/smtp-configuration.service.ts
  apps/smtp/src/modules/smtp/configuration/smtp-metadata-manager.ts
  apps/smtp/src/modules/smtp/ui/smtp-logo.tsx
  apps/smtp/src/modules/webhook-management/sync-webhook-status.ts
  apps/smtp/src/not-ready.tsx
  apps/smtp/src/pages/api/webhooks/gift-card-sent.ts
  apps/smtp/src/pages/api/webhooks/invoice-sent.ts
  apps/smtp/src/pages/api/webhooks/notify.ts
  apps/smtp/src/pages/api/webhooks/order-cancelled.ts
  apps/smtp/src/pages/api/webhooks/order-confirmed.ts
  apps/smtp/src/pages/api/webhooks/order-created.ts
  apps/smtp/src/pages/api/webhooks/order-fulfilled.ts
  apps/smtp/src/pages/api/webhooks/order-fully-paid.ts
  apps/smtp/src/pages/api/webhooks/order-refunded.ts
  pnpm-lock.yaml
Labels: skip changeset

#1343 Don't send handled error for `checkoutCalculateTaxes` event into Sentry
  .changeset/sour-frogs-cheat.md
  apps/avatax/src/lib/error-utils.test.ts
  apps/avatax/src/lib/error-utils.ts
Labels: App: Avatax

#1342 Implement price reduction discounts in avatax app
  .changeset/tender-toes-jam.md
  apps/avatax/graphql/fragments/TaxBase.graphql
  apps/avatax/graphql/subscriptions/OrderConfirmed.graphql
  apps/avatax/src/mocks.ts
  apps/avatax/src/modules/avatax/calculate-taxes/avatax-calculate-taxes-mock-generator.ts
  apps/avatax/src/modules/avatax/calculate-taxes/avatax-calculate-taxes-payload-lines-transformer.test.ts
  apps/avatax/src/modules/avatax/calculate-taxes/avatax-calculate-taxes-payload-lines-transformer.ts
  apps/avatax/src/modules/avatax/calculate-taxes/avatax-calculate-taxes-payload-transformer.test.ts
  apps/avatax/src/modules/avatax/calculate-taxes/avatax-calculate-taxes-payload-transformer.ts
  apps/avatax/src/modules/avatax/calculate-taxes/avatax-product-line.ts
  apps/avatax/src/modules/avatax/calculate-taxes/avatax-shipping-line.ts
  apps/avatax/src/modules/avatax/create-transaction-args-properties.ts
  apps/avatax/src/modules/avatax/order-confirmed/avatax-order-confirmed-payload-transformer.test.ts
  apps/avatax/src/modules/avatax/order-confirmed/avatax-order-confirmed-payload-transformer.ts
  apps/avatax/src/modules/avatax/order-confirmed/saleor-order-to-avatax-lines-transformer.test.ts
  apps/avatax/src/modules/avatax/order-confirmed/saleor-order-to-avatax-lines-transformer.ts
  apps/avatax/src/modules/calculate-taxes/use-case/calculate-taxes.use-case.test.ts
  apps/avatax/src/modules/saleor/order-confirmed/event.test.ts
  apps/avatax/src/modules/saleor/order-confirmed/event.ts
  apps/avatax/src/modules/taxes/discount-utils.test.ts
  apps/avatax/src/modules/taxes/discount-utils.ts
  apps/avatax/src/modules/webhooks/validate-webhook-payload.test.ts
Labels: App: Avatax

#1345 Chunk of refactors and error handling
  apps/smtp/src/lib/is-in-iframe.ts
  apps/smtp/src/lib/no-ssr-wrapper.tsx
  apps/smtp/src/modules/event-handlers/send-event-messages.use-case.factory.ts
  apps/smtp/src/modules/event-handlers/send-event-messages.use-case.test.ts
  apps/smtp/src/modules/event-handlers/send-event-messages.use-case.ts
  apps/smtp/src/modules/shop-info/shop-info-fetcher.ts
  apps/smtp/src/modules/smtp/compile-handlebars-template.ts
  apps/smtp/src/modules/smtp/compile-mjml.ts
  apps/smtp/src/modules/smtp/configuration/smtp-configuration.router.ts
  apps/smtp/src/modules/smtp/configuration/smtp-configuration.service.ts
  apps/smtp/src/modules/smtp/configuration/smtp-metadata-manager.ts
  apps/smtp/src/modules/smtp/email-compiler.ts
  apps/smtp/src/modules/smtp/html-to-plaintext.ts
  apps/smtp/src/modules/smtp/services/email-compiler.test.ts
  apps/smtp/src/modules/smtp/services/email-compiler.ts
  apps/smtp/src/modules/smtp/services/handlebars-template-compiler.test.ts
  apps/smtp/src/modules/smtp/services/handlebars-template-compiler.ts
  apps/smtp/src/modules/smtp/services/html-to-text-compiler.test.ts
  apps/smtp/src/modules/smtp/services/html-to-text-compiler.ts
  apps/smtp/src/modules/smtp/services/mjml-compiler.test.ts
  apps/smtp/src/modules/smtp/services/mjml-compiler.ts
  apps/smtp/src/modules/smtp/services/smtp-email-sender.ts
  apps/smtp/src/pages/_app.tsx
  apps/smtp/src/pages/api/webhooks/gift-card-sent.ts
  apps/smtp/src/pages/api/webhooks/invoice-sent.ts
  apps/smtp/src/pages/api/webhooks/notify.ts
  apps/smtp/src/pages/api/webhooks/order-cancelled.ts
  apps/smtp/src/pages/api/webhooks/order-confirmed.ts
  apps/smtp/src/pages/api/webhooks/order-created.ts
  apps/smtp/src/pages/api/webhooks/order-fulfilled.ts
  apps/smtp/src/pages/api/webhooks/order-fully-paid.ts
  apps/smtp/src/pages/api/webhooks/order-refunded.ts
  apps/smtp/src/pages/index.tsx
  apps/smtp/src/public/sendgrid.png
Labels: skip changeset

#1344 Pass props from avatax errors to Sentry
  .changeset/slimy-crabs-stare.md
  apps/avatax/package.json
  apps/avatax/sentry.edge.config.ts
  apps/avatax/sentry.server.config.ts
  apps/smtp/package.json
  apps/smtp/sentry.edge.config.ts
  apps/smtp/sentry.server.config.ts
  pnpm-lock.yaml
Labels: App: Avatax

#1338 Update Next.js to 14.2.3
  .changeset/short-kangaroos-serve.md
  apps/avatax/package.json
  apps/cms-v2/package.json
  apps/crm/package.json
  apps/data-importer/package.json
  apps/emails-and-messages/package.json
  apps/invoices/package.json
  apps/klaviyo/package.json
  apps/products-feed/package.json
  apps/search/package.json
  apps/segment/package.json
  apps/slack/package.json
  apps/smtp/package.json
  apps/taxjar/package.json
  package.json
  packages/eslint-config-saleor/package.json
  packages/shared/package.json
  packages/trpc/package.json
  packages/ui/package.json
  packages/webhook-utils/package.json
  pnpm-lock.yaml
Labels: App: Slack, App: Search, App: Emails & Messages, App: Invoices, App: Klaviyo, App: Data Importer, App: CMS, App: Product Feed, App: CRM, App: Segment, App: Avatax, App: Taxjar

#1348 Update @sentry/nextjs to 8.0.0
  .changeset/honest-walls-complain.md
  apps/avatax/package.json
  apps/avatax/sentry.edge.config.ts
  apps/avatax/sentry.server.config.ts
  apps/avatax/src/modules/trpc/sentry-middleware.ts
  apps/avatax/src/modules/trpc/trpc-server.ts
  apps/cms-v2/package.json
  apps/crm/package.json
  apps/data-importer/package.json
  apps/emails-and-messages/package.json
  apps/invoices/package.json
  apps/invoices/src/pages/api/webhooks/invoice-requested.ts
  apps/klaviyo/package.json
  apps/products-feed/package.json
  apps/search/package.json
  apps/segment/package.json
  apps/slack/package.json
  apps/smtp/package.json
  apps/smtp/sentry.edge.config.ts
  apps/smtp/sentry.server.config.ts
  apps/taxjar/package.json
  apps/taxjar/sentry.edge.config.ts
  apps/taxjar/sentry.server.config.ts
  apps/taxjar/src/modules/trpc/sentry-middleware.ts
  package.json
  packages/logger/package.json
  pnpm-lock.yaml
Labels: App: Slack, App: Search, App: Emails & Messages, App: Invoices, App: Klaviyo, App: Data Importer, App: CMS, App: Product Feed, App: CRM, App: Segment, App: Avatax, App: Taxjar

#1350 Fix e2e for voucher
  apps/avatax/e2e/tests/entire_voucher_product_without_tax_class.spec.ts
Labels: skip changeset, App: Avatax

#1339 🚀 Release apps
  .changeset/honest-walls-complain.md
  .changeset/hungry-beers-sip.md
  .changeset/lemon-drinks-cross.md
  .changeset/short-kangaroos-serve.md
  .changeset/slimy-crabs-stare.md
  .changeset/sour-frogs-cheat.md
  .changeset/tender-toes-jam.md
  apps/avatax/CHANGELOG.md
  apps/avatax/package.json
  apps/cms-v2/CHANGELOG.md
  apps/cms-v2/package.json
  apps/crm/CHANGELOG.md
  apps/crm/package.json
  apps/data-importer/CHANGELOG.md
  apps/data-importer/package.json
  apps/emails-and-messages/CHANGELOG.md
  apps/emails-and-messages/package.json
  apps/invoices/CHANGELOG.md
  apps/invoices/package.json
  apps/klaviyo/CHANGELOG.md
  apps/klaviyo/package.json
  apps/products-feed/CHANGELOG.md
  apps/products-feed/package.json
  apps/search/CHANGELOG.md
  apps/search/package.json
  apps/segment/CHANGELOG.md
  apps/segment/package.json
  apps/slack/CHANGELOG.md
  apps/slack/package.json
  apps/smtp/CHANGELOG.md
  apps/smtp/package.json
  apps/taxjar/CHANGELOG.md
  apps/taxjar/package.json
  packages/eslint-config-saleor/CHANGELOG.md
  packages/eslint-config-saleor/package.json
  packages/logger/CHANGELOG.md
  packages/logger/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
  packages/trpc/CHANGELOG.md
  packages/trpc/package.json
  packages/ui/CHANGELOG.md
  packages/ui/package.json
  packages/webhook-utils/CHANGELOG.md
  packages/webhook-utils/package.json
Labels: App: Slack, App: Search, App: Emails & Messages, App: Invoices, App: Klaviyo, App: Data Importer, App: CMS, App: Product Feed, App: CRM, App: Segment, App: Avatax, App: Taxjar, run e2e

#1352 Mute OTEL warnings
  apps/avatax/next.config.js
Labels: skip changeset, App: Avatax

#1354 Update env vars example
  apps/avatax/.env.example
Labels: skip changeset

#1355 Port OTEL mute to other apps
  apps/cms-v2/next.config.js
  apps/crm/next.config.js
  apps/data-importer/next.config.js
  apps/emails-and-messages/next.config.js
  apps/invoices/next.config.js
  apps/klaviyo/next.config.js
  apps/products-feed/next.config.js
  apps/search/next.config.js
  apps/segment/next.config.js
  apps/slack/next.config.js
  apps/smtp/next.config.js
Labels: App: Slack, App: Search, App: Emails & Messages, App: Invoices, App: Klaviyo, App: Data Importer, App: CMS, App: Product Feed, App: CRM, App: Segment, skip changeset

#1357 add SMTP codeowners and github label
  .github/labeler.yml
  CODEOWNERS
Labels: skip changeset

#1356 bump smtp app to use saleor 3.19
  apps/smtp/graphql/schema.graphql
  apps/smtp/package.json
  apps/smtp/src/pages/api/manifest.ts
Labels: skip changeset

#1347 SMTP App: Tests for main business useCase
  apps/smtp/README.md
  apps/smtp/src/modules/event-handlers/send-event-messages.use-case.test.ts
  apps/smtp/src/modules/event-handlers/send-event-messages.use-case.ts
  apps/smtp/src/modules/event-handlers/use-case/send-event-messages.use-case.factory.ts
  apps/smtp/src/modules/event-handlers/use-case/send-event-messages.use-case.test.ts
  apps/smtp/src/modules/event-handlers/use-case/send-event-messages.use-case.ts
  apps/smtp/src/modules/smtp/configuration/smtp-configuration.router.ts
  apps/smtp/src/modules/smtp/configuration/smtp-configuration.service.ts
  apps/smtp/src/modules/smtp/configuration/smtp-metadata-manager.ts
  apps/smtp/src/modules/smtp/services/smtp-email-sender.ts
  apps/smtp/src/pages/api/webhooks/gift-card-sent.ts
  apps/smtp/src/pages/api/webhooks/invoice-sent.ts
  apps/smtp/src/pages/api/webhooks/notify.ts
  apps/smtp/src/pages/api/webhooks/order-cancelled.ts
  apps/smtp/src/pages/api/webhooks/order-confirmed.ts
  apps/smtp/src/pages/api/webhooks/order-created.ts
  apps/smtp/src/pages/api/webhooks/order-fulfilled.ts
  apps/smtp/src/pages/api/webhooks/order-fully-paid.ts
  apps/smtp/src/pages/api/webhooks/order-refunded.ts
Labels: skip changeset, App: SMTP

#1362 Fix skipping first page cursor
  .changeset/friendly-apes-compare.md
  apps/products-feed/src/modules/google-feed/fetch-product-data.ts
Labels: App: Product Feed

#1353 Add Dockerfile for avatax app dev mode
  Dockerfile.dev
  apps/avatax/README.md
  cspell.json
Labels: skip changeset, App: Avatax

#1358 Improve Avatax parsing errors
  .changeset/orange-carpets-shave.md
  apps/avatax/src/modules/avatax/avatax-connection.router.ts
  apps/avatax/src/modules/avatax/avatax-error-mapper.ts
  apps/avatax/src/modules/avatax/avatax-error-normalizer.test.ts
  apps/avatax/src/modules/avatax/avatax-error-normalizer.ts
  apps/avatax/src/modules/avatax/avatax-errors-parser.test.ts
  apps/avatax/src/modules/avatax/avatax-errors-parser.ts
  apps/avatax/src/modules/avatax/calculate-taxes/avatax-calculate-taxes-adapter.ts
  apps/avatax/src/modules/avatax/configuration/avatax-address-validation.service.ts
  apps/avatax/src/modules/avatax/configuration/avatax-auth-validation.service.ts
  apps/avatax/src/modules/avatax/configuration/avatax-connection.service.ts
  apps/avatax/src/modules/avatax/configuration/avatax-edit-auth-validation.service.ts
  apps/avatax/src/modules/avatax/configuration/avatax-validation-error-resolver.test.ts
  apps/avatax/src/modules/avatax/configuration/avatax-validation-error-resolver.ts
  apps/avatax/src/modules/avatax/ui/avatax-configuration-credentials-fragment.tsx
  apps/avatax/src/modules/avatax/ui/avatax-configuration-form.tsx
  apps/avatax/src/modules/taxes/tax-error.ts
  apps/avatax/src/modules/trpc/protected-client-procedure.ts
  apps/avatax/src/modules/trpc/sentry-middleware.ts
  apps/avatax/src/modules/trpc/trpc-server.ts
  apps/avatax/src/modules/utils/assert-unreachable.ts
  apps/avatax/src/pages/api/webhooks/checkout-calculate-taxes.ts
  apps/avatax/src/pages/api/webhooks/order-calculate-taxes.ts
Labels: App: Avatax

#1361 add additional logs
  apps/smtp/src/lib/race-promise.ts
  apps/smtp/src/logger-context.ts
  apps/smtp/src/logger.ts
  apps/smtp/src/modules/smtp/configuration/smtp-configuration.router.ts
  apps/smtp/src/modules/smtp/services/smtp-email-sender.ts
  apps/smtp/src/pages/api/trpc/[trpc].ts
  apps/smtp/src/pages/api/webhooks/gift-card-sent.ts
  apps/smtp/src/pages/api/webhooks/invoice-sent.ts
  apps/smtp/src/pages/api/webhooks/notify.ts
  apps/smtp/src/pages/api/webhooks/order-cancelled.ts
  apps/smtp/src/pages/api/webhooks/order-confirmed.ts
  apps/smtp/src/pages/api/webhooks/order-created.ts
  apps/smtp/src/pages/api/webhooks/order-fulfilled.ts
  apps/smtp/src/pages/api/webhooks/order-fully-paid.ts
  apps/smtp/src/pages/api/webhooks/order-refunded.ts
Labels: skip changeset, App: SMTP

#1363 🚀 Release apps
  .changeset/friendly-apes-compare.md
  .changeset/orange-carpets-shave.md
  apps/avatax/CHANGELOG.md
  apps/avatax/package.json
  apps/products-feed/CHANGELOG.md
  apps/products-feed/package.json
Labels: App: Product Feed, App: Avatax, run e2e

#1360 Migrate packages & apps to ESM
  .changeset/flat-rabbits-fly.md
  apps/avatax/next.config.js
  apps/avatax/package.json
  apps/avatax/scripts/logger.ts
  apps/avatax/src/lib/utils.ts
  apps/avatax/src/logger.ts
  apps/cms-v2/next.config.js
  apps/cms-v2/package.json
  apps/cms-v2/src/logger.ts
  apps/crm/next.config.js
  apps/crm/package.json
  apps/data-importer/next.config.js
  apps/data-importer/package.json
  apps/emails-and-messages/next.config.js
  apps/emails-and-messages/package.json
  apps/emails-and-messages/src/logger.ts
  apps/invoices/microinvoice.d.ts
  apps/invoices/next.config.js
  apps/invoices/package.json
  apps/invoices/src/modules/invoices/invoice-generator/microinvoice/microinvoice-invoice-generator.ts
  apps/klaviyo/next.config.js
  apps/klaviyo/package.json
  apps/products-feed/next.config.js
  apps/products-feed/package.json
  apps/products-feed/src/logger.ts
  apps/search/next.config.js
  apps/search/package.json
  apps/search/src/lib/logger.ts
  apps/segment/next.config.js
  apps/segment/package.json
  apps/slack/next.config.js
  apps/slack/package.json
  apps/smtp/next.config.js
  apps/smtp/package.json
  apps/smtp/src/logger.ts
  apps/taxjar/next.config.js
  apps/taxjar/package.json
  apps/taxjar/src/lib/utils.ts
  apps/taxjar/src/logger.ts
  packages/e2e/package.json
  packages/e2e/playwright.config.ts
  packages/eslint-config-saleor/index.js
  packages/logger/package.json
  packages/otel/package.json
  packages/react-hook-form-macaw/package.json
  packages/shared/package.json
  packages/shared/src/saleor-version-compatibility-validator.ts
  packages/trpc/package.json
  packages/ui/package.json
  packages/webhook-utils/package.json
Labels: App: Slack, App: Search, App: Emails & Messages, App: Invoices, App: Klaviyo, App: Data Importer, App: CMS, App: Product Feed, App: CRM, App: Segment, App: Avatax, App: Taxjar, App: SMTP

#1368 Add logs & OTEL to Klaviyo app
  .changeset/twelve-shrimps-pay.md
  apps/klaviyo/.env.example
  apps/klaviyo/.eslintrc
  apps/klaviyo/next.config.js
  apps/klaviyo/package.json
  apps/klaviyo/src/lib/klaviyo.ts
  apps/klaviyo/src/lib/metadata.ts
  apps/klaviyo/src/logger-context.ts
  apps/klaviyo/src/logger.ts
  apps/klaviyo/src/pages/api/configuration.ts
  apps/klaviyo/src/pages/api/manifest.ts
  apps/klaviyo/src/pages/api/register.ts
  apps/klaviyo/src/pages/api/webhooks/customer-created.ts
  apps/klaviyo/src/pages/api/webhooks/fulfillment-created.ts
  apps/klaviyo/src/pages/api/webhooks/order-created.ts
  apps/klaviyo/src/pages/api/webhooks/order-fully-paid.ts
  apps/klaviyo/src/pages/configuration.tsx
  packages/shared/src/logger.ts
  pnpm-lock.yaml
Labels: App: Klaviyo
