Repository saleor/apps, pull requests merged in 2024-10, with the labels that each got.

#1601 refactor order confirmed event
  apps/avatax/src/modules/avatax/avatax-webhook.service.ts
  apps/avatax/src/modules/avatax/order-confirmed/avatax-order-confirmed-adapter.ts
  apps/avatax/src/modules/avatax/order-confirmed/avatax-order-confirmed-payload-transformer.test.ts
  apps/avatax/src/modules/avatax/order-confirmed/avatax-order-confirmed-payload-transformer.ts
  apps/avatax/src/modules/avatax/order-confirmed/avatax-order-confirmed-payload.service.ts
  apps/avatax/src/modules/saleor/index.ts
  apps/avatax/src/modules/saleor/order-confirmed/event.test.ts
  apps/avatax/src/modules/saleor/order-confirmed/event.ts
  apps/avatax/src/modules/saleor/order-confirmed/mocks.ts
  apps/avatax/src/modules/saleor/types.ts
  apps/avatax/src/pages/api/webhooks/order-confirmed.ts
Labels: skip changeset, App: AvaTax

#1593 🚀 Release apps
  .changeset/moody-taxis-peel.md
  .changeset/silent-melons-yawn.md
  .changeset/tame-chicken-mate.md
  .changeset/tiny-trains-film.md
  apps/avatax/CHANGELOG.md
  apps/avatax/package.json
  apps/cms-v2/CHANGELOG.md
  apps/cms-v2/package.json
  apps/klaviyo/CHANGELOG.md
  apps/klaviyo/package.json
  apps/products-feed/CHANGELOG.md
  apps/products-feed/package.json
  apps/search/CHANGELOG.md
  apps/search/package.json
  apps/smtp/CHANGELOG.md
  apps/smtp/package.json
  packages/otel/CHANGELOG.md
  packages/otel/package.json
Labels: App: Search, App: Klaviyo, App: CMS, App: Product Feed, App: AvaTax, run e2e, App: SMTP

#1604 Billing address fixed
  .changeset/healthy-bugs-live.md
  apps/avatax/src/modules/saleor/order-confirmed/event.ts
Labels: App: AvaTax

#1605 🚀 Release apps
  .changeset/healthy-bugs-live.md
  apps/avatax/CHANGELOG.md
  apps/avatax/package.json
Labels: App: AvaTax

#1607 add test for order confirmed event
  apps/avatax/src/modules/saleor/order-confirmed/event.test.ts
Labels: skip changeset, App: AvaTax

#1606 [E2E] Add tests for metadata, digital checkout, and checkout with click and collect
  apps/avatax/e2e/data/maps/channel.json
  apps/avatax/e2e/data/maps/product.json
  apps/avatax/e2e/data/templates/order.json
  apps/avatax/e2e/data/templates/updateDeliveryMethod.json
  apps/avatax/e2e/graphql/mutations/CreateDraftOrder.graphql
  apps/avatax/e2e/graphql/mutations/UpdateMetadata.graphql
  apps/avatax/e2e/tests/checkout_with_click_and_collect.spec.ts
  apps/avatax/e2e/tests/checkout_with_customer_metadata.spec.ts
  apps/avatax/e2e/tests/checkout_with_digital_products.spec.ts
  apps/avatax/e2e/tests/draft_order_with_entity_code.spec.ts
Labels: skip changeset, App: AvaTax

#1609 [E2E] Add test for update lines on draft order
  apps/avatax/e2e/graphql/mutations/DraftOrderLineDelete.graphql
  apps/avatax/e2e/tests/draft_order_changing_lines.spec.ts
Labels: skip changeset, App: AvaTax

#1603 Remove not needed Bruno pre-request script
  apps/avatax/bruno/collection.bru
Labels: skip changeset, App: AvaTax

#1611 Remove dependabot configuration
  .github/dependabot.yaml
Labels: skip changeset

#1612 [SMTP] Log template size
  .changeset/popular-cars-hunt.md
  apps/smtp/src/lib/bytes-to-kb.test.ts
  apps/smtp/src/lib/bytes-to-kb.ts
  apps/smtp/src/modules/event-handlers/use-case/send-event-messages.use-case.ts
Labels: App: SMTP

#1613 avatax reduce vercel memory limits
  .changeset/mean-apricots-glow.md
  apps/avatax/vercel.json
Labels: App: AvaTax

#1614 🚀 Release apps
  .changeset/mean-apricots-glow.md
  .changeset/popular-cars-hunt.md
  .changeset/rotten-shoes-smash.md
  apps/avatax/CHANGELOG.md
  apps/avatax/package.json
  apps/smtp/CHANGELOG.md
  apps/smtp/package.json
Labels: App: AvaTax, run e2e, App: SMTP

#1616 Increase memory in Avatax
  .changeset/pretty-beers-agree.md
  apps/avatax/vercel.json
Labels: App: AvaTax

#1617 🚀 Release apps
  .changeset/pretty-beers-agree.md
  apps/avatax/CHANGELOG.md
  apps/avatax/package.json
Labels: App: AvaTax

#1619 [SMTP] Log timeout error
  .changeset/red-hounds-crash.md
  apps/smtp/src/modules/smtp/services/smtp-email-sender.ts
Labels: App: SMTP

#1620 🚀 Release apps
  .changeset/red-hounds-crash.md
  apps/smtp/CHANGELOG.md
  apps/smtp/package.json
Labels: App: SMTP

#1622 Add `LoggerVercelTransport` and use it in AvaTax app
  .changeset/empty-candles-tap.md
  .changeset/forty-tools-beg.md
  apps/avatax/src/lib/app-configuration-logger.test.ts
  apps/avatax/src/lib/app-configuration-logger.ts
  apps/avatax/src/logger.ts
  apps/avatax/src/modules/calculate-taxes/use-case/calculate-taxes.use-case.ts
  apps/avatax/src/modules/crud-settings/crud-settings.service.ts
  apps/avatax/src/pages/api/webhooks/checkout-calculate-taxes.ts
  packages/logger/index.ts
  packages/logger/node.ts
  packages/logger/src/logger-context.test.ts
  packages/logger/src/logger-sentry-transport.ts
  packages/logger/src/logger-vercel-transport.ts
Labels: App: AvaTax

#1624 Add missing data to LoggerVercelTransport
  .changeset/empty-candles-tap.md
  apps/avatax/src/logger.ts
  packages/logger/src/logger-vercel-transport.ts
Labels: skip changeset, App: AvaTax

#1623 🚀 Release apps
  .changeset/empty-candles-tap.md
  .changeset/forty-tools-beg.md
  apps/avatax/CHANGELOG.md
  apps/avatax/package.json
  apps/cms-v2/CHANGELOG.md
  apps/cms-v2/package.json
  apps/klaviyo/CHANGELOG.md
  apps/klaviyo/package.json
  apps/products-feed/CHANGELOG.md
  apps/products-feed/package.json
  apps/search/CHANGELOG.md
  apps/search/package.json
  apps/smtp/CHANGELOG.md
  apps/smtp/package.json
  packages/logger/CHANGELOG.md
  packages/logger/package.json
Labels: App: Search, App: Klaviyo, App: CMS, App: Product Feed, App: AvaTax, run e2e, App: SMTP

#1625 Avatax: Experimentally create dependencies inside the handler
  .changeset/few-apes-fetch.md
  apps/avatax/src/pages/api/webhooks/checkout-calculate-taxes.ts
Labels: App: AvaTax

#1627 🚀 Release apps
  .changeset/few-apes-fetch.md
  apps/avatax/CHANGELOG.md
  apps/avatax/package.json
Labels: App: AvaTax, run e2e

#1628 avatax allow to inject manifest id
  .changeset/sour-buttons-allow.md
  apps/avatax/.env.example
  apps/avatax/src/pages/api/manifest.ts
  apps/avatax/turbo.json
Labels: App: AvaTax

#1626 Improve cspell configuration
  .cspell.json
  .github/workflows/check-spelling.yml
  apps/avatax/src/modules/app/order-metadata-manager.ts
  apps/avatax/src/modules/avatax/calculate-taxes/avatax-calculate-taxes-payload-lines-transformer.ts
  apps/avatax/src/modules/avatax/order-confirmed/avatax-order-confirmed-payload-transformer.test.ts
  apps/avatax/src/pages/api/register.ts
  apps/cms-v2/src/modules/providers/contentful/contentful.router.ts
  apps/cms-v2/src/modules/providers/datocms/datocms.router.ts
  apps/klaviyo/src/pages/api/register.ts
  apps/products-feed/.eslintrc
  apps/products-feed/.eslintrc.cjs
  apps/products-feed/src/modules/google-feed/product-to-proxy.ts
  apps/search/src/lib/algolia/algoliaSearchProvider.ts
  apps/search/src/lib/algolia/algoliaUtils.ts
  apps/smtp/src/modules/smtp/configuration/smtp-metadata-manager.ts
  apps/smtp/src/modules/smtp/services/smtp-email-sender.ts
  cspell.json
  package.json
  pnpm-lock.yaml
Labels: App: Search, App: Klaviyo, App: CMS, App: Product Feed, skip changeset, App: AvaTax, App: SMTP

#1631 Add cspell to logger calls
  .cspell.json
  apps/cms-v2/src/modules/channel-provider-connection/channel-provider-connection.router.ts
  apps/klaviyo/src/lib/klaviyo.ts
  apps/klaviyo/src/pages/api/configuration.ts
  apps/products-feed/src/modules/app-configuration/app-configuration.router.ts
  apps/products-feed/src/modules/category-mapping/category-mapping.router.ts
  apps/search/src/pages/api/setup-indices.ts
Labels: App: Search, App: Klaviyo, App: CMS, App: Product Feed, skip changeset

#1632 Add ts-reset to AvaTax app
  apps/avatax/package.json
  apps/avatax/reset.d.ts
  apps/avatax/tsconfig.json
  pnpm-lock.yaml
Labels: skip changeset, App: AvaTax

#1629 🚀 Release apps
  .changeset/dull-squids-tan.md
  .changeset/sour-buttons-allow.md
  apps/avatax/CHANGELOG.md
  apps/avatax/package.json
  apps/products-feed/CHANGELOG.md
  apps/products-feed/package.json
Labels: App: Product Feed, App: AvaTax, run e2e

#1635 Refactor logger
  .changeset/healthy-pianos-marry.md
  .changeset/violet-candles-hide.md
  apps/avatax/scripts/migration-logger.ts
  apps/avatax/scripts/run-webhooks-migration.ts
  apps/avatax/src/lib/app-configuration-logger.ts
  apps/avatax/src/lib/error-utils.ts
  apps/avatax/src/logger.ts
  apps/cms-v2/src/logger.ts
  apps/cms-v2/src/modules/providers/contentful/contentful-client.ts
  apps/cms-v2/src/modules/providers/payloadcms/payloadcms-bulk-sync-processor.ts
  apps/cms-v2/src/modules/trpc/protected-client-procedure.ts
  apps/klaviyo/src/logger.ts
  apps/products-feed/src/logger.ts
  apps/search/src/lib/logger.ts
  apps/smtp/src/logger.ts
  packages/logger/index.ts
  packages/logger/src/root-logger.test.ts
  packages/logger/src/root-logger.ts
Labels: App: Search, App: Klaviyo, App: CMS, App: Product Feed, App: AvaTax, App: SMTP

#1636 Add t3-env to AvaTax
  .changeset/dirty-pans-repair.md
  .github/workflows/e2e.yml
  apps/avatax/.eslintrc.cjs
  apps/avatax/e2e/setup.ts
  apps/avatax/e2e/tests/checkout_basic_product_without_tax_code.spec.ts
  apps/avatax/e2e/tests/draft_order_basic.spec.ts
  apps/avatax/e2e/tests/draft_order_catalog_promotion.spec.ts
  apps/avatax/e2e/tests/draft_order_changing_lines.spec.ts
  apps/avatax/e2e/tests/draft_order_with_entire_voucher.spec.ts
  apps/avatax/e2e/tests/draft_order_with_entity_code.spec.ts
  apps/avatax/e2e/tests/draft_order_with_manual_total_discount.spec.ts
  apps/avatax/e2e/tests/draft_order_with_order_promotion_subtotal.spec.ts
  apps/avatax/next.config.js
  apps/avatax/package.json
  apps/avatax/saleor-app.ts
  apps/avatax/scripts/migration-logger.ts
  apps/avatax/scripts/run-webhooks-migration.ts
  apps/avatax/sentry.client.config.ts
  apps/avatax/sentry.edge.config.ts
  apps/avatax/sentry.server.config.ts
  apps/avatax/src/env.ts
  apps/avatax/src/logger.ts
  apps/avatax/src/modules/app/get-app-config.test.ts
  apps/avatax/src/modules/app/get-app-config.ts
  apps/avatax/src/modules/app/metadata-manager.test.ts
  apps/avatax/src/modules/app/metadata-manager.ts
  apps/avatax/src/modules/avatax/avatax-sdk-client-factory.ts
  apps/avatax/src/modules/client-logs/client-logs-feature-config.ts
  apps/avatax/src/modules/trpc/trpc-client.ts
  apps/avatax/src/pages/api/manifest.ts
  apps/avatax/src/pages/api/register.ts
  apps/avatax/src/setup-tests.ts
  apps/avatax/tsconfig.json
  apps/avatax/turbo.json
  pnpm-lock.yaml
Labels: App: AvaTax

#1638 Add logs when we found `isFee` from Avalara response
  .changeset/dull-chairs-breathe.md
  .cspell.json
  apps/avatax/src/modules/avatax/calculate-taxes/avatax-calculate-taxes-response-lines-transformer.ts
  apps/avatax/src/modules/avatax/calculate-taxes/avatax-calculate-taxes-response-shipping-transformer.ts
Labels: App: AvaTax

#1634 🚀 Release apps
  .changeset/chilly-kids-promise.md
  .changeset/dirty-pans-repair.md
  .changeset/dull-chairs-breathe.md
  .changeset/empty-feet-flash.md
  .changeset/healthy-pianos-marry.md
  .changeset/twenty-jokes-yell.md
  .changeset/violet-candles-hide.md
  .changeset/weak-crabs-melt.md
  apps/avatax/CHANGELOG.md
  apps/avatax/package.json
  apps/cms-v2/CHANGELOG.md
  apps/cms-v2/package.json
  apps/klaviyo/CHANGELOG.md
  apps/klaviyo/package.json
  apps/products-feed/CHANGELOG.md
  apps/products-feed/package.json
  apps/search/CHANGELOG.md
  apps/search/package.json
  apps/smtp/CHANGELOG.md
  apps/smtp/package.json
  packages/logger/CHANGELOG.md
  packages/logger/package.json
  packages/webhook-utils/CHANGELOG.md
  packages/webhook-utils/package.json
Labels: App: Search, App: Klaviyo, App: CMS, App: Product Feed, App: AvaTax, run e2e, App: SMTP

#1639 Run webhook migrations in parallel for AvaTax
  .changeset/green-jokes-burn.md
  apps/avatax/scripts/run-webhooks-migration.ts
Labels: App: AvaTax

#1641 Fix PORT env vars for AvaTax
  apps/avatax/src/env.ts
Labels: skip changeset, App: AvaTax
