Repository saleor/apps, pull requests merged in 2024-06, with the labels that each got.

#1364 🚀 Release apps
  .changeset/flat-rabbits-fly.md
  .changeset/tricky-teachers-impress.md
  .changeset/twelve-shrimps-pay.md
  .changeset/twelve-waves-explode.md
  apps/avatax/CHANGELOG.md
  apps/avatax/package.json
  apps/cms-v2/CHANGELOG.md
  apps/cms-v2/package.json
  apps/crm/CHANGELOG.md
  apps/crm/package.json
  apps/data-importer/CHANGELOG.md
  apps/data-importer/package.json
  apps/emails-and-messages/CHANGELOG.md
  apps/emails-and-messages/package.json
  apps/invoices/CHANGELOG.md
  apps/invoices/package.json
  apps/klaviyo/CHANGELOG.md
  apps/klaviyo/package.json
  apps/products-feed/CHANGELOG.md
  apps/products-feed/package.json
  apps/search/CHANGELOG.md
  apps/search/package.json
  apps/segment/CHANGELOG.md
  apps/segment/package.json
  apps/slack/CHANGELOG.md
  apps/slack/package.json
  apps/smtp/CHANGELOG.md
  apps/smtp/package.json
  apps/taxjar/CHANGELOG.md
  apps/taxjar/package.json
  packages/e2e/CHANGELOG.md
  packages/e2e/package.json
  packages/eslint-config-saleor/CHANGELOG.md
  packages/eslint-config-saleor/package.json
  packages/logger/CHANGELOG.md
  packages/logger/package.json
  packages/otel/CHANGELOG.md
  packages/otel/package.json
  packages/react-hook-form-macaw/CHANGELOG.md
  packages/react-hook-form-macaw/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
  packages/trpc/CHANGELOG.md
  packages/trpc/package.json
  packages/ui/CHANGELOG.md
  packages/ui/package.json
  packages/webhook-utils/CHANGELOG.md
  packages/webhook-utils/package.json
Labels: App: Slack, App: Search, App: Emails & Messages, App: Invoices, App: Klaviyo, App: Data Importer, App: CMS, App: Product Feed, App: CRM, App: Segment, App: Avatax, App: Taxjar, run e2e, App: SMTP

#1375 Attach tax_rate to avatax response based on avatax
  .changeset/green-hornets-suffer.md
  apps/avatax/src/modules/avatax/calculate-taxes/avatax-calculate-taxes-response-lines-transformer.test.ts
  apps/avatax/src/modules/avatax/calculate-taxes/avatax-calculate-taxes-response-lines-transformer.ts
  apps/avatax/src/modules/avatax/calculate-taxes/avatax-calculate-taxes-response-shipping-transformer.test.ts
  apps/avatax/src/modules/avatax/calculate-taxes/avatax-calculate-taxes-response-shipping-transformer.ts
  apps/avatax/src/modules/avatax/calculate-taxes/extract-integer-rate-from-tax-details.ts
  apps/avatax/src/modules/avatax/calculate-taxes/extract-rate-from-tax-details.test.ts
  apps/avatax/src/modules/avatax/calculate-taxes/missing-address-avatax-webhook-service.ts
Labels: App: Avatax

#1385 add info logs
  .changeset/witty-camels-tell.md
  apps/search/src/domain/WebhookActivityToggler.service.ts
  apps/search/src/modules/configuration/configuration.router.ts
  apps/search/src/pages/api/recreate-webhooks.ts
  apps/search/src/pages/api/register.ts
  apps/search/src/pages/api/setup-indices.ts
  apps/search/src/pages/api/webhooks-status.ts
  apps/search/src/pages/api/webhooks/saleor/product_created.ts
  apps/search/src/pages/api/webhooks/saleor/product_deleted.ts
  apps/search/src/pages/api/webhooks/saleor/product_updated.ts
  apps/search/src/pages/api/webhooks/saleor/product_variant_back_in_stock.ts
  apps/search/src/pages/api/webhooks/saleor/product_variant_created.ts
  apps/search/src/pages/api/webhooks/saleor/product_variant_deleted.ts
  apps/search/src/pages/api/webhooks/saleor/product_variant_out_of_stock.ts
  apps/search/src/pages/api/webhooks/saleor/product_variant_updated.ts
Labels: App: Search

#1384 remove shipping addresses from logs
  .changeset/rich-carrots-deliver.md
  apps/avatax/src/modules/avatax/calculate-taxes/avatax-calculate-taxes-adapter.ts
  apps/avatax/src/modules/avatax/extract-transaction-redacted-log-properties.test.ts
  apps/avatax/src/modules/avatax/extract-transaction-redacted-log-properties.ts
  apps/avatax/src/modules/avatax/order-confirmed/avatax-order-confirmed-adapter.ts
Labels: App: Avatax

#1378 🚀 Release apps
  .changeset/fair-laws-push.md
  .changeset/green-hornets-suffer.md
  .changeset/hungry-peas-protect.md
  .changeset/polite-garlics-swim.md
  .changeset/rich-carrots-deliver.md
  .changeset/strong-rocks-bake.md
  .changeset/witty-camels-tell.md
  apps/avatax/CHANGELOG.md
  apps/avatax/package.json
  apps/klaviyo/CHANGELOG.md
  apps/klaviyo/package.json
  apps/search/CHANGELOG.md
  apps/search/package.json
  apps/smtp/CHANGELOG.md
  apps/smtp/package.json
  apps/taxjar/CHANGELOG.md
  apps/taxjar/package.json
  packages/sentry-utils/CHANGELOG.md
  packages/sentry-utils/package.json
Labels: App: Search, App: Klaviyo, App: Avatax, App: Taxjar, run e2e, App: SMTP

#1386 Fix algolia validation & remove webhooks disabling feature
  .changeset/bright-snakes-bathe.md
  .changeset/wise-cycles-cross.md
  apps/search/package.json
  apps/search/src/components/AlgoliaConfigurationForm.tsx
  apps/search/src/components/AlgoliaFieldsSelectionForm.tsx
  apps/search/src/components/ImportProductsToAlgolia.tsx
  apps/search/src/components/MainInstructions.tsx
  apps/search/src/domain/WebhookActivityToggler.service.test.ts
  apps/search/src/domain/WebhookActivityToggler.service.ts
  apps/search/src/lib/algolia/algolia-credentials-verifier.ts
  apps/search/src/lib/algolia/algolia-error-parser.test.ts
  apps/search/src/lib/algolia/algoliaSearchProvider.ts
  apps/search/src/lib/algolia/metadata-to-algolia-attribute.test.ts
  apps/search/src/lib/create-instrumented-graphql-client.ts
  apps/search/src/lib/logger-context.ts
  apps/search/src/lib/searchProvider.ts
  apps/search/src/modules/configuration/configuration.router.ts
  apps/search/src/modules/trpc/trpc-context.ts
  apps/search/src/pages/api/manifest.ts
  apps/search/src/pages/api/recreate-webhooks.ts
  apps/search/src/pages/api/register.ts
  apps/search/src/pages/api/setup-indices.ts
  apps/search/src/pages/api/trpc/[trpc].ts
  apps/search/src/pages/api/webhooks-status.ts
  apps/search/src/pages/api/webhooks/saleor/product_created.ts
  apps/search/src/pages/api/webhooks/saleor/product_deleted.ts
  apps/search/src/pages/api/webhooks/saleor/product_updated.ts
  apps/search/src/pages/api/webhooks/saleor/product_variant_back_in_stock.ts
  apps/search/src/pages/api/webhooks/saleor/product_variant_created.ts
  apps/search/src/pages/api/webhooks/saleor/product_variant_deleted.ts
  apps/search/src/pages/api/webhooks/saleor/product_variant_out_of_stock.ts
  apps/search/src/pages/api/webhooks/saleor/product_variant_updated.ts
  apps/search/src/test/handlers/webhooks-status-handler.test.ts
  apps/search/src/views/configuration/configuration.view.tsx
  pnpm-lock.yaml
Labels: App: Search

#1392 Update pnpm to 9.2.0
  .github/workflows/e2e.yml
  .github/workflows/main.yml
  package.json
  pnpm-lock.yaml
Labels: skip changeset

#1383 add notes about maintenance of legacy apps
  apps/crm/README.md
  apps/emails-and-messages/README.md
  apps/invoices/README.md
  apps/segment/readme.MD
  apps/slack/README.md
Labels: App: Slack, App: Emails & Messages, App: Invoices, App: CRM, App: Segment, skip changeset

#1395 Fix SMTP template for account_password_reset
  .changeset/clever-pianos-cheat.md
  apps/smtp/src/modules/smtp/default-templates.ts
Labels: App: SMTP

#1397 Fixing SMTP errors and logs
  .changeset/strange-lions-cheat.md
  .changeset/strong-cheetahs-sing.md
  .changeset/wise-singers-impress.md
  apps/smtp/src/lib/fetch-app-permissions.ts
  apps/smtp/src/modules/smtp/services/handlebars-template-compiler.ts
  apps/smtp/src/modules/smtp/services/smtp-email-sender.ts
  apps/smtp/src/pages/api/trpc/[trpc].ts
  apps/smtp/vercel.json
Labels: App: SMTP

#1398 restore sentry to v7
  .changeset/long-apples-juggle.md
  apps/avatax/next.config.js
  apps/avatax/sentry.edge.config.ts
  apps/avatax/sentry.server.config.ts
  apps/avatax/src/instrumentation.ts
  apps/cms-v2/next.config.js
  apps/cms-v2/sentry.edge.config.ts
  apps/cms-v2/sentry.server.config.ts
  apps/cms-v2/src/instrumentation.ts
  apps/crm/next.config.js
  apps/crm/sentry.edge.config.ts
  apps/crm/sentry.server.config.ts
  apps/crm/src/instrumentation.ts
  apps/data-importer/next.config.js
  apps/data-importer/sentry.edge.config.ts
  apps/data-importer/sentry.server.config.ts
  apps/data-importer/src/instrumentation.ts
  apps/emails-and-messages/next.config.js
  apps/emails-and-messages/sentry.edge.config.ts
  apps/emails-and-messages/sentry.server.config.ts
  apps/emails-and-messages/src/instrumentation.ts
  apps/invoices/next.config.js
  apps/invoices/sentry.edge.config.ts
  apps/invoices/sentry.server.config.ts
  apps/invoices/src/instrumentation.ts
  apps/klaviyo/next.config.js
  apps/klaviyo/sentry.edge.config.ts
  apps/klaviyo/sentry.server.config.ts
  apps/klaviyo/src/instrumentation.ts
  apps/products-feed/next.config.js
  apps/products-feed/sentry.edge.config.ts
  apps/products-feed/sentry.server.config.ts
  apps/products-feed/src/instrumentation.ts
  apps/search/next.config.js
  apps/search/sentry.edge.config.ts
  apps/search/sentry.server.config.ts
  apps/search/src/instrumentation.ts
  apps/segment/next.config.js
  apps/segment/sentry.edge.config.ts
  apps/segment/sentry.server.config.ts
  apps/segment/src/instrumentation.ts
  apps/slack/next.config.js
  apps/slack/sentry.edge.config.ts
  apps/slack/sentry.server.config.ts
  apps/slack/src/instrumentation.ts
  apps/smtp/next.config.js
  apps/smtp/sentry.edge.config.ts
  apps/smtp/sentry.server.config.ts
  apps/smtp/src/instrumentation.ts
  apps/taxjar/next.config.js
  apps/taxjar/sentry.edge.config.ts
  apps/taxjar/sentry.server.config.ts
  apps/taxjar/src/error.ts
  apps/taxjar/src/instrumentation.ts
  apps/taxjar/src/modules/trpc/sentry-middleware.ts
  package.json
  pnpm-lock.yaml
Labels: App: Slack, App: Search, App: Emails & Messages, App: Invoices, App: Klaviyo, App: Data Importer, App: CMS, App: Product Feed, App: CRM, App: Segment, App: Avatax, App: Taxjar, App: SMTP

#1388 🚀 Release apps
  .changeset/bright-snakes-bathe.md
  .changeset/clever-pianos-cheat.md
  .changeset/famous-terms-allow.md
  .changeset/fluffy-laws-doubt.md
  .changeset/forty-items-cheat.md
  .changeset/khaki-bobcats-change.md
  .changeset/long-apples-juggle.md
  .changeset/nine-turkeys-cheat.md
  .changeset/strange-lions-cheat.md
  .changeset/strong-cheetahs-sing.md
  .changeset/wise-cycles-cross.md
  .changeset/wise-singers-impress.md
  apps/avatax/CHANGELOG.md
  apps/avatax/package.json
  apps/cms-v2/CHANGELOG.md
  apps/cms-v2/package.json
  apps/crm/CHANGELOG.md
  apps/crm/package.json
  apps/data-importer/CHANGELOG.md
  apps/data-importer/package.json
  apps/emails-and-messages/CHANGELOG.md
  apps/emails-and-messages/package.json
  apps/invoices/CHANGELOG.md
  apps/invoices/package.json
  apps/klaviyo/CHANGELOG.md
  apps/klaviyo/package.json
  apps/products-feed/CHANGELOG.md
  apps/products-feed/package.json
  apps/search/CHANGELOG.md
  apps/search/package.json
  apps/segment/CHANGELOG.md
  apps/segment/package.json
  apps/slack/CHANGELOG.md
  apps/slack/package.json
  apps/smtp/CHANGELOG.md
  apps/smtp/package.json
  apps/taxjar/CHANGELOG.md
  apps/taxjar/package.json
  packages/e2e/CHANGELOG.md
  packages/e2e/package.json
  packages/eslint-config-saleor/CHANGELOG.md
  packages/eslint-config-saleor/package.json
  packages/logger/CHANGELOG.md
  packages/logger/package.json
  packages/otel/CHANGELOG.md
  packages/otel/package.json
  packages/react-hook-form-macaw/CHANGELOG.md
  packages/react-hook-form-macaw/package.json
  packages/sentry-utils/CHANGELOG.md
  packages/sentry-utils/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
  packages/trpc/CHANGELOG.md
  packages/trpc/package.json
  packages/ui/CHANGELOG.md
  packages/ui/package.json
  packages/webhook-utils/CHANGELOG.md
  packages/webhook-utils/package.json
Labels: App: Slack, App: Search, App: Emails & Messages, App: Invoices, App: Klaviyo, App: Data Importer, App: CMS, App: Product Feed, App: CRM, App: Segment, App: Avatax, App: Taxjar, run e2e, App: SMTP

#1401 Update dependabot schedule to monthly
  .github/dependabot.yaml
Labels: skip changeset

#1408 🚀 Release apps
  .changeset/hip-feet-grow.md
  .changeset/modern-experts-guess.md
  .changeset/nervous-nails-look.md
  apps/avatax/CHANGELOG.md
  apps/avatax/package.json
  apps/cms-v2/CHANGELOG.md
  apps/cms-v2/package.json
  apps/crm/CHANGELOG.md
  apps/crm/package.json
  apps/data-importer/CHANGELOG.md
  apps/data-importer/package.json
  apps/emails-and-messages/CHANGELOG.md
  apps/emails-and-messages/package.json
  apps/invoices/CHANGELOG.md
  apps/invoices/package.json
  apps/klaviyo/CHANGELOG.md
  apps/klaviyo/package.json
  apps/products-feed/CHANGELOG.md
  apps/products-feed/package.json
  apps/search/CHANGELOG.md
  apps/search/package.json
  apps/segment/CHANGELOG.md
  apps/segment/package.json
  apps/slack/CHANGELOG.md
  apps/slack/package.json
  apps/smtp/CHANGELOG.md
  apps/smtp/package.json
  apps/taxjar/CHANGELOG.md
  apps/taxjar/package.json
  packages/logger/CHANGELOG.md
  packages/logger/package.json
  packages/otel/CHANGELOG.md
  packages/otel/package.json
Labels: App: Slack, App: Search, App: Emails & Messages, App: Invoices, App: Klaviyo, App: Data Importer, App: CMS, App: Product Feed, App: CRM, App: Segment, App: Avatax, App: Taxjar, App: SMTP

#1415 Fix sentry sourcemaps by reverting sharing sentry init
  .changeset/good-moons-travel.md
  apps/avatax/sentry.client.config.ts
  apps/avatax/sentry.edge.config.ts
  apps/avatax/sentry.server.config.ts
  apps/avatax/turbo.json
  apps/cms-v2/sentry.client.config.ts
  apps/cms-v2/sentry.edge.config.ts
  apps/cms-v2/sentry.server.config.ts
  apps/cms-v2/turbo.json
  apps/crm/sentry.client.config.ts
  apps/crm/sentry.edge.config.ts
  apps/crm/sentry.server.config.ts
  apps/crm/turbo.json
  apps/data-importer/sentry.client.config.ts
  apps/data-importer/sentry.edge.config.ts
  apps/data-importer/sentry.server.config.ts
  apps/data-importer/turbo.json
  apps/emails-and-messages/sentry.client.config.ts
  apps/emails-and-messages/sentry.edge.config.ts
  apps/emails-and-messages/sentry.server.config.ts
  apps/emails-and-messages/turbo.json
  apps/invoices/sentry.client.config.ts
  apps/invoices/sentry.edge.config.ts
  apps/invoices/sentry.server.config.ts
  apps/invoices/turbo.json
  apps/klaviyo/sentry.client.config.ts
  apps/klaviyo/sentry.edge.config.ts
  apps/klaviyo/sentry.server.config.ts
  apps/klaviyo/turbo.json
  apps/products-feed/sentry.client.config.ts
  apps/products-feed/sentry.edge.config.ts
  apps/products-feed/sentry.server.config.ts
  apps/products-feed/turbo.json
  apps/search/sentry.client.config.ts
  apps/search/sentry.edge.config.ts
  apps/search/sentry.server.config.ts
  apps/search/turbo.json
  apps/segment/sentry.client.config.ts
  apps/segment/sentry.edge.config.ts
  apps/segment/sentry.server.config.ts
  apps/segment/turbo.json
  apps/slack/sentry.client.config.ts
  apps/slack/sentry.edge.config.ts
  apps/slack/sentry.server.config.ts
  apps/slack/turbo.json
  apps/smtp/sentry.client.config.ts
  apps/smtp/sentry.edge.config.ts
  apps/smtp/sentry.server.config.ts
  apps/smtp/turbo.json
  apps/taxjar/sentry.client.config.ts
  apps/taxjar/sentry.edge.config.ts
  apps/taxjar/sentry.server.config.ts
  apps/taxjar/turbo.json
  packages/sentry-utils/package.json
  packages/sentry-utils/src/browser/instrumentation.browser.ts
  packages/sentry-utils/src/export-release-env-var.ts
  packages/sentry-utils/src/node/instrumentation.node.ts
  packages/sentry-utils/turbo.json
Labels: App: Slack, App: Search, App: Emails & Messages, App: Invoices, App: Klaviyo, App: Data Importer, App: CMS, App: Product Feed, App: CRM, App: Segment, App: Avatax, App: Taxjar, App: SMTP

#1417 search - optimize packages
  .changeset/chilled-trains-move.md
  apps/search/next.config.js
Labels: App: Search

#1416 🚀 Release apps
  .changeset/chilled-trains-move.md
  .changeset/good-moons-travel.md
  apps/avatax/CHANGELOG.md
  apps/avatax/package.json
  apps/cms-v2/CHANGELOG.md
  apps/cms-v2/package.json
  apps/crm/CHANGELOG.md
  apps/crm/package.json
  apps/data-importer/CHANGELOG.md
  apps/data-importer/package.json
  apps/emails-and-messages/CHANGELOG.md
  apps/emails-and-messages/package.json
  apps/invoices/CHANGELOG.md
  apps/invoices/package.json
  apps/klaviyo/CHANGELOG.md
  apps/klaviyo/package.json
  apps/products-feed/CHANGELOG.md
  apps/products-feed/package.json
  apps/search/CHANGELOG.md
  apps/search/package.json
  apps/segment/CHANGELOG.md
  apps/segment/package.json
  apps/slack/CHANGELOG.md
  apps/slack/package.json
  apps/smtp/CHANGELOG.md
  apps/smtp/package.json
  apps/taxjar/CHANGELOG.md
  apps/taxjar/package.json
  packages/sentry-utils/CHANGELOG.md
  packages/sentry-utils/package.json
Labels: App: Slack, App: Search, App: Emails & Messages, App: Invoices, App: Klaviyo, App: Data Importer, App: CMS, App: Product Feed, App: CRM, App: Segment, App: Avatax, App: Taxjar, App: SMTP

#1423 Remove custom error pages from apps
  .changeset/grumpy-toys-rescue.md
  .changeset/modern-elephants-sparkle.md
  apps/avatax/next.config.js
  apps/avatax/src/pages/_error.tsx
  apps/cms-v2/next.config.js
  apps/cms-v2/src/pages/_error.tsx
  apps/crm/next.config.js
  apps/crm/src/pages/_error.tsx
  apps/data-importer/next.config.js
  apps/data-importer/src/pages/_error.tsx
  apps/emails-and-messages/next.config.js
  apps/emails-and-messages/src/pages/_error.tsx
  apps/invoices/next.config.js
  apps/invoices/src/pages/_error.tsx
  apps/klaviyo/next.config.js
  apps/klaviyo/src/pages/_error.tsx
  apps/products-feed/next.config.js
  apps/products-feed/src/pages/_error.tsx
  apps/search/next.config.js
  apps/search/src/pages/_error.tsx
  apps/segment/next.config.js
  apps/segment/src/pages/_error.tsx
  apps/slack/next.config.js
  apps/slack/src/pages/_error.tsx
  apps/smtp/next.config.js
  apps/taxjar/next.config.js
  apps/taxjar/src/pages/_error.tsx
  packages/sentry-utils/package.json
  pnpm-lock.yaml
Labels: App: Slack, App: Search, App: Emails & Messages, App: Invoices, App: Klaviyo, App: Data Importer, App: CMS, App: Product Feed, App: CRM, App: Segment, App: Avatax, App: Taxjar, App: SMTP

#1426 🚀 Release apps
  .changeset/grumpy-toys-rescue.md
  .changeset/modern-elephants-sparkle.md
  .changeset/wise-dancers-travel.md
  apps/avatax/CHANGELOG.md
  apps/avatax/package.json
  apps/cms-v2/CHANGELOG.md
  apps/cms-v2/package.json
  apps/crm/CHANGELOG.md
  apps/crm/package.json
  apps/data-importer/CHANGELOG.md
  apps/data-importer/package.json
  apps/emails-and-messages/CHANGELOG.md
  apps/emails-and-messages/package.json
  apps/invoices/CHANGELOG.md
  apps/invoices/package.json
  apps/klaviyo/CHANGELOG.md
  apps/klaviyo/package.json
  apps/products-feed/CHANGELOG.md
  apps/products-feed/package.json
  apps/search/CHANGELOG.md
  apps/search/package.json
  apps/segment/CHANGELOG.md
  apps/segment/package.json
  apps/slack/CHANGELOG.md
  apps/slack/package.json
  apps/smtp/CHANGELOG.md
  apps/smtp/package.json
  apps/taxjar/CHANGELOG.md
  apps/taxjar/package.json
  packages/sentry-utils/CHANGELOG.md
  packages/sentry-utils/package.json
Labels: App: Slack, App: Search, App: Emails & Messages, App: Invoices, App: Klaviyo, App: Data Importer, App: CMS, App: Product Feed, App: CRM, App: Segment, App: Avatax, App: Taxjar, run e2e, App: SMTP

#1396 Implement automatic discounts distribution for calculate taxes webhooks
  .changeset/four-foxes-repair.md
  apps/avatax/bruno/7_Add_promo_code_checkout.bru
  apps/avatax/bruno/8_Complete_checkout.bru
  apps/avatax/bruno/environments/localhost.bru
  apps/avatax/bruno/environments/staging.bru
  apps/avatax/src/modules/avatax/avatax-webhook.service.ts
  apps/avatax/src/modules/avatax/calculate-taxes/avatax-calculate-taxes-adapter.ts
  apps/avatax/src/modules/avatax/calculate-taxes/avatax-calculate-taxes-mock-generator.ts
  apps/avatax/src/modules/avatax/calculate-taxes/avatax-calculate-taxes-payload-lines-transformer.test.ts
  apps/avatax/src/modules/avatax/calculate-taxes/avatax-calculate-taxes-payload-lines-transformer.ts
  apps/avatax/src/modules/avatax/calculate-taxes/avatax-calculate-taxes-payload-transformer.test.ts
  apps/avatax/src/modules/avatax/calculate-taxes/avatax-calculate-taxes-payload-transformer.ts
  apps/avatax/src/modules/avatax/calculate-taxes/avatax-calculate-taxes-payload.service.ts
  apps/avatax/src/modules/avatax/calculate-taxes/avatax-product-line.ts
  apps/avatax/src/modules/avatax/calculate-taxes/avatax-shipping-line.ts
  apps/avatax/src/modules/avatax/discounts/automatically-distributed.test.ts
  apps/avatax/src/modules/avatax/discounts/automatically-distributed.ts
  apps/avatax/src/modules/avatax/discounts/index.ts
  apps/avatax/src/modules/avatax/discounts/price-reduction.test.ts
  apps/avatax/src/modules/avatax/discounts/price-reduction.ts
  apps/avatax/src/modules/avatax/extract-transaction-redacted-log-properties.ts
  apps/avatax/src/modules/avatax/order-confirmed/avatax-order-confirmed-adapter.ts
  apps/avatax/src/modules/avatax/order-confirmed/avatax-order-confirmed-payload-transformer.test.ts
  apps/avatax/src/modules/avatax/order-confirmed/avatax-order-confirmed-payload-transformer.ts
  apps/avatax/src/modules/avatax/order-confirmed/avatax-order-confirmed-payload.service.ts
  apps/avatax/src/modules/avatax/order-confirmed/saleor-order-to-avatax-lines-transformer.test.ts
  apps/avatax/src/modules/avatax/order-confirmed/saleor-order-to-avatax-lines-transformer.ts
  apps/avatax/src/modules/calculate-taxes/use-case/calculate-taxes.use-case.test.ts
  apps/avatax/src/modules/calculate-taxes/use-case/calculate-taxes.use-case.ts
  apps/avatax/src/modules/taxes/tax-provider-webhook.ts
  apps/avatax/src/modules/taxes/tax-webhook-adapter.ts
  apps/avatax/src/pages/api/webhooks/checkout-calculate-taxes.ts
  apps/avatax/src/pages/api/webhooks/order-calculate-taxes.ts
  apps/avatax/src/pages/api/webhooks/order-confirmed.ts
  apps/avatax/tsconfig.json
  apps/avatax/vitest.config.ts
Labels: App: Avatax

#1377 Add more context to logs
  .changeset/selfish-stingrays-decide.md
  apps/cms-v2/src/logger-context.ts
  apps/cms-v2/src/logger.ts
  apps/cms-v2/src/modules/channel-provider-connection/channel-provider-connection.router.ts
  apps/cms-v2/src/modules/providers-listing/providers-list.router.ts
  apps/cms-v2/src/modules/providers/builder.io/builder-io-webhooks-processor.ts
  apps/cms-v2/src/modules/providers/builder.io/builder-io.client.ts
  apps/cms-v2/src/modules/providers/contentful/contentful-client.ts
  apps/cms-v2/src/modules/providers/contentful/contentful-webhooks-processor.ts
  apps/cms-v2/src/modules/providers/contentful/contentful.router.ts
  apps/cms-v2/src/modules/providers/datocms/datocms-client.ts
  apps/cms-v2/src/modules/providers/datocms/datocms-webhooks-processor.ts
  apps/cms-v2/src/modules/providers/datocms/datocms.router.ts
  apps/cms-v2/src/modules/providers/payloadcms/payloadcms-bulk-sync-processor.ts
  apps/cms-v2/src/modules/providers/payloadcms/payloadcms-client.ts
  apps/cms-v2/src/modules/providers/payloadcms/payloadcms-webhooks-processor.ts
  apps/cms-v2/src/modules/providers/strapi/strapi-client.ts
  apps/cms-v2/src/modules/providers/strapi/strapi-webhooks-processor.ts
  apps/cms-v2/src/modules/webhooks-operations/create-webhook-config-context.ts
  apps/cms-v2/src/modules/webhooks-operations/webhooks-processors-delegator.ts
  apps/cms-v2/src/pages/api/manifest.ts
  apps/cms-v2/src/pages/api/register.ts
  apps/cms-v2/src/pages/api/trpc/[trpc].ts
  apps/cms-v2/src/pages/api/webhooks/product-updated.ts
  apps/cms-v2/src/pages/api/webhooks/product-variant-created.ts
  apps/cms-v2/src/pages/api/webhooks/product-variant-deleted.ts
  apps/cms-v2/src/pages/api/webhooks/product-variant-updated.ts
  apps/products-feed/src/modules/app-configuration/app-config.ts
  apps/products-feed/src/modules/app-configuration/app-configuration.router.ts
  apps/products-feed/src/modules/app-configuration/attribute-fetcher.ts
  apps/products-feed/src/modules/app-configuration/channels/channels.router.ts
  apps/products-feed/src/modules/category-mapping/categories-fetcher.ts
  apps/products-feed/src/modules/category-mapping/category-mapping.router.ts
  apps/products-feed/src/modules/file-storage/s3/upload-multi-part.ts
  apps/products-feed/src/modules/google-feed/fetch-product-data.ts
  apps/products-feed/src/modules/google-feed/fetch-shop-data.ts
  apps/products-feed/src/modules/google-feed/generate-google-xml-feed.ts
  apps/products-feed/src/modules/google-feed/get-google-feed-settings.ts
  apps/products-feed/src/modules/handlebarsTemplates/render-handlebars-template.ts
  apps/products-feed/src/modules/trpc/middlewares.ts
  apps/products-feed/src/pages/api/feed/[url]/[channel]/google.xml.ts
  apps/products-feed/src/pages/api/trpc/[trpc].ts
  apps/smtp/src/pages/api/trpc/[trpc].ts
Labels: App: CMS, App: Product Feed, App: SMTP

#1438 Fix e2e for voucher - reapply discounts
  apps/avatax/e2e/tests/entire_voucher_product_without_tax_class.spec.ts
Labels: skip changeset, App: Avatax

#1430 🚀 Release apps
  .changeset/four-foxes-repair.md
  .changeset/rich-trees-yell.md
  .changeset/selfish-stingrays-decide.md
  apps/avatax/CHANGELOG.md
  apps/avatax/package.json
  apps/cms-v2/CHANGELOG.md
  apps/cms-v2/package.json
  apps/emails-and-messages/CHANGELOG.md
  apps/emails-and-messages/package.json
  apps/klaviyo/CHANGELOG.md
  apps/klaviyo/package.json
  apps/products-feed/CHANGELOG.md
  apps/products-feed/package.json
  apps/search/CHANGELOG.md
  apps/search/package.json
  apps/smtp/CHANGELOG.md
  apps/smtp/package.json
  apps/taxjar/CHANGELOG.md
  apps/taxjar/package.json
  packages/otel/CHANGELOG.md
  packages/otel/package.json
Labels: App: Search, App: Emails & Messages, App: Klaviyo, App: CMS, App: Product Feed, App: Avatax, App: Taxjar, run e2e, App: SMTP

#1442 Fix SMTP timeout by trycatching usecase
  .changeset/early-moose-fix.md
  apps/smtp/src/pages/api/register.ts
  apps/smtp/src/pages/api/webhooks/gift-card-sent.ts
  apps/smtp/src/pages/api/webhooks/invoice-sent.ts
  apps/smtp/src/pages/api/webhooks/notify.ts
  apps/smtp/src/pages/api/webhooks/order-cancelled.ts
  apps/smtp/src/pages/api/webhooks/order-confirmed.ts
  apps/smtp/src/pages/api/webhooks/order-created.ts
  apps/smtp/src/pages/api/webhooks/order-fulfilled.ts
  apps/smtp/src/pages/api/webhooks/order-fully-paid.ts
  apps/smtp/src/pages/api/webhooks/order-refunded.ts
Labels: App: SMTP

#1446 Improve logging in cms app
  .changeset/rotten-rockets-hug.md
  apps/cms-v2/src/modules/providers/builder.io/builder-io-webhooks-processor.ts
  apps/cms-v2/src/modules/webhooks-operations/webhooks-processors-delegator.ts
  apps/cms-v2/src/pages/api/webhooks/product-variant-updated.ts
Labels: App: CMS

#1448 Fix invalid import syntax
  apps/smtp/src/modules/event-handlers/use-case/send-event-messages.use-case.ts
  apps/smtp/src/modules/smtp/services/email-compiler.ts
Labels: skip changeset, App: SMTP

#1450 Fix SMTP app timeouts
  .changeset/metal-phones-hope.md
  apps/smtp/package.json
  apps/smtp/src/modules/smtp/services/mjml-compiler.test.ts
  apps/smtp/src/modules/smtp/services/mjml-compiler.ts
  pnpm-lock.yaml
Labels: App: SMTP

#1443 🚀 Release apps
  .changeset/early-moose-fix.md
  .changeset/metal-phones-hope.md
  .changeset/rotten-rockets-hug.md
  apps/cms-v2/CHANGELOG.md
  apps/cms-v2/package.json
  apps/smtp/CHANGELOG.md
  apps/smtp/package.json
Labels: App: CMS, App: SMTP

#1453 🚀 Release apps
  .changeset/gold-llamas-drive.md
  .changeset/poor-impalas-raise.md
  apps/smtp/CHANGELOG.md
  apps/smtp/package.json
Labels: App: SMTP

#1456 Add logs to register fn
  .changeset/chilled-zoos-appear.md
  apps/avatax/src/pages/api/register.ts
Labels: App: Avatax

#1455 Send JSON as error response for AvaTax
  .changeset/pretty-dodos-explain.md
  apps/avatax/src/pages/api/webhooks/checkout-calculate-taxes.ts
  apps/avatax/src/pages/api/webhooks/order-calculate-taxes.ts
  apps/avatax/src/pages/api/webhooks/order-cancelled.ts
  apps/avatax/src/pages/api/webhooks/order-confirmed.ts
Labels: App: Avatax
