Repository saleor/apps, pull requests merged in 2024-04, with the labels that each got.

#1292 Dynamically load taxes calculation logic
  .changeset/spicy-pumas-fetch.md
  apps/avatax/src/modules/taxes/get-active-connection-service-errors.ts
  apps/avatax/src/modules/taxes/get-active-connection-service.test.ts
  apps/avatax/src/modules/taxes/get-active-connection-service.ts
  apps/avatax/src/pages/_app.tsx
  apps/avatax/src/pages/api/webhooks/checkout-calculate-taxes.ts
  apps/avatax/src/pages/api/webhooks/order-calculate-taxes.ts
  apps/avatax/src/pages/api/webhooks/order-cancelled.ts
  apps/avatax/src/pages/api/webhooks/order-confirmed.ts
Labels: App: Avatax

#1284 Avatax: tree shake packages
  apps/avatax/next.config.js
  apps/avatax/package.json
  apps/cms-v2/package.json
  apps/crm/package.json
  apps/data-importer/package.json
  apps/emails-and-messages/package.json
  apps/invoices/package.json
  apps/klaviyo/package.json
  apps/products-feed/package.json
  apps/search/package.json
  apps/segment/package.json
  apps/slack/package.json
  apps/taxjar/package.json
  pnpm-lock.yaml
Labels: App: Slack, App: Search, App: Emails & Messages, App: Invoices, App: Klaviyo, App: Data Importer, App: CMS, App: Product Feed, App: CRM, App: Segment, skip changeset, App: Avatax, App: Taxjar

#1281 Combine `APP_LOG_LEVEL` env variable and fix wrong console.debug log
  .changeset/big-queens-sip.md
  apps/avatax/.env.example
  apps/avatax/package.json
  apps/avatax/src/lib/app-metadata-cache.ts
  apps/avatax/turbo.json
  apps/cms-v2/.env.example
  apps/cms-v2/package.json
  apps/cms-v2/turbo.json
  apps/taxjar/.env.example
  apps/taxjar/package.json
  apps/taxjar/turbo.json
  packages/logger/src/logger.ts
  packages/shared/src/logger.ts
Labels: App: CMS, App: Avatax, App: Taxjar

#1282 🚀 Release apps
  .changeset/big-queens-sip.md
  .changeset/cold-chefs-itch.md
  .changeset/honest-wombats-jump.md
  .changeset/hot-dolls-remember.md
  .changeset/spicy-pumas-fetch.md
  .changeset/tiny-bulldogs-watch.md
  apps/avatax/CHANGELOG.md
  apps/avatax/package.json
  apps/cms-v2/CHANGELOG.md
  apps/cms-v2/package.json
  apps/crm/CHANGELOG.md
  apps/crm/package.json
  apps/data-importer/CHANGELOG.md
  apps/data-importer/package.json
  apps/emails-and-messages/CHANGELOG.md
  apps/emails-and-messages/package.json
  apps/invoices/CHANGELOG.md
  apps/invoices/package.json
  apps/klaviyo/CHANGELOG.md
  apps/klaviyo/package.json
  apps/products-feed/CHANGELOG.md
  apps/products-feed/package.json
  apps/search/CHANGELOG.md
  apps/search/package.json
  apps/segment/CHANGELOG.md
  apps/segment/package.json
  apps/slack/CHANGELOG.md
  apps/slack/package.json
  apps/taxjar/CHANGELOG.md
  apps/taxjar/package.json
  packages/logger/CHANGELOG.md
  packages/logger/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
  packages/trpc/CHANGELOG.md
  packages/trpc/package.json
  packages/webhook-utils/CHANGELOG.md
  packages/webhook-utils/package.json
Labels: App: Slack, App: Search, App: Emails & Messages, App: Invoices, App: Klaviyo, App: Data Importer, App: CMS, App: Product Feed, App: CRM, App: Segment, App: Avatax, App: Taxjar, run e2e

#1296 Update release workflow with link to checklist
  .github/workflows/prepare-release.yml
Labels: skip changeset

#1298 Add Sentry to tRPC
  .changeset/warm-ligers-jam.md
  apps/avatax/src/modules/trpc/trpc-server.ts
  apps/avatax/src/pages/api/trpc/[trpc].ts
Labels: App: Avatax

#1297 Update Avatax bruno and improve error logging for customerCode
  .changeset/curvy-lobsters-add.md
  .gitignore
  apps/avatax/README.md
  apps/avatax/bruno/.env.example
  apps/avatax/bruno/1_Create_storefront_user.bru
  apps/avatax/bruno/2_Create_storefront_token.bru
  apps/avatax/bruno/3_Fetch_product.bru
  apps/avatax/bruno/4_Create_checkout_US.bru
  apps/avatax/bruno/5_Update_delivery_method.bru
  apps/avatax/bruno/6_Complete_checkout.bru
  apps/avatax/bruno/collection.bru
  apps/avatax/bruno/environments/localhost.bru
  apps/avatax/bruno/environments/staging.bru
  apps/avatax/bruno/package-lock.json
  apps/avatax/bruno/pnpm-lock.yaml
  apps/avatax/src/modules/avatax/avatax-customer-code-resolver.ts
  pnpm-lock.yaml
Labels: App: Avatax

#1300 Resolve `avataxCustomerCode` from order or checkout metadata
  .changeset/beige-llamas-love.md
  apps/avatax/graphql/fragments/TaxBase.graphql
  apps/avatax/graphql/subscriptions/OrderConfirmed.graphql
  apps/avatax/src/modules/avatax/avatax-customer-code-resolver.test.ts
  apps/avatax/src/modules/avatax/avatax-customer-code-resolver.ts
  apps/avatax/src/modules/avatax/calculate-taxes/avatax-calculate-taxes-payload-transformer.ts
  apps/avatax/src/modules/avatax/order-confirmed/avatax-order-confirmed-payload-transformer.ts
Labels: App: Avatax

#1287 Refactor: Extract avatax client creation outside of services
  apps/avatax/package.json
  apps/avatax/src/lib/create-instrumented-graphql-client.ts
  apps/avatax/src/lib/obfuscator.test.ts
  apps/avatax/src/logger.ts
  apps/avatax/src/modules/app/metadata-manager.test.ts
  apps/avatax/src/modules/app/metadata-manager.ts
  apps/avatax/src/modules/avatax/avatax-client.ts
  apps/avatax/src/modules/avatax/avatax-connection.router.ts
  apps/avatax/src/modules/avatax/avatax-document-code-resolver.test.ts
  apps/avatax/src/modules/avatax/avatax-error-normalizer.test.ts
  apps/avatax/src/modules/avatax/avatax-obfuscator.test.ts
  apps/avatax/src/modules/avatax/avatax-sdk-client-factory.ts
  apps/avatax/src/modules/avatax/avatax-webhook.service.ts
  apps/avatax/src/modules/avatax/calculate-taxes/avatax-calculate-taxes-adapter.ts
  apps/avatax/src/modules/avatax/calculate-taxes/avatax-calculate-taxes-payload-transformer.ts
  apps/avatax/src/modules/avatax/calculate-taxes/avatax-calculate-taxes-payload.service.ts
  apps/avatax/src/modules/avatax/configuration/avatax-connection.service.ts
  apps/avatax/src/modules/avatax/configuration/avatax-edit-address-validation.service.ts
  apps/avatax/src/modules/avatax/configuration/avatax-edit-auth-validation.service.ts
  apps/avatax/src/modules/avatax/order-cancelled/avatax-order-cancelled-adapter.ts
  apps/avatax/src/modules/avatax/order-cancelled/avatax-order-cancelled-payload-transformer.test.ts
  apps/avatax/src/modules/avatax/order-cancelled/avatax-order-cancelled-payload-transformer.ts
  apps/avatax/src/modules/avatax/order-confirmed/avatax-order-confirmed-adapter.ts
  apps/avatax/src/modules/avatax/order-confirmed/avatax-order-confirmed-payload-transformer.test.ts
  apps/avatax/src/modules/avatax/order-confirmed/avatax-order-confirmed-payload-transformer.ts
  apps/avatax/src/modules/avatax/order-confirmed/avatax-order-confirmed-payload.service.ts
  apps/avatax/src/modules/avatax/tax-code/avatax-tax-code-matches.router.ts
  apps/avatax/src/modules/avatax/tax-code/avatax-tax-code-matches.service.ts
  apps/avatax/src/modules/avatax/tax-code/avatax-tax-codes.router.ts
  apps/avatax/src/modules/avatax/tax-code/avatax-tax-codes.service.ts
  apps/avatax/src/modules/avatax/ui/avatax-address-resolution-processor.test.ts
  apps/avatax/src/modules/avatax/ui/avatax-configuration-form.tsx
  apps/avatax/src/modules/channel-configuration/channel-configuration-merger.test.ts
  apps/avatax/src/modules/tax-classes/tax-classes-fetcher.ts
  apps/avatax/src/modules/taxes/discount-utils.test.ts
  apps/avatax/src/modules/taxes/get-active-connection-service.test.ts
  apps/avatax/src/modules/taxes/get-active-connection-service.ts
  apps/avatax/src/modules/taxes/tax-provider-webhook.ts
  apps/avatax/src/modules/taxes/tax-webhook-adapter.ts
  apps/avatax/src/modules/trpc/protected-client-procedure.ts
  apps/avatax/src/modules/trpc/trpc-context.ts
  apps/avatax/src/modules/ui/app-card.tsx
  apps/avatax/src/modules/ui/providers-table.tsx
  apps/avatax/src/pages/api/webhooks/checkout-calculate-taxes.ts
  apps/avatax/src/pages/api/webhooks/order-calculate-taxes.ts
  apps/avatax/src/pages/api/webhooks/order-cancelled.ts
  apps/avatax/src/pages/api/webhooks/order-confirmed.ts
  apps/avatax/vitest.workspace.ts
Labels: skip changeset, App: Avatax

#1293 Handle no `avataxId` on order-cancel
  .changeset/young-readers-speak.md
  apps/avatax/src/modules/avatax/avatax-webhook.service.ts
  apps/avatax/src/modules/avatax/order-cancelled/avatax-order-cancelled-adapter.ts
  apps/avatax/src/modules/avatax/order-cancelled/avatax-order-cancelled-payload-transformer.test.ts
  apps/avatax/src/modules/avatax/order-cancelled/avatax-order-cancelled-payload-transformer.ts
  apps/avatax/src/modules/saleor/order-cancel-error.ts
  apps/avatax/src/modules/saleor/order.test.ts
  apps/avatax/src/modules/saleor/order.ts
  apps/avatax/src/modules/taxes/tax-provider-webhook.ts
  apps/avatax/src/pages/api/webhooks/order-cancelled.ts
Labels: App: Avatax

#1304 Add bruno request for checkout metadata
  apps/avatax/bruno/5._Update_checkout_metadata.bru
  apps/avatax/bruno/6_Update_delivery_method.bru
  apps/avatax/bruno/7_Complete_checkout.bru
Labels: skip changeset, App: Avatax

#1310 change missing shipping warning
  .changeset/soft-fireants-shop.md
  apps/avatax/src/modules/avatax/calculate-taxes/avatax-calculate-taxes-response-shipping-transformer.ts
Labels: App: Avatax

#1309 Add logs for cancel order
  .changeset/lazy-swans-type.md
  apps/avatax/src/modules/avatax/order-cancelled/avatax-order-cancelled-adapter.ts
  apps/avatax/src/pages/api/webhooks/order-cancelled.ts
Labels: App: Avatax

#1306 use type instead enums in codegen types
  apps/avatax/.graphqlrc.ts
  apps/avatax/src/mocks.ts
  apps/avatax/src/modules/saleor/mock-order-factory.ts
  apps/avatax/src/modules/saleor/order.ts
Labels: skip changeset, App: Avatax

#1302 Create separate entity for app config
  apps/avatax/src/lib/app-config.test.ts
  apps/avatax/src/lib/app-config.ts
  apps/avatax/src/modules/app/get-app-config.ts
  pnpm-lock.yaml
Labels: skip changeset, App: Avatax

#1311 Update tax class id matcher logs
  .changeset/violet-eggs-greet.md
  apps/avatax/src/modules/avatax/calculate-taxes/avatax-calculate-taxes-tax-code-matcher.ts
  apps/avatax/src/modules/avatax/order-confirmed/avatax-order-confirmed-tax-code-matcher.ts
Labels: App: Avatax

#1313 Add logger that will log specific app configuration log
  .changeset/rare-insects-remain.md
  apps/avatax/src/lib/app-configuration-logger.test.ts
  apps/avatax/src/lib/app-configuration-logger.ts
  apps/avatax/src/modules/taxes/get-active-connection-service.ts
Labels: App: Avatax

#1305 🚀 Release apps
  .changeset/lazy-swans-type.md
  .changeset/rare-insects-remain.md
  .changeset/soft-fireants-shop.md
  .changeset/violet-eggs-greet.md
  .changeset/young-readers-speak.md
  apps/avatax/CHANGELOG.md
  apps/avatax/package.json
Labels: App: Avatax, run e2e

#1317 🚀 Release apps
  .changeset/short-meals-wave.md
  apps/avatax/CHANGELOG.md
  apps/avatax/package.json
  apps/cms-v2/CHANGELOG.md
  apps/cms-v2/package.json
  apps/emails-and-messages/CHANGELOG.md
  apps/emails-and-messages/package.json
  apps/products-feed/CHANGELOG.md
  apps/products-feed/package.json
  apps/search/CHANGELOG.md
  apps/search/package.json
  apps/taxjar/CHANGELOG.md
  apps/taxjar/package.json
  packages/logger/CHANGELOG.md
  packages/logger/package.json
Labels: App: Search, App: Emails & Messages, App: CMS, App: Product Feed, App: Avatax, App: Taxjar, run e2e

#1319 Refactor: extract avatax config resolving to webhook, pass it down to services
  apps/avatax/src/lib/app-config-extractor.ts
  apps/avatax/src/modules/taxes/avatax-webhook-service-factory.test.ts
  apps/avatax/src/modules/taxes/avatax-webhook-service-factory.ts
  apps/avatax/src/modules/taxes/get-active-connection-service-errors.ts
  apps/avatax/src/modules/taxes/get-active-connection-service.test.ts
  apps/avatax/src/modules/taxes/get-active-connection-service.ts
  apps/avatax/src/modules/webhooks/calculate-taxes-errors-strategy.ts
  apps/avatax/src/pages/api/webhooks/checkout-calculate-taxes.ts
  apps/avatax/src/pages/api/webhooks/order-calculate-taxes.ts
  apps/avatax/src/pages/api/webhooks/order-cancelled.ts
  apps/avatax/src/pages/api/webhooks/order-confirmed.ts
Labels: skip changeset, App: Avatax

#1325 🚀 Release apps
  .changeset/empty-dancers-repair.md
  apps/avatax/CHANGELOG.md
  apps/avatax/package.json
Labels: App: Avatax, run e2e
