Repository saleor/apps, pull requests merged in 2025-04, with the labels that each got.

#1828 Metric: AvaTax API calls
  .changeset/chilly-tips-train.md
  .changeset/green-eels-film.md
  .changeset/modern-eyes-sit.md
  .changeset/slow-lions-clap.md
  apps/avatax/.env.example
  apps/avatax/package.json
  apps/avatax/src/app/api/manifest/route.ts
  apps/avatax/src/app/api/register/route.ts
  apps/avatax/src/app/api/webhooks/checkout-calculate-taxes/route.ts
  apps/avatax/src/app/api/webhooks/order-calculate-taxes/route.ts
  apps/avatax/src/app/api/webhooks/order-cancelled/route.ts
  apps/avatax/src/app/api/webhooks/order-confirmed/route.ts
  apps/avatax/src/env.ts
  apps/avatax/src/instrumentations/otel-node.ts
  apps/avatax/src/lib/create-instrumented-graphql-client.ts
  apps/avatax/src/lib/otel/meter-provider.ts
  apps/avatax/src/lib/otel/metrics.ts
  apps/avatax/src/lib/otel/otel-tenant-domain-resolver.test.ts
  apps/avatax/src/lib/otel/otel-tenant-domain-resolver.ts
  apps/avatax/src/lib/otel/shared-service-instance-id.ts
  apps/avatax/src/lib/otel/tracing.ts
  apps/avatax/src/lib/otel/with-flush-otel-metrics.ts
  apps/avatax/src/modules/avatax/avatax-client.ts
  apps/avatax/src/modules/avatax/calculate-taxes/avatax-calculate-taxes-payload-transformer.ts
  apps/avatax/tsconfig.json
  apps/avatax/turbo.json
  apps/cms/src/instrumentations/otel-node.ts
  apps/klaviyo/src/instrumentations/otel-node.ts
  apps/products-feed/src/instrumentations/otel-node.ts
  apps/search/src/instrumentations/otel-node.ts
  apps/segment/src/instrumentations/otel-node.ts
  apps/smtp/src/instrumentations/otel-node.ts
  cspell.config.js
  packages/otel/package.json
  packages/otel/src/metrics-reader-factory.ts
  packages/otel/src/observability-attributes.ts
  packages/otel/src/service-instance-id-factory.ts
  packages/shared/package.json
  packages/shared/src/race.test.ts
  packages/shared/src/race.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: App: Search, App: Klaviyo, App: CMS, App: Product Feed, App: Segment, App: AvaTax, App: SMTP

#1831 Update vite & vitests
  apps/avatax/package.json
  apps/avatax/src/modules/calculate-taxes/use-case/calculate-taxes.use-case.test.ts
  apps/avatax/vitest.config.ts
  apps/avatax/vitest.workspace.ts
  apps/cms/package.json
  apps/cms/vitest.config.ts
  apps/klaviyo/package.json
  apps/products-feed/package.json
  apps/products-feed/src/modules/category-mapping/categories-fetcher.test.ts
  apps/products-feed/vitest.config.ts
  apps/search/package.json
  apps/search/src/lib/debug.ts
  apps/search/vitest.config.ts
  apps/segment/package.json
  apps/segment/vitest.config.ts
  apps/smtp/package.json
  apps/smtp/src/modules/event-handlers/use-case/send-event-messages.use-case.test.ts
  apps/smtp/src/modules/smtp/services/email-compiler.ts
  apps/smtp/src/modules/webhook-management/sync-webhook-status.test.ts
  apps/smtp/vitest.config.ts
  apps/stripe/package.json
  packages/logger/package.json
  packages/react-hook-form-macaw/next-env.d.ts
  packages/react-hook-form-macaw/package.json
  packages/shared/package.json
  packages/shared/vitest.config.ts
  packages/webhook-utils/package.json
  packages/webhook-utils/vitest.config.ts
  pnpm-lock.yaml
Labels: App: Search, App: Klaviyo, App: CMS, App: Product Feed, App: Segment, skip changeset, App: AvaTax, App: SMTP, App Payment: Stripe

#1826 🚀 Release apps
  .changeset/chilly-tips-train.md
  .changeset/four-melons-grin.md
  .changeset/green-eels-film.md
  .changeset/modern-eyes-sit.md
  .changeset/rotten-clocks-jump.md
  .changeset/six-apes-camp.md
  .changeset/slow-lions-clap.md
  .changeset/tender-cars-count.md
  apps/avatax/CHANGELOG.md
  apps/avatax/package.json
  apps/cms/CHANGELOG.md
  apps/cms/package.json
  apps/klaviyo/CHANGELOG.md
  apps/klaviyo/package.json
  apps/products-feed/CHANGELOG.md
  apps/products-feed/package.json
  apps/search/CHANGELOG.md
  apps/search/package.json
  apps/segment/CHANGELOG.md
  apps/segment/package.json
  apps/smtp/CHANGELOG.md
  apps/smtp/package.json
  apps/stripe/CHANGELOG.md
  apps/stripe/package.json
  packages/logger/CHANGELOG.md
  packages/logger/package.json
  packages/otel/CHANGELOG.md
  packages/otel/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
Labels: App: Search, App: Klaviyo, App: CMS, App: Product Feed, App: Segment, App: AvaTax, run e2e, App: SMTP, App Payment: Stripe

#1832 Add scripts, devcontainers & basic Stripe API
  .devcontainer/stripe/Dockerfile
  .devcontainer/stripe/devcontainer.json
  .devcontainer/stripe/docker-compose.yml
  apps/stripe/package.json
  apps/stripe/scripts/deploy.ts
  apps/stripe/scripts/migration-logger.ts
  apps/stripe/scripts/run-webhooks-migration.ts
  apps/stripe/src/app/api/trpc/[trpc]/route.ts
  apps/stripe/src/lib/env.ts
  apps/stripe/src/lib/errors.ts
  apps/stripe/src/lib/graphql-client.ts
  apps/stripe/src/lib/logger.ts
  apps/stripe/src/lib/tracing.ts
  apps/stripe/src/modules/stripe/stripe-payment-intents-api.test.ts
  apps/stripe/src/modules/stripe/stripe-payment-intents-api.ts
  apps/stripe/src/modules/stripe/stripe-publishable-key.ts
  apps/stripe/src/modules/stripe/stripe-restricted-key.ts
  apps/stripe/src/modules/trpc/protected-client-procedure.ts
  apps/stripe/turbo.json
  apps/stripe/vitest.config.ts
  codecov.yml
  pnpm-lock.yaml
Labels: skip changeset, App Payment: Stripe

#1836 Fix `NODE_ENV` variable typing in AvaTax
  apps/avatax/src/env.ts
Labels: skip changeset, App: AvaTax

#1806 Update README.md - contribution and deployment notes
  README.md
Labels: skip changeset

#1837 Refactor Stripe key handling: improve validation and add tests for publishable and restricted keys
  apps/stripe/src/modules/stripe/stripe-payment-intents-api.test.ts
  apps/stripe/src/modules/stripe/stripe-publishable-key.test.ts
  apps/stripe/src/modules/stripe/stripe-publishable-key.ts
  apps/stripe/src/modules/stripe/stripe-restricted-key.test.ts
  apps/stripe/src/modules/stripe/stripe-restricted-key.ts
Labels: skip changeset, App Payment: Stripe

#1834 Add GitHub Action to notify Discord on "Help Wanted" issues
  .github/workflows/help-wanted-issues-to-discord.yml
Labels: skip changeset

#1838 Add Stripe AppConfig
  apps/stripe/.gitignore
  apps/stripe/src/modules/app-config/app-config-persistor.ts
  apps/stripe/src/modules/app-config/app-root-config.ts
  apps/stripe/src/modules/app-config/file-app-config-presistor.test.ts
  apps/stripe/src/modules/app-config/file-app-config-presistor.ts
  apps/stripe/src/modules/app-config/stripe-config.ts
  apps/stripe/src/modules/stripe/stripe-payment-intents-api.test.ts
  apps/stripe/src/modules/stripe/stripe-publishable-key.test.ts
  apps/stripe/src/modules/stripe/stripe-publishable-key.ts
  apps/stripe/src/modules/stripe/stripe-restricted-key.test.ts
  apps/stripe/src/modules/stripe/stripe-restricted-key.ts
Labels: skip changeset, App Payment: Stripe

#1839 stripe payment initialize webhook
  apps/stripe/generated/graphql.ts
  apps/stripe/graphql/fragments/Channel.graphql
  apps/stripe/graphql/subscriptions/PaymentGatewayInitializeSession.graphql
  apps/stripe/package.json
  apps/stripe/src/__tests__/setup.ts
  apps/stripe/src/app-config-persistence.ts
  apps/stripe/src/app/api/manifest/route.ts
  apps/stripe/src/app/api/saleor/gateway-initialize/response-shape.test.ts
  apps/stripe/src/app/api/saleor/gateway-initialize/response-shape.ts
  apps/stripe/src/app/api/saleor/gateway-initialize/route.ts
  apps/stripe/src/app/api/saleor/gateway-initialize/use-case.test.ts
  apps/stripe/src/app/api/saleor/gateway-initialize/use-case.ts
  apps/stripe/src/app/api/saleor/gateway-initialize/webhook-definition.ts
  apps/stripe/src/modules/app-config/file-app-config-presistor.test.ts
  apps/stripe/src/modules/app-config/file-app-config-presistor.ts
  apps/stripe/src/modules/app-config/stripe-config.ts
  pnpm-lock.yaml
Labels: skip changeset, App Payment: Stripe

#1841 Improve Stripe app config
  apps/stripe/graphql/fragments/.gitkeep
  apps/stripe/graphql/fragments/channel.graphql
  apps/stripe/graphql/subscriptions/.gitkeep
  apps/stripe/graphql/subscriptions/PaymentGatewayInitializeSession.graphql
  apps/stripe/graphql/subscriptions/payment-gateway-initalize-session.graphql
  apps/stripe/src/app/api/saleor/gateway-initialize/route.ts
  apps/stripe/src/app/api/saleor/gateway-initialize/use-case.test.ts
  apps/stripe/src/app/api/saleor/gateway-initialize/use-case.ts
  apps/stripe/src/lib/app-config-persistence.ts
  apps/stripe/src/modules/app-config/app-config-persistor.ts
  apps/stripe/src/modules/app-config/app-root-config.ts
  apps/stripe/src/modules/app-config/file-app-config-presistor.test.ts
  apps/stripe/src/modules/app-config/file-app-config-presistor.ts
  apps/stripe/src/modules/app-config/stripe-config.test.ts
  apps/stripe/src/modules/app-config/stripe-config.ts
  apps/stripe/src/modules/saleor/saleor-api-url.test.ts
  apps/stripe/src/modules/saleor/saleor-api-url.ts
  apps/stripe/src/modules/stripe/stripe-payment-intents-api.ts
  apps/stripe/src/modules/stripe/stripe-publishable-key.test.ts
  apps/stripe/src/modules/stripe/stripe-publishable-key.ts
  apps/stripe/src/modules/stripe/stripe-restricted-key.test.ts
  apps/stripe/src/modules/stripe/stripe-restricted-key.ts
  apps/stripe/tsconfig.json
  packages/webhook-utils/src/webhook-migration-runner.ts
  packages/webhook-utils/src/webhook-updater.ts
Labels: skip changeset, App Payment: Stripe

#1842 Fix devcontainer setup
  .devcontainer/avatax/Dockerfile
  .devcontainer/avatax/devcontainer.json
  .devcontainer/cms/Dockerfile
  .devcontainer/cms/devcontainer.json
  .devcontainer/klaviyo/Dockerfile
  .devcontainer/klaviyo/devcontainer.json
  .devcontainer/products-feed/Dockerfile
  .devcontainer/products-feed/devcontainer.json
  .devcontainer/search/Dockerfile
  .devcontainer/search/devcontainer.json
  .devcontainer/segment/Dockerfile
  .devcontainer/segment/devcontainer.json
  .devcontainer/smtp/Dockerfile
  .devcontainer/smtp/devcontainer.json
  .devcontainer/stripe/Dockerfile
  .devcontainer/stripe/devcontainer.json
  apps/avatax/README.md
  apps/cms/README.md
  apps/klaviyo/README.md
  apps/products-feed/README.md
  apps/search/README.md
  apps/segment/README.md
  apps/smtp/README.md
  apps/stripe/README.md
Labels: App: Search, App: Klaviyo, App: CMS, App: Product Feed, App: Segment, skip changeset, App: AvaTax, App: SMTP, App Payment: Stripe

#1843 Enforce kebab-case naming rules
  apps/avatax/eslint.config.js
  apps/avatax/lint-staged.config.js
  apps/cms/eslint.config.js
  apps/cms/lint-staged.config.js
  apps/cms/src/modules/graphql/graphql-provider.tsx
  apps/cms/src/pages/_app.tsx
  apps/klaviyo/eslint.config.js
  apps/klaviyo/lint-staged.config.js
  apps/klaviyo/src/hooks/use-app-api.tsx
  apps/klaviyo/src/pages/configuration.tsx
  apps/products-feed/eslint.config.js
  apps/products-feed/lint-staged.config.js
  apps/search/eslint.config.js
  apps/search/lint-staged.config.js
  apps/segment/lint-staged.config.js
  apps/segment/src/pages/_app.tsx
  apps/segment/src/providers/graphql-provider.tsx
  apps/smtp/eslint.config.js
  apps/smtp/lint-staged.config.js
  apps/stripe/graphql/subscriptions/payment-gateway-initialize-session.graphql
  apps/stripe/lint-staged.config.js
  cspell.config.js
  lint-staged.config.js
  packages/eslint-config/index.js
  packages/eslint-config/package.json
  packages/react-hook-form-macaw/index.ts
  packages/react-hook-form-macaw/src/components/combobox.tsx
  packages/react-hook-form-macaw/src/components/input.tsx
  packages/react-hook-form-macaw/src/components/multiselect.tsx
  packages/react-hook-form-macaw/src/components/select.tsx
  packages/react-hook-form-macaw/src/components/toggle.tsx
  packages/webhook-utils/graphql/fragments/webhook-details-fragment.graphql
  packages/webhook-utils/graphql/mutations/create-app-webhook.graphql
  packages/webhook-utils/graphql/mutations/modify-app-webhook.graphql
  packages/webhook-utils/graphql/mutations/remove-app-webhook.graphql
  packages/webhook-utils/graphql/queries/get-app-details-and-webhooks-data.graphql
  packages/webhook-utils/graphql/queries/get-saleor-instance-data.graphql
  packages/webhook-utils/lint-staged.config.js
  pnpm-lock.yaml
Labels: App: Search, App: Klaviyo, App: CMS, App: Product Feed, App: Segment, skip changeset, App: AvaTax, App: SMTP, App Payment: Stripe

#1844 Update to Node.js 22.14
  .nvmrc
Labels: skip changeset

#1845 Add integration test for manifest
  apps/stripe/package.json
  apps/stripe/src/__tests__/setup.integration.ts
  apps/stripe/src/__tests__/setup.units.ts
  apps/stripe/src/app/api/manifest/route.integration.test.ts
  apps/stripe/src/app/api/manifest/route.ts
  apps/stripe/vitest.config.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: skip changeset, App Payment: Stripe

#1849 Stripe app: refator route name & app config presistor
  apps/stripe/src/app/api/manifest/route.integration.test.ts
  apps/stripe/src/app/api/manifest/route.ts
  apps/stripe/src/app/api/saleor/payment-gateway-initialize-session/response-shape.test.ts
  apps/stripe/src/app/api/saleor/payment-gateway-initialize-session/response-shape.ts
  apps/stripe/src/app/api/saleor/payment-gateway-initialize-session/route.ts
  apps/stripe/src/app/api/saleor/payment-gateway-initialize-session/use-case.test.ts
  apps/stripe/src/app/api/saleor/payment-gateway-initialize-session/use-case.ts
  apps/stripe/src/app/api/saleor/payment-gateway-initialize-session/webhook-definition.ts
  apps/stripe/src/lib/app-config-persistence.ts
  apps/stripe/src/modules/app-config/app-config-repo.ts
  apps/stripe/src/modules/app-config/file-app-config-repo.test.ts
  apps/stripe/src/modules/app-config/file-app-config-repo.ts
  pnpm-workspace.yaml
Labels: skip changeset, App Payment: Stripe

#1848 Handle transaction initialize session for Stripe app
  apps/stripe/generated/graphql.ts
  apps/stripe/graphql/subscriptions/transaction-initialize-session.graphql
  apps/stripe/scripts/run-webhooks-migration.ts
  apps/stripe/src/__tests__/mocks/app-config-repo.ts
  apps/stripe/src/__tests__/mocks/constants.ts
  apps/stripe/src/__tests__/mocks/saleor-api-url.ts
  apps/stripe/src/__tests__/mocks/transaction-initalize-session-event.ts
  apps/stripe/src/app/api/manifest/route.integration.test.ts
  apps/stripe/src/app/api/manifest/route.ts
  apps/stripe/src/app/api/saleor/transaction-initialize-session/route.ts
  apps/stripe/src/app/api/saleor/transaction-initialize-session/use-case.test.ts
  apps/stripe/src/app/api/saleor/transaction-initialize-session/use-case.ts
  apps/stripe/src/app/api/saleor/transaction-initialize-session/webhook-definition.ts
  apps/stripe/src/modules/stripe/errors.ts
  apps/stripe/src/modules/stripe/stripe-payment-intents-api-factory.ts
  apps/stripe/src/modules/stripe/stripe-payment-intents-api.ts
  apps/stripe/src/modules/stripe/types.ts
  apps/stripe/vitest.config.ts
Labels: skip changeset, App Payment: Stripe

#1851 Add currency handling and validation for Stripe integration
  apps/stripe/package.json
  apps/stripe/src/app/api/manifest/route.integration.test.ts
  apps/stripe/src/app/api/saleor/payment-gateway-initialize-session/webhook-definition.ts
  apps/stripe/src/app/api/saleor/transaction-initialize-session/use-case.test.ts
  apps/stripe/src/app/api/saleor/transaction-initialize-session/use-case.ts
  apps/stripe/src/modules/saleor/saleor-money.test.ts
  apps/stripe/src/modules/saleor/saleor-money.ts
  apps/stripe/src/modules/stripe/stripe-money.test.ts
  apps/stripe/src/modules/stripe/stripe-money.ts
  pnpm-lock.yaml
Labels: skip changeset, App Payment: Stripe

#1852 Fix typo in charge request
  apps/stripe/src/app/api/saleor/transaction-initialize-session/use-case.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: skip changeset, App Payment: Stripe

#1854 Stripe webhook: basic implementation
  apps/stripe/src/__tests__/mocks/app-config-repo.ts
  apps/stripe/src/__tests__/mocks/constants.ts
  apps/stripe/src/__tests__/mocks/mock-auth-data.ts
  apps/stripe/src/__tests__/mocks/stripe-webhook-secret.ts
  apps/stripe/src/app/api/stripe/webhook/route.ts
  apps/stripe/src/app/api/stripe/webhook/stripe-signature-header.test.ts
  apps/stripe/src/app/api/stripe/webhook/stripe-signature-header.ts
  apps/stripe/src/app/api/stripe/webhook/stripe-webhook-response.ts
  apps/stripe/src/app/api/stripe/webhook/use-case.test.ts
  apps/stripe/src/app/api/stripe/webhook/use-case.ts
  apps/stripe/src/app/api/stripe/webhook/webhook-params.test.ts
  apps/stripe/src/app/api/stripe/webhook/webhook-params.ts
  apps/stripe/src/lib/errors.ts
  apps/stripe/src/modules/app-config/file-app-config-repo.test.ts
  apps/stripe/src/modules/app-config/file-app-config-repo.ts
  apps/stripe/src/modules/app-config/stripe-config.test.ts
  apps/stripe/src/modules/app-config/stripe-config.ts
  apps/stripe/src/modules/stripe/stripe-client.ts
  apps/stripe/src/modules/stripe/stripe-payment-intents-api.ts
  apps/stripe/src/modules/stripe/stripe-webhook-secret.test.ts
  apps/stripe/src/modules/stripe/stripe-webhook-secret.ts
  apps/stripe/src/modules/stripe/stripe-webhook-signature-validator.ts
  apps/stripe/src/modules/stripe/types.ts
Labels: skip changeset, App Payment: Stripe

#1857 Use config id instead channel id in stripe webhook
  apps/stripe/src/__tests__/mocks/app-config-repo.ts
  apps/stripe/src/__tests__/mocks/constants.ts
  apps/stripe/src/app/api/stripe/webhook/use-case.ts
  apps/stripe/src/app/api/stripe/webhook/webhook-params.test.ts
  apps/stripe/src/app/api/stripe/webhook/webhook-params.ts
  apps/stripe/src/lib/random-id.test.ts
  apps/stripe/src/lib/random-id.ts
  apps/stripe/src/modules/app-config/app-config-repo.ts
  apps/stripe/src/modules/app-config/file-app-config-repo.test.ts
  apps/stripe/src/modules/app-config/file-app-config-repo.ts
Labels: App Payment: Stripe

#1858 Webhook responses for Stripe use-cases
  apps/stripe/src/__tests__/mocks/app-config-repo.ts
  apps/stripe/src/__tests__/mocks/stripe-publishable-key.ts
  apps/stripe/src/app/api/saleor/payment-gateway-initialize-session/response-shape.test.ts
  apps/stripe/src/app/api/saleor/payment-gateway-initialize-session/response-shape.ts
  apps/stripe/src/app/api/saleor/payment-gateway-initialize-session/route.ts
  apps/stripe/src/app/api/saleor/payment-gateway-initialize-session/use-case-response.test.ts
  apps/stripe/src/app/api/saleor/payment-gateway-initialize-session/use-case-response.ts
  apps/stripe/src/app/api/saleor/payment-gateway-initialize-session/use-case.test.ts
  apps/stripe/src/app/api/saleor/payment-gateway-initialize-session/use-case.ts
  apps/stripe/src/app/api/saleor/transaction-initialize-session/route.ts
  apps/stripe/src/app/api/saleor/transaction-initialize-session/use-case-response.test.ts
  apps/stripe/src/app/api/saleor/transaction-initialize-session/use-case-response.ts
  apps/stripe/src/app/api/saleor/transaction-initialize-session/use-case.test.ts
  apps/stripe/src/app/api/saleor/transaction-initialize-session/use-case.ts
  apps/stripe/src/lib/errors.ts
  apps/stripe/src/modules/saleor/saleor-webhook-responses.test.ts
  apps/stripe/src/modules/saleor/saleor-webhook-responses.ts
  apps/stripe/src/modules/stripe/stripe-client-secret.test.ts
  apps/stripe/src/modules/stripe/stripe-client-secret.ts
  apps/stripe/src/modules/stripe/stripe-payment-intent-id.test.ts
  apps/stripe/src/modules/stripe/stripe-payment-intent-id.ts
Labels: skip changeset, App Payment: Stripe

#1859 TRPC: get and create stripe config
  apps/stripe/package.json
  apps/stripe/src/__tests__/mocks/app-config-repo.ts
  apps/stripe/src/__tests__/mocks/constants.ts
  apps/stripe/src/__tests__/mocks/graphql-client.ts
  apps/stripe/src/__tests__/mocks/mock-auth-data.ts
  apps/stripe/src/__tests__/mocks/mock-stripe-config.ts
  apps/stripe/src/__tests__/mocks/mocked-stripe-publishable-key.ts
  apps/stripe/src/__tests__/mocks/restricted-key.ts
  apps/stripe/src/__tests__/trpc-testing-procedure.ts
  apps/stripe/src/app/api/saleor/payment-gateway-initialize-session/use-case-response.test.ts
  apps/stripe/src/app/api/saleor/payment-gateway-initialize-session/use-case.test.ts
  apps/stripe/src/app/api/trpc/[trpc]/route.ts
  apps/stripe/src/modules/app-config/app-config-repo.ts
  apps/stripe/src/modules/app-config/stripe-config.test.ts
  apps/stripe/src/modules/app-config/stripe-config.ts
  apps/stripe/src/modules/app-config/trpc-handlers/app-config-router.ts
  apps/stripe/src/modules/app-config/trpc-handlers/get-stripe-config-trpc-handler.test.ts
  apps/stripe/src/modules/app-config/trpc-handlers/get-stripe-config-trpc-handler.ts
  apps/stripe/src/modules/app-config/trpc-handlers/new-stripe-config-trpc-handler.test.ts
  apps/stripe/src/modules/app-config/trpc-handlers/new-stripe-config-trpc-handler.ts
  apps/stripe/src/modules/stripe/stripe-restricted-key.test.ts
  apps/stripe/src/modules/stripe/stripe-restricted-key.ts
  apps/stripe/src/modules/trpc/context-app-router.ts
  apps/stripe/src/modules/trpc/protected-client-procedure.ts
  apps/stripe/src/modules/trpc/trpc-router.ts
  apps/stripe/src/modules/trpc/trpc-server.ts
  pnpm-lock.yaml
Labels: skip changeset, App Payment: Stripe

#1861 Refactor response tests and types for improved clarity and consistency
  apps/stripe/src/app/api/saleor/payment-gateway-initialize-session/use-case-response.test.ts
  apps/stripe/src/app/api/saleor/payment-gateway-initialize-session/use-case-response.ts
  apps/stripe/src/app/api/saleor/transaction-initialize-session/use-case-response.test.ts
  apps/stripe/src/app/api/saleor/transaction-initialize-session/use-case-response.ts
  apps/stripe/src/app/api/saleor/transaction-initialize-session/use-case.test.ts
  apps/stripe/src/app/api/saleor/transaction-initialize-session/use-case.ts
  apps/stripe/src/modules/saleor/saleor-webhook-responses.test.ts
  apps/stripe/src/modules/saleor/saleor-webhook-responses.ts
  apps/stripe/src/modules/stripe/stripe-client-secret.test.ts
  apps/stripe/src/modules/stripe/stripe-payment-intent-id.test.ts
Labels: skip changeset, App Payment: Stripe

#1860 Convert SaleorApiUrl to zod branded type
  apps/stripe/src/__tests__/mocks/constants.ts
  apps/stripe/src/__tests__/mocks/graphql-client.ts
  apps/stripe/src/__tests__/mocks/mock-auth-data.ts
  apps/stripe/src/__tests__/mocks/saleor-api-url.ts
  apps/stripe/src/app/api/saleor/payment-gateway-initialize-session/route.ts
  apps/stripe/src/app/api/saleor/transaction-initialize-session/route.ts
  apps/stripe/src/app/api/stripe/webhook/use-case.ts
  apps/stripe/src/app/api/stripe/webhook/webhook-params.test.ts
  apps/stripe/src/app/api/stripe/webhook/webhook-params.ts
  apps/stripe/src/modules/app-config/file-app-config-repo.test.ts
  apps/stripe/src/modules/app-config/trpc-handlers/get-stripe-config-trpc-handler.test.ts
  apps/stripe/src/modules/app-config/trpc-handlers/get-stripe-config-trpc-handler.ts
  apps/stripe/src/modules/app-config/trpc-handlers/new-stripe-config-trpc-handler.test.ts
  apps/stripe/src/modules/app-config/trpc-handlers/new-stripe-config-trpc-handler.ts
  apps/stripe/src/modules/saleor/saleor-api-url.test.ts
  apps/stripe/src/modules/saleor/saleor-api-url.ts
Labels: skip changeset, App Payment: Stripe

#1863 Parse TransactionInitalize event data coming from Stripe
  apps/stripe/generated/graphql.ts
  apps/stripe/graphql/subscriptions/transaction-initialize-session.graphql
  apps/stripe/src/__tests__/mocks/transaction-initalize-session-event.ts
  apps/stripe/src/app/api/manifest/route.integration.test.ts
  apps/stripe/src/app/api/saleor/transaction-initialize-session/event-data-parser.test.ts
  apps/stripe/src/app/api/saleor/transaction-initialize-session/event-data-parser.ts
  apps/stripe/src/app/api/saleor/transaction-initialize-session/use-case-response.test.ts
  apps/stripe/src/app/api/saleor/transaction-initialize-session/use-case-response.ts
  apps/stripe/src/app/api/saleor/transaction-initialize-session/use-case.test.ts
  apps/stripe/src/app/api/saleor/transaction-initialize-session/use-case.ts
  apps/stripe/src/modules/saleor/saleor-webhook-response-schema.test.ts
  apps/stripe/src/modules/saleor/saleor-webhook-response-schema.ts
  apps/stripe/src/modules/stripe/stripe-client-secret.test.ts
  apps/stripe/src/modules/stripe/stripe-client-secret.ts
  apps/stripe/src/modules/stripe/stripe-payment-intent-id.ts
  apps/stripe/src/modules/stripe/stripe-payment-intents-api.ts
Labels: skip changeset, App Payment: Stripe

#1866 Fix Stripe app Saleor Charge Failure / Charge Action Required API response
  apps/stripe/src/app/api/saleor/transaction-initialize-session/use-case-response.test.ts
  apps/stripe/src/app/api/saleor/transaction-initialize-session/use-case-response.ts
  apps/stripe/src/app/api/saleor/transaction-initialize-session/use-case.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: skip changeset, App Payment: Stripe

#1867 Fix Stripe API request params
  apps/stripe/src/__tests__/mocks/transaction-initalize-session-event.ts
  apps/stripe/src/app/api/saleor/transaction-initialize-session/event-data-parser.test.ts
  apps/stripe/src/app/api/saleor/transaction-initialize-session/event-data-parser.ts
  apps/stripe/src/app/api/saleor/transaction-initialize-session/use-case-response.test.ts
  apps/stripe/src/app/api/saleor/transaction-initialize-session/use-case-response.ts
  apps/stripe/src/app/api/saleor/transaction-initialize-session/use-case.test.ts
  apps/stripe/src/app/api/saleor/transaction-initialize-session/use-case.ts
Labels: skip changeset, App Payment: Stripe

#1868 Improve GraphQL codegen
  .github/workflows/main.yml
  apps/avatax/generated/graphql.ts
  apps/avatax/graphql.config.ts
  apps/avatax/lint-staged.config.js
  apps/cms/generated/graphql.ts
  apps/cms/graphql.config.ts
  apps/cms/lint-staged.config.js
  apps/klaviyo/generated/graphql.ts
  apps/klaviyo/graphql.config.ts
  apps/klaviyo/lint-staged.config.js
  apps/products-feed/generated/graphql.ts
  apps/products-feed/graphql.config.ts
  apps/products-feed/lint-staged.config.js
  apps/products-feed/src/modules/google-feed/generate-google-xml-feed.ts
  apps/search/generated/graphql.ts
  apps/search/graphql.config.ts
  apps/search/lint-staged.config.js
  apps/search/src/lib/algolia/algoliaUtils.ts
  apps/search/src/lib/safe-parse-json.ts
  apps/segment/generated/graphql.ts
  apps/segment/graphql.config.ts
  apps/segment/lint-staged.config.js
  apps/smtp/generated/graphql.ts
  apps/smtp/graphql.config.ts
  apps/smtp/lint-staged.config.js
  apps/stripe/generated/graphql.ts
  apps/stripe/graphql.config.ts
  apps/stripe/lint-staged.config.js
  packages/webhook-utils/generated/graphql.ts
  packages/webhook-utils/graphql.config.ts
  packages/webhook-utils/lint-staged.config.js
Labels: App: Search, App: Klaviyo, App: CMS, App: Product Feed, App: Segment, skip changeset, App: AvaTax, App: SMTP, App Payment: Stripe

#1869 Fix typo in filename
  apps/stripe/src/__tests__/mocks/transaction-initialize-session-event.ts
  apps/stripe/src/app/api/saleor/transaction-initialize-session/use-case.test.ts
Labels: skip changeset, App Payment: Stripe

#1862 Stripe webhook: payment success handling
  apps/stripe/.gitignore
  apps/stripe/generated/graphql.ts
  apps/stripe/graphql/mutations/transaction-event-report.graphql
  apps/stripe/src/__tests__/mocks/constants.ts
  apps/stripe/src/__tests__/mocks/mocked-recorded-transaction.ts
  apps/stripe/src/__tests__/mocks/mocked-stripe-payment-intent-id.ts
  apps/stripe/src/__tests__/mocks/mocked-transaction-recorder.ts
  apps/stripe/src/__tests__/mocks/stripe-events/mocked-payment-intent-succeeded.ts
  apps/stripe/src/app/api/saleor/payment-gateway-initialize-session/use-case.ts
  apps/stripe/src/app/api/saleor/transaction-initialize-session/use-case.ts
  apps/stripe/src/app/api/stripe/webhook/resolved-webhook-events.test.ts
  apps/stripe/src/app/api/stripe/webhook/resolved-webhook-events.ts
  apps/stripe/src/app/api/stripe/webhook/route.ts
  apps/stripe/src/app/api/stripe/webhook/stripe-event-handlers/payment-intent-succeeded-handler.test.ts
  apps/stripe/src/app/api/stripe/webhook/stripe-event-handlers/payment-intent-succeeded-handler.ts
  apps/stripe/src/app/api/stripe/webhook/stripe-webhook-response.test.ts
  apps/stripe/src/app/api/stripe/webhook/use-case.test.ts
  apps/stripe/src/app/api/stripe/webhook/use-case.ts
  apps/stripe/src/lib/app-config-persistence.ts
  apps/stripe/src/modules/saleor/saleor-money.test.ts
  apps/stripe/src/modules/saleor/saleor-money.ts
  apps/stripe/src/modules/saleor/transaction-event-reporter.test.ts
  apps/stripe/src/modules/saleor/transaction-event-reporter.ts
  apps/stripe/src/modules/stripe/stripe-event-date.test.ts
  apps/stripe/src/modules/stripe/stripe-event-date.ts
  apps/stripe/src/modules/stripe/stripe-webhook-signature-validator.ts
  apps/stripe/src/modules/transaction-flow.ts
  apps/stripe/src/modules/transactions-recording/transaction-recorder-file.ts
  apps/stripe/src/modules/transactions-recording/transaction-recorder-impl.ts
  apps/stripe/src/modules/transactions-recording/transaction-recorder.ts
  packages/otel/src/observability-attributes.ts
Labels: skip changeset, App Payment: Stripe

#1870 Remove __typename from GraphQL types
  apps/avatax/graphql.config.ts
  apps/cms/generated/graphql.ts
  apps/cms/graphql.config.ts
  apps/klaviyo/generated/graphql.ts
  apps/klaviyo/graphql.config.ts
  apps/products-feed/graphql.config.ts
  apps/search/graphql.config.ts
  apps/segment/generated/graphql.ts
  apps/segment/graphql.config.ts
  apps/smtp/generated/graphql.ts
  apps/smtp/graphql.config.ts
  apps/stripe/generated/graphql.ts
  apps/stripe/graphql.config.ts
  apps/stripe/src/__tests__/mocks/transaction-initialize-session-event.ts
  packages/webhook-utils/generated/graphql.ts
  packages/webhook-utils/graphql.config.ts
Labels: App: Search, App: Klaviyo, App: CMS, App: Product Feed, App: Segment, skip changeset, App: AvaTax, App: SMTP, App Payment: Stripe

#1856 Add handlebars-helpers with tests and configuration
  .changeset/eight-bottles-drop.md
  apps/products-feed/next.config.ts
  apps/products-feed/package.json
  apps/products-feed/src/modules/handlebarsTemplates/render-handlebars-template.test.ts
  apps/products-feed/src/modules/handlebarsTemplates/render-handlebars-template.ts
  apps/products-feed/src/pages/configuration.tsx
  pnpm-lock.yaml
Labels: App: Product Feed, Licenses Reviewed

#1872 Error handling for Stripe API
  apps/stripe/src/app/api/saleor/transaction-initialize-session/event-data-parser.ts
  apps/stripe/src/app/api/saleor/transaction-initialize-session/use-case-response.test.ts
  apps/stripe/src/app/api/saleor/transaction-initialize-session/use-case-response.ts
  apps/stripe/src/app/api/saleor/transaction-initialize-session/use-case.test.ts
  apps/stripe/src/app/api/saleor/transaction-initialize-session/use-case.ts
  apps/stripe/src/modules/stripe/stripe-payment-intent-api-error.test.ts
  apps/stripe/src/modules/stripe/stripe-payment-intent-api-error.ts
  apps/stripe/src/modules/stripe/stripe-payment-intents-api.ts
  apps/stripe/src/modules/stripe/types.ts
Labels: skip changeset, App Payment: Stripe

#1874 🚀 Release apps
  .changeset/eight-bottles-drop.md
  apps/products-feed/CHANGELOG.md
  apps/products-feed/package.json
Labels: App: Product Feed

#1865 UI part 1: list of configs, create config
  apps/stripe/package.json
  apps/stripe/src/__tests__/mocks/app-config-repo.ts
  apps/stripe/src/__tests__/mocks/mock-stripe-config.ts
  apps/stripe/src/__tests__/mocks/mocked-stripe-publishable-key.ts
  apps/stripe/src/__tests__/mocks/mocked-stripe-restricted-key.ts
  apps/stripe/src/modules/app-config/app-config-repo.ts
  apps/stripe/src/modules/app-config/app-root-config.ts
  apps/stripe/src/modules/app-config/file-app-config-repo.test.ts
  apps/stripe/src/modules/app-config/file-app-config-repo.ts
  apps/stripe/src/modules/app-config/stripe-config.test.ts
  apps/stripe/src/modules/app-config/stripe-config.ts
  apps/stripe/src/modules/app-config/trpc-handlers/app-config-router.ts
  apps/stripe/src/modules/app-config/trpc-handlers/get-stripe-config-trpc-handler.test.ts
  apps/stripe/src/modules/app-config/trpc-handlers/get-stripe-configs-list-trpc-handler.ts
  apps/stripe/src/modules/app-config/trpc-handlers/new-stripe-config-input-schema.test.ts
  apps/stripe/src/modules/app-config/trpc-handlers/new-stripe-config-input-schema.ts
  apps/stripe/src/modules/app-config/trpc-handlers/new-stripe-config-trpc-handler.test.ts
  apps/stripe/src/modules/app-config/trpc-handlers/new-stripe-config-trpc-handler.ts
  apps/stripe/src/modules/stripe/stripe-webhook-secret.ts
  apps/stripe/src/modules/ui/app-breadcrumbs.tsx
  apps/stripe/src/modules/ui/app-header.tsx
  apps/stripe/src/modules/ui/stripe-configs/channel-config-section.tsx
  apps/stripe/src/modules/ui/stripe-configs/empty-configs.tsx
  apps/stripe/src/modules/ui/stripe-configs/new-stripe-config-form.tsx
  apps/stripe/src/modules/ui/stripe-configs/stripe-configs-list.tsx
  apps/stripe/src/pages/config/index.tsx
  apps/stripe/src/pages/config/new.tsx
  apps/stripe/src/pages/index.tsx
  pnpm-lock.yaml
Labels: skip changeset, App Payment: Stripe

#1878 Add better support for authorization flow
  apps/stripe/src/app/api/saleor/transaction-initialize-session/use-case.test.ts
  apps/stripe/src/app/api/saleor/transaction-initialize-session/use-case.ts
  apps/stripe/src/modules/stripe/payment-methods/card.test.ts
  apps/stripe/src/modules/stripe/payment-methods/card.ts
  apps/stripe/src/modules/stripe/payment-methods/types.ts
Labels: skip changeset, App Payment: Stripe

#1873 Create webhook when config is created
  apps/stripe/src/__tests__/mocks/mock-stripe-config.ts
  apps/stripe/src/app/api/stripe/webhook/webhook-params.ts
  apps/stripe/src/modules/app-config/file-app-config-repo.ts
  apps/stripe/src/modules/app-config/stripe-config.test.ts
  apps/stripe/src/modules/app-config/stripe-config.ts
  apps/stripe/src/modules/app-config/trpc-handlers/app-config-router.ts
  apps/stripe/src/modules/app-config/trpc-handlers/get-stripe-config-trpc-handler.test.ts
  apps/stripe/src/modules/app-config/trpc-handlers/new-stripe-config-input-schema.ts
  apps/stripe/src/modules/app-config/trpc-handlers/new-stripe-config-trpc-handler.test.ts
  apps/stripe/src/modules/app-config/trpc-handlers/new-stripe-config-trpc-handler.ts
  apps/stripe/src/modules/stripe/stripe-auth-validator.test.ts
  apps/stripe/src/modules/stripe/stripe-auth-validator.ts
  apps/stripe/src/modules/stripe/stripe-client.ts
  apps/stripe/src/modules/stripe/stripe-webhook-manager.test.ts
  apps/stripe/src/modules/stripe/stripe-webhook-manager.ts
  apps/stripe/src/modules/stripe/stripe-webhook-url-builder.test.ts
  apps/stripe/src/modules/stripe/stripe-webhook-url-builder.ts
  apps/stripe/src/modules/stripe/supported-stripe-events.ts
  apps/stripe/src/modules/transactions-recording/transaction-recorder-file.ts
  apps/stripe/src/modules/trpc/context-app-router.ts
  apps/stripe/src/modules/ui/stripe-configs/new-stripe-config-form.tsx
Labels: skip changeset, App Payment: Stripe

#1883 Fix prettier / lint-staged
  .prettierignore
  apps/avatax/.prettierignore
  apps/avatax/lint-staged.config.js
  apps/cms/.prettierignore
  apps/cms/lint-staged.config.js
  apps/klaviyo/.prettierignore
  apps/klaviyo/lint-staged.config.js
  apps/products-feed/.prettierignore
  apps/products-feed/lint-staged.config.js
  apps/search/.prettierignore
  apps/search/lint-staged.config.js
  apps/segment/.prettierignore
  apps/segment/lint-staged.config.js
  apps/smtp/.prettierignore
  apps/smtp/lint-staged.config.js
  apps/stripe/.prettierignore
  apps/stripe/lint-staged.config.js
  lint-staged.config.js
  packages/react-hook-form-macaw/lint-staged.config.js
  packages/sentry-utils/lint-staged.config.js
  packages/shared/lint-staged.config.js
  packages/trpc/lint-staged.config.js
  packages/ui/lint-staged.config.js
  packages/webhook-utils/.prettierignore
Labels: App: Search, App: Klaviyo, App: CMS, App: Product Feed, App: Segment, skip changeset, App: AvaTax, App: SMTP, App Payment: Stripe

#1882 Store transaction record in DB for transactionInitSession
  apps/stripe/generated/graphql.ts
  apps/stripe/graphql/subscriptions/transaction-initialize-session.graphql
  apps/stripe/src/__tests__/mocks/constants.ts
  apps/stripe/src/__tests__/mocks/mocked-recorded-transaction.ts
  apps/stripe/src/__tests__/mocks/transaction-initialize-session-event.ts
  apps/stripe/src/app/api/manifest/route.integration.test.ts
  apps/stripe/src/app/api/saleor/transaction-initialize-session/route.ts
  apps/stripe/src/app/api/saleor/transaction-initialize-session/use-case.test.ts
  apps/stripe/src/app/api/saleor/transaction-initialize-session/use-case.ts
  apps/stripe/src/app/api/stripe/webhook/stripe-event-handlers/payment-intent-succeeded-handler.test.ts
  apps/stripe/src/app/api/stripe/webhook/stripe-event-handlers/payment-intent-succeeded-handler.ts
  apps/stripe/src/app/api/stripe/webhook/use-case.test.ts
  apps/stripe/src/lib/assert-unreachable.ts
  apps/stripe/src/modules/resolved-transaction-flow.ts
  apps/stripe/src/modules/saleor/saleor-transaction-flow.ts
  apps/stripe/src/modules/saleor/saleor-transaction-id.ts
  apps/stripe/src/modules/stripe/payment-methods/card.test.ts
  apps/stripe/src/modules/stripe/payment-methods/card.ts
  apps/stripe/src/modules/stripe/payment-methods/errors.ts
  apps/stripe/src/modules/stripe/payment-methods/types.ts
  apps/stripe/src/modules/transaction-flow.ts
  apps/stripe/src/modules/transactions-recording/transaction-recorder-file.ts
  apps/stripe/src/modules/transactions-recording/transaction-recorder.ts
Labels: skip changeset, App Payment: Stripe

#1884 DynamoDB APL
  .devcontainer/segment/devcontainer.json
  .devcontainer/stripe/devcontainer.json
  .devcontainer/stripe/docker-compose.yml
  apps/stripe/.env.example
  apps/stripe/package.json
  apps/stripe/scripts/setup-dynamodb.sh
  apps/stripe/src/__tests__/mocks/memory-apl-repository.ts
  apps/stripe/src/__tests__/setup.integration.ts
  apps/stripe/src/__tests__/setup.units.ts
  apps/stripe/src/lib/env.ts
  apps/stripe/src/lib/errors.ts
  apps/stripe/src/lib/saleor-app.ts
  apps/stripe/src/modules/apl/apl-db-model.ts
  apps/stripe/src/modules/apl/apl-repository.ts
  apps/stripe/src/modules/apl/dynamo-apl-repository.test.ts
  apps/stripe/src/modules/apl/dynamo-apl-repository.ts
  apps/stripe/src/modules/apl/dynamodb-apl.test.ts
  apps/stripe/src/modules/apl/dynamodb-apl.ts
  apps/stripe/src/modules/dynamodb/dynamo-main-table.ts
  apps/stripe/src/modules/dynamodb/dynamodb-client.ts
  apps/stripe/turbo.json
  pnpm-lock.yaml
Labels: skip changeset, App Payment: Stripe

#1886 Move files around + add model for db config
  apps/stripe/src/__tests__/mocks/app-config-repo.ts
  apps/stripe/src/__tests__/mocks/mock-stripe-config.ts
  apps/stripe/src/app/api/saleor/payment-gateway-initialize-session/use-case.ts
  apps/stripe/src/app/api/saleor/transaction-initialize-session/use-case.ts
  apps/stripe/src/app/api/saleor/transaction-process-session/use-case.ts
  apps/stripe/src/app/api/stripe/webhook/use-case.ts
  apps/stripe/src/lib/app-config-persistence.ts
  apps/stripe/src/modules/app-config/domain/app-root-config.test.ts
  apps/stripe/src/modules/app-config/domain/app-root-config.ts
  apps/stripe/src/modules/app-config/domain/stripe-config.test.ts
  apps/stripe/src/modules/app-config/domain/stripe-config.ts
  apps/stripe/src/modules/app-config/repositories/app-config-repo.ts
  apps/stripe/src/modules/app-config/repositories/dynamodb/channel-config-mapping-db-model.ts
  apps/stripe/src/modules/app-config/repositories/dynamodb/stripe-config-db-model.ts
  apps/stripe/src/modules/app-config/repositories/file/file-app-config-repo.ts
  apps/stripe/src/modules/app-config/trpc-handlers/get-stripe-config-trpc-handler.ts
  apps/stripe/src/modules/app-config/trpc-handlers/get-stripe-configs-channels-mapping-trpc-handler.test.ts
  apps/stripe/src/modules/app-config/trpc-handlers/get-stripe-configs-channels-mapping-trpc-handler.ts
  apps/stripe/src/modules/app-config/trpc-handlers/get-stripe-configs-list-trpc-handler.ts
  apps/stripe/src/modules/app-config/trpc-handlers/new-stripe-config-trpc-handler.ts
  apps/stripe/src/modules/dynamodb/dynamo-main-table.ts
  apps/stripe/src/modules/transactions-recording/transaction-recorder-impl.ts
  apps/stripe/src/modules/trpc/context-app-router.ts
  apps/stripe/src/modules/ui/channel-configs/channels-config-mapping.tsx
  apps/stripe/src/modules/ui/stripe-configs/stripe-configs-list.tsx
Labels: skip changeset, App Payment: Stripe

#1885 Refactor of payment process session handling
  apps/stripe/src/__tests__/mocks/constants.ts
  apps/stripe/src/__tests__/mocks/stripe-events/mocked-payment-intent-succeeded.ts
  apps/stripe/src/__tests__/setup.integration.ts
  apps/stripe/src/__tests__/setup.units.ts
  apps/stripe/src/app/api/saleor/payment-gateway-initialize-session/webhook-definition.ts
  apps/stripe/src/app/api/saleor/transaction-initialize-session/webhook-definition.ts
  apps/stripe/src/app/api/saleor/transaction-process-session/route.ts
  apps/stripe/src/app/api/saleor/transaction-process-session/use-case-response.test.ts
  apps/stripe/src/app/api/saleor/transaction-process-session/use-case-response.ts
  apps/stripe/src/app/api/saleor/transaction-process-session/use-case.test.ts
  apps/stripe/src/app/api/saleor/transaction-process-session/use-case.ts
  apps/stripe/src/app/api/saleor/transaction-process-session/webhook-definition.ts
  apps/stripe/src/app/api/stripe/webhook/resolved-webhook-events.test.ts
  apps/stripe/src/app/api/stripe/webhook/resolved-webhook-events.ts
  apps/stripe/src/app/api/stripe/webhook/stripe-event-handlers/payment-intent-succeeded-handler.test.ts
  apps/stripe/src/app/api/stripe/webhook/stripe-event-handlers/payment-intent-succeeded-handler.ts
  apps/stripe/src/app/api/stripe/webhook/transaction-event-report-variables-resolver.test.ts
  apps/stripe/src/app/api/stripe/webhook/transaction-event-report-variables-resolver.ts
  apps/stripe/src/app/api/stripe/webhook/use-case.test.ts
  apps/stripe/src/app/api/stripe/webhook/use-case.ts
  apps/stripe/src/modules/transaction-result/action-required-result.test.ts
  apps/stripe/src/modules/transaction-result/action-required-result.ts
  apps/stripe/src/modules/transaction-result/error-result.ts
  apps/stripe/src/modules/transaction-result/failure-result.ts
  apps/stripe/src/modules/transaction-result/map-payment-intent-status-to-transaction-result.test.ts
  apps/stripe/src/modules/transaction-result/map-payment-intent-status-to-transaction-result.ts
  apps/stripe/src/modules/transaction-result/request-result.ts
  apps/stripe/src/modules/transaction-result/success-result.ts
  apps/stripe/src/modules/transaction-result/types.ts
Labels: skip changeset, App Payment: Stripe

#1887 Dynamodb repository for config management
  apps/stripe/src/__tests__/mocks/app-config-repo.ts
  apps/stripe/src/app/api/saleor/payment-gateway-initialize-session/route.ts
  apps/stripe/src/app/api/saleor/transaction-initialize-session/route.ts
  apps/stripe/src/app/api/saleor/transaction-process-session/route.ts
  apps/stripe/src/app/api/stripe/webhook/route.ts
  apps/stripe/src/lib/app-config-persistence.ts
  apps/stripe/src/modules/app-config/repositories/app-config-repo-impl.test.ts
  apps/stripe/src/modules/app-config/repositories/app-config-repo-impl.ts
  apps/stripe/src/modules/app-config/repositories/app-config-repo.ts
  apps/stripe/src/modules/app-config/repositories/dynamodb/channel-config-mapping-db-model.test.ts
  apps/stripe/src/modules/app-config/repositories/dynamodb/channel-config-mapping-db-model.ts
  apps/stripe/src/modules/app-config/repositories/dynamodb/dynamodb-app-config-repo.test.ts
  apps/stripe/src/modules/app-config/repositories/dynamodb/dynamodb-app-config-repo.ts
  apps/stripe/src/modules/app-config/repositories/dynamodb/stripe-config-db-model.test.ts
  apps/stripe/src/modules/app-config/repositories/dynamodb/stripe-config-db-model.ts
  apps/stripe/src/modules/app-config/repositories/file/file-app-config-repo.ts
  apps/stripe/src/modules/app-config/trpc-handlers/new-stripe-config-trpc-handler.ts
  apps/stripe/src/modules/trpc/context-app-router.ts
  cspell.config.js
Labels: skip changeset, App Payment: Stripe

#1888 Tests for config repo
  apps/stripe/src/modules/app-config/repositories/dynamodb/__tests__/app-config-dynamodb-mocks.ts
  apps/stripe/src/modules/app-config/repositories/dynamodb/dynamodb-app-config-repo.test.ts
Labels: skip changeset, App Payment: Stripe

#1890 Create DynamoDB repository for transaction recording
  apps/stripe/.env.example
  apps/stripe/src/__tests__/mocks/mock-auth-data.ts
  apps/stripe/src/__tests__/mocks/mocked-recorded-transaction.ts
  apps/stripe/src/__tests__/mocks/mocked-transaction-recorder.ts
  apps/stripe/src/app/api/saleor/transaction-initialize-session/route.ts
  apps/stripe/src/app/api/saleor/transaction-initialize-session/use-case.test.ts
  apps/stripe/src/app/api/saleor/transaction-initialize-session/use-case.ts
  apps/stripe/src/app/api/saleor/transaction-process-session/route.ts
  apps/stripe/src/app/api/saleor/transaction-process-session/use-case.test.ts
  apps/stripe/src/app/api/saleor/transaction-process-session/use-case.ts
  apps/stripe/src/app/api/stripe/webhook/route.ts
  apps/stripe/src/app/api/stripe/webhook/stripe-event-handlers/payment-intent-amount-capturable-updated-handler.ts
  apps/stripe/src/app/api/stripe/webhook/stripe-event-handlers/payment-intent-succeeded-handler.ts
  apps/stripe/src/app/api/stripe/webhook/use-case.test.ts
  apps/stripe/src/app/api/stripe/webhook/use-case.ts
  apps/stripe/src/modules/transactions-recording/domain/recorded-transaction.ts
  apps/stripe/src/modules/transactions-recording/repositories/dynamodb/dynamodb-transaction-recorder-repo.test.ts
  apps/stripe/src/modules/transactions-recording/repositories/dynamodb/dynamodb-transaction-recorder-repo.ts
  apps/stripe/src/modules/transactions-recording/repositories/dynamodb/recorded-transaction-db-model.test.ts
  apps/stripe/src/modules/transactions-recording/repositories/dynamodb/recorded-transaction-db-model.ts
  apps/stripe/src/modules/transactions-recording/repositories/transaction-recorder-impl.ts
  apps/stripe/src/modules/transactions-recording/repositories/transaction-recorder-repo.ts
  apps/stripe/src/modules/transactions-recording/transaction-recorder-file.ts
  apps/stripe/src/modules/transactions-recording/transaction-recorder-impl.ts
Labels: skip changeset, App Payment: Stripe

#1891 Add charge requested support for Stripe app
  apps/stripe/generated/graphql.ts
  apps/stripe/graphql/fragments/event-metadata.graphql
  apps/stripe/graphql/fragments/source-object.graphql
  apps/stripe/graphql/queries/.gitkeep
  apps/stripe/graphql/subscriptions/payment-gateway-initialize-session.graphql
  apps/stripe/graphql/subscriptions/transaction-charge-requested.graphql
  apps/stripe/graphql/subscriptions/transaction-initialize-session.graphql
  apps/stripe/graphql/subscriptions/transaction-process-session.graphql
  apps/stripe/scripts/run-webhooks-migration.ts
  apps/stripe/src/__tests__/mocks/constants.ts
  apps/stripe/src/__tests__/mocks/transaction-charge-requested-event.ts
  apps/stripe/src/app/api/manifest/route.integration.test.ts
  apps/stripe/src/app/api/saleor/transaction-charge-requested/route.ts
  apps/stripe/src/app/api/saleor/transaction-charge-requested/use-case-response.test.ts
  apps/stripe/src/app/api/saleor/transaction-charge-requested/use-case-response.ts
  apps/stripe/src/app/api/saleor/transaction-charge-requested/use-case.test.ts
  apps/stripe/src/app/api/saleor/transaction-charge-requested/use-case.ts
  apps/stripe/src/app/api/saleor/transaction-charge-requested/webhook-definition.ts
  apps/stripe/src/app/api/saleor/transaction-initialize-session/use-case.test.ts
  apps/stripe/src/app/api/saleor/transaction-process-session/use-case-response.test.ts
  apps/stripe/src/app/api/saleor/transaction-process-session/use-case.test.ts
  apps/stripe/src/app/api/stripe/webhook/stripe-event-handlers/payment-intent-succeeded-handler.test.ts
  apps/stripe/src/app/api/stripe/webhook/stripe-event-handlers/payment-intent-succeeded-handler.ts
  apps/stripe/src/app/api/stripe/webhook/transaction-event-report-variables-resolver.test.ts
  apps/stripe/src/app/api/stripe/webhook/transaction-event-report-variables-resolver.ts
  apps/stripe/src/app/api/stripe/webhook/use-case.test.ts
  apps/stripe/src/app/api/stripe/webhook/use-case.ts
  apps/stripe/src/modules/saleor/transaction-event-reporter.test.ts
  apps/stripe/src/modules/saleor/transaction-event-reporter.ts
  apps/stripe/src/modules/stripe/stripe-payment-intent-api-error.ts
  apps/stripe/src/modules/stripe/stripe-payment-intents-api.ts
  apps/stripe/src/modules/stripe/types.ts
  apps/stripe/src/modules/transaction-result/action-required-result.test.ts
  apps/stripe/src/modules/transaction-result/failure-result.ts
  apps/stripe/src/modules/transaction-result/success-result.ts
Labels: skip changeset, App Payment: Stripe

#1894 saleor webhooks recipient verification
  apps/stripe/generated/graphql.ts
  apps/stripe/graphql/fragments/event-metadata.graphql
  apps/stripe/src/app/api/manifest/route.integration.test.ts
  apps/stripe/src/app/api/saleor/payment-gateway-initialize-session/route.ts
  apps/stripe/src/app/api/saleor/transaction-charge-requested/route.ts
  apps/stripe/src/app/api/saleor/transaction-initialize-session/route.ts
  apps/stripe/src/app/api/saleor/transaction-process-session/route.ts
  apps/stripe/src/app/api/saleor/with-recipient-verification.test.ts
  apps/stripe/src/app/api/saleor/with-recipient-verification.ts
Labels: skip changeset, App Payment: Stripe
