Repository saleor/apps, pull requests merged in 2025-09, with the labels that each got.

#2072 Fix Stripe PaymentIntent metadata not being passed to API
  .changeset/giant-parents-collect.md
  apps/stripe/src/modules/stripe/stripe-payment-intents-api.test.ts
  apps/stripe/src/modules/stripe/stripe-payment-intents-api.ts
Labels: App Payment: Stripe

#2077 Update AvaTax UI
  .changeset/wet-onions-jog.md
  apps/avatax/src/modules/avatax/ui/avatax-configuration-address-fragment.tsx
  apps/avatax/src/modules/avatax/ui/avatax-configuration-credentials-fragment.tsx
  apps/avatax/src/modules/avatax/ui/avatax-tax-code-matcher-table.tsx
  apps/avatax/src/modules/avatax/ui/edit-avatax-configuration.tsx
  apps/avatax/src/modules/channel-configuration/ui/channel-list.tsx
  apps/avatax/src/modules/channel-configuration/ui/channel-table.tsx
  apps/avatax/src/modules/provider-connections/ui/providers-list.tsx
  apps/avatax/src/modules/provider-connections/ui/providers-section.tsx
  apps/avatax/src/modules/ui/matcher-section.tsx
  apps/avatax/src/modules/ui/providers-table.tsx
  apps/avatax/src/pages/configuration.tsx
  apps/avatax/src/pages/providers/avatax/matcher.tsx
Labels: App: AvaTax

#2075 Pass order number as document code
  .changeset/chilly-oranges-dance.md
  apps/avatax/src/modules/avatax/avatax-document-code-resolver.test.ts
  apps/avatax/src/modules/avatax/avatax-document-code-resolver.ts
  apps/avatax/src/modules/avatax/order-confirmed/avatax-order-confirmed-payload-transformer.ts
  apps/avatax/src/modules/saleor/order-confirmed/event.ts
Labels: App: AvaTax

#2055 AvaTax: Handle InvalidZipForStateError exception as expected
  .changeset/cool-swans-kneel.md
  apps/avatax/src/app/api/webhooks/order-calculate-taxes/route.ts
  apps/avatax/src/app/api/webhooks/order-confirmed/route.ts
  apps/avatax/src/modules/avatax/avatax-errors-parser.ts
  apps/avatax/src/modules/calculate-taxes/use-case/calculate-taxes.use-case.test.ts
  apps/avatax/src/modules/calculate-taxes/use-case/calculate-taxes.use-case.ts
  apps/avatax/src/modules/taxes/tax-error.ts
Labels: App: AvaTax

#2081 Add missing package to codecov & add matrix for test results uploads
  .github/workflows/main.yml
  codecov.yml
Labels: skip changeset

#2082 handle some SMTP errors
  .changeset/honest-eagles-talk.md
  apps/smtp/src/modules/event-handlers/use-case/send-event-messages.use-case.ts
  apps/smtp/src/modules/smtp/configuration/smtp-configuration.router.ts
  apps/smtp/src/pages/api/webhooks/gift-card-sent.ts
  apps/smtp/src/pages/api/webhooks/invoice-sent.ts
  apps/smtp/src/pages/api/webhooks/notify.ts
  apps/smtp/src/pages/api/webhooks/order-cancelled.ts
  apps/smtp/src/pages/api/webhooks/order-confirmed.ts
  apps/smtp/src/pages/api/webhooks/order-created.ts
  apps/smtp/src/pages/api/webhooks/order-fulfilled.ts
  apps/smtp/src/pages/api/webhooks/order-fully-paid.ts
Labels: App: SMTP

#2083 improve invalid data log for Stripe payment method
  .changeset/curvy-melons-tie.md
  apps/stripe/src/app/api/webhooks/saleor/transaction-initialize-session/event-data-parser.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-initialize-session/use-case.ts
Labels: App Payment: Stripe

#2088 Introduce AGENTS.md and symlink CLAUDE.md to it
  AGENTS.md
  CLAUDE.md
  apps/smtp/AGENTS.md
  apps/smtp/CLAUDE.md
Labels: skip changeset, App: SMTP

#2089 Fix example payload for email change request and confirmation emails
  .changeset/violet-pets-camp.md
  apps/smtp/src/lib/notify-event-types.ts
  apps/smtp/src/modules/event-handlers/default-payloads.ts
Labels: App: SMTP

#2091 Add Mailpit to SMTP app
  .devcontainer/smtp/devcontainer.json
  .devcontainer/smtp/docker-compose.yml
  apps/smtp/README.md
  apps/smtp/docs/configuration.md
  cspell.config.js
Labels: skip changeset, App: SMTP

#2090 🚀 Release apps
  .changeset/violet-pets-camp.md
  apps/smtp/CHANGELOG.md
  apps/smtp/package.json
Labels: run e2e, App: SMTP
