Repository saleor/apps, pull requests merged in 2025-07, with the labels that each got.

#1993 NP Atobarai API client
  .github/workflows/main.yml
  apps/np-atobarai/generated/graphql.ts
  apps/np-atobarai/graphql/fragments/event-metadata.graphql
  apps/np-atobarai/graphql/schema.graphql
  apps/np-atobarai/graphql/subscriptions/transaction-initialize-session.graphql
  apps/np-atobarai/package.json
  apps/np-atobarai/src/__tests__/mocks/atobarai/mocked-atobarai-customer.ts
  apps/np-atobarai/src/__tests__/mocks/atobarai/mocked-atobarai-delivery-destination.ts
  apps/np-atobarai/src/__tests__/mocks/atobarai/mocked-atobarai-goods.ts
  apps/np-atobarai/src/__tests__/mocks/atobarai/mocked-atobarai-merchant-code.ts
  apps/np-atobarai/src/__tests__/mocks/atobarai/mocked-atobarai-money.ts
  apps/np-atobarai/src/__tests__/mocks/atobarai/mocked-atobarai-register-transaction-payload.ts
  apps/np-atobarai/src/__tests__/mocks/atobarai/mocked-atobarai-shop-order-date.ts
  apps/np-atobarai/src/__tests__/mocks/atobarai/mocked-atobarai-sp-code.ts
  apps/np-atobarai/src/__tests__/mocks/atobarai/mocked-atobarai-terminal-id.ts
  apps/np-atobarai/src/__tests__/mocks/saleor-events/mocked-transaction-initialize-session-event.ts
  apps/np-atobarai/src/__tests__/mocks/saleor/mocked-saleor-app-id.ts
  apps/np-atobarai/src/__tests__/mocks/saleor/mocked-saleor-channel-id.ts
  apps/np-atobarai/src/__tests__/mocks/saleor/mocked-saleor-transaction-token.ts
  apps/np-atobarai/src/app/api/manifest/route.test.ts
  apps/np-atobarai/src/modules/atobarai/atobarai-api-client-factory.ts
  apps/np-atobarai/src/modules/atobarai/atobarai-api-client.test.ts
  apps/np-atobarai/src/modules/atobarai/atobarai-api-client.ts
  apps/np-atobarai/src/modules/atobarai/atobarai-customer.ts
  apps/np-atobarai/src/modules/atobarai/atobarai-goods.ts
  apps/np-atobarai/src/modules/atobarai/atobarai-merchant-code.test.ts
  apps/np-atobarai/src/modules/atobarai/atobarai-merchant-code.ts
  apps/np-atobarai/src/modules/atobarai/atobarai-money.test.ts
  apps/np-atobarai/src/modules/atobarai/atobarai-money.ts
  apps/np-atobarai/src/modules/atobarai/atobarai-register-transaction-payload.test.ts
  apps/np-atobarai/src/modules/atobarai/atobarai-register-transaction-payload.ts
  apps/np-atobarai/src/modules/atobarai/atobarai-settelment-type.ts
  apps/np-atobarai/src/modules/atobarai/atobarai-shipping-address.ts
  apps/np-atobarai/src/modules/atobarai/atobarai-shop-order-date.test.ts
  apps/np-atobarai/src/modules/atobarai/atobarai-shop-order-date.ts
  apps/np-atobarai/src/modules/atobarai/atobarai-sp-code.test.ts
  apps/np-atobarai/src/modules/atobarai/atobarai-sp-code.ts
  apps/np-atobarai/src/modules/atobarai/atobarai-terminal-id.test.ts
  apps/np-atobarai/src/modules/atobarai/atobarai-terminal-id.ts
  apps/np-atobarai/src/modules/atobarai/atobarai-transaction.ts
  apps/np-atobarai/src/modules/atobarai/types.ts
  apps/np-atobarai/src/modules/saleor/saleor-transaction-token.ts
  pnpm-lock.yaml
Labels: skip changeset, App Payment: NP Atobarai

#1995 Move encryptor to shared package
  .changeset/chatty-comics-behave.md
  .changeset/long-gifts-begin.md
  apps/stripe/src/__tests__/integration/env.ts
  apps/stripe/src/__tests__/integration/webhooks/payment-gateway-initialize.test.ts
  apps/stripe/src/__tests__/integration/webhooks/stripe-webhook.test.ts
  apps/stripe/src/__tests__/integration/webhooks/transaction-cancelation-requested.test.ts
  apps/stripe/src/__tests__/integration/webhooks/transaction-charge-requested.test.ts
  apps/stripe/src/__tests__/integration/webhooks/transaction-initialize-session.test.ts
  apps/stripe/src/__tests__/integration/webhooks/transaction-process-session.test.ts
  apps/stripe/src/__tests__/integration/webhooks/transaction-refund-requested.test.ts
  apps/stripe/src/__tests__/mocks/mock-encryptor.ts
  apps/stripe/src/modules/app-config/repositories/dynamodb/dynamodb-app-config-repo.ts
  cspell.config.js
  packages/shared/package.json
  packages/shared/src/encryptor.test.ts
  packages/shared/src/encryptor.ts
  packages/shared/src/index.ts
Labels: App Payment: Stripe

#1999 Update DynamoDB toolbox to >v2
  .changeset/cool-jars-draw.md
  apps/avatax/package.json
  apps/avatax/src/modules/client-logs/dynamo-schema.ts
  apps/avatax/src/modules/client-logs/log-transformer.ts
  apps/segment/package.json
  apps/segment/src/modules/db/segment-main-table.ts
  apps/stripe/package.json
  apps/stripe/src/modules/apl/apl-db-model.ts
  apps/stripe/src/modules/apl/dynamo-apl-repository.ts
  apps/stripe/src/modules/app-config/repositories/dynamodb/channel-config-mapping-db-model.ts
  apps/stripe/src/modules/app-config/repositories/dynamodb/stripe-config-db-model.ts
  apps/stripe/src/modules/transactions-recording/repositories/dynamodb/dynamodb-transaction-recorder-repo.test.ts
  apps/stripe/src/modules/transactions-recording/repositories/dynamodb/recorded-transaction-db-model.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: App: Segment, App: AvaTax, App Payment: Stripe

#2002 Add PaymentGatewayInit for NP Atobarai
  apps/np-atobarai/README.md
  apps/np-atobarai/bruno/.env.example
  apps/np-atobarai/bruno/01-fetch-product.bru
  apps/np-atobarai/bruno/02-create-checkout.bru
  apps/np-atobarai/bruno/03-update-checkout-delivery-method.bru
  apps/np-atobarai/bruno/04-initialize-payment-gateway.bru
  apps/np-atobarai/bruno/bruno.json
  apps/np-atobarai/bruno/environments/Saleor.bru
  apps/np-atobarai/generated/graphql.ts
  apps/np-atobarai/graphql/fragments/channel.graphql
  apps/np-atobarai/graphql/fragments/source-object.graphql
  apps/np-atobarai/src/__tests__/mocks/app-config/mocked-app-config-repo.ts
  apps/np-atobarai/src/__tests__/mocks/app-config/mocked-app-config.ts
  apps/np-atobarai/src/__tests__/mocks/saleor-events/mocked-payment-gateway-initalize-session-event.ts
  apps/np-atobarai/src/__tests__/mocks/saleor-events/mocked-transaction-initialize-session-event.ts
  apps/np-atobarai/src/__tests__/mocks/saleor/mocked-auth-data.ts
  apps/np-atobarai/src/__tests__/mocks/saleor/mocked-saleor-api-url.ts
  apps/np-atobarai/src/app/api/manifest/route.test.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/fulfillment-tracking-number-updated/route.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/payment-gateway-initialize-session/route.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/payment-gateway-initialize-session/use-case-response.test.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/payment-gateway-initialize-session/use-case-response.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/payment-gateway-initialize-session/use-case.test.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/payment-gateway-initialize-session/use-case.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/payment-gateway-initialize-session/validation-errors.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/saleor-webhook-responses.test.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/saleor-webhook-responses.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-initialize-session/route.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-refund-requested/route.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/with-recipient-verification.test.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/with-recipient-verification.ts
  apps/np-atobarai/src/lib/observability-saleor-api-url.ts
  apps/np-atobarai/src/lib/observability-source-object-id.ts
  apps/np-atobarai/src/modules/app-config/types.ts
  apps/stripe/src/modules/saleor/saleor-api-url.ts
Labels: skip changeset, App Payment: Stripe, App Payment: NP Atobarai

#2003 Create app config model
  apps/np-atobarai/package.json
  apps/np-atobarai/src/__tests__/mocks/app-config/mocked-app-config-repo.ts
  apps/np-atobarai/src/__tests__/mocks/app-config/mocked-app-config.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/payment-gateway-initialize-session/route.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/payment-gateway-initialize-session/use-case.test.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/payment-gateway-initialize-session/use-case.ts
  apps/np-atobarai/src/lib/errors.ts
  apps/np-atobarai/src/modules/app-config/app-config.test.ts
  apps/np-atobarai/src/modules/app-config/app-config.ts
  apps/np-atobarai/src/modules/app-config/types.ts
  pnpm-lock.yaml
Labels: skip changeset, App Payment: NP Atobarai

#2004 dynamodb setup and apl
  apps/np-atobarai/package.json
  apps/np-atobarai/src/__tests__/setup.ts
  apps/np-atobarai/src/lib/env.ts
  apps/np-atobarai/src/lib/saleor-app.ts
  apps/np-atobarai/src/modules/dynamodb/dynamodb-client.ts
  apps/np-atobarai/src/modules/dynamodb/dynamodb-main-table.ts
  apps/np-atobarai/turbo.json
  pnpm-lock.yaml
Labels: skip changeset, App Payment: NP Atobarai

#2006 Move more dependencies to pnpm catalog
  apps/avatax/package.json
  apps/cms/package.json
  apps/klaviyo/package.json
  apps/np-atobarai/package.json
  apps/products-feed/package.json
  apps/search/package.json
  apps/segment/package.json
  apps/smtp/package.json
  apps/stripe/package.json
  packages/apl-dynamo/package.json
  packages/domain/package.json
  packages/errors/package.json
  packages/logger/package.json
  packages/otel/package.json
  packages/react-hook-form-macaw/package.json
  packages/sentry-utils/package.json
  packages/shared/package.json
  packages/trpc/package.json
  packages/webhook-utils/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: App: Search, App: Klaviyo, App: CMS, App: Product Feed, App: Segment, App: AvaTax, App: SMTP, App Payment: Stripe, App Payment: NP Atobarai

#2008 Introduce generic repository
  .changeset/long-boats-wash.md
  apps/np-atobarai/package.json
  packages/dynamo-config-repository/eslint.config.js
  packages/dynamo-config-repository/lint-staged.config.js
  packages/dynamo-config-repository/package.json
  packages/dynamo-config-repository/src/__test__/bootstrap-test.ts
  packages/dynamo-config-repository/src/base-repository.test.ts
  packages/dynamo-config-repository/src/base-repository.ts
  packages/dynamo-config-repository/src/generic-root-config.test.ts
  packages/dynamo-config-repository/src/generic-root-config.ts
  packages/dynamo-config-repository/src/index.ts
  packages/dynamo-config-repository/src/types.ts
  packages/dynamo-config-repository/tsconfig.json
  packages/dynamo-config-repository/turbo.json
  packages/dynamo-config-repository/vitest.config.ts
  pnpm-lock.yaml
Labels: App Payment: NP Atobarai

#2001 🚀 Release apps
  .changeset/angry-nails-sniff.md
  .changeset/cool-jars-draw.md
  .changeset/long-boats-wash.md
  .changeset/long-gorillas-rescue.md
  .changeset/olive-bobcats-raise.md
  .changeset/stale-trainers-destroy.md
  apps/avatax/CHANGELOG.md
  apps/avatax/package.json
  apps/cms/CHANGELOG.md
  apps/cms/package.json
  apps/klaviyo/CHANGELOG.md
  apps/klaviyo/package.json
  apps/np-atobarai/CHANGELOG.md
  apps/np-atobarai/package.json
  apps/products-feed/CHANGELOG.md
  apps/products-feed/package.json
  apps/search/CHANGELOG.md
  apps/search/package.json
  apps/segment/CHANGELOG.md
  apps/segment/package.json
  apps/smtp/CHANGELOG.md
  apps/smtp/package.json
  apps/stripe/CHANGELOG.md
  apps/stripe/package.json
  packages/apl-dynamo/CHANGELOG.md
  packages/apl-dynamo/package.json
  packages/domain/CHANGELOG.md
  packages/domain/package.json
  packages/dynamo-config-repository/CHANGELOG.md
  packages/dynamo-config-repository/package.json
  packages/errors/CHANGELOG.md
  packages/errors/package.json
  packages/logger/CHANGELOG.md
  packages/logger/package.json
Labels: App: Search, App: Klaviyo, App: CMS, App: Product Feed, App: Segment, App: AvaTax, run e2e, App: SMTP, App Payment: Stripe, App Payment: NP Atobarai

#2011 Add Atobarai API connection for transactionInitSession
  apps/np-atobarai/bruno/05-initialize-payment-transaction.bru
  apps/np-atobarai/generated/graphql.ts
  apps/np-atobarai/graphql/fragments/source-object.graphql
  apps/np-atobarai/src/__tests__/mocks/atobarai/mocked-atobarai-transaction-id.ts
  apps/np-atobarai/src/__tests__/mocks/saleor-events/mocked-source-object.ts
  apps/np-atobarai/src/app/api/manifest/route.test.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-initialize-session/route.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-initialize-session/use-case-errors.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-initialize-session/use-case-response.test.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-initialize-session/use-case-response.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-initialize-session/use-case.test.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-initialize-session/use-case.ts
  apps/np-atobarai/src/lib/assert-unreachable.ts
  apps/np-atobarai/src/modules/atobarai/atobarai-address-helpers.test.ts
  apps/np-atobarai/src/modules/atobarai/atobarai-address-helpers.ts
  apps/np-atobarai/src/modules/atobarai/atobarai-api-client.test.ts
  apps/np-atobarai/src/modules/atobarai/atobarai-api-client.ts
  apps/np-atobarai/src/modules/atobarai/atobarai-customer.test.ts
  apps/np-atobarai/src/modules/atobarai/atobarai-delivery-destination.test.ts
  apps/np-atobarai/src/modules/atobarai/atobarai-goods.test.ts
  apps/np-atobarai/src/modules/atobarai/atobarai-goods.ts
  apps/np-atobarai/src/modules/atobarai/atobarai-register-transaction-error-response.test.ts
  apps/np-atobarai/src/modules/atobarai/atobarai-register-transaction-error-response.ts
  apps/np-atobarai/src/modules/atobarai/atobarai-register-transaction-payload.test.ts
  apps/np-atobarai/src/modules/atobarai/atobarai-register-transaction-success-response.test.ts
  apps/np-atobarai/src/modules/atobarai/atobarai-register-transaction-success-response.ts
  apps/np-atobarai/src/modules/atobarai/atobarai-shop-order-date.ts
  apps/np-atobarai/src/modules/atobarai/atobarai-transaction-id.ts
  apps/np-atobarai/src/modules/atobarai/atobarai-transaction.ts
  apps/np-atobarai/src/modules/atobarai/types.ts
  apps/np-atobarai/src/modules/transaction-result/charge-result.ts
Labels: skip changeset, App Payment: NP Atobarai

#2012 Fix SMTP errors reporting
  .changeset/lazy-mirrors-double.md
  apps/smtp/src/lib/race-promise.ts
  apps/smtp/src/modules/event-handlers/use-case/send-event-messages.use-case.ts
  apps/smtp/src/modules/smtp/services/smtp-email-sender.ts
Labels: App: SMTP

#2013 🚀 Release apps
  .changeset/lazy-mirrors-double.md
  apps/smtp/CHANGELOG.md
  apps/smtp/package.json
Labels: App: SMTP

#2017 Extract empty configs list to shared component
  .changeset/fast-bats-obey.md
  .changeset/swift-spiders-rest.md
  apps/np-atobarai/src/modules/ui/atobarai-configs-list.tsx
  apps/np-atobarai/src/modules/ui/channel-config-section.tsx
  apps/np-atobarai/src/modules/ui/configs-list.tsx
  apps/np-atobarai/src/modules/ui/new-config-form.tsx
  apps/stripe/src/modules/ui/stripe-configs/stripe-configs-list.tsx
  packages/ui/index.ts
  packages/ui/src/configs-list.tsx
Labels: App Payment: Stripe, App Payment: NP Atobarai

#2025 Rename SP Code to incldue secret
  apps/np-atobarai/.env-example
  apps/np-atobarai/src/__tests__/mocks/app-config/mocked-app-config.ts
  apps/np-atobarai/src/__tests__/mocks/atobarai/mocked-atobarai-secret-sp-code.ts
  apps/np-atobarai/src/__tests__/mocks/atobarai/mocked-atobarai-sp-code.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/payment-gateway-initialize-session/route.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-initialize-session/route.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-initialize-session/use-case.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-process-session/route.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-process-session/use-case.ts
  apps/np-atobarai/src/modules/app-config/app-config.test.ts
  apps/np-atobarai/src/modules/app-config/app-config.ts
  apps/np-atobarai/src/modules/app-config/repo/app-config-repo.ts
  apps/np-atobarai/src/modules/app-config/trpc-handlers/get-configs-channels-mapping-trpc-handler.test.ts
  apps/np-atobarai/src/modules/app-config/trpc-handlers/get-configs-list-trpc-handler.ts
  apps/np-atobarai/src/modules/app-config/trpc-handlers/new-config-input-schema.test.ts
  apps/np-atobarai/src/modules/app-config/trpc-handlers/new-config-input-schema.ts
  apps/np-atobarai/src/modules/app-config/trpc-handlers/new-config-trpc-handler.test.ts
  apps/np-atobarai/src/modules/app-config/trpc-handlers/new-config-trpc-handler.ts
  apps/np-atobarai/src/modules/atobarai/atobarai-api-client-factory.ts
  apps/np-atobarai/src/modules/atobarai/atobarai-api-client.test.ts
  apps/np-atobarai/src/modules/atobarai/atobarai-api-client.ts
  apps/np-atobarai/src/modules/atobarai/atobarai-goods.test.ts
  apps/np-atobarai/src/modules/atobarai/atobarai-secret-sp-code.test.ts
  apps/np-atobarai/src/modules/atobarai/atobarai-secret-sp-code.ts
  apps/np-atobarai/src/modules/atobarai/atobarai-sp-code.ts
  apps/np-atobarai/src/modules/atobarai/types.ts
  apps/np-atobarai/src/modules/ui/new-config-form.tsx
Labels: skip changeset, App Payment: NP Atobarai

#2028 Fix logo
  apps/np-atobarai/.env-example
  apps/np-atobarai/public/logo.png
Labels: skip changeset, App Payment: NP Atobarai

#2026 🚀 Release apps
  .changeset/calm-taxis-fail.md
  .changeset/fast-bats-obey.md
  .changeset/large-brooms-rhyme.md
  .changeset/spotty-news-share.md
  .changeset/swift-spiders-rest.md
  .changeset/swift-suits-crash.md
  apps/avatax/CHANGELOG.md
  apps/avatax/package.json
  apps/cms/CHANGELOG.md
  apps/cms/package.json
  apps/klaviyo/CHANGELOG.md
  apps/klaviyo/package.json
  apps/np-atobarai/CHANGELOG.md
  apps/np-atobarai/package.json
  apps/products-feed/CHANGELOG.md
  apps/products-feed/package.json
  apps/search/CHANGELOG.md
  apps/search/package.json
  apps/segment/CHANGELOG.md
  apps/segment/package.json
  apps/smtp/CHANGELOG.md
  apps/smtp/package.json
  apps/stripe/CHANGELOG.md
  apps/stripe/package.json
  packages/ui/CHANGELOG.md
  packages/ui/package.json
Labels: App: Search, App: Klaviyo, App: CMS, App: Product Feed, App: Segment, App: AvaTax, run e2e, App: SMTP, App Payment: Stripe, App Payment: NP Atobarai

#2031 Add BaseUseCase to NP Atobarai / copilot instructions
  .github/copilot-instructions.md
  apps/np-atobarai/src/app/api/webhooks/saleor/base-use-case.test.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/base-use-case.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/fulfillment-tracking-number-updated/use-case.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/payment-gateway-initialize-session/use-case.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-initialize-session/use-case.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-process-session/use-case.ts
Labels: skip changeset, App Payment: NP Atobarai

#2033 Force update form-data@3.0.1 to 3.0.4
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: skip changeset

#2034 Add DynamoDB app transaction for NP Atobarai
  apps/np-atobarai/package.json
  apps/np-atobarai/src/__tests__/mocks/app-transaction/mocked-app-transaction-repo.ts
  apps/np-atobarai/src/__tests__/mocks/app-transaction/mocked-app-transaction.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/base-use-case.test.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/fulfillment-tracking-number-updated/route.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/fulfillment-tracking-number-updated/use-case.test.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/fulfillment-tracking-number-updated/use-case.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-initialize-session/route.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-initialize-session/use-case-response.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-initialize-session/use-case.test.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-initialize-session/use-case.ts
  apps/np-atobarai/src/modules/dynamodb/dynamodb-main-table.ts
  apps/np-atobarai/src/modules/transactions-recording/dynamodb-transaction-record-repo.test.ts
  apps/np-atobarai/src/modules/transactions-recording/dynamodb-transaction-record-repo.ts
  apps/np-atobarai/src/modules/transactions-recording/dynamodb/entity.test.ts
  apps/np-atobarai/src/modules/transactions-recording/dynamodb/entity.ts
  apps/np-atobarai/src/modules/transactions-recording/transaction-record-repo.test.ts
  apps/np-atobarai/src/modules/transactions-recording/transaction-record-repo.ts
  apps/np-atobarai/src/modules/transactions-recording/transaction-record.test.ts
  apps/np-atobarai/src/modules/transactions-recording/transaction-record.ts
  apps/np-atobarai/src/modules/transactions-recording/types.ts
  pnpm-lock.yaml
Labels: skip changeset, App Payment: NP Atobarai

#2035 Drop events not created by Saleor
  .changeset/quiet-trains-type.md
  apps/stripe/generated/graphql.ts
  apps/stripe/graphql/subscriptions/transaction-cancelation-requested.graphql
  apps/stripe/graphql/subscriptions/transaction-charge-requested.graphql
  apps/stripe/graphql/subscriptions/transaction-refund-requested.graphql
  apps/stripe/src/__tests__/integration/webhooks/fixtures/charge-refund-updated-event-fixture.ts
  apps/stripe/src/__tests__/integration/webhooks/fixtures/payment-intent-succeeded-event-fixture.ts
  apps/stripe/src/__tests__/integration/webhooks/fixtures/transaction-cancelation-requested-fixture.ts
  apps/stripe/src/__tests__/integration/webhooks/fixtures/transaction-charge-requested-fixture.ts
  apps/stripe/src/__tests__/integration/webhooks/fixtures/transaction-refund-requested-fixture.ts
  apps/stripe/src/__tests__/mocks/saleor-events/transaction-cancelation-request-event.ts
  apps/stripe/src/__tests__/mocks/saleor-events/transaction-charge-requested-event.ts
  apps/stripe/src/__tests__/mocks/saleor-events/transaction-refund-request-event.ts
  apps/stripe/src/__tests__/mocks/stripe-events/mocked-charge-refund-updated.ts
  apps/stripe/src/__tests__/mocks/stripe-events/mocked-payment-intent-amount-capturable-updated.ts
  apps/stripe/src/__tests__/mocks/stripe-events/mocked-payment-intent-canceled.ts
  apps/stripe/src/__tests__/mocks/stripe-events/mocked-payment-intent-failed.ts
  apps/stripe/src/__tests__/mocks/stripe-events/mocked-payment-intent-processing.ts
  apps/stripe/src/__tests__/mocks/stripe-events/mocked-payment-intent-requires-action.ts
  apps/stripe/src/__tests__/mocks/stripe-events/mocked-payment-intent-succeeded.ts
  apps/stripe/src/app/api/manifest/route.test.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-cancelation-requested/use-case.test.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-charge-requested/use-case.test.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-refund-requested/use-case.test.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-refund-requested/use-case.ts
  apps/stripe/src/app/api/webhooks/stripe/stripe-webhook-responses.ts
  apps/stripe/src/app/api/webhooks/stripe/use-case-error.test.ts
  apps/stripe/src/app/api/webhooks/stripe/use-case-success.test.ts
  apps/stripe/src/app/api/webhooks/stripe/use-case.ts
  apps/stripe/src/modules/stripe/stripe-refunds-api.ts
  apps/stripe/src/modules/stripe/types.ts
Labels: App Payment: Stripe

#2039 improve messages for stripe handling events outside of app
  apps/stripe/src/app/api/webhooks/stripe/stripe-webhook-responses.ts
  apps/stripe/src/app/api/webhooks/stripe/use-case-success.test.ts
  apps/stripe/src/app/api/webhooks/stripe/use-case.ts
Labels: skip changeset, App Payment: Stripe

#2037 🚀 Release apps
  .changeset/quiet-trains-type.md
  apps/stripe/CHANGELOG.md
  apps/stripe/package.json
Labels: run e2e, App Payment: Stripe

#2036 Handle refunds before fullfillment for NP Atobarai
  apps/np-atobarai/generated/graphql.ts
  apps/np-atobarai/graphql/fragments/order-granted-refund.graphql
  apps/np-atobarai/graphql/fragments/source-object.graphql
  apps/np-atobarai/graphql/subscriptions/transaction-refund-requested.graphql
  apps/np-atobarai/src/__tests__/mocks/app-transaction/mocked-transaction-record-repo.ts
  apps/np-atobarai/src/__tests__/mocks/app-transaction/mocked-transaction-record.ts
  apps/np-atobarai/src/__tests__/mocks/atobarai/mocked-atobarai-goods.ts
  apps/np-atobarai/src/__tests__/mocks/saleor-events/mocked-refund-requested-event.ts
  apps/np-atobarai/src/__tests__/mocks/saleor-events/mocked-source-object.ts
  apps/np-atobarai/src/app/api/manifest/route.test.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/fulfillment-tracking-number-updated/route.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/fulfillment-tracking-number-updated/use-case.test.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/fulfillment-tracking-number-updated/use-case.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-initialize-session/use-case.test.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-initialize-session/use-case.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-process-session/use-case.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-refund-requested/refund-event-parser.test.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-refund-requested/refund-event-parser.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-refund-requested/refund-orchestrator.test.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-refund-requested/refund-orchestrator.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-refund-requested/refund-strategies.test.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-refund-requested/refund-strategies.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-refund-requested/refund-strategy.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-refund-requested/route.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-refund-requested/use-case.test.ts
  apps/np-atobarai/src/app/api/webhooks/saleor/transaction-refund-requested/use-case.ts
  apps/np-atobarai/src/modules/atobarai/api/atobarai-change-transaction-payload.ts
  apps/np-atobarai/src/modules/atobarai/api/atobarai-register-transaction-payload.ts
  apps/np-atobarai/src/modules/atobarai/atobarai-address-helpers.test.ts
  apps/np-atobarai/src/modules/atobarai/atobarai-customer.test.ts
  apps/np-atobarai/src/modules/atobarai/atobarai-delivery-destination.test.ts
  apps/np-atobarai/src/modules/atobarai/atobarai-goods.test.ts
  apps/np-atobarai/src/modules/atobarai/atobarai-goods.ts
  apps/np-atobarai/src/modules/atobarai/atobarai-goods/atobarai-goods.test.ts
  apps/np-atobarai/src/modules/atobarai/atobarai-goods/atobarai-goods.ts
  apps/np-atobarai/src/modules/atobarai/atobarai-goods/atobarai-line-calculation.test.ts
  apps/np-atobarai/src/modules/atobarai/atobarai-goods/atobarai-line-calculation.ts
  apps/np-atobarai/src/modules/atobarai/atobarai-goods/no-fullfillment-refund-goods-builders.test.ts
  apps/np-atobarai/src/modules/atobarai/atobarai-goods/no-fullfillment-refund-goods-builders.ts
  apps/np-atobarai/src/modules/atobarai/atobarai-goods/transaction-goods-builder.test.ts
  apps/np-atobarai/src/modules/atobarai/atobarai-goods/transaction-goods-builder.ts
  apps/np-atobarai/src/modules/atobarai/atobarai-transaction-id.ts
  apps/np-atobarai/src/modules/transactions-recording/dynamodb-transaction-record-repo.test.ts
Labels: skip changeset, App Payment: NP Atobarai

#2048 Initialize dynamo apl
  .changeset/violet-forks-thank.md
  apps/avatax/.env.example
  apps/avatax/saleor-app.ts
  apps/avatax/scripts/setup-dynamodb.sh
  apps/avatax/src/env.ts
  apps/avatax/src/modules/client-logs/client-logs.router.ts
  apps/avatax/src/modules/client-logs/dynamo-logs-table.test.ts
  apps/avatax/src/modules/client-logs/dynamo-logs-table.ts
  apps/avatax/src/modules/client-logs/log-transformer.ts
  apps/avatax/src/modules/client-logs/log-writer-factory.ts
  apps/avatax/src/modules/client-logs/logs-repository.test.ts
  apps/avatax/src/modules/client-logs/logs-repository.ts
  apps/avatax/src/modules/dynamodb/dynamo-client.ts
  apps/avatax/src/modules/dynamodb/dynamo-main-table.ts
  apps/avatax/src/setup-tests.ts
  apps/avatax/turbo.json
Labels: App: AvaTax

#2047 🚀 Release apps
  .changeset/tasty-pumpkins-cry.md
  .changeset/violet-forks-thank.md
  apps/avatax/CHANGELOG.md
  apps/avatax/package.json
  apps/np-atobarai/CHANGELOG.md
  apps/np-atobarai/package.json
  apps/segment/CHANGELOG.md
  apps/segment/package.json
  apps/stripe/CHANGELOG.md
  apps/stripe/package.json
Labels: App: Segment, App: AvaTax, run e2e, App Payment: Stripe, App Payment: NP Atobarai

#2051 🚀 Release apps
  .changeset/strange-pears-tickle.md
  apps/avatax/CHANGELOG.md
  apps/avatax/package.json
  apps/cms/CHANGELOG.md
  apps/cms/package.json
  apps/klaviyo/CHANGELOG.md
  apps/klaviyo/package.json
  apps/products-feed/CHANGELOG.md
  apps/products-feed/package.json
  apps/search/CHANGELOG.md
  apps/search/package.json
  apps/smtp/CHANGELOG.md
  apps/smtp/package.json
Labels: App: Search, App: Klaviyo, App: CMS, App: Product Feed, App: AvaTax, App: SMTP
