Repository saleor/apps, pull requests merged in 2025-06, with the labels that each got.

#1968 Fix e2e reusable workflow
  .github/workflows/e2e.yml
  .github/workflows/run-e2e-cron.yml
  .github/workflows/run-e2e-dispatch.yml
  .github/workflows/run-e2e-label.yml
Labels: skip changeset

#1970 Fix Stripe validation
  .changeset/forty-spies-vanish.md
  apps/stripe/src/modules/app-config/trpc-handlers/new-stripe-config-input-schema.test.ts
  apps/stripe/src/modules/app-config/trpc-handlers/new-stripe-config-input-schema.ts
Labels: App Payment: Stripe

#1975 [Stripe] Add integration test for refund requested route
  apps/stripe/src/__tests__/integration/webhooks/fixtures/transaction-refund-requested-fixture.ts
  apps/stripe/src/__tests__/integration/webhooks/transaction-refund-requested.test.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-charge-requested/route.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-initialize-session/route.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-refund-requested/route.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-refund-requested/webhook-definition.ts
Labels: skip changeset, App Payment: Stripe

#1976 Enable codecov reporting
  .github/workflows/main.yml
  apps/stripe/package.json
  codecov.yml
Labels: skip changeset, App Payment: Stripe

#1978 Add bulk processing for Strapi CMS provider
  .changeset/angry-dots-jog.md
  apps/cms/src/modules/bulk-sync/bulk-sync-view.tsx
  apps/cms/src/modules/providers/strapi/strapi-bulk-sync-processor.ts
  apps/cms/src/modules/providers/strapi/strapi-client.ts
  apps/cms/turbo.json
Labels: App: CMS

#1985 Refactor Stripe tests mocks
  apps/stripe/src/__tests__/integration/webhooks/fixtures/transaction-initialize-session-fixture.ts
  apps/stripe/src/__tests__/integration/webhooks/transaction-cancelation-requested.test.ts
  apps/stripe/src/__tests__/integration/webhooks/transaction-charge-requested.test.ts
  apps/stripe/src/__tests__/integration/webhooks/transaction-process-session.test.ts
  apps/stripe/src/__tests__/integration/webhooks/transaction-refund-requested.test.ts
  apps/stripe/src/__tests__/mocks/constants.ts
  apps/stripe/src/__tests__/mocks/mocked-recorded-transaction.ts
  apps/stripe/src/__tests__/mocks/saleor-events/transaction-cancelation-request-event.ts
  apps/stripe/src/__tests__/mocks/saleor-events/transaction-charge-requested-event.ts
  apps/stripe/src/__tests__/mocks/saleor-events/transaction-initialize-session-event.ts
  apps/stripe/src/__tests__/mocks/saleor-events/transaction-process-session-event.ts
  apps/stripe/src/__tests__/mocks/saleor-events/transaction-refund-request-event.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-cancelation-requested/use-case.test.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-charge-requested/use-case.test.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-initialize-session/use-case.test.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-process-session/use-case.test.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-refund-requested/use-case.test.ts
  apps/stripe/src/app/api/webhooks/stripe/transaction-event-report-variables-resolver.test.ts
  apps/stripe/src/app/api/webhooks/stripe/use-case-error.test.ts
  apps/stripe/src/app/api/webhooks/stripe/use-case-success.test.ts
  apps/stripe/src/modules/stripe/stripe-payment-intents-api.test.ts
  apps/stripe/src/modules/transactions-recording/repositories/dynamodb/dynamodb-transaction-recorder-repo.test.ts
  apps/stripe/src/modules/transactions-recording/repositories/dynamodb/recorded-transaction-db-model.test.ts
Labels: skip changeset, App Payment: Stripe

#1983 Fix assign PR workflow
  .github/workflows/assign-pr.yml
Labels: skip changeset

#1972 🚀 Release apps
  .changeset/angry-dots-jog.md
  .changeset/blue-shirts-grow.md
  .changeset/forty-spies-vanish.md
  .changeset/gold-dogs-decide.md
  .changeset/lovely-dingos-rhyme.md
  .changeset/ninety-fans-look.md
  .changeset/purple-otters-thank.md
  .changeset/small-sloths-doubt.md
  apps/avatax/CHANGELOG.md
  apps/avatax/package.json
  apps/cms/CHANGELOG.md
  apps/cms/package.json
  apps/klaviyo/CHANGELOG.md
  apps/klaviyo/package.json
  apps/products-feed/CHANGELOG.md
  apps/products-feed/package.json
  apps/search/CHANGELOG.md
  apps/search/package.json
  apps/segment/CHANGELOG.md
  apps/segment/package.json
  apps/smtp/CHANGELOG.md
  apps/smtp/package.json
  apps/stripe/CHANGELOG.md
  apps/stripe/package.json
  packages/logger/CHANGELOG.md
  packages/logger/package.json
  packages/otel/CHANGELOG.md
  packages/otel/package.json
Labels: App: Search, App: Klaviyo, App: CMS, App: Product Feed, App: Segment, App: AvaTax, run e2e, App: SMTP, App Payment: Stripe
