Repository saleor/apps, pull requests merged in 2025-05, with the labels that each got.

#1900 resolve stripe dashboard url
  apps/stripe/generated/graphql.ts
  apps/stripe/graphql/mutations/transaction-event-report.graphql
  apps/stripe/src/app/api/saleor/transaction-initialize-session/use-case-response.test.ts
  apps/stripe/src/app/api/saleor/transaction-initialize-session/use-case-response.ts
  apps/stripe/src/app/api/saleor/transaction-initialize-session/use-case.test.ts
  apps/stripe/src/app/api/saleor/transaction-initialize-session/use-case.ts
  apps/stripe/src/app/api/saleor/transaction-process-session/use-case-response.test.ts
  apps/stripe/src/app/api/saleor/transaction-process-session/use-case-response.ts
  apps/stripe/src/app/api/saleor/transaction-process-session/use-case.ts
  apps/stripe/src/app/api/stripe/webhook/route.ts
  apps/stripe/src/app/api/stripe/webhook/stripe-object-handlers/stripe-payment-intent-handler.test.ts
  apps/stripe/src/app/api/stripe/webhook/stripe-object-handlers/stripe-payment-intent-handler.ts
  apps/stripe/src/app/api/stripe/webhook/transaction-event-report-variables-resolver.test.ts
  apps/stripe/src/app/api/stripe/webhook/transaction-event-report-variables-resolver.ts
  apps/stripe/src/app/api/stripe/webhook/use-case-success.test.ts
  apps/stripe/src/app/api/stripe/webhook/use-case.ts
  apps/stripe/src/modules/app-config/domain/stripe-config.ts
  apps/stripe/src/modules/saleor/transaction-event-reporter.test.ts
  apps/stripe/src/modules/saleor/transaction-event-reporter.ts
  apps/stripe/src/modules/stripe/generate-stripe-dashboard-url.ts
  apps/stripe/src/modules/stripe/stripe-env.ts
  apps/stripe/src/modules/transaction-result/action-required-result.test.ts
  apps/stripe/src/modules/transaction-result/action-required-result.ts
  apps/stripe/src/modules/transaction-result/error-result.ts
  apps/stripe/src/modules/transaction-result/failure-result.ts
  apps/stripe/src/modules/transaction-result/map-payment-intent-status-to-transaction-result.ts
  apps/stripe/src/modules/transaction-result/request-result.ts
  apps/stripe/src/modules/transaction-result/success-result.ts
  apps/stripe/src/modules/transaction-result/types.ts
Labels: skip changeset, App Payment: Stripe

#1901 Make creation of Stripe PI throwable
  apps/stripe/src/__tests__/mocks/mocked-recorded-transaction.ts
  apps/stripe/src/__tests__/mocks/mocked-stripe-payment-intent-id.ts
  apps/stripe/src/app/api/saleor/transaction-charge-requested/use-case.ts
  apps/stripe/src/app/api/saleor/transaction-initialize-session/use-case-response.test.ts
  apps/stripe/src/app/api/saleor/transaction-initialize-session/use-case.ts
  apps/stripe/src/app/api/saleor/transaction-process-session/use-case.ts
  apps/stripe/src/app/api/stripe/webhook/use-case-success.test.ts
  apps/stripe/src/app/api/stripe/webhook/use-case.ts
  apps/stripe/src/modules/resolved-transaction-flow.ts
  apps/stripe/src/modules/stripe/payment-methods/card.ts
  apps/stripe/src/modules/stripe/payment-methods/types.ts
  apps/stripe/src/modules/stripe/stripe-payment-intent-id.test.ts
  apps/stripe/src/modules/stripe/stripe-payment-intent-id.ts
  apps/stripe/src/modules/transaction-result/map-payment-intent-status-to-transaction-result.ts
  apps/stripe/src/modules/transactions-recording/domain/recorded-transaction.ts
  apps/stripe/src/modules/transactions-recording/repositories/dynamodb/dynamodb-transaction-recorder-repo.ts
Labels: App Payment: Stripe

#1902 Extract mockedStripePaymentIntentsApi
  apps/stripe/src/__tests__/mocks/mocked-stripe-payment-intents-api.ts
  apps/stripe/src/app/api/saleor/transaction-charge-requested/use-case.test.ts
  apps/stripe/src/app/api/saleor/transaction-initialize-session/use-case.test.ts
  apps/stripe/src/app/api/saleor/transaction-process-session/use-case.test.ts
Labels: skip changeset, App Payment: Stripe

#1903 Improve Stripe webhook error handling with error cause
  apps/stripe/src/modules/saleor/transaction-event-reporter.test.ts
  apps/stripe/src/modules/saleor/transaction-event-reporter.ts
Labels: skip changeset, App Payment: Stripe

#1905 Update app sdk to fix issue with typing actions for transactions events
  apps/stripe/src/app/api/saleor/transaction-charge-requested/use-case-response.ts
  apps/stripe/src/app/api/saleor/transaction-process-session/use-case-response.ts
  apps/stripe/src/app/api/stripe/webhook/transaction-event-report-variables-resolver.ts
  apps/stripe/src/modules/saleor/transaction-event-reporter.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: skip changeset, App Payment: Stripe

#1906 add saleorApiUrl to stripe webhook span
  apps/stripe/src/app/api/stripe/webhook/route.ts
Labels: skip changeset, App Payment: Stripe

#1908 Refactor Saleor webhook responses to use transactionResult
  apps/stripe/src/app/api/saleor/payment-gateway-initialize-session/use-case.ts
  apps/stripe/src/app/api/saleor/transaction-charge-requested/use-case-response.test.ts
  apps/stripe/src/app/api/saleor/transaction-charge-requested/use-case-response.ts
  apps/stripe/src/app/api/saleor/transaction-charge-requested/use-case.test.ts
  apps/stripe/src/app/api/saleor/transaction-charge-requested/use-case.ts
  apps/stripe/src/app/api/saleor/transaction-initialize-session/failure-result.ts
  apps/stripe/src/app/api/saleor/transaction-initialize-session/use-case-response.test.ts
  apps/stripe/src/app/api/saleor/transaction-initialize-session/use-case-response.ts
  apps/stripe/src/app/api/saleor/transaction-initialize-session/use-case.test.ts
  apps/stripe/src/app/api/saleor/transaction-initialize-session/use-case.ts
  apps/stripe/src/app/api/saleor/transaction-process-session/use-case-response.test.ts
  apps/stripe/src/app/api/saleor/transaction-process-session/use-case-response.ts
  apps/stripe/src/app/api/saleor/transaction-process-session/use-case.test.ts
  apps/stripe/src/app/api/saleor/transaction-process-session/use-case.ts
  apps/stripe/src/app/api/stripe/webhook/stripe-object-handlers/stripe-payment-intent-handler.ts
  apps/stripe/src/app/api/stripe/webhook/transaction-event-report-variables-resolver.test.ts
  apps/stripe/src/app/api/stripe/webhook/transaction-event-report-variables-resolver.ts
  apps/stripe/src/modules/transaction-result/action-required-result.test.ts
  apps/stripe/src/modules/transaction-result/action-required-result.ts
  apps/stripe/src/modules/transaction-result/error-result.ts
  apps/stripe/src/modules/transaction-result/failure-result.ts
  apps/stripe/src/modules/transaction-result/request-result.ts
  apps/stripe/src/modules/transaction-result/success-result.ts
Labels: skip changeset, App Payment: Stripe

#1896 POC integration tests
  .github/workflows/stripe-integration-dynamodb.yml
  apps/stripe/package.json
  apps/stripe/src/__tests__/integration/dynamodb/config-repo/config-repo.integration.test.ts
  apps/stripe/src/__tests__/integration/dynamodb/create-table.ts
  apps/stripe/src/__tests__/integration/dynamodb/delete-table.ts
  apps/stripe/src/__tests__/integration/dynamodb/docker-compose.yml
  apps/stripe/src/__tests__/integration/dynamodb/global-setup.integration-dynamo.ts
  apps/stripe/src/__tests__/integration/dynamodb/setup.integration-dynamo.ts
  apps/stripe/src/modules/app-config/repositories/app-config-repo-impl.test.ts
  apps/stripe/turbo.json
  apps/stripe/vitest.config.ts
  pnpm-lock.yaml
Labels: skip changeset, App Payment: Stripe

#1910 cr fixes for dynamodb integration tests
  apps/stripe/src/__tests__/integration/dynamodb/setup.integration-dynamo.ts
  apps/stripe/src/__tests__/setup.integration.ts
  apps/stripe/src/app/api/manifest/route.test.ts
  apps/stripe/vitest.config.ts
Labels: skip changeset, App Payment: Stripe

#1913 Sync resolving amounts from PaymentIntent in Stripe app
  apps/stripe/src/app/api/saleor/transaction-cancelation-requested/use-case.test.ts
  apps/stripe/src/app/api/saleor/transaction-cancelation-requested/use-case.ts
  apps/stripe/src/app/api/saleor/transaction-charge-requested/use-case.test.ts
  apps/stripe/src/app/api/saleor/transaction-charge-requested/use-case.ts
  apps/stripe/src/app/api/saleor/transaction-initialize-session/use-case-response.test.ts
  apps/stripe/src/app/api/saleor/transaction-initialize-session/use-case.test.ts
  apps/stripe/src/app/api/saleor/transaction-initialize-session/use-case.ts
  apps/stripe/src/app/api/saleor/transaction-process-session/use-case-response.test.ts
  apps/stripe/src/app/api/saleor/transaction-process-session/use-case.test.ts
  apps/stripe/src/app/api/saleor/transaction-process-session/use-case.ts
  apps/stripe/src/app/api/stripe/webhook/stripe-object-handlers/stripe-payment-intent-handler.test.ts
  apps/stripe/src/app/api/stripe/webhook/stripe-object-handlers/stripe-payment-intent-handler.ts
  apps/stripe/src/app/api/stripe/webhook/transaction-event-report-variables-resolver.test.ts
  apps/stripe/src/app/api/stripe/webhook/use-case-success.test.ts
  apps/stripe/src/modules/saleor/resolve-saleor-money-from-stripe-payment-intent.test.ts
  apps/stripe/src/modules/saleor/resolve-saleor-money-from-stripe-payment-intent.ts
  apps/stripe/src/modules/stripe/stripe-payment-intent-status.ts
  apps/stripe/src/modules/transaction-result/action-required-result.test.ts
  apps/stripe/src/modules/transaction-result/map-payment-intent-status-to-transaction-result.test.ts
Labels: skip changeset, App Payment: Stripe

#1912 Add app id to webhook url
  apps/stripe/src/__tests__/mocks/constants.ts
  apps/stripe/src/app/api/stripe/webhook/route.ts
  apps/stripe/src/app/api/stripe/webhook/use-case-error.test.ts
  apps/stripe/src/app/api/stripe/webhook/use-case-legacy-event.test.ts
  apps/stripe/src/app/api/stripe/webhook/use-case-success.test.ts
  apps/stripe/src/app/api/stripe/webhook/use-case.ts
  apps/stripe/src/app/api/stripe/webhook/webhook-params.test.ts
  apps/stripe/src/app/api/stripe/webhook/webhook-params.ts
  apps/stripe/src/modules/app-config/trpc-handlers/new-stripe-config-trpc-handler.ts
  apps/stripe/src/modules/stripe/stripe-webhook-manager.test.ts
  apps/stripe/src/modules/stripe/stripe-webhook-manager.ts
  apps/stripe/src/modules/stripe/stripe-webhook-url-builder.test.ts
  apps/stripe/src/modules/stripe/stripe-webhook-url-builder.ts
Labels: skip changeset, App Payment: Stripe

#1914 log about missing config
  apps/stripe/src/app/api/stripe/webhook/use-case.ts
Labels: skip changeset, App Payment: Stripe

#1915 Fixes after refund PR
  apps/stripe/src/__tests__/mocks/stripe-events/mocked-payment-intent-processing.ts
  apps/stripe/src/__tests__/mocks/stripe-events/mocked-payment-intent-requires-action.ts
  apps/stripe/src/__tests__/mocks/stripe-events/mocked-payment-intent-succeeded.ts
  apps/stripe/src/app/api/saleor/transaction-cancelation-requested/use-case.test.ts
  apps/stripe/src/app/api/saleor/transaction-cancelation-requested/use-case.ts
  apps/stripe/src/app/api/saleor/transaction-charge-requested/use-case.test.ts
  apps/stripe/src/app/api/saleor/transaction-charge-requested/use-case.ts
  apps/stripe/src/app/api/saleor/transaction-refund-requested/use-case.test.ts
  apps/stripe/src/app/api/saleor/transaction-refund-requested/use-case.ts
  apps/stripe/src/app/api/stripe/webhook/stripe-object-handlers/stripe-payment-intent-handler.test.ts
  apps/stripe/src/app/api/stripe/webhook/stripe-object-handlers/stripe-refund-handler.ts
  apps/stripe/src/app/api/stripe/webhook/use-case-success.test.ts
  apps/stripe/src/modules/saleor/transaction-requested-event-helpers.ts
Labels: skip changeset, App Payment: Stripe

#1916 Fix result messages and logger errors
  apps/stripe/src/app/api/saleor/transaction-cancelation-requested/use-case.ts
  apps/stripe/src/app/api/saleor/transaction-charge-requested/use-case-response.test.ts
  apps/stripe/src/app/api/saleor/transaction-charge-requested/use-case.ts
  apps/stripe/src/app/api/saleor/transaction-initialize-session/use-case-response.ts
  apps/stripe/src/app/api/saleor/transaction-process-session/use-case-response.test.ts
  apps/stripe/src/app/api/saleor/transaction-process-session/use-case-response.ts
  apps/stripe/src/app/api/saleor/transaction-process-session/use-case.ts
  apps/stripe/src/app/api/saleor/transaction-refund-requested/use-case-response.ts
  apps/stripe/src/app/api/stripe/webhook/transaction-event-report-variables-resolver.test.ts
  apps/stripe/src/app/api/stripe/webhook/use-case-success.test.ts
  apps/stripe/src/modules/transaction-result/failure-result.ts
  apps/stripe/src/modules/transaction-result/success-result.ts
Labels: skip changeset, App Payment: Stripe

#1919 support klarna
  apps/stripe/src/app/api/saleor/transaction-initialize-session/event-data-parser.ts
  apps/stripe/src/app/api/saleor/transaction-initialize-session/payment-method-resolver.ts
  apps/stripe/src/app/api/stripe/webhook/stripe-object-handlers/stripe-payment-intent-handler.test.ts
  apps/stripe/src/app/api/stripe/webhook/transaction-event-report-variables-resolver.test.ts
  apps/stripe/src/app/api/stripe/webhook/transaction-event-report-variables-resolver.ts
  apps/stripe/src/app/api/stripe/webhook/use-case-success.test.ts
  apps/stripe/src/modules/saleor/resolve-saleor-money-from-stripe-payment-intent.ts
  apps/stripe/src/modules/saleor/transaction-event-reporter.test.ts
  apps/stripe/src/modules/saleor/transaction-event-reporter.ts
  apps/stripe/src/modules/stripe/payment-methods/klarna.test.ts
  apps/stripe/src/modules/stripe/payment-methods/klarna.ts
Labels: skip changeset, App Payment: Stripe

#1917 Add handle payments to trpc requiredClientPermissions
  apps/stripe/package.json
  apps/stripe/src/lib/required-client-permissions.ts
  apps/stripe/src/modules/trpc/protected-client-procedure.ts
  apps/stripe/src/modules/trpc/trpc-server.ts
  apps/stripe/src/modules/ui/use-has-app-access.test.ts
  apps/stripe/src/modules/ui/use-has-app-access.ts
  apps/stripe/src/pages/config/index.tsx
  apps/stripe/src/pages/config/new.tsx
  apps/stripe/vitest.config.ts
  pnpm-lock.yaml
Labels: skip changeset, App Payment: Stripe

#1918 Send canceled_at time in Saleor webhooks
  apps/stripe/src/app/api/saleor/transaction-cancelation-requested/use-case-response.test.ts
  apps/stripe/src/app/api/saleor/transaction-cancelation-requested/use-case-response.ts
  apps/stripe/src/app/api/saleor/transaction-cancelation-requested/use-case.ts
  apps/stripe/src/app/api/saleor/transaction-process-session/use-case-response.test.ts
  apps/stripe/src/app/api/saleor/transaction-process-session/use-case-response.ts
  apps/stripe/src/app/api/saleor/transaction-process-session/use-case.ts
  apps/stripe/src/app/api/stripe/webhook/stripe-object-handlers/stripe-payment-intent-handler.ts
  apps/stripe/src/app/api/stripe/webhook/stripe-object-handlers/stripe-refund-handler.ts
  apps/stripe/src/app/api/stripe/webhook/transaction-event-report-variables-resolver.test.ts
  apps/stripe/src/app/api/stripe/webhook/transaction-event-report-variables-resolver.ts
  apps/stripe/src/modules/stripe/stripe-event-date.test.ts
  apps/stripe/src/modules/stripe/stripe-event-date.ts
  apps/stripe/src/modules/stripe/stripe-timestamps.test.ts
  apps/stripe/src/modules/stripe/stripe-timestamps.ts
Labels: skip changeset, App Payment: Stripe

#1921 Fix result actions for processing payment intent in Stripe
  apps/stripe/src/app/api/saleor/transaction-process-session/use-case-response.test.ts
  apps/stripe/src/app/api/stripe/webhook/transaction-event-report-variables-resolver.test.ts
  apps/stripe/src/app/api/stripe/webhook/use-case-success.test.ts
  apps/stripe/src/modules/stripe/stripe-api-error.ts
  apps/stripe/src/modules/transaction-result/request-result.ts
Labels: skip changeset, App Payment: Stripe

#1922 Add support for multiple refunds in Stripe
  apps/stripe/src/__tests__/mocks/mocked-stripe-refund-id.ts
  apps/stripe/src/__tests__/mocks/stripe-events/mocked-charge-refund-updated.ts
  apps/stripe/src/app/api/saleor/transaction-cancelation-requested/use-case-response.ts
  apps/stripe/src/app/api/saleor/transaction-charge-requested/use-case-response.ts
  apps/stripe/src/app/api/saleor/transaction-initialize-session/use-case-response.ts
  apps/stripe/src/app/api/saleor/transaction-process-session/use-case-response.ts
  apps/stripe/src/app/api/saleor/transaction-refund-requested/refund-failure.ts
  apps/stripe/src/app/api/saleor/transaction-refund-requested/use-case-response.test.ts
  apps/stripe/src/app/api/saleor/transaction-refund-requested/use-case-response.ts
  apps/stripe/src/app/api/saleor/transaction-refund-requested/use-case.test.ts
  apps/stripe/src/app/api/saleor/transaction-refund-requested/use-case.ts
  apps/stripe/src/app/api/stripe/webhook/stripe-object-handlers/stripe-refund-handler.test.ts
  apps/stripe/src/app/api/stripe/webhook/stripe-object-handlers/stripe-refund-handler.ts
  apps/stripe/src/app/api/stripe/webhook/transaction-event-report-variables-resolver.test.ts
  apps/stripe/src/app/api/stripe/webhook/transaction-event-report-variables-resolver.ts
  apps/stripe/src/app/api/stripe/webhook/use-case-success.test.ts
  apps/stripe/src/modules/saleor/transaction-event-reporter.test.ts
  apps/stripe/src/modules/saleor/transaction-event-reporter.ts
  apps/stripe/src/modules/stripe/generate-stripe-dashboard-urls.ts
  apps/stripe/src/modules/stripe/stripe-refund-id.ts
  apps/stripe/src/modules/transaction-result/refund-result.ts
Labels: skip changeset, App Payment: Stripe

#1924 Refactor transaction-result
  apps/stripe/src/__tests__/mocks/mocked-payment-intent-dashboard-url.ts
  apps/stripe/src/__tests__/mocks/mocked-refund-dashboard-url.ts
  apps/stripe/src/app/api/saleor/transaction-cancelation-requested/use-case-response.test.ts
  apps/stripe/src/app/api/saleor/transaction-cancelation-requested/use-case-response.ts
  apps/stripe/src/app/api/saleor/transaction-cancelation-requested/use-case.ts
  apps/stripe/src/app/api/saleor/transaction-charge-requested/use-case-response.test.ts
  apps/stripe/src/app/api/saleor/transaction-charge-requested/use-case-response.ts
  apps/stripe/src/app/api/saleor/transaction-charge-requested/use-case.ts
  apps/stripe/src/app/api/saleor/transaction-initialize-session/failure-result.ts
  apps/stripe/src/app/api/saleor/transaction-initialize-session/use-case-response.test.ts
  apps/stripe/src/app/api/saleor/transaction-initialize-session/use-case-response.ts
  apps/stripe/src/app/api/saleor/transaction-initialize-session/use-case.test.ts
  apps/stripe/src/app/api/saleor/transaction-initialize-session/use-case.ts
  apps/stripe/src/app/api/saleor/transaction-process-session/use-case-response.test.ts
  apps/stripe/src/app/api/saleor/transaction-process-session/use-case-response.ts
  apps/stripe/src/app/api/saleor/transaction-process-session/use-case.ts
  apps/stripe/src/app/api/saleor/transaction-refund-requested/refund-failure.ts
  apps/stripe/src/app/api/saleor/transaction-refund-requested/use-case-response.test.ts
  apps/stripe/src/app/api/saleor/transaction-refund-requested/use-case-response.ts
  apps/stripe/src/app/api/saleor/transaction-refund-requested/use-case.ts
  apps/stripe/src/app/api/stripe/webhook/stripe-object-handlers/stripe-payment-intent-handler.ts
  apps/stripe/src/app/api/stripe/webhook/stripe-object-handlers/stripe-refund-handler.ts
  apps/stripe/src/app/api/stripe/webhook/transaction-event-report-variables-resolver.test.ts
  apps/stripe/src/app/api/stripe/webhook/transaction-event-report-variables-resolver.ts
  apps/stripe/src/modules/transaction-result/action-required-result.test.ts
  apps/stripe/src/modules/transaction-result/action-required-result.ts
  apps/stripe/src/modules/transaction-result/cancel-result.ts
  apps/stripe/src/modules/transaction-result/failure-result.ts
  apps/stripe/src/modules/transaction-result/map-payment-intent-status-to-transaction-result.test.ts
  apps/stripe/src/modules/transaction-result/map-payment-intent-status-to-transaction-result.ts
  apps/stripe/src/modules/transaction-result/map-refund-status-to-transaction-result.test.ts
  apps/stripe/src/modules/transaction-result/map-refund-status-to-transaction-result.ts
  apps/stripe/src/modules/transaction-result/refund-result.ts
  apps/stripe/src/modules/transaction-result/request-result.ts
  apps/stripe/src/modules/transaction-result/success-result.ts
  apps/stripe/src/modules/transaction-result/types.ts
Labels: skip changeset, App Payment: Stripe

#1925 Run unit tests by default in stripe
  apps/stripe/package.json
Labels: skip changeset, App Payment: Stripe

#1920 Attach psp ref and order/checkout id to logger and span
  apps/stripe/generated/graphql.ts
  apps/stripe/graphql/fragments/source-object.graphql
  apps/stripe/graphql/subscriptions/transaction-cancelation-requested.graphql
  apps/stripe/graphql/subscriptions/transaction-charge-requested.graphql
  apps/stripe/graphql/subscriptions/transaction-refund-requested.graphql
  apps/stripe/src/__tests__/mocks/transaction-cancelation-request-event.ts
  apps/stripe/src/__tests__/mocks/transaction-charge-requested-event.ts
  apps/stripe/src/__tests__/mocks/transaction-initialize-session-event.ts
  apps/stripe/src/__tests__/mocks/transaction-process-session-event.ts
  apps/stripe/src/__tests__/mocks/transaction-refund-request-event.ts
  apps/stripe/src/app/api/manifest/route.test.ts
  apps/stripe/src/app/api/saleor/payment-gateway-initialize-session/route.ts
  apps/stripe/src/app/api/saleor/transaction-cancelation-requested/route.ts
  apps/stripe/src/app/api/saleor/transaction-cancelation-requested/use-case.ts
  apps/stripe/src/app/api/saleor/transaction-charge-requested/route.ts
  apps/stripe/src/app/api/saleor/transaction-charge-requested/use-case.ts
  apps/stripe/src/app/api/saleor/transaction-initialize-session/route.ts
  apps/stripe/src/app/api/saleor/transaction-initialize-session/use-case.ts
  apps/stripe/src/app/api/saleor/transaction-process-session/route.ts
  apps/stripe/src/app/api/saleor/transaction-process-session/use-case.ts
  apps/stripe/src/app/api/saleor/transaction-process-session/webhook-definition.ts
  apps/stripe/src/app/api/saleor/transaction-refund-requested/route.ts
  apps/stripe/src/app/api/saleor/transaction-refund-requested/use-case.ts
  apps/stripe/src/app/api/stripe/webhook/use-case.ts
  apps/stripe/src/lib/observability-source-object-id.ts
  packages/otel/src/observability-attributes.ts
Labels: skip changeset, App Payment: Stripe

#1926 Send idempotency key to Stripe when creating payment intent
  apps/stripe/generated/graphql.ts
  apps/stripe/graphql/subscriptions/transaction-initialize-session.graphql
  apps/stripe/src/__tests__/mocks/transaction-initialize-session-event.ts
  apps/stripe/src/app/api/manifest/route.test.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-initialize-session/use-case.test.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-initialize-session/use-case.ts
  apps/stripe/src/modules/stripe/stripe-payment-intents-api.ts
  apps/stripe/src/modules/stripe/types.ts
Labels: skip changeset, App Payment: Stripe

#1929 Rework logs
  apps/stripe/src/app/api/webhooks/saleor/payment-gateway-initialize-session/route.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-cancelation-requested/route.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-cancelation-requested/webhook-definition.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-charge-requested/route.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-charge-requested/webhook-definition.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-initialize-session/route.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-initialize-session/use-case.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-process-session/route.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-process-session/use-case.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-refund-requested/route.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-refund-requested/webhook-definition.ts
  apps/stripe/src/app/api/webhooks/stripe/route.ts
  apps/stripe/src/app/api/webhooks/stripe/use-case.ts
  apps/stripe/src/lib/env.ts
  apps/stripe/src/lib/tracing.ts
  apps/stripe/src/modules/transactions-recording/repositories/dynamodb/dynamodb-transaction-recorder-repo.ts
  packages/otel/src/observability-attributes.ts
Labels: skip changeset, App Payment: Stripe

#1930 Small fixes to Stripe UI
  apps/stripe/src/modules/ui/stripe-configs/empty-configs.tsx
  apps/stripe/src/pages/config/new.tsx
Labels: skip changeset, App Payment: Stripe

#1931 Update Stripe version & naming
  .github/workflows/stripe-integration-dynamodb.yml
  apps/stripe/CHANGELOG.md
  apps/stripe/eslint.config.js
  apps/stripe/package.json
  apps/stripe/src/lib/env.ts
  apps/stripe/src/modules/stripe/stripe-client.ts
  apps/stripe/turbo.json
  pnpm-lock.yaml
Labels: skip changeset, App Payment: Stripe

#1933 Freeze Stripe API version to the latest available
  apps/stripe/src/modules/stripe/stripe-api-version.ts
  apps/stripe/src/modules/stripe/stripe-client.ts
  apps/stripe/src/modules/stripe/stripe-webhook-manager.test.ts
  apps/stripe/src/modules/stripe/stripe-webhook-manager.ts
Labels: skip changeset, App Payment: Stripe

#1932 MCP support
  .cursor/mcp.json
  .gitignore
  .vscode/mcp.json
  README.md
  mcp/.env.example
  mcp/start-mcp-graphql.sh
Labels: skip changeset

#1936 support google pay
  README.md
  apps/stripe/src/app/api/manifest/route.test.ts
  apps/stripe/src/app/api/manifest/route.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-initialize-session/event-data-parser.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-initialize-session/payment-method-resolver.ts
  apps/stripe/src/lib/env.ts
  apps/stripe/src/modules/stripe/payment-methods/google-pay.test.ts
  apps/stripe/src/modules/stripe/payment-methods/google-pay.ts
  apps/stripe/turbo.json
  cspell.config.js
Labels: skip changeset, App Payment: Stripe

#1939 Improve Stripe app UI
  apps/stripe/src/modules/ui/app-header.tsx
  apps/stripe/src/modules/ui/channel-configs/channel-config-mapping-section.tsx
  apps/stripe/src/modules/ui/stripe-configs/channel-config-section.tsx
  apps/stripe/src/modules/ui/stripe-configs/delete-configuration-modal-content.tsx
  apps/stripe/src/modules/ui/stripe-configs/empty-configs.tsx
  apps/stripe/src/modules/ui/stripe-configs/new-stripe-config-form.tsx
  apps/stripe/src/modules/ui/stripe-configs/stripe-configs-list.tsx
  apps/stripe/src/pages/config/index.tsx
  apps/stripe/src/pages/config/new.tsx
Labels: skip changeset, App Payment: Stripe

#1942 AppContext and verbose logging
  apps/stripe/src/app/api/webhooks/saleor/payment-gateway-initialize-session/route.ts
  apps/stripe/src/app/api/webhooks/saleor/payment-gateway-initialize-session/use-case-response.test.ts
  apps/stripe/src/app/api/webhooks/saleor/payment-gateway-initialize-session/use-case-response.ts
  apps/stripe/src/app/api/webhooks/saleor/payment-gateway-initialize-session/use-case.test.ts
  apps/stripe/src/app/api/webhooks/saleor/payment-gateway-initialize-session/use-case.ts
  apps/stripe/src/app/api/webhooks/saleor/response-message-formatter.test.ts
  apps/stripe/src/app/api/webhooks/saleor/response-message-formatter.ts
  apps/stripe/src/app/api/webhooks/saleor/saleor-webhook-response-schema.test.ts
  apps/stripe/src/app/api/webhooks/saleor/saleor-webhook-response-schema.ts
  apps/stripe/src/app/api/webhooks/saleor/saleor-webhook-responses.test.ts
  apps/stripe/src/app/api/webhooks/saleor/saleor-webhook-responses.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-cancelation-requested/route.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-cancelation-requested/use-case-response.test.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-cancelation-requested/use-case-response.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-cancelation-requested/use-case.test.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-cancelation-requested/use-case.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-charge-requested/route.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-charge-requested/use-case-response.test.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-charge-requested/use-case-response.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-charge-requested/use-case.test.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-charge-requested/use-case.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-initialize-session/route.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-initialize-session/use-case-response.test.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-initialize-session/use-case-response.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-initialize-session/use-case.test.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-initialize-session/use-case.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-process-session/route.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-process-session/use-case-response.test.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-process-session/use-case-response.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-process-session/use-case.test.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-process-session/use-case.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-refund-requested/route.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-refund-requested/use-case-response.test.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-refund-requested/use-case-response.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-refund-requested/use-case.test.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-refund-requested/use-case.ts
  apps/stripe/src/app/api/webhooks/stripe/use-case-success.test.ts
  apps/stripe/src/app/api/webhooks/stripe/use-case.ts
  apps/stripe/src/lib/app-context.ts
  apps/stripe/src/modules/saleor/saleor-webhook-responses.test.ts
Labels: skip changeset, App Payment: Stripe

#1945 send metadata to stripe
  apps/stripe/src/app/api/webhooks/saleor/transaction-initialize-session/use-case.test.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-initialize-session/use-case.ts
  apps/stripe/src/modules/stripe/stripe-payment-intents-api.test.ts
  apps/stripe/src/modules/stripe/stripe-payment-intents-api.ts
  apps/stripe/src/modules/stripe/types.ts
Labels: skip changeset, App Payment: Stripe

#1944 Loosen eslint for tests
  apps/stripe/eslint.config.js
  apps/stripe/src/__tests__/integration/dynamodb/create-table.ts
  apps/stripe/src/__tests__/integration/dynamodb/delete-table.ts
  apps/stripe/src/__tests__/integration/dynamodb/global-setup.integration-dynamo.ts
  apps/stripe/src/__tests__/integration/dynamodb/setup.integration-dynamo.ts
  apps/stripe/src/__tests__/setup.units.ts
  packages/eslint-config/index.js
Labels: skip changeset, App Payment: Stripe

#1935 Bump to 3.21
  apps/stripe/generated/graphql.ts
  apps/stripe/graphql.config.ts
  apps/stripe/graphql/schema.graphql
  apps/stripe/package.json
  apps/stripe/src/app/api/manifest/route.test.ts
  apps/stripe/src/app/api/manifest/route.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-cancelation-requested/use-case-response.test.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-cancelation-requested/use-case-response.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-cancelation-requested/use-case.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-charge-requested/use-case-response.test.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-charge-requested/use-case-response.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-charge-requested/use-case.test.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-charge-requested/use-case.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-initialize-session/use-case-response.test.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-initialize-session/use-case-response.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-initialize-session/use-case.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-process-session/use-case-response.test.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-process-session/use-case-response.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-process-session/use-case.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-refund-requested/use-case-response.test.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-refund-requested/use-case-response.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-refund-requested/use-case.test.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-refund-requested/use-case.ts
  apps/stripe/src/modules/saleor/transaction-requested-event-helpers.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: skip changeset, App Payment: Stripe

#1948 Dont throw if stripe ids format is unexpected
  .changeset/ninety-pianos-shave.md
  apps/stripe/src/modules/app-config/trpc-handlers/new-stripe-config-input-schema.test.ts
  apps/stripe/src/modules/app-config/trpc-handlers/new-stripe-config-input-schema.ts
  apps/stripe/src/modules/stripe/stripe-payment-intent-id.test.ts
  apps/stripe/src/modules/stripe/stripe-payment-intent-id.ts
  apps/stripe/src/modules/stripe/stripe-publishable-key.test.ts
  apps/stripe/src/modules/stripe/stripe-publishable-key.ts
  apps/stripe/src/modules/stripe/stripe-refund-id.ts
  apps/stripe/src/modules/stripe/stripe-restricted-key.test.ts
  apps/stripe/src/modules/stripe/stripe-restricted-key.ts
  apps/stripe/src/modules/stripe/stripe-webhook-secret.test.ts
  apps/stripe/src/modules/stripe/stripe-webhook-secret.ts
  apps/stripe/src/pages/config/new.tsx
  cspell.config.js
Labels: App Payment: Stripe

#1949 🚀 Release apps
  .changeset/ninety-pianos-shave.md
  apps/stripe/CHANGELOG.md
  apps/stripe/package.json
Labels: App Payment: Stripe

#1953 Update apps readme with new link to Stripe
  README.md
Labels: skip changeset

#1954 Wrap DynamoDB building command in try/catch for improved error handling
  .changeset/fast-owls-decide.md
  apps/stripe/src/modules/app-config/repositories/dynamodb/dynamodb-app-config-repo.ts
Labels: App Payment: Stripe

#1957 Changed Avatax logs verbosity
  .changeset/afraid-items-rhyme.md
  apps/avatax/src/lib/app-configuration-logger.test.ts
  apps/avatax/src/lib/app-configuration-logger.ts
  apps/avatax/src/modules/avatax/avatax-calculation-date-resolver.ts
  apps/avatax/src/modules/avatax/avatax-customer-code-resolver.ts
  apps/avatax/src/modules/avatax/calculate-taxes/avatax-calculate-taxes-payload-transformer.ts
  apps/avatax/src/modules/avatax/calculate-taxes/avatax-calculate-taxes-response-lines-transformer.ts
  apps/avatax/src/modules/avatax/calculate-taxes/avatax-calculate-taxes-response-shipping-transformer.ts
  apps/avatax/src/modules/avatax/order-confirmed/avatax-order-confirmed-payload-transformer.ts
  apps/avatax/src/modules/avatax/order-confirmed/avatax-order-confirmed-tax-code-matcher.ts
  apps/avatax/src/modules/calculate-taxes/use-case/calculate-taxes.use-case.ts
Labels: App: AvaTax

#1960 fix validation when creating conifg
  .changeset/spotty-zebras-agree.md
  apps/stripe/src/modules/app-config/trpc-handlers/new-stripe-config-input-schema.test.ts
  apps/stripe/src/modules/app-config/trpc-handlers/new-stripe-config-input-schema.ts
Labels: App Payment: Stripe

#1962 Add observability attributes for Sentry / logs
  .changeset/red-donkeys-remain.md
  apps/stripe/src/app/api/webhooks/saleor/payment-gateway-initialize-session/route.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-cancelation-requested/route.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-charge-requested/route.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-initialize-session/route.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-process-session/route.ts
  apps/stripe/src/app/api/webhooks/saleor/transaction-refund-requested/route.ts
  apps/stripe/src/app/api/webhooks/stripe/route.ts
  apps/stripe/src/lib/observability-saleor-api-url.ts
  apps/stripe/src/lib/observability-source-object-id.ts
Labels: App Payment: Stripe

#1966 Add Zod branded types ADR
  adr/0002-use-zod-branded-types.md
Labels: skip changeset
