Repository saleor/apps, pull requests merged in 2025-03, with the labels that each got.

#1749 update `.env.example` to contain ALLOWED_DOMAIN_URL described
  apps/avatax/.env.example
  apps/cms/.env.example
  apps/klaviyo/.env.example
  apps/products-feed/.env.example
  apps/search/.env.example
  apps/segment/.env.example
  apps/smtp/.env.example
Labels: App: Search, App: Klaviyo, App: CMS, App: Product Feed, App: Segment, skip changeset, App: AvaTax, App: SMTP

#1750 Use `@vercel/otel` to setup OTEL
  .changeset/ninety-eyes-call.md
  .changeset/tasty-rules-boil.md
  apps/avatax/package.json
  apps/avatax/src/instrumentation.ts
  apps/avatax/src/instrumentations/otel.ts
  apps/avatax/src/lib/app-root-tracer.ts
  apps/avatax/src/otel-instrumentation.node.ts
  apps/cms/package.json
  apps/cms/src/instrumentation.ts
  apps/cms/src/instrumentations/otel.ts
  apps/cms/src/modules/otel/app-root-tracer.ts
  apps/cms/src/otel-instrumentation.node.ts
  apps/cms/tsconfig.json
  apps/klaviyo/package.json
  apps/klaviyo/src/instrumentation.ts
  apps/klaviyo/src/instrumentations/otel.ts
  apps/klaviyo/src/lib/app-root-tracer.ts
  apps/klaviyo/src/otel-instrumentation.node.ts
  apps/klaviyo/tsconfig.json
  apps/products-feed/package.json
  apps/products-feed/src/instrumentation.ts
  apps/products-feed/src/instrumentations/otel.ts
  apps/products-feed/src/lib/app-root-tracer.ts
  apps/products-feed/src/otel-instrumentation.node.ts
  apps/products-feed/tsconfig.json
  apps/search/package.json
  apps/search/src/instrumentation.ts
  apps/search/src/instrumentations/otel.ts
  apps/search/src/lib/app-root-tracer.ts
  apps/search/src/otel-instrumentation.node.ts
  apps/search/tsconfig.json
  apps/segment/package.json
  apps/segment/src/instrumentation.ts
  apps/segment/src/instrumentations/otel.ts
  apps/segment/src/lib/app-root-tracer.ts
  apps/segment/src/otel-instrumentation.node.ts
  apps/smtp/package.json
  apps/smtp/src/instrumentation.ts
  apps/smtp/src/instrumentations/otel.ts
  apps/smtp/src/lib/app-root-tracer.ts
  apps/smtp/src/otel-instrumentation.node.ts
  apps/smtp/tsconfig.json
  package.json
  packages/otel/src/batch-span-processor-factory.ts
  packages/otel/src/http-instrumentation-factory.ts
  packages/otel/src/resource-factory.ts
  patches/@opentelemetry__otlp-transformer@0.45.1.patch
  patches/@opentelemetry__otlp-transformer@0.46.0.patch
  pnpm-lock.yaml
Labels: App: Search, App: Klaviyo, App: CMS, App: Product Feed, App: Segment, App: AvaTax, App: SMTP

#1756 Remove urql hooks from codegen
  apps/avatax/.graphqlrc.ts
  apps/avatax/generated/graphql.ts
  apps/cms/.graphqlrc.yml
  apps/cms/generated/graphql.ts
  apps/klaviyo/.graphqlrc.yml
  apps/klaviyo/generated/graphql.ts
  apps/products-feed/.graphqlrc.yml
  apps/products-feed/generated/graphql.ts
  apps/search/.graphqlrc.yml
  apps/search/generated/graphql.ts
  apps/segment/.graphqlrc.ts
  apps/segment/generated/graphql.ts
  apps/smtp/.graphqlrc.yml
  apps/smtp/generated/graphql.ts
Labels: App: Search, App: Klaviyo, App: CMS, App: Product Feed, App: Segment, skip changeset, App: AvaTax, App: SMTP

#1742 🚀 Release apps
  .changeset/brave-crabs-reflect.md
  .changeset/bright-sloths-tie.md
  .changeset/neat-cherries-check.md
  .changeset/ninety-eyes-call.md
  .changeset/orange-rings-tease.md
  .changeset/poor-cameras-stare.md
  .changeset/rich-dogs-push.md
  .changeset/sharp-peaches-push.md
  .changeset/tasty-rules-boil.md
  apps/avatax/CHANGELOG.md
  apps/avatax/package.json
  apps/cms/CHANGELOG.md
  apps/cms/package.json
  apps/klaviyo/CHANGELOG.md
  apps/klaviyo/package.json
  apps/products-feed/CHANGELOG.md
  apps/products-feed/package.json
  apps/search/CHANGELOG.md
  apps/search/package.json
  apps/segment/CHANGELOG.md
  apps/segment/package.json
  apps/smtp/CHANGELOG.md
  apps/smtp/package.json
  packages/logger/CHANGELOG.md
  packages/logger/package.json
  packages/otel/CHANGELOG.md
  packages/otel/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
  packages/trpc/CHANGELOG.md
  packages/trpc/package.json
Labels: App: Search, App: Klaviyo, App: CMS, App: Product Feed, App: Segment, App: AvaTax, run e2e, App: SMTP

#1759 Sort package.json keys with sort-package-json
  apps/avatax/package.json
  apps/cms/package.json
  apps/klaviyo/package.json
  apps/products-feed/package.json
  apps/search/package.json
  apps/segment/package.json
  apps/smtp/package.json
  package.json
  packages/e2e/package.json
  packages/eslint-config-saleor/package.json
  packages/logger/package.json
  packages/otel/package.json
  packages/react-hook-form-macaw/package.json
  packages/sentry-utils/package.json
  packages/shared/package.json
  packages/trpc/package.json
  packages/ui/package.json
  packages/webhook-utils/package.json
  pnpm-lock.yaml
Labels: App: Search, App: Klaviyo, App: CMS, App: Product Feed, App: Segment, skip changeset, App: AvaTax, App: SMTP

#1758 Add AWS instrumentation for DynamoDB and disable HTTP instrumentation for Sentry requests
  .changeset/little-bottles-battle.md
  .changeset/lovely-zoos-grab.md
  apps/avatax/src/instrumentations/otel-node.ts
  apps/segment/src/instrumentations/otel-node.ts
  package.json
  packages/otel/package.json
  packages/otel/src/aws-instrumentation-factory.ts
  packages/otel/src/http-instrumentation-factory.ts
  packages/otel/src/otel-urql-exchange-factory.ts
  pnpm-lock.yaml
Labels: App: Segment, App: AvaTax

#1761 Run e2e on latest version
  .github/workflows/e2e.yml
Labels: skip changeset

#1748 Fix discord link
  README.md
Labels: skip changeset

#1764 Refactor AvaTax client to use nevethrow
  .changeset/small-moles-tell.md
  apps/avatax/src/modules/avatax/avatax-client-tax-code.service.test.ts
  apps/avatax/src/modules/avatax/avatax-client-tax-code.service.ts
  apps/avatax/src/modules/avatax/avatax-client.ts
  apps/avatax/src/modules/avatax/avatax-entity-type-matcher.test.ts
  apps/avatax/src/modules/avatax/avatax-entity-type-matcher.ts
  apps/avatax/src/modules/avatax/avatax-errors-parser.ts
  apps/avatax/src/modules/avatax/calculate-taxes/avatax-calculate-taxes-adapter.ts
  apps/avatax/src/modules/avatax/calculate-taxes/avatax-calculate-taxes-payload-transformer.test.ts
  apps/avatax/src/modules/avatax/configuration/avatax-address-validation.service.ts
  apps/avatax/src/modules/avatax/configuration/avatax-auth-validation.service.ts
  apps/avatax/src/modules/avatax/order-cancelled/avatax-order-cancelled-adapter.test.ts
  apps/avatax/src/modules/avatax/order-cancelled/avatax-order-cancelled-adapter.ts
  apps/avatax/src/modules/avatax/order-confirmed/avatax-order-confirmed-adapter.ts
  apps/avatax/src/modules/avatax/tax-code/avatax-tax-codes.service.ts
  apps/avatax/src/modules/calculate-taxes/use-case/calculate-taxes.use-case.test.ts
  apps/avatax/src/modules/taxes/tax-error.ts
Labels: App: AvaTax

#1763 Add custom spans to AvaTax app
  .changeset/witty-fishes-tell.md
  apps/avatax/src/lib/app-internal-tracer.ts
  apps/avatax/src/lib/app-root-tracer.ts
  apps/avatax/src/lib/create-instrumented-graphql-client.ts
  apps/avatax/src/modules/avatax/avatax-client.ts
  apps/avatax/src/modules/calculate-taxes/use-case/calculate-taxes.use-case.test.ts
  apps/avatax/src/modules/calculate-taxes/use-case/calculate-taxes.use-case.ts
  apps/avatax/src/modules/client-logs/calculate-taxes-log-request.ts
  apps/avatax/src/modules/client-logs/order-cancelled-log-request.ts
  apps/avatax/src/modules/client-logs/order-confirmed-log-request.ts
  apps/avatax/src/pages/api/webhooks/checkout-calculate-taxes.ts
  apps/avatax/src/pages/api/webhooks/order-calculate-taxes.ts
  apps/avatax/src/pages/api/webhooks/order-cancelled.ts
  apps/avatax/src/pages/api/webhooks/order-confirmed.ts
Labels: App: AvaTax

#1769 Cleanup AvaTax client logs
  .changeset/cold-clouds-search.md
  apps/avatax/generated/graphql.ts
  apps/avatax/graphql/fragments/TaxBase.graphql
  apps/avatax/src/modules/avatax/calculate-taxes/avatax-calculate-taxes-mock-generator.ts
  apps/avatax/src/modules/calculate-taxes/use-case/calculate-taxes.use-case.test.ts
  apps/avatax/src/modules/calculate-taxes/use-case/calculate-taxes.use-case.ts
  apps/avatax/src/modules/client-logs/calculate-taxes-log-request.ts
  apps/avatax/src/modules/client-logs/dynamo-schema.ts
  apps/avatax/src/modules/client-logs/logs-repository.test.ts
  apps/avatax/src/modules/client-logs/order-cancelled-log-request.ts
  apps/avatax/src/modules/client-logs/order-confirmed-log-request.ts
  apps/avatax/src/modules/webhooks/validate-webhook-payload.test.ts
  apps/avatax/src/pages/api/webhooks/order-calculate-taxes.ts
  apps/avatax/src/pages/api/webhooks/order-cancelled.ts
  apps/avatax/src/pages/api/webhooks/order-confirmed.ts
Labels: App: AvaTax

#1760 🚀 Release apps
  .changeset/cold-clouds-search.md
  .changeset/little-bottles-battle.md
  .changeset/lovely-zoos-grab.md
  .changeset/small-moles-tell.md
  .changeset/witty-fishes-tell.md
  apps/avatax/CHANGELOG.md
  apps/avatax/package.json
  apps/cms/CHANGELOG.md
  apps/cms/package.json
  apps/klaviyo/CHANGELOG.md
  apps/klaviyo/package.json
  apps/products-feed/CHANGELOG.md
  apps/products-feed/package.json
  apps/search/CHANGELOG.md
  apps/search/package.json
  apps/segment/CHANGELOG.md
  apps/segment/package.json
  apps/smtp/CHANGELOG.md
  apps/smtp/package.json
  packages/otel/CHANGELOG.md
  packages/otel/package.json
Labels: App: Search, App: Klaviyo, App: CMS, App: Product Feed, App: Segment, App: AvaTax, run e2e, App: SMTP

#1767 Update turborepo
  .eslintignore
  apps/avatax/.eslintrc.cjs
  apps/avatax/turbo.json
  apps/cms/.eslintrc.cjs
  apps/cms/turbo.json
  apps/klaviyo/.eslintrc.cjs
  apps/klaviyo/turbo.json
  apps/products-feed/.eslintrc.cjs
  apps/products-feed/turbo.json
  apps/search/.eslintrc.cjs
  apps/search/turbo.json
  apps/segment/.eslintrc.cjs
  apps/segment/turbo.json
  apps/smtp/.eslintrc.cjs
  apps/smtp/turbo.json
  package.json
  packages/e2e/turbo.json
  packages/eslint-config-saleor/package.json
  packages/logger/.eslintrc.cjs
  packages/otel/turbo.json
  packages/sentry-utils/turbo.json
  packages/shared/.eslintrc.cjs
  packages/trpc/turbo.json
  packages/webhook-utils/.eslintrc.cjs
  pnpm-lock.yaml
  turbo.json
Labels: App: Search, App: Klaviyo, App: CMS, App: Product Feed, App: Segment, skip changeset, App: AvaTax, App: SMTP

#1771 Update PNPM to 10.6.3
  .cspell.json
  .devcontainer/avatax/Dockerfile
  .devcontainer/cms/Dockerfile
  .devcontainer/klaviyo/Dockerfile
  .devcontainer/products-feed/Dockerfile
  .devcontainer/search/Dockerfile
  .devcontainer/segment/Dockerfile
  .devcontainer/smtp/Dockerfile
  README.md
  package.json
Labels: skip changeset

#1772 Add missing env vars to turbo configuration
  turbo.json
Labels: skip changeset

#1773 Fix broken deps after PNPM update
  .changeset/lucky-years-develop.md
  apps/avatax/package.json
  apps/cms/package.json
  apps/klaviyo/package.json
  apps/products-feed/package.json
  apps/search/package.json
  apps/segment/package.json
  apps/smtp/package.json
  package.json
  packages/e2e/package.json
  packages/eslint-config-saleor/package.json
  packages/logger/package.json
  packages/otel/package.json
  packages/react-hook-form-macaw/package.json
  packages/sentry-utils/package.json
  packages/shared/package.json
  packages/trpc/package.json
  packages/ui/package.json
  packages/webhook-utils/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: App: Search, App: Klaviyo, App: CMS, App: Product Feed, App: Segment, App: AvaTax, App: SMTP

#1770 Fix require logger in AvaTax app
  .changeset/lovely-ravens-rest.md
  apps/avatax/src/logger.ts
Labels: App: AvaTax

#1779 Fix broken changeset
  .changeset/lucky-years-develop.md
Labels: skip changeset

#1765 Improve OTEL provider GitHub integration
  .changeset/plenty-pets-pull.md
  .changeset/tame-weeks-warn.md
  apps/avatax/src/env.ts
  apps/avatax/src/instrumentations/otel-node.ts
  apps/cms/src/instrumentations/otel-node.ts
  apps/klaviyo/src/instrumentations/otel-node.ts
  apps/products-feed/src/instrumentations/otel-node.ts
  apps/search/src/instrumentations/otel-node.ts
  apps/segment/src/env.ts
  apps/segment/src/instrumentations/otel-node.ts
  apps/smtp/src/instrumentations/otel-node.ts
  packages/otel/src/observability-attributes.ts
  turbo.json
Labels: App: Search, App: Klaviyo, App: CMS, App: Product Feed, App: Segment, App: AvaTax, App: SMTP

#1777 🚀 Release apps
  .changeset/lovely-ravens-rest.md
  .changeset/lucky-years-develop.md
  .changeset/neat-cougars-cross.md
  .changeset/plenty-pets-pull.md
  .changeset/tame-weeks-warn.md
  apps/avatax/CHANGELOG.md
  apps/avatax/package.json
  apps/cms/CHANGELOG.md
  apps/cms/package.json
  apps/klaviyo/CHANGELOG.md
  apps/klaviyo/package.json
  apps/products-feed/CHANGELOG.md
  apps/products-feed/package.json
  apps/search/CHANGELOG.md
  apps/search/package.json
  apps/segment/CHANGELOG.md
  apps/segment/package.json
  apps/smtp/CHANGELOG.md
  apps/smtp/package.json
  packages/e2e/CHANGELOG.md
  packages/e2e/package.json
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
  packages/logger/CHANGELOG.md
  packages/logger/package.json
  packages/otel/CHANGELOG.md
  packages/otel/package.json
  packages/react-hook-form-macaw/CHANGELOG.md
  packages/react-hook-form-macaw/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
  packages/trpc/CHANGELOG.md
  packages/trpc/package.json
  packages/typescript-config/CHANGELOG.md
  packages/typescript-config/package.json
  packages/ui/CHANGELOG.md
  packages/ui/package.json
  packages/webhook-utils/CHANGELOG.md
  packages/webhook-utils/package.json
Labels: App: Search, App: Klaviyo, App: CMS, App: Product Feed, App: Segment, App: AvaTax, run e2e, App: SMTP

#1780 Fix AvaTax lint issues
  apps/avatax/.eslintrc.cjs
  apps/avatax/src/modules/app/get-app-config.test.ts
  apps/avatax/src/modules/avatax/address-factory.test.ts
  apps/avatax/src/modules/avatax/avatax-calculation-date-resolver.test.ts
  apps/avatax/src/modules/avatax/avatax-obfuscator.test.ts
  apps/avatax/src/modules/avatax/calculate-taxes/avatax-calculate-taxes-payload-lines-transformer.test.ts
  apps/avatax/src/modules/avatax/calculate-taxes/avatax-calculate-taxes-payload-lines-transformer.ts
  apps/avatax/src/modules/avatax/calculate-taxes/avatax-calculate-taxes-payload-transformer.test.ts
  apps/avatax/src/modules/avatax/calculate-taxes/avatax-calculate-taxes-payload-transformer.ts
  apps/avatax/src/modules/avatax/calculate-taxes/avatax-calculate-taxes-payload.service.ts
  apps/avatax/src/modules/avatax/calculate-taxes/avatax-calculate-taxes-response-lines-transformer.test.ts
  apps/avatax/src/modules/avatax/calculate-taxes/avatax-calculate-taxes-response-shipping-transformer.test.ts
  apps/avatax/src/modules/avatax/calculate-taxes/avatax-calculate-taxes-tax-code-matcher.test.ts
  apps/avatax/src/modules/avatax/calculate-taxes/avatax-product-line-calculate-taxes-factory.test.ts
  apps/avatax/src/modules/avatax/calculate-taxes/extract-rate-from-tax-details.test.ts
  apps/avatax/src/modules/avatax/order-cancelled/avatax-order-cancelled-adapter.test.ts
  apps/avatax/src/modules/avatax/order-cancelled/avatax-order-cancelled-adapter.ts
  apps/avatax/src/modules/avatax/order-cancelled/avatax-order-cancelled-payload-transformer.test.ts
  apps/avatax/src/modules/avatax/order-confirmed/avatax-order-confirmed-adapter-factory.ts
  apps/avatax/src/modules/avatax/order-confirmed/avatax-order-confirmed-adapter.ts
  apps/avatax/src/modules/avatax/order-confirmed/avatax-order-confirmed-payload-transformer.test.ts
  apps/avatax/src/modules/avatax/order-confirmed/avatax-order-confirmed-payload-transformer.ts
  apps/avatax/src/modules/avatax/order-confirmed/avatax-order-confirmed-payload.service.ts
  apps/avatax/src/modules/avatax/order-confirmed/avatax-order-confirmed-response-transformer.test.ts
  apps/avatax/src/modules/avatax/order-confirmed/avatax-order-confirmed-tax-code-matcher.test.ts
  apps/avatax/src/modules/avatax/ui/avatax-address-resolution-processor.test.ts
  apps/avatax/src/modules/calculate-taxes/use-case/calculate-taxes.use-case.ts
  apps/avatax/src/modules/channel-configuration/channel-configuration-merger.test.ts
  apps/avatax/src/modules/client-logs/client-log.test.ts
  apps/avatax/src/modules/client-logs/dynamo-schema.test.ts
  apps/avatax/src/modules/client-logs/log-transformer.test.ts
  apps/avatax/src/modules/crud-settings/crud-settings.service.test.ts
  apps/avatax/src/modules/saleor/order-confirmed/event.test.ts
  apps/avatax/src/modules/taxes/tax-webhook-adapter.ts
  apps/avatax/src/pages/api/webhooks/order-calculate-taxes.ts
  apps/avatax/src/pages/api/webhooks/order-cancelled.ts
  apps/avatax/src/pages/api/webhooks/order-confirmed.ts
Labels: skip changeset, App: AvaTax

#1787 Fix lint issues for `packages/*`
  packages/e2e/.eslintrc.cjs
  packages/logger/.eslintrc.cjs
  packages/otel/.eslintrc.cjs
  packages/react-hook-form-macaw/.eslintrc.cjs
  packages/sentry-utils/.eslintrc.cjs
  packages/shared/.eslintrc.cjs
  packages/shared/src/metadata-manager.ts
  packages/trpc/.eslintrc.cjs
  packages/trpc/src/http-batch-link.ts
  packages/ui/.eslintrc.cjs
  packages/ui/src/text-link.tsx
  packages/webhook-utils/.eslintrc.cjs
Labels: skip changeset

#1784 Fix lint issues for CMS / Klaviyo app & enable saleor-app/logger-leak rule for AvaTax
  apps/avatax/.eslintrc.cjs
  apps/cms/.eslintrc.cjs
  apps/cms/next.config.js
  apps/cms/src/modules/configuration/app-config.test.ts
  apps/cms/src/modules/providers/contentful/contentful-client.test.ts
  apps/cms/src/modules/providers/fields-mapper.test.ts
  apps/cms/src/modules/trpc/trpc-client.ts
  apps/klaviyo/.eslintrc.cjs
  apps/klaviyo/src/hooks/useAppApi.ts
  apps/klaviyo/src/lib/metadata.ts
Labels: App: Klaviyo, App: CMS, skip changeset, App: AvaTax

#1786 Fix lint issues for segment & smtp apps
  apps/segment/.eslintrc.cjs
  apps/smtp/.eslintrc.cjs
  apps/smtp/src/lib/fetch-app-permissions.ts
  apps/smtp/src/lib/get-event-form-status.test.ts
  apps/smtp/src/modules/app-configuration/filter-configurations.test.ts
  apps/smtp/src/modules/channels/is-available-in-channel.test.ts
  apps/smtp/src/modules/feature-flag-service/feature-flag-service.test.ts
  apps/smtp/src/modules/feature-flag-service/feature-flag-service.ts
  apps/smtp/src/modules/feature-flag-service/get-feature-flags.test.ts
  apps/smtp/src/modules/smtp/configuration/smtp-configuration.service.test.ts
  apps/smtp/src/modules/smtp/configuration/smtp-metadata-manager.test.ts
  apps/smtp/src/modules/smtp/services/email-compiler.test.ts
  apps/smtp/src/modules/smtp/services/handlebars-template-compiler.test.ts
  apps/smtp/src/modules/smtp/services/handlebars-template-compiler.ts
  apps/smtp/src/modules/smtp/services/html-to-text-compiler.test.ts
  apps/smtp/src/modules/smtp/ui/code-editor.tsx
  apps/smtp/src/modules/trpc/trpc-client.ts
  apps/smtp/src/modules/webhook-management/api-operations.ts
  apps/smtp/src/pages/configuration/smtp/[configurationId].tsx
  apps/smtp/src/pages/configuration/smtp/[configurationId]/event/[eventType].tsx
Labels: App: Segment, skip changeset, App: SMTP

#1785 Fix lint issues for products-feed & search apps
  apps/products-feed/.eslintrc.cjs
  apps/products-feed/scripts/migrations/migration-logger.ts
  apps/products-feed/scripts/migrations/migration-utils.ts
  apps/products-feed/scripts/migrations/run-webhooks-migration-dry-run.ts
  apps/products-feed/scripts/migrations/run-webhooks-migration.ts
  apps/products-feed/scripts/migrations/update-webhooks.ts
  apps/products-feed/src/modules/app-configuration/app-config.test.ts
  apps/products-feed/src/modules/app-configuration/app-config.ts
  apps/products-feed/src/modules/category-mapping/categories-fetcher.test.ts
  apps/products-feed/src/modules/category-mapping/category-mapping.router.ts
  apps/products-feed/src/modules/feed-url/use-get-feed-api-url.test.tsx
  apps/products-feed/src/modules/google-feed/fetch-product-data.test.ts
  apps/products-feed/src/modules/google-feed/fetch-shop-data.ts
  apps/products-feed/src/modules/google-feed/generate-google-xml-feed.ts
  apps/products-feed/src/modules/google-feed/product-to-proxy.test.ts
  apps/products-feed/src/modules/handlebarsTemplates/render-handlebars-template.ts
  apps/products-feed/src/pages/index.tsx
  apps/search/.eslintrc.cjs
  apps/search/scripts/migrations/migration-logger.ts
  apps/search/scripts/migrations/migration-utils.ts
  apps/search/scripts/migrations/run-webhooks-migration-dry-run.ts
  apps/search/scripts/migrations/run-webhooks-migration.ts
  apps/search/scripts/migrations/update-webhooks.ts
  apps/search/src/components/ImportProductsToAlgolia/useAlgoliaConfiguration.test.ts
  apps/search/src/domain/WebhookActivityToggler.service.ts
  apps/search/src/lib/algolia/algoliaUtils.test.ts
  apps/search/src/lib/algolia/metadata-to-algolia-attribute.test.ts
  apps/search/src/lib/useWebhooksStatus.tsx
  apps/search/src/modules/trpc/trpc-client.ts
Labels: App: Search, App: Product Feed, skip changeset

#1790 Cleanup monorepo deps
  .changeset/sweet-hairs-bow.md
  apps/avatax/package.json
  apps/avatax/src/pages/_app.tsx
  apps/cms/package.json
  apps/klaviyo/package.json
  apps/products-feed/package.json
  apps/search/package.json
  apps/segment/next.config.js
  apps/segment/package.json
  apps/smtp/package.json
  package.json
  packages/e2e/package.json
  packages/eslint-config/package.json
  packages/logger/package.json
  packages/otel/package.json
  packages/react-hook-form-macaw/package.json
  packages/shared/package.json
  packages/trpc/package.json
  packages/ui/package.json
  packages/webhook-utils/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: App: Search, App: Klaviyo, App: CMS, App: Product Feed, App: Segment, App: AvaTax, App: SMTP

#1791 Cleanup eslint rules
  apps/avatax/.eslintrc.cjs
  apps/avatax/e2e/tests/checkout_address_change.spec.ts
  apps/avatax/e2e/tests/checkout_basic_product_with_tax_code.spec.ts
  apps/avatax/e2e/tests/checkout_with_click_and_collect.spec.ts
  apps/avatax/e2e/tests/checkout_with_customer_metadata.spec.ts
  apps/avatax/e2e/tests/draft_order_basic.spec.ts
  apps/avatax/next.config.js
  apps/avatax/package.json
  apps/avatax/scripts/migration-logger.ts
  apps/avatax/src/env.ts
  apps/avatax/src/instrumentation.ts
  apps/avatax/vitest.workspace.ts
  apps/cms/.eslintrc.cjs
  apps/klaviyo/.eslintrc.cjs
  apps/products-feed/.eslintrc.cjs
  apps/products-feed/scripts/migrations/migration-logger.ts
  apps/search/.eslintrc.cjs
  apps/search/scripts/migrations/migration-logger.ts
  apps/search/src/lib/logger.ts
  apps/segment/.eslintrc.cjs
  apps/segment/next.config.js
  apps/segment/package.json
  apps/segment/scripts/migration-logger.ts
  apps/segment/src/env.ts
  apps/segment/src/instrumentation.ts
  apps/smtp/.eslintrc.cjs
  packages/e2e/.eslintrc.cjs
  packages/e2e/playwright.config.ts
  packages/eslint-config/index.cjs
  packages/logger/.eslintrc.cjs
  packages/otel/.eslintrc.cjs
  packages/react-hook-form-macaw/.eslintrc.cjs
  packages/sentry-utils/.eslintrc.cjs
  packages/shared/.eslintrc.cjs
  packages/trpc/.eslintrc.cjs
  packages/trpc/src/http-batch-link.ts
  packages/ui/.eslintrc.cjs
  packages/webhook-utils/.eslintrc.cjs
  packages/webhook-utils/src/webhook-migration-runner.ts
  pnpm-lock.yaml
  turbo.json
Labels: App: Search, App: Klaviyo, App: CMS, App: Product Feed, App: Segment, skip changeset, App: AvaTax, App: SMTP

#1794 Move existing eslint rules to errors
  packages/eslint-config/index.cjs
Labels: skip changeset

#1795 Update turbo configuration
  apps/avatax/turbo.json
  apps/cms/turbo.json
  apps/klaviyo/turbo.json
  apps/products-feed/turbo.json
  apps/search/turbo.json
  apps/segment/turbo.json
  apps/smtp/turbo.json
  packages/logger/turbo.json
  packages/react-hook-form-macaw/turbo.json
  packages/shared/turbo.json
  packages/ui/turbo.json
  packages/webhook-utils/turbo.json
  turbo.json
Labels: App: Search, App: Klaviyo, App: CMS, App: Product Feed, App: Segment, skip changeset, App: AvaTax, App: SMTP

#1792 🚀 Release apps
  .changeset/calm-monkeys-grab.md
  .changeset/sweet-hairs-bow.md
  apps/avatax/CHANGELOG.md
  apps/avatax/package.json
  apps/cms/CHANGELOG.md
  apps/cms/package.json
  apps/klaviyo/CHANGELOG.md
  apps/klaviyo/package.json
  apps/products-feed/CHANGELOG.md
  apps/products-feed/package.json
  apps/search/CHANGELOG.md
  apps/search/package.json
  apps/segment/CHANGELOG.md
  apps/segment/package.json
  apps/smtp/CHANGELOG.md
  apps/smtp/package.json
  packages/e2e/CHANGELOG.md
  packages/e2e/package.json
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
  packages/logger/CHANGELOG.md
  packages/logger/package.json
  packages/otel/CHANGELOG.md
  packages/otel/package.json
  packages/react-hook-form-macaw/CHANGELOG.md
  packages/react-hook-form-macaw/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
  packages/trpc/CHANGELOG.md
  packages/trpc/package.json
  packages/ui/CHANGELOG.md
  packages/ui/package.json
  packages/webhook-utils/CHANGELOG.md
  packages/webhook-utils/package.json
Labels: App: Search, App: Klaviyo, App: CMS, App: Product Feed, App: Segment, App: AvaTax, run e2e, App: SMTP

#1798 Bring back lint:fix & test tasks
  turbo.json
Labels: skip changeset

#1801 Setup OTEL with Sentry for AvaTax
  .changeset/fuzzy-cougars-grin.md
  apps/avatax/package.json
  apps/avatax/src/env.ts
  apps/avatax/src/instrumentation.ts
  apps/avatax/src/instrumentations/otel-node.ts
  apps/avatax/src/instrumentations/sentry-node.ts
  pnpm-lock.yaml
Labels: App: AvaTax

#1802 🚀 Release apps
  .changeset/fuzzy-cougars-grin.md
  apps/avatax/CHANGELOG.md
  apps/avatax/package.json
Labels: App: AvaTax, run e2e

#1803 Fix Sentry dropping internal OTEL spans
  .changeset/spotty-jobs-deny.md
  apps/avatax/package.json
  apps/avatax/src/instrumentation.ts
  apps/avatax/src/instrumentations/otel-node.ts
  apps/avatax/src/instrumentations/sentry-node.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: App: AvaTax

#1805 Fix Sentry integration for apps
  .changeset/cyan-toes-laugh.md
  apps/avatax/src/instrumentation.ts
  apps/avatax/src/instrumentations/sentry-edge.ts
  apps/cms/src/instrumentation.ts
  apps/cms/src/instrumentations/sentry-edge.ts
  apps/cms/src/instrumentations/sentry-node.ts
  apps/klaviyo/src/instrumentation.ts
  apps/klaviyo/src/instrumentations/sentry-edge.ts
  apps/klaviyo/src/instrumentations/sentry-node.ts
  apps/products-feed/src/instrumentation.ts
  apps/products-feed/src/instrumentations/sentry-edge.ts
  apps/products-feed/src/instrumentations/sentry-node.ts
  apps/search/src/instrumentation.ts
  apps/search/src/instrumentations/sentry-edge.ts
  apps/search/src/instrumentations/sentry-node.ts
  apps/segment/src/instrumentation.ts
  apps/segment/src/instrumentations/sentry-edge.ts
  apps/segment/src/instrumentations/sentry-node.ts
  apps/smtp/src/instrumentation.ts
  apps/smtp/src/instrumentations/sentry-edge.ts
  apps/smtp/src/instrumentations/sentry-node.ts
Labels: App: Search, App: Klaviyo, App: CMS, App: Product Feed, App: Segment, App: AvaTax, App: SMTP

#1807 🚀 Release apps
  .changeset/cyan-toes-laugh.md
  apps/avatax/CHANGELOG.md
  apps/avatax/package.json
  apps/cms/CHANGELOG.md
  apps/cms/package.json
  apps/klaviyo/CHANGELOG.md
  apps/klaviyo/package.json
  apps/products-feed/CHANGELOG.md
  apps/products-feed/package.json
  apps/search/CHANGELOG.md
  apps/search/package.json
  apps/segment/CHANGELOG.md
  apps/segment/package.json
  apps/smtp/CHANGELOG.md
  apps/smtp/package.json
Labels: App: Search, App: Klaviyo, App: CMS, App: Product Feed, App: Segment, App: AvaTax, run e2e, App: SMTP

#1800 Fix lint-staged configs & introduce tool.config.js syntax
  .lintstagedrc.js
  .prettierrc
  apps/avatax/.eslintrc.cjs
  apps/avatax/.lintstagedrc.js
  apps/avatax/lint-staged.config.js
  apps/cms/.eslintrc.cjs
  apps/cms/.lintstagedrc.js
  apps/cms/lint-staged.config.js
  apps/klaviyo/.eslintrc.cjs
  apps/klaviyo/.lintstagedrc.js
  apps/klaviyo/lint-staged.config.js
  apps/products-feed/.eslintrc.cjs
  apps/products-feed/.lintstagedrc.js
  apps/products-feed/lint-staged.config.js
  apps/search/.eslintrc.cjs
  apps/search/.lintstagedrc.js
  apps/search/lint-staged.config.js
  apps/segment/.eslintrc.cjs
  apps/segment/.lintstagedrc.js
  apps/segment/lint-staged.config.js
  apps/smtp/.eslintrc.cjs
  apps/smtp/.lintstagedrc.js
  apps/smtp/lint-staged.config.js
  lint-staged.config.js
  packages/e2e/.eslintrc.cjs
  packages/e2e/.lintstagedrc.js
  packages/e2e/lint-staged.config.js
  packages/eslint-config/.lintstagedrc.js
  packages/eslint-config/lint-staged.config.js
  packages/logger/.eslintrc.cjs
  packages/logger/.lintstagedrc.js
  packages/logger/lint-staged.config.js
  packages/otel/.eslintrc.cjs
  packages/otel/.lintstagedrc.js
  packages/otel/lint-staged.config.js
  packages/react-hook-form-macaw/.eslintrc.cjs
  packages/react-hook-form-macaw/.lintstagedrc.js
  packages/react-hook-form-macaw/lint-staged.config.js
  packages/sentry-utils/.eslintrc.cjs
  packages/sentry-utils/.lintstagedrc.js
  packages/sentry-utils/lint-staged.config.js
  packages/shared/.eslintrc.cjs
  packages/shared/.lintstagedrc.js
  packages/shared/lint-staged.config.js
  packages/trpc/.eslintrc.cjs
  packages/trpc/.lintstagedrc.js
  packages/trpc/lint-staged.config.js
  packages/typescript-config/.lintstagedrc.js
  packages/typescript-config/lint-staged.config.js
  packages/ui/.eslintrc.cjs
  packages/ui/.lintstagedrc.js
  packages/ui/lint-staged.config.js
  packages/webhook-utils/.eslintrc.cjs
  packages/webhook-utils/.lintstagedrc.js
  packages/webhook-utils/lint-staged.config.js
  prettier.config.js
Labels: App: Search, App: Klaviyo, App: CMS, App: Product Feed, App: Segment, skip changeset, App: AvaTax, App: SMTP

#1796 Fix peer deps issues
  apps/avatax/package.json
  apps/avatax/src/pages/_app.tsx
  apps/cms/package.json
  apps/products-feed/package.json
  apps/search/package.json
  apps/search/src/components/ImportProductsToAlgolia/useAlgoliaConfiguration.test.ts
  apps/search/src/components/ImportProductsToAlgolia/useBatchUpload.test.ts
  apps/segment/package.json
  apps/smtp/package.json
  packages/react-hook-form-macaw/.storybook/main.ts
  packages/react-hook-form-macaw/.storybook/preview.tsx
  packages/react-hook-form-macaw/.storybook/styles.css
  packages/react-hook-form-macaw/README.md
  packages/react-hook-form-macaw/package.json
  packages/react-hook-form-macaw/src/components/Combobox.stories.tsx
  packages/react-hook-form-macaw/src/components/Input.stories.tsx
  packages/react-hook-form-macaw/src/components/Multiselect.stories.tsx
  packages/react-hook-form-macaw/src/components/Select.stories.tsx
  packages/react-hook-form-macaw/src/stories/Introduction.mdx
  pnpm-lock.yaml
Labels: App: Search, App: CMS, App: Product Feed, App: Segment, skip changeset, App: AvaTax, App: SMTP

#1808 🚀 Release apps
  .changeset/clever-bees-brush.md
  apps/avatax/CHANGELOG.md
  apps/avatax/package.json
  apps/cms/CHANGELOG.md
  apps/cms/package.json
  apps/klaviyo/CHANGELOG.md
  apps/klaviyo/package.json
  apps/products-feed/CHANGELOG.md
  apps/products-feed/package.json
  apps/search/CHANGELOG.md
  apps/search/package.json
  apps/segment/CHANGELOG.md
  apps/segment/package.json
  apps/smtp/CHANGELOG.md
  apps/smtp/package.json
  packages/logger/CHANGELOG.md
  packages/logger/package.json
  packages/otel/CHANGELOG.md
  packages/otel/package.json
  packages/trpc/CHANGELOG.md
  packages/trpc/package.json
Labels: App: Search, App: Klaviyo, App: CMS, App: Product Feed, App: Segment, App: AvaTax, run e2e, App: SMTP

#1809 Migrate AvaTax to Next.js app router
  .changeset/gorgeous-rivers-begin.md
  .changeset/weak-taxis-camp.md
  apps/avatax/next-env.d.ts
  apps/avatax/src/app/api/manifest/route.ts
  apps/avatax/src/app/api/register/route.ts
  apps/avatax/src/app/api/trpc/[trpc]/route.ts
  apps/avatax/src/app/api/webhooks/checkout-calculate-taxes/route.ts
  apps/avatax/src/app/api/webhooks/order-calculate-taxes/route.ts
  apps/avatax/src/app/api/webhooks/order-cancelled/route.ts
  apps/avatax/src/app/api/webhooks/order-confirmed/route.ts
  apps/avatax/src/lib/app-metadata-cache.ts
  apps/avatax/src/logger-context.ts
  apps/avatax/src/modules/app/metadata-manager.test.ts
  apps/avatax/src/modules/trpc/trpc-context.ts
  apps/avatax/src/modules/webhooks/definitions/checkout-calculate-taxes.ts
  apps/avatax/src/modules/webhooks/definitions/order-calculate-taxes.ts
  apps/avatax/src/modules/webhooks/definitions/order-cancelled.ts
  apps/avatax/src/modules/webhooks/definitions/order-confirmed.ts
  apps/avatax/src/pages/api/trpc/[trpc].ts
  apps/avatax/tsconfig.json
  apps/avatax/turbo.json
  packages/logger/node.ts
  packages/logger/src/logger-context.test.ts
  packages/logger/src/logger-context.ts
  packages/otel/src/with-span-attributes.ts
Labels: App: AvaTax

#1811 Update typescript to 5.8.2
  apps/avatax/package.json
  apps/cms/package.json
  apps/klaviyo/package.json
  apps/products-feed/package.json
  apps/search/package.json
  apps/segment/package.json
  apps/smtp/package.json
  packages/e2e/package.json
  packages/logger/package.json
  packages/otel/package.json
  packages/react-hook-form-macaw/package.json
  packages/sentry-utils/package.json
  packages/shared/package.json
  packages/trpc/package.json
  packages/ui/package.json
  packages/webhook-utils/package.json
  pnpm-lock.yaml
Labels: App: Search, App: Klaviyo, App: CMS, App: Product Feed, App: Segment, skip changeset, App: AvaTax, App: SMTP

#1812 Shuffle tests order to avoid side effects
  apps/avatax/package.json
  apps/cms/vitest.config.ts
  apps/products-feed/vitest.config.ts
  apps/search/vitest.config.ts
  apps/segment/vitest.config.ts
  apps/smtp/src/modules/smtp/configuration/smtp-configuration.service.test.ts
  apps/smtp/vitest.config.ts
  packages/logger/vitest.config.ts
  packages/shared/vitest.config.ts
  packages/webhook-utils/vitest.config.ts
Labels: App: Search, App: CMS, App: Product Feed, App: Segment, skip changeset, App: AvaTax, App: SMTP

#1813 🚀 Release apps
  .changeset/gorgeous-rivers-begin.md
  .changeset/weak-taxis-camp.md
  apps/avatax/CHANGELOG.md
  apps/avatax/package.json
  apps/cms/CHANGELOG.md
  apps/cms/package.json
  apps/klaviyo/CHANGELOG.md
  apps/klaviyo/package.json
  apps/products-feed/CHANGELOG.md
  apps/products-feed/package.json
  apps/search/CHANGELOG.md
  apps/search/package.json
  apps/segment/CHANGELOG.md
  apps/segment/package.json
  apps/smtp/CHANGELOG.md
  apps/smtp/package.json
  packages/logger/CHANGELOG.md
  packages/logger/package.json
  packages/otel/CHANGELOG.md
  packages/otel/package.json
Labels: App: Search, App: Klaviyo, App: CMS, App: Product Feed, App: Segment, App: AvaTax, run e2e, App: SMTP

#1815 Migrate to Next.js 15
  .changeset/plenty-pumas-occur.md
  apps/avatax/.eslintrc.cjs
  apps/avatax/next-env.d.ts
  apps/avatax/next.config.ts
  apps/avatax/package.json
  apps/avatax/src/app/global-error.tsx
  apps/avatax/src/instrumentation.ts
  apps/avatax/tsconfig.json
  apps/avatax/turbo.json
  apps/cms/next-env.d.ts
  apps/cms/next.config.ts
  apps/cms/src/instrumentation.ts
  apps/cms/tsconfig.json
  apps/klaviyo/next-env.d.ts
  apps/klaviyo/next.config.ts
  apps/klaviyo/src/instrumentation.ts
  apps/klaviyo/tsconfig.json
  apps/products-feed/next-env.d.ts
  apps/products-feed/next.config.ts
  apps/products-feed/src/instrumentation.ts
  apps/products-feed/tsconfig.json
  apps/search/next-env.d.ts
  apps/search/next.config.ts
  apps/search/src/instrumentation.ts
  apps/search/tsconfig.json
  apps/segment/.eslintrc.cjs
  apps/segment/next-env.d.ts
  apps/segment/next.config.ts
  apps/segment/src/instrumentation.ts
  apps/segment/tsconfig.json
  apps/smtp/next-env.d.ts
  apps/smtp/next.config.ts
  apps/smtp/src/instrumentation.ts
  apps/smtp/tsconfig.json
  packages/eslint-config/index.cjs
  packages/eslint-config/package.json
  packages/logger/.eslintrc.cjs
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: App: Search, App: Klaviyo, App: CMS, App: Product Feed, App: Segment, App: AvaTax, App: SMTP

#1814 Export tRPC handler once in app route
  .changeset/twelve-planets-relate.md
  apps/avatax/src/app/api/trpc/[trpc]/route.ts
Labels: App: AvaTax

#1816 🚀 Release apps
  .changeset/plenty-pumas-occur.md
  .changeset/twelve-planets-relate.md
  apps/avatax/CHANGELOG.md
  apps/avatax/package.json
  apps/cms/CHANGELOG.md
  apps/cms/package.json
  apps/klaviyo/CHANGELOG.md
  apps/klaviyo/package.json
  apps/products-feed/CHANGELOG.md
  apps/products-feed/package.json
  apps/search/CHANGELOG.md
  apps/search/package.json
  apps/segment/CHANGELOG.md
  apps/segment/package.json
  apps/smtp/CHANGELOG.md
  apps/smtp/package.json
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
Labels: App: Search, App: Klaviyo, App: CMS, App: Product Feed, App: Segment, App: AvaTax, run e2e, App: SMTP

#1819 Update knip & sherif
  knip.config.ts
  knip.json
  package.json
  pnpm-lock.yaml
Labels: skip changeset

#1776 Add issue templates and mention of Contributing Guidelines
  .github/bug_report.yaml
  .github/feature_request.yaml
  README.md
Labels: skip changeset

#1820 Wrap calls to OTEL external tracer in proxy
  .changeset/four-melons-grin.md
  .changeset/six-apes-camp.md
  .changeset/tender-cars-count.md
  apps/avatax/eslint.config.js
  apps/avatax/src/app/api/webhooks/checkout-calculate-taxes/route.ts
  apps/avatax/src/app/api/webhooks/order-calculate-taxes/route.ts
  apps/avatax/src/app/api/webhooks/order-cancelled/route.ts
  apps/avatax/src/app/api/webhooks/order-confirmed/route.ts
  apps/avatax/src/lib/app-internal-tracer.ts
  apps/avatax/src/lib/create-instrumented-graphql-client.ts
  apps/avatax/src/lib/tracing.ts
  apps/avatax/src/modules/avatax/avatax-client.ts
  packages/logger/package.json
  packages/logger/src/logger-context.ts
  packages/logger/src/logger-vercel-runtime-transport.ts
  packages/otel/src/observability-attributes.ts
  pnpm-lock.yaml
Labels: skip changeset, App: AvaTax

#1824 Update pre-commit to use pnpm
  .husky/pre-commit
Labels: skip changeset

#1823 Enable recommended eslint rules
  apps/avatax/eslint.config.js
  apps/avatax/src/modules/avatax/avatax-client-tax-code.service.test.ts
  apps/avatax/src/modules/avatax/order-confirmed/saleor-order-to-avatax-lines-transformer.test.ts
  apps/cms/eslint.config.js
  apps/klaviyo/eslint.config.js
  apps/products-feed/eslint.config.js
  apps/products-feed/src/modules/app-configuration/attribute-fetcher.ts
  apps/products-feed/src/modules/category-mapping/categories-fetcher.ts
  apps/products-feed/src/modules/google-feed/fetch-product-data.test.ts
  apps/search/eslint.config.js
  apps/segment/eslint.config.js
  apps/segment/src/modules/configuration/dynamo-app-config-manager.test.ts
  apps/smtp/eslint.config.js
  apps/smtp/src/modules/smtp/configuration/smtp-configuration.service.test.ts
  apps/smtp/src/modules/smtp/services/email-compiler.test.ts
  packages/eslint-config/index.js
  packages/eslint-config/lint-staged.config.js
  packages/eslint-config/package.json
  packages/logger/eslint.config.js
  packages/otel/eslint.config.js
  packages/react-hook-form-macaw/src/components/Combobox.tsx
  packages/shared/eslint.config.js
  packages/shared/src/saleor-version-compatibility-validator.test.ts
  packages/trpc/src/context.ts
  packages/ui/eslint.config.js
  pnpm-lock.yaml
Labels: App: Search, App: Klaviyo, App: CMS, App: Product Feed, App: Segment, skip changeset, App: AvaTax, App: SMTP

#1827 Update graphql configs
  .changeset/rotten-clocks-jump.md
  apps/avatax/tsconfig.json
  apps/cms/.graphqlrc.yml
  apps/cms/generated/graphql.ts
  apps/cms/generated/schema.graphql
  apps/cms/graphql.config.ts
  apps/cms/package.json
  apps/cms/tsconfig.json
  apps/klaviyo/.graphqlrc.yml
  apps/klaviyo/generated/graphql.ts
  apps/klaviyo/generated/schema.graphql
  apps/klaviyo/graphql.config.ts
  apps/klaviyo/package.json
  apps/klaviyo/tsconfig.json
  apps/products-feed/.graphqlrc.yml
  apps/products-feed/generated/graphql.ts
  apps/products-feed/generated/schema.graphql
  apps/products-feed/graphql.config.ts
  apps/products-feed/package.json
  apps/products-feed/src/modules/google-feed/generate-google-xml-feed.test.ts
  apps/products-feed/src/modules/google-feed/get-related-media.test.ts
  apps/products-feed/src/modules/google-feed/get-related-media.ts
  apps/products-feed/src/modules/google-feed/get-weight-attribute-value.test.ts
  apps/products-feed/tsconfig.json
  apps/search/.graphqlrc.yml
  apps/search/generated/graphql.ts
  apps/search/generated/schema.graphql
  apps/search/graphql.config.ts
  apps/search/package.json
  apps/search/src/components/WebhooksStatus.tsx
  apps/search/src/lib/algolia/algoliaUtils.test.ts
  apps/search/src/lib/algolia/algoliaUtils.ts
  apps/search/src/test/handlers/webhooks-status-handler.test.ts
  apps/search/tsconfig.json
  apps/smtp/.graphqlrc.yml
  apps/smtp/generated/graphql.ts
  apps/smtp/generated/schema.graphql
  apps/smtp/graphql.config.ts
  apps/smtp/package.json
  apps/smtp/src/lib/get-event-form-status.test.ts
  apps/smtp/src/lib/get-event-form-status.ts
  apps/smtp/src/modules/event-handlers/default-payloads.ts
  apps/smtp/src/modules/webhook-management/webhook-management-service.test.ts
  apps/smtp/tsconfig.json
  packages/webhook-utils/.graphqlrc.yml
  pnpm-lock.yaml
Labels: App: Search, App: Klaviyo, App: CMS, App: Product Feed, App: AvaTax, App: SMTP
