Repository saleor/apps, pull requests merged in 2025-01, with the labels that each got.

#1666 Fix deployment of Segment app
  .changeset/four-seahorses-itch.md
  apps/segment/.eslintrc.cjs
  apps/segment/package.json
  apps/segment/scripts/deploy.ts
  apps/segment/scripts/migration-logger.ts
  apps/segment/scripts/run-webhooks-migration.ts
  apps/segment/src/env.ts
  apps/segment/src/lib/create-instrumented-graphql-client.ts
  apps/segment/src/logger-context.ts
  apps/segment/src/logger.ts
  apps/segment/src/modules/configuration/metadata-manager.ts
  apps/segment/src/modules/trpc/trpc-client.ts
  apps/segment/src/modules/webhooks/definitions/order-cancelled.ts
  apps/segment/src/modules/webhooks/definitions/order-created.ts
  apps/segment/src/modules/webhooks/definitions/order-fully-paid.ts
  apps/segment/src/modules/webhooks/definitions/order-refunded.ts
  apps/segment/src/modules/webhooks/definitions/order-updated.ts
  apps/segment/src/modules/webhooks/webhooks.ts
  apps/segment/src/pages/api/manifest.ts
  apps/segment/src/pages/api/register.ts
  apps/segment/src/pages/api/webhooks/order-cancelled.ts
  apps/segment/src/pages/api/webhooks/order-created.ts
  apps/segment/src/pages/api/webhooks/order-fully-paid.ts
  apps/segment/src/pages/api/webhooks/order-refunded.ts
  apps/segment/src/pages/api/webhooks/order-updated.ts
  apps/segment/src/saleor-app.ts
  apps/segment/tsconfig.json
  apps/segment/turbo.json
  apps/segment/vitest.config.ts
  pnpm-lock.yaml
Labels: App: Segment

#1673 Add setup node to GHA workflow
  .github/workflows/e2e.yml
  .github/workflows/main.yml
  .github/workflows/prepare-release.yml
  CODEOWNERS
Labels: skip changeset

#1671 Add Sentry to Segment app
  .changeset/thirty-monkeys-behave.md
  apps/segment/.env.example
  apps/segment/next.config.js
  apps/segment/package.json
  apps/segment/sentry.client.config.ts
  apps/segment/sentry.edge.config.ts
  apps/segment/sentry.server.config.ts
  apps/segment/src/errors.ts
  apps/segment/src/modules/configuration/app-config.ts
  apps/segment/src/modules/create-segment-client-for-webhook-context.ts
  apps/segment/src/pages/api/webhooks/order-cancelled.ts
  apps/segment/src/pages/api/webhooks/order-created.ts
  apps/segment/src/pages/api/webhooks/order-fully-paid.ts
  apps/segment/src/pages/api/webhooks/order-refunded.ts
  apps/segment/src/pages/api/webhooks/order-updated.ts
  apps/segment/src/saleor-app.ts
  apps/segment/turbo.json
  pnpm-lock.yaml
Labels: App: Segment

#1675 Add OTEL & improve logs in Segment app
  .changeset/real-shrimps-hunt.md
  apps/segment/package.json
  apps/segment/src/modules/configuration/configuration.router.ts
  apps/segment/src/modules/create-segment-client-for-webhook-context.ts
  apps/segment/src/modules/trpc/protected-client-procedure.ts
  apps/segment/src/pages/api/webhooks/order-cancelled.ts
  apps/segment/src/pages/api/webhooks/order-created.ts
  apps/segment/src/pages/api/webhooks/order-fully-paid.ts
  apps/segment/src/pages/api/webhooks/order-refunded.ts
  apps/segment/src/pages/api/webhooks/order-updated.ts
  pnpm-lock.yaml
Labels: App: Segment

#1676 Fixed app version send to Segment & how we send events
  .changeset/fair-cooks-invite.md
  apps/segment/generated/graphql.ts
  apps/segment/graphql/subscriptions/order-cancelled.graphql
  apps/segment/graphql/subscriptions/order-created.graphql
  apps/segment/graphql/subscriptions/order-fully-paid.graphql
  apps/segment/graphql/subscriptions/order-refunded.graphql
  apps/segment/graphql/subscriptions/order-updated.graphql
  apps/segment/package.json
  apps/segment/src/modules/segment/segment.client.ts
  apps/segment/src/modules/tracking-events/segment-events-tracker.ts
  apps/segment/src/modules/tracking-events/tracking-events.ts
  apps/segment/src/pages/api/webhooks/order-cancelled.ts
  apps/segment/src/pages/api/webhooks/order-created.ts
  apps/segment/src/pages/api/webhooks/order-fully-paid.ts
  apps/segment/src/pages/api/webhooks/order-refunded.ts
  apps/segment/src/pages/api/webhooks/order-updated.ts
  pnpm-lock.yaml
Labels: App: Segment

#1677 Add use-case to Segment app
  .changeset/loud-trains-glow.md
  apps/segment/.eslintrc.cjs
  apps/segment/package.json
  apps/segment/src/modules/configuration/app-config-metadata-manager.ts
  apps/segment/src/modules/create-segment-client-for-webhook-context.ts
  apps/segment/src/modules/segment/segment-event-tracker-factory.test.ts
  apps/segment/src/modules/segment/segment-event-tracker-factory.ts
  apps/segment/src/modules/segment/segment-events-tracker.ts
  apps/segment/src/modules/segment/segment.client.ts
  apps/segment/src/modules/tracking-events/__tests__/mocks.ts
  apps/segment/src/modules/tracking-events/segment-events-tracker.ts
  apps/segment/src/modules/tracking-events/track-event.use-case.test.ts
  apps/segment/src/modules/tracking-events/track-event.use-case.ts
  apps/segment/src/modules/tracking-events/tracking-events.test.ts
  apps/segment/src/modules/tracking-events/tracking-events.ts
  apps/segment/src/pages/api/webhooks/order-cancelled.ts
  apps/segment/src/pages/api/webhooks/order-created.ts
  apps/segment/src/pages/api/webhooks/order-fully-paid.ts
  apps/segment/src/pages/api/webhooks/order-refunded.ts
  apps/segment/src/pages/api/webhooks/order-updated.ts
  pnpm-lock.yaml
Labels: App: Segment

#1678 Initially disable Segment app webhooks
  .changeset/sharp-mirrors-talk.md
  apps/segment/generated/graphql.ts
  apps/segment/graphql/mutations/enable-webhook.graphql
  apps/segment/graphql/mutations/update-app-metadata.graphql
  apps/segment/graphql/queries/fetch-app-webhooks.graphql
  apps/segment/scripts/run-webhooks-migration.ts
  apps/segment/src/modules/configuration/configuration.router.ts
  apps/segment/src/modules/configuration/segment-config-form/segment-config-form.tsx
  apps/segment/src/modules/configuration/webhooks-status/webhooks-status.tsx
  apps/segment/src/modules/webhooks/definitions/order-cancelled.ts
  apps/segment/src/modules/webhooks/definitions/order-created.ts
  apps/segment/src/modules/webhooks/definitions/order-fully-paid.ts
  apps/segment/src/modules/webhooks/definitions/order-refunded.ts
  apps/segment/src/modules/webhooks/definitions/order-updated.ts
  apps/segment/src/modules/webhooks/webhook-activity/webhook-activity-client.ts
  apps/segment/src/modules/webhooks/webhook-activity/webhook-activity-service.test.ts
  apps/segment/src/modules/webhooks/webhook-activity/webhook-activity-service.ts
  apps/segment/src/pages/api/manifest.ts
  apps/segment/src/pages/configuration.tsx
Labels: App: Segment

#1683 Add README to Segment app
  apps/segment/README.md
Labels: App: Segment, skip changeset

#1682 Improve Segment app logo
  apps/segment/public/logo.png
Labels: App: Segment, skip changeset

#1685 Fix missing cache for GHA test workflow
  .github/workflows/main.yml
Labels: skip changeset

#1687 Fix code scan issue with `ALLOWED_DOMAIN_PATTERN` regex
  .changeset/rotten-seals-suffer.md
  apps/avatax/package.json
  apps/avatax/src/pages/api/register.ts
  apps/cms-v2/package.json
  apps/cms-v2/src/pages/api/register.ts
  apps/klaviyo/package.json
  apps/klaviyo/src/pages/api/register.ts
  apps/products-feed/package.json
  apps/products-feed/src/pages/api/register.ts
  apps/search/package.json
  apps/search/src/pages/api/register.ts
  apps/smtp/package.json
  apps/smtp/src/pages/api/register.ts
  pnpm-lock.yaml
Labels: App: Search, App: Klaviyo, App: CMS, App: Product Feed, App: AvaTax, App: SMTP

#1689 Cleanup Segment release notes
  .changeset/chilly-doors-film.md
  .changeset/fair-cooks-invite.md
  .changeset/four-seahorses-itch.md
  .changeset/loud-trains-glow.md
  .changeset/real-shrimps-hunt.md
  .changeset/sharp-mirrors-talk.md
  .changeset/silver-mangos-behave.md
  .changeset/thick-pumas-perform.md
  .changeset/thirty-monkeys-behave.md
Labels: skip changeset

#1693 Add workflow to check licenses
  .github/workflows/check-licenses.yaml
  package.json
Labels: skip changeset, Licenses Reviewed

#1694 Fix /register issue with `ALLOWED_DOMAIN_URL` env variable
  .changeset/angry-zebras-collect.md
  apps/avatax/package.json
  apps/avatax/src/pages/api/register.ts
  apps/cms-v2/package.json
  apps/cms-v2/src/pages/api/register.ts
  apps/klaviyo/package.json
  apps/klaviyo/src/pages/api/register.ts
  apps/products-feed/package.json
  apps/products-feed/src/pages/api/register.ts
  apps/search/package.json
  apps/search/src/pages/api/register.ts
  apps/segment/package.json
  apps/segment/src/pages/api/register.ts
  apps/smtp/package.json
  apps/smtp/src/pages/api/register.ts
  pnpm-lock.yaml
Labels: App: Search, App: Klaviyo, App: CMS, App: Product Feed, App: Segment, App: AvaTax, App: SMTP

#1695 🚀 Release apps
  .changeset/angry-zebras-collect.md
  apps/avatax/CHANGELOG.md
  apps/avatax/package.json
  apps/cms-v2/CHANGELOG.md
  apps/cms-v2/package.json
  apps/klaviyo/CHANGELOG.md
  apps/klaviyo/package.json
  apps/products-feed/CHANGELOG.md
  apps/products-feed/package.json
  apps/search/CHANGELOG.md
  apps/search/package.json
  apps/segment/CHANGELOG.md
  apps/segment/package.json
  apps/smtp/CHANGELOG.md
  apps/smtp/package.json
Labels: App: Search, App: Klaviyo, App: CMS, App: Product Feed, App: Segment, App: AvaTax, run e2e, App: SMTP

#1690 Add DynamoDB APL to Segment app
  .changeset/breezy-buses-greet.md
  apps/segment/README.md
  apps/segment/docker-compose.yml
  apps/segment/package.json
  apps/segment/scripts/setup-dynamodb.sh
  apps/segment/src/env.ts
  apps/segment/src/lib/__tests__/in-memory-apl-repository.ts
  apps/segment/src/lib/dyanmodb-apl.test.ts
  apps/segment/src/lib/dynamodb-apl.ts
  apps/segment/src/lib/dynamodb-client.ts
  apps/segment/src/logger.ts
  apps/segment/src/modules/db/segment-apl-mapper.ts
  apps/segment/src/modules/db/segment-apl-repository-factory.ts
  apps/segment/src/modules/db/segment-apl-repository.test.ts
  apps/segment/src/modules/db/segment-apl-repository.ts
  apps/segment/src/modules/db/segment-main-table.test.ts
  apps/segment/src/modules/db/segment-main-table.ts
  apps/segment/src/modules/db/types.ts
  apps/segment/src/saleor-app.ts
  apps/segment/src/setup-tests.ts
  apps/segment/turbo.json
  pnpm-lock.yaml
Labels: App: Segment

#1691 feat: related media improvement google feed
  .changeset/lemon-news-give.md
  apps/products-feed/src/modules/google-feed/get-related-media.ts
Labels: App: Product Feed

#1699 Cleanup Segment app
  .changeset/fair-moles-try.md
  apps/segment/src/lib/dyanmodb-apl.test.ts
  apps/segment/src/modules/configuration/webhooks-status/webhooks-status.tsx
  apps/segment/src/modules/db/__tests__/memory-apl-repository.ts
  apps/segment/src/modules/db/dynamo-apl-mapper.ts
  apps/segment/src/modules/db/dynamo-apl-repository-factory.ts
  apps/segment/src/modules/db/dynamo-apl-repository.test.ts
  apps/segment/src/modules/db/dynamo-apl-repository.ts
  apps/segment/src/modules/db/dynamo-config-repository.test.ts
  apps/segment/src/modules/db/segment-apl-repository-factory.ts
  apps/segment/src/saleor-app.ts
Labels: App: Segment

#1697 🚀 Release apps
  .changeset/breezy-buses-greet.md
  .changeset/fair-moles-try.md
  .changeset/lemon-news-give.md
  .changeset/sour-hotels-nail.md
  apps/products-feed/CHANGELOG.md
  apps/products-feed/package.json
  apps/segment/CHANGELOG.md
  apps/segment/package.json
Labels: App: Product Feed, App: Segment, run e2e

#1701 Move `ThemeSynchronizer` to shared pkgs
  .changeset/gorgeous-berries-dress.md
  apps/avatax/src/pages/_app.tsx
  apps/cms-v2/src/modules/theme/theme-synchronizer.tsx
  apps/cms-v2/src/pages/_app.tsx
  apps/products-feed/src/lib/theme-synchronizer.tsx
  apps/products-feed/src/pages/_app.tsx
  apps/segment/src/pages/_app.tsx
  apps/smtp/src/lib/theme-synchronizer.tsx
  apps/smtp/src/pages/_app.tsx
Labels: App: CMS, App: Product Feed, App: Segment, App: AvaTax, App: SMTP

#1702 Cache TRPC query for logs & implement logs pagination
  .changeset/honest-sheep-happen.md
  apps/avatax/next.config.js
  apps/avatax/package.json
  apps/avatax/src/modules/client-logs/client-logs.router.ts
  apps/avatax/src/modules/client-logs/logs-repository.test.ts
  apps/avatax/src/modules/client-logs/logs-repository.ts
  apps/avatax/src/modules/client-logs/ui/format-date.ts
  apps/avatax/src/modules/client-logs/ui/logs-browser.tsx
  apps/avatax/src/modules/client-logs/ui/use-client-logs-pagination.test.tsx
  apps/avatax/src/modules/client-logs/ui/use-client-logs-pagination.tsx
  pnpm-lock.yaml
Labels: App: AvaTax

#1705 Enable client logs by default in AvaTax
  .changeset/long-cherries-eat.md
  apps/avatax/.env.example
  apps/avatax/src/env.ts
  apps/avatax/src/modules/client-logs/client-logs-feature-config.ts
  apps/avatax/src/modules/client-logs/client-logs.router.ts
  apps/avatax/src/modules/client-logs/dynamo-schema.ts
  apps/avatax/src/modules/client-logs/log-writer-factory.ts
  apps/avatax/src/pages/configuration.tsx
  apps/avatax/src/pages/logs.tsx
  apps/avatax/src/setup-tests.ts
Labels: App: AvaTax

#1704 Improve Segment events
  .changeset/twenty-berries-occur.md
  apps/segment/generated/graphql.ts
  apps/segment/graphql/fragments/order-base.graphql
  apps/segment/graphql/subscriptions/order-confirmed.graphql
  apps/segment/graphql/subscriptions/order-created.graphql
  apps/segment/graphql/subscriptions/order-fully-paid.graphql
  apps/segment/package.json
  apps/segment/src/lib/filter-empty-values-from-object.test.ts
  apps/segment/src/lib/filter-empty-values-from-object.ts
  apps/segment/src/modules/tracking-events/__tests__/mocks.ts
  apps/segment/src/modules/tracking-events/track-event.use-case.test.ts
  apps/segment/src/modules/tracking-events/tracking-events.test.ts
  apps/segment/src/modules/tracking-events/tracking-events.ts
  apps/segment/src/modules/webhooks/definitions/order-confirmed.ts
  apps/segment/src/modules/webhooks/definitions/order-created.ts
  apps/segment/src/modules/webhooks/definitions/order-fully-paid.ts
  apps/segment/src/modules/webhooks/webhooks.ts
  apps/segment/src/pages/api/webhooks/order-confirmed.ts
  apps/segment/src/pages/api/webhooks/order-created.ts
  pnpm-lock.yaml
Labels: App: Segment

#1706 extra logs for lines + tests
  .changeset/purple-shirts-listen.md
  apps/avatax/src/modules/avatax/calculate-taxes/avatax-calculate-taxes-adapter.test.ts
  apps/avatax/src/modules/avatax/calculate-taxes/avatax-calculate-taxes-adapter.ts
  apps/avatax/src/modules/avatax/calculate-taxes/avatax-calculate-taxes-response-lines-transformer.ts
Labels: App: AvaTax

#1707 Fix e2e: add missing env vars
  .github/workflows/e2e.yml
Labels: skip changeset

#1703 🚀 Release apps
  .changeset/gorgeous-berries-dress.md
  .changeset/honest-sheep-happen.md
  .changeset/long-cherries-eat.md
  .changeset/purple-shirts-listen.md
  .changeset/twenty-berries-occur.md
  apps/avatax/CHANGELOG.md
  apps/avatax/package.json
  apps/cms-v2/CHANGELOG.md
  apps/cms-v2/package.json
  apps/products-feed/CHANGELOG.md
  apps/products-feed/package.json
  apps/segment/CHANGELOG.md
  apps/segment/package.json
  apps/smtp/CHANGELOG.md
  apps/smtp/package.json
Labels: App: CMS, App: Product Feed, App: Segment, App: AvaTax, run e2e, App: SMTP

#1708 Change CODEOWNERS to extensibility-team
  CODEOWNERS
Labels: skip changeset

#1709 fix: bumping saleor app-sdk
  .changeset/brave-snakes-ring.md
  package.json
  pnpm-lock.yaml
Labels: Licenses Reviewed

#1711 Setup codecov
  .github/workflows/main.yml
  apps/avatax/package.json
  apps/cms-v2/package.json
  apps/products-feed/package.json
  apps/search/package.json
  apps/segment/package.json
  apps/smtp/package.json
  codecov.yml
  package.json
  packages/logger/package.json
  packages/shared/package.json
  packages/webhook-utils/package.json
  pnpm-lock.yaml
Labels: App: Search, App: CMS, App: Product Feed, App: Segment, skip changeset, App: AvaTax, App: SMTP

#1712 Run workflow on push to main
  .github/workflows/main.yml
Labels: skip changeset

#1716 Update CodeCov to be informational
  codecov.yml
Labels: skip changeset

#1692 feat: adding sku to the product variant fields
  .changeset/nervous-suns-hang.md
  apps/cms-v2/generated/graphql.ts
  apps/cms-v2/graphql/fragments/BulkImportProduct.graphql
  apps/cms-v2/graphql/fragments/WebhookProductVariant.graphql
  apps/cms-v2/src/modules/configuration/app-config.test.ts
  apps/cms-v2/src/modules/configuration/print-saleor-product-fields.ts
  apps/cms-v2/src/modules/configuration/schemas/saleor-provider-fields-mapping.schema.ts
  apps/cms-v2/src/modules/providers/builder.io/builder-io-bulk-sync-processor.ts
  apps/cms-v2/src/modules/providers/builder.io/builder-io-config-form.tsx
  apps/cms-v2/src/modules/providers/contentful/contentful-bulk-sync-processor.ts
  apps/cms-v2/src/modules/providers/contentful/contentful-client.test.ts
  apps/cms-v2/src/modules/providers/contentful/contentful-client.ts
  apps/cms-v2/src/modules/providers/contentful/contentful-config-form.tsx
  apps/cms-v2/src/modules/providers/contentful/contentful-webhooks-processor.test.ts
  apps/cms-v2/src/modules/providers/datocms/datocms-bulk-sync-processor.ts
  apps/cms-v2/src/modules/providers/datocms/datocms-config-form.tsx
  apps/cms-v2/src/modules/providers/fields-mapper.test.ts
  apps/cms-v2/src/modules/providers/fields-mapper.ts
  apps/cms-v2/src/modules/providers/payloadcms/payloadcms-bulk-sync-processor.ts
  apps/cms-v2/src/modules/providers/payloadcms/payloadcms-config-form.tsx
  apps/cms-v2/src/modules/providers/strapi/strapi-bulk-sync-processor.ts
  apps/cms-v2/src/modules/providers/strapi/strapi-config-form.tsx
  apps/cms-v2/src/modules/webhooks-operations/webhooks-processors-delegator.test.ts
Labels: App: CMS

#1713 feat: first start addding shipping_label attribute
  .changeset/flat-horses-yawn.md
  apps/products-feed/src/modules/app-configuration/app-config.test.ts
  apps/products-feed/src/modules/app-configuration/app-config.ts
  apps/products-feed/src/modules/app-configuration/attribute-mapping-form.tsx
  apps/products-feed/src/modules/google-feed/attribute-mapping.test.ts
  apps/products-feed/src/modules/google-feed/attribute-mapping.ts
  apps/products-feed/src/modules/google-feed/generate-google-xml-feed.ts
  apps/products-feed/src/modules/google-feed/product-to-proxy.ts
  apps/products-feed/src/modules/google-feed/types.ts
  apps/products-feed/src/pages/configuration.tsx
Labels: App: Product Feed

#1721 Fix e2e for AvaTax app
  apps/avatax/e2e/tests/checkout_address_change.spec.ts
  apps/avatax/e2e/tests/checkout_basic_product_with_tax_code.spec.ts
  apps/avatax/e2e/tests/draft_order_basic.spec.ts
  apps/avatax/e2e/tests/draft_order_catalog_promotion.spec.ts
  apps/avatax/e2e/tests/draft_order_changing_lines.spec.ts
  apps/avatax/e2e/tests/draft_order_with_entity_code.spec.ts
  apps/avatax/e2e/tests/draft_order_with_manual_total_discount.spec.ts
Labels: skip changeset, App: AvaTax

#1710 🚀 Release apps
  .changeset/brave-snakes-ring.md
  .changeset/flat-horses-yawn.md
  .changeset/four-plants-repair.md
  .changeset/many-taxis-film.md
  .changeset/nervous-suns-hang.md
  .changeset/rare-grapes-burn.md
  .changeset/witty-islands-listen.md
  apps/avatax/CHANGELOG.md
  apps/avatax/package.json
  apps/cms-v2/CHANGELOG.md
  apps/cms-v2/package.json
  apps/klaviyo/CHANGELOG.md
  apps/klaviyo/package.json
  apps/products-feed/CHANGELOG.md
  apps/products-feed/package.json
  apps/search/CHANGELOG.md
  apps/search/package.json
  apps/segment/CHANGELOG.md
  apps/segment/package.json
  apps/smtp/CHANGELOG.md
  apps/smtp/package.json
Labels: App: Search, App: Klaviyo, App: CMS, App: Product Feed, App: Segment, App: AvaTax, run e2e, App: SMTP
