Repository saleor/apps, pull requests merged in 2025-02, with the labels that each got.

#1722 Setup Segment API func memory & max duration
  .changeset/silly-months-clean.md
  apps/segment/vercel.json
Labels: App: Segment

#1724 Fix tRPC wrapping in Segment app
  .changeset/warm-meals-roll.md
  apps/segment/src/pages/api/trpc/[trpc].ts
Labels: App: Segment

#1725 Update Segment changeset with proper memory value
  .changeset/silly-months-clean.md
Labels: skip changeset

#1726 reset tax rate to 0 if taxable amount is zero
  .changeset/gold-dryers-talk.md
  apps/avatax/src/modules/avatax/calculate-taxes/avatax-calculate-taxes-response-lines-transformer.test.ts
  apps/avatax/src/modules/avatax/calculate-taxes/avatax-calculate-taxes-response-lines-transformer.ts
Labels: App: AvaTax

#1728 Add ADR
  .adr-dir
  README.md
  adr/0001-record-architecture-decisions.md
Labels: skip changeset

#1730 Fix cspell errors & dont fail on CI for typos
  .cspell.json
  .github/workflows/check-spelling.yml
Labels: skip changeset

#1729 Use devcontainers for AvaTax app
  .devcontainer/avatax/Dockerfile
  .devcontainer/avatax/devcontainer.json
  .devcontainer/avatax/docker-compose.yml
  .gitignore
  Dockerfile.avatax.dev
  apps/avatax/README.md
  apps/avatax/docker-compose.yaml
  apps/avatax/scripts/setup-dynamodb.sh
Labels: skip changeset, App: AvaTax

#1731 Rename devcontainer docker compose & add recommended vs code extensions
  .devcontainer/avatax/devcontainer.json
  .devcontainer/avatax/docker-compose.yml
Labels: skip changeset

#1732 Add devcontainers to other apps
  .devcontainer/cms-v2/Dockerfile
  .devcontainer/cms-v2/devcontainer.json
  .devcontainer/cms-v2/docker-compose.yml
  .devcontainer/klaviyo/Dockerfile
  .devcontainer/klaviyo/devcontainer.json
  .devcontainer/klaviyo/docker-compose.yml
  .devcontainer/products-feed/Dockerfile
  .devcontainer/products-feed/devcontainer.json
  .devcontainer/products-feed/docker-compose.yml
  .devcontainer/search/Dockerfile
  .devcontainer/search/devcontainer.json
  .devcontainer/search/docker-compose.yml
  .devcontainer/segment/Dockerfile
  .devcontainer/segment/devcontainer.json
  .devcontainer/segment/docker-compose.yml
  .devcontainer/smtp/Dockerfile
  .devcontainer/smtp/devcontainer.json
  .devcontainer/smtp/docker-compose.yml
  apps/cms-v2/README.md
  apps/klaviyo/README.md
  apps/products-feed/README.md
  apps/search/README.md
  apps/segment/README.md
  apps/segment/docker-compose.yml
  apps/segment/scripts/setup-dynamodb.sh
  apps/smtp/README.md
Labels: App: Search, App: Klaviyo, App: CMS, App: Product Feed, App: Segment, skip changeset, App: SMTP

#1733 add max-params rule to eslint
  packages/eslint-config-saleor/index.js
Labels: skip changeset

#1735 🚀 Release apps
  .changeset/great-geese-collect.md
  apps/avatax/CHANGELOG.md
  apps/avatax/package.json
  apps/cms/CHANGELOG.md
  apps/cms/package.json
  apps/klaviyo/CHANGELOG.md
  apps/klaviyo/package.json
  apps/products-feed/CHANGELOG.md
  apps/products-feed/package.json
  apps/search/CHANGELOG.md
  apps/search/package.json
  apps/segment/CHANGELOG.md
  apps/segment/package.json
  apps/smtp/CHANGELOG.md
  apps/smtp/package.json
Labels: App: Search, App: Klaviyo, App: CMS, App: Product Feed, App: Segment, App: AvaTax, run e2e, App: SMTP

#1738 Update 1password vault for GHA
  .github/workflows/e2e.yml
Labels: skip changeset

#1744 Add debug log for AvaTax calc taxes
  apps/avatax/src/pages/api/webhooks/checkout-calculate-taxes.ts
Labels: skip changeset, App: AvaTax

#1745 Fix e2e for AvaTax
  .github/workflows/e2e.yml
  apps/avatax/e2e/tests/checkout_with_customer_metadata.spec.ts
  apps/avatax/src/pages/api/webhooks/checkout-calculate-taxes.ts
Labels: skip changeset, App: AvaTax
