Repository saleor/apps, changes with the owners that CODEOWNERS names for each.
All owners: @saleor/apps-guild, @saleor/shopex-js, @saleor/merchant-js

CODEOWNERS:

* @saleor/apps-guild

/apps/avatax  @saleor/shopex-js
/apps/segment @saleor/shopex-js

/apps/cms-v2 @saleor/merchant-js
/apps/klaviyo @saleor/merchant-js
/apps/products-feed @saleor/merchant-js
/apps/search @saleor/merchant-js
/apps/smtp @saleor/merchant-js

Add Sentry to Segment app (#1671)
  .changeset/thirty-monkeys-behave.md
  apps/segment/.env.example
  apps/segment/next.config.js
  apps/segment/package.json
  apps/segment/sentry.client.config.ts
  apps/segment/sentry.edge.config.ts
  apps/segment/sentry.server.config.ts
  apps/segment/src/errors.ts
  apps/segment/src/modules/configuration/app-config.ts
  apps/segment/src/modules/create-segment-client-for-webhook-context.ts
  apps/segment/src/pages/api/webhooks/order-cancelled.ts
  apps/segment/src/pages/api/webhooks/order-created.ts
  apps/segment/src/pages/api/webhooks/order-fully-paid.ts
  apps/segment/src/pages/api/webhooks/order-refunded.ts
  apps/segment/src/pages/api/webhooks/order-updated.ts
  apps/segment/src/saleor-app.ts
  apps/segment/turbo.json
  pnpm-lock.yaml
Owners: @saleor/apps-guild, @saleor/shopex-js

Add UI & changeset
  .changeset/sharp-mirrors-talk.md
  apps/segment/generated/graphql.ts
  apps/segment/graphql/queries/fetch-app-webhooks.graphql
  apps/segment/src/modules/configuration/configuration.router.ts
  apps/segment/src/modules/configuration/segment-config-form/segment-config-form.tsx
  apps/segment/src/modules/configuration/webhooks-status/webhooks-status.tsx
  apps/segment/src/modules/webhooks/webhook-activity/webhook-activity-client.ts
  apps/segment/src/modules/webhooks/webhook-activity/webhook-activity-service.test.ts
  apps/segment/src/modules/webhooks/webhook-activity/webhook-activity-service.ts
  apps/segment/src/pages/configuration.tsx
Owners: @saleor/apps-guild, @saleor/shopex-js

Add logs
  apps/segment/src/modules/configuration/configuration.router.ts
  apps/segment/src/modules/create-segment-client-for-webhook-context.ts
  apps/segment/src/modules/trpc/protected-client-procedure.ts
  apps/segment/src/pages/api/webhooks/order-cancelled.ts
  apps/segment/src/pages/api/webhooks/order-created.ts
  apps/segment/src/pages/api/webhooks/order-fully-paid.ts
  apps/segment/src/pages/api/webhooks/order-refunded.ts
  apps/segment/src/pages/api/webhooks/order-updated.ts
Owners: @saleor/shopex-js

Add OTEL & improve logs
  .changeset/real-shrimps-hunt.md
  apps/segment/package.json
  apps/segment/src/pages/api/webhooks/order-cancelled.ts
  apps/segment/src/pages/api/webhooks/order-created.ts
  apps/segment/src/pages/api/webhooks/order-fully-paid.ts
  apps/segment/src/pages/api/webhooks/order-refunded.ts
  apps/segment/src/pages/api/webhooks/order-updated.ts
  pnpm-lock.yaml
Owners: @saleor/apps-guild, @saleor/shopex-js

Add OTEL & improve logs in Segment app (#1675)
  .changeset/real-shrimps-hunt.md
  apps/segment/package.json
  apps/segment/src/modules/configuration/configuration.router.ts
  apps/segment/src/modules/create-segment-client-for-webhook-context.ts
  apps/segment/src/modules/trpc/protected-client-procedure.ts
  apps/segment/src/pages/api/webhooks/order-cancelled.ts
  apps/segment/src/pages/api/webhooks/order-created.ts
  apps/segment/src/pages/api/webhooks/order-fully-paid.ts
  apps/segment/src/pages/api/webhooks/order-refunded.ts
  apps/segment/src/pages/api/webhooks/order-updated.ts
  pnpm-lock.yaml
Owners: @saleor/apps-guild, @saleor/shopex-js

Fixed app version send to Segment & how we send events
  .changeset/fair-cooks-invite.md
  apps/segment/generated/graphql.ts
  apps/segment/graphql/subscriptions/order-cancelled.graphql
  apps/segment/graphql/subscriptions/order-created.graphql
  apps/segment/graphql/subscriptions/order-fully-paid.graphql
  apps/segment/graphql/subscriptions/order-refunded.graphql
  apps/segment/graphql/subscriptions/order-updated.graphql
  apps/segment/package.json
  apps/segment/src/modules/segment/segment.client.ts
  apps/segment/src/modules/tracking-events/segment-events-tracker.ts
  apps/segment/src/modules/tracking-events/tracking-events.ts
  apps/segment/src/pages/api/webhooks/order-cancelled.ts
  apps/segment/src/pages/api/webhooks/order-created.ts
  apps/segment/src/pages/api/webhooks/order-fully-paid.ts
  apps/segment/src/pages/api/webhooks/order-refunded.ts
  apps/segment/src/pages/api/webhooks/order-updated.ts
  pnpm-lock.yaml
Owners: @saleor/apps-guild, @saleor/shopex-js

Remove not needed code
  apps/segment/src/modules/segment/segment.client.ts
  apps/segment/src/modules/tracking-events/segment-events-tracker.ts
Owners: @saleor/shopex-js

remove todo
  apps/segment/src/modules/segment/segment.client.ts
Owners: @saleor/shopex-js

Fixed app version send to Segment & how we send events (#1676)
  .changeset/fair-cooks-invite.md
  apps/segment/generated/graphql.ts
  apps/segment/graphql/subscriptions/order-cancelled.graphql
  apps/segment/graphql/subscriptions/order-created.graphql
  apps/segment/graphql/subscriptions/order-fully-paid.graphql
  apps/segment/graphql/subscriptions/order-refunded.graphql
  apps/segment/graphql/subscriptions/order-updated.graphql
  apps/segment/package.json
  apps/segment/src/modules/segment/segment.client.ts
  apps/segment/src/modules/tracking-events/segment-events-tracker.ts
  apps/segment/src/modules/tracking-events/tracking-events.ts
  apps/segment/src/pages/api/webhooks/order-cancelled.ts
  apps/segment/src/pages/api/webhooks/order-created.ts
  apps/segment/src/pages/api/webhooks/order-fully-paid.ts
  apps/segment/src/pages/api/webhooks/order-refunded.ts
  apps/segment/src/pages/api/webhooks/order-updated.ts
  pnpm-lock.yaml
Owners: @saleor/apps-guild, @saleor/shopex-js

WIP: use-case
  apps/segment/.eslintrc.cjs
  apps/segment/package.json
  apps/segment/src/modules/create-segment-client-for-webhook-context.ts
  apps/segment/src/modules/track-event.use-case.ts
  apps/segment/src/modules/tracking-events/tracking-events.ts
  pnpm-lock.yaml
Owners: @saleor/shopex-js, @saleor/apps-guild

Add usecase to segment
  apps/segment/package.json
  apps/segment/src/modules/create-segment-client-for-webhook-context.ts
  apps/segment/src/modules/segment/segment.client.ts
  apps/segment/src/modules/track-event.use-case.ts
  apps/segment/src/modules/tracking-events/segment-events-tracker.ts
  apps/segment/src/modules/tracking-events/tracking-events.ts
  apps/segment/src/pages/api/webhooks/order-cancelled.ts
  apps/segment/src/pages/api/webhooks/order-created.ts
  apps/segment/src/pages/api/webhooks/order-fully-paid.ts
  apps/segment/src/pages/api/webhooks/order-refunded.ts
  apps/segment/src/pages/api/webhooks/order-updated.ts
  pnpm-lock.yaml
Owners: @saleor/shopex-js, @saleor/apps-guild

move files around
  apps/segment/src/modules/segment/segment-event-tracker-factory.ts
  apps/segment/src/modules/tracking-events/track-event.use-case.ts
  apps/segment/src/pages/api/webhooks/order-cancelled.ts
  apps/segment/src/pages/api/webhooks/order-created.ts
  apps/segment/src/pages/api/webhooks/order-fully-paid.ts
  apps/segment/src/pages/api/webhooks/order-refunded.ts
  apps/segment/src/pages/api/webhooks/order-updated.ts
Owners: @saleor/shopex-js

Add unit tests
  apps/segment/.eslintrc.cjs
  apps/segment/package.json
  apps/segment/src/modules/segment/segment-event-tracker-factory.ts
  apps/segment/src/modules/segment/segment-events-tracker.ts
  apps/segment/src/modules/segment/segment.client.ts
  apps/segment/src/modules/tracking-events/__tests__/mocks.ts
  apps/segment/src/modules/tracking-events/segment-events-tracker.ts
  apps/segment/src/modules/tracking-events/track-event.use-case.test.ts
  apps/segment/src/modules/tracking-events/track-event.use-case.ts
  apps/segment/src/modules/tracking-events/tracking-events.test.ts
  apps/segment/src/modules/tracking-events/tracking-events.ts
  pnpm-lock.yaml
Owners: @saleor/shopex-js, @saleor/apps-guild

Add changeset
  .changeset/loud-trains-glow.md
Owners: @saleor/apps-guild

Refactor auth data
  apps/segment/src/modules/configuration/app-config-metadata-manager.ts
  apps/segment/src/modules/segment/segment-event-tracker-factory.test.ts
  apps/segment/src/modules/segment/segment-event-tracker-factory.ts
  apps/segment/src/modules/tracking-events/track-event.use-case.test.ts
  apps/segment/src/modules/tracking-events/track-event.use-case.ts
  apps/segment/src/pages/api/webhooks/order-cancelled.ts
  apps/segment/src/pages/api/webhooks/order-created.ts
  apps/segment/src/pages/api/webhooks/order-fully-paid.ts
  apps/segment/src/pages/api/webhooks/order-refunded.ts
  apps/segment/src/pages/api/webhooks/order-updated.ts
Owners: @saleor/shopex-js

fix sherif lint issues
  apps/segment/package.json
  pnpm-lock.yaml
Owners: @saleor/shopex-js, @saleor/apps-guild

Fix lint errors
  apps/segment/src/pages/api/webhooks/order-cancelled.ts
  apps/segment/src/pages/api/webhooks/order-created.ts
  apps/segment/src/pages/api/webhooks/order-fully-paid.ts
  apps/segment/src/pages/api/webhooks/order-refunded.ts
  apps/segment/src/pages/api/webhooks/order-updated.ts
Owners: @saleor/shopex-js

Add use-case to Segment app (#1677)
  .changeset/loud-trains-glow.md
  apps/segment/.eslintrc.cjs
  apps/segment/package.json
  apps/segment/src/modules/configuration/app-config-metadata-manager.ts
  apps/segment/src/modules/create-segment-client-for-webhook-context.ts
  apps/segment/src/modules/segment/segment-event-tracker-factory.test.ts
  apps/segment/src/modules/segment/segment-event-tracker-factory.ts
  apps/segment/src/modules/segment/segment-events-tracker.ts
  apps/segment/src/modules/segment/segment.client.ts
  apps/segment/src/modules/tracking-events/__tests__/mocks.ts
  apps/segment/src/modules/tracking-events/segment-events-tracker.ts
  apps/segment/src/modules/tracking-events/track-event.use-case.test.ts
  apps/segment/src/modules/tracking-events/track-event.use-case.ts
  apps/segment/src/modules/tracking-events/tracking-events.test.ts
  apps/segment/src/modules/tracking-events/tracking-events.ts
  apps/segment/src/pages/api/webhooks/order-cancelled.ts
  apps/segment/src/pages/api/webhooks/order-created.ts
  apps/segment/src/pages/api/webhooks/order-fully-paid.ts
  apps/segment/src/pages/api/webhooks/order-refunded.ts
  apps/segment/src/pages/api/webhooks/order-updated.ts
  pnpm-lock.yaml
Owners: @saleor/apps-guild, @saleor/shopex-js

add webhook activity service
  apps/segment/generated/graphql.ts
  apps/segment/graphql/mutations/enable-webhook.graphql
  apps/segment/graphql/mutations/update-app-metadata.graphql
  apps/segment/graphql/queries/fetch-app-webhooks.graphql
  apps/segment/scripts/run-webhooks-migration.ts
  apps/segment/src/modules/webhooks/definitions/order-cancelled.ts
  apps/segment/src/modules/webhooks/definitions/order-created.ts
  apps/segment/src/modules/webhooks/definitions/order-fully-paid.ts
  apps/segment/src/modules/webhooks/definitions/order-refunded.ts
  apps/segment/src/modules/webhooks/definitions/order-updated.ts
  apps/segment/src/modules/webhooks/webhook-activity/webhook-activity-client.ts
  apps/segment/src/modules/webhooks/webhook-activity/webhook-activity-service.ts
  apps/segment/src/pages/api/manifest.ts
Owners: @saleor/shopex-js

add tests
  apps/segment/src/modules/webhooks/webhook-activity/webhook-activity-service.test.ts
  apps/segment/src/modules/webhooks/webhook-activity/webhook-activity-service.ts
Owners: @saleor/shopex-js

Use service in router
  apps/segment/src/modules/configuration/configuration.router.ts
Owners: @saleor/shopex-js

Add UI & changeset
  .changeset/sharp-mirrors-talk.md
  apps/segment/generated/graphql.ts
  apps/segment/graphql/queries/fetch-app-webhooks.graphql
  apps/segment/src/modules/configuration/configuration.router.ts
  apps/segment/src/modules/configuration/segment-config-form/segment-config-form.tsx
  apps/segment/src/modules/configuration/webhooks-status/webhooks-status.tsx
  apps/segment/src/modules/webhooks/webhook-activity/webhook-activity-client.ts
  apps/segment/src/modules/webhooks/webhook-activity/webhook-activity-service.test.ts
  apps/segment/src/modules/webhooks/webhook-activity/webhook-activity-service.ts
  apps/segment/src/pages/configuration.tsx
Owners: @saleor/apps-guild, @saleor/shopex-js

fixes after CR
  apps/segment/src/modules/configuration/webhooks-status/webhooks-status.tsx
  apps/segment/src/modules/webhooks/webhook-activity/webhook-activity-service.test.ts
Owners: @saleor/shopex-js

Initially disable Segment app webhooks (#1678)
  .changeset/sharp-mirrors-talk.md
  apps/segment/generated/graphql.ts
  apps/segment/graphql/mutations/enable-webhook.graphql
  apps/segment/graphql/mutations/update-app-metadata.graphql
  apps/segment/graphql/queries/fetch-app-webhooks.graphql
  apps/segment/scripts/run-webhooks-migration.ts
  apps/segment/src/modules/configuration/configuration.router.ts
  apps/segment/src/modules/configuration/segment-config-form/segment-config-form.tsx
  apps/segment/src/modules/configuration/webhooks-status/webhooks-status.tsx
  apps/segment/src/modules/webhooks/definitions/order-cancelled.ts
  apps/segment/src/modules/webhooks/definitions/order-created.ts
  apps/segment/src/modules/webhooks/definitions/order-fully-paid.ts
  apps/segment/src/modules/webhooks/definitions/order-refunded.ts
  apps/segment/src/modules/webhooks/definitions/order-updated.ts
  apps/segment/src/modules/webhooks/webhook-activity/webhook-activity-client.ts
  apps/segment/src/modules/webhooks/webhook-activity/webhook-activity-service.test.ts
  apps/segment/src/modules/webhooks/webhook-activity/webhook-activity-service.ts
  apps/segment/src/pages/api/manifest.ts
  apps/segment/src/pages/configuration.tsx
Owners: @saleor/apps-guild, @saleor/shopex-js

WIP: DynamoDB APL
  apps/segment/docker-compose.yaml
  apps/segment/package.json
  apps/segment/scripts/setup-dynamodb.sh
  apps/segment/src/env.ts
  apps/segment/src/lib/dynamodb/dynamodb-apl.ts
  apps/segment/src/lib/dynamodb/dynamodb-client.ts
  apps/segment/src/lib/dynamodb/segment-config-table.ts
  apps/segment/src/lib/dynamodb/segment-repository.ts
  apps/segment/src/logger.ts
  apps/segment/src/saleor-app.ts
  apps/segment/turbo.json
  pnpm-lock.yaml
Owners: @saleor/shopex-js, @saleor/apps-guild

fix(product-feed): variant used for thumbnail
  apps/products-feed/src/modules/google-feed/get-related-media.ts
Owners: @saleor/merchant-js

Improve Segment app logo
  apps/segment/public/logo.png
Owners: @saleor/shopex-js

change logo
  apps/segment/public/logo.png
Owners: @saleor/shopex-js

Add README to Segment app
  apps/segment/README.md
Owners: @saleor/shopex-js

fix tsc error
  apps/search/src/test/handlers/webhooks-status-handler.test.ts
Owners: @saleor/merchant-js

another tsc fix
  apps/avatax/src/modules/app/metadata-manager.test.ts
Owners: @saleor/shopex-js

Add README to Segment app (#1683)
  apps/segment/README.md
Owners: @saleor/shopex-js

Improve Segment app logo (#1682)
  apps/segment/public/logo.png
Owners: @saleor/shopex-js

wip
  apps/segment/src/lib/dynamodb/dynamodb-apl.ts
  apps/segment/src/lib/dynamodb/segment-apl-repository.ts
  apps/segment/src/lib/dynamodb/segment-config-repository.ts
  apps/segment/src/lib/dynamodb/segment-config-table.ts
  apps/segment/src/modules/configuration/configuration.router.ts
  apps/segment/src/modules/configuration/dynamodb-config-manager.ts
  apps/segment/src/modules/configuration/dynamodb-settings-manger.ts
  apps/segment/src/modules/segment/segment-event-tracker-factory.ts
  apps/segment/src/modules/tracking-events/track-event.use-case.ts
  apps/segment/src/pages/api/webhooks/order-cancelled.ts
  apps/segment/src/pages/api/webhooks/order-created.ts
  apps/segment/src/pages/api/webhooks/order-fully-paid.ts
  apps/segment/src/pages/api/webhooks/order-refunded.ts
  apps/segment/src/pages/api/webhooks/order-updated.ts
  packages/logger/src/logger-vercel-runtime-transport.ts
Owners: @saleor/shopex-js, @saleor/apps-guild

Add new Vercel log limit
  .changeset/chilly-doors-film.md
  packages/logger/src/logger-vercel-runtime-transport.ts
Owners: @saleor/apps-guild

Regenerate GraphQL files
  apps/cms-v2/generated/graphql.ts
  apps/klaviyo/generated/graphql.ts
  apps/products-feed/generated/graphql.ts
  apps/search/generated/graphql.ts
  apps/smtp/generated/graphql.ts
  packages/webhook-utils/generated/graphql.ts
Owners: @saleor/merchant-js, @saleor/apps-guild

Fix missing cache for test workflow
  .github/workflows/main.yml
Owners: @saleor/apps-guild

Remove leftovers
  apps/segment/src/logger.ts
  packages/logger/src/logger-vercel-runtime-transport.ts
Owners: @saleor/shopex-js, @saleor/apps-guild

Fix missing cache for test workflow (#1685)
  .github/workflows/main.yml
Owners: @saleor/apps-guild

Add new Vercel log limit (#1684)
  .changeset/chilly-doors-film.md
  packages/logger/src/logger-vercel-runtime-transport.ts
Owners: @saleor/apps-guild
